Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

chore: Update dependencies for cve (#6768)
  .release/security-scan.hcl
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: make gen
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/account_service_grpc.pb.go
  internal/gen/controller/api/services/alias_service_grpc.pb.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/gen/controller/api/services/authtokens_service_grpc.pb.go
  internal/gen/controller/api/services/billing_service_grpc.pb.go
  internal/gen/controller/api/services/credential_library_service_grpc.pb.go
  internal/gen/controller/api/services/credential_service_grpc.pb.go
  internal/gen/controller/api/services/credential_store_service_grpc.pb.go
  internal/gen/controller/api/services/group_service_grpc.pb.go
  internal/gen/controller/api/services/host_catalog_service_grpc.pb.go
  internal/gen/controller/api/services/host_service_grpc.pb.go
  internal/gen/controller/api/services/host_set_service_grpc.pb.go
  internal/gen/controller/api/services/managed_group_service_grpc.pb.go
  internal/gen/controller/api/services/policy_service_grpc.pb.go
  internal/gen/controller/api/services/role_service_grpc.pb.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/gen/controller/api/services/session_recording_service_grpc.pb.go
  internal/gen/controller/api/services/session_service_grpc.pb.go
  internal/gen/controller/api/services/storage_bucket_service_grpc.pb.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/gen/controller/api/services/user_service_grpc.pb.go
  internal/gen/controller/api/services/worker_service_grpc.pb.go
  internal/gen/controller/servers/services/server_coordination_service_grpc.pb.go
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/gen/controller/servers/services/upstream_message_service_grpc.pb.go
  internal/gen/ops/services/health_service_grpc.pb.go
  internal/gen/testing/attribute/attribute_grpc.pb.go
  internal/gen/testing/event/event_grpc.pb.go
  internal/gen/testing/interceptor/greeter_grpc.pb.go
  internal/gen/testing/protooptions/service_grpc.pb.go
  internal/gen/worker/servers/services/host_service_grpc.pb.go
  sdk/pbs/plugin/host_plugin_service_grpc.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core, core/gen

chore: Bump to go version 1.26.5
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

backport of commit b0b0c49675a00aa68d18c337dc9497944a3a8fa8
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: Bump to go version 1.26.5 (#6770)
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

backport of commit b0b0c49675a00aa68d18c337dc9497944a3a8fa8 (#6771)
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: Suppress CVE-2026-41989
  .release/security-scan.hcl
Labels: none

chore: Suppress CVE-2026-41989 (#6772)
  .release/security-scan.hcl
Labels: none

chore(tests): bump the postgres version used in CI (#6763)
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/db/schema/migrations/oss/postgres_46_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
  testing/dbtest/docker/Dockerfile.17-alpine
  testing/dbtest/docker/Dockerfile.18-alpine
  testing/dbtest/docker/Makefile
Labels: core, core/daemon, core/db

bump the postgress version used in CI and fix the tests that broke
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/db/schema/migrations/oss/postgres_46_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
  testing/dbtest/docker/Dockerfile.17-alpine
  testing/dbtest/docker/Dockerfile.18-alpine
  testing/dbtest/docker/Makefile
Labels: core, core/daemon, core/db

sort Grants by raw grant string rather than GrantStrings
  internal/daemon/controller/handlers/roles/role_service_test.go
Labels: core, core/daemon

api: advertise 204 instead of 200 for delete operations in OpenAPI spec
  internal/gen/controller.swagger.json
  internal/proto/controller/api/services/v1/account_service.proto
  internal/proto/controller/api/services/v1/alias_service.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/proto/controller/api/services/v1/authtokens_service.proto
  internal/proto/controller/api/services/v1/credential_library_service.proto
  internal/proto/controller/api/services/v1/credential_service.proto
  internal/proto/controller/api/services/v1/credential_store_service.proto
  internal/proto/controller/api/services/v1/group_service.proto
  internal/proto/controller/api/services/v1/host_catalog_service.proto
  internal/proto/controller/api/services/v1/host_service.proto
  internal/proto/controller/api/services/v1/host_set_service.proto
  internal/proto/controller/api/services/v1/managed_group_service.proto
  internal/proto/controller/api/services/v1/policy_service.proto
  internal/proto/controller/api/services/v1/role_service.proto
  internal/proto/controller/api/services/v1/scope_service.proto
  internal/proto/controller/api/services/v1/session_recording_service.proto
  internal/proto/controller/api/services/v1/storage_bucket_service.proto
  internal/proto/controller/api/services/v1/target_service.proto
  internal/proto/controller/api/services/v1/user_service.proto
  internal/proto/controller/api/services/v1/worker_service.proto
  scripts/fix_delete_responses.py
Labels: core, core/gen, core/proto

api/proxy: preserve active connections after auth failure
  CHANGELOG.md
  api/proxy/proxy.go
  api/proxy/proxy_test.go
  api/proxy/websocket.go
Labels: api

feat(proto) Update Plugin SDK for Cross Account Discovery
  internal/proto/plugin/v1/host_plugin_service.proto
  sdk/pbs/plugin/host_plugin_service.pb.go
Labels: core, core/proto

feat(proto) Update Plugin SDK for Cross Account Discovery (#6779)
  internal/proto/plugin/v1/host_plugin_service.proto
  sdk/pbs/plugin/host_plugin_service.pb.go
Labels: core, core/proto

fix(boundary): guard cancel on unable to authorize connection
  api/proxy/proxy.go
Labels: api

Backport of chore(tests): bump the postgres version used in CI into release/0.21.x (#6776)
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/db/schema/migrations/oss/postgres_46_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
  testing/dbtest/docker/Dockerfile.17-alpine
  testing/dbtest/docker/Dockerfile.18-alpine
  testing/dbtest/docker/Makefile
Labels: core, core/daemon, core/db

feat(db): Add Provider Type to OIDC Auth Method
  internal/db/schema/migrations/oss/postgres/112/01_auth_oidc_provider_type.up.sql
  internal/db/schema/migrations/oss/postgres/79/01_auth_oidc_prompt.up.sql
  internal/db/sqltest/tests/auth/oidc/provider_type.sql
Labels: core, core/db, core/sql

feat(proto): Add ProviderType Field to OIDC Storage Protos
  internal/auth/oidc/store/oidc.pb.go
  internal/proto/controller/storage/auth/oidc/store/v1/oidc.proto
Labels: core, core/auth, core/proto

feat(proto): Add ProviderType Field to OIDC API Protos
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: api, api/authmethods, core, core/proto

chore: udpate grpc
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

bump crypto
  go.mod
  go.sum
Labels: none

bump all crypto
  api/go.mod
  api/go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: core, core/proto

chore
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

chore
  internal/bsr/gen/ssh/v1/ssh_chunks.pb.go
  internal/bsr/proto/ssh/v1/ssh_chunks.proto
  internal/credential/vault/store/vault.pb.go
Labels: core

chore
  internal/bsr/gen/ssh/v1/ssh_chunks.pb.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

Revise README for Boundary CE archiving
  README.md
Labels: none

Add archiving date to README for Boundary CE
  README.md
Labels: none

Revise README for Boundary CE archiving (#6788)
  README.md
Labels: none
