Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

add exit early and increase server start timeout
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
Labels: core

tighten workerRPC settings on session tests
  internal/tests/cluster/sequential/session_cleanup_test.go
Labels: core

tighten more workerRPC timing
  internal/tests/cluster/parallel/ipv6_listener_test.go
  internal/tests/cluster/parallel/multi_controller_worker_test.go
  internal/tests/cluster/parallel/orphaned_connections_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/tests/cluster/sequential/session_cleanup_test.go
  internal/tests/cluster/sequential/worker_bytesupdown_test.go
  internal/tests/cluster/sequential/worker_proxy_test.go
  internal/tests/cluster/sequential/worker_tagging_test.go
Labels: core

make gen
  internal/credential/vault/repository_test.go
Labels: core

add comment explaining deep copying lastRoutingInfoSuccess
  internal/daemon/worker/routing_info.go
Labels: core, core/daemon

shorten sleep time to make tests run faster
  internal/credential/vault/jobs_test.go
Labels: core

chore(test) fix flaky tests (#6315)
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
  internal/credential/vault/repository_test.go
  internal/daemon/worker/routing_info.go
  internal/tests/cluster/parallel/ipv6_listener_test.go
  internal/tests/cluster/parallel/multi_controller_worker_test.go
  internal/tests/cluster/parallel/orphaned_connections_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/tests/cluster/sequential/session_cleanup_test.go
  internal/tests/cluster/sequential/worker_bytesupdown_test.go
  internal/tests/cluster/sequential/worker_proxy_test.go
  internal/tests/cluster/sequential/worker_tagging_test.go
Labels: core, core/daemon

add background context to cleanup funcs that didnt have
  testing/internal/e2e/tests/base/search_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_http_test.go
  testing/internal/e2e/tests/base_plus/key_destruction_test.go
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/paginate_credential_library_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
  testing/internal/e2e/tests/database/migration_test.go
  testing/internal/e2e/tests/gcp/dynamichostcatalog_host_set_test.go
Labels: none

more background context edits
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
Labels: none

App Token recursive query improvements (#6291)
  internal/apptoken/query.go
Labels: core, core/sql

more clean up edits with context.Background()
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/role_multi_scope_grants_test.go
  testing/internal/e2e/tests/base/scope_permissions_test.go
  testing/internal/e2e/tests/base/session_cancel_group_test.go
  testing/internal/e2e/tests/base/session_cancel_user_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_set_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_test.go
  testing/internal/e2e/tests/base/session_end_delete_project_test.go
  testing/internal/e2e/tests/base/session_end_delete_target_test.go
  testing/internal/e2e/tests/base/session_end_delete_user_test.go
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
Labels: none

add options test
  internal/apptoken/options_test.go
  internal/apptoken/testing.go
Labels: core

add options test
  internal/apptoken/options_test.go
  internal/apptoken/testing.go
Labels: core

add options test
  internal/apptoken/options_test.go
  internal/apptoken/testing.go
Labels: core

clean up funcs, context.Background()
  testing/internal/e2e/tests/base_plus/key_destruction_test.go
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
Labels: none

update context.with funcs
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
  testing/internal/e2e/tests/base/session_cancel_admin_test.go
  testing/internal/e2e/tests/base/session_cancel_group_test.go
  testing/internal/e2e/tests/base/session_cancel_user_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_set_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_test.go
  testing/internal/e2e/tests/base/session_end_delete_project_test.go
  testing/internal/e2e/tests/base/session_end_delete_target_test.go
  testing/internal/e2e/tests/base/session_end_delete_user_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_connection_limits_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_exec_long_lasting_script_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_go_ssh_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_localhost_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_scp_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_session_max_seconds_test.go
  testing/internal/e2e/tests/base_plus/key_destruction_test.go
Labels: none

address PR comments
  internal/db/schema/migrations/oss/postgres/101/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_app_token_global.up.sql
  internal/db/sqltest/tests/apptoken/apptoken_global.sql
Labels: core, core/db, core/sql

remove create_time from permission tables and associated triggers, update subsequent tests
  internal/db/schema/migrations/oss/postgres/101/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/101/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/101/04_app_token_project.up.sql
  internal/db/sqltest/tests/apptoken/apptoken_global.sql
  internal/db/sqltest/tests/apptoken/apptoken_org.sql
  internal/db/sqltest/tests/apptoken/apptoken_project.sql
Labels: core, core/db, core/sql

cr
  testing/internal/e2e/tests/base/auth_token_delete_test.go
Labels: none

App Token recursive query improvements (#6291)
  internal/apptoken/query.go
Labels: core, core/sql

feat(appToken): Implement List
  globals/prefixes.go
  internal/apptoken/apptoken.go
  internal/apptoken/service_list.go
  internal/perms/acl_test.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
Labels: core, core/perms, core/types

feat(appToken): Implement listAppTokens
  Makefile
  globals/prefixes.go
  internal/apptoken/apptoken.go
  internal/apptoken/gorm.go
  internal/apptoken/options.go
  internal/apptoken/options_test.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/store/apptoken.pb.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/apptokens/apptoken_service.go
  internal/db/schema/migrations/oss/postgres/101/05_app_token_view.up.sql
  internal/perms/acl_test.go
  internal/proto/controller/storage/apptoken/store/v1/apptoken.proto
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
Labels: core, core/daemon, core/db, core/perms, core/proto, core/sql, core/types

feat(query): Create query for global-scoped requests of global app token grants
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for org-scoped requests of global app token grants
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for project-scoped requests of global app token grants
  internal/apptoken/query.go
Labels: core, core/sql

register and add options
  internal/apptoken/options.go
  internal/apptoken/options_test.go
  internal/apptoken/repository.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/apptokens/apptoken_service.go
Labels: core, core/daemon

add cipher test
  internal/db/sqltest/tests/apptoken/apptoken_project.sql
Labels: core, core/db, core/sql

Add sql schema and pgtap tests (#6269)
  internal/db/schema/migrations/oss/postgres/101/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/101/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/101/04_app_token_project.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/apptoken/apptoken_global.sql
  internal/db/sqltest/tests/apptoken/apptoken_org.sql
  internal/db/sqltest/tests/apptoken/apptoken_project.sql
Labels: core, core/db, core/sql

Squash: merge app-token-prototype into mikemountain-sql-schema-and-pgtap-tests
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

add pgtap tests and fkeys
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

rebase fix
  internal/apptoken/query.go
Labels: core, core/sql

rebase fix
  internal/apptoken/query.go
Labels: core, core/sql

chore(apptoken): Remove create-time for app_token_permission from queries
  internal/apptoken/query.go
Labels: core, core/sql

fix(query): Remove old field 'create_time' from queries
  internal/apptoken/query.go
Labels: core, core/sql

backport of commit b7bcf67879e22cbc353cc83b3375dec871e1ae41
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: none

backport of commit b7bcf67879e22cbc353cc83b3375dec871e1ae41
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: none

chore(e2e): Add container name to openssh-server module output
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: none

chore(e2e): Add container name to openssh-server module output (#6321)
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: none

chore(query): It's unnecessary to group by non-PK fields
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create queries for non-recursive requests of global app token grants (#6318)
  internal/apptoken/query.go
Labels: core, core/sql
