Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Adding bats test
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
Labels: core

config: remove unused telemetry stanza
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
  internal/cmd/config/config.go
Labels: core

docs: Add `key_id` field to KMS docs
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/configuration

backport of commit 204d8ec011347a89a14cf6b2c28a0f554b327f48
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/configuration

backport of commit 204d8ec011347a89a14cf6b2c28a0f554b327f48
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/configuration

feat(db): Add db migration for vault support in password credential
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement repository for vault password credential
  globals/credentials.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

vault api handler + tests. tests failing until vault db migrations are in
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
Labels: core, core/daemon

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

chore(proxy): Reduce noisy error logs (#6136)
  internal/daemon/worker/handler.go
Labels: core, core/daemon

added dependencies for automation
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

chore(errors): Add early disconnection error (#6126) (#6135)
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

chore: Update version
  internal/gen/controller.swagger.json
Labels: core, core/gen

feat(credential/vault): Implement repository for vault password credential
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

chore(proxy): Reduce noisy error logs (#6136)
  internal/daemon/worker/handler.go
Labels: core, core/daemon

CR
  enos/enos.vars.hcl
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

docs: Main install topics
  website/redirects.js
Labels: website

backport of commit 148721a3c7c3f28e7dd8bc1cd2651a6b5501ea3d
  website/redirects.js
Labels: website

backport of commit aa39cfdad7136688318f152ef5cee00f8561166e
  website/redirects.js
Labels: website

backport of commit aa39cfdad7136688318f152ef5cee00f8561166e
  website/redirects.js
Labels: website

docs: Integrations and operations
  website/redirects.js
Labels: website

chore: Update version (#6141)
  internal/gen/controller.swagger.json
Labels: core, core/gen

cr
  enos/modules/aws_windows_client/variables.tf
Labels: none

backport of commit a3dadd8c9dd5db1d23b8f65fcd0d73096f236397
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

docs: Add missing closed parenthesis
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

backport of commit a3dadd8c9dd5db1d23b8f65fcd0d73096f236397
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

config: remove unused telemetry stanza (#6137)
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
  internal/cmd/config/config.go
Labels: core

override build scr for automation
  scripts/build-ui.sh
Labels: none

docs: Add missing closed parenthesis (#6143)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

added override to enos
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
Labels: none

added override var
  enos/enos-scenario-e2e-ui-docker.hcl
Labels: none

remove quote
  enos/enos-variables.hcl
Labels: none

docs: Add `key_id` field to KMS docs (#6138)
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/configuration

added quote
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
Labels: none

Added syntax
  scripts/build-ui.sh
Labels: none

fix build script
  scripts/build-ui.sh
Labels: none

backport of commit a3dadd8c9dd5db1d23b8f65fcd0d73096f236397 (#6147)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

backport of commit 204d8ec011347a89a14cf6b2c28a0f554b327f48 (#6149)
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/configuration

backport of commit 82ae200103ca545d1b75a9e08c7da7fc0d418f39
  .release/ci.hcl
Labels: none

backport of commit 82ae200103ca545d1b75a9e08c7da7fc0d418f39
  .release/ci.hcl
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
