Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

chore: replace docker with moby and update opentelemetry
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  testing/internal/e2e/tests/base_plus/authenticate_no_keyring_test.go
Labels: none

chore: replace docker with moby and update opentelemetry
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  testing/internal/e2e/tests/base_plus/authenticate_no_keyring_test.go
Labels: none

chore: replace docker with moby and update opentelemetry
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  testing/internal/e2e/tests/base_plus/authenticate_no_keyring_test.go
Labels: none

chore(e2e): Update vault installation
  enos/modules/test_e2e_docker/test.sh
Labels: none

chore(e2e): Update vault installation
  enos/modules/test_e2e_docker/test.sh
Labels: none

chore(e2e): Update vault installation
  enos/modules/test_e2e_docker/test.sh
Labels: none

chore(e2e): Add steps to wait for worker registration
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
Labels: none

chore(e2e): Update vault installation (#6730)
  enos/modules/test_e2e_docker/test.sh
Labels: none

chore(e2e): Update vault installation (#6731)
  enos/modules/test_e2e_docker/test.sh
Labels: none

chore(e2e): Update vault installation (#6732)
  enos/modules/test_e2e_docker/test.sh
Labels: none

Update actions/checkout to v6.0.2 for Node 24 compatibility
  .github/workflows/build.yml
Labels: none

feat(perms): expose valid output fields per resource in grants schema (#6701)
  internal/perms/grants_schema.go
Labels: core, core/perms

backport of commit 6cbb6ff36fb1f19465f8740e8f26d3a5ff820bdd
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Make e2e test artifacts zip files
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Make e2e test artifacts zip files (#6737)
  .github/workflows/enos-run.yml
Labels: none

backport of commit 6cbb6ff36fb1f19465f8740e8f26d3a5ff820bdd (#6738)
  .github/workflows/enos-run.yml
Labels: none

test(e2e): Fix cassandra e2e test (#2548)
  .github/workflows/enos-run.yml
  testing/internal/e2e/tests/base_plus/target_tcp_connect_cassandra_test.go
Labels: none

test(e2e): Fix cassandra e2e test (#2548) (#6739)
  .github/workflows/enos-run.yml
  testing/internal/e2e/tests/base_plus/target_tcp_connect_cassandra_test.go
Labels: none

test(e2e): Fix cassandra e2e test (#2548) (#6739)
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

fix(e2e): Modify ldap cleanup step
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
Labels: none

chore(e2e): Parallelize dependency download
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Ensure ldap is ready
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/modules/docker_ldap/main.tf
Labels: none

chore: Remove merge-to-downstream
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

backport of commit 02440841ebec1dd4b7915be85c8a78fa2147c6cb
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

backport of commit 02440841ebec1dd4b7915be85c8a78fa2147c6cb
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

backport of commit 02440841ebec1dd4b7915be85c8a78fa2147c6cb
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

test(e2e): Fix cassandra e2e test (#2548) (#6739) (#6740)
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

chore(e2e): Ensure ldap is ready (#6736)
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/modules/docker_ldap/main.tf
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
Labels: none

chore(e2e): Ensure ldap is ready (#6736)
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/modules/docker_ldap/main.tf
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
Labels: none

chore(e2e): Ensure ldap is ready (#6736) (#6742)
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/modules/docker_ldap/main.tf
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
Labels: none

chore: Remove merge-to-downstream (#6741)
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

backport of commit 02440841ebec1dd4b7915be85c8a78fa2147c6cb (#6744)
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

backport of commit 02440841ebec1dd4b7915be85c8a78fa2147c6cb (#6745)
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

backport of commit 02440841ebec1dd4b7915be85c8a78fa2147c6cb (#6746)
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: none

Fix ICU-17791: Correct help text for hyphenated resources
  internal/cmd/common/help.go
Labels: core

docs: add FK constraint formatting rules
  sql-style-guide.md
Labels: none

backport of commit ce81832486c91376b82432859c3aac0809c0c7b5
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: Bump to go version 1.26.4
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

backport of commit c5a80705a8a4bdd011d629d25b49942c6805b318
  Makefile
Labels: none

chore: Bump golangci-lint version
  Makefile
Labels: none
