Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Add Client Agent commands to CLI docs (#5826)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Add Client Agent commands to CLI docs (#5826) (#5834)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Add Client Agent commands to CLI docs (#5826) (#5833)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

add authorized actions tests for resources with sub-resources
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

Drop unneeded iam_role_grant_scope table and unneeded name, description, and version columns from iam_role
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
Labels: core, core/db, core/sql

Include missed oss file
  internal/db/schema/migrations/oss/oss.go
Labels: core, core/db

Add Comment To Old Constraints
  internal/db/schema/migrations/oss/postgres/85/02_alias_domain.up.sql
Labels: core, core/db, core/sql

make gen
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

add authorized actions tests for resources with sub-resources (#5835)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

Apply suggestions from code review
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db, core/sql

feat: grants: add resource type parameters to GrantsForUser (#5750)
  internal/auth/additional_verification_test.go
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/auth_test.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/interceptor_test.go
  internal/iam/options.go
  internal/iam/options_test.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/auth, core/daemon, core/iam

fix tests to match role creation that does not bump version
  internal/tests/api/roles/role_test.go
Labels: core

Validate reqScopeId for grantsForUserRecursive()
  internal/iam/repository_role_grant.go
Labels: core, core/iam

remove test which looks for account in an authmethod in project scope which is an invalid config
  internal/daemon/controller/handlers/accounts/grants_test.go
Labels: core, core/daemon

move Scope resource to be AllowedIn all scope types
  internal/iam/repository_role_grant.go
  internal/types/scope/scope.go
Labels: core, core/iam, core/types

add special handling in grantsForUser for scope resource
  internal/iam/repository_role_grant.go
Labels: core, core/iam

fix tests and bugs where global grants don't get resolved
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

fix TestLdapManagedGroupRoleGrants to use scope appropriate resource for the test
  internal/auth/ldap/managed_group_role_grants_test.go
Labels: core, core/auth

correct default scope role name
  internal/iam/repository_scope.go
Labels: core, core/iam

handle converting role scope ID to this in grant scope API
  internal/daemon/controller/handlers/roles/role_service.go
Labels: core, core/daemon

remove unnecessary grants from grantsForUserProjectResourcesOrgScopeRecursiveQuery
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam, core/sql

order list result by create time instead of update time
  internal/iam/query.go
Labels: core, core/iam, core/sql

fix role service tests
  internal/daemon/controller/handlers/roles/role_service_test.go
Labels: core, core/daemon

add missing err check
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

creating alias in invalid scope now returns permissions denied instead of internal
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon

Remove last recursive function in favor of grantsForUserRecursive()
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

handle this and role scope ID in test
  internal/iam/testing.go
Labels: core, core/iam

make replace old GrantsForUser with new queries
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Update tests based on recursive grantsForUser changes
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

rename parameter to TestManagedGroupMember
  internal/auth/oidc/testing.go
Labels: core, core/auth

return full grants for any recursive call
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

fix TestFetchActionSetForId and split org/proj test cases
  internal/auth/additional_verification_test.go
Labels: core, core/auth

Update unneccessaryRoles in recursive global/org test case based on changes to recursive query
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

Skip default role creation to avoid returning default role in test
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

allow multiple resouce types when calling auth.Verify down to GrantsForUsers
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/auth, core/daemon, core/iam

Update wantErrMsg to accommodate multiple resource types
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

use append instead of ranging over slice
  internal/daemon/controller/auth/auth.go
Labels: core, core/daemon

Add new entries to TestGrantsForUser test results based on recursive query changes
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

minor fix to tests
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/types/scope/scope_test.go
Labels: core, core/daemon, core/types

Support previous grants use-cases (#5823)
  internal/auth/additional_verification_test.go
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/auth/oidc/testing.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_scope.go
  internal/iam/testing.go
  internal/tests/api/roles/role_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
Labels: core, core/auth, core/daemon, core/iam, core/sql, core/types
