Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Clean up migrated tables (#5837)
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db, core/sql

Migrate ui-related scripts to use pnpm instead of yarn (#5815)
  enos/modules/build_local/templates/build.sh
  enos/modules/test_e2e_ui/main.tf
  scripts/build-ui.sh
Labels: none

backport of commit d62e14cd529d41100a45c3e78104e4e3b62d986a
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Release notes
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit d62e14cd529d41100a45c3e78104e4e3b62d986a
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Edits
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 3bbbcfd3771dbf3931ddaaef7417fa0c4db66196
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 3bbbcfd3771dbf3931ddaaef7417fa0c4db66196
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 3f28758b22858bf78e90a9136cf12642595ecf46
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Edits
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Typo
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 6fa91dbd349e101b8d775b301f8f698d65fb2653
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Typo
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit a488ef809d8e70e257a0064fa1edc8fe0d810f09
  website/content/docs/api-clients/client-agent.mdx
Labels: website

docs: Fix a typo in Client Agent docs
  website/content/docs/api-clients/client-agent.mdx
Labels: website

backport of commit a488ef809d8e70e257a0064fa1edc8fe0d810f09
  website/content/docs/api-clients/client-agent.mdx
Labels: website

test: add grants tests for auth tokens resource (#5644)
  internal/daemon/controller/handlers/authtokens/grants_test.go
Labels: core, core/daemon

test(hostsets): add grants tests (#5591)
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/host/static/testing.go
Labels: core, core/daemon, core/host

bosorawis remove TestRoleGrantsForToken (#5840)
  internal/auth/ldap/testing.go
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/auth, core/daemon

test(grants): GrantsForUsers tests for Group resource (#5443)
  internal/iam/options.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

test: add grants tests for host_catalogs (#5573)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

test: add grants tests for managed groups resource (#5642)
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/iam/testing.go
Labels: core, core/daemon, core/iam

test(groups): add grants tests for groups API (#5403)
  internal/auth/db_test.go
  internal/auth/ldap/testing.go
  internal/auth/oidc/testing.go
  internal/auth/password/testing.go
  internal/auth/testing.go
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/authtokens/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/credentials/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/groups/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/testing.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/iam/testing.go
Labels: core, core/auth, core/daemon, core/iam

Create function to define valid set of scopes for each resource (#5558)
  internal/iam/account.go
  internal/iam/group.go
  internal/iam/resource.go
  internal/iam/role.go
  internal/iam/user.go
  internal/perms/acl.go
  internal/perms/grants.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
  internal/website/permstable/permstable.go
Labels: core, core/iam, core/perms, core/types

feat: add grants tests for alias (#5550)
  internal/daemon/controller/handlers/aliases/grants_test.go
Labels: core, core/daemon

test(credentials): Add grants tests (#5608)
  internal/daemon/controller/handlers/credentials/grants_test.go
Labels: core, core/daemon

Add grants tests for accounts (#5566)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/perms/grants.go
Labels: core, core/daemon, core/perms

test: credentials store grants (#5592)
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
Labels: core, core/daemon

feat: add grants tests for billing resource (#5559)
  internal/daemon/controller/handlers/billing/grants_test.go
Labels: core, core/daemon

Add grants tests for authmethods (#5569)
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

add authorized actions tests for resources with sub-resources (#5835)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

add grants tests for sessions
  internal/daemon/controller/handlers/sessions/grants_test.go
Labels: core, core/daemon

fix missing parentScopeId
  internal/daemon/controller/handlers/sessions/session_service.go
Labels: core, core/daemon

docs: Fix a typo in Client Agent docs (#5853)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

backport of commit a488ef809d8e70e257a0064fa1edc8fe0d810f09 (#5857)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

docs: Add deprecation badges
  website/content/docs/commands/scopes/create.mdx
Labels: website

backport of commit 19658e67da71e84aa90ad22a32a916cc46d42b83
  website/content/docs/commands/scopes/create.mdx
Labels: website

docs: Fix link to deprecated commands
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

Ensure table drop also cascades changes to cross-table dependencies
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
Labels: core, core/db, core/sql

fix broken pgtap from removing iam-role-grant-scope table
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/initdb.d/04_foodtruck_persona.sql
  internal/db/sqltest/tests/iam/grant_scope_validation.sql
Labels: core, core/db, core/sql
