Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore(e2e): Remove ssh key pair variable requirement
  enos/ci/hcp-resources/main.tf
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.hcl
  enos/enos.vars.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_ssh_keypair/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/variables.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/variables.tf
  enos/modules/ssh_keypair/main.tf
  enos/modules/test_e2e/main.tf
Labels: none

CR
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_ssh_keypair/main.tf
  enos/modules/ssh_keypair/main.tf
  enos/modules/test_e2e/main.tf
Labels: none

cr
  .github/workflows/enos-run.yml
Labels: none

cr
  .github/workflows/enos-run.yml
Labels: none

cr
  .github/workflows/enos-run.yml
Labels: none

cr
  .github/workflows/enos-run.yml
Labels: none

reviwed changes added
  internal/ratelimit/config.go
  internal/ratelimit/config_test.go
Labels: core

backport of commit b7c6fe78ee204636d703072f4c3f398168988286
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

backport of commit b7c6fe78ee204636d703072f4c3f398168988286
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

test(e2e): Use vault version from variable
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

test(e2e): Use vault version from variable (#6589)
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

backport of commit b7c6fe78ee204636d703072f4c3f398168988286 (#6590)
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

some more
  internal/daemon/controller/handlers/authmethods/authmethod_test.go
  testing/dbtest/session_list_benchmarks_dump_generation_test.go
Labels: core, core/daemon

chore(e2e): Remove aws_ssh_keypair requirement (#6583)
  enos/ci/hcp-resources/main.tf
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.hcl
  enos/enos.vars.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_ssh_keypair/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/variables.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/variables.tf
  enos/modules/ssh_keypair/main.tf
  enos/modules/test_e2e/main.tf
Labels: none

fix(controller): Allow wildcard resources with specific actions in rate limit config (#6550)
  internal/daemon/controller/rate_limiter_test.go
  internal/ratelimit/config.go
  internal/ratelimit/config_test.go
Labels: core, core/daemon

fix(nodeenrollment): Update nodeenrollment dependency to newer version for preventing blocking calls during tls handshakes
  go.mod
  go.sum
Labels: none

fix(nodeenrollment): Update nodeenrollment dependency to newer version for preventing blocking calls during tls handshakes (#6594)
  go.mod
  go.sum
Labels: none

fix(nodeenrollment): Update nodeenrollment dependency to newer version for preventing blocking calls during tls handshakes
  go.mod
  go.sum
Labels: none

fix(nodeenrollment): Update nodeenrollment dependency to newer version for preventing blocking calls during tls handshakes
  go.mod
  go.sum
Labels: none

backport of commit 70a692756d2af202fd7f7810ce42503233a79de6
  go.mod
  go.sum
Labels: none

test(e2e): Use vault version from variable (#6589)
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

backport of commit b7c6fe78ee204636d703072f4c3f398168988286 (#6600)
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

test(e2e): Use vault version from variable (#6589) (#6599)
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

chore(e2e): Fix worker version e2e-docker-base-with-worker-version to account for 1.0 release (#6588)
  .github/workflows/enos-run.yml
Labels: none

feat(listener): Set node tls handshake timeout to 15 seconds
  internal/daemon/controller/listeners.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

backport of commit 09962d05211025342d904bef8ab267401463fb00
  internal/daemon/controller/listeners.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

Adding nonce handling
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handler_ui.go
Labels: core, core/daemon

Nonce token and fix content length mismatch
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_ui.go
Labels: core, core/daemon

Updating nonce injection for override situations
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_ui.go
Labels: core, core/daemon

feat(listener): Set node tls handshake timeout to 15 seconds
  internal/daemon/controller/listeners.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

feat(listener): Set node tls handshake timeout to 15 seconds
  internal/daemon/controller/listeners.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

chore(e2e): No more required enos variables
  .github/workflows/enos-run.yml
  enos/README.md
  enos/ci/hcp-resources/variables.tf
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/binary_finder/main.tf
  enos/modules/generate_docker_image_name/main.tf
  enos/modules/get_binary_path/main.tf
  enos/modules/get_boundary_edition/main.tf
  enos/modules/get_repo_root/main.tf
  enos/modules/read_license/main.tf
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_ui/main.tf
Labels: none

backport of commit 51c66b12f13e56a9914a8f427da0de80277ee949
  .github/workflows/build.yml
Labels: none

backport of commit 51c66b12f13e56a9914a8f427da0de80277ee949
  .github/workflows/build.yml
Labels: none

chore: Remove use of hashicorppreview
  .github/workflows/build.yml
Labels: none

backport of commit bf34d2c80c6c3d28428778d76e3e7f7ec4a42048
  go.mod
  go.sum
Labels: none

Resolve GO-2026-4772 vulnerability report
  go.mod
  go.sum
Labels: none

CR
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_boundary/variables.tf
Labels: none

Resolve vulnerabilities in `jackc/pgx/v5` (#6607)
  go.mod
  go.sum
Labels: none

backport of commit bf34d2c80c6c3d28428778d76e3e7f7ec4a42048 (#6608)
  go.mod
  go.sum
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
