Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Migrate roles and grants to new table structure (#5814)
  internal/db/schema/migrations/oss/internal/hook96005/hook.go
  internal/db/schema/migrations/oss/internal/hook96005/query.go
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_03_test.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

Refactor grantsForUserGlobalResourcesQuery: Use aggregate function array_agg to reduce rows returned from DB
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Use shorter var name
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Address PR feedback
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Refactor grantsForUserProjectResourcesQuery: Use aggregate function array_agg to reduce rows returned from DB
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Refactor grantsForUserOrgResourcesQuery: Use aggregate function array_agg to reduce rows returned from DB
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

added pprof tag and make command
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
Labels: core

updated tracing readme
  testing/TRACING.md
Labels: none

cr
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
Labels: core

refactor auth method grants tests
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

Finish PR feedback
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Remove unnecessary if-check
  internal/iam/repository_role_grant.go
Labels: core, core/iam

refactor credential libraries grants tests
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
Labels: core, core/daemon

refactor hosts grants tests
  internal/daemon/controller/handlers/hosts/grants_test.go
Labels: core, core/daemon

refactor roles grants tests
  internal/daemon/controller/handlers/roles/grants_test.go
Labels: core, core/daemon

refactor scopes grants tests
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

refactor tcp targets grants tests
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

refactor users grants tests
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

refactor worker grants tests
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

Match test name to function name
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Refactor grantsForUserRecursiveQuery: Use aggregate function array_agg to reduce rows returned from DB
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

fix authmethod test broken during the refactor
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

remove authtoken.TestRoleGrantsForToken
  internal/authtoken/testing.go
Labels: core

cr
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  testing/TRACING.md
Labels: core

Refactor GrantsForUser subqueries to use aggregate functions (#5822)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Add validation for nil resource type
  internal/iam/repository_role_grant.go
Labels: core, core/iam

add output fields tests for list
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

add tests for addworkertags readcertificateauthority reinitializecertificateauthority
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

finish all worker api tests
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/server/testing.go
Labels: core, core/daemon, core/server

Remove redundant recursive test
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Refactor GrantsForUser() to perform query resolution & data mapping
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Fix migration test row formatting
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

Postgres 15 -> 16 Migration Update (#5825)
  internal/db/schema/migrations/oss/postgres/85/02_alias_domain.up.sql
  internal/db/schema/migrations/oss/postgres/96/01_update_wt_alias_constraints.up.sql
Labels: core, core/db, core/sql

fix broken test
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

Add CreateDefaultRole and CreateAdminRole options
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/flags_test.go
  internal/cmd/commands/database/init.go
Labels: core

repo: add CreateDefaultRole and CreateAdminRole options
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/iam/options.go
Labels: core, core/daemon, core/iam

Use variable over hard-coded string
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

'global' scope should have no parent scope
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

fix broken test (#5842)
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

wip: Init List grant tests for Scope resource
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon
