Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

new changes updated
  internal/auth/password/options_test.go
Labels: core, core/auth

feat(query): Create query for recursive requests of project app token grants on Project resources
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for project-scoped requests of project app token grants
  internal/apptoken/query.go
Labels: core, core/sql

backport of commit f0dbd75e8eafef218f43b1b003e3376a82899e6b (#6288)
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none

clean up
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core

clean up
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core

clean up
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core

update changelog for 0.21.0
  CHANGELOG.md
Labels: none

Bump internal/ui/VERSION commit to 2766be2
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 35c149c33eecffde2d4e9da56821c761ee595fd8
  internal/ui/VERSION
Labels: core, core/ui

fix(query): Use 'descendants' for global->project relationship
  internal/apptoken/query.go
Labels: core, core/sql

fix(query): Add filter for null active_grant_scopes values
  internal/apptoken/query.go
Labels: core, core/sql

Bump internal/ui/VERSION commit to 2766be2 (#6290)
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 35c149c33eecffde2d4e9da56821c761ee595fd8 (#6292)
  internal/ui/VERSION
Labels: core, core/ui

added known_hosts change
  CHANGELOG.md
Labels: none

Revert "new changes updated"
  internal/auth/password/options_test.go
Labels: core, core/auth

Revert "new changes updated"
  internal/auth/password/argon2.go
  internal/auth/password/argon2_test.go
  internal/auth/password/options.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_password.go
  internal/securerandom/random.go
  internal/securerandom/random_test.go
Labels: core, core/auth

SecureRandomreader introduced to password
  internal/auth/password/argon2.go
  internal/auth/password/argon2_test.go
  internal/auth/password/options.go
  internal/auth/password/options_test.go
  internal/auth/password/repository.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_password.go
  internal/auth/password/repository_test.go
  internal/auth/password/rewrapping_test.go
  internal/cmd/base/initial_resources.go
Labels: core, core/auth

SecureRandom pkg removed
  internal/securerandom/random.go
  internal/securerandom/random_test.go
Labels: core

updated
  internal/auth/password/repository_test.go
Labels: core, core/auth

add new queries with tests
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

add new queries with tests
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

add new queries with tests
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

refactor: Update Password use of crypto/rand to SecureRandomReader (#6259)
  internal/auth/password/argon2.go
  internal/auth/password/argon2_test.go
  internal/auth/password/options.go
  internal/auth/password/options_test.go
  internal/auth/password/repository.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_password.go
  internal/auth/password/repository_test.go
  internal/auth/password/rewrapping_test.go
  internal/cmd/base/initial_resources.go
Labels: core, core/auth

backport of commit 9e71bcb3f9f48f8f0f5a3b9614a0a63ee43b5b48
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.up.sql
Labels: core, core/db, core/sql

fix(db): Update migration 102 sql file to correct name including .up
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.up.sql
Labels: core, core/db, core/sql

fix(db): Update migration 102 sql file to correct name including .up (#6295)
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.up.sql
Labels: core, core/db, core/sql

backport of commit 9e71bcb3f9f48f8f0f5a3b9614a0a63ee43b5b48 (#6296)
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.up.sql
Labels: core, core/db, core/sql

fix(query): Remove unnecessary join to individual org table
  internal/apptoken/query.go
Labels: core, core/sql

fix(query): Remove redundant coalesce()
  internal/apptoken/query.go
Labels: core, core/sql

fix(query): Use 'this' grant scope for org token + global/org resource query
  internal/apptoken/query.go
Labels: core, core/sql

chore(query): Improve alias naming & query spacing
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Add 'app_token_parent_scope_id' to query results
  internal/apptoken/query.go
Labels: core, core/sql

Add awskms shared creds to changelog
  CHANGELOG.md
Labels: none

add password cred and redis consume to changelog
  CHANGELOG.md
Labels: none

spacing!
  CHANGELOG.md
Labels: none

fix spacing, add pr links to bug fixes
  CHANGELOG.md
Labels: none

Add "Path" attribute to "/"
  internal/daemon/controller/handlers/outgoing_response_filter.go
Labels: core, core/daemon

Bumped product version to 0.21.1.
  version/VERSION
Labels: none

chore: update supported postgres versions
  .github/workflows/test-sql.yml
  globals/globals.go
Labels: none
