Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/servers, core/session, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases

.github/labeler.yml:

api:
  - api/*

api/authmethods:
  - api/authmethods/*

api/authtokens:
  - api/authtokens/*

api/groups:
  - api/groups/*

api/hostcatalogs:
  - api/hostcatalogs/*

api/hosts:
  - api/hosts/*

api/hostsets:
  - api/hostsets/*

api/roles:
  - api/roles/*

api/scopes:
  - api/scopes/*

api/sessions:
  - api/sessions/*

api/targets:
  - api/targets/*

api/users:
  - api/users/*

core:
  - internal/*

core/auth:
  - internal/auth/*

core/authtoken:
  - internal/authtoken/*

core/cmd:
  - internal/cmd/*

core/db:
  - internal/db/*

core/gen:
  - internal/gen/*

core/host:
  - internal/host/*

core/iam:
  - internal/iam/*

core/kms:
  - internal/kms/*

core/lib:
  - internal/libs/*

core/oplog:
  - internal/oplog/*

core/perms:
  - internal/perms/*

core/proto:
  - internal/proto/*

core/proxy:
  - internal/proxy/*

core/servers:
  - internal/servers/*

core/session:
  - internal/session/*

core/target:
  - internal/target/*

core/types:
  - internal/types/*

core/ui:
  - internal/ui/*

website:
  - website/*

docs/concepts:
  - website/content/docs/concepts/*

docs/getting-started:
  - website/content/docs/getting-started/*

docs/installing:
  - website/content/docs/installing/*

docs/configuration:
  - website/content/docs/configuration/*

docs/releases:
  - website/content/docs/releases/*

Run 'make migrations'
  internal/db/migrations/postgres.gen.go
Labels: none

use CTE within transaction to calc SetGroupMembers changes (#454)
  internal/iam/query.go
  internal/iam/repository_group.go
Labels: core/iam

refactor user account repo function names
  internal/cmd/base/initial_resources.go
  internal/iam/repository_user.go
  internal/iam/repository_user_test.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/users/user_service_test.go
Labels: core/iam

packagespec update: machine for common layers
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

packagespec: larger common layers image
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

packagespec update: .gitattributes change
  packages-oss.lock/.gitattributes
Labels: none

build: go1.15.2 + pre-warm build cache
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

build: fix build cache warming
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

update packagespec: larger layer build image
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

packagespec: bust cache for testing
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

packagespec: try smaller machine image
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

add term reason of "connection limit"
  internal/db/migrations/postgres.gen.go
  internal/db/migrations/postgres/50_session.up.sql
  internal/session/term_reason.go
Labels: core/session

add TerminateCompletedSessions with unit tests
  internal/session/query.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
Labels: core/session

pacakgespec update: back to xlarge machine
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

spec file: reduce number/size of layers
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

packagespec update: enable buildkit on layer0
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

build: fix installing go-bindata
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

Fix typo (p*r*oduction)
  website/content/docs/getting-started/index.mdx
Labels: docs/getting-started

move GOCACHE; hope it gets preserved
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

build: disable CGO; dump go env
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

packagespec: bump; make SSH key optional
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

add windows + freebsd + set version
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/pkgs.yml
  packages-oss.yml
  version/version_base.go
Labels: none

build: boundary v0.1.0-beta.1 (ad364714b47113baf7e87e9a382d03b8f73b896a)
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

add packagespec
  .circleci/.gitattributes
  .circleci/.gitignore
  .circleci/Makefile
  .circleci/README.md
  .circleci/config.yml
  .circleci/config/@build-release.yml
  .circleci/config/@config.yml
  .circleci/config/jobs/build.yml
  .circleci/config/workflows/default.yml
  .circleci/pre-commit
  .gitattributes
  Makefile
  internal/ui/VERSION
  packages-oss.lock/.gitattributes
  packages-oss.lock/Makefile
  packages-oss.lock/build.mk
  packages-oss.lock/config.mk
  packages-oss.lock/layer.mk
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
  packagespec.mk
  scripts/uigen.sh
  version/version_base.go
Labels: core/ui

release: fix github-releases package alias
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

build: quieter 'go build' output
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

build: boundary v0.1.0-beta.2 (44575137078a4c177fc9a16b16faf98494b49130)
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

build: drop freebsd/amd64 build
  .circleci/config.yml
  .circleci/config/@build-release.yml
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: none

build: boundary v0.1.0-beta.2 (2647dd2d665b71b5da76a9964b4c272985d37ea0)
  .circleci/config.yml
  .circleci/config/@build-release.yml
Labels: none

Add packagespec CI (#479)
  .circleci/.gitattributes
  .circleci/.gitignore
  .circleci/Makefile
  .circleci/README.md
  .circleci/config.yml
  .circleci/config/@build-release.yml
  .circleci/config/@config.yml
  .circleci/config/jobs/build.yml
  .circleci/config/workflows/default.yml
  .circleci/pre-commit
  .gitattributes
  Makefile
  internal/ui/VERSION
  packages-oss.lock/.gitattributes
  packages-oss.lock/Makefile
  packages-oss.lock/build.mk
  packages-oss.lock/config.mk
  packages-oss.lock/layer.mk
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
  packagespec.mk
  scripts/uigen.sh
  version/version_base.go
Labels: core/ui

Attach account to auth token response.
  internal/servers/controller/handlers/authenticate/authenticate_service.go
  internal/servers/controller/handlers/authenticate/authenticate_service_test.go
Labels: none

Attach account to auth token response. (#480)
  internal/servers/controller/handlers/authenticate/authenticate_service.go
  internal/servers/controller/handlers/authenticate/authenticate_service_test.go
Labels: none

Reduce CSS selectors
  website/components/section-break-cta/index.jsx
  website/components/section-break-cta/section-break-cta.module.css
Labels: none

[Website] Add use cases section (#445)
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/home/img/red-usecase-accessmgmt.png
  website/pages/home/img/red-usecase-accessprivileges.png
  website/pages/home/img/red-usecase-sessionvisibility.png
  website/pages/home/index.jsx
  website/pages/home/style.css
  website/pages/style.css
Labels: website

Create skeleton for component
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/index.jsx
  website/pages/home/index.jsx
Labels: none

Bring in line with CallToAction styles
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/index.jsx
  website/pages/home/index.jsx
Labels: none

Address feedback
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/index.jsx
Labels: none

Button polish
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/index.jsx
Labels: none

Typography and layout (and mobile)
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/index.jsx
Labels: none

Set up background
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
Labels: none
