Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat(handlers): CRUDL support for static password credential
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

Revert "feat(handlers): CRUDL support for static password credential"
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

docs: Fix broken link in transparent sessions troubleshooting doc
  website/content/docs/client-agent/troubleshoot.mdx
Labels: website

backport of commit 47cbe2d269e31266abebdb46f77128111ee56d13
  website/content/docs/client-agent/troubleshoot.mdx
Labels: website

feat(handlers): CRUDL support for static password credential
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

docs: Fix broken link in transparent sessions troubleshooting doc (#6182)
  website/content/docs/client-agent/troubleshoot.mdx
Labels: website

docs: Fix broken link in transparent sessions troubleshooting doc (#6182)
  website/content/docs/client-agent/troubleshoot.mdx
Labels: website

docs: Fix broken link in transparent sessions troubleshooting doc (#6182) (#6185)
  website/content/docs/client-agent/troubleshoot.mdx
Labels: website

docs: Explain storage capacity in concept topic
  website/content/docs/session-recording/index.mdx
Labels: website

backport of commit 4f543d1c442878acc2995b08493ff7645669d297
  website/content/docs/session-recording/index.mdx
Labels: website

backport of commit 4f543d1c442878acc2995b08493ff7645669d297
  website/content/docs/session-recording/index.mdx
Labels: website

Makefile: check for existence of dist in build-ui-ifne (#6119)
  Makefile
Labels: none

docs: installing, integrations, interoperability fixes
  website/redirects.js
Labels: website

docs: operations fixes
  website/redirects.js
Labels: website

Update website/content/docs/session-recording/index.mdx
  website/content/docs/session-recording/index.mdx
Labels: website

backport of commit 565c81d0c5d7da85a90b6640dd3f7ca3df4bb670
  website/content/docs/session-recording/index.mdx
Labels: website

backport of commit 565c81d0c5d7da85a90b6640dd3f7ca3df4bb670
  website/content/docs/session-recording/index.mdx
Labels: website

docs: Explain storage capacity in concept topic (#6187)
  website/content/docs/session-recording/index.mdx
Labels: website

Backport of docs: Explain storage capacity in concept topic into release/0.20.x (#6189)
  website/content/docs/session-recording/index.mdx
Labels: website

Adding validation functions
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon

feat(cli): Add support for password credential in redis helper
  internal/cmd/commands/connect/redis.go
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: core

docs: oss, release note, roadmap fixes
  website/redirects.js
Labels: website

docs: session recording, targets, use case fixes
  website/redirects.js
Labels: website

docs: vault and workers fixes
  website/redirects.js
Labels: website

chore(e2e): Update artifact name
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

docs: Update macOS client phrasing
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

backport of commit 50e8f9c3b4a446c2e046147c878015aab8da7c4e
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

backport of commit 50e8f9c3b4a446c2e046147c878015aab8da7c4e
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

docs: Fixes redirects - batch 3 (#6178)
  website/redirects.js
Labels: website

docs: Fixes redirects - batch 3 (#6178)
  website/redirects.js
Labels: website

docs: Fixes redirects - batch 3 (#6178)
  website/redirects.js
Labels: website

backport of commit 25f35729108ce6bc4e22dbba4f4145c8214b7b5e
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

Update product capitalization
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

backport of commit 25f35729108ce6bc4e22dbba4f4145c8214b7b5e
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

docs: Fixes redirects - batch 3 (#6178) (#6197)
  website/redirects.js
Labels: website

docs: Fixes redirects - batch 3 (#6178) (#6196)
  website/redirects.js
Labels: website

feat(handlers): CRUDL support for static password credential
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

docs: Security model (#6031)
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website

docs: Security model (#6031)
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website

docs: Security model (#6031)
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website
