Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore(e2e): Remove unused line (#6152)
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
Labels: none

Adding bats test
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
Labels: core

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

docs: Fixes redirects (#6165)
  website/content/docs/api-clients/desktop.mdx
  website/redirects.js
Labels: website

chore(e2e): Add some dependencies for RDP automation
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

chore(proxy): Reduce noisy error logs (#6136)
  internal/daemon/worker/handler.go
Labels: core, core/daemon

docs: Security model (#6031)
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website

chore(e2e): fix for enos docker build (#6166)
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
Labels: none

chore: Update slack channel id for CRT (#6150)
  .release/ci.hcl
Labels: none

Revert "Spacing"
  internal/tests/cli/boundary/credentials.bats
Labels: core

test(rdp): pass through server and client version to e2e output (#6201)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

docs: Update macOS client phrasing (#6193)
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

Backport of docs: Update macOS client phrasing into release/0.20.x (#6204)
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

chore(e2e): Added variable to fix enos scenario
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

chore(e2e): Added variable to fix enos scenario (#6205)
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

docs: Fixes broken tutorial links v0.8.x
  website/content/docs/concepts/service-discovery.mdx
  website/content/docs/roadmap.mdx
Labels: website, docs/concepts

feat(cli): Add password credential CLI commands
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

feat(cli): Add password credential CLI commands (#6117)
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(handlers): CRUDL support for static password credential (#6181)
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

feat(handlers): CRUDL support for static password credential (#6181)
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(cli): Add password credential CLI commands (#6117)
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

chore: Resolve SECVULN-25141
  go.mod
  go.sum
Labels: none

Docs: permstable resource-table UDR migration (#6162)
  internal/website/permstable/permstable.go
  internal/website/permstable/resource-table.mdx
Labels: core

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

feat(cli): Add password credential CLI commands (#6117)
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/daemon, core/proto

feat(handlers): CRUDL support for static password credential (#6181)
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

feat(credentials): Add PasswordAttributes credential type (#6110)
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

feat(db): Add new tables for password credential type (#6101)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
