Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

backport of commit b7bcf67879e22cbc353cc83b3375dec871e1ae41 (#6323)
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: none

feat(query): Create query for org-scoped requests of org app token grants
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for project-scoped requests of org app token grants
  internal/apptoken/query.go
Labels: core, core/sql

test(e2e): Created enos scenario for https testing
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/modules/aws_boundary/alb.tf
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/test_e2e_ui/main.tf
Labels: none

chore(e2e): set windows terminal app in registry
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

test(e2e): Fixed failing database migration test (#6299)
  testing/internal/e2e/infra/docker.go
Labels: none

chore(e2e): Add container name to openssh-server module output (#6321)
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: none

implement feedback
  internal/apptoken/options_test.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
Labels: core, core/sql

implement feedback
  internal/apptoken/options_test.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
Labels: core, core/sql

rebase fixes
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

rebase fixes
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

add test cases
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

add test cases
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

backport of commit bdaa32e875cff65e35ed6557566bfd8aad9fb7e5
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

rdp(test): Change password retrieval for race condition
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

cr
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

backport of commit 6d06020b17f7666c81c2df0ecb3ade9ac95fcc76
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

backport of commit b69aa9424a288712c1a7945e752247edf3f380f0
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/outputs.tf
Labels: none

cr
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/outputs.tf
Labels: none

add comments
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

test(e2e): Fixed failing database migration test (#6299) (#6326)
  testing/internal/e2e/infra/docker.go
Labels: none

chore(e2e): Add container name to openssh-server module output (#6321) (#6322)
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: none

rdp(test): Change password retrieval for race condition (#6327)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

cr;
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

chore(e2e): set windows terminal app in registry (#6325)
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

address feedback
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core

[ICU-17945] implement encryption/decryption of apptokens
  internal/apptoken/apptoken.go
  internal/apptoken/apptoken_test.go
Labels: core

[ICU-17934] implement create functionality for global app tokens
  Makefile
  globals/prefixes.go
  internal/apptoken/ids.go
  internal/apptoken/options.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/store/apptoken_cipher.pb.go
  internal/apptoken/store/apptoken_global.pb.go
  internal/apptoken/store/apptoken_global_permission.pb.go
  internal/apptoken/store/apptoken_global_permission_individual_org_grant_scope.pb.go
  internal/apptoken/store/apptoken_global_permission_individual_project_grant_scope.pb.go
  internal/apptoken/store/apptoken_permission_grant.pb.go
  internal/apptoken/testing.go
  internal/proto/controller/storage/apptoken/store/v1/apptoken_cipher.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global_permission.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global_permission_individual_org_grant_scope.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global_permission_individual_project_grant_scope.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_permission_grant.proto
Labels: core, core/proto

feat(query): Create queries for non-recursive requests of org app token grants (#6320)
  internal/apptoken/query.go
Labels: core, core/sql

add test cases
  internal/apptoken/repository_token_grant_test.go
Labels: core

feat(apptoken): Implement GrantsForToken (#6283)
  internal/apptoken/options.go
  internal/apptoken/options_test.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
Labels: core, core/sql

semgrep rules for crypto/rand added
  .semgrep/avoid-crypto-rand.yaml
  scan.hcl
Labels: none

error fixed
  scan.hcl
Labels: none

fix git lint errors
  internal/apptoken/repository.go
Labels: core

accidental commit
  internal/apptoken/repository.go
Labels: core

Update tests with split cookie path attribute
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/outgoing_response_filter_test.go
Labels: core, core/daemon

Add "Path" attribute to "/"
  internal/daemon/controller/handlers/outgoing_response_filter.go
Labels: core, core/daemon

add SortBy and SortDirection
  internal/clientcache/internal/cache/search.go
Labels: core

chore(e2e): Set disk space for minio container
  enos/modules/docker_minio/main.tf
Labels: none

Revert "chore(e2e): Stop running current builds with new pushes (#6309)"
  .github/workflows/build.yml
Labels: none
