Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat(cli): Add token authentication support for connect kube helper
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/kube.go
Labels: core

CE changes for ENT
  internal/census/census.go
  internal/census/census_job.go
  internal/cmd/config/config.go
  internal/daemon/controller/controller.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/server/options_test.go
  internal/server/repository.go
Labels: core, core/daemon, core/server

test(e2e): Added tests against previous worker version
  .github/workflows/enos-run.yml
Labels: none

CE changes for ENT (#6334)
  internal/census/census.go
  internal/census/census_job.go
  internal/cmd/config/config.go
  internal/daemon/controller/controller.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/server/options_test.go
  internal/server/repository.go
Labels: core, core/daemon, core/server

[ICU-17937] implement apptoken deletion
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

wip
  internal/apptoken/repository.go
Labels: core

update awskms plugin to v4 of go-kms-wrapping awskms wrapper
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none

backport of commit 6e5e968c2aba539a068a849a23482d4b3d5073e5
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none

error fixed
  scan.hcl
Labels: none

semgrep rules for crypto/rand added
  .semgrep/avoid-crypto-rand.yaml
  scan.hcl
Labels: none

iam file
  enos/ci/service-user-iam/main.tf
Labels: none

Revert "CE changes for ENT (#6334)"
  internal/census/census.go
  internal/census/census_job.go
  internal/cmd/config/config.go
  internal/daemon/controller/controller.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/server/options_test.go
  internal/server/repository.go
Labels: core, core/daemon, core/server

address PR comments and add a few more tests
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

add SortBy and SortDirection parsing
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

add tests, fix wrong sort direction
  internal/clientcache/internal/daemon/search_handler.go
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

Revert "chore(e2e): Stop running current builds with new pushes (#6309)" (#6332)
  .github/workflows/build.yml
Labels: none

lint
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

fix(kms): update awskms plugin to v4 of go-kms-wrapping awskms wrapper (#6336)
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none

feat(clientcache): add sort parameters to SearchParams
  internal/clientcache/internal/cache/search.go
Labels: core

feat(clientcache): add sortable columns and validation for search parameters
  internal/clientcache/internal/cache/search.go
Labels: core

add modularity for upcoming org and proj implementations
  internal/apptoken/apptoken.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core, core/sql

feat(clientcache): add sort parameters and validation for search options
  internal/clientcache/internal/cache/options.go
Labels: core

feat(clientcache): add sort options to search function
  internal/clientcache/internal/cache/search.go
Labels: core

additional iam roles
  enos/ci/service-user-iam/main.tf
  enos/modules/test_e2e_ui/main.tf
Labels: none

cr
  .github/workflows/enos-run.yml
Labels: none

changed default to http
  enos/modules/aws_boundary/variables.tf
Labels: none

feat(clientcache): add test for sort options and search functions
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/search_test.go
Labels: core

change output to be https
  enos/modules/aws_boundary/outputs.tf
Labels: none

add comments to parsing functions
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

cr
  .github/workflows/enos-run.yml
Labels: none

Add path attribute to split cookies (#6298)
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/outgoing_response_filter.go
  internal/daemon/controller/handlers/outgoing_response_filter_test.go
Labels: core, core/daemon

cr
  .github/workflows/enos-run.yml
Labels: none

backport of commit 6e5e968c2aba539a068a849a23482d4b3d5073e5 (#6339)
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none

cr
  enos/README.md
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_boundary/variables.tf
Labels: none

test(e2e): Added tests against previous worker version (#6335)
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Set disk space for minio container (#6260)
  enos/modules/docker_minio/main.tf
Labels: none

Mark expired Vault token as expired when Vault is unreachable (#6235)
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/private_store.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/db/schema/migrations/oss/postgres/103/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

update tests to be more specific with grants and permissions
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

change to using Label as Description to track across permissions
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

update to include description
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core
