Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Allow rollbacks of migrations if hooks fail
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
Labels: core, core/db

backport of commit 9e48cc7469e526ca3f7fba47778584a3cc1dfe52
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
Labels: core, core/db

adds terraform workflows (#5903)
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

Allow rollbacks of migrations if hooks fail (#5904)
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
Labels: core, core/db

backport of commit 09de8ffabc5b03cb16522622dcee8f831b5328b7 (#5906)
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

backport of commit 9e48cc7469e526ca3f7fba47778584a3cc1dfe52 (#5907)
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
Labels: core, core/db

nit: code organization Co-authored-by: Enbiya Göral
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

feat: add MySQL command support PORT (#5891)
  CHANGELOG.md
  enos/modules/test_e2e_docker/test.sh
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mysql.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/mysql.mdx
  website/data/docs-nav-data.json
Labels: core, website

add tests
  internal/db/schema/manager_test.go
  internal/db/schema/testdata/hooks/updated/2/01_another_update.up.sql
Labels: core, core/db, core/sql

correct expect schema version
  internal/db/schema/manager_test.go
Labels: core, core/db

use conventional named return
  internal/db/schema/manager.go
Labels: core, core/db

backport of commit b535c5a31218edc77adee344fd6f027a0f6fd8ec
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/internal/postgres/postgres_test.go
Labels: core, core/db

add rollback test and more description in godoc
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/internal/postgres/postgres_test.go
Labels: core, core/db

refactor to use commit at the end and defer rollback
  internal/db/schema/manager.go
Labels: core, core/db

backport of commit e517ba2df6a236940e625aae60198076de44dfba
  internal/db/schema/manager.go
Labels: core, core/db

add comment
  internal/db/schema/manager.go
Labels: core, core/db

backport of commit f2229e3eb03d5a73ba9424132feeeb9cf59c8c10
  internal/db/schema/manager.go
Labels: core, core/db

lint
  internal/db/schema/manager.go
Labels: core, core/db

fix(bug): database migration does not rollback schema version on hook failure (#5908)
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/internal/postgres/postgres_test.go
  internal/db/schema/manager.go
  internal/db/schema/manager_test.go
  internal/db/schema/testdata/hooks/updated/2/01_another_update.up.sql
Labels: core, core/db, core/sql

chore(e2e): Fix bucket lifecycle warning
  enos/modules/aws_bucket/main.tf
Labels: none

fix(bug): database migration does not rollback schema version on hook failure (#5908)
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/internal/postgres/postgres_test.go
  internal/db/schema/manager.go
  internal/db/schema/manager_test.go
  internal/db/schema/testdata/hooks/updated/2/01_another_update.up.sql
Labels: core, core/db, core/sql

chore(e2e): Fix bucket lifecycle warning (#5912)
  enos/modules/aws_bucket/main.tf
Labels: none

backport of commit f44e2c1df68b52ffd8d6bd3156dce4a89d516c2b
  internal/db/schema/internal/postgres/postgres.go
Labels: core, core/db

return nil when no transaction is opened
  internal/db/schema/internal/postgres/postgres.go
Labels: core, core/db

use named return for retErr
  internal/db/schema/manager.go
Labels: core, core/db

backport of commit 98be3cbf6fd3d12a0abc266ec0aef903ba74f103
  internal/db/schema/manager.go
Labels: core, core/db

backport of commit d4ece2dcc34dafd917b1bb7ca5c75fd61453f759
  internal/db/schema/internal/postgres/postgres.go
Labels: core, core/db

add a comment
  internal/db/schema/internal/postgres/postgres.go
Labels: core, core/db

docs: Unix partials
  website/content/docs/configuration/listeners/unix-listeners.mdx
  website/content/partials/configuration-reference/listeners/unix-configure-tls.mdx
  website/content/partials/configuration-reference/listeners/unix-general-parameters.mdx
  website/content/partials/configuration-reference/listeners/unix-intro.mdx
  website/content/partials/configuration-reference/listeners/unix-listen-on-multiple-interfaces.mdx
  website/content/partials/configuration-reference/listeners/unix-telemetry.mdx
  website/content/partials/configuration-reference/listeners/unix-tls-parameters.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

fix(bug): runMigrations not using named returned properly (#5913)
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
Labels: core, core/db

Backport of fix(bug): runMigrations not using named returned properly into release/0.19.x (#5914)
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
Labels: core, core/db

docs: Worker partials
  website/content/docs/configuration/workers.mdx
  website/content/docs/workers/index.mdx
  website/content/partials/configuration-reference/workers/common-worker-parameters.mdx
  website/content/partials/configuration-reference/workers/complete-configuration-example.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Document grant normalization (#5850)
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

docs: Updates
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/getting-started/dev-mode/run-and-login.mdx
  website/content/docs/session-recording/configuration/configure-worker-storage.mdx
  website/content/docs/workers/configure-workers/worker-configuration.mdx
  website/content/docs/workers/index.mdx
  website/content/partials/configuration-reference/workers/common-worker-parameters.mdx
Labels: website, docs/concepts, docs/getting-started

docs: Document grant normalization (#5850)
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

Backport of docs: Document grant normalization into release/0.19.x (#5916)
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

docs: Document grant normalization (#5850) (#5917)
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

docs: Release notes for 0.19.3 (#5852)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Release notes for 0.19.3 (#5852)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Release notes for 0.19.3 (#5852)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website
