Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

removed registry changes from domain controller
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
Labels: none

cr:nit
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

chore(e2e): Added the option to make member server kerberos only (#5997)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/variables.tf
Labels: none

chore(e2e): Add module for RDP license server
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_license_server/main.tf
  enos/modules/aws_rdp_license_server/outputs.tf
  enos/modules/aws_rdp_license_server/scripts/setup.ps1
  enos/modules/aws_rdp_license_server/variables.tf
Labels: none

Setup redis in docker for e2e testing. Still need to set up redis user in docker setup
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

feat: upgrade node version to v22 (#5983)
  .github/workflows/test-cli-ui_oss.yml
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website

docs: Fix a typo
  website/redirects.js
Labels: website

docs: Cleanup, add graceful shutdown info
  website/content/docs/enterprise/licensing.mdx
Labels: website

docs: Update licensing information
  website/content/docs/enterprise/licensing.mdx
Labels: website

docs: Cleanup, add graceful shutdown info
  website/content/docs/enterprise/licensing.mdx
Labels: website

revert node version for GHA
  .github/workflows/test-cli-ui_oss.yml
Labels: none

docs: Make code block plaintext and hide clipboard
  website/content/docs/enterprise/licensing.mdx
Labels: website

Added redis user with user/pass.
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Example of generating a csp style-src nonce
  internal/daemon/controller/handler.go
Labels: core, core/daemon

docs: Fixes redirects
  website/redirects.js
Labels: website

docs: Clarify use of `public_cluster_addr` for load balancing
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

docs: Include example
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

docs: Revise example
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

docs: Adding new section for load balancing
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

docs: Word choice
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

docs: Revise procedure
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

Add --askpass to args in the case where boundary does not provide a credential
  internal/cmd/commands/connect/redis.go
Labels: core

Update docs and changelog
  CHANGELOG.md
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/redis.mdx
  website/data/docs-nav-data.json
Labels: website

Cleanup
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Bump up the error code for InvalidListToken such that it does not conflict with the error code Paused
  internal/errors/code.go
Labels: core

Run make gen
  testing/internal/e2e/infra/docker.go
Labels: none

chore: reorder the errors and give 136 to InvalidListToken over Pausedx
  internal/errors/code.go
Labels: core

uses /etc/boundary.d/ as recommended installation directory
  website/content/docs/architecture/high-availability.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/commands/database/migrate.mdx
  website/content/docs/commands/server.mdx
  website/content/docs/deploy/self-managed/systemd.mdx
Labels: website

chore(errors): Add missing tests and err info
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

docs: Fixes redirect
  website/redirects.js
Labels: website

docs: Adds links out to client agent troubleshooting
  website/content/docs/errors/index.mdx
Labels: website

Conflicting Error Code Bump (#6002)
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

uses /etc/boundary.d/ as recommended installation directory (#6003)
  website/content/docs/architecture/high-availability.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/commands/database/migrate.mdx
  website/content/docs/commands/server.mdx
  website/content/docs/deploy/self-managed/systemd.mdx
Labels: website

docs: Updates legacy io links
  CHANGELOG.md
  README.md
  website/README.md
  website/redirects.js
Labels: website

docs: Fix links
  website/content/docs/hosts/index.mdx
  website/content/docs/overview/pam.mdx
  website/content/docs/overview/sdp.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Updates
  website/content/docs/workers/configure-workers/worker-configuration.mdx
  website/content/docs/workers/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website

docs: Updates
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/hosts/discovery/aws.mdx
  website/content/docs/hosts/discovery/azure.mdx
  website/content/docs/hosts/discovery/gcp.mdx
  website/content/docs/hosts/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

docs: Update Client Agent nav
  website/content/docs/client-agent/index.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Fix a typo in Client Agent docs (#5853)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

docs: Fix conflict
  website/content/docs/api-clients/client-agent.mdx
  website/data/docs-nav-data.json
Labels: website

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
