Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

backport of commit fe35f74ee3d5c1a4c08930733b1ea0f848fc2b6b
  internal/cmd/base/dev.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/auth_test.go
  internal/db/schema/migrations/oss/postgres/104/01_iam_acct_info_ldap.up.sql
  internal/db/schema/migrations/oss/postgres/4/01_iam.up.sql
Labels: core, core/daemon, core/db, core/sql

fix(audit): populate email/name in audit events
  internal/cmd/base/dev.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/auth_test.go
  internal/db/schema/migrations/oss/postgres/104/01_iam_acct_info_ldap.up.sql
  internal/db/schema/migrations/oss/postgres/4/01_iam.up.sql
Labels: core, core/daemon, core/db, core/sql

Improve worker logging
  internal/daemon/worker/controller_connection.go
Labels: core, core/daemon

Run make gen
  api/roles/grant_json.gen.go
Labels: api, api/roles

Update internal/perms/acl.go
  internal/perms/acl.go
Labels: core, core/perms

Updating grant schema to handle output field
  internal/perms/grants_schema.go
Labels: core, core/perms

Add comma/semicolon/equals check
  internal/perms/grants.go
Labels: core, core/perms

chore: Update actions to use Node24 (#6523) (#6695)
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

chore: Update actions to use Node24 (#6523) (#6694)
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

chore: Update actions to use Node24 (#6523) (#6693)
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

backport of commit a16650f98ad31614976e44e80bd349029716105e
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

backport of commit a16650f98ad31614976e44e80bd349029716105e
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Update another action to Node24
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Update another action to Node24 (#6703)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Update another action to Node24 (#6703)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

backport of commit a16650f98ad31614976e44e80bd349029716105e (#6707)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

backport of commit a16650f98ad31614976e44e80bd349029716105e (#6705)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Update another action to Node24 (#6703) (#6704)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Remove docker dev artifacts
  .release/boundary-artifacts.hcl
Labels: none

backport of commit 1f989f56b1d275484674c753884b661ecc04beef
  .release/boundary-artifacts.hcl
Labels: none

chore: Remove docker dev artifacts (#6708)
  .release/boundary-artifacts.hcl
Labels: none

chore: Remove docker dev artifacts (#6708)
  .release/boundary-artifacts.hcl
Labels: none

chore: Remove docker dev artifacts (#6708)
  .release/boundary-artifacts.hcl
Labels: none

chore: Remove docker dev artifacts (#6708) (#6709)
  .release/boundary-artifacts.hcl
Labels: none

chore: Remove docker dev artifacts (#6708) (#6710)
  .release/boundary-artifacts.hcl
Labels: none

backport of commit 1f989f56b1d275484674c753884b661ecc04beef (#6711)
  .release/boundary-artifacts.hcl
Labels: none

chore: bump golang.org/x/net
  go.mod
  go.sum
Labels: none

chore(e2e): Run tests in CI
  enos/enos-scenario-e2e-docker-base-plus.hcl
Labels: none

chore: replace docker with moby and update opentelemetry
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  testing/internal/e2e/tests/base/authenticate_no_keyring_test.go
Labels: none

chore: bump golang.org/x/net (#6712)
  go.mod
  go.sum
Labels: none

Add UBI stage to Dockerfile for Red Hat registry
  .dockerignore
  .github/workflows/build.yml
  .release/boundary-artifacts.hcl
  .release/docker/docker-entrypoint.sh
  .release/docker/entrypoint-common.sh
  .release/docker/ubi-docker-entrypoint.sh
  Dockerfile
Labels: none

chore: replace docker with moby and update opentelemetry (#6717)
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  testing/internal/e2e/tests/base/authenticate_no_keyring_test.go
Labels: none

chore(e2e): Run tests in CI (#6713)
  enos/enos-scenario-e2e-docker-base-plus.hcl
Labels: none

feat(proto): add storage plugin proto definitions for session recording recovery
  internal/proto/plugin/v1/storage_plugin_service.proto
Labels: core, core/proto

feat(gen): add generated storage plugin code for session recording recovery
  sdk/pbs/plugin/storage_plugin_service.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: none

feat(plugin): add plugin loopback support for session recording recovery
  internal/plugin/loopback/client.go
  internal/plugin/loopback/loopback.go
  internal/plugin/loopback/options.go
  internal/plugin/loopback/options_test.go
  internal/plugin/loopback/storage.go
  internal/plugin/loopback/storage_test.go
Labels: core

feat: storage plugin list objects (#6723)
  internal/plugin/loopback/client.go
  internal/plugin/loopback/loopback.go
  internal/plugin/loopback/options.go
  internal/plugin/loopback/options_test.go
  internal/plugin/loopback/storage.go
  internal/plugin/loopback/storage_test.go
  internal/proto/plugin/v1/storage_plugin_service.proto
  sdk/pbs/plugin/storage_plugin_service.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core, core/proto

chore: bump golang.org/x/net
  go.mod
  go.sum
Labels: none

chore: bump golang.org/x/net
  go.mod
  go.sum
Labels: none

chore: bump golang.org/x/net
  go.mod
  go.sum
Labels: none
