Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Bump sdk to latest tag (#5728)
  go.mod
Labels: none

docs: Add 0.19.2 release to CHANGELOG (#5731)
  CHANGELOG.md
Labels: none

backport of commit e5e372f915a16e9e63a2deb8401ab2419d41f0a1
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

docs: Fix incomplete sentence
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

backport of commit e5e372f915a16e9e63a2deb8401ab2419d41f0a1
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

Add "Next" section to CHANGELOG
  CHANGELOG.md
Labels: none

Bump 0.19.2 release date to 2025/05/08
  CHANGELOG.md
Labels: none

make gen
  internal/gen/controller.swagger.json
Labels: core, core/gen

docs: Fix punctuation
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

backport of commit 004c5c8da7bc62b17cf422e21fa6c7bb4511a9b7
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

remove redundant constraint on iam_role_org
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
Labels: core, core/db, core/sql

address pr comments
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

rename migration number
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
Labels: core, core/db, core/sql

implement RepairIllegalAssociations and refactor queries
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

comments
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db

implement FindIllegalAssociations for 97006 hook
  internal/db/schema/migrations/oss/internal/hook96001/query.go
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

scaffolding
  internal/db/schema/migrations/oss/internal/hook96001/query.go
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db, core/sql

refactor findIllegalAssociation query
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

backport of commit ce707f94469bdba0e4106938f76830c4071a8026
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

fix note callout
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

docs: Fix incomplete sentence (#5732)
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

docs: Fix incomplete sentence (#5732)
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

Dkanney update changelog release/0.19.2 (#5729)
  CHANGELOG.md
  internal/gen/controller.swagger.json
Labels: core, core/gen

docs: Fix incomplete sentence (#5732) (#5736)
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

make gen
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

fix missing err check
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db

Build query args with `pq.Array` instead of `fmt.Sprintf`
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Fix TestGrantsForUserGlobalResources
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Refactor grantsForUserGlobalResources tests into testcases
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Use the consts for u_auth and u_anon
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Adjust query formatting
  internal/iam/query.go
Labels: core, core/iam, core/sql

go mod tidy
  go.mod
Labels: none

Specify "empty" instead of "NULL" in struct field comment
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Finish & format query
  internal/iam/query.go
Labels: core, core/iam, core/sql

Create grantsForUser query for Org resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Remove unecessary condition during grant scope id reassignment
  internal/iam/repository_role_grant.go
Labels: core, core/iam

wip: Finish grantsForUserOrgResources test
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Update query comment for correctness
  internal/iam/query.go
Labels: core, core/iam, core/sql

CLI: add CreateDefaultRole and CreateAdminRole options
  internal/cmd/base/dev.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/scopescmd/funcs.go
  version/feature_manager.go
Labels: core

repo: add CreateDefaultRole and CreateAdminRole options
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/iam/options.go
  internal/iam/repository_scope.go
Labels: core, core/daemon, core/iam

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
