Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore(e2e): Add additional debug lines in script
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

chore(e2e): Exclude boundary-ui clone when zipping boundary src
  enos/modules/aws_windows_client/main.tf
Labels: none

fix(credential/vault): add case for upd creds in injected creds switch
  internal/daemon/controller/handlers/targets/credentials.go
Labels: core, core/daemon

fix(credential/vault): add case for upd creds in injected creds switch (#6226)
  internal/daemon/controller/handlers/targets/credentials.go
Labels: core, core/daemon

chore(sqltest): update readme
  internal/db/sqltest/README.md
Labels: core, core/db

Moving password changes as a new migration
  internal/db/schema/migrations/oss/postgres/101/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

chore(e2e): Update go mod download to run on the correct user (#6227)
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

chore(sqltest): update readme (#6228)
  internal/db/sqltest/README.md
Labels: core, core/db

update changelog to include 0.19.3 changes
  CHANGELOG.md
Labels: none

Update changelog to include 0.19.3 changes (#6230)
  CHANGELOG.md
Labels: none

fix(db) updating vault password cred migration script table names
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
  CHANGELOG.md
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
  internal/credential/vault/mapping_overriders.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  internal/db/sqltest/README.md
Labels: core, core/daemon, core/db, core/sql

feat(clientproxy): automatically close boundary connect when proxy is no longer in use
  api/proxy/option.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/rdp.go
  internal/tests/api/proxy/proxy_test.go
Labels: api, core

chore: upgrade backport runner
  .github/workflows/backport.yml
Labels: none

refact(e2e): Add error output to SetupLdapWithOpenLdap
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/vault/vault.go
Labels: none

test(e2e): Add method for setting up vault ldap with active directory
  testing/internal/e2e/vault/vault.go
Labels: none

chore(e2e): Add domain controller ipv6 address to e2e tests
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

chore: upgrade backport runner (#6236)
  .github/workflows/backport.yml
Labels: none

Revert "chore: upgrade backport runner (#6236)"
  .github/workflows/backport.yml
Labels: none

test(e2e): Add RDP test for Vault LDAP (ce commits) (#6237)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/vault/vault.go
Labels: none

Revert "chore: upgrade backport runner (#6236)" (#6238)
  .github/workflows/backport.yml
Labels: none

merge app-token-prototype into branch for llb
  internal/db/schema/migrations/oss/postgres/101/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/101/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/101/04_app_token_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

Squash: merge app-token-prototype into mikemountain-sql-schema-and-pgtap-tests
  internal/db/schema/migrations/oss/postgres/101/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/101/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/101/04_app_token_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

fix(db): vault password library migration adjustments and mapping overrides
  internal/credential/vault/mapping_overriders.go
  internal/db/schema/migrations/oss/postgres/100/01_credential_vault_ldap_library.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_vault_library_refactor.up.sql
Labels: core, core/db, core/sql

fix(db): vault password library migration adjustments and mapping overrides (#6229)
  internal/credential/vault/mapping_overriders.go
  internal/db/schema/migrations/oss/postgres/100/01_credential_vault_ldap_library.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_vault_library_refactor.up.sql
Labels: core, core/db, core/sql

Addressed comments
  api/proxy/option.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
Labels: api, core

chore(e2e): update vault create credential funcs
  testing/internal/e2e/vault/vault.go
Labels: none

rm password gen
  testing/internal/e2e/vault/vault.go
Labels: none

cr
  testing/internal/e2e/vault/vault.go
Labels: none

chore(e2e): update vault create credential funcs (#6239)
  testing/internal/e2e/vault/vault.go
Labels: none

update auto close logic to remove deadloop, store proxy close reason within proxy
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/tests/api/proxy/proxy_test.go
Labels: api, core

fix static check
  internal/cmd/commands/connect/connect.go
Labels: core

feat(db): Add new tables for password credential type (#6101)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(credentials): Add PasswordAttributes credential type (#6110)
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(handlers): CRUDL support for static password credential (#6181)
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

feat(cli): Add password credential CLI commands (#6117)
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
