Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

e2e(test): Test for scopes permission defect
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: none

docs: Update transparent sessions configuration topic
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

backport of commit 74cefd7ea6c0a7c951e6b7f3a1685a006cf03f76
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

Create repo function: grantsForUserGlobalAndOrgResourcesRecursive
  internal/iam/repository_role_grant.go
Labels: core, core/iam

docs: Update TS docs for GA
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

configure dependabot to automatically update GitHub Actions dependencies
  .github/dependabot.yml
Labels: none

docs: Add HCPb grants issue and fix (#5746)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/configuration

docs: Add HCPb grants issue and fix (#5746)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/configuration

backport of commit b591cdda4492b7d118f94f9b84bc5b2005b712cc
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

docs: Update TS documentation for GA
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

backport of commit b591cdda4492b7d118f94f9b84bc5b2005b712cc
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

docs: Add HCPb grants issue and fix (#5746) (#5760)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/configuration

cr
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: none

cr and linting
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: none

configure dependabot to automatically update GitHub Actions dependencies (#5757)
  .github/dependabot.yml
Labels: none

dependabot: add go modules, groups
  .github/dependabot.yml
Labels: none

dependabot: add go modules, groups (#5767)
  .github/dependabot.yml
Labels: none

dependabot: round two, group all Go modules
  .github/dependabot.yml
Labels: none

dependabot: round two, group all Go modules (#5781)
  .github/dependabot.yml
Labels: none

Restrict recursive list for Global/Org resources to global scope only
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Create tests for grantsForUserGlobalAndOrgResources
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Remove unused option parameter
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Add additional scope and test cases
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Return error when passed 'Unknown' or 'All' resource type
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

mod: downgrade/upgrade some dependencies to fix build
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
Labels: none

internal: rerun gofumpt
  internal/alias/target/repository_alias.go
  internal/auth/ldap/repository_account.go
  internal/auth/ldap/repository_managed_group.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_managed_group.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_authmethod.go
  internal/authtoken/repository.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_ssh_certificate_credential_library.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_set.go
  internal/host/static/repository_host.go
  internal/host/static/repository_host_catalog.go
  internal/host/static/repository_host_set.go
  internal/host/static/repository_host_set_member.go
  internal/iam/repository_scope.go
  internal/plugin/repository_plugin.go
  internal/server/repository_worker.go
  internal/server/repository_workerauth.go
Labels: core, core/auth, core/host, core/iam, core/server

internal/cmd/config: fix test after change of behavior
  internal/cmd/config/config_test.go
Labels: core

internal/daemon/controlller: explicitly disable gRPC Client DNS resolution
  internal/daemon/controller/gateway.go
  internal/daemon/controller/handler.go
Labels: core, core/daemon

testing/e2e: update test type reference
  testing/internal/e2e/tests/base_plus/authenticate_no_keyring_test.go
Labels: none

cr
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: none

cr
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: none

Use constants for 'unknown' & '*' resources
  internal/iam/repository_role_grant.go
Labels: core, core/iam

feat: grantsForUser for recursive Global or Org resources (#5747)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

test(e2e): Test for scopes permission defect (#5755)
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: none

docs: Update release notes for transparent sessions
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 1dac44e31318ba845ecc87d1a5934bf904ed13d5
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

Update website/content/docs/release-notes/v0_19_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 1ab21eb2cf212337d43c511fd21bdead6dcea8b5
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 1ab21eb2cf212337d43c511fd21bdead6dcea8b5
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

wip
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam
