Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

backport of commit a000cac9d084b6a3750909ce3ac7bf31a56a9e46
  enos/enos-modules.hcl
  enos/modules/docker_boundary_cmd/get_worker_id.sh
  enos/modules/docker_boundary_cmd/main.tf
  enos/modules/docker_boundary_cmd/script_runner.sh
  enos/modules/docker_check_worker_log/main.tf
  enos/modules/docker_worker/main.tf
Labels: none

test(e2e): Add worker version check
  testing/internal/e2e/boundary/version.go
Labels: none

test(e2e): Add worker version check
  testing/internal/e2e/boundary/version.go
Labels: none

test(e2e): Add worker version check (#6677)
  testing/internal/e2e/boundary/version.go
Labels: none

test(e2e): Add worker version check (#6678)
  testing/internal/e2e/boundary/version.go
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

Add pins field to grants to serve as a less-confusing option to using ids
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
Labels: core, core/perms

Update grants schema with PinPrefixes
  internal/perms/grants_schema.go
  internal/perms/grants_schema_test.go
Labels: core, core/perms

Plumb pins through API
  internal/daemon/controller/handlers/roles/role_service.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/roles/v1/role.proto
  sdk/pbs/controller/api/resources/roles/role.pb.go
Labels: core, core/daemon, core/gen, core/proto

docs: Adds HCSEC-2026-11 to Community changelog
  CHANGELOG.md
Labels: none

docs: Fix CVE number
  CHANGELOG.md
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/scripts/create_users.ps1
  enos/modules/aws_rdp_domain_controller/variables.tf
Labels: none

Add validation check for same type as pin type
  internal/perms/grants.go
  internal/perms/grants_test.go
Labels: core, core/perms

chore(e2e): Wait until worker log shows connection is ready (#6676)
  enos/enos-modules.hcl
  enos/modules/docker_boundary_cmd/get_worker_id.sh
  enos/modules/docker_boundary_cmd/main.tf
  enos/modules/docker_boundary_cmd/script_runner.sh
  enos/modules/docker_check_worker_log/main.tf
  enos/modules/docker_worker/main.tf
Labels: none

chore(e2e): update rdp scenario
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

backport of commit a000cac9d084b6a3750909ce3ac7bf31a56a9e46 (#6684)
  enos/enos-modules.hcl
  enos/modules/docker_boundary_cmd/get_worker_id.sh
  enos/modules/docker_boundary_cmd/main.tf
  enos/modules/docker_boundary_cmd/script_runner.sh
  enos/modules/docker_check_worker_log/main.tf
  enos/modules/docker_worker/main.tf
Labels: none

chore(e2e): create multiple users in windows domain (#6675)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/scripts/create_users.ps1
  enos/modules/aws_rdp_domain_controller/variables.tf
Labels: none

test(e2e): Updated testing helper functions for rdp tests
  testing/internal/e2e/boundary/account.go
  testing/internal/e2e/boundary/user.go
Labels: none

docs: Adds HCSEC-2026-11 to Community changelog (#6682)
  CHANGELOG.md
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

fix(sqltest): Update makefile for sql test to utilie networks explicily rather then depricated --link opt
  internal/db/sqltest/Makefile
Labels: core, core/db

docs: Back ports #6682 to 0.21.x release branch
  CHANGELOG.md
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

chore(e2e): Fixed copywrite on new file
  enos/modules/aws_rdp_domain_controller/scripts/create_users.ps1
Labels: none

chore(e2e): Fixed copywrite on new file (#6690)
  enos/modules/aws_rdp_domain_controller/scripts/create_users.ps1
Labels: none

fix(sqltest): Update makefile for sql test to utilie networks explicily rather then depricated --link opt (#6688)
  internal/db/sqltest/Makefile
Labels: core, core/db

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

cr
  testing/internal/e2e/boundary/user.go
Labels: none

test(e2e): Updated testing helper functions for rdp tests (#6686)
  testing/internal/e2e/boundary/account.go
  testing/internal/e2e/boundary/user.go
Labels: none

feat(dhc): support address_type:public/private for perferred_endpoints
  internal/cmd/commands/hostsetscmd/plugin_funcs.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/104/01_host_set_preferred_endpoint_addr_type.up.sql
  internal/db/schema/migrations/oss/postgres/20/05_plugin_host.up.sql
  internal/libs/endpoint/matcher.go
  internal/libs/endpoint/matcher_test.go
  internal/libs/endpoint/option.go
  internal/libs/endpoint/preferencer.go
  internal/libs/endpoint/preferencer_test.go
Labels: core, core/daemon, core/db, core/lib, core/sql

docs: Back ports #6682 to 0.21.x release branch (#6689)
  CHANGELOG.md
Labels: none

chore: Update actions to use Node24
  .github/workflows/actionlint.yml
  .github/workflows/build-check.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

update rdp scenario enos vars
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
Labels: none

test(rdp): update rdp scenario enos vars (#6691)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
Labels: none

chore(e2e): update rdp scenario (#6685)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

chore: Update actions to use Node24 (#6523)
  .github/workflows/actionlint.yml
  .github/workflows/build-check.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

chore: Update actions to use Node24 (#6523)
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

chore: Update actions to use Node24 (#6523)
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

chore: Update actions to use Node24 (#6523)
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
