Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore: changelog (#6636)
  CHANGELOG.md
Labels: none

chore: changelog
  CHANGELOG.md
Labels: none

backport of commit 422a2cb356d599add85ce31ee058f21c731c62c9
  CHANGELOG.md
Labels: none

chore: changelog (#6635)
  CHANGELOG.md
Labels: none

chore: changelog (#6636)
  CHANGELOG.md
Labels: none

chore: Update changelog for upcoming 0.21.3 release (#6634)
  CHANGELOG.md
Labels: none

backport of commit 422a2cb356d599add85ce31ee058f21c731c62c9 (#6640)
  CHANGELOG.md
Labels: none

Swagger version upgrade
  internal/gen/controller.swagger.json
Labels: core, core/gen

updating version to 0.20.3 (#6633)
  CHANGELOG.md
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/gen

Backport of Update change log for 0.19.x into release/0.19.x (#6637)
  CHANGELOG.md
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: go mod tidy
  go.sum
Labels: none

feat(pprof): Enable pprof endpoints behind flag
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

fix: nil purposeTotals handling in mergeKmsInfoEntries
  internal/cmd/base/servers.go
Labels: core

feat(daemon): csp nonce handling (#6587)
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handler_ui.go
  internal/daemon/controller/handler_ui_test.go
Labels: core, core/daemon

chore: go mod tidy (#6643)
  go.sum
Labels: none

backport of commit b8a331a566ad7b73d7812b4f9b3ced0601009a7d (#6611)
  internal/tests/cli/test.sh
Labels: core

feat(pprof): Enable pprof endpoints behind flag (#6644)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

feat(pprof): Enable pprof endpoints behind flag (#6644)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

feat(pprof): Enable pprof endpoints behind flag (#6644)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

feat(pprof): Enable pprof endpoints behind flag (#6644)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

chore: update references to older version of postgres
  .release/docker/README_docker_io.md
  CONTRIBUTING.md
  README.md
  internal/db/sqltest/Makefile
  internal/db/sqltest/README.md
  testing/dbtest/docker/Dockerfile.12-alpine
  testing/dbtest/docker/Dockerfile.13-alpine
  testing/dbtest/docker/Dockerfile.17-alpine
  testing/dbtest/docker/Makefile
Labels: core, core/db

feat(pprof): Enable pprof endpoints behind flag (#6644)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

chore: Update changelog for 0.21.3 release
  CHANGELOG.md
Labels: none

backport of commit 793650f6898aa7e4ce1130c68cde8dbdc415ee66
  CHANGELOG.md
Labels: none

backport of commit f4d126111612f4d89570a6871eef0991526d9494
  CHANGELOG.md
Labels: none

chore: Update changelog for debug option in 0.20.3 release
  CHANGELOG.md
Labels: none

Adding feature log to 0.19.x
  CHANGELOG.md
Labels: none

backport of commit 5b13aa147e06e41289a7338ebfc1e92a2f8dc2ca
  CHANGELOG.md
Labels: none

backport of commit 7531d3c96dc15e56d906a42323ab0515fa7041af
  CHANGELOG.md
Labels: none

chore: fix formatting
  CHANGELOG.md
Labels: none

backport of commit f98c05980e664594962fcd274d8afe2dc5319e93
  CHANGELOG.md
Labels: none

add security updates
  CHANGELOG.md
Labels: none

chore: Fix spacing
  CHANGELOG.md
Labels: none

backport of commit 797d58d5c7c312948471b95c35b0eedcc5c684e7
  CHANGELOG.md
Labels: none

chore: Update changelog for 0.20.3 release (#6652)
  CHANGELOG.md
Labels: none

Backport of chore: Update changelog for 0.20.3 release into release/0.20.x (#6654)
  CHANGELOG.md
Labels: none

Adding feature log to 0.19.x (#6653)
  CHANGELOG.md
Labels: none

backport of commit 5b13aa147e06e41289a7338ebfc1e92a2f8dc2ca (#6655)
  CHANGELOG.md
Labels: none

Backport of feat(pprof): Enable pprof endpoints behind flag into release/0.20.x (#6647)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

Backport of feat(pprof): Enable pprof endpoints behind flag into release/0.19.x (#6646)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  testing/TRACING.md
Labels: core

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
