Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

chore: Update slack channel id for CRT
  .release/ci.hcl
Labels: none

chore: Update slack channel id for CRT (#6150)
  .release/ci.hcl
Labels: none

chore(e2e): Remove unused line
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
Labels: none

docs: Fixes remaining 0.19.x redirects
  website/redirects.js
Labels: website

docs: Updates reference doc page
  website/content/docs/index.mdx
Labels: website

chore(e2e): Remove unused line (#6152)
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
Labels: none

added variable in build script
  enos/modules/build_boundary_docker_local/build.sh
  enos/modules/build_local/templates/build.sh
Labels: none

docs: Fixes
  website/redirects.js
Labels: website

cr
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
  scripts/build-ui.sh
Labels: none

updates diagram, adds light and dark mode versions
  website/content/docs/architecture/high-availability.mdx
  website/public/img/boundary-network.png
  website/public/img/boundary-network_dark.png
  website/public/img/boundary-network_light.png
Labels: website

backport of commit 3cde7d282153dcb8dec10d8d803e08779780112c
  website/content/docs/architecture/high-availability.mdx
  website/public/img/boundary-network.png
  website/public/img/boundary-network_dark.png
  website/public/img/boundary-network_light.png
Labels: website

backport of commit 3cde7d282153dcb8dec10d8d803e08779780112c
  website/content/docs/architecture/high-availability.mdx
  website/public/img/boundary-network.png
  website/public/img/boundary-network_dark.png
  website/public/img/boundary-network_light.png
Labels: website

docs: Fix version 0.19.x redirects (#6128)
  website/content/docs/index.mdx
  website/redirects.js
Labels: website

docs: Fix version 0.19.x redirects (#6128)
  website/content/docs/index.mdx
  website/redirects.js
Labels: website

docs: Fix version 0.19.x redirects (#6128)
  website/content/docs/index.mdx
  website/redirects.js
Labels: website

feat(credential/vault): Implement repository for vault password credential
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

docs: Fix version 0.19.x redirects (#6128) (#6157)
  website/content/docs/index.mdx
  website/redirects.js
Labels: website

docs: Fix version 0.19.x redirects (#6128) (#6158)
  website/content/docs/index.mdx
  website/redirects.js
Labels: website

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

updates diagram, adds light and dark mode versions (#6154)
  website/content/docs/architecture/high-availability.mdx
  website/public/img/boundary-network.png
  website/public/img/boundary-network_dark.png
  website/public/img/boundary-network_light.png
Labels: website

backport of commit 3cde7d282153dcb8dec10d8d803e08779780112c (#6160)
  website/content/docs/architecture/high-availability.mdx
  website/public/img/boundary-network.png
  website/public/img/boundary-network_dark.png
  website/public/img/boundary-network_light.png
Labels: website

moves resource-table.mdx to internal/website/permstable
  internal/website/permstable/resource-table.mdx
Labels: core

updates location of generated resource-table.mdx file to internal/website/permstable/
  internal/website/permstable/permstable.go
Labels: core

cr
  enos/enos-variables.hcl
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

cr
  scripts/build-ui.sh
Labels: none

cr
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

cr
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

cr
  scripts/build-ui.sh
Labels: none

cr
  scripts/build-ui.sh
Labels: none

cr
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

cr
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

cr
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

changed variable name
  enos/modules/build_boundary_docker_local/build.sh
  enos/modules/build_local/templates/build.sh
  scripts/build-ui.sh
Labels: none

cr
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

docs: Fixes redirects
  website/redirects.js
Labels: website

backport of commit a244b6b3b7aeac6fe12511aaa2536de69a5585be
  website/redirects.js
Labels: website

chore(e2e): Add some dependencies for RDP automation
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

cr
  scripts/build-ui.sh
Labels: none

chore(e2e): Add source override to admin ui build script
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_local/build.sh
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
  enos/modules/build_local/templates/build.sh
  scripts/build-ui.sh
Labels: none

backport of commit 78f49923ce1a06b849c88da3fcdbb6522be284bd
  website/content/docs/api-clients/desktop.mdx
Labels: website
