Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Update release notes for transparent sessions (#5784) (#5801)
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts

docs: Update TS documentation for GA (#5761) (#5800)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

docs: Remove beta labels
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Update with newest test results
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
Labels: website, docs/configuration

docs: Document known issue with transparent sessions
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

backport of commit 3b83003e49f0824fad7ad7979b124897e060386a
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

backport of commit 3b83003e49f0824fad7ad7979b124897e060386a
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

wip
  internal/db/schema/migrations/oss/postgres/.96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/.96/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/.96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/.96/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/.96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres_100_01_test.go
Labels: core, core/db, core/sql

Create query: grantsForUserProjectResourcesGlobalScopeQuery
  internal/iam/query.go
Labels: core, core/iam, core/sql

Create query: grantsForUserProjectResourcesOrgScopeQuery
  internal/iam/query.go
Labels: core, core/iam, core/sql

Create repo function: grantsForUserProjectResourcesRecursiveScopes
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Add recursive testcases to existing grantsForUserProjectResource test function
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Address PR feedback
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

docs: Add interoperability matrix (#5478)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Add interoperability matrix (#5478)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Add interoperability matrix (#5478) (#5805)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Add interoperability matrix (#5478)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Add interoperability matrix (#5478) (#5806)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

backport of commit 8a9ea6d96a139b96f3148e011edc6277efca9f0c
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

docs: Soften langauge in issue description
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

backport of commit 8a9ea6d96a139b96f3148e011edc6277efca9f0c
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

Add migrations
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db, core/sql

Update website/content/docs/configuration/worker/index.mdx
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

backport of commit c26c9253a076a3715e31b320679ef0660bcbf7c9
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

docs: Minor edits
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

boundary/mini-docs day 2 - configuration/worker/index (#5730)
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

boundary/mini-docs day 2 - configuration/worker/index (#5730)
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

backport of commit dce2c36ffbaff53ee439404e4b7954da2b7d7383
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website

backport of commit dce2c36ffbaff53ee439404e4b7954da2b7d7383
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website

docs: Minor edits
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website

update migrations and tests
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db, core/sql

boundary/mini-docs day 2 - configuration/worker/index (#5730) (#5810)
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

Update system reqs (#5727)
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website

clean up removed files
  internal/db/schema/migrations/oss/postgres/.96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/.96/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/.96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/.96/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/.96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/100/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/100/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/100/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/100/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_100_01_test.go
Labels: core, core/db, core/sql

Update system reqs (#5727)
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website

Update system reqs (#5727) (#5813)
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website

change 'illegal' to 'invalid'
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

Add 'Recursive' to query var naming
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

feat: grantsForUser for recursive Project resources (#5783)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Create query & repo function for grantsForUser for Global/Org/Project resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql
