Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Word choice
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

docs: Revise example
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

reverted scheduled job change
  enos/modules/aws_windows_worker/scripts/setup.ps1
Labels: none

docs: Document that grant strings allow multiple ids
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

backport of commit 189ac5c397c40063d1628f1802e69feac14156e0
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

backport of commit afb53446ff8b3fc8e39c3b23e801c3d4683e5ecc
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

Update website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

chore(e2e): Add module for rdp member server
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server/variables.tf
  enos/modules/aws_rdp_server/outputs.tf
  enos/modules/aws_windows_client/variables.tf
  enos/modules/test_e2e/main.tf
Labels: none

CR: Update Domain mode to be compatible with newer versions of Windows
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: none

docs: Document that grant strings allow multiple ids (#5975)
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

docs: Document that grant strings allow multiple ids (#5975)
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

docs: Document that grant strings allow multiple ids (#5975) (#5979)
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

docs: Add versioned redirect
  website/redirects.js
Labels: website

CR: Add comments to ports
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: none

CR: Simplify adding computer to the domain
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

chore(e2e): Add module for rdp member server (#5976)
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server/variables.tf
  enos/modules/aws_rdp_server/outputs.tf
  enos/modules/aws_windows_client/variables.tf
  enos/modules/test_e2e/main.tf
Labels: none

merged member server and made changes to worker
  enos/enos-scenario-e2e-aws-rdp-windows-worker.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_windows_worker/main.tf
  enos/modules/aws_windows_worker/outputs.tf
  enos/modules/aws_windows_worker/variables.tf
Labels: none

additional merge changes
  enos/enos-scenario-e2e-aws-windows.hcl
Labels: none

cr
  enos/enos-scenario-e2e-aws-windows.hcl
Labels: none

cr
  enos/modules/aws_windows_worker/main.tf
Labels: none

cr
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
Labels: none

chore(sqltest): update deprecated NZ timezone
  internal/db/sqltest/tests/hcp/billing/monthly_active_users_all_timezone.sql
  internal/db/sqltest/tests/hcp/billing/monthly_timezone.sql
Labels: core, core/db, core/sql

update sql test matrix
  .github/workflows/test-sql.yml
Labels: none

test(grants): Use 'continue' when iterating over expected outputs
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
Labels: core, core/daemon

cr
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
  enos/modules/aws_windows_client/main.tf
Labels: none

cr
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker.hcl
  enos/modules/aws_windows_client/main.tf
Labels: none

docs: Adds versioned redirects
  website/redirects.js
Labels: website

cr
  enos/modules/aws_windows_client/main.tf
Labels: none

add usage history
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
Labels: core, core/db, core/sql

chore(sqltest): update test-sql matrix
  .github/workflows/test-sql.yml
Labels: none

cr
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

feat: upgrade node version to v22
  .github/workflows/test-cli-ui_oss.yml
  scripts/build-ui.sh
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website

docs: Adds versioned redirects
  website/redirects.js
Labels: website

revert
  scripts/build-ui.sh
Labels: none

cr
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
Labels: none

chore(e2e): Added windows based boundary worker scenario and module (#5973)
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

test(e2e): Update log level to debug
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
  enos/modules/aws_boundary/templates/controller_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/controller_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/templates/worker_bsr.hcl
  enos/modules/aws_boundary/templates/worker_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_boundary/templates/worker_vault_kms.hcl
  enos/modules/docker_boundary/boundary-config-bsr.hcl
  enos/modules/docker_boundary/boundary-config-init.hcl
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  enos/modules/docker_boundary/boundary-config.hcl
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
Labels: none

chore(e2e): Ensure domain controller reboots
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: none

chore(e2e): Increase test timeout to 30m
  enos/modules/test_e2e_docker/main.tf
Labels: none

chore(e2e): Increase test timeout to 30m (#5987)
  enos/modules/test_e2e_docker/main.tf
Labels: none
