Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

backport of commit e0ef9be90f27fd56fd8b60d4e3f70a8402a22d84
  enos/README.md
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_worker/main.tf
Labels: none

revert node version for GHA (#6000)
  .github/workflows/test-cli-ui_oss.yml
Labels: none

docs: Fixes redirects
  website/redirects.js
Labels: website

docs: Fix redirect
  website/redirects.js
Labels: website

docs: Restoring deleted file
  website/content/docs/commands/connect/mysql.mdx
Labels: website

Update Go version to 1.25.1
  .go-version
Labels: none

Allow including IBM license docs in docker image builds (#6012)
  .dockerignore
Labels: none

Update Go version to 1.25.1 (#6013)
  .go-version
Labels: none

troubleshooting
  website/redirects.js
Labels: website

Update documentation to include RDP in credential injection
  website/content/docs/overview/bastion-hosts.mdx
Labels: website

didn't mean to delete that part
  website/redirects.js
Labels: website

small content change
  website/content/security.mdx
Labels: website

Update FAQ on Boundary and Vault integration
  website/content/docs/overview/faq.mdx
Labels: website

remove trailing commas
  website/redirects.js
Labels: website

move example comment
  website/redirects.js
Labels: website

[DOCS] Troubleshooting redirects (#6015)
  website/content/security.mdx
  website/redirects.js
Labels: website

update documentation on credential stores and workflows for RDP
  website/content/docs/credentials/index.mdx
Labels: website

small content change
  website/content/docs/index.mdx
Labels: website

[DOCS] Troubleshooting redirects (#6015)
  website/content/security.mdx
  website/redirects.js
Labels: website

[DOCS] Troubleshooting redirects (#6015)
  website/content/security.mdx
  website/redirects.js
Labels: website

update static credential store documentation to include upd credential creation
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website

[DOCS] Troubleshooting redirects (#6015)
  website/content/security.mdx
  website/redirects.js
Labels: website

update documentation for credential injection setup
  website/content/docs/credentials/configure-credential-injection.mdx
Labels: website

updates permsFile with new resource table path
  internal/website/permstable/permstable.go
Labels: core

[DOCS] Troubleshooting redirects (#6015) (#6017)
  website/content/security.mdx
  website/redirects.js
Labels: website

[DOCS] Troubleshooting redirects (#6015) (#6018)
  website/content/security.mdx
  website/redirects.js
Labels: website

small content change (#6016)
  website/content/docs/index.mdx
Labels: website

Update 'credentials create' command documentation for upd credential type
  website/content/docs/commands/credentials/create.mdx
Labels: website

small content change (#6016)
  website/content/docs/index.mdx
Labels: website

fixed typo in UPD options
  website/content/docs/commands/credentials/create.mdx
Labels: website

small content change (#6016)
  website/content/docs/index.mdx
Labels: website

small content change (#6016)
  website/content/docs/index.mdx
Labels: website

small content change (#6016) (#6021)
  website/content/docs/index.mdx
Labels: website

small content change (#6016) (#6022)
  website/content/docs/index.mdx
Labels: website

updates permsFile with new resource table path (#6020)
  internal/website/permstable/permstable.go
Labels: core

updates permsFile with new resource table path (#6020)
  internal/website/permstable/permstable.go
Labels: core

updates permsFile with new resource table path (#6020)
  internal/website/permstable/permstable.go
Labels: core

updates permsFile with new resource table path (#6020) (#6024)
  internal/website/permstable/permstable.go
Labels: core

updates permsFile with new resource table path (#6020) (#6025)
  internal/website/permstable/permstable.go
Labels: core

fix(rdp): delete session proxy cert on project scope deletion
  internal/db/schema/migrations/oss/postgres/98/06_target_credential_injection_certificates.up.sql
Labels: core, core/db, core/sql
