Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

backport of commit 9154f025fd50ed20d5444f7106e7e996d848a7fd
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker_hcp_bsr.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
Labels: none

Added redis user with user/pass.
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Add --askpass to args in the case where boundary does not provide a credential
  internal/cmd/commands/connect/redis.go
Labels: core

Setup redis in docker for e2e testing. Still need to set up redis user in docker setup
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

backport of commit c74175a25ac257262dab0d18c7b542bde0faa621
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/redis.go
Labels: core

add redis connect support
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/redis.go
Labels: core

backport of commit 809e661a0e8abe0d69119d9e2a1e611891660520
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Update docs and changelog
  CHANGELOG.md
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/redis.mdx
  website/data/docs-nav-data.json
Labels: website

backport of commit 903a62adcd4fc8f7149c1da62fc37428b3319172
  CHANGELOG.md
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/redis.mdx
  website/data/docs-nav-data.json
Labels: website

Removing e2e tests for now, will revisit in a separate task
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Skipping connect redis e2e test
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Skipping connect redis e2e test, commenting some parts out to make manual testing less tedious
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Cleanup comments and e2e test
  internal/cmd/commands/connect/redis.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: core

Added follow-up task id
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Revert "Removing e2e tests for now, will revisit in a separate task"
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

make fmt
  internal/cmd/commands/connect/redis.go
Labels: core

Cleanup
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Run make gen
  testing/internal/e2e/infra/docker.go
Labels: none

chore(e2e): Update windows worker module to support other configs (#6077)
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker_hcp_bsr.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
Labels: none

ICU-14484: redis connect helper (#6001)
  CHANGELOG.md
  enos/modules/test_e2e_docker/test.sh
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/redis.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/redis.mdx
  website/data/docs-nav-data.json
Labels: core, website

refactor db files
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
  internal/db/schema/migrations/oss/postgres/98/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/98/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/98/04_app_token_project.up.sql
Labels: core, core/db, core/sql

backport of commit 9154f025fd50ed20d5444f7106e7e996d848a7fd (#6079)
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker_hcp_bsr.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
Labels: none

fix(e2e): Address flake in session count
  testing/internal/e2e/tests/base/search_test.go
Labels: none

fix(e2e): Address flake in cache status
  testing/internal/e2e/tests/base/search_test.go
Labels: none

backport of commit d9f8190ec860dab99189e9936ce1956a815deb0b
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

fix(e2e): Use worker config from variable
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

chore(e2e): Add controller and worker ips to output of scenario (#6060)
  enos/enos-scenario-e2e-ui-aws.hcl
Labels: none

fix(e2e): Use worker config from variable (#6081)
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit d9f8190ec860dab99189e9936ce1956a815deb0b (#6082)
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit adff0d8a69fe7d535f2712064edcc4142ed0e21f
  CHANGELOG.md
Labels: none

0.20.0 changelog update
  CHANGELOG.md
Labels: none

0.20.0 changelog update (#6083)
  CHANGELOG.md
Labels: none

Update FAQ on Boundary and Vault integration
  website/content/docs/overview/faq.mdx
Labels: website

Update documentation to include RDP in credential injection
  website/content/docs/overview/bastion-hosts.mdx
Labels: website

Update website/content/docs/credentials/configure-credential-injection.mdx
  website/content/docs/credentials/configure-credential-injection.mdx
Labels: website

docs: Minor edit
  website/content/docs/release-notes/v0_20_0.mdx
Labels: website

docs: Add NTLMV2 to cred management statement
  website/content/docs/concepts/credential-management.mdx
Labels: website, docs/concepts

Update create.mdx with instructions for RDP targets
  website/content/docs/commands/targets/create.mdx
Labels: website

docs: Remove SSH cert from brokered creds
  website/content/docs/concepts/credential-management.mdx
Labels: website, docs/concepts

docs: Respond to feedback
  website/content/docs/credentials/index.mdx
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website
