Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore: Update changelog for 0.19.1 - release branch (#5703)
  CHANGELOG.md
Labels: none

Add rules to suppress newly discovered CVEs (#5700)
  .release/security-scan.hcl
Labels: none

Add rules to suppress newly discovered CVEs (#5700)
  .release/security-scan.hcl
Labels: none

Add rules to suppress newly discovered CVEs (#5700) (#5707)
  .release/security-scan.hcl
Labels: none

domain: iam: upgrade repository code to use new tables (#5643)
  internal/db/schema/migrations/oss/postgres/100/07_oplog_ticket.up.sql
  internal/iam/immutable_fields_test.go
  internal/iam/query.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/testing.go
Labels: core, core/db, core/iam, core/sql

Domain: iam: Repository: update list-grant-scope and test setup to use new model (#5679)
  Makefile
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_scope.go
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
  internal/iam/role_test.go
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/iam/store/role_org_individual_grant_scope.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_org_individual_grant_scope.proto
Labels: core, core/daemon, core/db, core/iam, core/proto, core/sql

docs: Update release notes
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

test(iam): Extend TestGrantsForUser to include Account resource
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

test(iam): Refactor GrantsForUser tests into a single test
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

bump ui commit ca3972c
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 1ba4cb57e77d15549c38f399b3e30f6ffd488402
  internal/ui/VERSION
Labels: core, core/ui

refactor repository_role_grant_scope.go again
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/role.go
Labels: core, core/iam

run make gen
  internal/iam/repository_role_grant_scope.go
  internal/iam/role.go
Labels: core, core/iam

bump ui commit ca3972c (#5709)
  internal/ui/VERSION
Labels: core, core/ui

feat: grantsForUser for Global Resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Update query based on change to bifurcate individual table
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Create subtests for different resources
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Return grant.grant_scope instead of the request scope
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Remove 'individual' subquery & unused reqScope parameter
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Use sql.Named for better readability
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Fix op function name
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Remove individual grant scope logic from global resource repo function
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Fix row scan order
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

no longer embed Resource in roleScopeGranter interface and make interface all internal functions
  internal/iam/role.go
Labels: core, core/iam

add additional test case
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

fix minor typo
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

add a constraint check for iam_role_org.grant_scope
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
Labels: core, core/db, core/sql

refactor and comment repository_role_grant_scope.go and add test cases
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

remove unused code
  internal/iam/role.go
Labels: core, core/iam

rename roleScopeGranter to roleGrantScopeUpdater
  internal/iam/repository_role_grant_scope.go
  internal/iam/role.go
Labels: core, core/iam

docs: Note that IPv4 and IPv6 are mandatory (#5670)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

backport of commit 9aa30efb0f2ba54457174bea7c005e4203df3971
  website/content/docs/api-clients/client-agent.mdx
Labels: website

docs: Remove abelist language
  website/content/docs/api-clients/client-agent.mdx
Labels: website

backport of commit 9ff8657c8e1f48c3791a46b14ff8427333abe2b8
  website/content/docs/api-clients/client-agent.mdx
Labels: website

docs: Remove ableist language
  website/content/docs/api-clients/client-agent.mdx
Labels: website

ListResolvableAliasesPermissions Hotfix (#5673)
  internal/alias/target/repository_alias_list_resolvable.go
  internal/alias/target/service_list_resolvable_ext_test.go
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core, core/perms

Update mod files
  api/go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

Update golang.org/x/oauth2
  go.mod
  go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
Labels: none

Update mod files and oauth2 dep (#5714)
  api/go.mod
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

docs: Update Client Agent errors and conflicting software (#5674)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
