Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Clean up migrated tables (#5837)
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db, core/sql

Bosorawis domain iam implement role grant scopes all (#5701)
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_test.go
  internal/iam/role.go
  internal/iam/role_grant_scope.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
Labels: core, core/iam, core/proto

feat: grantsForUser for Project resources (#5669)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

feat: grantsForUser for Org resources (#5663)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Change reqScope parameter type from `Scope` to `string` (#5748)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

update tests to not check a table that will be dropped in the migration (#5847)
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

feat: migration hook grants refactor (#5733)
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

fix broken sql from removing iam role grant scope (#5860)
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/initdb.d/04_foodtruck_persona.sql
  internal/db/sqltest/tests/iam/grant_scope_validation.sql
Labels: core, core/db, core/sql

test: add grants tests for auth tokens resource (#5644)
  internal/daemon/controller/handlers/authtokens/grants_test.go
Labels: core, core/daemon

Add grants tests for accounts (#5566)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/perms/grants.go
Labels: core, core/daemon, core/perms

test: add grants tests for host_catalogs (#5573)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

feat: add grant_this_role_scope column to iam_role_project (#5738)
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/sqltest/tests/iam/iam_role_project.sql
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_scope.go
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/store/role_project.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_project.proto
Labels: core, core/db, core/iam, core/proto, core/sql

feat: grantsForUser for recursive Global or Org resources (#5747)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

add authorized actions tests for resources with sub-resources (#5835)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

test(hostsets): add grants tests (#5591)
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/host/static/testing.go
Labels: core, core/daemon, core/host

Support previous grants use-cases (#5823)
  internal/auth/additional_verification_test.go
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/auth/oidc/testing.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_scope.go
  internal/iam/testing.go
  internal/tests/api/roles/role_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
Labels: core, core/auth, core/daemon, core/iam, core/sql, core/types

Add grants tests for authmethods (#5569)
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

feat: add grants tests for billing resource (#5559)
  internal/daemon/controller/handlers/billing/grants_test.go
Labels: core, core/daemon

Test: GrantsForUser for Accounts for various user to role relationships (#5631)
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

Refactor GrantsForUser subqueries to use aggregate functions (#5822)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

update go mod
  go.mod
Labels: none

chore: Update nodeenrollment
  go.mod
  go.sum
Labels: none

chore: Bump Go version to 1.24.4
  .go-version
  go.mod
Labels: none

docs: Updates
  website/content/docs/workers/configure-workers/worker-configuration.mdx
  website/content/docs/workers/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website

update hook number
  internal/db/schema/migrations/oss/oss.go
Labels: core, core/db

update prior migration
  internal/db/schema/migrations/oss/postgres_97_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
Labels: core, core/db

Update website/content/docs/release-notes/v0_19_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

move 97005 to 97001 for consistency
  internal/db/schema/migrations/oss/internal/hook97001/hook.go
  internal/db/schema/migrations/oss/internal/hook97001/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
Labels: core, core/db, core/sql

run make gen and move new migrations to new folder (#5862)
  internal/db/schema/migrations/oss/internal/hook96005/hook.go
  internal/db/schema/migrations/oss/internal/hook96005/query.go
  internal/db/schema/migrations/oss/internal/hook97001/hook.go
  internal/db/schema/migrations/oss/internal/hook97001/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres/97/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/97/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/97/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/97/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/97/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_03_test.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/store/role_org_individual_grant_scope.pb.go
  internal/iam/store/role_project.pb.go
Labels: core, core/db, core/iam, core/sql

docs: Updates
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/hosts/discovery/aws.mdx
  website/content/docs/hosts/discovery/azure.mdx
  website/content/docs/hosts/discovery/gcp.mdx
  website/content/docs/hosts/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

docs: Fix typo
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

test: add grants tests for session resource (#5855)
  internal/daemon/controller/handlers/sessions/grants_test.go
  internal/daemon/controller/handlers/sessions/session_service.go
Labels: core, core/daemon

test: add grants tests for session resource (#5855)
  internal/daemon/controller/handlers/sessions/grants_test.go
  internal/daemon/controller/handlers/sessions/session_service.go
Labels: core, core/daemon

Refactor GrantsForUser() to perform query resolution & data mapping
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Remove redundant recursive test
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Add validation for nil resource type
  internal/iam/repository_role_grant.go
Labels: core, core/iam

docs: Fix links
  website/content/docs/hosts/index.mdx
  website/content/docs/overview/pam.mdx
  website/content/docs/overview/sdp.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

remove dead code
  internal/iam/repository_role_grant.go
Labels: core, core/iam

'List' tests for scopes
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

'Get' tests for scopes
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
