Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Change naming to be consistent with other grantsForUser functions
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

wip
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

handle recursive call in s.authResult
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
Labels: core, core/daemon

handle explicit resource type in aclAndGrantHashForUser
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

add recursive options to auth
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
Labels: core, core/daemon

add godoc comment on GrantsForUser
  internal/iam/repository_role_grant.go
Labels: core, core/iam

update interceptor_test.go to use resource.Scope for testing auth.Verify
  internal/daemon/controller/interceptor_test.go
Labels: core, core/daemon

rewrite GrantsForUser tests to match the new expectation
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

add resource.Type to auth.Verify callchain
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/iam/repository_role_grant.go
Labels: core, core/daemon, core/iam

internal/daemon/controller/handlers/accounts/account_service_test.go fix GrantsForUser signature
  internal/daemon/controller/handlers/accounts/account_service_test.go
Labels: core, core/daemon

remove unused options
  internal/iam/options.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam

remove WithType option
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
Labels: core, core/daemon

move GrantsForUser test to internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

internal/auth/ldap/managed_group_role_grants_test.go fix GrantsForUser signature
  internal/auth/ldap/managed_group_role_grants_test.go
Labels: core, core/auth

update internal/auth/additional_verification_test.go to no longer use WithType
  internal/auth/additional_verification_test.go
Labels: core, core/auth

update GrantsForUser godoc
  internal/iam/repository_role_grant.go
Labels: core, core/iam

add mix type assignment to TestGrantsForUser
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

add recursive options to iam
  internal/iam/options.go
  internal/iam/options_test.go
Labels: core, core/iam

replace GrantsForUser tests with a new version with scoped down grants
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

use resource.Scope to test Audit events
  internal/daemon/controller/auth/auth_test.go
Labels: core, core/daemon

fix missing import from rebase
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

docs: Document known issue with transparent sessions (#5802)
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

Backport of docs: Document known issue with transparent sessions into release/0.19.x (#5817)
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

rebase onto bosorawis-sql-grants-migration-hook
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db, core/sql

Migrate ui-related scripts to use pnpm instead of yarn
  .github/workflows/enos-run.yml
  enos/modules/build_local/templates/build.sh
  enos/modules/test_e2e_ui/main.tf
  scripts/build-ui.sh
Labels: none

change 'illegal' to 'invalid'
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

fix missing err check
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db

make gen
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

Apply suggestions from code review
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

scaffolding
  internal/db/schema/migrations/oss/internal/hook96001/query.go
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db, core/sql

sql formatting
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

implement FindIllegalAssociations for 97006 hook
  internal/db/schema/migrations/oss/internal/hook96001/query.go
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

sql formatting
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

refactor findIllegalAssociation query
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

pr feedback fix hook fix message wording
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db

comments
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db

implement RepairIllegalAssociations and refactor queries
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

update comment
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db

rename migration number
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
Labels: core, core/db, core/sql

chore(e2e): Set auth_storage_path to a non-temp directory (#5786)
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/scripts/create-dir.sh
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/scripts/create-dir.sh
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
