Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

chore(e2e): Fix availability zone check
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/modules/aws_az_finder/main.tf
Labels: none

docs: Client Agent 0.19.6 updates
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
Labels: website, docs/concepts, docs/configuration

docs: Document resolution of known issues
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

chore(e2e): Fix availability zone check (#5935)
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/modules/aws_az_finder/main.tf
Labels: none

backport of commit 74aedfa3f48c90f2072cc7c6bc5a17978ada1d81
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Minor fixes
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Reword sentence
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 202d3af1d624bf07f7b2e358e28b57360336013b
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Move worker filter examples
  website/content/docs/workers/filters.mdx
  website/content/docs/workers/index.mdx
  website/content/docs/workers/worker-tags.mdx
  website/content/partials/workers/worker-filter-for-targets.mdx
Labels: website

chore(e2e): Set correct az for rdp target
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-variables.hcl
Labels: none

chore(e2e): Set correct az for vault
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
Labels: none

chore(e2e): Set correct availability zones for scenarios (#5937)
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-variables.hcl
Labels: none

fix: return error when listen port already in use
  internal/cmd/commands/connect/connect.go
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
Labels: core

Initial Cassandra Command Support For cqlsh
  internal/cmd/commands/connect/cassandra.go
  internal/cmd/commands/connect/connect.go
Labels: core

Add Make Gen
  internal/cmd/commands.go
  internal/cmd/commands/connect/cassandra.go
Labels: core

Init cassandra
  testing/internal/e2e/infra/docker.go
Labels: none

docs: Fix links
  website/content/docs/concepts/iam.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/deploy-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/self-managed/install.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/domain-model/index.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/getting-started/dev-mode/run-and-login.mdx
  website/content/docs/hosts/index.mdx
  website/content/docs/rbac/users/manage-users-groups.mdx
  website/content/docs/secure/encryption/data-encryption.mdx
  website/content/docs/session-recording/configuration/create-storage-bucket.mdx
  website/content/docs/session-recording/configuration/manage-recorded-sessions.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-s3-compliant.mdx
  website/content/docs/session-recording/data/read-bsr-file.mdx
  website/content/docs/targets/connections/connect-target-alias.mdx
  website/content/docs/targets/connections/transparent-sessions.mdx
  website/content/docs/workers/filters.mdx
  website/content/docs/workers/multi-hop/enterprise.mdx
  website/content/docs/workers/multi-hop/hcp.mdx
  website/content/docs/workers/multi-hop/index.mdx
  website/content/docs/workers/registration.mdx
  website/content/partials/workers/egress-worker-config.mdx
  website/content/partials/workers/single-worker-config.mdx
Labels: website, docs/concepts, docs/getting-started

backport of commit 879bdd5d6cff261839ce10e6cd06a474eeb4e43f
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

docs: add Alias to domain model overview
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

add error handling to port check
  internal/cmd/commands/connect/connect.go
Labels: core

update test
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
Labels: none

e2e(test): Created module for windows client
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/enos-variables.hcl
  enos/modules/aws_client_windows/main.tf
  enos/modules/aws_client_windows/outputs.tf
  enos/modules/aws_client_windows/scripts/setup.ps1
  enos/modules/aws_client_windows/variables.tf
  enos/modules/build_local/main.tf
  enos/modules/build_local/templates/build.sh
  enos/modules/test_e2e/main.tf
Labels: none

docs: add storage policy to domain model overview
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

backport of commit 25ca234a38274cc0b63deace9fd99623851e740a
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

backport of commit 25ca234a38274cc0b63deace9fd99623851e740a
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

remove bool return value
  internal/cmd/commands/connect/connect.go
Labels: core

Init cassandra
  cassandra.yaml
  enos/enos.vars.hcl
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Initial Cassandra Command Support For cqlsh
  internal/cmd/commands/connect/cassandra.go
  internal/cmd/commands/connect/connect.go
Labels: core

Add Make Gen
  internal/cmd/commands.go
  internal/cmd/commands/connect/cassandra.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: core

adding cassandra test
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra.go
Labels: none

Cleanup cassandra docker setup
  testing/internal/e2e/infra/docker.go
Labels: none

Adding container wait
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

remove comment
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
Labels: none

docs: add Alias, Storage Policy to domain model overview (#5941)
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

docs: add Alias, Storage Policy to domain model overview (#5941)
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

Container restart
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Minor Fix
  enos/enos.vars.hcl
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

docs: add Alias, Storage Policy to domain model overview (#5941) (#5946)
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

Initial Cassandra Command Support For cqlsh (#5940)
  internal/cmd/commands.go
  internal/cmd/commands/connect/cassandra.go
  internal/cmd/commands/connect/connect.go
Labels: core

add err handling for proxy start
  internal/cmd/commands/connect/connect.go
Labels: core
