Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

domain: iam: upgrade repository code to use new tables (#5643)
  internal/db/schema/migrations/oss/postgres/100/07_oplog_ticket.up.sql
  internal/iam/immutable_fields_test.go
  internal/iam/query.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/testing.go
Labels: core, core/db, core/iam, core/sql

bosorawis domain iam implement getRoleScopeType (#5629)
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_test.go
Labels: core, core/iam, core/sql

add name scope id unique constraints to all iam_role tables (#5623)
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
Labels: core, core/db, core/sql

Bosorawis domain iam implement role grant scopes all (#5701)
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_test.go
  internal/iam/role.go
  internal/iam/role_grant_scope.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
Labels: core, core/iam, core/proto

bosorawis sql split global grants scope table (#5638)
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/sqltest/tests/iam/iam_role_global.sql
  internal/db/sqltest/tests/iam/iam_role_org.sql
Labels: core, core/db, core/sql

feat: grantsForUser for Global Resources (#5612)
  go.mod
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Bosorawis domain iam role subtypes (#5626)
  Makefile
  globals/globals.go
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/100/05_iam_grant.up.sql
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/store/role_project.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
  internal/proto/controller/storage/iam/store/v1/role_project.proto
Labels: core, core/db, core/iam, core/proto, core/sql

feat: add grant_this_role_scope column to iam_role_project (#5738)
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/sqltest/tests/iam/iam_role_project.sql
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_scope.go
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/store/role_project.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_project.proto
Labels: core, core/db, core/iam, core/proto, core/sql

scaffolding
  internal/db/schema/migrations/oss/internal/hook96001/query.go
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db, core/sql

sql formatting
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

update comment
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db

comments
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db

implement RepairIllegalAssociations and refactor queries
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

refactor findIllegalAssociation query
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

fix missing err check
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db

implement FindIllegalAssociations for 97006 hook
  internal/db/schema/migrations/oss/internal/hook96001/query.go
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

make gen
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

rename migration number
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
Labels: core, core/db, core/sql

pr feedback fix hook fix message wording
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db

sql formatting
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

test(e2e): Skip pagination tests until large estimated count bug is addressed
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: none

test(e2e): Skip pagination tests until large estimated count bug is addressed (#5742)
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: none

test(e2e): Better skip message
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: none

Remove unnecessary check against GrantScopeThis
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Change name of field in query
  internal/iam/query.go
Labels: core, core/iam, core/sql

Refactor query to simplify repo function
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Ignore children & descendant grant scopes when querying org resources
  internal/iam/query.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Finish & format query
  internal/iam/query.go
Labels: core, core/iam, core/sql

Create grantsForUser query for Org resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Finish grantsForUserOrgResources test
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

test(e2e): Better skip message (#5743)
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: none

feat: grantsForUser for Org resources (#5663)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Reuse testInput
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Init project test
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Init project query + repo func
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Create tests for grantsForUserProjectResources
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Create grantsForUserProjectResources query
  internal/iam/query.go
Labels: core, core/iam, core/sql

Create grantsForUserProjectResources repo func
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Split up CTEs by grant scope and simplify repo function
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Add test cases for missing reqScope id
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
