Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Remove deprecation badge
  website/content/docs/commands/scopes/create.mdx
Labels: website

Bosorawis fix set role grant scope not handle children grant already exist (#5868)
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

additional tests to target resource
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

add test coverage for SetTargetCredentialSources
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

make gen
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

review suggestions
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

docs: Fix client agent topic
  website/content/docs/api-clients/client-agent.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Update Client Agent nav
  website/content/docs/client-agent/index.mdx
  website/data/docs-nav-data.json
Labels: website

test: add grants tests for target resource (#5861)
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

more list-resolvable test cases
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

add more test and found edge case with children grants
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

add some list-resolvable-aliases tests
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

fix missing fields
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

remove name, version, description from expect output_fields
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

resolve conflict
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

remove name and description from toProto and add godoc comment
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

fix edge case where resource ids not overlapping between parent and child are not considered
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core, core/perms

test: add grants test for user resource and fix ACL bug (#5869)
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core, core/daemon, core/perms

docs: Fix conflict
  website/content/docs/api-clients/client-agent.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Fix a typo in Client Agent docs (#5853)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

docs: Fix client agent topic
  website/content/docs/client-agent/index.mdx
  website/data/docs-nav-data.json
Labels: website

Generate pci review checklist in PR template
  .github/pull_request_template.md
Labels: none

bump ui commit 5d6e65f
  internal/ui/VERSION
Labels: core, core/ui

bosorawis remove TestRoleGrantsForToken (#5840)
  internal/authtoken/testing.go
Labels: core

remove one forgotten reference
  internal/daemon/controller/handlers/accounts/grants_test.go
Labels: core, core/daemon

bump ui commit 5d6e65f (#5871)
  internal/ui/VERSION
Labels: core, core/ui

bosorawis cherrypick authtoken.TestRoleGrantsForToken removal (#5872)
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/accounts/grants_test.go
Labels: core, core/daemon

Remove redundant TestCatalog initialization logic
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

Remove redundant TestCatalog initialization logic (#5874)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

Remove plugins from host catalog init logic
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

Remove plugins from host catalog init logic (#5875)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

fix list target not handling all resources permissions
  internal/target/repository.go
Labels: core, core/target

add test
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

fix same bug for session package
  internal/daemon/controller/handlers/sessions/grants_test.go
  internal/session/repository.go
Labels: core, core/daemon, core/session

split target tests to two separate tests
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

bug: fix list target permissions resource ID overriding all resource grants (#5877)
  internal/daemon/controller/handlers/sessions/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/session/repository.go
  internal/target/repository.go
Labels: core, core/daemon, core/session, core/target

make gen
  internal/gen/controller.swagger.json
  internal/gen/testing/event/testing.swagger.json
  internal/proto/controller/api/resources/accounts/v1/account.proto
  internal/proto/controller/api/resources/aliases/v1/alias.proto
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/services/v1/account_service.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/proto/controller/api/services/v1/credential_library_service.proto
  internal/proto/controller/api/services/v1/credential_service.proto
  internal/proto/controller/api/services/v1/credential_store_service.proto
  internal/proto/controller/api/services/v1/doc.proto
  internal/proto/controller/api/services/v1/group_service.proto
  internal/proto/controller/api/services/v1/host_catalog_service.proto
  internal/proto/controller/api/services/v1/host_service.proto
  internal/proto/controller/api/services/v1/host_set_service.proto
  internal/proto/controller/api/services/v1/managed_group_service.proto
  internal/proto/controller/api/services/v1/policy_service.proto
  internal/proto/controller/api/services/v1/role_service.proto
  internal/proto/controller/api/services/v1/scope_service.proto
  internal/proto/controller/api/services/v1/session_recording_service.proto
  internal/proto/controller/api/services/v1/session_service.proto
  internal/proto/controller/api/services/v1/storage_bucket_service.proto
  internal/proto/controller/api/services/v1/target_service.proto
  internal/proto/controller/api/services/v1/user_service.proto
  internal/proto/testing/options/v1/service.proto
Labels: core, core/gen, core/proto

add tests to all users API
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

add tests to all users API (#5879)
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

ci(security-scanner): Suppress GO-2025-3408 (#5493)
  .release/security-scan.hcl
Labels: none
