Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

backport of commit 78683a87b26c81815b6adbf338f54a534617e301
  website/content/docs/concepts/aliases.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

backport of commit 78683a87b26c81815b6adbf338f54a534617e301
  website/content/docs/concepts/aliases.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

docs: Document HTTPS naming convention for aliases
  website/content/docs/concepts/aliases.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

backport of commit 299538817ebdfad54a527041548608acdeedf4d5
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

docs: Punctuation fix
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

wip
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

docs: Document HTTPS naming convention for aliases (#5787)
  website/content/docs/concepts/aliases.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

docs: Document HTTPS naming convention for aliases (#5787)
  website/content/docs/concepts/aliases.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

docs: Document HTTPS naming convention for aliases (#5787) (#5790)
  website/content/docs/concepts/aliases.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

chore(e2e): Set auth_storage_path to a non-temp directory
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/scripts/create-dir.sh
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/scripts/create-dir.sh
Labels: none

handle explicit resource type in aclAndGrantHashForUser
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

remove WithType option
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
Labels: core, core/daemon

update internal/auth/additional_verification_test.go to no longer use WithType
  internal/auth/additional_verification_test.go
Labels: core, core/auth

add resource.Type to auth.Verify callchain
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/iam/repository_role_grant.go
Labels: core, core/daemon, core/iam

add mix type assignment to TestGrantsForUser
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

replace GrantsForUser tests with a new version with scoped down grants
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

add recursive options to auth
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
Labels: core, core/daemon

internal/auth/ldap/managed_group_role_grants_test.go fix GrantsForUser signature
  internal/auth/ldap/managed_group_role_grants_test.go
Labels: core, core/auth

handle recursive call in s.authResult
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
Labels: core, core/daemon

update interceptor_test.go to use resource.Scope for testing auth.Verify
  internal/daemon/controller/interceptor_test.go
Labels: core, core/daemon

remove unused options
  internal/iam/options.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam

add godoc comment on GrantsForUser
  internal/iam/repository_role_grant.go
Labels: core, core/iam

update GrantsForUser godoc
  internal/iam/repository_role_grant.go
Labels: core, core/iam

rewrite GrantsForUser tests to match the new expectation
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

internal/daemon/controller/handlers/accounts/account_service_test.go fix GrantsForUser signature
  internal/daemon/controller/handlers/accounts/account_service_test.go
Labels: core, core/daemon

add recursive options to iam
  internal/iam/options.go
  internal/iam/options_test.go
Labels: core, core/iam

use resource.Scope to test Audit events
  internal/daemon/controller/auth/auth_test.go
Labels: core, core/daemon

move GrantsForUser test to internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

fix missing import
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Apply suggestions from code review
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

backport of commit ecca8783dd46a4736371a8685b2e697af8dba9ae
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts

backport of commit ecca8783dd46a4736371a8685b2e697af8dba9ae
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts

docs: Remove known issue and add fix
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts

docs: Document version realignment (#5754)
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

docs: Update TS documentation for GA (#5761)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

docs: Update release notes for transparent sessions (#5784)
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts

Remove Duplicate Error Check That's Unreachable And Is Not Tested Against
  internal/server/rewrapping.go
Labels: core, core/server

docs: Update TS documentation for GA (#5761)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

docs: Update release notes for transparent sessions (#5784)
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts

Remove Duplicate Error Check That's Unreachable And Is Not Tested Against (#5799)
  internal/server/rewrapping.go
Labels: core, core/server

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
