Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

feat(credentials): Add PasswordAttributes credential type (#6110)
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

feat(handlers): CRUDL support for static password credential (#6181)
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

feat(cli): Add support for password credential in redis helper (#6213)
  api/proxy/credentials.go
  api/proxy/credentials_test.go
  internal/cmd/commands/connect/redis.go
  internal/db/schema/migrations/oss/postgres/101/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/infra/redis_docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_password_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_username_password_test.go
Labels: api, core, core/db, core/sql

fix(db): vault password library migration adjustments and mapping overrides (#6229)
  internal/credential/vault/mapping_overriders.go
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

Adding unimplemented message in cred service
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: core, core/daemon

Adding bats test
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
Labels: core

feat(credentials): Add PasswordAttributes credential type (#6110)
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(db): Add new tables for password credential type (#6101)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(cli): Add password credential CLI commands
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/proto

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

Spacing
  internal/tests/cli/boundary/credentials.bats
Labels: core

Re-organizing test
  internal/tests/cli/boundary/credentials.bats
Labels: core

Removing duplicate case
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: core, core/daemon

Removing duplicate case
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: core, core/daemon

feat(handlers): CRUDL support for static password credential (#6181)
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

Re-organizing test
  internal/tests/cli/boundary/credentials.bats
Labels: core

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(db): Add new tables for password credential type (#6101)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(credentials): Add PasswordAttributes credential type (#6110)
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

feat(handlers): CRUDL support for static password credential (#6181)
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

feat(cli): Add password credential CLI commands (#6117)
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/daemon, core/proto

feat(cli): Add support for password credential in redis helper (#6213)
  api/proxy/credentials.go
  api/proxy/credentials_test.go
  internal/cmd/commands/connect/redis.go
  internal/db/schema/migrations/oss/postgres/101/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/infra/redis_docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_password_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_username_password_test.go
Labels: api, core, core/db, core/sql

fix(db): vault password library migration adjustments and mapping overrides (#6229)
  internal/credential/vault/mapping_overriders.go
  internal/db/schema/migrations/oss/postgres/100/01_credential_vault_ldap_library.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_vault_library_refactor.up.sql
Labels: core, core/db, core/sql

fix(db): Update migration comments to reference correct folder (101 instead of 99)
  internal/db/schema/migrations/oss/postgres/98/02_username_password_domain_vault.up.sql
Labels: core, core/db, core/sql

test(e2e): Add windows client private ip to output
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

chore(e2e): Add helper func ConnectCliStdoutPipe
  testing/internal/e2e/boundary/connect.go
Labels: none

chore(e2e): Add helper func ConnectCliStdoutPipe (#6243)
  testing/internal/e2e/boundary/connect.go
Labels: none

fix(e2e): Only assign ipv6 address if available
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

change cli option such that -1 unsets timeout, 0 is default. fix proxy unused timeout on unset opt
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
Labels: api, core

fix(e2e): Fix ipv6 address argument (#6245)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

use process.Kill for windows because they don't like signals
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/end_process_nonwindows.go
  internal/cmd/commands/connect/end_process_windows.go
Labels: core

feat(query): Create query for recursive requests of global app token grants on Global/Org/Project resources
  internal/iam/query.go
Labels: core, core/iam, core/sql

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
