Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

updating the doc with anyconnect vpn conflicting software (#5989)
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website

updating the doc with anyconnect vpn conflicting software (#5989)
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website

updating the doc with anyconnect vpn conflicting software (#5989)
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website

updating the doc with anyconnect vpn conflicting software (#5989) (#6040)
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website

updating the doc with anyconnect vpn conflicting software (#5989) (#6041)
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website

chore(e2e): fixed enos scripts to allow for crt builder in windows scenario
  enos/modules/build_crt/main.tf
Labels: none

chore(e2e): fixed enos scripts to allow for crt builder in windows scenario (#6042)
  enos/modules/build_crt/main.tf
Labels: none

chore(e2e): Allow worker to run indefinitely
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
Labels: none

chore(e2e): Add time sync to ensure windows instances are in sync
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

docs: Minor rewrites for clarity
  website/content/docs/enterprise/licensing.mdx
Labels: website

docs: Fix broken link in Monitor Boundary
  website/content/docs/monitor/index.mdx
Labels: website

docs: Fix a typo
  website/content/docs/monitor/index.mdx
Labels: website

docs: Fix broken link in Monitor Boundary (#6044)
  website/content/docs/monitor/index.mdx
Labels: website

docs: Fix broken link in Monitor Boundary (#6044)
  website/content/docs/monitor/index.mdx
Labels: website

docs: Fix broken link in Monitor Boundary (#6044)
  website/content/docs/monitor/index.mdx
Labels: website

Bump internal/ui/VERSION commit to 39dedc6
  internal/ui/VERSION
Labels: core, core/ui

docs: Fix broken link in Monitor Boundary (#6044) (#6046)
  website/content/docs/monitor/index.mdx
Labels: website

docs: Fix broken link in Monitor Boundary (#6044) (#6045)
  website/content/docs/monitor/index.mdx
Labels: website

docs: Fix link, minor edits
  website/content/docs/enterprise/licensing.mdx
Labels: website

Bump internal/ui/VERSION commit to d2b8805
  internal/ui/VERSION
Labels: core, core/ui

Bump internal/ui/VERSION commit to d2b8805 (#6048)
  internal/ui/VERSION
Labels: core, core/ui

CR: Remove semicolons
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
Labels: none

docs: Update Huntress interoperability
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

Update website/content/docs/enterprise/licensing.mdx
  website/content/docs/enterprise/licensing.mdx
Labels: website

chore(e2e): Allow worker task on windows instances to run indefinitely (#6043)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
Labels: none

feat: add auth-source flag for MongoDB connect command
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mongo.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  website/content/docs/commands/connect/mongo.mdx
Labels: core, website

chore(e2e): Update firewall rules
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

stop sending events for cert not found
  internal/target/repository_proxy_server_certificate.go
Labels: core, core/target

fix(target): Quiet proxy server not found logs (#6050)
  internal/target/repository_proxy_server_certificate.go
Labels: core, core/target

fix(sess): grab kms wrapper before tx
  internal/daemon/controller/handlers/targets/target_service.go
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/daemon, core/target

Bump internal/ui/VERSION commit to 46d477e
  internal/ui/VERSION
Labels: core, core/ui

fix(sess): grab kms wrapper before tx (#6052)
  internal/daemon/controller/handlers/targets/target_service.go
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/daemon, core/target

Bump internal/ui/VERSION commit to 46d477e (#6053)
  internal/ui/VERSION
Labels: core, core/ui

create a deferral to automatically close sessions after creating them during boundary connect
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
Labels: api, core

fix(target): Skip fetching proxy server cert
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/target

backport of commit eaeb7333600be4e44e6afb4cabda4343d31fc717
  website/content/docs/client-agent/manage.mdx
Labels: website

backport of commit eaeb7333600be4e44e6afb4cabda4343d31fc717
  website/content/docs/client-agent/manage.mdx
Labels: website

update the disable client agent command
  website/content/docs/client-agent/manage.mdx
Labels: website

create a deferral to automatically close sessions after creating them during boundary connect (#6054)
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
Labels: api, core

docs: Fixes typos
  website/content/docs/secure/security-model.mdx
Labels: website
