Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

add test for validating unreachable vault
  internal/credential/vault/jobs_test.go
Labels: core

do not renew lease when lease expires
  internal/credential/vault/jobs.go
Labels: core

rename error matching function
  internal/credential/vault/jobs.go
Labels: core

stop revoking vault creds when credentials are expired
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
Labels: core

add test to validate that unexpired tokens are not set as expired
  internal/credential/vault/jobs_test.go
Labels: core

add expiration time validation to tests
  internal/credential/vault/jobs_test.go
Labels: core

stop renewing vault token when token has already expired
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
Labels: core

add token status validation
  internal/credential/vault/jobs_test.go
Labels: core

remove unnecessary renew from test
  internal/credential/vault/jobs_test.go
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

add small comment
  internal/credential/vault/jobs.go
Labels: core

fix token translation uses wrong time field and add tests
  internal/credential/vault/private_store.go
  internal/credential/vault/private_store_test.go
Labels: core

implement shutdown function in TestVaultServer
  internal/credential/vault/supported.go
Labels: core

clean up error checks
  internal/credential/vault/jobs.go
Labels: core

add shutdown function to TestVaultServer
  internal/credential/vault/testing.go
Labels: core

Add comment
  internal/credential/vault/jobs.go
Labels: core

modify credential_vault_token_renewal_revocation_view to include expiration_time
  internal/db/schema/migrations/oss/postgres/101/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

include TokenExpirationTime in clientStore
  internal/credential/vault/private_store.go
Labels: core

remove file created by merge conflict
  internal/db/schema/migrations/oss/postgres/101/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

fix lint
  internal/credential/vault/private_store_test.go
Labels: core

remove t.Parallel() comments
  internal/credential/vault/jobs_test.go
Labels: core

add more token status validation
  internal/credential/vault/jobs_test.go
Labels: core

rename error matching function
  internal/credential/vault/jobs.go
Labels: core

add test for validating unreachable vault
  internal/credential/vault/jobs_test.go
Labels: core

remove unused setup code
  internal/credential/vault/private_store_test.go
Labels: core

make gen
  internal/credential/vault/jobs_test.go
  internal/credential/vault/repository_test.go
Labels: core

stop revoking vault creds when credentials are expired
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
Labels: core

move migration to 103
  internal/db/schema/migrations/oss/postgres/103/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

do not renew lease when lease expires
  internal/credential/vault/jobs.go
Labels: core

use atomic for testvault.stopped
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
Labels: core

internal/cmd/commands/server/listener_reload_test.go remove t.Parallel() comment
  internal/cmd/commands/server/listener_reload_test.go
Labels: core

internal/cmd/commands/server/worker_initial_upstreams_reload_test.go remove t.Parallel
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
Labels: core

internal/cmd/commands/server/worker_tags_reload_test.go wait by polling worker instead of sleep
  internal/cmd/commands/server/worker_tags_reload_test.go
Labels: core

internal/daemon/worker/routing_info.go make deep copy in LastRoutingInfoSuccess to avoid race condition
  internal/daemon/worker/routing_info.go
Labels: core, core/daemon

internal/tests/cluster/parallel/orphaned_connections_test.go raise grace period time to allow test to wait for longer
  internal/tests/cluster/parallel/orphaned_connections_test.go
Labels: core

improve logging in sequential tests
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
Labels: core

move ports around and use t.Cleanup to send shutdown signal to test server
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
Labels: core

fix one typo
  internal/cmd/commands/server/listener_reload_test.go
Labels: core

do final assert in t.Cleanup instead of defer
  internal/cmd/commands/server/listener_reload_test.go
Labels: core

undo t.Cleanup change
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
Labels: core

add another signal to force shutdown running servers
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
Labels: core
