Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

backport of commit a5a95c301d02bd2b247d5498617083a05695d555
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit a5a95c301d02bd2b247d5498617083a05695d555
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

chore(e2e): Fix ubuntu image
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

chore: bump grpc version
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

oidc test case added
  internal/daemon/controller/handlers/authmethods/oidc_test.go
Labels: core, core/daemon

backport of commit 00ffef1e907a15f8f40850928925096c308d1c2e (#6509)
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit 00ffef1e907a15f8f40850928925096c308d1c2e (#6510)
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit 00ffef1e907a15f8f40850928925096c308d1c2e (#6511)
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

chore(e2e): Fix ubuntu image (#6513)
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

chore: bump grpc version (#6514)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

backport of commit a5a95c301d02bd2b247d5498617083a05695d555 (#6517)
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit a5a95c301d02bd2b247d5498617083a05695d555 (#6516)
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit a5a95c301d02bd2b247d5498617083a05695d555 (#6515)
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

chore: Update actions to use Node24
  .github/workflows/actionlint.yml
  .github/workflows/build-check.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: none

chore: bump sdk for plugins
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
Labels: none

chore(e2e): Remove go version variable
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-variables.hcl
  enos/modules/test_e2e_docker/main.tf
Labels: none

chore(e2e): Add workflow for running admin ui tests
  .github/workflows/build.yml
  .github/workflows/enos-run-admin-ui.yml
Labels: none

Run Boundary containers as non-root user
  .release/docker/docker-entrypoint.sh
  Dockerfile
Labels: none

chore(e2e): Get docker logs on failure
  .github/workflows/enos-run.yml
Labels: none

redirect output to stderr
  .release/docker/docker-entrypoint.sh
Labels: none

chore(e2e): Get docker logs on failure (#6530)
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Fix cassandra download url
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Fix cassandra download url (#6531)
  .github/workflows/enos-run.yml
Labels: none

fix(e2e): Address TestCliSearch flakiness (#6496)
  testing/internal/e2e/tests/base/search_test.go
Labels: none

update port
  testing/internal/e2e/tests/base_connect/target_tcp_connect_pending_test.go
Labels: none

test(e2e): Add missing context
  testing/internal/e2e/tests/base/search_test.go
Labels: none

fix(e2e): Address TestCliSearch flakiness (#6496)
  testing/internal/e2e/tests/base/search_test.go
Labels: none

Fix : Context timeout error handler changes (#6493)
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/errors.go
  internal/daemon/controller/handlers/errors_test.go
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

chore: bump sdk for plugins (#6526)
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
Labels: none

test(e2e): Add missing context (#6534)
  testing/internal/e2e/tests/base/search_test.go
Labels: none

test(bats): Fix flaky connect helper methods
  internal/tests/cli/boundary/_connect.bash
Labels: core

chore: update go-kms-wrapping
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

Open test(e2e): fix invalid port for TestCliTcpTargetConnectPending
  testing/internal/e2e/tests/base_connect/target_tcp_connect_pending_test.go
Labels: none

chore: update go-kms-wrapping
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

chore: update go-kms-wrapping (#6542)
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

chore: update grpc for cve
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: update grpc for cve
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: update grpc for cve
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

fix(e2e): Address TestCliSearch flakiness (#6496) (#6532)
  testing/internal/e2e/tests/base/search_test.go
Labels: none

chore: update references to older version of postgres
  .release/docker/README_docker_io.md
  CONTRIBUTING.md
  README.md
  internal/db/sqltest/Makefile
  internal/db/sqltest/README.md
  testing/dbtest/docker/Dockerfile.12-alpine
  testing/dbtest/docker/Dockerfile.13-alpine
  testing/dbtest/docker/Dockerfile.17-alpine
  testing/dbtest/docker/Makefile
  testing/dbtest/pgtap-docker/Makefile
Labels: core, core/db

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
