Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

update CHANGELOG with ui entries (#5699)
  CHANGELOG.md
Labels: none

chore(e2e): Add encryption to target ec2 instance (#5692)
  enos/modules/aws_target/main.tf
Labels: none

all tests passing
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

replace tabs with spaces in query string
  internal/iam/query.go
Labels: core, core/iam, core/sql

missed one tab
  internal/iam/query.go
Labels: core, core/iam, core/sql

remove leading spaces
  internal/iam/query.go
Labels: core, core/iam, core/sql

implement OrgRoleIndividualGrantScope and add tests
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
  internal/iam/store/role_org_individual_grant_scope.pb.go
  internal/proto/controller/storage/iam/store/v1/role_org_individual_grant_scope.proto
Labels: core, core/db, core/iam, core/proto, core/sql

rename repository_grant_scope to repository_role_grant_scope
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

fix test from removing embeded struct from RoleGrantScope
  internal/iam/role_test.go
Labels: core, core/iam

add proto definition for global role individual grant scope tables
  Makefile
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
Labels: core, core/iam, core/proto

update comment
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
Labels: core, core/proto

move ListRoleGrantScopes to repository_grant_scope.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam

run make gen to update comment
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
Labels: core, core/iam

add grant_scope to proto definition
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
Labels: core, core/iam, core/proto

implement GlobalRoleIndividualOrgGrantScope and GlobalRoleIndividualProjectGrantScope
  internal/iam/repository_scope.go
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
Labels: core, core/iam

unexport listRoleGrantScopes
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

Add more test
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

add validation for special scopes
  internal/iam/testing.go
Labels: core, core/iam

change TestRole and TestRoleGrantScope function to support new model
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/role_test.go
  internal/iam/testing.go
Labels: core, core/daemon, core/iam

fix testRoleGrantScopeSpecial not handling org role special scope properly
  internal/iam/testing.go
Labels: core, core/iam

add more test cases and remove add-grants test
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

unexport individual grants structs - missed one file
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

run make gen
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
Labels: core, core/proto

implement part of ListRoleGrantScopes
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

use reader from function parameter instead of struct method
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

rename test to match actual function
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

unexport individual grants structs
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
Labels: core, core/iam

remove dead code from listRoleGrantScopes
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

add role_org_individual_grant_scope.pb.go to protobuild make target
  Makefile
  internal/iam/store/role_org_individual_grant_scope.pb.go
Labels: core, core/iam

add back query removed by rebase
  internal/iam/query.go
Labels: core, core/iam, core/sql

chore: Update changelog for 0.19.1 - main
  CHANGELOG.md
Labels: none

chore: Update changelog for 0.19.1 - release branch
  CHANGELOG.md
Labels: none

Remove additonal 'type=target;actions=list' grants as part of TestACL_ListResolvableAliasesPermissions
  internal/perms/acl_test.go
Labels: core, core/perms

chore(e2e): Added support for boundary license to be an env for enos
  enos/ci/hcp-resources/main.tf
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/read_license/main.tf
Labels: none

Update Switch Statement Too Factor For Edge Case With Children Granted With Role Scope Global
  internal/alias/target/repository_alias_list_resolvable.go
  internal/perms/acl.go
Labels: core, core/perms

linting
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
Labels: none

Resolve comment to refactor error return in listResolvableAliases to instead return no data and document why and when this can occur.
  internal/alias/target/repository_alias_list_resolvable.go
Labels: core

Add rules to suppress newly discovered CVEs
  .release/security-scan.hcl
Labels: none

Add unit tests to cover case where provided permissions to ListResolvableAliases service contains no grant scopes where targets can reside.
  internal/alias/target/service_list_resolvable_ext_test.go
Labels: core

chore: Update changelog for 0.19.1 - main (#5702)
  CHANGELOG.md
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
