Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

backport of commit 870ccdee30b8b5af62497eafb200b6c7d28222a3
  website/content/docs/secure/security-model.mdx
Labels: website

docs: Removes reference to keyring
  website/content/docs/secure/security-model.mdx
Labels: website

create a deferral to automatically close sessions after creating them during boundary connect (#6054)
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
Labels: api, core

chore(e2e): Update firewall rules
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit 69450680a8adff02712439fe6d10eaf8cf159ab9
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

chore(e2e): Add controller and worker ips to output of scenario
  enos/enos-scenario-e2e-ui-aws.hcl
Labels: none

improve comments
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/target

fix(e2e): Add ipv6_address
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit 213cb5bdf6d2a11fb56d6fd7d3a72b2b7891f746
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

fix(target): Skip fetching proxy server cert (#6055)
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/target

docs: Update Huntress interoperability (#6049)
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

docs: Update Huntress interoperability (#6049)
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

chore(e2e): Ensure permissions on key file are correct
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

backport of commit 3be1d02b0ecdccef7d1d0c1e8fe3eebbf63eddec
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

docs: Update Huntress interoperability (#6049) (#6061)
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

docs: Update Huntress interoperability (#6049)
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

Bump internal/ui/VERSION commit to 31f0044
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 344b649867104879449e150dfa2efff5dd3699be
  internal/ui/VERSION
Labels: core, core/ui

docs: Update Huntress interoperability (#6049)
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

Revert "fix(target): Skip fetching proxy server cert (#6055)"
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/target

chore(e2e): Update firewall rules for instances in the windows domain (#6059)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit d797ac4785e1447f4468abda4ff91eff4666ae69
  .github/workflows/backport.yml
Labels: none

chore: revert backport action
  .github/workflows/backport.yml
Labels: none

chore: revert backport action (#6067)
  .github/workflows/backport.yml
Labels: none

backport of commit d797ac4785e1447f4468abda4ff91eff4666ae69 (#6068)
  .github/workflows/backport.yml
Labels: none

docs: Update Huntress interoperability (#6049) (#6063)
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

docs: Update Huntress interoperability (#6049) (#6065)
  website/content/docs/interoperability-matrix/index.mdx
Labels: website

Bump internal/ui/VERSION commit to 31f0044 (#6064)
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 97957754100a3fd316d579ff5226ff62a9efcb26
  internal/host/plugin/repository_host_catalog.go
Labels: core, core/host

fix(host): move GetWrapper call out of transaction
  internal/host/plugin/repository_host_catalog.go
Labels: core, core/host

backport of commit 344b649867104879449e150dfa2efff5dd3699be (#6070)
  internal/ui/VERSION
Labels: core, core/ui

Revert "fix(target): Skip fetching proxy server cert (#6055)" (#6066)
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/target

fix(host): move GetWrapper call out of transaction (#6071)
  internal/host/plugin/repository_host_catalog.go
Labels: core, core/host

chore(e2e): Ensure permissions on key file are correct (#6062)
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

Backport of chore(e2e): Update firewall rules for instances in the windows domain into release/0.20.x (#6072)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit 3be1d02b0ecdccef7d1d0c1e8fe3eebbf63eddec (#6074)
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

backport of commit 97957754100a3fd316d579ff5226ff62a9efcb26 (#6073)
  internal/host/plugin/repository_host_catalog.go
Labels: core, core/host

update the disable client agent command (#6056)
  website/content/docs/client-agent/manage.mdx
Labels: website

backport of commit eaeb7333600be4e44e6afb4cabda4343d31fc717 (#6076)
  website/content/docs/client-agent/manage.mdx
Labels: website

chore(e2e): Update windows worker module to support other configs
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker_hcp_bsr.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
