Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

nonce handling in Content Security Policy for custom CSP scenarios
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_test.go
Labels: core, core/daemon

return original length in cspWriter to prevent truncation
  internal/daemon/controller/handler_ui.go
  internal/daemon/controller/handler_ui_test.go
Labels: core, core/daemon

stop renewing vault token when token has already expired
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/private_store.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
Labels: core

implement shutdown function in TestVaultServer
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
Labels: core

modify credential_vault_token_renewal_revocation_view to include expiration_time
  internal/db/schema/migrations/oss/postgres/103/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

chore(e2e): Clean up enos variables (#6591)
  .github/workflows/enos-run.yml
  enos/README.md
  enos/ci/hcp-resources/variables.tf
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/aws_boundary/variables.tf
  enos/modules/binary_finder/main.tf
  enos/modules/generate_docker_image_name/main.tf
  enos/modules/get_binary_path/main.tf
  enos/modules/get_boundary_edition/main.tf
  enos/modules/get_repo_root/main.tf
  enos/modules/read_license/main.tf
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_ui/main.tf
Labels: none

Resolve vulnerabilities in `jackc/pgx/v5` (#6607)
  go.mod
  go.sum
Labels: none

Resolve vulnerabilities in `jackc/pgx/v5` (#6607)
  go.mod
  go.sum
Labels: none

Resolve vulnerabilities in `jackc/pgx/v5` (#6607) (#6615)
  go.mod
  go.sum
Labels: none

Resolve vulnerabilities in `jackc/pgx/v5` (#6607) (#6616)
  go.mod
  go.sum
Labels: none

Resolve GHSA-j88v-2chj-qfwx vulnerability report
  go.mod
  go.sum
Labels: none

backport of commit 4171be177ae6b555b1cf9647388fae5c8422b914
  go.mod
  go.sum
Labels: none

Resolve GHSA-j88v-2chj-qfwx vulnerability report (#6617)
  go.mod
  go.sum
Labels: none

Resolve `go-jose` vulnerabilities (#6569)
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

Go mod tidy
  go.mod
  go.sum
Labels: none

Resolve GHSA-j88v-2chj-qfwx vulnerability report (#6617)
  go.mod
  go.sum
Labels: none

Resolve `go-jose` vulnerabilities (#6569)
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

Go mod tidy
  go.mod
  go.sum
Labels: none

Resolve GHSA-j88v-2chj-qfwx vulnerability report (#6617)
  go.mod
  go.sum
Labels: none

Resolve GHSA-j88v-2chj-qfwx vulnerability report (#6617)
  go.mod
  go.sum
Labels: none

Backport of Resolve GHSA-j88v-2chj-qfwx vulnerability report into release/0.19.x (#6619)
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

backport of commit f31d55abd3ddd11f93bd9c9836c1b290fe53db97
  go.mod
  go.sum
Labels: none

Resolve GHSA-pjcq-xvwq-hhpj vulnerability report
  go.mod
  go.sum
Labels: none

feat(kms): Add merging functionality for KMS info entries with purpose differentiation
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
Labels: core

Memory leak fix for worker session management by immediately removing closed connections
  internal/daemon/worker/session/manager_test.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/session/session_test.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/testing_test.go
  internal/tests/helper/testing_helper.go
Labels: core, core/daemon

Backport of Resolve GHSA-j88v-2chj-qfwx vulnerability report into release/0.20.x (#6622)
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

Resolve GHSA-pjcq-xvwq-hhpj vulnerability report (#6625)
  go.mod
  go.sum
Labels: none

Resolve GHSA-pjcq-xvwq-hhpj vulnerability report (#6625)
  go.mod
  go.sum
Labels: none

Go mod tidy
  go.sum
Labels: none

Resolve GHSA-pjcq-xvwq-hhpj vulnerability report (#6625)
  go.mod
  go.sum
Labels: none

backport of commit f31d55abd3ddd11f93bd9c9836c1b290fe53db97 (#6628)
  go.mod
  go.sum
Labels: none

Resolve GHSA-pjcq-xvwq-hhpj vulnerability report (#6625) (#6631)
  go.mod
  go.sum
Labels: none

Backport of Resolve GHSA-pjcq-xvwq-hhpj vulnerability report into release/0.20.x (#6630)
  go.mod
  go.sum
Labels: none

chore: Updating version to 0.19.5
  version/VERSION
Labels: none

chore: updating version to 0.20.3
  version/VERSION
Labels: none

backport of commit 6ba81f1becaaa17da9d00b3a3fe376dbdc09373e
  CHANGELOG.md
Labels: none

chore: Update changelog for upcoming 0.21.3 release
  CHANGELOG.md
Labels: none

chore: Updating version to 0.19.5 (#6632)
  version/VERSION
Labels: none

chore: updating swagger version
  CHANGELOG.md
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: changelog
  CHANGELOG.md
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
