Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore: update go version to 1.25.7 (#6404)
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

Backport of Suppressing non-impactful vulnerability warning from CVE into release/0.19.x (#6405)
  .release/security-scan.hcl
Labels: none

chore: update go version to 1.25.7 (#6404) (#6407)
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

backport of commit ce2db89fe0fec66351c4f1f412f9caabb0784465 (#6408)
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

backport of commit ce2db89fe0fec66351c4f1f412f9caabb0784465 (#6409)
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: update changelog with CVE fixes
  CHANGELOG.md
Labels: none

wip: Global query done, test pattern established, tests passing so far, cipher token functionality added to testing utils
  internal/apptoken/apptoken.go
  internal/apptoken/options.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
  internal/iam/role.go
Labels: core, core/iam, core/sql

chore: update dependencies (#6411)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: update changelog for 0.19.4
  CHANGELOG.md
Labels: none

chore: add missing changelog for 0.20.1
  CHANGELOG.md
Labels: none

fix: use crypto rand instead of math rand for session cert
  internal/session/session.go
Labels: core, core/session

backport of commit ef166d3bc13185fc1ba5d94cb5f2ac8550f03c41
  Makefile
Labels: none

backport of commit ef166d3bc13185fc1ba5d94cb5f2ac8550f03c41
  Makefile
Labels: none

backport of commit ef166d3bc13185fc1ba5d94cb5f2ac8550f03c41
  Makefile
Labels: none

chore: Ensure Admin UI is included in pprof build
  Makefile
Labels: none

chore: Isolate handlers for pprof endpoints
  internal/cmd/base/pprof_on.go
Labels: core

backport of commit 05d885efc6f209baf51c1a19e4d4255d8c74c251
  internal/cmd/base/pprof_on.go
Labels: core

backport of commit 05d885efc6f209baf51c1a19e4d4255d8c74c251
  internal/cmd/base/pprof_on.go
Labels: core

backport of commit 05d885efc6f209baf51c1a19e4d4255d8c74c251
  internal/cmd/base/pprof_on.go
Labels: core

chore: update changelog for 0.19.4 (#6414)
  CHANGELOG.md
Labels: none

chore: add missing changelog for 0.20.1 (#6415)
  CHANGELOG.md
Labels: none

chore: update changelog for 0.20.2
  CHANGELOG.md
Labels: none

backport of commit 06f23e1b7bcac8f388adca578ffbe9d2b9b3b50a
  CHANGELOG.md
Labels: none

chore: update changelog for 0.20.2 (#6416)
  CHANGELOG.md
Labels: none

chore: update changelog for 0.21.1
  CHANGELOG.md
Labels: none

chore: update changelog for 0.21.1 (#6412)
  CHANGELOG.md
Labels: none

Syntax Normalization
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
Labels: core, core/auth

style(apptoken): Remove else-if after return
  internal/apptoken/repository_token_grant.go
Labels: core

style(query): Convert tabs to spaces
  internal/iam/query.go
Labels: core, core/iam, core/sql

backport of commit b8a331a566ad7b73d7812b4f9b3ced0601009a7d
  internal/tests/cli/test.sh
Labels: core

chore: Add worker check to bats tests to avoid flake
  internal/tests/cli/test.sh
Labels: core

test(apptoken): Use NotEmpty on string value
  internal/apptoken/repository_test.go
Labels: core

feat(apptoken): Add scope type retrieval for app token id
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
Labels: core, core/sql

chore(apptoken): Remove unused function & query
  internal/apptoken/query.go
  internal/apptoken/repository.go
Labels: core, core/sql

lint(iam): Remove redundant return statement
  internal/iam/role.go
Labels: core, core/iam

fix(apptoken): Clone slice to avoid parameter mutation
  internal/apptoken/repository.go
Labels: core

backport of commit 82ae200103ca545d1b75a9e08c7da7fc0d418f39 (#6151)
  .release/ci.hcl
Labels: none

chore: pprof build updates (#6419)
  Makefile
  internal/cmd/base/pprof_on.go
Labels: core

Backport of chore: pprof build updates into release/0.19.x (#6422)
  Makefile
  internal/cmd/base/pprof_on.go
Labels: core

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
