Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Update tests with split cookie path attribute
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/outgoing_response_filter_test.go
Labels: core, core/daemon

backport of commit de75c1cc637c885e91000d587df5d882678527f7
  testing/internal/e2e/infra/docker.go
Labels: none

backport of commit de75c1cc637c885e91000d587df5d882678527f7
  testing/internal/e2e/infra/docker.go
Labels: none

test(e2e): Fixed failing database migration test
  testing/internal/e2e/infra/docker.go
Labels: none

test(e2e): Fixed failing database migration test (#6299)
  testing/internal/e2e/infra/docker.go
Labels: none

Unify SecureRandomReader
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/config/options.go
  internal/server/options.go
  internal/server/worker_list.go
Labels: core, core/server

chore: update supported postgres versions (#6297)
  .github/workflows/test-sql.yml
  globals/globals.go
Labels: none

vault changes updated
  internal/credential/vault/options.go
  internal/credential/vault/private_library.go
  internal/credential/vault/repository.go
  internal/daemon/controller/controller.go
Labels: core, core/daemon

chore: disable HashiCorp copywrite check for new IBM headers
  Makefile
Labels: none

chore: disable HashiCorp copywrite check for new IBM headers (#6304)
  Makefile
Labels: none

Updating sdk and Api with latest tags
  go.mod
Labels: none

Updating sdk and Api with latest tags (#6305)
  go.mod
Labels: none

update scenario e2e_aws_rdp_base
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_vault/variables.tf
  enos/modules/aws_vault/vault-instances.tf
Labels: none

aws_ssh_keypair module; update e2e_aws_base
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_ssh_keypair/main.tf
  enos/modules/aws_ssh_keypair/variables.tf
  enos/modules/aws_target/main.tf
Labels: none

enos fmt formatting
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

terraform fmt modules
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/vault-instances.tf
Labels: none

testing/internal/e2e lint fixes
  testing/internal/e2e/boundary/host.go
  testing/internal/e2e/boundary/session.go
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
  testing/internal/e2e/tests/base/search_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_http_test.go
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

rename module variables to aws_ssh_...
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/variables.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/test_e2e/main.tf
Labels: none

update hcp-resources, e2e_aws scenario, aws_worker module
  enos/ci/hcp-resources/main.tf
  enos/ci/hcp-resources/variables.tf
  enos/enos-scenario-e2e-aws.hcl
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/variables.tf
Labels: none

update e2e_database scenario
  enos/enos-scenario-e2e-database.hcl
Labels: none

lint and format
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/modules/aws_worker/main.tf
Labels: none

fix vars
  enos/ci/hcp-resources/main.tf
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
Labels: none

target changes added
  internal/cmd/base/initial_resources.go
  internal/credential/vault/private_library.go
  internal/credential/vault/repository_test.go
  internal/daemon/controller/controller.go
  internal/target/options.go
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate.go
  internal/target/repository_test.go
  internal/target/target_certificate.go
Labels: core, core/daemon, core/target

chore(e2e): Added an enos scenario that takes a worker version and deploys with that version
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
Labels: none

chore(e2e): add a check that cancels a previous running build
  .github/workflows/build.yml
Labels: none

testing cancel
  .github/workflows/build.yml
Labels: none

testing
  .github/workflows/build.yml
Labels: none

testing cacnel
  .github/workflows/build.yml
Labels: none

stopping PR concurency
  .github/workflows/build.yml
Labels: none

chore(e2e): Stop running current builds with new pushes (#6309)
  .github/workflows/build.yml
Labels: none

reviwed changes updated
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
  internal/cmd/config/config.go
  internal/credential/options.go
  internal/credential/options_test.go
  internal/credential/vault/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/repository_credentials.go
  internal/server/worker_list.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/target_certificate.go
Labels: core, core/server, core/target

refactor : ICU-18284-Unify SecureRandomReader (#6303)
  internal/cmd/base/initial_resources.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/config/options.go
  internal/credential/options.go
  internal/credential/options_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/repository.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_test.go
  internal/daemon/controller/controller.go
  internal/server/options.go
  internal/server/worker_list.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate.go
  internal/target/repository_test.go
  internal/target/target_certificate.go
Labels: core, core/daemon, core/server, core/target

ICU-18284-testcase param removed
  internal/cmd/commands/server/listener_reload_test.go
Labels: core

ICU-18284-testcase param removed (#6310)
  internal/cmd/commands/server/listener_reload_test.go
Labels: core

cr
  testing/internal/e2e/tests/base/bytes_up_down_test.go
Labels: none

cr
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
Labels: none

chore(e2e): fix linting errors for e2e files (#6307)
  testing/internal/e2e/boundary/host.go
  testing/internal/e2e/boundary/session.go
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
  testing/internal/e2e/tests/base/search_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_http_test.go
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

add shutdown function to TestVaultServer
  internal/credential/vault/testing.go
Labels: core

stop renewing vault token when token has already expired
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
Labels: core

backport of commit 48ff74a945c2f4826d98bf35209917d6874b6a43
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
Labels: core
