Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Fix asciicast link (#6103)
  website/content/docs/session-recording/index.mdx
Labels: website

backport of commit 3b9ac7b907de3f245a4b5491ffb2009fe6c05dca (#6105)
  website/content/docs/session-recording/index.mdx
Labels: website

chore(e2e): Update framework to remove boundary_docker_image_name (#6092) (#6096)
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

Fixed grammar in README.md
  README.md
Labels: none

chore: update cap pkg to v0.11.0
  CHANGELOG.md
  go.mod
  go.sum
Labels: none

ci: pin actions/checkout to v4.2.2
  .github/workflows/backport.yml
Labels: none

chore: update cap pkg to v0.11.0 (#6107)
  CHANGELOG.md
  go.mod
  go.sum
Labels: none

feat: add PasswordAttributes message with password and password_hmac fields
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/proto

feat: add PasswordAccountPrefix to credential source validation
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

test(e2e): Add test for connect redis (#6102)
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

use 'created_time' consistently
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
Labels: core, core/db, core/sql

add usage history
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
Labels: core, core/db, core/sql

add db migration
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
Labels: core, core/db, core/sql

refactor db files
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
  internal/db/schema/migrations/oss/postgres/98/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/98/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/98/04_app_token_project.up.sql
Labels: core, core/db, core/sql

more prototype
  internal/db/schema/migrations/oss/postgres/98/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/98/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/98/04_app_token_project.up.sql
  internal/db/schema/migrations/oss/postgres/98/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/98/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/98/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/98/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/98/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/98/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/98/11_prototype_seed_project_token.up.sql
  internal/db/schema/migrations/oss/prototype_get_global_token.sql
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_global.plan
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_global.sql
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_recursive_globalorg.plan
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_recursive_globalorg.sql
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_recursive_globalorgproject.plan
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_recursive_globalorgproject.sql
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_recursive_project.plan
  internal/db/schema/migrations/oss/prototype_grants_global_req_global_token_recursive_project.sql
Labels: core, core/db, core/sql

more query information
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_global.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_global.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorgproject.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorgproject.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_org_req.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_org_req.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_proj_req.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_proj_req.sql
Labels: core, core/db, core/sql

test(e2e): Fixed false positive in Mongo connect test; use UriNetwork and container hostname
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
Labels: none

fixes broken link
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website

backport of commit 3e3cb39835a7508a8a12e9b47f071b3e7d808e1f
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website

backport of commit 3e3cb39835a7508a8a12e9b47f071b3e7d808e1f
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website

remove redundant examples
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_global.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorgproject.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_org_req.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_proj_req.sql
Labels: core, core/db, core/sql

add examples back
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.sql
Labels: core, core/db, core/sql

feat(credentials): Add PasswordAttributes credential type
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

feat(plugins): Add IBM Key Protect (IBM Cloud KMS) wrapper
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ibmkp/main.go
Labels: none

feat(credentials): Add PasswordAttributes credential type (#6110)
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

fixes controller policy example
  website/content/docs/domain-model/credential-stores.mdx
Labels: website

backport of commit 4a794abbc130254422f93ca4a4a4e84078157106
  website/content/docs/domain-model/credential-stores.mdx
Labels: website

backport of commit 4a794abbc130254422f93ca4a4a4e84078157106
  website/content/docs/domain-model/credential-stores.mdx
Labels: website

backport of commit ce6e567fc01034e598e190f520671a71442df2ec
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

clarifies supported vault templating parameters for generic library vs certificates
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

feat(db): Add new tables for password credential type
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(db): Add new tables for password credential type (#6101)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(credential): Implement Password storage
  globals/credentials.go
  internal/credential/public_ids.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/rewrapping.go
  internal/credential/static/store/static.pb.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto, core/sql

tweak prototype queries
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_username_password_domain_vault.up.sql
  internal/db/schema/migrations/oss/postgres/98/03_target_history_base.up.sql
  internal/db/schema/migrations/oss/postgres/98/04_rdp_targets.up.sql
  internal/db/schema/migrations/oss/postgres/98/05_alias_target_constraint.up.sql
  internal/db/schema/migrations/oss/postgres/98/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/98/06_target_credential_injection_certificates.up.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorg.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorgproject.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_globalorgproject.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_global_req_recursive_project.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_org_req.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_org_req.sql
  internal/db/schema/migrations/oss/prototype_grants_global_token_proj_req.plan
  internal/db/schema/migrations/oss/prototype_grants_global_token_proj_req.sql
Labels: core, core/db, core/sql

move migration to 99
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_username_password_domain_vault.up.sql
  internal/db/schema/migrations/oss/postgres/98/03_target_history_base.up.sql
  internal/db/schema/migrations/oss/postgres/98/04_rdp_targets.up.sql
  internal/db/schema/migrations/oss/postgres/98/05_alias_target_constraint.up.sql
  internal/db/schema/migrations/oss/postgres/98/06_target_credential_injection_certificates.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/99/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/99/04_app_token_project.up.sql
  internal/db/schema/migrations/oss/postgres/99/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/99/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/99/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/99/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/99/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/99/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/99/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

add get token
  internal/db/schema/migrations/oss/prototype_get_global_token.plan
  internal/db/schema/migrations/oss/prototype_get_global_token.sql
Labels: core, core/db, core/sql

add comment
  internal/db/schema/migrations/oss/prototype_get_global_token.sql
Labels: core, core/db, core/sql

feat(cli): Add password credential CLI commands
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/proto

feat(plugins): Add IBM Key Protect (IBM Cloud KMS) wrapper
  go.mod
  go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ibmkp/main.go
Labels: none

make gen
  internal/cmd/commands/connect/mongo.go
Labels: core
