Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

small change in docker build
  enos/modules/build_boundary_docker_local/build.sh
Labels: none

Makefile: check for existence of dist in build-ui-ifne
  Makefile
Labels: none

docs: Update worker configuration
  website/content/docs/workers/registration.mdx
  website/content/partials/configuration-reference/workers/common-worker-parameters.mdx
Labels: website

cr
  enos/modules/build_boundary_docker_local/build.sh
Labels: none

small change in docker enos build (#6120)
  enos/modules/build_boundary_docker_local/build.sh
Labels: none

fixes broken link (#6111)
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website

fixes anchor links
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

fixes controller policy example (#6113)
  website/content/docs/domain-model/credential-stores.mdx
Labels: website

backport of commit 4a794abbc130254422f93ca4a4a4e84078157106 (#6124)
  website/content/docs/domain-model/credential-stores.mdx
Labels: website

backport of commit 3e3cb39835a7508a8a12e9b47f071b3e7d808e1f (#6122)
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website

add cipher table and add more columns to base app token table
  internal/db/schema/migrations/oss/postgres/99/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/99/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/99/04_app_token_project.up.sql
  internal/db/schema/migrations/oss/postgres/99/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/99/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/99/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/99/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/99/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/99/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

fix: Removed unnecessary variable containerName from the MongoDB E2E test
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
Labels: none

feat(connect/mongo): Build URI compatible with mongosh and set default authSource
  internal/cmd/commands/connect/mongo.go
  website/content/docs/commands/connect/mongo.mdx
Labels: core, website

chore(errors): Add early disconnection error
  internal/errors/code.go
Labels: core

feat(connect/mongo): use mongosh flags following PostgreSQL pattern
  internal/cmd/commands/connect/mongo.go
Labels: core

add info and test
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

backport of commit 510ab2e3fdc595fd694d054aa2e69473d8a7b81e
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

feat(db): Password credential migration
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

remove 'connection string' from auth-source usage text
  internal/cmd/commands/connect/mongo.go
Labels: core

Update internal/cmd/commands/connect/mongo.go
  internal/cmd/commands/connect/mongo.go
Labels: core

remove 'connection string' from auth-source usage text
  website/content/docs/commands/connect/mongo.mdx
Labels: website

backport of commit 9ba56e2cb8756c3cba0c2607cb558cf49fcf2f23
  website/redirects.js
Labels: website

docs: Fix version 0.19.x redirects
  website/redirects.js
Labels: website

docs: Adds architecture and Terraform redirects
  website/redirects.js
Labels: website

backport of commit ac7d781b3c3b6caf0f2121aa1dff31f5722aabe3
  website/redirects.js
Labels: website

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

refacotr: replace authSource flag with authenticationDatabase
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mongo.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  website/content/docs/commands/connect/mongo.mdx
Labels: core, website

Docs: clarifies supported vault cred library templating parameters (#6114)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

feat(mongo): Add MongoDB connection support for Boundary CLI PORT (#6069)
  CHANGELOG.md
  enos/modules/test_e2e_docker/test.sh
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mongo.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/mongo.mdx
  website/data/docs-nav-data.json
Labels: core, website

Docs: clarifies supported vault cred library templating parameters (#6114)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

Docs: clarifies supported vault cred library templating parameters (#6114)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

chore(errors): Add early disconnection error (#6126)
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

Docs: clarifies supported vault cred library templating parameters (#6114) (#6133)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

Docs: clarifies supported vault cred library templating parameters (#6114) (#6132)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

feat(db): Add db migration for vault support in password credential
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

support password credential type in redis helper. re-did some of the logic as well
  api/proxy/credentials.go
  internal/cmd/commands/connect/redis.go
Labels: api, core

rename CreateStaticCredentialPasswordCli to CreateStaticCredentialUsernamePasswordCli
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

chore(errors): Add early disconnection error (#6126)
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

chore(proxy): Reduce noisy error logs
  internal/daemon/worker/handler.go
Labels: core, core/daemon

Adding unimplemented message in cred service
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: core, core/daemon

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
