Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat(credential/static): Implement UsernamePasswordDomain type (#1512)
  globals/prefixes.go
  internal/credential/credential.go
  internal/credential/public_ids.go
  internal/credential/static/query.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/usernamepassworddomain_credential.go
  internal/credential/static/usernamepassworddomain_credential_test.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(credential/static): Implement CRUDL for UsernamePasswordDomain
  internal/credential/static/credential.go
  internal/credential/static/fields.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/testing.go
  internal/credential/static/usernamepassworddomain_credential.go
  internal/credential/static/usernamepassworddomain_credential_test.go
Labels: core, core/sql

feat(credential/vault): Implement UPD vault credential extractor (#1520)
  internal/credential/vault/internal/usernamepassworddomain/doc.go
  internal/credential/vault/internal/usernamepassworddomain/usernamepassworddomain.go
  internal/credential/vault/internal/usernamepassworddomain/usernamepassworddomain_test.go
Labels: core

feat(credential/vault): Primitives for UPD cred in vault-generic library
  globals/credentials.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/options.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

feat(handlers): CRUDL support for static Username-Password-Domain credentials
  api/credentials/option.gen.go
  api/credentials/username_password_domain_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

feat(handlers): Allow UPD brokered creds to be associated w/ Targets + Session auth
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

fix(proto): Make UPD domain field public + ensure consistency across API pkgs
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/tests/api/credentials/credentials_classification_test.go
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/proto

feat(handlers): CRUDL support for vault-generic Username-Password-Domain credentials (#1527)
  internal/credential/vault/repository_credential_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
Labels: core, core/daemon

feat(cli): Support creating/updating a Username-Password-Domain static credential (#1525)
  api/credentials/custom.go
  api/credentials/custom_test.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/funcs.go
  internal/cmd/commands/credentialscmd/username-password-domain_credentials.gen.go
  internal/cmd/commands/credentialscmd/username-password-domain_funcs.go
  internal/cmd/gencli/input.go
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
Labels: api, core

test(e2e): Static/vault-generic Username-Password-Domain tests (#1538)
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/vault/vault.go
Labels: none

feat(target): Enrich CredentialLibrary object with credential type
  internal/credential/service_list_libraries_ext_test.go
  internal/credential/vault/credential_test.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_external_test.go
  internal/credential/vault/testing_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/sessions/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/session/repository_session_test.go
  internal/target/credential_library.go
  internal/target/credential_library_ext_test.go
  internal/target/query.go
  internal/target/repository_credential_source.go
  internal/target/repository_ext_test.go
  internal/target/tcp/repository_credential_source_test.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/target/tcp/testing_test.go
  internal/target/testing.go
Labels: core, core/daemon, core/session, core/sql, core/target

feat(proto): Add UPD credential to controller service
  internal/gen/controller/servers/services/credential.pb.go
  internal/proto/controller/servers/services/v1/credential.proto
Labels: core, core/gen, core/proto

refact(db): Implement target history base and subtype table design
  internal/db/schema/migrations/oss/postgres/99902/01_target_history_base.up.sql
Labels: core, core/db, core/sql

feat(db): Implement RDP target entities
  internal/db/schema/migrations/oss/postgres/81/01_deleted_tables_and_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/99902/02_rdp_targets.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/tests/history/targets.sql
  internal/db/sqltest/tests/target/target_rdp.sql
  internal/db/sqltest/tests/wh/credential_dimension/rdp_target.sql
  internal/db/sqltest/tests/wh/host_dimension/targets.sql
Labels: core, core/db, core/sql

feat(globals): Add RDP target prefix
  globals/prefixes.go
Labels: none

feat(target): Support listing RDP targets
  internal/target/query.go
Labels: core, core/sql, core/target

feat(api): Add RDP target attributes
  api/targets/option.gen.go
  api/targets/rdp_target_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, api/targets, core, core/daemon, core/proto

feat(cli): Support RDP target
  internal/cmd/commands.go
  internal/cmd/commands/targetscmd/rdp_funcs.go
  internal/cmd/commands/targetscmd/rdp_targets.gen.go
  internal/cmd/gencli/input.go
  internal/tests/cli/boundary/target.bats
Labels: core

refact(e2e): Modify CreateTargetApi to support different target types
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/session_cancel_group_test.go
  testing/internal/e2e/tests/base/session_cancel_user_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
Labels: none

feat(e2e): Common API/CLI functions for targets
  testing/internal/e2e/boundary/target.go
Labels: none

chore(sqltest): update test-sql matrix (#5982)
  .github/workflows/test-sql.yml
Labels: none

chore(rdp): fix command text and cred conversion (#1656)
  internal/cmd/commands/targetscmd/rdp_funcs.go
  internal/daemon/controller/handlers/targets/credentials.go
Labels: core, core/daemon

feat(feature manager): add RDPSessionProxy to the feature manager
  version/feature_manager.go
Labels: none

feat(target): add proxy certificate repos and protos (#1577)
  internal/db/schema/migrations/oss/postgres/99903/01_alias_target_constraint.up.sql
  internal/db/schema/migrations/oss/postgres/99903/02_target_credential_injection_certificates.up.sql
  internal/proto/controller/storage/target/store/v1/target.proto
  internal/session/session.go
  internal/session/session_test.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/store/target.pb.go
  internal/target/target.go
  internal/target/target_certificate.go
  internal/target/target_certificate_test.go
  internal/target/targettest/target.go
  internal/target/tcp/target.go
Labels: core, core/db, core/proto, core/session, core/sql, core/target

rdp(repo): persist target proxy certificates
  globals/prefixes.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/target/exports_test.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate.go
  internal/target/repository_proxy_server_certificate_test.go
  internal/target/rewrapping.go
  internal/target/rewrapping_test.go
  internal/target/target_certificate.go
  internal/target/target_certificate_test.go
  internal/target/targettest/target.go
Labels: core, core/daemon, core/target

rdp: add proxy certs to protocol context at auth conn
  internal/session/testing.go
Labels: core, core/session

session(proxy cert):associate session with proxy certificates (#1606)
  internal/daemon/controller/handlers/targets/target_service.go
  internal/db/schema/migrations/oss/postgres/99903/02_target_credential_injection_certificates.up.sql
  internal/session/options.go
  internal/session/options_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/rewrapping.go
  internal/session/rewrapping_test.go
  internal/session/session.go
  internal/session/session_test.go
Labels: core, core/daemon, core/db, core/session, core/sql

enos: Add perms to aws service account
  enos/ci/service-user-iam/main.tf
Labels: none

chore(rdp): bump feature version (#1660)
  version/feature_manager.go
Labels: none

feat(rdp): perform basic settings exchange and test the proxy fn (#1657)
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/daemon/worker/proxy/proxy.go
  internal/daemon/worker/proxy/proxy_test.go
  internal/daemon/worker/proxy/tcp/tcp.go
Labels: core, core/daemon

fix(cmd): url encode the local target address for connect rdp (#1665)
  internal/cmd/commands/connect/rdp.go
Labels: core

chore(db): renumber migrations before merging llb
  internal/db/schema/migrations/oss/postgres/49/01_vault_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/63/01_credential_vault_ssh_cert_library.up.sql
  internal/db/schema/migrations/oss/postgres/71/07_targets.up.sql
  internal/db/schema/migrations/oss/postgres/71/14_recording_static_credential.up.sql
  internal/db/schema/migrations/oss/postgres/78/01_ssh_signed_certs_additional_valid_principals.up.sql
  internal/db/schema/migrations/oss/postgres/81/01_deleted_tables_and_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_username_password_domain_vault.up.sql
  internal/db/schema/migrations/oss/postgres/98/03_target_history_base.up.sql
  internal/db/schema/migrations/oss/postgres/98/04_rdp_targets.up.sql
  internal/db/schema/migrations/oss/postgres/98/05_alias_target_constraint.up.sql
  internal/db/schema/migrations/oss/postgres/98/06_target_credential_injection_certificates.up.sql
Labels: core, core/db, core/sql

targetcert: swap math rand for crypto
  internal/target/target_certificate.go
Labels: core, core/target

Upgrade Go to 1.25
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

Conflicting Error Code Bump (#6002)
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

Upgrade to golangci-lint v2
  .golangci.yml
  Makefile
Labels: none

Remove use of apt-key
  enos/modules/test_e2e_docker/test.sh
Labels: none

Upgrade Go to 1.25 (#6011)
  .go-version
  .golangci.yml
  Makefile
  api/go.mod
  enos/modules/test_e2e_docker/test.sh
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

Allow including IBM license docs in docker image builds
  .dockerignore
Labels: none

chore: updated ec2 configurations to require imdsv2
  enos/README.md
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_worker/main.tf
Labels: none
