Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

Update website README
  website/README.md
Labels: website

chore(e2e): Disable snap assist
  enos/modules/aws_windows_client/main.tf
Labels: none

chore(e2e): Disable snap assist (#6214)
  enos/modules/aws_windows_client/main.tf
Labels: none

chore: Resolve SECVULN-25141 (#6211)
  go.mod
  go.sum
Labels: none

chore(e2e): gitignore for rdp automation
  .gitignore
Labels: none

add comment
  .gitignore
Labels: none

chore(e2e): gitignore for rdp automation (#6215)
  .gitignore
Labels: none

feat(cli): Add support for password credential in redis helper
  api/proxy/credentials.go
  api/proxy/credentials_test.go
  internal/cmd/commands/connect/redis.go
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/helpers_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: api, core

update changelog
  CHANGELOG.md
Labels: none

update changelog (#6217)
  CHANGELOG.md
Labels: none

Bumped product version to 0.20.2.
  version/VERSION
Labels: none

chore(e2e): go mod download
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

chore(e2e): Change RDP scenario to use ipv4 only
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/variables.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/variables.tf
Labels: none

refact(e2e): Rename method to usernamepassworddomain
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base/credential_store_test.go
Labels: none

refact(e2e): Rename method to usernamepassword
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

chore(e2e): Change RDP scenario to use ipv4 only (#6218)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/variables.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/worker.hcl
  enos/modules/aws_rdp_member_server_with_worker/variables.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

refact(e2e): Rename credential methods for clarity (#6219)
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

feat(cli): Add support for password credential in redis helper
  api/proxy/credentials.go
  api/proxy/credentials_test.go
  internal/cmd/commands/connect/redis.go
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/infra/redis_docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_password_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_username_password_test.go
Labels: api, core

feat(cli): Add support for password credential in redis helper (#6213)
  api/proxy/credentials.go
  api/proxy/credentials_test.go
  internal/cmd/commands/connect/redis.go
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/infra/redis_docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_password_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_username_password_test.go
Labels: api, core

feat(dbtest): Add option to create DB based off boundary_template
  testing/dbtest/docker/Makefile
  testing/dbtest/docker/init-db.sh
Labels: none

feat(gha): Update schema diff to have collapsible sections
  .github/workflows/schema-diff.yml
Labels: none

refact(db): Redefine credential_vault_library
  internal/credential/vault/credential_library.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/private_library.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_library.go
  internal/db/schema/migrations/oss/postgres/10/04_vault_credential.up.sql
  internal/db/schema/migrations/oss/postgres/22/03_vault_library_map.up.sql
  internal/db/schema/migrations/oss/postgres/22/04_vault_library_map_user_password.up.sql
  internal/db/schema/migrations/oss/postgres/36/01_vault_library_map_username_password.up.sql
  internal/db/schema/migrations/oss/postgres/39/02_vault_ssh_private_key_override.up.sql
  internal/db/schema/migrations/oss/postgres/63/01_credential_vault_ssh_cert_library.up.sql
  internal/db/schema/migrations/oss/postgres/71/15_dynamic_credential_history.up.sql
  internal/db/schema/migrations/oss/postgres/71/16_recording_dynamic_credential.up.sql
  internal/db/schema/migrations/oss/postgres/71/17_credential_history_views.up.sql
  internal/db/schema/migrations/oss/postgres/81/01_deleted_tables_and_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_username_password_domain_vault.up.sql
  internal/db/schema/migrations/oss/postgres/98/04_rdp_targets.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_vault_library_refactor.up.sql
  internal/db/schema/migrations/oss/postgres/99/README.md
  internal/db/schema/migrations/oss/postgres_99_01_test.go
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_issue_credentials.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_refactor.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_ssh_private_key_mapping_override.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_username_password_domain_mapping_ovrd.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_username_password_mapping_override.sql
  internal/db/sqltest/tests/history/dynamic_credentials.sql
  internal/db/sqltest/tests/pagination/credential_library.sql
  internal/db/sqltest/tests/recording/recording_dynamic_credentials.sql
  internal/db/sqltest/tests/wh/credential_dimension/session_multiple_sessions.sql
  internal/db/sqltest/tests/wh/credential_dimension/three_credentials_one_change.sql
Labels: core, core/db, core/sql

feat(db): LDAP Credential Library history entities
  internal/db/schema/migrations/oss/postgres/100/01_credential_vault_ldap_library.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_vault_library_refactor.up.sql
  internal/db/sqltest/tests/history/dynamic_credentials.sql
Labels: core, core/db, core/sql

feat(db): LDAP Credential Library operational entities
  internal/db/schema/migrations/oss/postgres/100/01_credential_vault_ldap_library.up.sql
  internal/db/schema/migrations/oss/postgres/63/02_add_ssh_cert_to_vault_cred_library_view.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_vault_library_refactor.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_ldap_library.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_refactor.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement LDAP Credential Library
  globals/prefixes.go
  go.mod
  go.sum
  internal/credential/service_list_libraries_ext_test.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/docker.go
  internal/credential/vault/ldap_credential_library.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/public_ids.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_ldap_credential_library.go
  internal/credential/vault/repository_ldap_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto, core/sql

refact(e2e): Split Vault Boundary Controller setup from secrets policy creation
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/paginate_credential_library_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
  testing/internal/e2e/tests/database/migration_test.go
  testing/internal/e2e/vault/vault.go
Labels: none

docs(credential/vault): Clarify LdapCredentialLibrary issuing cred type
  internal/credential/vault/ldap_credential_library.go
Labels: core

feat(handlers/credentiallibraries): Support Vault LDAP credential library
  api/credentiallibraries/option.gen.go
  api/credentiallibraries/vault_ldap_credential_library_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentiallibraries/v1/credential_library.proto
  sdk/pbs/controller/api/resources/credentiallibraries/credential_library.pb.go
Labels: api, core, core/daemon, core/proto

test(e2e): Implement Vault LDAP API and CLI tests
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  testing/internal/e2e/boundary/boundary.go
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/env_test.go
  testing/internal/e2e/tests/base_with_vault/paginate_credential_library_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
  testing/internal/e2e/tests/database/migration_test.go
  testing/internal/e2e/vault/vault.go
Labels: none

feat(cmd): Support Vault LDAP Credential Library
  internal/cmd/commands.go
  internal/cmd/commands/credentiallibrariescmd/funcs.go
  internal/cmd/commands/credentiallibrariescmd/vault-ldap_credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault-ldap_funcs.go
  internal/cmd/gencli/input.go
  internal/tests/cli/boundary/_credential_libraries.bash
  internal/tests/cli/boundary/credential_libraries.bats
Labels: core

chore(e2e): Update vault addresses
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

chore(e2e): Install vault CLI on windows client
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

chore(rdp): add client ssh key to enos variable output
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

chore(rdp): add client ssh key to enos variable output (#6224)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

chore(e2e): Update URL to avoid 502 Bad Gateway
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore(e2e): Enable Vault for RDP e2e tests (#6223)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

chore(e2e): Update URL to avoid 502 Bad Gateway (#6225)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore(e2e): Ensure go modules are downloaded for test user
  enos/modules/aws_windows_client/main.tf
Labels: none
