Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore: update workflows
  Makefile
Labels: none

chore: update workflows
  .golangci.yml
Labels: none

chore: update controller swagger (#6363)
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: update controller swagger (#6364)
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: update workflows
  enos/modules/test_e2e_docker/test.sh
Labels: none

add RevokeSelf and complete actions
  internal/daemon/controller/handlers/apptokens/apptoken_service.go
  internal/perms/acl_test.go
  internal/types/action/action.go
Labels: core, core/daemon, core/perms, core/types

address feedback
  internal/apptoken/options.go
  internal/apptoken/options_test.go
  internal/apptoken/repository.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/website/permstable/resource-table.mdx
Labels: core, core/daemon

address pr comments
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

fix feedback
  internal/clientcache/cmd/search/search.go
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

refactor a bit to pull some common code out
  internal/apptoken/repository.go
Labels: core

more lint
  internal/clientcache/cmd/search/search.go
Labels: core

feat(clientcache): fix exported comments
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

test(e2e): Move postgres info to other variables
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
  testing/internal/e2e/tests/base_plus/env_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
Labels: none

update rate limiter max
  internal/daemon/controller/rate_limiter_test.go
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/defaults.json
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/override.json
Labels: core, core/daemon

chore(e2e): Add network check before setting up SSH service (#6349)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

chore(rdp): expose worker ip and ssh key for debugging
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

chore(rdp): expose worker ip and ssh key for debugging (#6369)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

backport of commit a853c4750f08b3ba7ef17b538d473009e4c8af16 (#6368)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

chore(e2e): Download modules if cache not found (#6361)
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Download modules if cache not found (#6361)
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Download modules if cache not found (#6361)
  .github/workflows/enos-run.yml
Labels: none

backport of commit e942db3dbc67abe6e128dbb47ed16db8e2a023de (#6372)
  .github/workflows/enos-run.yml
Labels: none

split all the various types into their own slices to take advantage of w.CreateItems, store a reference to the created token to read db generated values after insertion
  internal/apptoken/repository.go
Labels: core

add negative descendants test case
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

test(e2e): Move postgres info to other variables (#6367)
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
  testing/internal/e2e/tests/base_plus/env_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
Labels: none

update rdp enos scenario to wait for pw
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

chore(e2e): Download modules if cache not found (#6361) (#6370)
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Download modules if cache not found (#6361) (#6371)
  .github/workflows/enos-run.yml
Labels: none

Make test results to job summary
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: none

feat(repository): Implement Create org app token functionality (#6340)
  Makefile
  internal/apptoken/apptoken.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/store/apptoken_org.pb.go
  internal/apptoken/store/apptoken_org_permission.pb.go
  internal/apptoken/store/apptoken_org_permission_individual_grant_scope.pb.go
  internal/apptoken/testing.go
  internal/proto/controller/storage/apptoken/store/v1/apptoken_org.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_org_permission.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_org_permission_individual_grant_scope.proto
Labels: core, core/proto

chore: update go version to 1.25.5 (#6352) (#6356)
  .github/workflows/linting.yml
  .github/workflows/test-sql.yml
  .go-version
  .golangci.yml
  Makefile
  api/go.mod
  enos/modules/test_e2e_docker/test.sh
  go.mod
  internal/auth/ldap/auth_method_test.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core, core/auth

add pgtap tests and fkeys
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

Squash: merge app-token-prototype into mikemountain-sql-schema-and-pgtap-tests
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

lint fixes
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

wip
  internal/apptoken/repository.go
Labels: core

update to include description
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

feat(clientcache): make default order for created_time to desc
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/cache/repository_sessions.go
  internal/clientcache/internal/cache/repository_sessions_test.go
Labels: core

use existing wait resources
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

up ms-worker wait to 3 mins
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

add SortBy and SortDirection
  internal/clientcache/internal/cache/search.go
Labels: core

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
