Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Update internal/apptoken/service_list_test.go
  internal/apptoken/service_list_test.go
Labels: core

cr
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

backport of commit f95897094b22549aa2ac490c127c6adfa88a5b2e
  enos/modules/test_e2e_docker/test.sh
Labels: none

chore(e2e): Update mongodb-mongosh version
  enos/modules/test_e2e_docker/test.sh
Labels: none

update windows script
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

test(rdp): Changed enos setup to fix logout issue with tests (#6392)
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

chore(e2e): Update mongodb-mongosh version (#6394)
  enos/modules/test_e2e_docker/test.sh
Labels: none

style(query): Convert tabs to spaces
  internal/iam/query.go
Labels: core, core/iam, core/sql

feat(apptoken): Add scope type retrieval for app token id
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
Labels: core, core/sql

test(apptoken): Use NotEmpty on string value
  internal/apptoken/repository_test.go
Labels: core

style(apptoken): Remove else-if after return
  internal/apptoken/repository_token_grant.go
Labels: core

test(e2e) update e2e rdp windows script (#6393)
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

backport of commit f95897094b22549aa2ac490c127c6adfa88a5b2e (#6397)
  enos/modules/test_e2e_docker/test.sh
Labels: none

test(e2e): Randomized project name in tests
  testing/internal/e2e/tests/base_connect/target_tcp_connect_authz_token_test.go
  testing/internal/e2e/tests/base_connect/target_tcp_connect_test.go
Labels: none

Adding normalization to in operator filters
  internal/auth/oidc/service_callback.go
Labels: core, core/auth

Adding error checks for set call
  internal/auth/oidc/service_callback.go
Labels: core, core/auth

[COMPLIANCE] Update Copyright and License Headers
  .semgrep/avoid-crypto-rand.yaml
  api/LICENSE
  enos/modules/docker_openssh_server/custom-cont-init.d/01-allow-tcp-forwarding
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/00-trust-user-ca
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/01-allow-tcp-forwarding
  internal/proto/controller/api/LICENSE
  internal/proto/controller/custom_options/LICENSE
  internal/proto/plugin/LICENSE
  sdk/LICENSE
Labels: api, core, core/proto

cr
  testing/internal/e2e/tests/base_connect/target_tcp_connect_authz_token_test.go
  testing/internal/e2e/tests/base_connect/target_tcp_connect_test.go
Labels: none

feat(clientcache): Define sort types and constants (#6331)
  internal/clientcache/internal/cache/search.go
Labels: core

feat(clientcache): Extend SearchParams and Options with sort support and validation (#6342)
  internal/clientcache/internal/cache/options.go
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/cache/search_test.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

feat(clientcache): Implement sorting in targets repository (#6346)
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

feat(clientcache): Add sort parameter parsing and validation in daemon handler (#6338)
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/daemon/search_handler.go
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

feat(clientcache): Add sort parameters to CLI search command (#6362, #6366)
  internal/clientcache/cmd/search/search.go
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

feat(clientcache): Implement session sorting in repository (#6348, #6378)
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/repository_sessions.go
  internal/clientcache/internal/cache/repository_sessions_test.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/cache/search_test.go
Labels: core

test(e2e): Randomized project name in tests (#6399)
  testing/internal/e2e/tests/base_connect/target_tcp_connect_authz_token_test.go
  testing/internal/e2e/tests/base_connect/target_tcp_connect_test.go
Labels: none

fix(e2e): Increase amount of time test checks for bytes up down data
  testing/internal/e2e/tests/base_connect/bytes_up_down_test.go
Labels: none

feat(apptoken): Implement ListRefreshPage (#6387)
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/service_list_refresh.go
  internal/apptoken/service_list_refresh_page.go
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

fix(e2e): Increase amount of time test checks for bytes up down data (#6401)
  testing/internal/e2e/tests/base_connect/bytes_up_down_test.go
Labels: none

[COMPLIANCE] Update Copyright and License Headers (#6400)
  .semgrep/avoid-crypto-rand.yaml
  api/LICENSE
  enos/modules/docker_openssh_server/custom-cont-init.d/01-allow-tcp-forwarding
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/00-trust-user-ca
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/01-allow-tcp-forwarding
  internal/proto/controller/api/LICENSE
  internal/proto/controller/custom_options/LICENSE
  internal/proto/plugin/LICENSE
  sdk/LICENSE
Labels: api, core, core/proto

feat(query): Full read queries for AppToken global, org, and project
  internal/apptoken/query.go
Labels: core, core/sql

chore: update dependencies
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

resolve dependency checksums
  api/go.mod
  api/go.sum
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/transit/go.sum
  sdk/go.sum
Labels: api

fix(workflow): update postrgres version matrix for sql tests
  .github/workflows/test-sql.yml
Labels: none

Allow including IBM license docs in docker image builds
  .dockerignore
Labels: none

update to delete from base table for cascades
  internal/apptoken/apptoken.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

backport of commit ce2db89fe0fec66351c4f1f412f9caabb0784465
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: update go version to 1.25.7
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

backport of commit ce2db89fe0fec66351c4f1f412f9caabb0784465
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: suppress iputils scan report
  .release/security-scan.hcl
Labels: none

chore: update go version to 1.25.7 (#6404)
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
