Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Update what-is-boundary.mdx (#5741)
  website/content/docs/overview/what-is-boundary.mdx
Labels: website

backport of commit e4ef56bac159c68c27c8ae80540baf828f37fdcb
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit e4ef56bac159c68c27c8ae80540baf828f37fdcb
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Add HCPb grants issue and fix
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

Remove unnecessary join to iam_scope_org table
  internal/iam/query.go
Labels: core, core/iam, core/sql

Reuse 'roles_with_grants' CTE across the grantsForUser queriers
  internal/iam/query.go
Labels: core, core/iam, core/sql

feat: grantsForUser for Project resources (#5669)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

feat: add MySQL command support
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mysql.go
Labels: core

backport of commit bc58d0039d3a5732bce0c85880c722dcf458de5b
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit bc58d0039d3a5732bce0c85880c722dcf458de5b
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Add important change, revise alertbox
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

Simplify grantsForUserGlobalQuery & repo func
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Change 'reqScope' parameter type to: string
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Change reqScope parameter type from `Scope` to `string` (#5748)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

backport of commit c353a4b11f84f362fbb6d9d727a8cf5fc8f6e12f
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

backport of commit c353a4b11f84f362fbb6d9d727a8cf5fc8f6e12f
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

Update transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

test(iam): Refactor GrantsForUser tests into a single test
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

test(iam): Extend TestGrantsForUser to include Account resource
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

test(iam): test(iam): Add Target resource to TestGrantsForUser
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

Test: GrantsForUser for Accounts for various user to role relationships (#5631)
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

Create query: grantsForUserGlobalAndOrgResourcesQuery
  internal/iam/query.go
Labels: core, core/iam, core/sql

Update transparent-sessions.mdx (#5751)
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

docs: Document version realignment
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

docs: Updates based on review feedback
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 3ebbef146b747d16af1f7f92e90a243868205134
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Update Desktop numbering policy
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

backport of commit c34af1c3a5e4f2112d8f1b08908574eda6fb3cc4
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

Update website/content/docs/enterprise/supported-versions.mdx
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

docs: Add article
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

backport of commit 87e4c46c8171aa1c70bd0fe1e573ee5d3679fdbf
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

backport of commit 44acf59dd79ec7bdb618d20bea29b938c06a2754
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

docs: One more missing article
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

backport of commit 44acf59dd79ec7bdb618d20bea29b938c06a2754
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

docs: Updates based on review feedback
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 01c9a7d9c5aa5213b76d5532dd272d19030d4cba
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit d060563e4d8cae2b0b81d17f4fd0c6cc9059c2b6
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Rephrase reference to fix
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit abde936dd1b30ccd04948641f012ca62790efbcb
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Update date of fix
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website
