Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat(apptoken): Add AppToken domain model (#6278)
  internal/apptoken/apptoken.go
  internal/apptoken/apptoken_test.go
Labels: core

add first test GrantsForToken
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

add first test GrantsForToken
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

feat(query): Create query for recursive requests of global app token grants on Global/Org/Project resources
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for recursive requests of global app token grants on Global/Org resources
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for recursive requests of global app token grants on Project resources
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for recursive requests of org app token grants on Global/Org/Project resources
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for recursive requests of org app token grants on Global/Org resources
  internal/apptoken/query.go
Labels: core, core/sql

feat(query): Create query for recursive requests of org app token grants on Project resources
  internal/apptoken/query.go
Labels: core, core/sql

fix test
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
Labels: core, core/iam

fix test
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
Labels: core, core/iam

add additional queries and update query names for clarity
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

add additional queries and update query names for clarity
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

add test cases
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

add test cases
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

make gen
  internal/iam/repository_token_grant.go
Labels: core, core/iam

make gen
  internal/iam/repository_token_grant.go
Labels: core, core/iam

move to apptoken
  internal/apptoken/options.go
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
  internal/iam/query.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

move to apptoken
  internal/apptoken/options.go
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
  internal/iam/query.go
  internal/iam/testing.go
Labels: core, core/iam, core/sql

add repo test
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant.go
Labels: core

add repo test
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant.go
Labels: core

add getAppTokenById kinda
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
Labels: core

add getAppTokenById kinda
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/testing.go
Labels: core

new changes updated
  internal/auth/password/argon2.go
  internal/auth/password/argon2_test.go
  internal/auth/password/options.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_password.go
  internal/securerandom/random.go
  internal/securerandom/random_test.go
Labels: core, core/auth

backport of commit ab352b5a09ebaf872e24eacc3703526ddb21fd13
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.sql
Labels: core, core/db, core/sql

fix(db): Delete legacy credential_vault_library_deleted purge job
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.sql
Labels: core, core/db, core/sql

fix(db): Delete legacy credential_vault_library_deleted purge job (#6284)
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.sql
Labels: core, core/db, core/sql

backport of commit ab352b5a09ebaf872e24eacc3703526ddb21fd13 (#6285)
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_library_deleted_purge_job.sql
Labels: core, core/db, core/sql

backport of commit f0dbd75e8eafef218f43b1b003e3376a82899e6b
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none

update aws plugins to latest version of go-kms-wrapping & boundary-plugin-aws
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none

fix naming and add test case
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

fix naming and add test case
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

fix naming and add test case
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/repository_token_grant_test.go
Labels: core, core/sql

clean up
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
Labels: core

clean up
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
Labels: core

clean up
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
Labels: core

app token parent scope id
  internal/apptoken/query.go
  internal/apptoken/repository_token_grant.go
Labels: core, core/sql

app token parent scope id
  internal/apptoken/repository_token_grant.go
Labels: core

app token parent scope id
  internal/apptoken/repository_token_grant.go
Labels: core

fix: Allow shared credentials in amskms plugin (#6286)
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/awskms/main.go
Labels: none
