Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

backport of commit 89a7404a76a04ca57bd737b9fa1d7caaea63206a
  internal/ui/VERSION
Labels: core, core/ui

bump ui commit bd1b854 (#5895)
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 89a7404a76a04ca57bd737b9fa1d7caaea63206a (#5896)
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 87f702e6af55e04f1538c28d6a2440882bfc4ab3 (#5897)
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/server

test
  internal/cmd/commands/connect/mysql.go
Labels: core

forcing enos docker network name
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Revert "forcing enos docker network name"
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Dummy Test
  enos/modules/test_e2e_docker/test.sh
Labels: none

backport of commit 6b2d5718b2ed9d84adf5e5cdb7308026d961058e
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
Labels: core, core/daemon

fix authorized_collections_action not returning for host-catalog
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
Labels: core, core/daemon

changing hosts to looks for sql container
  .github/workflows/enos-run.yml
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

fix container name
  .github/workflows/enos-run.yml
Labels: none

Adjusting for e2e tests and a bit of cleanup
  .github/workflows/enos-run.yml
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

missed a commented string
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Using Env Vars rather than parsing uri
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Comments fix
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Bgajjala mysql e2etest v2 (#5900)
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

spacing
  testing/internal/e2e/infra/docker.go
Labels: none

Update testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Spacing
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Update internal/cmd/commands/connect/mysql.go
  internal/cmd/commands/connect/mysql.go
Labels: core

adding error checks
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Make gen
  internal/cmd/commands/connect/mysql.go
Labels: core

Update testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Update internal/cmd/commands/connect/mysql.go
  internal/cmd/commands/connect/mysql.go
Labels: core

Make gen
  internal/cmd/commands/connect/mysql.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: core

derving target port from uri
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

nit
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

fix authorized_collections_action not returning for host-catalog (#5899)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
Labels: core, core/daemon

backport of commit 6b2d5718b2ed9d84adf5e5cdb7308026d961058e (#5902)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
Labels: core, core/daemon

docs: Fixes get started and operations links
  website/content/docs/architecture/system-requirements.mdx
  website/content/docs/concepts/iam.mdx
  website/content/docs/concepts/index.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/terraform-patterns/index.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/getting-started/dev-mode/index.mdx
  website/content/docs/getting-started/index.mdx
  website/content/docs/monitor/events/common.mdx
  website/content/docs/monitor/events/file.mdx
  website/content/docs/monitor/events/index.mdx
  website/content/docs/monitor/events/stderr.mdx
  website/content/docs/monitor/health.mdx
  website/content/docs/monitor/index.mdx
  website/content/docs/monitor/listeners/index.mdx
  website/content/docs/monitor/listeners/tcp.mdx
  website/content/docs/monitor/listeners/unix.mdx
  website/content/docs/monitor/metrics.mdx
  website/content/docs/overview/faq.mdx
  website/content/docs/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts, docs/getting-started

adds terraform workflows
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

backport of commit 09de8ffabc5b03cb16522622dcee8f831b5328b7
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

backport of commit 09de8ffabc5b03cb16522622dcee8f831b5328b7
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

docs: Update nav
  website/data/docs-nav-data.json
Labels: website

updating test to use url strings
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

nit: spacing
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

nit: code organization
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

docs: Partials
  website/content/docs/configuration/events/common-sink-parameters.mdx
  website/content/docs/configuration/events/file-sink.mdx
  website/content/docs/configuration/events/index.mdx
  website/content/docs/configuration/events/stderr-sink.mdx
  website/content/docs/configuration/listeners/index.mdx
  website/content/docs/configuration/listeners/tcp-listeners.mdx
  website/content/docs/monitor/events/index.mdx
  website/content/partials/configuration-reference/events/common-audit_config-examples.mdx
  website/content/partials/configuration-reference/events/common-audit_config-parameters.mdx
  website/content/partials/configuration-reference/events/common-audit_filter_overrides-parameters.mdx
  website/content/partials/configuration-reference/events/common-sink-intro.mdx
  website/content/partials/configuration-reference/events/default-events-stanza.mdx
  website/content/partials/configuration-reference/events/events-stanza-intro.mdx
  website/content/partials/configuration-reference/events/file-parameters.mdx
  website/content/partials/configuration-reference/events/file-sink-intro.mdx
  website/content/partials/configuration-reference/events/stderr-intro.mdx
  website/content/partials/configuration-reference/events/stderr-parameters.mdx
  website/content/partials/configuration-reference/listeners/listener-intro.mdx
  website/content/partials/configuration-reference/listeners/listener-purpose.mdx
  website/content/partials/configuration-reference/listeners/tcp-configure-custom-http-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-configure-tls.mdx
  website/content/partials/configuration-reference/listeners/tcp-custom-api-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-custom-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-custom-ui-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-general-parameters.mdx
  website/content/partials/configuration-reference/listeners/tcp-intro.mdx
  website/content/partials/configuration-reference/listeners/tcp-listen-on-mulitple-interfaces.mdx
  website/content/partials/configuration-reference/listeners/tcp-telemetry.mdx
  website/content/partials/configuration-reference/listeners/tcp-tls.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

Allow rollbacks of migrations if hooks fail
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
Labels: core, core/db

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
