Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat(clientcache): add sort parameters and validation for search options
  internal/clientcache/internal/cache/options.go
Labels: core

feat(clientcache): fix make gen
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

stop polluting other test cases
  internal/apptoken/repository_test.go
Labels: core

stop polluting other test cases
  internal/apptoken/repository_test.go
Labels: core

get rid of skip
  internal/website/permstable/permstable.go
Labels: core

get rid of skip
  internal/website/permstable/permstable.go
Labels: core

fix make gen
  internal/website/permstable/resource-table.mdx
Labels: core

fix make gen
  internal/website/permstable/resource-table.mdx
Labels: core

stray print
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

stray print
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

Update internal/db/schema/migrations/oss/postgres/101/05_app_token_view.up.sql
  internal/db/schema/migrations/oss/postgres/101/05_app_token_view.up.sql
Labels: core, core/db, core/sql

Update internal/db/schema/migrations/oss/postgres/101/05_app_token_view.up.sql
  internal/db/schema/migrations/oss/postgres/101/05_app_token_view.up.sql
Labels: core, core/db, core/sql

feat(apptoken): Implement ListPage
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/service_list_page.go
  internal/apptoken/service_list_test.go
Labels: core, core/sql

add resource test
  internal/types/resource/resource_test.go
Labels: core, core/types

update maxSize in controller test
  internal/daemon/controller/rate_limiter_test.go
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/defaults.json
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/override.json
Labels: core, core/daemon

backport of commit a853c4750f08b3ba7ef17b538d473009e4c8af16
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

chore(e2e): Add network check before setting up SSH service
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

use globals
  internal/apptoken/repository_test.go
Labels: core

sorting targets
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

address PR comments, validating grants and grant scopes together
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

sneaky commented code sorry
  internal/apptoken/testing.go
Labels: core

requested changes added
  .semgrep/avoid-crypto-rand.yaml
  scan.hcl
Labels: none

requested changes updated
  .semgrep/avoid-crypto-rand.yaml
  scan.hcl
Labels: none

final pr comment changes
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

feat(repository): Implement Create global app token functionality and encryption (#6328)
  Makefile
  globals/prefixes.go
  internal/apptoken/apptoken.go
  internal/apptoken/apptoken_test.go
  internal/apptoken/ids.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/store/apptoken_cipher.pb.go
  internal/apptoken/store/apptoken_global.pb.go
  internal/apptoken/store/apptoken_global_permission.pb.go
  internal/apptoken/store/apptoken_global_permission_individual_org_grant_scope.pb.go
  internal/apptoken/store/apptoken_global_permission_individual_project_grant_scope.pb.go
  internal/apptoken/store/apptoken_permission_grant.pb.go
  internal/apptoken/testing.go
  internal/proto/controller/storage/apptoken/store/v1/apptoken_cipher.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global_permission.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global_permission_individual_org_grant_scope.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_global_permission_individual_project_grant_scope.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_permission_grant.proto
Labels: core, core/proto

Backport of rdp(test): Change password retrieval for race condition into release/0.21.x (#6350)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

wip
  internal/apptoken/repository.go
Labels: core

rebase updates
  internal/apptoken/apptoken.go
  internal/apptoken/options.go
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

add actions
  internal/daemon/controller/handlers/apptokens/apptoken_service.go
  internal/types/action/action.go
  internal/website/permstable/resource-table.mdx
Labels: core, core/daemon, core/types

backport of commit e3c2266cff28446f83d54f85a57ac7432500d85a
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: update go version to 1.25.5
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

chore: Remove failing jira sync workflow
  .github/workflows/jira.yml
Labels: none

maybe fix?
  internal/daemon/controller/handlers/scopes/scope_service.go
Labels: core, core/daemon

NetIp parsing has changed, updated ldap ipv6 test
  internal/auth/ldap/auth_method_test.go
Labels: core, core/auth

backport of commit 866cb98fb2b1fd167cf20843abf395e4d226f1ab
  internal/auth/ldap/auth_method_test.go
Labels: core, core/auth

feat(clientcache): Add sorting support for sessions by created_time in repository
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/repository_sessions.go
  internal/clientcache/internal/cache/repository_sessions_test.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/cache/search_test.go
  internal/clientcache/internal/daemon/search_handler.go
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

feat(clientcache): update created time in target repository
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

scope test fixes
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
Labels: core, core/daemon

chore: update go version to 1.25.5 (#6352)
  .go-version
  api/go.mod
  go.mod
  internal/auth/ldap/auth_method_test.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core, core/auth

chore: Remove failing jira sync workflow (#6351)
  .github/workflows/jira.yml
Labels: none
