Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Remove plugins from host catalog init logic (#5875)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

bumped-ui-commit-c1f7fe2 (#5866)
  internal/ui/VERSION
Labels: core, core/ui

chore: Update nodeenrollment (#5863)
  .go-version
  go.mod
  go.sum
Labels: none

bosorawis cherrypick authtoken.TestRoleGrantsForToken removal (#5872)
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/accounts/grants_test.go
Labels: core, core/daemon

test(e2e): Added credential store to host catalog test (#5675)
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
Labels: none

test(bats): Added bats tests for generic commands (#5677)
  internal/tests/cli/boundary/_generics.bash
  internal/tests/cli/boundary/generic.bats
Labels: core

Docs: AssumeRole examples fixes (#5678)
  website/content/docs/concepts/host-discovery/aws.mdx
Labels: website, docs/concepts

Database Init Flags Refactor (#5668)
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/flags_test.go
  internal/cmd/commands/database/init.go
Labels: core

docs: Clarify credential store behavior (#5686)
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

ListResolvableAliasesPermissions Hotfix (#5673)
  internal/alias/target/repository_alias_list_resolvable.go
  internal/alias/target/service_list_resolvable_ext_test.go
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core, core/perms

chore(e2e): Added support for boundary license to be an env for enos (#5704)
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/read_license/main.tf
Labels: none

feat: Normalize fields across various Boundary components (#5599)
  globals/errors.go
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/testing.go
  internal/cmd/base/dev.go
  internal/cmd/base/listener.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/credential/vault/testing.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/handler.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/static/repository_host_test.go
  internal/ratelimit/handler_test.go
  internal/session/session.go
  internal/session/session_connect_with_test.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/util/net.go
  internal/util/net_test.go
Labels: core, core/auth, core/daemon, core/host, core/session, core/target

fix(enos): Remove brackets from standalone IPv6 addresses (#5739)
  CHANGELOG.md
  enos/modules/aws_target/main.tf
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
Labels: none

test(e2e): Better skip message (#5743)
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: none

test(e2e): Skip pagination tests until large estimated count bug is addressed (#5742)
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: none

Generate pci review checklist in PR template (#5870)
  .github/pull_request_template.md
Labels: none

docs: Updates
  CHANGELOG.md
  README.md
  website/content/docs/architecture/system-requirements.mdx
  website/content/docs/client-agent/configuration.mdx
  website/content/docs/client-agent/conflicting-software.mdx
  website/content/docs/client-agent/index.mdx
  website/content/docs/client-agent/manage.mdx
  website/content/docs/client-agent/troubleshoot.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/kms/index.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/self-managed/initialize.mdx
  website/content/docs/deploy/self-managed/install-clients.mdx
  website/content/docs/deploy/self-managed/install.mdx
  website/content/docs/deploy/terraform-patterns/index.mdx
  website/content/docs/deploy/terraform-patterns/terraform-credentials-and-credential-stores.mdx
  website/content/docs/deploy/terraform-patterns/terraform-groups-and-rbac.mdx
  website/content/docs/deploy/terraform-patterns/terraform-hosts-and-host-management.mdx
  website/content/docs/deploy/terraform-patterns/terraform-scopes.mdx
  website/content/docs/deploy/terraform-patterns/terraform-session-recording.mdx
  website/content/docs/deploy/terraform-patterns/terraform-targets.mdx
  website/content/docs/deploy/terraform-patterns/terraform-users-and-auth-methods.mdx
  website/content/docs/monitor/index.mdx
  website/content/docs/monitor/listener/tcp.mdx
  website/content/docs/monitor/listener/unix.mdx
  website/content/docs/release-notes/index.mdx
  website/content/docs/secure/encryption/connections-tls.mdx
  website/content/docs/secure/encryption/data-encryption.mdx
  website/content/docs/secure/worker-tags.mdx
  website/content/docs/session-recording/configuration/enable-session-recording.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/configuration

Remove web team from CODEOWNERS for content directories (#5476)
  CODEOWNERS
Labels: none

chore: Add note for modifying /etc/hosts (#5499)
  enos/README.md
Labels: none

internal: ensure schema manager is closed (#5521)
  internal/cmd/commands/database/funcs.go
  internal/db/schema/migrations/oss/testing.go
  internal/db/schema/schema.go
  internal/oplog/testing.go
Labels: core, core/db, core/oplog

fix(db): return expected rows err for migration logs (#5597)
  internal/db/schema/internal/postgres/postgres.go
Labels: core, core/db

fix(handlers): resolve nil reference pointer for authorize session (#5596)
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

fix(token): utilize a more accurate comparison method (#5594)
  internal/authtoken/repository.go
Labels: core

Modify storage bucket service to include NormalizeStorageBucketData (#5590)
  internal/plugin/loopback/client.go
  internal/plugin/loopback/loopback.go
  internal/plugin/loopback/storage.go
  internal/proto/plugin/v1/storage_plugin_service.proto
  sdk/pbs/plugin/storage_plugin_service.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core, core/proto

Migrate Controller Repo Usage From Store To Server (#5609)
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/tickers.go
  internal/scheduler/job/testing.go
  internal/scheduler/testing.go
  internal/server/controller.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
  internal/session/service_statistics_test.go
  internal/session/service_worker_status_report_test.go
Labels: core, core/daemon, core/server, core/session

Controller Liveliness Query Split (#5602)
  internal/daemon/controller/tickers.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/daemon, core/server

fix(daemon): set correct permissions on cache.db file (#5613)
  internal/clientcache/internal/daemon/server.go
Labels: core

update loopback to normalize endpoint_url (#5603)
  internal/host/plugin/repository_host_catalog.go
  internal/plugin/loopback/storage.go
Labels: core, core/host

Revert "Controller Liveliness Query Split (#5602)" (#5619)
  internal/daemon/controller/tickers.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/daemon, core/server

chore: remove code for 0.12 backwards compatibility in protocol support (#5622)
  internal/daemon/worker/handler.go
Labels: core, core/daemon

ICU-16457 Split Liveness Query In Two (#5628)
  internal/daemon/controller/tickers.go
  internal/server/query.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/daemon, core/server, core/sql

chore: remove more dead code (#5640)
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/provider_test.go
  internal/clientcache/internal/cache/consts.go
  internal/clientcache/internal/cache/repository_token_test.go
  internal/cmd/commands/aliasescmd/funcs.go
  internal/cmd/commands/connect/connect.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/oplog/testing.go
  internal/types/subtypes/attributes_test.go
Labels: core, core/auth, core/daemon, core/oplog, core/types

chore: remove dead target service code (#5639)
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

docs: Note that IPv4 and IPv6 are mandatory
  website/content/docs/api-clients/client-agent.mdx
Labels: website

backport of commit 1dda1c462c28e9c0143912bf8178e43f0903512b
  website/content/docs/api-clients/client-agent.mdx
Labels: website

test(e2e): Added a test for an unauthenticated user
  testing/internal/e2e/tests/base/auth_unauthenticated_test.go
Labels: none

Add parsing logic for User-Agent headers (#5645)
  internal/daemon/controller/gateway.go
  internal/daemon/controller/gateway_test.go
  internal/daemon/controller/interceptor.go
  internal/daemon/controller/interceptor_test.go
  internal/event/event.go
  internal/event/event_observation.go
  internal/event/event_observation_test.go
  internal/gen/controller/api/services/authtokens_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/controller/api/resources/authtokens/v1/authtoken.proto
  internal/proto/controller/api/services/v1/authtokens_service.proto
  internal/proto/controller/servers/services/v1/session_service.proto
  sdk/pbs/controller/api/resources/authtokens/authtoken.pb.go
Labels: core, core/daemon, core/gen, core/proto

make gen
  internal/proto/controller/api/resources/accounts/v1/account.proto
  internal/proto/controller/api/resources/aliases/v1/alias.proto
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/services/v1/account_service.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/proto/controller/api/services/v1/credential_library_service.proto
  internal/proto/controller/api/services/v1/credential_service.proto
  internal/proto/controller/api/services/v1/credential_store_service.proto
  internal/proto/controller/api/services/v1/doc.proto
  internal/proto/controller/api/services/v1/group_service.proto
  internal/proto/controller/api/services/v1/host_catalog_service.proto
  internal/proto/controller/api/services/v1/host_service.proto
  internal/proto/controller/api/services/v1/host_set_service.proto
  internal/proto/controller/api/services/v1/managed_group_service.proto
  internal/proto/controller/api/services/v1/policy_service.proto
  internal/proto/controller/api/services/v1/role_service.proto
  internal/proto/controller/api/services/v1/scope_service.proto
  internal/proto/controller/api/services/v1/session_recording_service.proto
  internal/proto/controller/api/services/v1/session_service.proto
  internal/proto/controller/api/services/v1/storage_bucket_service.proto
  internal/proto/controller/api/services/v1/target_service.proto
  internal/proto/controller/api/services/v1/user_service.proto
  internal/proto/testing/options/v1/service.proto
  sdk/pbs/plugin/storage_plugin_service.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core, core/proto

add grants tests for hosts resource
  internal/daemon/controller/handlers/hosts/grants_test.go
Labels: core, core/daemon

fix panic
  internal/daemon/controller/handlers/hosts/grants_test.go
Labels: core, core/daemon

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
