Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

test(bats): Added bats tests for generic commands (#5677)
  internal/tests/cli/boundary/_generics.bash
  internal/tests/cli/boundary/generic.bats
Labels: core

backport of commit fd03d78886e9ada5287a7afa9607eedd3ae2a7e0
  website/content/docs/concepts/host-discovery/aws.mdx
Labels: website, docs/concepts

backport of commit fd03d78886e9ada5287a7afa9607eedd3ae2a7e0
  website/content/docs/concepts/host-discovery/aws.mdx
Labels: website, docs/concepts

Update website/content/docs/concepts/host-discovery/aws.mdx
  website/content/docs/concepts/host-discovery/aws.mdx
Labels: website, docs/concepts

Update website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

fix comment typos
  internal/iam/repository_grant_scope.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Bosorawis domain iam role use new model list role (#5676)
  internal/iam/query.go
  internal/iam/repository_role.go
Labels: core, core/iam, core/sql

Docs: AssumeRole examples fixes (#5678)
  website/content/docs/concepts/host-discovery/aws.mdx
Labels: website, docs/concepts

implement part of ListRoleGrantScopes
  internal/iam/query.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam, core/sql

run make gen to update comment
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
Labels: core, core/iam

implement GlobalRoleIndividualOrgGrantScope and GlobalRoleIndividualProjectGrantScope
  internal/iam/repository_scope.go
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
Labels: core, core/iam

add grant_scope to proto definition
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
Labels: core, core/iam, core/proto

move ListRoleGrantScopes to repository_grant_scope.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam

unexport individual grants structs
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
Labels: core, core/iam

unexport listRoleGrantScopes
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

add proto definition for global role individual grant scope tables
  Makefile
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
Labels: core, core/iam, core/proto

unexport individual grants structs - missed one file
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

rename test to match actual function
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

use reader from function parameter instead of struct method
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

rename repository_grant_scope to repository_role_grant_scope
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

run make gen
  internal/iam/query.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
Labels: core, core/iam, core/proto, core/sql

add more test cases and remove add-grants test
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

Add more test
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

fix test from removing embeded struct from RoleGrantScope
  internal/iam/role_test.go
Labels: core, core/iam

update comment
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
Labels: core, core/proto

change TestRole and TestRoleGrantScope function to support new model
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/role_test.go
  internal/iam/testing.go
Labels: core, core/daemon, core/iam

implement OrgRoleIndividualGrantScope and add tests
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
  internal/iam/store/role_org_individual_grant_scope.pb.go
  internal/proto/controller/storage/iam/store/v1/role_org_individual_grant_scope.proto
Labels: core, core/db, core/iam, core/proto, core/sql

Correct Static Creds indentation (#2561)
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

Correct Static Creds indentation (#2561)
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

add validation for special scopes
  internal/iam/testing.go
Labels: core, core/iam

Correct Static Creds indentation (#2561)
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

Correct Static Creds indentation (#2561) (#5684)
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

Correct Static Creds indentation (#2561) (#5685)
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

docs: Clarify credential store behavior
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

backport of commit 1d1fd4b43606e2b610348f9217922d106ee3fa94
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

backport of commit 1d1fd4b43606e2b610348f9217922d106ee3fa94
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

Update Go and dependencies
  .go-version
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

wip: init org query
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

backport of commit fe13a7b0b95553e2ee43253fbe4a54c8fbf474bb
  website/content/docs/api-clients/client-agent.mdx
Labels: website

docs: Updates based on review feedback
  website/content/docs/api-clients/client-agent.mdx
Labels: website

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
