Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Release notes for 0.19.3 (#5852) (#5921)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Release notes for 0.19.3 (#5852) (#5920)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

chore(changelog): Add note about `-repair` flag
  CHANGELOG.md
Labels: none

Bumped product version to 0.19.4.
  version/VERSION
Labels: none

docs: Fix table row spacing
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

backport of commit 7949bb3cbe11d401bc6328f598629b73c78f2b0a
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

backport of commit 7949bb3cbe11d401bc6328f598629b73c78f2b0a
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

docs: Fix table row spacing (#5922)
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

backport of commit 7949bb3cbe11d401bc6328f598629b73c78f2b0a (#5924)
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

add sorting to changelog
  CHANGELOG.md
Labels: none

remove extra puncuation
  CHANGELOG.md
Labels: none

chore(changelog): bump date
  CHANGELOG.md
Labels: none

chore(changelog): Update for 0.19.3 release (#5892)
  CHANGELOG.md
Labels: none

docs: Note that keyboard-interactive auth is not supported
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

make gen
  internal/gen/controller.swagger.json
  internal/gen/testing/event/testing.swagger.json
Labels: core, core/gen

Make gen
  internal/gen/controller.swagger.json
  internal/gen/testing/event/testing.swagger.json
Labels: core, core/gen

backport of commit eaa8a682fff0c608ec3095bb3bffaf0055663f80
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

backport of commit eaa8a682fff0c608ec3095bb3bffaf0055663f80
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

docs: Updates based on feedback
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

docs: Note that keyboard-interactive auth is not supported (#5926)
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

docs: Update workers and targets
  website/content/docs/concepts/workers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/hosts/discovery/aws.mdx
  website/content/docs/hosts/discovery/azure.mdx
  website/content/docs/hosts/discovery/gcp.mdx
  website/content/docs/hosts/index.mdx
  website/content/docs/secure/encryption/data-encryption.mdx
  website/content/docs/secure/worker-tags.mdx
  website/content/docs/targets/configuration/index.mdx
  website/content/docs/targets/configuration/multi-hop.mdx
  website/content/docs/targets/connections/connect-target-alias.mdx
  website/content/docs/workers/configure-workers/registration.mdx
  website/content/docs/workers/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

docs: Note that keyboard-interactive auth is not supported (#5926)
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

docs: Note that keyboard-interactive auth is not supported (#5926) (#5929)
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

make gen (#5925)
  internal/gen/controller.swagger.json
Labels: core, core/gen

docs: Updates
  website/content/docs/client-agent/index.mdx
  website/content/docs/concepts/aliases.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/credentials/index.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/terraform-patterns/index.mdx
  website/content/docs/monitor/index.mdx
  website/content/docs/rbac/users/manage-users-groups.mdx
  website/content/docs/session-recording/compliance/configure-storage-policy.mdx
  website/content/docs/session-recording/compliance/index.mdx
  website/content/docs/session-recording/compliance/update-storage-policy.mdx
  website/content/docs/session-recording/compliance/validate-data-store.mdx
  website/content/docs/session-recording/configuration/configure-worker-storage.mdx
  website/content/docs/session-recording/configuration/create-storage-bucket.mdx
  website/content/docs/session-recording/configuration/enable-session-recording.mdx
  website/content/docs/session-recording/configuration/index.mdx
  website/content/docs/session-recording/configuration/manage-recorded-sessions.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-minio.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-s3-compliant.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-s3.mdx
  website/content/docs/session-recording/data/bsr-file-structure.mdx
  website/content/docs/session-recording/index.mdx
  website/content/docs/targets/configuration/create-target-alias.mdx
  website/content/docs/targets/configuration/index.mdx
  website/content/docs/targets/connections/index.mdx
  website/content/docs/workers/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

chore(e2e): created an enos scenario for an rdp target
  enos/enos-modules.hcl
  enos/enos_scenario-e2e-ui-aws-rdp.hcl
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_rdp_server/outputs.tf
  enos/modules/aws_rdp_server/variables.tf
Labels: none

cr
  enos/enos_scenario-e2e-ui-aws-rdp.hcl
  enos/modules/aws_rdp_server/main.tf
Labels: none

chore(e2e): Add recovery key to boundary config
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
Labels: none

proto: change username of UP cred to be sensitive
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/servers/services/v1/credential.proto
Labels: core, core/proto

docs: Updates
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/listeners/index.mdx
  website/content/docs/credentials/configure-credential-brokering.mdx
  website/content/docs/credentials/configure-credential-injection.mdx
  website/content/docs/credentials/index.mdx
  website/content/docs/credentials/static-cred-boundary.mdx
  website/content/docs/credentials/static-cred-vault.mdx
  website/content/docs/errors/index.mdx
  website/content/docs/filtering/events.mdx
  website/content/docs/filtering/resource-listing.mdx
  website/content/docs/interoperability-matrix/index.mdx
  website/content/docs/monitor/listeners/index.mdx
  website/content/docs/rbac/users/managed-groups.mdx
  website/content/docs/targets/index.mdx
  website/content/docs/vault/index.mdx
  website/content/partials/configuration-reference/listeners/listener-intro.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/configuration

cr
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/modules/aws_rdp_server/main.tf
Labels: none

fixup! proto: change username of UP cred to be sensitive
  internal/gen/controller/servers/services/credential.pb.go
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: core, core/gen

docs: Fixes link
  website/content/docs/workers/index.mdx
Labels: website

chore(e2e): Add recovery key to boundary config (#5933)
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-target.hcl
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/modules/aws_rdp_server/main.tf
Labels: none

docs: Updates after sync review
  website/content/docs/concepts/workers.mdx
  website/content/docs/credentials/static-cred-vault.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/deploy/self-managed/deploy-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/self-managed/install.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/hosts/aws.mdx
  website/content/docs/hosts/azure.mdx
  website/content/docs/hosts/gcp.mdx
  website/content/docs/hosts/index.mdx
  website/content/docs/overview/faq.mdx
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/session-recording/configuration/create-storage-bucket.mdx
  website/content/docs/targets/connections/index.mdx
  website/content/docs/workers/create.mdx
  website/content/docs/workers/filters.mdx
  website/content/docs/workers/index.mdx
  website/content/docs/workers/multi-hop/enterprise.mdx
  website/content/docs/workers/multi-hop/hcp.mdx
  website/content/docs/workers/multi-hop/index.mdx
  website/content/docs/workers/registration.mdx
  website/content/docs/workers/worker-tags.mdx
  website/content/partials/configuration-reference/workers/common-worker-parameters.mdx
  website/content/partials/workers/egress-worker-config.mdx
  website/content/partials/workers/ingress-worker-config.mdx
  website/content/partials/workers/intermediate-worker-config.mdx
  website/content/partials/workers/single-worker-config.mdx
  website/content/partials/workers/worker-filter-for-targets.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

cr
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_rdp_server/outputs.tf
Labels: none

chore(e2e): created an enos scenario for an rdp target (#5932)
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_rdp_server/outputs.tf
  enos/modules/aws_rdp_server/variables.tf
Labels: none

docs: Updates from review feedback
  website/content/docs/client-agent/troubleshoot.mdx
  website/content/docs/concepts/aliases.mdx
  website/content/docs/concepts/auditing.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/interoperability-matrix/index.mdx
  website/content/docs/targets/configuration/configure-transparent-sessions.mdx
  website/content/docs/targets/configuration/index.mdx
  website/content/docs/targets/connections/connect-target-alias.mdx
  website/content/docs/targets/connections/transparent-sessions.mdx
  website/content/docs/workers/create.mdx
  website/content/docs/workers/index.mdx
  website/content/docs/workers/multi-hop/hcp.mdx
  website/content/docs/workers/multi-hop/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts
