Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

addressed pr comments
  website/content/docs/api-clients/client-agent.mdx
Labels: website

update ui commit
  internal/ui/VERSION
Labels: core, core/ui

update ui commit (#6027)
  internal/ui/VERSION
Labels: core, core/ui

add test for null proj id
  internal/session/repository_session_test.go
Labels: core, core/session

fix(rdp): delete session proxy cert on project scope deletion (#6026)
  internal/db/schema/migrations/oss/postgres/98/06_target_credential_injection_certificates.up.sql
  internal/session/repository_session_test.go
Labels: core, core/db, core/session, core/sql

chore: bump version
  version/VERSION
Labels: none

chore: bump version (#6029)
  version/VERSION
Labels: none

chore: update swagger
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: update swagger (#6030)
  internal/gen/controller.swagger.json
Labels: core, core/gen

backport of commit e4908855fdf758057b053cbf9b34a2dc82d1635d
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website

docs: Security model
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website

chore(e2e): Add workflow dispatch option
  .github/workflows/test-ci-cleanup-oss.yml
Labels: none

chore(e2e): Add workflow dispatch option (#6032)
  .github/workflows/test-ci-cleanup-oss.yml
Labels: none

chore: update changelog with ui entries for 0.20.0
  CHANGELOG.md
Labels: none

Removing e2e tests for now, will revisit in a separate task
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

chore: update changelog with ui entries for 0.20.0 (#6028)
  CHANGELOG.md
Labels: none

feat(mongo): add mongo for boundary cli
  CHANGELOG.md
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mongo.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/mongo.mdx
  website/data/docs-nav-data.json
Labels: core, website

chore(e2e): Try removing env
  .github/workflows/test-ci-cleanup-oss.yml
Labels: none

fix(alias): return user-friendly error when alias value is invalid
  internal/alias/target/repository_alias.go
  internal/alias/target/repository_alias_test.go
Labels: core

Apply batch suggestions from code review
  website/content/docs/secure/security-model.mdx
Labels: website

fix(alias): return user-friendly error when alias value is invalid (#6036)
  internal/alias/target/repository_alias.go
  internal/alias/target/repository_alias_test.go
Labels: core

Revert "Removing e2e tests for now, will revisit in a separate task"
  enos/modules/test_e2e_docker/test.sh
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Format files with latest gofumpt
  internal/alias/target/repository_alias_list_resolvable.go
  internal/api/genapi/templates.go
  internal/auth/password/argon2_test.go
  internal/bsr/container.go
  internal/bsr/convert/internal/asciicast/asciicast.go
  internal/bsr/internal/fstest/space.go
  internal/cmd/commands/config/encryptdecrypt.go
  internal/cmd/commands/connect/cassandra.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mysql.go
  internal/cmd/commands/connect/postgres.go
  internal/credential/vault/client_certificate.go
  internal/credential/vault/credential.go
  internal/credential/vault/credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_capabilities.go
  internal/credential/vault/vault_token.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/worker/proxy/testing.go
  internal/host/plugin/repository_host_util.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_test.go
  internal/iam/testing.go
  internal/oplog/testing.go
  internal/perms/acl.go
  internal/perms/grants.go
  internal/ratelimit/handler.go
  internal/session/service_statistics_test.go
  internal/util/net.go
  internal/website/permstable/permstable.go
  testing/internal/e2e/vault/vault.go
Labels: core, core/auth, core/daemon, core/host, core/iam, core/oplog, core/perms, core/session

Skipping connect redis e2e test
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Skipping connect redis e2e test, commenting some parts out to make manual testing less tedious
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

Fix: remove changes added by mistake during testing
  testing/internal/e2e/infra/docker.go
Labels: none

chore(e2e): Remove unused secrets in aws cleanup job (#6037)
  .github/workflows/test-ci-cleanup-oss.yml
Labels: none

done some minor formatting
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website

feat(enos): install MongoDB client (mongosh) in e2e Docker test runtime
  enos/modules/test_e2e_docker/test.sh
Labels: none

target(addr): add validation for ipv4, ipv6, and dns addr
  internal/target/address.go
  internal/target/address_ext_test.go
Labels: core, core/target

Remove explicit Boundary DB/server startup from target_tcp_connect_mongo_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
Labels: none

docs: Adds warning example
  website/content/docs/enterprise/licensing.mdx
Labels: website

Cleanup comments and e2e test
  internal/cmd/commands/connect/redis.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: core

Add a full stop and trigger CI
  enos/modules/test_e2e_docker/test.sh
Labels: none

feat: add mongosh support to boundary connect mongo
  internal/cmd/commands/connect/mongo.go
Labels: core

Added follow-up task id
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

feat: add mongosh support to boundary connect mongo
  internal/cmd/commands/connect/mongo.go
Labels: core

make fmt
  internal/cmd/commands/connect/redis.go
Labels: core

fix test
  internal/target/address_ext_test.go
Labels: core, core/target

target(addr): add validation for ipv4, ipv6, and dns addr (#6038)
  internal/target/address.go
  internal/target/address_ext_test.go
Labels: core, core/target

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
