Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat(query): Create query for recursive requests of global app token grants on Global/Org resources
  internal/iam/query.go
Labels: core, core/iam, core/sql

test(rdp): added public controller ip as an output for github runner rdp tests
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

test(rdp): added public controller ip as an output for github runner rdp tests (#6246)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

chore(e2e): fix flakiness with ConnectCliStdoutPipe
  testing/internal/e2e/boundary/connect.go
Labels: none

wip
  testing/internal/e2e/boundary/connect.go
Labels: none

remove go < 1.17 style build tags
  internal/cmd/commands/connect/end_process_nonwindows.go
  internal/cmd/commands/connect/end_process_windows.go
Labels: core

add comment to require, also switch to an atomic bool to make myself feel better
  internal/tests/api/proxy/proxy_test.go
Labels: core

ce: chore(e2e): Address setup flakiness when getting hostname
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

cr
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

fix issue where nested cancel caused the final connection to not return data
  api/proxy/proxy.go
Labels: api

feat(handlers): CRUDL support for static password credential (#6181)
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

feat(credentials): Add PasswordAttributes credential type (#6110)
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

feat(db): Add new tables for password credential type (#6101)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

feat(cli): Add password credential CLI commands (#6117)
  api/sessionrecordings/password_credential_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/daemon, core/proto

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

feat(cli): Add support for password credential in redis helper (#6213)
  api/proxy/credentials.go
  api/proxy/credentials_test.go
  internal/cmd/commands/connect/redis.go
  internal/db/schema/migrations/oss/postgres/101/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/infra/redis_docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_password_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_redis_username_password_test.go
Labels: api, core, core/db, core/sql

feat(query): Create query for recursive requests of global app token grants on Project resources
  internal/iam/query.go
Labels: core, core/iam, core/sql

fix(db): vault password library migration adjustments and mapping overrides (#6229)
  internal/api/genapi/input.go
  internal/credential/vault/mapping_overriders.go
  internal/db/schema/migrations/oss/postgres/100/01_credential_vault_ldap_library.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_credential_vault_password_library.up.sql
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/98/02_username_password_domain_vault.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_vault_library_refactor.up.sql
  testing/internal/e2e/tests/base/target_tcp_connect_redis_password_test.go
Labels: core, core/db, core/sql

make gen
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

feat(clientproxy): automatically close boundary connect when proxy is no longer in use (#6232)
  api/proxy/option.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/end_process_nonwindows.go
  internal/cmd/commands/connect/end_process_windows.go
  internal/cmd/commands/connect/rdp.go
  internal/tests/api/proxy/proxy_test.go
Labels: api, core

fix(credential/vault): add case for upd creds in injected creds switch (#6226)
  internal/daemon/controller/handlers/targets/credentials.go
Labels: core, core/daemon

backport of commit be57be6631dc4e42414a4abf702fb3e43d2b8003
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_ldap/main.tf
  enos/modules/docker_minio/main.tf
  enos/modules/docker_network/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/test_e2e_docker/main.tf
Labels: none

chore(e2e): Update docker terraform provider to 3.6.2
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_ldap/main.tf
  enos/modules/docker_minio/main.tf
  enos/modules/docker_network/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/test_e2e_docker/main.tf
Labels: none

test2
  enos/modules/docker_worker/main.tf
Labels: none

chore(e2e): Use boundary directory to avoid permission issues
  enos/modules/docker_worker/main.tf
Labels: none

backport of commit 00f9a2b37e3d711fc159078a5c0ad6c3867047bf
  enos/modules/docker_worker/main.tf
Labels: none

fix(e2e): Use tmpfs block to open up permissions of directory
  enos/modules/docker_worker/main.tf
Labels: none

backport of commit 22421ad0a84ecb3a112fb657ae7057161dce0971
  enos/modules/docker_worker/main.tf
Labels: none

backport of commit 22421ad0a84ecb3a112fb657ae7057161dce0971
  enos/modules/docker_worker/main.tf
Labels: none

fix(e2e): Update tmpfs permissions in worker docker container (#6253)
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_ldap/main.tf
  enos/modules/docker_minio/main.tf
  enos/modules/docker_network/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/test_e2e_docker/main.tf
Labels: none

feat(clientproxy): automatically close boundary connect when proxy is no longer in use (#6232)
  api/proxy/option.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/end_process_nonwindows.go
  internal/cmd/commands/connect/end_process_windows.go
  internal/cmd/commands/connect/rdp.go
  internal/tests/api/proxy/proxy_test.go
Labels: api, core

fix(credential/vault): add case for upd creds in injected creds switch (#6249)
  internal/daemon/controller/handlers/targets/credentials.go
Labels: core, core/daemon

feat(clientproxy): automatically close boundary connect when proxy is no longer in use (#6254)
  api/proxy/option.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/end_process_nonwindows.go
  internal/cmd/commands/connect/end_process_windows.go
  internal/cmd/commands/connect/rdp.go
  internal/tests/api/proxy/proxy_test.go
Labels: api, core

fix(e2e): Update tmpfs permissions in worker docker container (#6253)
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_ldap/main.tf
  enos/modules/docker_minio/main.tf
  enos/modules/docker_network/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/test_e2e_docker/main.tf
Labels: none

fix(e2e): Update tmpfs permissions in worker docker container (#6253) (#6256)
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_ldap/main.tf
  enos/modules/docker_minio/main.tf
  enos/modules/docker_network/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/test_e2e_docker/main.tf
Labels: none

feat: add password credential to meta_session.go
  internal/bsr/meta_session.go
Labels: core
