Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

test(grants): Use 'continue' when iterating over expected outputs (#5981)
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
Labels: core, core/daemon

change latest to alpine
  .github/workflows/test-sql.yml
Labels: none

chore(sqltest): update test-sql matrix (#5982)
  .github/workflows/test-sql.yml
Labels: none

chore(e2e): Enable audio service
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

updating the doc with anyconnect vpn conflicting software
  website/content/docs/api-clients/client-agent.mdx
Labels: website

chore(sdk): Update deprecated 'nhooyr.io/websocket' library
  sdk/go.mod
  sdk/go.sum
  sdk/wspb/wspb.go
Labels: none

chore: Add github.com/coder/websocket to main module
  go.mod
  go.sum
Labels: none

chore(e2e): Ensure domain controller reboots (#5986)
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: none

chore(e2e): Added checks to userdata scripts to reduce setup flakiness
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

chore(sdk): Update deprecated 'nhooyr.io/websocket' library (#5990)
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  sdk/wspb/wspb.go
Labels: none

chore(api): Update deprecated 'nhooyr.io/websocket' library
  api/go.mod
  api/go.sum
  api/proxy/websocket.go
Labels: api

chore: Remove usage of deprecated 'nhooyr.io/websocket' library
  depowners.md
  go.mod
  go.sum
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/tcp/tcp_test.go
  internal/daemon/worker/proxy/testing.go
  internal/daemon/worker/proxy/testing_test.go
  internal/daemon/worker/proxy/websocket_codes.go
  internal/tests/cluster/sequential/x509_verification_test.go
  internal/tests/helper/testing_helper.go
Labels: core, core/daemon

Remove nhooyr.io/websocket from Boundary (#5992)
  api/go.mod
  api/go.sum
  api/proxy/websocket.go
  depowners.md
  go.mod
  go.sum
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/tcp/tcp_test.go
  internal/daemon/worker/proxy/testing.go
  internal/daemon/worker/proxy/testing_test.go
  internal/daemon/worker/proxy/websocket_codes.go
  internal/tests/cluster/sequential/x509_verification_test.go
  internal/tests/helper/testing_helper.go
Labels: api, core, core/daemon

chore(e2e): Enable audio service (#5988)
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

docs: Update redirects
  website/redirects.js
Labels: website

cr
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

docs: Update redirects
  website/redirects.js
Labels: website

cr
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

cr
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

chore(e2e): Added checks to userdata scripts to reduce setup flakiness (#5991)
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

chore: Fix spacing
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
Labels: none

fix(e2e): Pass region into worker module
  enos/enos-scenario-e2e-aws-rdp.hcl
Labels: none

chore(e2e): Add support for windows server 2016
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-scenario-e2e-aws-rdp.hcl
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

CR: Rename scenario
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

CR: enos fmt
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

add redis connect support
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/redis.go
Labels: core

Suppressing non-impactful vulnerability warning from CVE
  .release/security-scan.hcl
Labels: none

backport of commit 300e1b3535ace4f6062b4dc13a5429b6463ea6b5
  .release/security-scan.hcl
Labels: none

CR: Add username to enos vpc
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit 5f2b394ea3506eff2b72ed4d825807c9dbd53b99
  .release/security-scan.hcl
Labels: none

whitespace
  .release/security-scan.hcl
Labels: none

Suppressing non-impactful vulnerability warning from CVE (#5995)
  .release/security-scan.hcl
Labels: none

CR: Add vault environment variables
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_vault/outputs.tf
Labels: none

chore(e2e): Add support for Windows Server 2016 (#5994)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
  enos/modules/aws_vault/outputs.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

chore(e2e): Added the option to make domain controller kerberos only
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
Labels: none

cr
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/variables.tf
Labels: none

docs: Redirect fixes
  website/redirects.js
Labels: website

docs: Update redirect format
  website/redirects.js
Labels: website

fmt
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
Labels: none
