Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

docs: Updates from review
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Clarify that grants migration is automatic for HCP (#5949)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Clarify that grants migration is automatic for HCP (#5949)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Clarify that grants migration is automatic for HCP (#5949)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Clarify that grants migration is automatic for HCP (#5949) (#5957)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Clarify that grants migration is automatic for HCP (#5949) (#5958)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

feat: read from db dump file & allow MCP server to execute arbitrary SQL queries
  Makefile
  internal/daemon/mcpserver/mcp.go
  internal/daemon/mcpserver/schema.txt
  internal/warehouse/repository.go
  scripts/dump_db_schema.sh
Labels: core, core/daemon

bug: fix multiple connections to same listen port hanging CLI (#5939)
  internal/cmd/commands/connect/connect.go
  testing/internal/e2e/tests/base/target_tcp_connect_listen_port_test.go
Labels: core

Resolve Comments
  CHANGELOG.md
  testing/internal/e2e/infra/docker.go
  website/content/docs/commands/connect/cassandra.mdx
Labels: website

Update credential-libraries.mdx (#5954)
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

backport of commit 0721cd8fe2d218e1ee7dc7c8f4fe75b69248f0f4 (#5960)
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

docs: Client Agent 0.19.6 updates (#5936)
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts, docs/configuration

docs: Fixes redirects
  website/redirects.js
Labels: website

docs: Client Agent 0.19.6 updates (#5936)
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts, docs/configuration

docs: Client Agent 0.19.6 updates (#5936) (#5964)
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts, docs/configuration

docs: Fixes redirects
  website/redirects.js
Labels: website

cr
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

add db migration
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
Labels: core, core/db, core/sql

use 'created_time' consistently
  internal/db/schema/migrations/oss/postgres/98/01_app_token.up.sql
Labels: core, core/db, core/sql

docs: Deleted mysql page from TOC
  website/data/docs-nav-data.json
Labels: website

Update Log Typo
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Cassandra Connect Support (#5952)
  CHANGELOG.md
  enos/modules/test_e2e_docker/test.sh
  internal/cmd/commands.go
  internal/cmd/commands/connect/cassandra.go
  internal/cmd/commands/connect/connect.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
  website/content/docs/commands/connect/cassandra.mdx
  website/content/docs/commands/connect/index.mdx
  website/data/docs-nav-data.json
Labels: core, website

cr
  enos/enos-scenario-e2e-aws-windows.hcl
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/enos-variables.hcl
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_rdp_server/outputs.tf
  enos/modules/aws_rdp_server/variables.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
  enos/modules/aws_windows_client/variables.tf
Labels: none

cr
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/enos-variables.hcl
  enos/modules/test_e2e/main.tf
Labels: none

cr
  enos/enos-scenario-e2e-aws-windows.hcl
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-windows-worker.hcl
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_rdp_server/variables.tf
  enos/modules/aws_windows_worker/main.tf
  enos/modules/aws_windows_worker/outputs.tf
  enos/modules/aws_windows_worker/scripts/setup.ps1
  enos/modules/aws_windows_worker/variables.tf
Labels: none

removed extra things I accidently merged
  enos/enos-scenario-e2e-aws-rdp-windows-worker.hcl
  enos/modules/aws_windows_worker/main.tf
  enos/modules/aws_windows_worker/outputs.tf
  enos/modules/aws_windows_worker/scripts/setup.ps1
  enos/modules/aws_windows_worker/variables.tf
Labels: none

cr
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/enos-variables.hcl
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

mod: upgrade cap version
  go.mod
  go.sum
Labels: none

cr
  enos/modules/aws_windows_client/main.tf
Labels: none

mod: upgrade cap version (#5968)
  go.mod
  go.sum
Labels: none

test(e2e): Created module for windows client (#5942)
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/enos-scenario-e2e-aws-windows.hcl
  enos/enos-variables.hcl
  enos/modules/aws_rdp_server/outputs.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
  enos/modules/build_local/main.tf
  enos/modules/build_local/templates/build.sh
  enos/modules/test_e2e/main.tf
Labels: none

feat(proto) : updated plugin service proto to include ListObjects
  internal/proto/plugin/v1/storage_plugin_service.proto
  sdk/pbs/plugin/storage_plugin_service.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core, core/proto

docs: Update licensing information
  website/content/docs/enterprise/licensing.mdx
Labels: website

Added windows based boundary worker
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-rdp-windows-worker.hcl
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_rdp_server/variables.tf
  enos/modules/aws_windows_worker/main.tf
  enos/modules/aws_windows_worker/outputs.tf
  enos/modules/aws_windows_worker/scripts/setup.ps1
  enos/modules/aws_windows_worker/scripts/worker.hcl
  enos/modules/aws_windows_worker/variables.tf
Labels: none

Added windows based boundary worker scenario and module
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-rdp-windows-worker.hcl
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_rdp_server/main.tf
  enos/modules/aws_rdp_server/outputs.tf
  enos/modules/aws_rdp_server/variables.tf
  enos/modules/aws_windows_worker/main.tf
  enos/modules/aws_windows_worker/outputs.tf
  enos/modules/aws_windows_worker/scripts/setup.ps1
  enos/modules/aws_windows_worker/scripts/worker.hcl
  enos/modules/aws_windows_worker/variables.tf
Labels: none

fixed powershell script to run boundary on startup
  enos/modules/aws_windows_worker/scripts/setup.ps1
Labels: none

docs: Clarify use of `public_cluster_addr` for load balancing
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

docs: Include example
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
