Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Init cassandra
  cassandra.yaml
  enos/enos.vars.hcl
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Add Make Gen
  internal/cmd/commands.go
  internal/cmd/commands/connect/cassandra.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: core

Container restart
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

adding cassandra test
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra.go
Labels: none

Minor Fix
  enos/enos.vars.hcl
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Cleanup cassandra docker setup
  testing/internal/e2e/infra/docker.go
Labels: none

Adding container wait
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Adding final tests
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Fixing cleanup (uncomment)
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Removing comment
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Cleanup docker and test
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Adding test support
  enos/modules/test_e2e_docker/test.sh
Labels: none

fix spacing
  enos/modules/test_e2e_docker/test.sh
Labels: none

Removing bad yaml
  cassandra.yaml
Labels: none

Cleanup
  enos/enos.vars.hcl
Labels: none

Adressing PR review comments
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Cleanup
  enos/enos.vars.hcl
Labels: none

docs
  website/content/docs/commands/connect/index.mdx
Labels: website

adding cassandra page
  website/content/docs/commands/connect/casandra.mdx
Labels: website

nav
  website/data/docs-nav-data.json
Labels: website

docs
  website/content/docs/commands/connect/index.mdx
Labels: website

Adding changelog
  CHANGELOG.md
Labels: none

Versbose commenting
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Comment cleanup
  testing/internal/e2e/infra/docker.go
Labels: none

Removed an incorrect comment and now passing the config by reference.
  testing/internal/e2e/infra/docker.go
Labels: none

updating helper func to return errors
  testing/internal/e2e/infra/docker.go
Labels: none

doc change
  website/content/docs/commands/connect/cassandra.mdx
Labels: website

cleanup naming of file
  website/content/docs/commands/connect/cassandra.mdx
Labels: website

Fix option warning in cassandra connect command
  internal/cmd/commands/connect/cassandra.go
Labels: core

feat: expose db warehouse schemas over MCP server
  go.mod
  go.sum
  internal/cmd/ops/server.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/controller.go
  internal/daemon/mcpserver/mcp.go
  internal/warehouse/repository.go
Labels: core, core/daemon

Fix option warning in cassandra connect command (#5951)
  internal/cmd/commands/connect/cassandra.go
Labels: core

Add healthcheck to caller function as it's resposible for container health
  testing/internal/e2e/infra/docker.go
Labels: none

add err handling for listen info, move tests
  internal/cmd/commands/connect/connect.go
  testing/internal/e2e/tests/base/target_tcp_connect_listen_port_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
Labels: core

refactor tests
  testing/internal/e2e/tests/base/target_tcp_connect_listen_port_test.go
Labels: none

add require line
  testing/internal/e2e/tests/base/target_tcp_connect_listen_port_test.go
Labels: none

backport of commit 0721cd8fe2d218e1ee7dc7c8f4fe75b69248f0f4
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

Update credential-libraries.mdx
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

backport of commit 0721cd8fe2d218e1ee7dc7c8f4fe75b69248f0f4
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

backport of commit 6049b5e4c534a1170ae70c12b162042a88038dbc
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 6049b5e4c534a1170ae70c12b162042a88038dbc
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website
