Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

test(bats): Add logging to flaky tests
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

test(bats): Add logging to flaky tests (#6456)
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

backport of commit c861f53234e67a4708974395d31b20ceb3b9afe0 (#6458)
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

backport of commit c861f53234e67a4708974395d31b20ceb3b9afe0 (#6459)
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

backport of commit c861f53234e67a4708974395d31b20ceb3b9afe0 (#6460)
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

backport of commit d521528d60afaa57ba6f5480ff78ff5a38445efe
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

test(e2e): Increase wait time for containers to be ready
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

test(e2e): Increase wait time for containers to be ready (#6461)
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

backport of commit d521528d60afaa57ba6f5480ff78ff5a38445efe (#6462)
  testing/internal/e2e/tests/database/migration_test.go
Labels: none

draft: Replace docker/cli till we get updated dockertest
  go.mod
Labels: none

feat: expose grant schema for UI linting support
  internal/daemon/controller/handler_ui.go
  internal/perms/grants_schema.go
  internal/perms/grants_schema_test.go
Labels: core, core/daemon, core/perms

chore(e2e): Encrypt rds storage and snapshots
  enos/modules/aws_boundary/rds.tf
Labels: none

backport of commit 628bc9430a74904d95ca5fd441dd72bc631593e7
  enos/modules/aws_boundary/rds.tf
Labels: none

backport of commit 628bc9430a74904d95ca5fd441dd72bc631593e7
  enos/modules/aws_boundary/rds.tf
Labels: none

Update LICENSE
  LICENSE
Labels: none

Initial
  api/consts/consts.go
  api/proxy/proxy.go
  api/proxy/proxy_test.go
  api/proxy/websocket.go
  globals/globals.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/proxy/countingconn.go
  internal/daemon/worker/proxy/countingconn_test.go
  internal/daemon/worker/proxy/proxy.go
  internal/daemon/worker/proxy/proxy_conn_tracker.go
  internal/daemon/worker/proxy/proxy_conn_tracker_test.go
  internal/daemon/worker/proxy/proxy_test.go
  internal/daemon/worker/proxy/tcp/tcp.go
  internal/daemon/worker/proxy/tcp/tcp_test.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/worker.go
  internal/proto/worker/proxy/v1/proxy.proto
  sdk/pbs/proxy/proxy.pb.go
Labels: api, core, core/daemon, core/proto

chore(e2e): Encrypt rds storage and snapshots (#6471)
  enos/modules/aws_boundary/rds.tf
Labels: none

backport of commit 628bc9430a74904d95ca5fd441dd72bc631593e7 (#6473)
  enos/modules/aws_boundary/rds.tf
Labels: none

backport of commit 628bc9430a74904d95ca5fd441dd72bc631593e7 (#6475)
  enos/modules/aws_boundary/rds.tf
Labels: none

chore(e2e): Encrypt rds storage and snapshots (#6471)
  enos/modules/aws_boundary/rds.tf
Labels: none

chore(e2e): Encrypt rds storage and snapshots (#6471) (#6474)
  enos/modules/aws_boundary/rds.tf
Labels: none

chore(e2e): Always destroy iam user
  enos/modules/aws_iam_setup/main.tf
Labels: none

backport of commit aa43d021f637cf383f682d973ff983076a0e50dc
  enos/modules/aws_iam_setup/main.tf
Labels: none

backport of commit aa43d021f637cf383f682d973ff983076a0e50dc
  enos/modules/aws_iam_setup/main.tf
Labels: none

chore(e2e): Update service user terraform
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
Labels: none

backport of commit 89906a8274d8f6b5b63ee5e0fda02528815b4d26
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
Labels: none

backport of commit 89906a8274d8f6b5b63ee5e0fda02528815b4d26
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
Labels: none

ce: chore(e2e): Add support for downstream workers
  enos/enos-scenario-e2e-aws.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/templates/worker_bsr.hcl
  enos/modules/aws_boundary/templates/worker_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_boundary/templates/worker_vault_kms.hcl
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/outputs.tf
  enos/modules/aws_worker/templates/worker.hcl
  enos/modules/aws_worker/templates/worker_bsr.hcl
  enos/modules/aws_worker/templates/worker_bsr_vault_kms.hcl
  enos/modules/aws_worker/variables.tf
Labels: none

chore: Bump version to 0.21.3
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/gen

chore(e2e): Always destroy iam user (#6477)
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
  enos/modules/aws_iam_setup/main.tf
Labels: none

chore(e2e): Always destroy iam user (#6477)
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
  enos/modules/aws_iam_setup/main.tf
Labels: none

Backport of chore(e2e): Always destroy iam user into release/0.20.x (#6483)
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
  enos/modules/aws_iam_setup/main.tf
Labels: none

Backport of chore(e2e): Always destroy iam user into release/0.21.x (#6484)
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
  enos/modules/aws_iam_setup/main.tf
Labels: none

ce: chore(e2e): Remove need for /etc/hosts modifications
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/modules/docker_boundary/boundary-config-bsr.hcl
  enos/modules/docker_boundary/boundary-config-init.hcl
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  enos/modules/docker_boundary/boundary-config.hcl
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test.sh
  enos/modules/test_e2e_docker/test_runner.sh
  enos/modules/test_e2e_ui/main.tf
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/env_test.go
  testing/internal/e2e/tests/base_with_vault/paginate_credential_library_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
Labels: none

ce: test(e2e): Fix test that was failing
  testing/internal/e2e/tests/base_connect/target_tcp_connect_session_max_seconds_test.go
Labels: none

chore(e2e): Always destroy iam user (#6477) (#6480)
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/service-quotas.tf
  enos/modules/aws_iam_setup/main.tf
Labels: none

chore: Bump version to 0.21.3 (#6479)
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/gen

chore: update docker cli
  go.mod
  go.sum
Labels: none

chore: update docker cli
  go.mod
  go.sum
Labels: none

chore: update docker cli
  go.mod
  go.sum
Labels: none
