Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

add mix type assignment to TestGrantsForUser
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

chore(e2e): Remove unused code
  .github/workflows/enos-run.yml
Labels: none

wip: Init List grant tests for Scope resource
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

chore(e2e): Remove unused code (#5821)
  .github/workflows/enos-run.yml
Labels: none

rename parameter to TestManagedGroupMember
  internal/auth/oidc/testing.go
Labels: core, core/auth

make replace old GrantsForUser with new queries
  internal/iam/repository_role_grant.go
Labels: core, core/iam

fix tests and bugs where global grants don't get resolved
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Use shorter var name
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

remove unnecessary grants from grantsForUserProjectResourcesOrgScopeRecursiveQuery
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam, core/sql

Refactor migration files to create tables, functions, triggers, and complete the actual data migration in their own files.
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
Labels: core, core/db, core/sql

Fix formatting in migration files
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
Labels: core, core/db, core/sql

Add comments to migration files, clean up some formatting, and add 30k project roles to test migration efficiency
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

API: add CreateDefaultRole and CreateAdminRole options
  api/scopes/option.gen.go
  internal/api/genapi/input.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/scope_service.pb.go
  internal/iam/repository_role_grant_test.go
  internal/proto/controller/api/services/v1/scope_service.proto
Labels: api, api/scopes, core, core/gen, core/iam, core/proto

return full grants for any recursive call
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Refactor grantsForUserGlobalResourcesQuery: Use aggregate function array_agg to reduce rows returned from DB
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Refactor grantsForUserOrgResourcesQuery: Use aggregate function array_agg to reduce rows returned from DB
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Refactor grantsForUserProjectResourcesQuery: Use aggregate function array_agg to reduce rows returned from DB
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

wip
  internal/cmd/base/dev.go
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/init.go
  version/feature_manager.go
Labels: core

add back ACL tests to grants for user
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

ICU-17235 fix(sql): add explicit casting to resolve Postgres 16 domain constraint changes
  internal/db/schema/migrations/oss/postgres/96/01_update_wt_alias_constraints.up.sql
Labels: core, core/db, core/sql

backport of commit e65d5107ef0277dd946c89ac9811c713949e7e87
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Add Client Agent commands to CLI docs
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Fix typos
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/sessions.mdx
Labels: website

docs: Update status description
  website/content/docs/commands/client-agent/status.mdx
Labels: website

chore(e2e): Add service user permission for RDP testing
  enos/ci/service-user-iam/main.tf
Labels: none

chore(e2e): Remove extraneous resource
  enos/ci/service-user-iam/main.tf
Labels: none

Update website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/index.mdx
Labels: website

backport of commit afb0b0779472dd026cc7a27bfb36e1892fdb9e68
  website/content/docs/commands/client-agent/index.mdx
Labels: website

docs: Capitalize Client Agent
  website/content/docs/commands/client-agent/index.mdx
Labels: website

docs: Undo capitalization
  website/content/docs/commands/client-agent/index.mdx
Labels: website

backport of commit 889e15bb04cd90ba5b41feb6ee4a5a1437aac1e2
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

docs: Update transparent session known issue
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

backport of commit 889e15bb04cd90ba5b41feb6ee4a5a1437aac1e2
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

docs: Update transparent session known issue (#5828)
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

backport of commit 889e15bb04cd90ba5b41feb6ee4a5a1437aac1e2 (#5830)
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

Rename hook number to reflect new number of migration files split migrations into hook files, large test file, and more specific test functions
  internal/db/schema/migrations/oss/internal/hook96005/hook.go
  internal/db/schema/migrations/oss/internal/hook96005/query.go
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db, core/sql

chore(e2e): Update service user permissions for windows testing (#5827)
  enos/ci/service-user-iam/main.tf
Labels: none

Apply batch suggestions from code review
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
Labels: website

docs: Add Client Agent commands to CLI docs (#5826)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Add Client Agent commands to CLI docs (#5826)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
