Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

feat: grantsForUser for Global Resources (#5612)
  go.mod
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

fix(credentialstores): Unused variable
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
Labels: core, core/daemon

fix(config): Incorrect if statement
  internal/cmd/config/config.go
Labels: core

fix: Remove test references to invalid [::1] IP addresses
  internal/ratelimit/handler_test.go
  internal/session/session_connect_with_test.go
Labels: core, core/session

fix(authmethods): Nil ptr dereference
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
Labels: core, core/daemon

refactor(util): SplitHostPort
  globals/errors.go
  internal/cmd/base/dev.go
  internal/cmd/base/listener.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/worker/controller_connection.go
  internal/session/session.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/util/net.go
  internal/util/net_test.go
Labels: core, core/daemon, core/session

chore: Remove flaky test
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
Labels: core, core/daemon

Normalize fields across various Boundary components (#5587)
  internal/cmd/base/dev.go
  internal/cmd/base/listener.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/credential/vault/testing.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/static/repository_host_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/util/net.go
  internal/util/net_test.go
Labels: core, core/daemon, core/host

Normalize Addresses entered across workers, targets, sessions, and ldap (#5586)
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/testing.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/handler.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/tests/api/targets/target_test.go
Labels: core, core/auth, core/daemon, core/target

feat: Normalize fields across various Boundary components (#5599)
  globals/errors.go
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/testing.go
  internal/cmd/base/dev.go
  internal/cmd/base/listener.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/credential/vault/testing.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/handler.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/static/repository_host_test.go
  internal/ratelimit/handler_test.go
  internal/session/session.go
  internal/session/session_connect_with_test.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/util/net.go
  internal/util/net_test.go
Labels: core, core/auth, core/daemon, core/host, core/session, core/target

Update sed command to work without erroring on MacOS
  Makefile
Labels: none

fix(enos): Remove brackets from standalone IPv6 addresses
  enos/modules/aws_target/main.tf
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
Labels: none

chore: Add CHANGELOG entry
  CHANGELOG.md
Labels: none

fix(enos): Remove brackets from standalone IPv6 addresses (#5739)
  CHANGELOG.md
  enos/modules/aws_target/main.tf
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
Labels: none

docs: Remove default grants piece
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
Labels: website, docs/configuration

grant this scope to role by default when creating a role
  internal/iam/repository_role.go
  internal/iam/repository_role_test.go
Labels: core, core/iam

tweak comments and variable names
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

Update what-is-boundary.mdx
  website/content/docs/overview/what-is-boundary.mdx
Labels: website

backport of commit 1b35d8f45c6be3d7791025f9c5a910f293b381e6
  website/content/docs/overview/what-is-boundary.mdx
Labels: website

backport of commit 1b35d8f45c6be3d7791025f9c5a910f293b381e6
  website/content/docs/overview/what-is-boundary.mdx
Labels: website

Bosorawis domain iam implement role grant scopes all (#5701)
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_test.go
  internal/iam/role.go
  internal/iam/role_grant_scope.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
Labels: core, core/iam, core/proto

fix missing fields in role_project.proto
  internal/iam/store/role_project.pb.go
  internal/proto/controller/storage/iam/store/v1/role_project.proto
Labels: core, core/iam, core/proto

update roleGrantScopeUpdater to split setGrantScope to setHierarchicalGrantScope and removeHierarchicalGrantScope
  internal/iam/role.go
Labels: core, core/iam

update repository_scope to set GrantThisRoleScope to true
  internal/iam/repository_scope.go
Labels: core, core/iam

add grant_this_role_scope and sqltes for iam_project_role
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/sqltest/tests/iam/iam_role_project.sql
Labels: core, core/db, core/sql

rename methods
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/role.go
Labels: core, core/iam

add GrantThisRoleScope to projec role tests to role_test.go
  internal/iam/role_test.go
Labels: core, core/iam

run make gen
  internal/iam/role.go
Labels: core, core/iam

update role_project.proto to add grant_this_role_scope field
  internal/iam/store/role_project.pb.go
  internal/proto/controller/storage/iam/store/v1/role_project.proto
Labels: core, core/iam, core/proto

make TestRole not bump version when creating roles with default 'this' grants
  internal/iam/testing.go
Labels: core, core/iam

update set, add, delete, list role grant scopes to support grant_this_role_scope in project_role
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

update create_role to set default vaule for iam_role_project.grant_this_role_scope
  internal/iam/repository_role.go
Labels: core, core/iam

add grant_this_role_scope check to query.go
  internal/iam/query.go
Labels: core, core/iam, core/sql

support GrantThisRoleScope field in iam/testing.go
  internal/iam/testing.go
Labels: core, core/iam

address pr comments
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

fix variable names
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

Create function to define valid set of scopes for each resource (#5558)
  internal/iam/account.go
  internal/iam/group.go
  internal/iam/resource.go
  internal/iam/role.go
  internal/iam/user.go
  internal/perms/acl.go
  internal/perms/grants.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
  internal/website/permstable/permstable.go
Labels: core, core/iam, core/perms, core/types

feat: Define new grants tables (#5486)
  internal/db/schema/migrations/oss/postgres/0/06_iam.up.sql
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/100/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/100/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/100/06_iam_role_grant.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/iam/iam_grant.sql
  internal/db/sqltest/tests/iam/iam_role_global.sql
  internal/db/sqltest/tests/iam/iam_role_org.sql
  internal/db/sqltest/tests/iam/iam_role_project.sql
Labels: core, core/db, core/sql

test(grants): GrantsForUsers tests for Group resource (#5443)
  internal/iam/options.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Domain: iam: Repository: update list-grant-scope and test setup to use new model (#5679)
  Makefile
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_scope.go
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
  internal/iam/role_test.go
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/iam/store/role_org_individual_grant_scope.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_org_individual_grant_scope.proto
Labels: core, core/daemon, core/db, core/iam, core/proto, core/sql

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
