Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Fix client agent topic
  website/content/docs/client-agent/index.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Fix client agent topic
  website/content/docs/api-clients/client-agent.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Updates
  CHANGELOG.md
  README.md
  website/content/docs/architecture/system-requirements.mdx
  website/content/docs/client-agent/configuration.mdx
  website/content/docs/client-agent/conflicting-software.mdx
  website/content/docs/client-agent/index.mdx
  website/content/docs/client-agent/manage.mdx
  website/content/docs/client-agent/troubleshoot.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/kms/index.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/self-managed/initialize.mdx
  website/content/docs/deploy/self-managed/install-clients.mdx
  website/content/docs/deploy/self-managed/install.mdx
  website/content/docs/deploy/terraform-patterns/index.mdx
  website/content/docs/deploy/terraform-patterns/terraform-credentials-and-credential-stores.mdx
  website/content/docs/deploy/terraform-patterns/terraform-groups-and-rbac.mdx
  website/content/docs/deploy/terraform-patterns/terraform-hosts-and-host-management.mdx
  website/content/docs/deploy/terraform-patterns/terraform-scopes.mdx
  website/content/docs/deploy/terraform-patterns/terraform-session-recording.mdx
  website/content/docs/deploy/terraform-patterns/terraform-targets.mdx
  website/content/docs/deploy/terraform-patterns/terraform-users-and-auth-methods.mdx
  website/content/docs/monitor/index.mdx
  website/content/docs/monitor/listener/tcp.mdx
  website/content/docs/monitor/listener/unix.mdx
  website/content/docs/release-notes/index.mdx
  website/content/docs/secure/encryption/connections-tls.mdx
  website/content/docs/secure/encryption/data-encryption.mdx
  website/content/docs/secure/worker-tags.mdx
  website/content/docs/session-recording/configuration/enable-session-recording.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/configuration

docs: Unix partials
  website/content/docs/configuration/listeners/unix-listeners.mdx
  website/content/partials/configuration-reference/listeners/unix-configure-tls.mdx
  website/content/partials/configuration-reference/listeners/unix-general-parameters.mdx
  website/content/partials/configuration-reference/listeners/unix-intro.mdx
  website/content/partials/configuration-reference/listeners/unix-listen-on-multiple-interfaces.mdx
  website/content/partials/configuration-reference/listeners/unix-telemetry.mdx
  website/content/partials/configuration-reference/listeners/unix-tls-parameters.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Fixes get started and operations links
  website/content/docs/architecture/system-requirements.mdx
  website/content/docs/concepts/iam.mdx
  website/content/docs/concepts/index.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/terraform-patterns/index.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/getting-started/dev-mode/index.mdx
  website/content/docs/getting-started/index.mdx
  website/content/docs/monitor/events/common.mdx
  website/content/docs/monitor/events/file.mdx
  website/content/docs/monitor/events/index.mdx
  website/content/docs/monitor/events/stderr.mdx
  website/content/docs/monitor/health.mdx
  website/content/docs/monitor/index.mdx
  website/content/docs/monitor/listeners/index.mdx
  website/content/docs/monitor/listeners/tcp.mdx
  website/content/docs/monitor/listeners/unix.mdx
  website/content/docs/monitor/metrics.mdx
  website/content/docs/overview/faq.mdx
  website/content/docs/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts, docs/getting-started

docs: Worker partials
  website/content/docs/configuration/workers.mdx
  website/content/docs/workers/index.mdx
  website/content/partials/configuration-reference/workers/common-worker-parameters.mdx
  website/content/partials/configuration-reference/workers/complete-configuration-example.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Update nav
  website/data/docs-nav-data.json
Labels: website

docs: Partials
  website/content/docs/configuration/events/common-sink-parameters.mdx
  website/content/docs/configuration/events/file-sink.mdx
  website/content/docs/configuration/events/index.mdx
  website/content/docs/configuration/events/stderr-sink.mdx
  website/content/docs/configuration/listeners/index.mdx
  website/content/docs/configuration/listeners/tcp-listeners.mdx
  website/content/docs/monitor/events/index.mdx
  website/content/partials/configuration-reference/events/common-audit_config-examples.mdx
  website/content/partials/configuration-reference/events/common-audit_config-parameters.mdx
  website/content/partials/configuration-reference/events/common-audit_filter_overrides-parameters.mdx
  website/content/partials/configuration-reference/events/common-sink-intro.mdx
  website/content/partials/configuration-reference/events/default-events-stanza.mdx
  website/content/partials/configuration-reference/events/events-stanza-intro.mdx
  website/content/partials/configuration-reference/events/file-parameters.mdx
  website/content/partials/configuration-reference/events/file-sink-intro.mdx
  website/content/partials/configuration-reference/events/stderr-intro.mdx
  website/content/partials/configuration-reference/events/stderr-parameters.mdx
  website/content/partials/configuration-reference/listeners/listener-intro.mdx
  website/content/partials/configuration-reference/listeners/listener-purpose.mdx
  website/content/partials/configuration-reference/listeners/tcp-configure-custom-http-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-configure-tls.mdx
  website/content/partials/configuration-reference/listeners/tcp-custom-api-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-custom-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-custom-ui-response-headers.mdx
  website/content/partials/configuration-reference/listeners/tcp-general-parameters.mdx
  website/content/partials/configuration-reference/listeners/tcp-intro.mdx
  website/content/partials/configuration-reference/listeners/tcp-listen-on-mulitple-interfaces.mdx
  website/content/partials/configuration-reference/listeners/tcp-telemetry.mdx
  website/content/partials/configuration-reference/listeners/tcp-tls.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

docs: Updates Fixes merge conficts for IA branch rebase
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/getting-started/dev-mode/run-and-login.mdx
  website/content/docs/session-recording/configuration/configure-worker-storage.mdx
  website/content/docs/workers/configure-workers/worker-configuration.mdx
  website/content/docs/workers/index.mdx
  website/content/partials/configuration-reference/workers/common-worker-parameters.mdx
Labels: website, docs/getting-started

docs: Updates
  website/content/docs/client-agent/index.mdx
  website/content/docs/concepts/aliases.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/credentials/index.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/terraform-patterns/index.mdx
  website/content/docs/monitor/index.mdx
  website/content/docs/rbac/users/manage-users-groups.mdx
  website/content/docs/session-recording/compliance/configure-storage-policy.mdx
  website/content/docs/session-recording/compliance/index.mdx
  website/content/docs/session-recording/compliance/update-storage-policy.mdx
  website/content/docs/session-recording/compliance/validate-data-store.mdx
  website/content/docs/session-recording/configuration/configure-worker-storage.mdx
  website/content/docs/session-recording/configuration/create-storage-bucket.mdx
  website/content/docs/session-recording/configuration/enable-session-recording.mdx
  website/content/docs/session-recording/configuration/index.mdx
  website/content/docs/session-recording/configuration/manage-recorded-sessions.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-minio.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-s3-compliant.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-s3.mdx
  website/content/docs/session-recording/data/bsr-file-structure.mdx
  website/content/docs/session-recording/index.mdx
  website/content/docs/targets/configuration/create-target-alias.mdx
  website/content/docs/targets/configuration/index.mdx
  website/content/docs/targets/connections/index.mdx
  website/content/docs/workers/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

docs: Update workers and targets
  website/content/docs/concepts/workers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/hosts/discovery/aws.mdx
  website/content/docs/hosts/discovery/azure.mdx
  website/content/docs/hosts/discovery/gcp.mdx
  website/content/docs/hosts/index.mdx
  website/content/docs/secure/encryption/data-encryption.mdx
  website/content/docs/secure/worker-tags.mdx
  website/content/docs/targets/configuration/index.mdx
  website/content/docs/targets/configuration/multi-hop.mdx
  website/content/docs/targets/connections/connect-target-alias.mdx
  website/content/docs/workers/configure-workers/registration.mdx
  website/content/docs/workers/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

docs: Updates Fixes merge conficts for IA branch rebase
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/listeners/index.mdx
  website/content/docs/credentials/configure-credential-brokering.mdx
  website/content/docs/credentials/configure-credential-injection.mdx
  website/content/docs/credentials/index.mdx
  website/content/docs/credentials/static-cred-boundary.mdx
  website/content/docs/credentials/static-cred-vault.mdx
  website/content/docs/errors/index.mdx
  website/content/docs/filtering/events.mdx
  website/content/docs/filtering/resource-listing.mdx
  website/content/docs/interoperability-matrix/index.mdx
  website/content/docs/monitor/listeners/index.mdx
  website/content/docs/rbac/users/managed-groups.mdx
  website/content/docs/targets/index.mdx
  website/content/docs/vault/index.mdx
  website/content/partials/configuration-reference/listeners/listener-intro.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/configuration

docs: Fixes link
  website/content/docs/workers/index.mdx
Labels: website

docs: Updates after sync review
  website/content/docs/concepts/workers.mdx
  website/content/docs/credentials/static-cred-vault.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/configure-workers.mdx
  website/content/docs/deploy/self-managed/deploy-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/self-managed/install.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/hosts/aws.mdx
  website/content/docs/hosts/azure.mdx
  website/content/docs/hosts/gcp.mdx
  website/content/docs/hosts/index.mdx
  website/content/docs/overview/faq.mdx
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/session-recording/configuration/create-storage-bucket.mdx
  website/content/docs/targets/connections/index.mdx
  website/content/docs/workers/create.mdx
  website/content/docs/workers/filters.mdx
  website/content/docs/workers/index.mdx
  website/content/docs/workers/multi-hop/enterprise.mdx
  website/content/docs/workers/multi-hop/hcp.mdx
  website/content/docs/workers/multi-hop/index.mdx
  website/content/docs/workers/registration.mdx
  website/content/docs/workers/worker-tags.mdx
  website/content/partials/configuration-reference/workers/common-worker-parameters.mdx
  website/content/partials/workers/egress-worker-config.mdx
  website/content/partials/workers/ingress-worker-config.mdx
  website/content/partials/workers/intermediate-worker-config.mdx
  website/content/partials/workers/single-worker-config.mdx
  website/content/partials/workers/worker-filter-for-targets.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

docs: Updates from review feedback Fixes merge conficts for IA branch rebase
  website/content/docs/client-agent/troubleshoot.mdx
  website/content/docs/concepts/aliases.mdx
  website/content/docs/concepts/auditing.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/interoperability-matrix/index.mdx
  website/content/docs/targets/configuration/configure-transparent-sessions.mdx
  website/content/docs/targets/configuration/index.mdx
  website/content/docs/targets/connections/connect-target-alias.mdx
  website/content/docs/targets/connections/transparent-sessions.mdx
  website/content/docs/workers/create.mdx
  website/content/docs/workers/index.mdx
  website/content/docs/workers/multi-hop/hcp.mdx
  website/content/docs/workers/multi-hop/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts

docs: Move worker filter examples
  website/content/docs/workers/filters.mdx
  website/content/docs/workers/index.mdx
  website/content/docs/workers/worker-tags.mdx
  website/content/partials/workers/worker-filter-for-targets.mdx
Labels: website

docs: Fix links Fixes merge conficts for IA branch rebase
  website/content/docs/concepts/iam.mdx
  website/content/docs/deploy/self-managed/configure-controllers.mdx
  website/content/docs/deploy/self-managed/deploy-workers.mdx
  website/content/docs/deploy/self-managed/index.mdx
  website/content/docs/deploy/self-managed/install.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/getting-started/dev-mode/run-and-login.mdx
  website/content/docs/hosts/index.mdx
  website/content/docs/rbac/users/manage-users-groups.mdx
  website/content/docs/secure/encryption/data-encryption.mdx
  website/content/docs/session-recording/configuration/create-storage-bucket.mdx
  website/content/docs/session-recording/configuration/manage-recorded-sessions.mdx
  website/content/docs/session-recording/configuration/storage-providers/configure-s3-compliant.mdx
  website/content/docs/session-recording/data/read-bsr-file.mdx
  website/content/docs/targets/connections/connect-target-alias.mdx
  website/content/docs/targets/connections/transparent-sessions.mdx
  website/content/docs/workers/filters.mdx
  website/content/docs/workers/multi-hop/enterprise.mdx
  website/content/docs/workers/multi-hop/hcp.mdx
  website/content/docs/workers/multi-hop/index.mdx
  website/content/docs/workers/registration.mdx
  website/content/partials/workers/egress-worker-config.mdx
  website/content/partials/workers/single-worker-config.mdx
Labels: website, docs/concepts, docs/getting-started

docs: Fixes broken links Fixes merge conficts for IA branch rebase
  website/content/docs/deploy/terraform-patterns/terraform-groups-and-rbac.mdx
  website/content/docs/domain-model/groups.mdx
  website/content/docs/domain-model/roles.mdx
  website/content/docs/domain-model/scopes.mdx
  website/content/docs/domain-model/sessions.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/domain-model/users.mdx
  website/content/docs/rbac/users/manage-users-groups.mdx
  website/redirects.js
Labels: website

docs: Fixes redirects
  website/redirects.js
Labels: website

docs: Update list intro
  website/content/docs/filtering/index.mdx
Labels: website

docs: Add links to other filter topics
  website/content/docs/filtering/index.mdx
Labels: website

docs: Fixes redirects
  website/redirects.js
Labels: website

docs: Adds link
  website/content/docs/workers/index.mdx
Labels: website

docs: Deleted mysql page from TOC Fixes merge conficts for IA branch rebase
  website/data/docs-nav-data.json
Labels: website

docs: Fix a typo
  website/redirects.js
Labels: website

docs: Redirect fixes
  website/redirects.js
Labels: website

docs: Adds versioned redirects
  website/redirects.js
Labels: website

uses /etc/boundary.d/ as recommended installation directory (#6003)
  website/content/docs/architecture/high-availability.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/commands/database/migrate.mdx
  website/content/docs/commands/server.mdx
  website/content/docs/deploy/self-managed/systemd.mdx
Labels: website

docs: Update redirects
  website/redirects.js
Labels: website

docs: Update redirect format
  website/redirects.js
Labels: website

docs: Update redirects
  website/redirects.js
Labels: website

docs: Add versioned redirect
  website/redirects.js
Labels: website

docs: Adds versioned redirects
  website/redirects.js
Labels: website

docs: Adds links out to client agent troubleshooting
  website/content/docs/errors/index.mdx
Labels: website

docs: Fixes redirects
  website/redirects.js
Labels: website

docs: Fixes redirect
  website/redirects.js
Labels: website

docs: Updates legacy io links
  CHANGELOG.md
  README.md
  website/README.md
  website/redirects.js
Labels: website

adds commands/connect/mysql and cassandra back
  website/data/docs-nav-data.json
Labels: website

feat: upgrade node version to v22 (#5983)
  .github/workflows/test-cli-ui_oss.yml
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website

feat(db): Add username_password_domain credential entities
  internal/db/schema/migrations/oss/postgres/49/01_vault_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/63/01_credential_vault_ssh_cert_library.up.sql
  internal/db/schema/migrations/oss/postgres/71/14_recording_static_credential.up.sql
  internal/db/schema/migrations/oss/postgres/78/01_ssh_signed_certs_additional_valid_principals.up.sql
  internal/db/schema/migrations/oss/postgres/99901/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99901/02_username_password_domain_vault.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_issue_credentials.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_username_password_domain_mapping_ovrd.sql
  internal/db/sqltest/tests/history/static_credentials.sql
  internal/db/sqltest/tests/pagination/credential.sql
  internal/db/sqltest/tests/recording/recording_static_credentials.sql
Labels: core, core/db, core/sql
