Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Add certificate acceptance to Windows
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

Create rdp-testing-and-compatibility-matrix.mdx
  website/content/docs/commands/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

docs: Clean up beta references, adds update commands
  website/content/docs/commands/credentials/create.mdx
  website/content/docs/commands/credentials/update.mdx
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/credentials/configure-credential-injection.mdx
  website/content/docs/credentials/index.mdx
Labels: website

Update rdp-testing-and-compatibility-matrix.mdx to get rid of ticket number
  website/content/docs/commands/credentials/rdp-testing-and-compatibility-matrix.mdx
Labels: website

docs: Deletes older important changes
  website/content/docs/release-notes/v0_20_0.mdx
Labels: website

docs: Add target address caveats
  website/content/docs/credentials/static-cred-boundary.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/targets/configuration/create-target-alias.mdx
Labels: website

docs: Update RDP target address caveat
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/targets/configuration/create-target-alias.mdx
Labels: website

docs: Remove session recording options
  website/content/docs/commands/targets/create.mdx
Labels: website

docs: Reorder UPD options
  website/content/docs/commands/credentials/update.mdx
Labels: website

docs: Version 0.20.0 docs (#6085)
  website/content/docs/commands/credentials/create.mdx
  website/content/docs/commands/credentials/update.mdx
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/credentials/configure-credential-injection.mdx
  website/content/docs/credentials/index.mdx
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
  website/content/docs/credentials/static-cred-boundary.mdx
  website/content/docs/credentials/static-cred-vault.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/domain-model/credentials.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/overview/bastion-hosts.mdx
  website/content/docs/overview/faq.mdx
  website/content/docs/release-notes/v0_20_0.mdx
  website/content/docs/targets/configuration/create-target-alias.mdx
  website/content/docs/targets/connections/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts

docs: Version 0.20.0 docs (#6085)
  website/content/docs/commands/credentials/create.mdx
  website/content/docs/commands/credentials/update.mdx
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/credentials/configure-credential-injection.mdx
  website/content/docs/credentials/index.mdx
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
  website/content/docs/credentials/static-cred-boundary.mdx
  website/content/docs/credentials/static-cred-vault.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/domain-model/credentials.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/overview/bastion-hosts.mdx
  website/content/docs/overview/faq.mdx
  website/content/docs/release-notes/v0_20_0.mdx
  website/content/docs/targets/configuration/create-target-alias.mdx
  website/content/docs/targets/connections/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts

docs: Version 0.20.0 docs (#6085) (#6087)
  website/content/docs/commands/credentials/create.mdx
  website/content/docs/commands/credentials/update.mdx
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/credentials/configure-credential-injection.mdx
  website/content/docs/credentials/index.mdx
  website/content/docs/credentials/rdp-testing-and-compatibility-matrix.mdx
  website/content/docs/credentials/static-cred-boundary.mdx
  website/content/docs/credentials/static-cred-vault.mdx
  website/content/docs/domain-model/credential-stores.mdx
  website/content/docs/domain-model/credentials.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/overview/bastion-hosts.mdx
  website/content/docs/overview/faq.mdx
  website/content/docs/release-notes/v0_20_0.mdx
  website/content/docs/targets/configuration/create-target-alias.mdx
  website/content/docs/targets/connections/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts

backport of commit b0b97ae71e0d18089ca3e107073f4916032fda3b
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/variables.tf
Labels: none

chore(e2e): Allow AWS to select default db version
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/variables.tf
Labels: none

backport of commit b0b97ae71e0d18089ca3e107073f4916032fda3b
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/variables.tf
Labels: none

Bumped product version to 0.20.1.
  version/VERSION
Labels: none

chore(e2e): Add rds:DescribeDBEngineVersions permission
  enos/ci/service-user-iam/main.tf
Labels: none

chore(e2e): Add rds:DescribeDBEngineVersions permission (#6089)
  enos/ci/service-user-iam/main.tf
Labels: none

chore(e2e): Allow AWS to select default db version (#6090)
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/variables.tf
Labels: none

remove name var necessity in docker scenario
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

rm log
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

backport of commit b0b97ae71e0d18089ca3e107073f4916032fda3b (#6091)
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/variables.tf
Labels: none

parse from docker load
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

rm docker image name var from enos-variables
  enos/enos-variables.hcl
Labels: none

rm boundary_docker_image_name from files
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
Labels: none

fix(e2e): Address flakes in TestCliSearch (#6080)
  testing/internal/e2e/tests/base/search_test.go
Labels: none

chore(e2e): Update framework to remove boundary_docker_image_name (#6092)
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

chore(e2e): Update framework to remove boundary_docker_image_name (#6092)
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_crt/main.tf
Labels: none

backport of commit ab521f92c3214d2253709f68d0b8a82191306fea
  website/content/docs/session-recording/compliance/configure-storage-policy.mdx
  website/content/docs/session-recording/compliance/update-storage-policy.mdx
Labels: website

chore: fix session recording policy formatting
  website/content/docs/session-recording/compliance/configure-storage-policy.mdx
  website/content/docs/session-recording/compliance/update-storage-policy.mdx
Labels: website

backport of commit ab521f92c3214d2253709f68d0b8a82191306fea
  website/content/docs/session-recording/compliance/configure-storage-policy.mdx
  website/content/docs/session-recording/compliance/update-storage-policy.mdx
Labels: website

chore: fix session recording policy formatting (#6097)
  website/content/docs/session-recording/compliance/configure-storage-policy.mdx
  website/content/docs/session-recording/compliance/update-storage-policy.mdx
Labels: website

backport of commit ab521f92c3214d2253709f68d0b8a82191306fea (#6099)
  website/content/docs/session-recording/compliance/configure-storage-policy.mdx
  website/content/docs/session-recording/compliance/update-storage-policy.mdx
Labels: website

chore: updated ec2 configurations to require imdsv2 (#6005)
  enos/README.md
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_worker/main.tf
Labels: none

test(e2e): Update log level to debug
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
  enos/modules/aws_boundary/templates/controller_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/controller_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/templates/worker_bsr.hcl
  enos/modules/aws_boundary/templates/worker_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_boundary/templates/worker_vault_kms.hcl
  enos/modules/docker_boundary/boundary-config-bsr.hcl
  enos/modules/docker_boundary/boundary-config-init.hcl
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  enos/modules/docker_boundary/boundary-config.hcl
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
Labels: none

backport of commit e0ef9be90f27fd56fd8b60d4e3f70a8402a22d84 (#6100)
  enos/README.md
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_worker/main.tf
Labels: none

test(e2e): Add test for connect redis
  testing/internal/e2e/tests/base/target_tcp_connect_redis_test.go
Labels: none

docs: Fix asciicast link
  website/content/docs/session-recording/index.mdx
Labels: website

backport of commit 3b9ac7b907de3f245a4b5491ffb2009fe6c05dca
  website/content/docs/session-recording/index.mdx
Labels: website

backport of commit 3b9ac7b907de3f245a4b5491ffb2009fe6c05dca
  website/content/docs/session-recording/index.mdx
Labels: website
