Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

test(e2e): Check all addresses in output
  testing/internal/e2e/tests/gcp/dynamichostcatalog_host_set_test.go
Labels: none

Create grantsForUser query for global-scoped Global/Org/Proj resources
  internal/iam/query.go
Labels: core, core/iam, core/sql

Migrate ui-related scripts to use pnpm instead of yarn
  .github/workflows/enos-run.yml
  enos/modules/build_local/templates/build.sh
  enos/modules/test_e2e_ui/main.tf
  scripts/build-ui.sh
Labels: none

test(e2e): Check all addresses in output (#5820)
  testing/internal/e2e/tests/gcp/dynamichostcatalog_host_set_test.go
Labels: none

Create grantsForUser query for org-scoped Globa/Org/Proj resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Create tests for grantsForUserGlobalOrOrgOrProjectResources
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Create grantsForUser repo function for Global/Org/Proj resources
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Add tests for grantsForUser Global/Org/Proj resource query's org & project request_scopes
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

add read createControllerLed createWorkerLed tests
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

minor refactor
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

pr comment feedback
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

small comment update
  internal/db/schema/migrations/oss/internal/hook96007/query.go
Labels: core, core/db, core/sql

feat: migration hook grants refactor (#5733)
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

Add 'children' grant_scoped org roles to result set
  internal/iam/query.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Add clarifying comments and shorter naming convention
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

feat: grantsForUser for Global/Org/Project resources (#5807)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

make auth.WithRecursive take boolean input
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
Labels: core, core/daemon

make gen
  internal/iam/options_test.go
Labels: core, core/iam

update interceptor_test.go to use resource.Scope for testing auth.Verify
  internal/daemon/controller/interceptor_test.go
Labels: core, core/daemon

update GrantsForUser godoc
  internal/iam/repository_role_grant.go
Labels: core, core/iam

internal/daemon/controller/handlers/accounts/account_service_test.go fix GrantsForUser signature
  internal/daemon/controller/handlers/accounts/account_service_test.go
Labels: core, core/daemon

move GrantsForUser test to internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

update internal/auth/additional_verification_test.go to no longer use WithType
  internal/auth/additional_verification_test.go
Labels: core, core/auth

add recursive options to iam
  internal/iam/options.go
  internal/iam/options_test.go
Labels: core, core/iam

make iam.WithRecursive option takes a boolean input
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/iam/options.go
  internal/iam/options_test.go
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/daemon, core/iam

rewrite GrantsForUser tests to match the new expectation
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/iam

fix missing import from rebase
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

handle explicit resource type in aclAndGrantHashForUser
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

handle recursive call in s.authResult
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
Labels: core, core/daemon

auth/options_test.go add assertion for default option values
  internal/daemon/controller/auth/options_test.go
Labels: core, core/daemon

replace GrantsForUser tests with a new version with scoped down grants
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

use resource.Scope to test Audit events
  internal/daemon/controller/auth/auth_test.go
Labels: core, core/daemon

add recursive options to auth
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
Labels: core, core/daemon

add resource.Type to auth.Verify callchain
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/iam/repository_role_grant.go
Labels: core, core/daemon, core/iam

internal/auth/ldap/managed_group_role_grants_test.go fix GrantsForUser signature
  internal/auth/ldap/managed_group_role_grants_test.go
Labels: core, core/auth

remove WithType option
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
Labels: core, core/daemon

use global scope for ListResolvableAlias aclAndGrantHashForUser
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

remove unused options
  internal/iam/options.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam

add godoc comment on GrantsForUser
  internal/iam/repository_role_grant.go
Labels: core, core/iam

resolve ListResolvableAlias destination permissions properly
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
