Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

backport of commit fc73ed78832096b52c8cd3ece5c4b6409c3b9b45
  internal/cmd/base/dev.go
Labels: core

fix: Update URL to be ipv6 safe
  internal/cmd/base/dev.go
Labels: core

chore: Bump go version to 1.26.4 (#6750)
  .go-version
  Makefile
  api/go.mod
  go.mod
  internal/cmd/base/dev.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core

Backport of chore: Bump go version to 1.26.4 into release/0.21.x (#6751)
  .go-version
  Makefile
  api/go.mod
  go.mod
  internal/cmd/base/dev.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core

chore(controller): move grants schema route to /internal
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_ui.go
Labels: core, core/daemon

chore(controller): move grants schema route to internal (#6753)
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_ui.go
Labels: core, core/daemon

org token deleted scopes & cleanup
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core, core/sql

feat(apptoken): Add a lookup call to DeleteAppToken & uncomment dependent tests
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

feat(repository): LookupAppToken() queries and repository function (#6420)
  internal/apptoken/apptoken.go
  internal/apptoken/options.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant.go
  internal/apptoken/testing.go
  internal/iam/query.go
  internal/iam/role.go
Labels: core, core/iam, core/sql

chore(API): Update the API definitions for RDP
  api/client.go
  api/sessionrecordings/channel_recording.gen.go
  api/sessionrecordings/connection_recording.gen.go
  api/sessionrecordings/custom.go
  api/sessionrecordings/export.gen.go
  api/sessionrecordings/option.gen.go
  api/sessionrecordings/rdp_target_attributes.gen.go
  api/sessionrecordings/recording_state.gen.go
  api/sessionrecordings/session_recording.gen.go
  api/sessionrecordings/username_password_domain_credential_attributes.gen.go
  api/sessionrecordings/vault_ldap_credential_library_attributes.gen.go
  api/sessionrecordings/video.gen.go
  api/targets/option.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/cmd/commands.go
  internal/cmd/commands/sessionrecordingscmd/download.go
  internal/cmd/commands/sessionrecordingscmd/export.go
  internal/cmd/commands/sessionrecordingscmd/funcs.go
  internal/cmd/commands/targetscmd/rdp_funcs.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/session_recording_service.pb.go
  internal/gen/controller/api/services/session_recording_service.pb.gw.go
  internal/gen/controller/api/services/session_recording_service_grpc.pb.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/session_recording_service.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, api/targets, core, core/gen, core/proto

chore(API): Update the API definitions for RDP (#6758)
  api/client.go
  api/sessionrecordings/channel_recording.gen.go
  api/sessionrecordings/connection_recording.gen.go
  api/sessionrecordings/custom.go
  api/sessionrecordings/export.gen.go
  api/sessionrecordings/option.gen.go
  api/sessionrecordings/rdp_target_attributes.gen.go
  api/sessionrecordings/recording_state.gen.go
  api/sessionrecordings/session_recording.gen.go
  api/sessionrecordings/username_password_domain_credential_attributes.gen.go
  api/sessionrecordings/vault_ldap_credential_library_attributes.gen.go
  api/sessionrecordings/video.gen.go
  api/targets/option.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/cmd/commands.go
  internal/cmd/commands/sessionrecordingscmd/download.go
  internal/cmd/commands/sessionrecordingscmd/export.go
  internal/cmd/commands/sessionrecordingscmd/funcs.go
  internal/cmd/commands/targetscmd/rdp_funcs.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/session_recording_service.pb.go
  internal/gen/controller/api/services/session_recording_service.pb.gw.go
  internal/gen/controller/api/services/session_recording_service_grpc.pb.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/session_recording_service.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, api/targets, core, core/gen, core/proto

revert alias_test.go changes
  internal/alias/target/alias_test.go
Labels: core

chore: add set/remove alias suffix API definitions
  api/scopes/custom.go
  internal/alias/target/alias_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.gw.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/proto/controller/api/services/v1/scope_service.proto
Labels: api, api/scopes, core, core/daemon, core/gen, core/proto

fix(test): revert alias_test changes
  internal/alias/target/alias_test.go
Labels: core

chore(API): add set/remove alias suffix API definitions (#6757)
  api/scopes/custom.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.gw.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/proto/controller/api/services/v1/scope_service.proto
Labels: api, api/scopes, core, core/daemon, core/gen, core/proto

chore: bump api sdk versions
  go.mod
Labels: none

chore: bump api sdk versions (#6759)
  go.mod
Labels: none

ci: add bootstrap debug probe
  enos/ci/bootstrap/main.tf
Labels: none

ci: probe via external data
  enos/ci/bootstrap/main.tf
Labels: none

ci: restore main.tf + probe
  enos/ci/bootstrap/main.tf
Labels: none

ci: enos probe
  enos/enos.hcl
Labels: none

ci: reference probe in output
  enos/enos.hcl
Labels: none

ci: env probe test
  enos/zz_probe_test.go
Labels: none

ci probe 2
  enos/ci/bootstrap/main.tf
Labels: none

ci probe
  enos/ci/bootstrap/main.tf
Labels: none

chore: Remove slack messages
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

bump the postgress version used in CI and fix the tests that broke
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/db/schema/migrations/oss/postgres_46_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
  testing/dbtest/docker/Dockerfile.17-alpine
  testing/dbtest/docker/Dockerfile.18-alpine
  testing/dbtest/docker/Makefile
Labels: core, core/daemon, core/db

chore: Remove dependencies to cloud providers
  .github/workflows/enos-run.yml
Labels: none

chore: Remove use of ENOS_GPG secrets
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Update secret usage in github actions (#6764)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Fix backport
  .github/workflows/backport.yml
Labels: none

chore: Fix backport (#6765)
  .github/workflows/backport.yml
Labels: none

chore: Fix backport (#6765)
  .github/workflows/backport.yml
Labels: none

chore: Update secret usage in github actions (#6764)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Fix backport (#6765) (#6766)
  .github/workflows/backport.yml
Labels: none

sort Grants by raw grant string rather than GrantStrings
  internal/daemon/controller/handlers/roles/role_service_test.go
Labels: core, core/daemon

chore: Update secret usage in github actions (#6764) (#6767)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Update dependencies for cve
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: Suppress GO-2026-5932
  .release/security-scan.hcl
Labels: none

chore: Update dependencies for cve (#6768)
  .release/security-scan.hcl
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
