Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Remove unecessary condition during grant scope id reassignment
  internal/iam/repository_role_grant.go
Labels: core, core/iam

wip: finishing query (individual)
  internal/iam/query.go
Labels: core, core/iam, core/sql

Fix row scan order
  internal/iam/repository_role_grant.go
Labels: core, core/iam

Update Go and dependencies (#5687)
  .go-version
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

Finish Org global reqScope test
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

WIP: Comment individual org role element until individual grant scopes are supported
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

docs: Update credential libraries phrasing
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

backport of commit 2836ec3df21a829a2f1482f620d677ae7884aff5
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

backport of commit b1dbea330bf7d863d8712a7a93f3d63ec33de175
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

backport of commit b1dbea330bf7d863d8712a7a93f3d63ec33de175
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

docs: Update phrasing for lead in sentence
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

backport of commit 8acab9cb0961bc70eae0b257f348c7a143ac1b74
  internal/ui/VERSION
Labels: core, core/ui

bump ui commit to 40ec449
  internal/ui/VERSION
Labels: core, core/ui

wip
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

bump ui commit to 40ec449 (#5688)
  internal/ui/VERSION
Labels: core, core/ui

Init project test
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Init project query + repo func
  internal/iam/query.go
  internal/iam/repository_role_grant.go
Labels: core, core/iam, core/sql

Resolve Comments
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/flags_test.go
  internal/cmd/commands/database/init.go
Labels: core

add role_org_individual_grant_scope.pb.go to protobuild make target
  Makefile
  internal/iam/store/role_org_individual_grant_scope.pb.go
Labels: core, core/iam

remove dead code from listRoleGrantScopes
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

fix testRoleGrantScopeSpecial not handling org role special scope properly
  internal/iam/testing.go
Labels: core, core/iam

make TestRole readback the role to get updated version
  internal/iam/testing.go
Labels: core, core/iam

implement conversion function
  internal/iam/role_grant_scope.go
Labels: core, core/iam

working delete grant scope before refactor
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

change proto grant_this default to true
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
Labels: core, core/iam, core/proto

add tests and AddRoleGrantScope before refactor
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

remove unused functions
  internal/iam/role_grant_scope.go
Labels: core, core/iam

add tests for SetRoleGrantScopes
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

refactor repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

implement toRoleGrantScope function on the subtypes
  internal/iam/role.go
Labels: core, core/iam

Database Init Flags Refactor (#5668)
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/flags_test.go
  internal/cmd/commands/database/init.go
Labels: core

chore(e2e): Add encryption to target ec2 instance (#5672)
  enos/modules/aws_target/main.tf
Labels: none

chore(e2e): Add encryption to target ec2 instance
  enos/modules/aws_target/main.tf
Labels: none

backport of commit 9aac7cdf3ae45ce6fa319e2c2097e82d7f69955c (#5691)
  enos/modules/aws_target/main.tf
Labels: none

docs: Clarify credential store behavior (#5686)
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

Bump CHANGELOG to 0.19.2
  CHANGELOG.md
Labels: none

update CHANGELOG with ui entries
  CHANGELOG.md
Labels: none

update CHANGELOG with ui entries (#5697)
  CHANGELOG.md
Labels: none

update CHANGELOG with ui entries
  CHANGELOG.md
Labels: none

Bump CHANGELOG to 0.19.2 (#5696)
  CHANGELOG.md
Labels: none
