Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

feat: Add cookie attributes (#6476)
  internal/daemon/controller/handlers/outgoing_response_filter.go
  internal/daemon/controller/handlers/outgoing_response_filter_test.go
Labels: core, core/daemon

debug
  internal/tests/cli/boundary/_auth.bash
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/_helpers.bash
  internal/tests/cli/boundary/_sessions.bash
Labels: core

chore(e2e): Split enterprise to separate file
  .github/workflows/enos-run-admin-ui.yml
Labels: none

chore(e2e): Add workflow for running admin ui tests
  .github/workflows/build.yml
  .github/workflows/enos-run-admin-ui.yml
Labels: none

chore: Bump UI version
  internal/ui/VERSION
Labels: core, core/ui

Wildcard API rate limit added
  internal/daemon/controller/rate_limiter_test.go
  internal/ratelimit/config.go
  internal/ratelimit/config_test.go
Labels: core, core/daemon

chore: update grpc for cve (#6547)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: update grpc for cve (#6545)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: update grpc for cve (#6548)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ibmkp/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

chore: Bump version to 0.21.2
  version/VERSION
Labels: none

make gen
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: Bump version to 0.21.2 (#6551)
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/gen

fix: Add CVE-2026-27171 to the list of suppressed vulnerabilities in security scan
  .release/security-scan.hcl
Labels: none

fix: Add CVE-2026-27171 to the list of suppressed vulnerabilities in security scan (#6553)
  .release/security-scan.hcl
Labels: none

ce: Add infrastructure needed to test worker ssh known hosts
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/02-add-host-keys
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  testing/internal/e2e/boundary/version.go
  testing/internal/e2e/infra/docker.go
Labels: none

chore(e2e): Remove go version variable (#6524)
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-variables.hcl
  enos/modules/test_e2e_docker/main.tf
Labels: none

chore(dbtest): Create Docker configs for newer Postgres versions supported by Boundary, and update the default local test database to the latest supported version
  testing/dbtest/docker/Dockerfile.17-alpine
  testing/dbtest/docker/Makefile
Labels: none

chore(e2e): Add workflow for running admin ui tests
  .github/workflows/build.yml
  .github/workflows/enos-run-admin-ui.yml
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/modules/test_e2e_ui/main.tf
  internal/ui/VERSION
Labels: core, core/ui

move test to base; include port fix changes
  testing/internal/e2e/tests/base/target_tcp_connect_pending_test.go
Labels: none

fix(db): Fix queries estimated count behavior and implicit row ordering going from PSQL 12 -> 17
  internal/alias/target/query.go
  internal/auth/ldap/query.go
  internal/auth/oidc/query.go
  internal/auth/password/query.go
  internal/auth/query.go
  internal/authtoken/query.go
  internal/credential/query.go
  internal/credential/static/query.go
  internal/credential/vault/query.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/db/schema/migrations/oss/postgres_46_01_test.go
  internal/db/schema/migrations/oss/postgres_97_03_test.go
  internal/host/plugin/query.go
  internal/host/query.go
  internal/host/static/query.go
  internal/iam/query.go
  internal/session/query.go
  internal/target/query.go
Labels: core, core/auth, core/daemon, core/db, core/host, core/iam, core/session, core/sql, core/target

CR
  .github/workflows/enos-run-admin-ui.yml
Labels: none

chore: exclude e2e test packages from unit test workflow
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  Makefile
Labels: none

backport of commit 1ca57fc64ec877262b80564eb02a4f10444c0206
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  Makefile
Labels: none

Backport of test(e2e): Add test for idle pending tcp connect session into release/0.21.x (#6555)
  testing/internal/e2e/tests/base/target_tcp_connect_pending_test.go
Labels: none

chore: exclude e2e test packages from unit test workflow (#6559)
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  Makefile
Labels: none

backport of commit 1ca57fc64ec877262b80564eb02a4f10444c0206 (#6562)
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  Makefile
Labels: none

chore: Enable copywrite check & add ignore_year1 flag
  .copywrite.hcl
  Makefile
  api/.copywrite.hcl
  internal/proto/controller/api/.copywrite.hcl
  internal/proto/controller/custom_options/.copywrite.hcl
  internal/proto/worker/proxy/v1/.copywrite.hcl
  sdk/.copywrite.hcl
Labels: api, core, core/proto

chore(changelog): Add date for release 0.21.2
  CHANGELOG.md
Labels: none

chore(changelog): Add date for release 0.21.2 (#6567)
  CHANGELOG.md
Labels: none

chore(changelog): Add date for release 0.21.2 (#6567)
  CHANGELOG.md
Labels: none

chore(changelog): Add date for release 0.21.2 (#6567) (#6568)
  CHANGELOG.md
Labels: none

backport of commit 865fa6f4c5d6da17f29263b83be44eac5f28cbaa
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

chore: Bump go-jose/v4 to version v4.1.4
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

backport of commit 820dbf7b72155bbd7e8d952d74f7fe9fd4ba6cbc
  go.mod
  go.sum
Labels: none

chore: Bump go-jose/v3 to version v3.0.5
  go.mod
  go.sum
Labels: none

Resolve `go-jose` vulnerabilities (#6569)
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

Backport of Resolve `go-jose` vulnerabilities into release/0.21.x (#6570)
  go.mod
  go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
Labels: none

test(bats): Fix flaky connect helper methods
  .github/workflows/test-cli-ui_oss.yml
  internal/tests/cli/boundary/_connect.bash
Labels: core

test(bats): Add more debug
  internal/tests/cli/boundary/alias.bats
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
  internal/tests/cli/boundary/target_aliases.bats
Labels: core

make failure
  internal/tests/cli/boundary/_connect.bash
Labels: core
