Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

ci(security-scanner): Suppress GHSA-29qp-crvh-w22m (#5498)
  .release/security-scan.hcl
Labels: none

chore: update API version to 0.19.1 in controller.swagger.json (#5540)
  internal/gen/controller.swagger.json
Labels: core, core/gen

Bumped product version to 0.19.1.
  version/VERSION
Labels: none

Bumped product version to 0.19.2.
  version/VERSION
Labels: none

Run Make gen to upversion swagger.json (#5630)
  internal/gen/controller.swagger.json
Labels: core, core/gen

backport of commit 47f0bb80984d5dcd4d9781cf3c64f6cffccb517c
  CHANGELOG.md
Labels: none

update CHANGELOG with ui entries (#5699)
  CHANGELOG.md
Labels: none

Bump CHANGELOG to 0.19.2 (#5696)
  CHANGELOG.md
Labels: none

Bumped product version to 0.19.3.
  version/VERSION
Labels: none

Dkanney update changelog release/0.19.2 (#5729)
  CHANGELOG.md
  internal/gen/controller.swagger.json
Labels: core, core/gen

backport of commit c353a4b11f84f362fbb6d9d727a8cf5fc8f6e12f
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration

backport of commit 299538817ebdfad54a527041548608acdeedf4d5
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/configuration

docs: Add HCPb grants issue and fix (#5746) (#5760)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/configuration

backport of commit 78683a87b26c81815b6adbf338f54a534617e301
  website/content/docs/concepts/aliases.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

docs: Add Client Agent commands to CLI docs (#5826) (#5834)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

docs: Add interoperability matrix (#5478) (#5806)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

Update system reqs (#5727) (#5813)
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website

Backport of docs: Document known issue with transparent sessions into release/0.19.x (#5817)
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

backport of commit 889e15bb04cd90ba5b41feb6ee4a5a1437aac1e2 (#5830)
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

backport of commit a488ef809d8e70e257a0064fa1edc8fe0d810f09 (#5857)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

backport of commit 87e4c46c8171aa1c70bd0fe1e573ee5d3679fdbf
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

backport of commit 44acf59dd79ec7bdb618d20bea29b938c06a2754
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

docs: Update release notes for transparent sessions (#5784) (#5801)
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts

boundary/mini-docs day 2 - configuration/worker/index (#5730) (#5810)
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

docs: Update TS documentation for GA (#5761) (#5800)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

test(e2e): Test for scopes permission defect (#5755)
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: none

dependabot: add go modules, groups (#5767)
  .github/dependabot.yml
Labels: none

configure dependabot to automatically update GitHub Actions dependencies (#5757)
  .github/dependabot.yml
Labels: none

dependabot: round two, group all Go modules (#5781)
  .github/dependabot.yml
Labels: none

Remove Duplicate Error Check That's Unreachable And Is Not Tested Against (#5799)
  internal/server/rewrapping.go
Labels: core, core/server

chore(e2e): Remove unused code (#5821)
  .github/workflows/enos-run.yml
Labels: none

test(e2e): Check all addresses in output (#5820)
  testing/internal/e2e/tests/gcp/dynamichostcatalog_host_set_test.go
Labels: none

chore(e2e): Set auth_storage_path to a non-temp directory (#5786)
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/scripts/create-dir.sh
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/scripts/create-dir.sh
Labels: none

chore(e2e): Update service user permissions for windows testing (#5827)
  enos/ci/service-user-iam/main.tf
Labels: none

chore(e2e): Added build tag for enabling pprof tracing (#5839)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  testing/TRACING.md
Labels: core

bump ui commit to 2d34717 (#5849)
  internal/ui/VERSION
Labels: core, core/ui

Migrate ui-related scripts to use pnpm instead of yarn (#5815)
  enos/modules/build_local/templates/build.sh
  enos/modules/test_e2e_ui/main.tf
  scripts/build-ui.sh
Labels: none

Postgres 15 -> 16 Migration Update (#5825)
  internal/db/schema/migrations/oss/postgres/85/02_alias_domain.up.sql
  internal/db/schema/migrations/oss/postgres/96/01_update_wt_alias_constraints.up.sql
Labels: core, core/db, core/sql

bump ui commit 5d6e65f (#5871)
  internal/ui/VERSION
Labels: core, core/ui

Remove redundant TestCatalog initialization logic (#5874)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon
