Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

Backport of chore: pprof build updates into release/0.20.x (#6423)
  Makefile
  internal/cmd/base/pprof_on.go
Labels: core

Backport of chore: pprof build updates into release/0.21.x (#6424)
  Makefile
  internal/cmd/base/pprof_on.go
Labels: core

update changelog for client cache sorting
  CHANGELOG.md
Labels: none

n&i header and spacing
  CHANGELOG.md
Labels: none

Backport of chore: Update slack channel id for CRT into release/0.20.x (#6427)
  .release/ci.hcl
Labels: none

chore: Add worker check to bats tests to avoid flake (#6421)
  internal/tests/cli/test.sh
Labels: core

change targets sorted by name to sort case insensitive
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

chore(apptoken): Use global constants over magic strings
  internal/apptoken/repository_test.go
Labels: core

feat(query): Full read queries for AppToken global, org, and project
  internal/apptoken/query.go
Labels: core, core/sql

remove print
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

chore(apptoken): Remove old comment
  internal/apptoken/testing.go
Labels: core

test(apptoken): Add test case for 'no token found'
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

chore(apptoken): Call LookupAppToken() after creating a new app token
  internal/apptoken/repository.go
Labels: core

feat(apptoken): Create method: LookupAppToken()
  internal/apptoken/options.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

chore(apptoken): Consolidate scope type helper functions
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_token_grant.go
Labels: core, core/sql

fix(cli): remove connect inactive-timeout defaults expect for darwin+rdp
  api/proxy/option_test.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/connect_darwin.go
Labels: api, core

backport of commit 316f4208eb9e80def7ab6c166ea6e0aafd2a2f93
  api/proxy/option_test.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/connect_darwin.go
Labels: api, core

chore: update changelog for 0.19.4 (#6414)
  CHANGELOG.md
Labels: none

chore: update changelog for 0.19.4 (#6433)
  CHANGELOG.md
Labels: none

Backport of chore: update changelog for 0.20.2 into release/0.20.x (#6431)
  CHANGELOG.md
Labels: none

chore: update changelog for 0.21.1
  CHANGELOG.md
Labels: none

backport of commit b95b101 (#6434)
  CHANGELOG.md
Labels: none

switch to collate
  internal/clientcache/internal/cache/repository_targets.go
Labels: core

Bumped product version to 0.21.2.
  version/VERSION
Labels: none

fix(cli): remove connect inactive-timeout defaults expect for darwin+rdp (#6429)
  api/proxy/option_test.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/connect_darwin.go
Labels: api, core

backport of commit 316f4208eb9e80def7ab6c166ea6e0aafd2a2f93 (#6435)
  api/proxy/option_test.go
  api/proxy/proxy.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/connect_darwin.go
Labels: api, core

test(e2e): Update wait_for_ssh timeout to 900s
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

backport of commit 12e0a3aaec607c38c4442ca23405dd796b20ff21
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

CR: enos fmt
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit 8342beb00cdc6236aa86194ff7ee8de74ecc9bb1
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

remove unused fn
  internal/apptoken/query.go
  internal/apptoken/repository.go
Labels: core, core/sql

test(e2e): Update wait_for_ssh timeout to 900s (#6436)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

Backport of test(e2e): Update wait_for_ssh timeout to 900s into release/0.21.x (#6437)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

fix(query): Don't add self to active_grant_scope_ids to maintain consistancy with input
  internal/apptoken/query.go
Labels: core, core/sql

feat(repository): Implement Delete app token functionality (#6341)
  internal/apptoken/apptoken.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core, core/sql

chore: update generated files
  sdk/pbs/plugin/host_plugin_service_grpc.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: none

chore: update generated files
  internal/gen/controller/api/services/account_service_grpc.pb.go
  internal/gen/controller/api/services/alias_service_grpc.pb.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/gen/controller/api/services/authtokens_service_grpc.pb.go
  internal/gen/controller/api/services/billing_service_grpc.pb.go
  internal/gen/controller/api/services/credential_library_service_grpc.pb.go
  internal/gen/controller/api/services/credential_service_grpc.pb.go
  internal/gen/controller/api/services/credential_store_service_grpc.pb.go
  internal/gen/controller/api/services/group_service_grpc.pb.go
  internal/gen/controller/api/services/host_catalog_service_grpc.pb.go
  internal/gen/controller/api/services/host_service_grpc.pb.go
  internal/gen/controller/api/services/host_set_service_grpc.pb.go
  internal/gen/controller/api/services/managed_group_service_grpc.pb.go
  internal/gen/controller/api/services/policy_service_grpc.pb.go
  internal/gen/controller/api/services/role_service_grpc.pb.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/gen/controller/api/services/session_recording_service_grpc.pb.go
  internal/gen/controller/api/services/session_service_grpc.pb.go
  internal/gen/controller/api/services/storage_bucket_service_grpc.pb.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/gen/controller/api/services/user_service_grpc.pb.go
  internal/gen/controller/api/services/worker_service_grpc.pb.go
  internal/gen/controller/servers/services/server_coordination_service_grpc.pb.go
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/gen/controller/servers/services/upstream_message_service_grpc.pb.go
  internal/gen/ops/services/health_service_grpc.pb.go
  internal/gen/testing/attribute/attribute_grpc.pb.go
  internal/gen/testing/event/event_grpc.pb.go
  internal/gen/testing/interceptor/greeter_grpc.pb.go
  internal/gen/testing/protooptions/service_grpc.pb.go
  internal/gen/worker/servers/services/host_service_grpc.pb.go
Labels: core, core/gen

fix(clientcache): sort target names case insensitively (#6428)
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

chore: update changelog for client cache sorting (#6425)
  CHANGELOG.md
Labels: none

test(e2e): Move paginate test to its own file
  testing/internal/e2e/tests/base/auth_method_password_test.go
  testing/internal/e2e/tests/base/paginate_auth_method_test.go
Labels: none
