Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

test(e2e): Move paginate test to its own file (#6440)
  testing/internal/e2e/tests/base/auth_method_password_test.go
  testing/internal/e2e/tests/base/paginate_auth_method_test.go
Labels: none

chore: Only run full build process on PR updates
  .github/workflows/build.yml
Labels: none

chore: Quick build check on push
  .github/workflows/build-check.yml
  Makefile
Labels: none

CR: Fix slack message based on new event type
  .github/workflows/enos-run.yml
Labels: none

chore: bump sdk/api deps post-release
  go.mod
Labels: none

CR: Fix slack message for both event types
  .github/workflows/enos-run.yml
Labels: none

chore: Only run full build on pull requests (#6441)
  .github/workflows/build-check.yml
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  Makefile
Labels: none

chore: bump sdk/api deps post-release (#6439)
  go.mod
Labels: none

chore(e2e): Fix slack message
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

docs: Update resource tables with missing content
  internal/website/permstable/permstable.go
  internal/website/permstable/resource-table.mdx
Labels: core

chore(e2e): Fix slack message (#6442)
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

docs: Align strings
  internal/website/permstable/permstable.go
Labels: core

docs: Fix alignment
  internal/website/permstable/permstable.go
Labels: core

docs: Update resource tables with missing content (#6443)
  internal/website/permstable/permstable.go
  internal/website/permstable/resource-table.mdx
Labels: core

wip
  internal/apptoken/repository_test.go
Labels: core

inital deletedScopes working at global level
  internal/apptoken/apptoken.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core, core/sql

no more pointers to scopes
  internal/apptoken/repository_test.go
Labels: core

org token deleted scopes & cleanup
  internal/apptoken/query.go
  internal/apptoken/repository_test.go
Labels: core, core/sql

chore: Use same cache as bats tests
  .github/workflows/enos-run.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: none

chore: Clarify cache miss check
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: none

chore: Remove use of setup-go cache
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
Labels: none

chore: Use separate caches
  .github/workflows/build-check.yml
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: none

CR
  .github/workflows/enos-run.yml
Labels: none

POC
  api/managedgroups/oidc_managed_group_attributes.gen.go
  api/managedgroups/option.gen.go
  internal/auth/oidc/managed_group.go
  internal/auth/oidc/options.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_managed_group.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/store/oidc.pb.go
  internal/cmd/commands/managedgroupscmd/oidc_funcs.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/proto/controller/api/resources/managedgroups/v1/managed_group.proto
  internal/proto/controller/storage/auth/oidc/store/v1/oidc.proto
  sdk/pbs/controller/api/resources/managedgroups/managed_group.pb.go
Labels: api, core, core/auth, core/daemon, core/proto

chore(e2e): Use approved base image
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

CR
  .github/workflows/build-check.yml
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: none

chore: Clean up cache usage in workflows (#6444)
  .github/workflows/build-check.yml
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: none

chore: Split up commands
  .github/workflows/test-race.yml
Labels: none

chore: Split up commands (#6450)
  .github/workflows/test-race.yml
Labels: none

chore: Clean up cache usage in workflows (#6444)
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: none

chore: Clean up cache usage in workflows (#6444) (#6449)
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: none

chore: Split up commands (#6450)
  .github/workflows/test-race.yml
Labels: none

chore: Split up commands (#6450) (#6451)
  .github/workflows/test-race.yml
Labels: none

chore(e2e): Encrypt file system on vault instance
  enos/modules/aws_vault/vault-instances.tf
Labels: none

backport of commit 0758183b35ee628cca9dbb14f8cf73af3ada82aa
  enos/modules/aws_vault/vault-instances.tf
Labels: none

chore(e2e): Encrypt file system on vault instance (#6452)
  enos/modules/aws_vault/vault-instances.tf
Labels: none

backport of commit 0758183b35ee628cca9dbb14f8cf73af3ada82aa (#6455)
  enos/modules/aws_vault/vault-instances.tf
Labels: none

backport of commit c861f53234e67a4708974395d31b20ceb3b9afe0
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

backport of commit c861f53234e67a4708974395d31b20ceb3b9afe0
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

backport of commit c861f53234e67a4708974395d31b20ceb3b9afe0
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core
