Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

chore: update go version to 1.25.5 (#6352)
  .go-version
  api/go.mod
  go.mod
  internal/auth/ldap/auth_method_test.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core, core/auth

fix more tests
  internal/apptoken/service_list_test.go
  internal/daemon/controller/rate_limiter_test.go
Labels: core, core/daemon

test fixes
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/defaults.json
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/override.json
Labels: core, core/daemon

fix missed merge weirdness
  internal/apptoken/apptoken.go
  internal/apptoken/options.go
  internal/apptoken/options_test.go
Labels: core

chore: update go version to 1.25.5 (#6352) (#6357)
  .go-version
  api/go.mod
  go.mod
  internal/auth/ldap/auth_method_test.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core, core/auth

backport of commit b4ebcdd4173c73b6cdfa26f69279651aa7cfbe60
  testing/internal/e2e/vault/vault.go
Labels: none

test(e2e): Address issue when password starts with @
  testing/internal/e2e/vault/vault.go
Labels: none

update to include description
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

add tests, fix wrong sort direction
  internal/clientcache/internal/daemon/search_handler.go
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

lint
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

store sortable columns in map
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

feat(clientcache): add sortable columns and validation for search parameters
  internal/clientcache/internal/cache/search.go
Labels: core

add comments to parsing functions
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

feat(clientcache): add sort parameters to SearchParams
  internal/clientcache/internal/cache/search.go
Labels: core

feat(clientcache): add sort parameters and validation for search options
  internal/clientcache/internal/cache/options.go
Labels: core

add SortBy and SortDirection
  internal/clientcache/internal/cache/search.go
Labels: core

add SortBy and SortDirection parsing
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

Fix typos
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/daemon/search_handler.go
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

feat(clientcache): add more test for sort options
  internal/clientcache/internal/cache/options.go
  internal/clientcache/internal/cache/options_test.go
Labels: core

feat(clientcache): add test for sort options and search functions
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/search_test.go
Labels: core

feat(clientcache): fix make gen
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

feat(clientcache): update created time in target repository
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

sorting targets
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

feat(clientcache): Add sorting support for sessions by created_time in repository
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/repository_sessions.go
  internal/clientcache/internal/cache/repository_sessions_test.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/cache/search_test.go
  internal/clientcache/internal/daemon/search_handler.go
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

feat(clientcache): add sort options to search function
  internal/clientcache/internal/cache/search.go
Labels: core

chore: use protoc-gen-go-grpc v1.6.0
  internal/gen/controller/api/services/account_service_grpc.pb.go
  internal/gen/controller/api/services/alias_service_grpc.pb.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/gen/controller/api/services/authtokens_service_grpc.pb.go
  internal/gen/controller/api/services/billing_service_grpc.pb.go
  internal/gen/controller/api/services/credential_library_service_grpc.pb.go
  internal/gen/controller/api/services/credential_service_grpc.pb.go
  internal/gen/controller/api/services/credential_store_service_grpc.pb.go
  internal/gen/controller/api/services/group_service_grpc.pb.go
  internal/gen/controller/api/services/host_catalog_service_grpc.pb.go
  internal/gen/controller/api/services/host_service_grpc.pb.go
  internal/gen/controller/api/services/host_set_service_grpc.pb.go
  internal/gen/controller/api/services/managed_group_service_grpc.pb.go
  internal/gen/controller/api/services/policy_service_grpc.pb.go
  internal/gen/controller/api/services/role_service_grpc.pb.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/gen/controller/api/services/session_recording_service_grpc.pb.go
  internal/gen/controller/api/services/session_service_grpc.pb.go
  internal/gen/controller/api/services/storage_bucket_service_grpc.pb.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/gen/controller/api/services/user_service_grpc.pb.go
  internal/gen/controller/api/services/worker_service_grpc.pb.go
  internal/gen/controller/servers/services/server_coordination_service_grpc.pb.go
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/gen/controller/servers/services/upstream_message_service_grpc.pb.go
  internal/gen/ops/services/health_service_grpc.pb.go
  internal/gen/testing/attribute/attribute_grpc.pb.go
  internal/gen/testing/event/event_grpc.pb.go
  internal/gen/testing/interceptor/greeter_grpc.pb.go
  internal/gen/testing/protooptions/service_grpc.pb.go
  internal/gen/worker/servers/services/host_service_grpc.pb.go
  sdk/pbs/plugin/host_plugin_service_grpc.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core, core/gen

rebase onto llb and make requisite adjustments
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

test(e2e): Address issue when password starts with @ (#6358)
  testing/internal/e2e/vault/vault.go
Labels: none

feat(apptoken): Implement listAppTokensRefresh
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

backport of commit b4ebcdd4173c73b6cdfa26f69279651aa7cfbe60 (#6359)
  testing/internal/e2e/vault/vault.go
Labels: none

backport of commit e942db3dbc67abe6e128dbb47ed16db8e2a023de
  .github/workflows/enos-run.yml
Labels: none

chore(e2e): Download modules if cache not found
  .github/workflows/enos-run.yml
Labels: none

Backport of chore: update go version to 1.25.5 into release/0.21.x (#6353)
  .go-version
  api/go.mod
  go.mod
  internal/auth/ldap/auth_method_test.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ibmkp/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core, core/auth

cli sort-by and sort-direction
  internal/clientcache/cmd/search/search.go
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

lint
  internal/clientcache/cmd/search/search.go
  internal/clientcache/cmd/search/search_test.go
Labels: core

backport of commit b0b97ae71e0d18089ca3e107073f4916032fda3b (#6360)
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/variables.tf
Labels: none

chore: update controller swagger
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: update controller swagger
  internal/gen/controller.swagger.json
Labels: core, core/gen

chore: update go version to 1.25.5 (#6352)
  .go-version
  api/go.mod
  go.mod
  internal/auth/ldap/auth_method_test.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api, core, core/auth

chore: update workflows
  .github/workflows/linting.yml
  .github/workflows/test-sql.yml
Labels: none
