Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

pr comments
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

test(e2e): update rdp enos modules to wait for pw (#6373)
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/outputs.tf
  enos/modules/aws_windows_client/main.tf
  enos/modules/aws_windows_client/outputs.tf
Labels: none

update resource reference
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: none

update rdp resource reference (#6385)
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: none

feat(apptoken): Implement ListPage (#6347)
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/service_list_page.go
  internal/apptoken/service_list_test.go
Labels: core, core/sql

pr feedback
  internal/apptoken/apptoken.go
Labels: core

feat(apptoken): Implement List (#6344)
  Makefile
  internal/apptoken/apptoken.go
  internal/apptoken/gorm.go
  internal/apptoken/options.go
  internal/apptoken/options_test.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/service_list.go
  internal/apptoken/service_list_page.go
  internal/apptoken/service_list_test.go
  internal/apptoken/store/apptoken.pb.go
  internal/apptoken/testing.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/apptokens/apptoken_service.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/rate_limiter_test.go
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/defaults.json
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/override.json
  internal/db/schema/migrations/oss/postgres/101/05_app_token_view.up.sql
  internal/perms/acl_test.go
  internal/proto/controller/storage/apptoken/store/v1/apptoken.proto
  internal/ratelimit/config.go
  internal/types/action/action.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
  internal/website/permstable/resource-table.mdx
Labels: core, core/daemon, core/db, core/perms, core/proto, core/sql, core/types

feat(apptoken): Implement ListRefreshPage
  internal/apptoken/service_list_refresh_page.go
  internal/apptoken/service_list_test.go
Labels: core

small fix
  internal/apptoken/service_list_test.go
Labels: core

Ent exclude files added
  .semgrep/avoid-crypto-rand.yaml
Labels: none

feat(apptoken): Implement ListRefresh (#6384)
  internal/apptoken/apptoken.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/service_list_refresh.go
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

address pr comments and tweak some logic
  internal/apptoken/apptoken.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
Labels: core

merge issues
  internal/apptoken/apptoken.go
  internal/apptoken/repository.go
Labels: core

fix logic in permissions
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core

feat(repository): Implement Create project app token functionality (#6343)
  Makefile
  internal/apptoken/apptoken.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
  internal/apptoken/store/apptoken_project.pb.go
  internal/apptoken/store/apptoken_project_permission.pb.go
  internal/apptoken/testing.go
  internal/proto/controller/storage/apptoken/store/v1/apptoken_project.proto
  internal/proto/controller/storage/apptoken/store/v1/apptoken_project_permission.proto
Labels: core, core/proto

Squash: merge app-token-prototype into mikemountain-sql-schema-and-pgtap-tests
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

add pgtap tests and fkeys
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
Labels: core, core/db, core/sql

add modularity for upcoming org and proj implementations
  internal/apptoken/query.go
Labels: core, core/sql

Rebase
  internal/apptoken/apptoken.go
  internal/apptoken/query.go
  internal/apptoken/repository.go
  internal/apptoken/repository_test.go
Labels: core, core/sql

test(e2e): Add more frequent ssh checks
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

backport of commit 2e221ca5e56a6e68f3998233f7d7681e9e272028
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

test(e2e): Add step to wait for worker to init
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

backport of commit b5919db7d63ef0da6227e13dc52ce1be5f92da3f
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

update tests
  internal/apptoken/service_list_page.go
  internal/apptoken/service_list_refresh.go
  internal/apptoken/service_list_refresh_page.go
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

update TestAppToken to use Create
  internal/apptoken/repository_test.go
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/service_list_test.go
  internal/apptoken/testing.go
Labels: core

SemGrep rule to identify direct uses of crypto/rand.Reader and recommend the use of the SecureRandomReader instead (#6330)
  .semgrep/avoid-crypto-rand.yaml
Labels: none

change targeted version to 21.2
  CHANGELOG.md
Labels: none

test fixups
  internal/apptoken/repository_token_grant_test.go
  internal/apptoken/service_list_test.go
Labels: core

update escape password logic
  testing/internal/e2e/vault/vault.go
Labels: none

backport of commit c3b195bd00cf8c85367098e4c1802c33b33f585c
  testing/internal/e2e/vault/vault.go
Labels: none

fix(e2e): Worker not available error in RDP tests (#6386)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

Backport of fix(e2e): Worker not available error in RDP tests into release/0.21.x (#6389)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

backport of commit e504988fd8300a7ee29fe619bea6aaf9d8ca6e9b
  testing/internal/e2e/vault/vault.go
Labels: none

renamed to password
  testing/internal/e2e/vault/vault.go
Labels: none

cr;
  testing/internal/e2e/vault/vault.go
Labels: none

backport of commit 1ace8daa87c9a0954c904cdb513563d3e025bdbf
  testing/internal/e2e/vault/vault.go
Labels: none

test(e2e): vault creds escape '@' for password (#6388)
  testing/internal/e2e/vault/vault.go
Labels: none

Backport of test(e2e): vault creds escape '@' for password into release/0.21.x (#6390)
  testing/internal/e2e/vault/vault.go
Labels: none

test(rdp): Changed enos setup to fix logout issue with tests
  enos/modules/aws_rdp_member_server/main.tf
Labels: none

Update internal/apptoken/service_list_test.go
  internal/apptoken/service_list_test.go
Labels: core

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
