Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Content change to trigger rebuild
  website/content/docs/api-clients/desktop.mdx
Labels: website

feat(handlers): Implement CRUDL for vault generic Password credential
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

feat(credential/static): Implement CRUDL support for password credentials
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

chore(e2e): fix for enos docker build
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_local/main.tf
Labels: none

cr
  enos/modules/build_local/main.tf
Labels: none

chore(e2e): fix for enos docker build (#6166)
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
Labels: none

chore(e2e): Update vault version that has vault ldap feature
  enos/enos-variables.hcl
Labels: none

chore(e2e): Fix firewall and security group rules
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_vault/security-groups.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

chore(e2e): Setup ldaps
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/scripts/setup_ldaps.ps1
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

feat(credential/static): Implement CRUDL support for password credentials
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

docs: Fixes redirects (#6165)
  website/content/docs/api-clients/desktop.mdx
  website/redirects.js
Labels: website

docs: Fixes redirects (#6165)
  website/content/docs/api-clients/desktop.mdx
  website/redirects.js
Labels: website

docs: Fixes redirects (#6165) (#6170)
  website/content/docs/api-clients/desktop.mdx
  website/redirects.js
Labels: website

feat(handlers): Implement CRUDL for vault generic Password credential
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

backport of commit 929562f35612f223e03e8ae2ac0e6fa52d917134
  website/content/docs/api/index.mdx
Labels: website

backport of commit 929562f35612f223e03e8ae2ac0e6fa52d917134
  website/content/docs/api/index.mdx
Labels: website

docs: Minor content update
  website/content/docs/api/index.mdx
Labels: website

docs: Minor content update (#6172)
  website/content/docs/api/index.mdx
Labels: website

backport of commit 929562f35612f223e03e8ae2ac0e6fa52d917134 (#6174)
  website/content/docs/api/index.mdx
Labels: website

e2e(chore): fixed enos variable with null value
  enos/enos-variables.hcl
Labels: none

e2e(chore): fixed enos variable with null value (#6176)
  enos/enos-variables.hcl
Labels: none

feat(handlers): Implement CRUDL for vault generic Password credential (#6161)
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core, core/daemon, core/proto

chore(e2e): Update vault version that has vault ldap feature
  enos/enos-variables.hcl
Labels: none

chore(e2e): Setup ldaps
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/scripts/setup_ldaps.ps1
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: none

chore(e2e): Fix firewall and security group rules
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_vault/security-groups.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

chore(e2e): Add steps to download opencv from github
  enos/enos-variables.hcl
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

CR: spacing
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: none

backport of commit d04278ed68c1e4609b183bac43912d707c26929d
  website/redirects.js
Labels: website

docs: Fixes configuration redirects
  website/redirects.js
Labels: website

CR: comment
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

CR
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

test(e2e): Add support for Vault LDAP testing (#6175)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/scripts/setup_ldaps.ps1
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_vault/security-groups.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

docs: credentials, install, domain model fixes
  website/redirects.js
Labels: website

chore(e2e): Add steps to download opencv from workflow (#6177)
  enos/enos-variables.hcl
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

Make test_e2e_env.sh executable
  enos/scripts/test_e2e_env.sh
Labels: none

Make test_e2e_env.sh executable (#6179)
  enos/scripts/test_e2e_env.sh
Labels: none

docs: getting started, install-boundary fixes
  website/redirects.js
Labels: website

feat(handlers): CRUDL support for static password credential
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

test(e2e): Add support for Vault LDAP testing (#6175)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/scripts/setup_ldaps.ps1
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_vault/security-groups.tf
  enos/modules/aws_windows_client/main.tf
Labels: none
