Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/servers, core/session, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases

issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Interim work on default role creation
  api/internal/genapi/input.go
  api/scopes/option.gen.go
  internal/auth/additional_verification_test.go
  internal/cmd/commands/scopes/scope.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/account_service.pb.gw.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/gen/controller/api/services/authenticate_service.pb.gw.go
  internal/gen/controller/api/services/authtokens_service.pb.gw.go
  internal/gen/controller/api/services/group_service.pb.gw.go
  internal/gen/controller/api/services/host_catalog_service.pb.gw.go
  internal/gen/controller/api/services/host_service.pb.gw.go
  internal/gen/controller/api/services/host_set_service.pb.gw.go
  internal/gen/controller/api/services/role_service.pb.gw.go
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.gw.go
  internal/gen/controller/api/services/session_service.pb.gw.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/user_service.pb.gw.go
  internal/iam/options.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/repository_scope_test.go
  internal/proto/local/controller/api/services/v1/scope_service.proto
  internal/servers/controller/handlers/roles/role_service_test.go
  internal/servers/controller/handlers/scopes/scope_service.go
Labels: api/scopes, core/auth, core/gen, core/iam

Removing a few incorrect statements in the documentation.
  website/content/docs/common-workflows/manage-scopes.mdx
  website/content/docs/concepts/api-standards.mdx
Labels: docs/concepts

issue templates (#497)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Removing a few incorrect statements in the documentation. (#498)
  website/content/docs/common-workflows/manage-scopes.mdx
  website/content/docs/concepts/api-standards.mdx
Labels: docs/concepts

docs: correct database url configuration
  website/content/docs/configuration/controller.mdx
Labels: docs/configuration

.github/labeler.yml:

api:
  - api/*

api/authmethods:
  - api/authmethods/*

api/authtokens:
  - api/authtokens/*

api/groups:
  - api/groups/*

api/hostcatalogs:
  - api/hostcatalogs/*

api/hosts:
  - api/hosts/*

api/hostsets:
  - api/hostsets/*

api/roles:
  - api/roles/*

api/scopes:
  - api/scopes/*

api/sessions:
  - api/sessions/*

api/targets:
  - api/targets/*

api/users:
  - api/users/*

core:
  - internal/*

core/auth:
  - internal/auth/*

core/authtoken:
  - internal/authtoken/*

core/cmd:
  - internal/cmd/*

core/db:
  - internal/db/*

core/gen:
  - internal/gen/*

core/host:
  - internal/host/*

core/iam:
  - internal/iam/*

core/kms:
  - internal/kms/*

core/lib:
  - internal/libs/*

core/oplog:
  - internal/oplog/*

core/perms:
  - internal/perms/*

core/proto:
  - internal/proto/*

core/proxy:
  - internal/proxy/*

core/servers:
  - internal/servers/*

core/session:
  - internal/session/*

core/target:
  - internal/target/*

core/types:
  - internal/types/*

core/ui:
  - internal/ui/*

website:
  - website/*

docs/concepts:
  - website/content/docs/concepts/*

docs/getting-started:
  - website/content/docs/getting-started/*

docs/installing:
  - website/content/docs/installing/*

docs/configuration:
  - website/content/docs/configuration/*

docs/releases:
  - website/content/docs/releases/*
