Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/servers, core/session, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases

.github/labeler.yml:

api:
  - api/*

api/authmethods:
  - api/authmethods/*

api/authtokens:
  - api/authtokens/*

api/groups:
  - api/groups/*

api/hostcatalogs:
  - api/hostcatalogs/*

api/hosts:
  - api/hosts/*

api/hostsets:
  - api/hostsets/*

api/roles:
  - api/roles/*

api/scopes:
  - api/scopes/*

api/sessions:
  - api/sessions/*

api/targets:
  - api/targets/*

api/users:
  - api/users/*

core:
  - internal/*

core/auth:
  - internal/auth/*

core/authtoken:
  - internal/authtoken/*

core/cmd:
  - internal/cmd/*

core/db:
  - internal/db/*

core/gen:
  - internal/gen/*

core/host:
  - internal/host/*

core/iam:
  - internal/iam/*

core/kms:
  - internal/kms/*

core/lib:
  - internal/libs/*

core/oplog:
  - internal/oplog/*

core/perms:
  - internal/perms/*

core/proto:
  - internal/proto/*

core/proxy:
  - internal/proxy/*

core/servers:
  - internal/servers/*

core/session:
  - internal/session/*

core/target:
  - internal/target/*

core/types:
  - internal/types/*

core/ui:
  - internal/ui/*

website:
  - website/*

docs/concepts:
  - website/content/docs/concepts/*

docs/getting-started:
  - website/content/docs/getting-started/*

docs/installing:
  - website/content/docs/installing/*

docs/configuration:
  - website/content/docs/configuration/*

docs/releases:
  - website/content/docs/releases/*

Changes to prep for updates
  website/components/branded-cta/index.jsx
  website/pages/home/index.jsx
Labels: none

Reduce hero size for placeholder
  website/components/homepage-hero/style.module.css
Labels: none

[Website] Add SectionBreakCta component (#452)
  website/components/section-break-cta/index.jsx
  website/components/section-break-cta/section-break-cta.module.css
  website/pages/home/index.jsx
  website/pages/home/style.css
Labels: none

[Website] Add branded CTA section (#450)
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/branded-cta/index.jsx
  website/pages/home/index.jsx
Labels: none

Clean up Sticky Footer
  website/pages/style.css
Labels: none

[Website] Add Boundary Features section to homepage (#436)
  website/package-lock.json
  website/package.json
  website/pages/home/img/boundary-configascode.jpg
  website/pages/home/img/boundary-identitybasedaccess.jpg
  website/pages/home/img/boundary-managingdynamicenvironments.jpg
  website/pages/home/img/boundary-platformagnosticity.jpg
  website/pages/home/img/boundary-sessionmanagement.jpg
  website/pages/home/img/boundary-sessionvisibility.jpg
  website/pages/home/index.jsx
  website/pages/style.css
Labels: website

[Website] Add use cases section (#445)
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/home/img/red-usecase-accessmgmt.png
  website/pages/home/img/red-usecase-accessprivileges.png
  website/pages/home/img/red-usecase-sessionvisibility.png
  website/pages/home/index.jsx
  website/pages/home/style.css
  website/pages/style.css
Labels: website

Upgrade button, minor tweaks to BrandedCTA
  website/components/branded-cta/branded-cta.module.css
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

Separate out docker dep into package
  go.mod
  go.sum
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/db/db.go
  internal/db/testing.go
  internal/docker/docker.go
  internal/docker/supported.go
  internal/oplog/oplog_test.go
  internal/oplog/testing.go
Labels: core/db, core/oplog

refactor user account repo function names (#476)
  internal/cmd/base/initial_resources.go
  internal/iam/repository_user.go
  internal/iam/repository_user_test.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/users/user_service_test.go
Labels: core/iam

Separate out docker dep into package (#482)
  go.mod
  go.sum
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/db/db.go
  internal/db/testing.go
  internal/docker/docker.go
  internal/docker/supported.go
  internal/oplog/oplog_test.go
  internal/oplog/testing.go
Labels: core/db, core/oplog

Fix typo (p*r*oduction) (#478)
  website/content/docs/getting-started/index.mdx
Labels: docs/getting-started

Fix getting started link
  website/content/docs/concepts/index.mdx
Labels: docs/concepts

Fix getting started link (#484)
  website/content/docs/concepts/index.mdx
Labels: docs/concepts

docs: move SDK to developing section and add authenticate example
  website/content/docs/developing/sdk/authenticate.mdx
  website/content/docs/developing/sdk/index.mdx
  website/content/docs/sdk/index.mdx
  website/content/docs/sdk/login.mdx
  website/data/docs-navigation.js
Labels: none

docs: move SDK to developing section and add authenticate example (#485)
  website/content/docs/developing/sdk/authenticate.mdx
  website/content/docs/developing/sdk/index.mdx
  website/content/docs/sdk/index.mdx
  website/content/docs/sdk/login.mdx
  website/data/docs-navigation.js
Labels: none

docs: add workflows outline
  website/content/docs/common-workflows/index.mdx
  website/content/docs/common-workflows/manage-identities.mdx
  website/content/docs/common-workflows/manage-sessions.mdx
  website/content/docs/common-workflows/manage-targets.mdx
  website/data/docs-navigation.js
Labels: none

docs: add workflows outline (#486)
  website/content/docs/common-workflows/index.mdx
  website/content/docs/common-workflows/manage-identities.mdx
  website/content/docs/common-workflows/manage-sessions.mdx
  website/content/docs/common-workflows/manage-targets.mdx
  website/data/docs-navigation.js
Labels: none

docs: add target workflow
  website/content/docs/common-workflows/manage-targets.mdx
  website/public/img/manage-targets-host-undefined.png
  website/public/img/manage-targets-new-host-2.png
  website/public/img/manage-targets-new-host-defined.png
  website/public/img/manage-targets-new-host-set-defined.png
  website/public/img/manage-targets-new-host-set-settings.png
  website/public/img/manage-targets-new-host-set-undefined.png
  website/public/img/manage-targets-new-host.png
  website/public/img/manage-targets-new-target-defined.png
  website/public/img/manage-targets-new-target-project.png
  website/public/img/manage-targets-new-target-settings.png
  website/public/img/manage-targets-new-target-undefined.png
Labels: none

docs: add target workflow (#487)
  website/content/docs/common-workflows/manage-targets.mdx
  website/public/img/manage-targets-host-undefined.png
  website/public/img/manage-targets-new-host-2.png
  website/public/img/manage-targets-new-host-defined.png
  website/public/img/manage-targets-new-host-set-defined.png
  website/public/img/manage-targets-new-host-set-settings.png
  website/public/img/manage-targets-new-host-set-undefined.png
  website/public/img/manage-targets-new-host.png
  website/public/img/manage-targets-new-target-defined.png
  website/public/img/manage-targets-new-target-project.png
  website/public/img/manage-targets-new-target-settings.png
  website/public/img/manage-targets-new-target-undefined.png
Labels: none

Add API/CLI standards docs and some cleanup elsewhere
  website/content/docs/concepts/api-standards.mdx
  website/content/docs/concepts/cli-standards.mdx
  website/content/docs/concepts/domain-model/index.mdx
  website/content/docs/concepts/index.mdx
  website/data/docs-navigation.js
Labels: docs/concepts

Add API/CLI standards docs and some cleanup elsewhere (#488)
  website/content/docs/concepts/api-standards.mdx
  website/content/docs/concepts/cli-standards.mdx
  website/content/docs/concepts/domain-model/index.mdx
  website/content/docs/concepts/index.mdx
  website/data/docs-navigation.js
Labels: docs/concepts

fix sql that determines if a session has open connections
  internal/db/migrations/postgres.gen.go
  internal/db/migrations/postgres/50_session.up.sql
  internal/session/query.go
Labels: core/session

add some intentional logging to the session termination tests.
  internal/session/repository_session_test.go
Labels: core/session

Use a static start and end date for the warehouse date dimension
  internal/db/migrations/postgres.gen.go
  internal/db/migrations/postgres/62_wh_datetime.up.sql
Labels: none

docs: add managing scopes workflow
  website/content/docs/common-workflows/manage-scopes.mdx
  website/data/docs-navigation.js
  website/public/img/manage-scopes-org-defined.png
  website/public/img/manage-scopes-org-settings.png
  website/public/img/manage-scopes-org-undefined.png
  website/public/img/manage-scopes-project-defined.png
  website/public/img/manage-scopes-project-settings.png
  website/public/img/manage-scopes-project-undefined.png
Labels: none

docs: add managing scopes workflow (#489)
  website/content/docs/common-workflows/manage-scopes.mdx
  website/data/docs-navigation.js
  website/public/img/manage-scopes-org-defined.png
  website/public/img/manage-scopes-org-settings.png
  website/public/img/manage-scopes-org-undefined.png
  website/public/img/manage-scopes-project-defined.png
  website/public/img/manage-scopes-project-settings.png
  website/public/img/manage-scopes-project-undefined.png
Labels: none

Return ScopeInfo for adding/setting/removing host set hosts
  internal/servers/controller/handlers/host_sets/host_set_service.go
Labels: none

docs: use tabs for targets workflow
  website/content/docs/common-workflows/manage-targets.mdx
Labels: none

add ticker
  internal/servers/controller/controller.go
  internal/servers/controller/tickers.go
Labels: none

docs: use tabs for scopes workflow
  website/content/docs/common-workflows/manage-scopes.mdx
Labels: none

Docs: Use tabs for workflows (#492)
  website/content/docs/common-workflows/manage-scopes.mdx
  website/content/docs/common-workflows/manage-targets.mdx
Labels: none

Return ScopeInfo for adding/setting/removing host set hosts (#491)
  internal/servers/controller/handlers/host_sets/host_set_service.go
Labels: none

docs: do not use code blocks for configuration titles
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/index.mdx
  website/content/docs/configuration/listener/index.mdx
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration

docs: do not use code blocks for configuration titles (#493)
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/index.mdx
  website/content/docs/configuration/listener/index.mdx
  website/content/docs/configuration/telemetry.mdx
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration

Document warehouse functions
  internal/db/migrations/postgres.gen.go
  internal/db/migrations/postgres/60_wh_domain_types.up.sql
  internal/db/migrations/postgres/65_wh_session_dimensions.up.sql
  internal/db/migrations/postgres/66_wh_session_dimensions.up.sql
  internal/db/migrations/postgres/69_wh_session_facts.up.sql
Labels: none

docs: add roadmap page
  website/content/docs/roadmap/0_2_0.mdx
  website/content/docs/roadmap/index.mdx
  website/data/docs-navigation.js
Labels: none

docs: remove unused pages
  website/content/docs/admin-console/index.mdx
  website/content/docs/admin-console/login.mdx
  website/content/docs/command-line/index.mdx
  website/content/docs/command-line/login.mdx
Labels: none

docs: add roadmap page (#496)
  website/content/docs/roadmap/0_2_0.mdx
  website/content/docs/roadmap/index.mdx
  website/data/docs-navigation.js
Labels: none

docs: remove unused pages (#495)
  website/content/docs/admin-console/index.mdx
  website/content/docs/admin-console/login.mdx
  website/content/docs/command-line/index.mdx
  website/content/docs/command-line/login.mdx
Labels: none
