Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

add pinned id test
  internal/daemon/controller/handlers/hosts/grants_test.go
Labels: core, core/daemon

Add grants tests for hosts resource (#5884)
  internal/daemon/controller/handlers/hosts/grants_test.go
Labels: core, core/daemon

bump ui commit 19426cf
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 10603a0c6477d878370251c630c86bed0926bfc5
  internal/ui/VERSION
Labels: core, core/ui

Fix MySQL connection according to review feedback
  internal/cmd/commands/connect/mysql.go
Labels: core

Closing file unconditionally
  internal/cmd/commands/connect/postgres.go
Labels: core

Closing file unconditionally (#5886)
  internal/cmd/commands/connect/postgres.go
Labels: core

Update internal/cmd/commands/connect/mysql.go
  internal/cmd/commands/connect/mysql.go
Labels: core

Update internal/cmd/commands/connect/mysql.go
  internal/cmd/commands/connect/mysql.go
Labels: core

Update internal/cmd/commands/connect/mysql.go
  internal/cmd/commands/connect/mysql.go
Labels: core

feat: add MySQL support to boundary connect
  CHANGELOG.md
  internal/cmd/commands/connect/mysql.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base_plus/env_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/mysql.mdx
Labels: core, website

docs: add MySQL to navigation menu
  website/data/docs-nav-data.json
Labels: website

bump ui commit 19426cf (#5885)
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 10603a0c6477d878370251c630c86bed0926bfc5 (#5888)
  internal/ui/VERSION
Labels: core, core/ui

Update testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

test: add containerized MySQL connection test for target functionality
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

Remove MySQL environment variables from e2e test config
  testing/internal/e2e/tests/base_plus/env_test.go
Labels: none

test: move MySQL e2e test from base_plus to base folder
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Fix MySQL test to support both MySQL and MariaDB clients
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Fix MySQL test to support both MySQL and MariaDB clients
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

ran linter
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

Verifying test no error on cleanup
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

lint cleanup
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

adding error checks
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

Make gen
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Update website/content/docs/concepts/domain-model/scopes.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

backport of commit 199837e272e4a71a6a86f2b005aa5b1a3e384f86
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

Test case testing
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

Reverting bad comment
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

chore(changelog): Update for 0.19.3 release
  CHANGELOG.md
Labels: none

cleaning up extra test file
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Add Mysql to runner
  enos/modules/test_e2e_docker/test.sh
Labels: none

Add Mysql to runner (#5893)
  enos/modules/test_e2e_docker/test.sh
Labels: none

add grants changes to changelog
  CHANGELOG.md
Labels: none

Adding back correct test file
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
Labels: none

Removing base plus test file
  testing/internal/e2e/tests/base_plus/target_tcp_connect_mysql_test.go
Labels: none

backport of commit 87f702e6af55e04f1538c28d6a2440882bfc4ab3
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/server

Removing base plus test file
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
Labels: none

Revert "Removing base plus test file"
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
Labels: none

bump ui commit bd1b854
  internal/ui/VERSION
Labels: core, core/ui
