Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

'Create' tests for scopes
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

API: add CreateDefaultRole and CreateAdminRole options
  api/scopes/option.gen.go
  internal/api/genapi/input.go
  internal/cmd/base/dev.go
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/init.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/services/v1/scope_service.proto
  version/feature_manager.go
Labels: api, api/scopes, core, core/gen, core/proto

repo: add CreateDefaultRole and CreateAdminRole options
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/iam/options.go
Labels: core, core/daemon, core/iam

Add CreateDefaultRole and CreateAdminRole options
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/flags_test.go
  internal/cmd/commands/database/init.go
Labels: core

rerun make gen
  internal/gen/controller/api/services/scope_service.pb.go
Labels: core, core/gen

'List Key Version Destruction Jobs' tests for scopes
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

Add output_fields testing to 'Get' test
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

Resolve GrantsForUser queries via resolveQuery() (#5836)
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Add additional test case for list-key-version-destruction-jobs
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

chore: Update nodeenrollment (#5863)
  .go-version
  go.mod
  go.sum
Labels: none

Update website/content/docs/concepts/domain-model/scopes.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

domain layer additions
  internal/iam/repository_scope.go
Labels: core, core/iam

add grants tests for scope resource (#5845)
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

add grants tests for scope resource (#5845)
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

add grants tests for scope resource (#5845) (#5865)
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

add grants tests for roles
  internal/daemon/controller/handlers/roles/grants_test.go
Labels: core, core/daemon

make gen
  internal/daemon/controller/handlers/roles/grants_test.go
Labels: core, core/daemon

test: add grants tests for roles resource (#5864)
  internal/daemon/controller/handlers/roles/grants_test.go
Labels: core, core/daemon

finish all worker api tests
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/server/testing.go
Labels: core, core/daemon, core/server

add tests for addworkertags readcertificateauthority reinitializecertificateauthority
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

add read createControllerLed createWorkerLed tests
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

minor refactor
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

add output fields tests for list
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

add missing output fields assertion
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

fix make gen and lint
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

fix unchecked error lint
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

test: add grants tests for worker resource (#5841)
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/server/testing.go
Labels: core, core/daemon, core/server

bumped-ui-commit-c1f7fe2
  internal/ui/VERSION
Labels: core, core/ui

update domain layer
  internal/cmd/commands/database/init.go
  internal/iam/options.go
  internal/iam/repository_scope.go
  internal/iam/repository_scope_test.go
Labels: core, core/iam

update tests
  internal/iam/repository_scope_test.go
Labels: core, core/iam

docs: Fix a typo
  website/content/docs/client-agent/index.mdx
Labels: website

address pr comments
  internal/cmd/base/dev.go
  internal/cmd/commands/database/flags.go
Labels: core

address pr comments
  internal/api/genapi/input.go
Labels: core

bumped-ui-commit-c1f7fe2 (#5866)
  internal/ui/VERSION
Labels: core, core/ui

add new test case where role already has children and attempt to set children and individual project
  internal/iam/repository_role_grant_scope_test.go
Labels: core, core/iam

handle case where role already has children grant scope attempt to set children and project
  internal/iam/repository_role_grant_scope.go
Labels: core, core/iam

docs: Remove deprecated features
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit a0bc719ea4f2a52014e860bf3c5846ece4ac2b2c
  website/content/docs/commands/scopes/create.mdx
Labels: website

docs: Remove deprecation notice
  website/content/docs/commands/scopes/create.mdx
Labels: website

backport of commit 2792ae9a4a2e7e8da2bbc26ae15fc96035093319
  website/content/docs/commands/scopes/create.mdx
Labels: website

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
