Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Add comment
  internal/credential/vault/jobs.go
Labels: core

backport of commit 02767dc3eb6639feb7764a6dfd9275475d501c1a
  internal/credential/vault/testing.go
Labels: core

implement shutdown function in TestVaultServer
  internal/credential/vault/supported.go
Labels: core

backport of commit 67f7c3289aa0fb42cfbe2b7a6c4184505421b6ee
  internal/credential/vault/jobs.go
Labels: core

backport of commit 72cecdafa543e67fa19391f5653252d48f81a2bd
  internal/credential/vault/supported.go
Labels: core

add test to validate that unexpired tokens are not set as expired
  internal/credential/vault/jobs_test.go
Labels: core

backport of commit e196e08caa470415c0db67302aa8fa1a9780739e
  internal/credential/vault/jobs_test.go
Labels: core

backport of commit 2273051047c6d1ad225af9720f8a30e4fbd357f2
  internal/credential/vault/jobs_test.go
Labels: core

modify credential_vault_token_renewal_revocation_view to include expiration_time
  internal/db/schema/migrations/oss/postgres/101/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

backport of commit 5e4a561d2c92d3a750436750656d83a4837947fb
  internal/credential/vault/jobs.go
Labels: core

backport of commit 4e6c97444207d4fbb3d5d91cb855186c76b4b216
  internal/db/schema/migrations/oss/postgres/101/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

add small comment
  internal/credential/vault/jobs.go
Labels: core

backport of commit 67d8d30ffb2e627ce7847bea8989716e4f1929d4
  internal/credential/vault/jobs.go
Labels: core

backport of commit b3d07a0a535c383f006310c0a8b2f520777cde4b
  internal/credential/vault/jobs_test.go
Labels: core

clean up error checks
  internal/credential/vault/jobs.go
Labels: core

add token status validation
  internal/credential/vault/jobs_test.go
Labels: core

backport of commit de637d17bada52afa34e727756094d8b9d69e665
  internal/credential/vault/private_store.go
Labels: core

include TokenExpirationTime in clientStore
  internal/credential/vault/private_store.go
Labels: core

add expiration time validation to tests
  internal/credential/vault/jobs_test.go
Labels: core

remove unnecessary renew from test
  internal/credential/vault/jobs_test.go
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

backport of commit 48e156b9489904d229ffb3f24288b44a5da0d7ea
  internal/credential/vault/jobs_test.go
  internal/db/schema/migrations/oss/postgres/102/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

backport of commit ad20a37372eb97e67885ef37b47e5e9383704dc4
  internal/credential/vault/private_store_test.go
Labels: core

fix token translation uses wrong time field and add tests
  internal/credential/vault/private_store.go
  internal/credential/vault/private_store_test.go
Labels: core

add more token status validation
  internal/credential/vault/jobs_test.go
Labels: core

fix lint
  internal/credential/vault/private_store_test.go
Labels: core

backport of commit 4b6c13c8f521ff03d38fb9132041ae29a4ebd47e
  internal/credential/vault/jobs_test.go
Labels: core

backport of commit 1bfee0c4ee329a0abd790a679a30e0ee61daa27e
  internal/credential/vault/private_store.go
  internal/credential/vault/private_store_test.go
Labels: core

move migration to 103
  internal/db/schema/migrations/oss/postgres/103/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

backport of commit 53c0b6ec86f8bc69a1066be65518676cf815a6bb
  internal/db/schema/migrations/oss/postgres/103/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

remove t.Parallel() comments
  internal/credential/vault/jobs_test.go
Labels: core

backport of commit 3de3a3552549fd47de5c13ebf0e9f5129cd5b5e7
  internal/credential/vault/jobs_test.go
Labels: core

remove unused setup code
  internal/credential/vault/private_store_test.go
Labels: core

backport of commit 49e861010e5d0637cabd31ce5a1e463bac220ce0
  internal/credential/vault/private_store_test.go
Labels: core

backport of commit d066e50f306f7719f7e72fce85e126922c074b4f
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
Labels: core

use atomic for testvault.stopped
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
Labels: core

remove file created by merge conflict
  internal/db/schema/migrations/oss/postgres/101/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

backport of commit 415a84d13ee07ebd9556c9204f3944016363c2aa
  internal/db/schema/migrations/oss/postgres/101/01_credential_vault_token_renewal_revocation_view.up.sql
Labels: core, core/db, core/sql

make gen
  internal/credential/vault/jobs_test.go
  internal/credential/vault/repository_test.go
Labels: core

chore(e2e): Added an enos scenario that takes a worker version and deploys with that version (#6308)
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
Labels: none

comment to trigger CI tests
  testing/internal/e2e/tests/base/target_tcp_connect_redis_password_test.go
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
