Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

variable names changes as per the review
  internal/auth/password/argon2.go
  internal/securerandom/random.go
  internal/securerandom/random_test.go
Labels: core, core/auth

changes updated
  internal/auth/password/argon2.go
  internal/securerandom/random.go
  internal/securerandom/random_test.go
Labels: core, core/auth

SecureRandomness used as pkg
  internal/auth/password/argon2.go
  internal/randomness/secureradomness.go
Labels: core, core/auth

SecureRandomness used as package
  internal/randomness/secureradomness.go
Labels: core

comments removed
  internal/auth/password/argon2.go
Labels: core, core/auth

reactor: Update Password use of crypto/rand to SecureRandomReader
  internal/auth/password/argon2.go
  internal/securerandom/random.go
  internal/securerandom/random_test.go
Labels: core, core/auth

chore(e2e): Rename for clarity
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
Labels: none

feat: add password credential to meta_session.go (#6257)
  internal/bsr/meta_session.go
Labels: core

ce: refact(e2e): Update WaitForSessionCli to accept e2e options
  testing/internal/e2e/boundary/session.go
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
  testing/internal/e2e/tests/base/session_cancel_admin_test.go
  testing/internal/e2e/tests/base/session_cancel_group_test.go
  testing/internal/e2e/tests/base/session_cancel_user_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_set_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_test.go
  testing/internal/e2e/tests/base/session_end_delete_project_test.go
  testing/internal/e2e/tests/base/session_end_delete_target_test.go
  testing/internal/e2e/tests/base/session_end_delete_user_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_connection_limits_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_exec_long_lasting_script_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_go_ssh_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_http_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_listen_port_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_localhost_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_scp_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_session_max_seconds_test.go
Labels: none

ce: test(e2e): Add connect method that can work in windows
  testing/internal/e2e/boundary/connect.go
  testing/internal/e2e/helpers.go
Labels: none

chore(e2e): Rename for clarity (#6261)
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
Labels: none

Bump internal/ui/VERSION commit to 4fc3244
  internal/ui/VERSION
Labels: core, core/ui

feat(ssh): support ssh known hosts file
  internal/cmd/commands/dev/dev.go
  internal/cmd/config/config.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
Labels: core, core/daemon

update ui changelog
  CHANGELOG.md
Labels: none

backport of commit 86c9f0ea1f97bb04f6f0b1504490ba8300b8ca95
  internal/cmd/commands/dev/dev.go
  internal/cmd/config/config.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/daemon, core/gen

update ui changelog
  CHANGELOG.md
Labels: none

feat(ssh): support ssh known hosts file (#6263)
  internal/cmd/commands/dev/dev.go
  internal/cmd/config/config.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
Labels: core, core/daemon

changes updated
  internal/auth/password/argon2.go
  internal/securerandom/random.go
  internal/securerandom/random_test.go
Labels: core, core/auth

make gen error changes
  internal/securerandom/random_test.go
Labels: core

make gen error changes
  internal/securerandom/random_test.go
Labels: core

backport of commit b95b101b4d5eb219223d58f3cf799d2d7f3de4bf
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/gen

chore: bump version to 0.21.0
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/gen

chore: bump version to 0.21.0 (#6267)
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core, core/gen

add pgtap tests and fkeys
  internal/db/schema/migrations/oss/postgres/101/01_app_token_base.up.sql
  internal/db/schema/migrations/oss/postgres/101/02_app_token_global.up.sql
  internal/db/schema/migrations/oss/postgres/101/03_app_token_org.up.sql
  internal/db/schema/migrations/oss/postgres/101/04_app_token_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/05_prototype_seed_scopes.up.sql
  internal/db/schema/migrations/oss/postgres/101/06_prototype_seed_global_token_all_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/07_prototype_seed_global_token_children_project.up.sql
  internal/db/schema/migrations/oss/postgres/101/08_prototype_seed_global_token_descendants.up.sql
  internal/db/schema/migrations/oss/postgres/101/09_prototype_seed_org_token_children.up.sql
  internal/db/schema/migrations/oss/postgres/101/10_prototype_seed_org_token_individual.up.sql
  internal/db/schema/migrations/oss/postgres/101/11_prototype_seed_project_token.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/apptoken/apptoken_global.sql
  internal/db/sqltest/tests/apptoken/apptoken_org.sql
  internal/db/sqltest/tests/apptoken/apptoken_project.sql
Labels: core, core/db, core/sql

Bump internal/ui/VERSION commit to 95f72e1
  internal/ui/VERSION
Labels: core, core/ui

backport of commit a44559f3bde694beba579cced9bfd86360c3bc0b
  internal/ui/VERSION
Labels: core, core/ui

update ui changelog
  CHANGELOG.md
Labels: none

backport of commit 249d60c75cbbbc9a8a4dcd7f7f72fe26d1589315
  CHANGELOG.md
Labels: none

update ui changelog (#6265)
  CHANGELOG.md
Labels: none

bumped ui commit to 95f72e1
  internal/ui/VERSION
Labels: core, core/ui

update ui changelog
  CHANGELOG.md
Labels: none

update ui changelog (#6274)
  CHANGELOG.md
Labels: none

Bump internal/ui/VERSION commit to 95f72e1 (#6270)
  internal/ui/VERSION
Labels: core, core/ui

backport of commit a44559f3bde694beba579cced9bfd86360c3bc0b (#6275)
  internal/ui/VERSION
Labels: core, core/ui

backport of commit ca54c008809be906889fa782a4ca6af5fb042718 (#6272)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

add repository_token_grant query and tests
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
Labels: core, core/iam, core/sql

add repository_token_grant query and tests
  internal/iam/query.go
  internal/iam/repository_token_grant.go
  internal/iam/repository_token_grant_test.go
Labels: core, core/iam, core/sql

feat(apptoken): Add AppToken domain model
  internal/apptoken/apptoken.go
  internal/apptoken/apptoken_test.go
Labels: core

make gen
  internal/apptoken/apptoken.go
  internal/apptoken/apptoken_test.go
Labels: core

test
  internal/auth/password/argon2.go
  internal/auth/password/options.go
  internal/auth/password/options_test.go
  internal/auth/password/repository_account.go
Labels: core, core/auth
