Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

drop trigger which deletes from iam-role-grant-scope
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
Labels: core, core/db, core/sql

fix broken sql from removing iam role grant scope (#5860)
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/initdb.d/04_foodtruck_persona.sql
  internal/db/sqltest/tests/iam/grant_scope_validation.sql
Labels: core, core/db, core/sql

test(credentials): Add grants tests (#5608)
  internal/daemon/controller/handlers/credentials/grants_test.go
Labels: core, core/daemon

feat: add grants tests for alias (#5550)
  internal/daemon/controller/handlers/aliases/grants_test.go
Labels: core, core/daemon

test: add grants tests for auth tokens resource (#5644)
  internal/daemon/controller/handlers/authtokens/grants_test.go
Labels: core, core/daemon

test: credentials store grants (#5592)
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
Labels: core, core/daemon

add authorized actions tests for resources with sub-resources (#5835)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

feat: add grants tests for billing resource (#5559)
  internal/daemon/controller/handlers/billing/grants_test.go
Labels: core, core/daemon

test(groups): add grants tests for groups API (#5403)
  internal/auth/db_test.go
  internal/auth/ldap/testing.go
  internal/auth/oidc/testing.go
  internal/auth/password/testing.go
  internal/auth/testing.go
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/authtokens/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/credentials/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/groups/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/testing.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/iam/testing.go
Labels: core, core/auth, core/daemon, core/iam

Add grants tests for authmethods (#5569)
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

Remove old test Role creation code
  internal/iam/testing.go
Labels: core, core/iam

bosorawis remove TestRoleGrantsForToken (#5840)
  internal/auth/ldap/testing.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/auth, core/daemon

test: add grants tests for managed groups resource (#5642)
  internal/daemon/controller/handlers/managed_groups/grants_test.go
Labels: core, core/daemon

test(hostsets): add grants tests (#5591)
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/host/static/testing.go
Labels: core, core/daemon, core/host

test: add grants tests for host_catalogs (#5573)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

Add grants tests for accounts (#5566)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/perms/grants.go
Labels: core, core/daemon, core/perms

make gen
  internal/daemon/controller/handlers/sessions/grants_test.go
Labels: core, core/daemon

domain: iam: upgrade repository code to use new tables (#5643)
  internal/db/schema/migrations/oss/postgres/100/07_oplog_ticket.up.sql
  internal/iam/immutable_fields_test.go
  internal/iam/query.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/testing.go
Labels: core, core/db, core/iam, core/sql

test(grants): GrantsForUsers tests for Group resource (#5443)
  internal/iam/options.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

bosorawis domain iam implement getRoleScopeType (#5629)
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_test.go
Labels: core, core/iam, core/sql

Domain: iam: Repository: update list-grant-scope and test setup to use new model (#5679)
  Makefile
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_scope.go
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
  internal/iam/role_test.go
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/iam/store/role_org_individual_grant_scope.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_org_individual_grant_scope.proto
Labels: core, core/daemon, core/db, core/iam, core/proto, core/sql

Bosorawis domain iam role subtypes (#5626)
  Makefile
  globals/globals.go
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/100/05_iam_grant.up.sql
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/store/role_project.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
  internal/proto/controller/storage/iam/store/v1/role_project.proto
Labels: core, core/db, core/iam, core/proto, core/sql

feat: Define new grants tables (#5486)
  internal/db/schema/migrations/oss/postgres/0/06_iam.up.sql
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/100/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/100/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/100/06_iam_role_grant.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/iam/iam_grant.sql
  internal/db/sqltest/tests/iam/iam_role_global.sql
  internal/db/sqltest/tests/iam/iam_role_org.sql
  internal/db/sqltest/tests/iam/iam_role_project.sql
Labels: core, core/db, core/sql

bosorawis sql split global grants scope table (#5638)
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/sqltest/tests/iam/iam_role_global.sql
  internal/db/sqltest/tests/iam/iam_role_org.sql
Labels: core, core/db, core/sql

Create function to define valid set of scopes for each resource (#5558)
  internal/iam/account.go
  internal/iam/group.go
  internal/iam/resource.go
  internal/iam/role.go
  internal/iam/user.go
  internal/perms/acl.go
  internal/perms/grants.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
  internal/website/permstable/permstable.go
Labels: core, core/iam, core/perms, core/types

add name scope id unique constraints to all iam_role tables (#5623)
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
Labels: core, core/db, core/sql

feat: grantsForUser for Global Resources (#5612)
  go.mod
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

feat: grantsForUser for Global/Org/Project resources (#5807)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

feat: add grants tests for alias (#5550)
  internal/daemon/controller/handlers/aliases/grants_test.go
Labels: core, core/daemon

feat: grantsForUser for recursive Project resources (#5783)
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

test: add grants tests for managed groups resource (#5642)
  internal/daemon/controller/handlers/managed_groups/grants_test.go
Labels: core, core/daemon

test(credentials): Add grants tests (#5608)
  internal/daemon/controller/handlers/credentials/grants_test.go
Labels: core, core/daemon

test(groups): add grants tests for groups API (#5403)
  internal/auth/db_test.go
  internal/auth/ldap/testing.go
  internal/auth/oidc/testing.go
  internal/auth/password/testing.go
  internal/auth/testing.go
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/authtokens/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/credentials/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/groups/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/testing.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/iam/testing.go
Labels: core, core/auth, core/daemon, core/iam

fix broken test (#5842)
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

test: credentials store grants (#5592)
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
Labels: core, core/daemon

Fix global scope's parent scope id (#5844)
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Migrate roles and grants to new table structure (#5814)
  internal/db/schema/migrations/oss/internal/hook96005/hook.go
  internal/db/schema/migrations/oss/internal/hook96005/query.go
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_tables.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_functions.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_data_migration.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_iam_role_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_96_01_test.go
  internal/db/schema/migrations/oss/postgres_96_03_test.go
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core, core/db, core/sql

bosorawis remove TestRoleGrantsForToken (#5840)
  internal/auth/ldap/testing.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/auth, core/daemon

Remove old test Role creation code
  internal/iam/testing.go
Labels: core, core/iam

feat: grants: add resource type parameters to GrantsForUser (#5750)
  internal/auth/additional_verification_test.go
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/auth_test.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/interceptor_test.go
  internal/iam/options.go
  internal/iam/options_test.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/auth, core/daemon, core/iam
