Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Bumped product version to 0.21.3.
  version/VERSION
Labels: none

update scenario e2e_aws_rdp_base
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_vault/variables.tf
  enos/modules/aws_vault/vault-instances.tf
Labels: none

aws_ssh_keypair module; update e2e_aws_base
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_ssh_keypair/main.tf
  enos/modules/aws_ssh_keypair/variables.tf
  enos/modules/aws_target/main.tf
Labels: none

enos fmt formatting
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
Labels: none

terraform fmt modules
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/vault-instances.tf
Labels: none

rename module variables to aws_ssh_...
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/variables.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/test_e2e/main.tf
Labels: none

update hcp-resources, e2e_aws scenario, aws_worker module
  enos/ci/hcp-resources/main.tf
  enos/ci/hcp-resources/variables.tf
  enos/enos-scenario-e2e-aws.hcl
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/variables.tf
Labels: none

update e2e_database scenario
  enos/enos-scenario-e2e-database.hcl
Labels: none

lint and format
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
Labels: none

[COMPLIANCE] Update Copyright & License Header
  internal/gen/controller/api/LICENSE
Labels: core, core/gen

Update Slack channel reference from #team-quality to #team-vault-automation
  enos/README.md
Labels: none

[COMPLIANCE] Update Copyright & License Header (#6573)
  internal/gen/controller/api/LICENSE
Labels: core, core/gen

Update Slack channel reference from #team-quality to #team-vault-automation (#6574)
  enos/README.md
Labels: none

ce: Add infrastructure needed to test worker ssh known hosts (#6554)
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/02-add-host-keys
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  testing/internal/e2e/boundary/version.go
  testing/internal/e2e/infra/docker.go
Labels: none

test(bats): Add more debug
  internal/tests/cli/boundary/alias.bats
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
  internal/tests/cli/boundary/target_aliases.bats
Labels: core

test(bats): Fix flaky connect helper methods
  .github/workflows/test-cli-ui_oss.yml
  internal/tests/cli/boundary/_connect.bash
Labels: core

chore: Fix copywrite headers
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/02-add-host-keys
  testing/internal/e2e/boundary/version.go
Labels: none

ce: Add infrastructure needed to test worker ssh known hosts (#6554)
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/02-add-host-keys
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  testing/internal/e2e/boundary/version.go
  testing/internal/e2e/infra/docker.go
Labels: none

chore: Update version
  internal/gen/controller.swagger.json
Labels: core, core/gen

test(bats): Fix flaky connect helper methods (#6535)
  .github/workflows/test-cli-ui_oss.yml
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/02-add-host-keys
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/alias.bats
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
  internal/tests/cli/boundary/target_aliases.bats
  testing/internal/e2e/boundary/version.go
Labels: core

Backport of test(e2e): Add infra for worker ssh_known_hosts_path test into release/0.21.x (#6575)
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/02-add-host-keys
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  internal/gen/controller.swagger.json
  testing/internal/e2e/boundary/version.go
  testing/internal/e2e/infra/docker.go
Labels: core, core/gen

test(bats): Fix flaky connect helper methods (#6535)
  .github/workflows/test-cli-ui_oss.yml
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/alias.bats
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
  internal/tests/cli/boundary/target_aliases.bats
Labels: core

test(bats): Debug for flaky test
  internal/tests/cli/boundary/target.bats
Labels: core

test(bats): Fix flaky connect helper methods (#6535) (#6576)
  .github/workflows/test-cli-ui_oss.yml
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/alias.bats
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
  internal/tests/cli/boundary/target_aliases.bats
Labels: core

fix(e2e): Increase number of tries in bytes up down test
  testing/internal/e2e/tests/base_connect/bytes_up_down_empty_test.go
Labels: none

test(bats): Debug for flaky test (#6578)
  internal/tests/cli/boundary/target.bats
Labels: core

test(bats): Debug for flaky test (#6578)
  internal/tests/cli/boundary/target.bats
Labels: core

test(bats): Debug for flaky test (#6578) (#6579)
  internal/tests/cli/boundary/target.bats
Labels: core

test(e2e): Additional debug
  testing/internal/e2e/tests/base_connect/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base_connect/bytes_up_down_test.go
Labels: none

test(bats): Fix flaky connect helper... AGAIN
  internal/tests/cli/boundary/_connect.bash
Labels: core

backport of commit 13d82566ed800e345cfb96a99f33758954cb9266
  internal/tests/cli/boundary/_connect.bash
Labels: core

test(bats): Fix flaky connect helper... AGAIN (#6580)
  internal/tests/cli/boundary/_connect.bash
Labels: core

backport of commit 13d82566ed800e345cfb96a99f33758954cb9266 (#6581)
  internal/tests/cli/boundary/_connect.bash
Labels: core

fix(e2e): Add debug for flaky bytes up down test (#6572)
  testing/internal/e2e/tests/base_connect/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base_connect/bytes_up_down_test.go
Labels: none

fix(e2e): Add debug for flaky bytes up down test (#6572)
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
Labels: none

fix(e2e): Add debug for flaky bytes up down test (#6572) (#6582)
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
Labels: none

fix vars
  enos/ci/hcp-resources/main.tf
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/modules/aws_ssh_keypair/main.tf
  enos/modules/aws_ssh_keypair/variables.tf
Labels: none

DRAFT: add a github workflow to remediate security scan vulnerabilities with a PR
  .github/workflows/dependency-remediation-on-security-failure.yml
  .github/workflows/security-scan.yml
Labels: none

chore(e2e): Fix worker version e2e-docker-base-with-worker-version to account for 1.0 release
  .github/workflows/enos-run.yml
Labels: none

changes updated
  internal/ratelimit/config.go
  internal/ratelimit/config_test.go
Labels: core

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
