Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"

docs: Security model (#6031) (#6199)
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website

docs: Security model (#6031) (#6200)
  website/content/docs/secure/security-model.mdx
  website/data/docs-nav-data.json
  website/public/img/security-model/boundary-architecture.png
  website/public/img/security-model/data-at-rest.png
  website/public/img/security-model/data-in-transit.png
Labels: website

chore(e2e): Update artifact name (#6192)
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

feat(handlers): CRUDL support for static password credential (#6181)
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core, core/daemon, core/proto

test(rdp): pass through server and client version to e2e output
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

cr
  enos/modules/test_e2e/main.tf
Labels: none

cr
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/test_e2e/main.tf
Labels: none

feat(cli): Add password credential CLI commands
  api/credentials/option.gen.go
  api/credentials/password_attributes.gen.go
  api/sessionrecordings/password_credential_attributes.gen.go
  enos/modules/build_boundary_docker_local/build.sh
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/password_credentials.gen.go
  internal/cmd/commands/credentialscmd/password_funcs.go
  internal/cmd/gencli/input.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core, core/proto

docs: Explain storage capacity in concept topic (#6187)
  website/content/docs/session-recording/index.mdx
Labels: website

Docs: clarifies supported vault cred library templating parameters (#6114)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

fixes broken link (#6111)
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website

Makefile: check for existence of dist in build-ui-ifne (#6119)
  Makefile
Labels: none

updates diagram, adds light and dark mode versions (#6154)
  website/content/docs/architecture/high-availability.mdx
  website/public/img/boundary-network.png
  website/public/img/boundary-network_dark.png
  website/public/img/boundary-network_light.png
Labels: website

fixes controller policy example (#6113)
  website/content/docs/domain-model/credential-stores.mdx
Labels: website

Adding unimplemented message in cred service
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: core, core/daemon

docs: Fix broken link in transparent sessions troubleshooting doc (#6182)
  website/content/docs/client-agent/troubleshoot.mdx
Labels: website

feat(handlers): CRUDL support for static password credential (#6181)
  internal/api/genapi/input.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/daemon, core/proto

chore(e2e): Add steps to download opencv from workflow (#6177)
  enos/enos-variables.hcl
  enos/modules/aws_windows_client/scripts/setup.ps1
  enos/modules/aws_windows_client/variables.tf
Labels: none

feat(mongo): Add MongoDB connection support for Boundary CLI PORT (#6069)
  CHANGELOG.md
  enos/modules/test_e2e_docker/test.sh
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mongo.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mongo_test.go
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/mongo.mdx
  website/data/docs-nav-data.json
Labels: core, website

docs: Add missing closed parenthesis (#6143)
  website/content/docs/domain-model/credential-libraries.mdx
Labels: website

feat(db): Password credential migration (#6125)
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: core, core/db, core/sql

Re-organizing test
  internal/tests/cli/boundary/credentials.bats
Labels: core

feat(credential/vault): Implement repository for vault password credential (#6140)
  globals/credentials.go
  internal/credential/credential.go
  internal/credential/vault/internal/password/doc.go
  internal/credential/vault/internal/password/password.go
  internal/credential/vault/internal/password/password_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

Removing duplicate case
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: core, core/daemon

e2e(chore): fixed enos variable with null value (#6176)
  enos/enos-variables.hcl
Labels: none

Re-organizing test
  internal/tests/cli/boundary/credentials.bats
Labels: core

chore(e2e): Add source override to admin ui build script
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_local/build.sh
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
  enos/modules/build_local/templates/build.sh
  scripts/build-ui.sh
Labels: none

docs: Fixes redirects - batch 3 (#6178)
  website/redirects.js
Labels: website

feat(db): Add db migration to support vault password credential (#6129)
  internal/db/schema/migrations/oss/postgres/98/01_credential_static_username_password_domain_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
  internal/db/schema/migrations/oss/postgres/99/02_credential_vault_password_library.up.sql
Labels: core, core/db, core/sql

Removing duplicate case
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: core, core/daemon

feat(credential/static): Implement CRUDL support for password credentials (#6163)
  internal/credential/public_ids.go
  internal/credential/static/credential.go
  internal/credential/static/password_credential.go
  internal/credential/static/password_credential_test.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/proto/controller/storage/credential/static/store/v1/static.proto
Labels: core, core/proto, core/sql

Make test_e2e_env.sh executable (#6179)
  enos/scripts/test_e2e_env.sh
Labels: none

docs: Fix version 0.19.x redirects (#6128)
  website/content/docs/index.mdx
  website/redirects.js
Labels: website

chore(e2e): Update artifact name (#6192)
  enos/modules/aws_windows_client/scripts/setup.ps1
Labels: none

chore(errors): Add early disconnection error (#6126)
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

docs: Minor content update (#6172)
  website/content/docs/api/index.mdx
Labels: website

config: remove unused telemetry stanza (#6137)
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
  internal/cmd/config/config.go
Labels: core

test(e2e): Add support for Vault LDAP testing (#6175)
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-variables.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/outputs.tf
  enos/modules/aws_rdp_domain_controller/scripts/setup_ldaps.ps1
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_vault/security-groups.tf
  enos/modules/aws_windows_client/main.tf
Labels: none

docs: Add `key_id` field to KMS docs (#6138)
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/configuration

Spacing
  internal/tests/cli/boundary/credentials.bats
Labels: core
