Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

chore: update docker cli (#6487)
  go.mod
  go.sum
Labels: none

chore: update docker cli (#6488)
  go.mod
  go.sum
Labels: none

chore: update docker cli (#6489)
  go.mod
  go.sum
Labels: none

feat: Add cookie attributes
  internal/daemon/controller/handlers/outgoing_response_filter.go
  internal/daemon/controller/handlers/outgoing_response_filter_test.go
Labels: core, core/daemon

ce: chore(e2e): Add support for downstream workers (#6478)
  enos/enos-scenario-e2e-aws.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/templates/worker_bsr.hcl
  enos/modules/aws_boundary/templates/worker_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_boundary/templates/worker_vault_kms.hcl
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/outputs.tf
  enos/modules/aws_worker/templates/worker.hcl
  enos/modules/aws_worker/templates/worker_bsr.hcl
  enos/modules/aws_worker/templates/worker_bsr_vault_kms.hcl
  enos/modules/aws_worker/variables.tf
Labels: none

chore(e2e): Remove need to modify `/etc/hosts` (#6486)
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-connect.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker-version.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/modules/docker_boundary/boundary-config-bsr.hcl
  enos/modules/docker_boundary/boundary-config-init.hcl
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  enos/modules/docker_boundary/boundary-config.hcl
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test.sh
  enos/modules/test_e2e_docker/test_runner.sh
  enos/modules/test_e2e_ui/main.tf
  testing/internal/e2e/tests/base_connect/target_tcp_connect_session_max_seconds_test.go
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
  testing/internal/e2e/tests/base_with_vault/credential_library_vault_ldap_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/env_test.go
  testing/internal/e2e/tests/base_with_vault/paginate_credential_library_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
Labels: none

e2e tcp connect pending session
  testing/internal/e2e/tests/base_connect/target_tcp_connect_pending_test.go
Labels: none

backport of commit 3c8b3065b06c06a9ea525ca8e99f6e5b53fcab44
  testing/internal/e2e/tests/base_connect/target_tcp_connect_pending_test.go
Labels: none

backport of commit fb8916cb378ff0c5e6d3184bbb405460473f4c9f
  testing/internal/e2e/tests/base_connect/target_tcp_connect_pending_test.go
Labels: none

cr; use random port
  testing/internal/e2e/tests/base_connect/target_tcp_connect_pending_test.go
Labels: none

Initial
  api/consts/consts.go
  api/proxy/proxy.go
  api/proxy/proxy_test.go
  api/proxy/websocket.go
  globals/globals.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/proxy/countingconn.go
  internal/daemon/worker/proxy/countingconn_test.go
  internal/daemon/worker/proxy/proxy.go
  internal/daemon/worker/proxy/proxy_conn_tracker.go
  internal/daemon/worker/proxy/proxy_conn_tracker_test.go
  internal/daemon/worker/proxy/proxy_test.go
  internal/daemon/worker/proxy/tcp/tcp.go
  internal/daemon/worker/proxy/tcp/tcp_test.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/worker.go
  internal/proto/worker/proxy/v1/proxy.proto
  sdk/pbs/proxy/proxy.pb.go
Labels: api, core, core/daemon, core/proto

test(e2e): Add test for idle pending tcp connect session (#6492)
  testing/internal/e2e/tests/base_connect/target_tcp_connect_pending_test.go
Labels: none

test(e2e): Update log level to debug
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
  enos/modules/aws_boundary/templates/controller_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/controller_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/templates/worker_bsr.hcl
  enos/modules/aws_boundary/templates/worker_bsr_vault_kms.hcl
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_boundary/templates/worker_vault_kms.hcl
  enos/modules/docker_boundary/boundary-config-bsr.hcl
  enos/modules/docker_boundary/boundary-config-init.hcl
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  enos/modules/docker_boundary/boundary-config.hcl
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-controller-led.hcl
  enos/modules/docker_worker/worker-config-worker-led.hcl
  enos/modules/docker_worker/worker-config.hcl
Labels: none

context timeout error handler changes
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/errors.go
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

feat: expose grant schema for UI linting support (#6470)
  internal/daemon/controller/handler_ui.go
  internal/perms/grants_schema.go
  internal/perms/grants_schema_test.go
Labels: core, core/daemon, core/perms

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

refact(e2e): Create start/stop cache methods
  testing/internal/e2e/tests/base/search_test.go
Labels: none

fix(e2e): Address potential flake
  testing/internal/e2e/tests/base/search_test.go
Labels: none

CR
  testing/internal/e2e/tests/base/search_test.go
Labels: none

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23 (#6494)
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

test(bats): Add more information on test failure
  internal/tests/cli/boundary/alias.bats
Labels: core

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

Merge pull request #6383 from hashicorp/llb-desktop-client-sort
  internal/clientcache/cmd/search/search.go
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/cache/options.go
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/repository_sessions.go
  internal/clientcache/internal/cache/repository_sessions_test.go
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/cache/search_test.go
  internal/clientcache/internal/daemon/search_handler.go
  internal/clientcache/internal/daemon/search_handler_test.go
Labels: core

fix(clientcache): sort target names case insensitively (#6428)
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
Labels: core

changelog
  CHANGELOG.md
Labels: none

CR: Improve check
  testing/internal/e2e/tests/base/search_test.go
Labels: none

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23 (#6505)
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23 (#6506)
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

chore: update use of jackc pgconn to address CVE GHSA-jqcq-xjh3-6g23 (#6507)
  go.mod
  go.sum
  internal/session/repository_session_test.go
Labels: core, core/session

CR
  testing/internal/e2e/tests/base/search_test.go
Labels: none

test(bats): Add more information on test failure (#6504)
  internal/tests/cli/boundary/alias.bats
Labels: core

changes updated
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/errors.go
  internal/daemon/controller/handlers/errors_test.go
Labels: core, core/daemon

chore(e2e): Use approved base image
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit 00ffef1e907a15f8f40850928925096c308d1c2e
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit 00ffef1e907a15f8f40850928925096c308d1c2e
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit 00ffef1e907a15f8f40850928925096c308d1c2e
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

chore(e2e): Use approved base image (#6448)
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

backport of commit a5a95c301d02bd2b247d5498617083a05695d555
  enos/modules/aws_vpc_ipv6/main.tf
Labels: none

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
