Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

Cleanup docker and test
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Adding final tests
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Removing comment
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Fixing cleanup (uncomment)
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

Removing bad yaml
  cassandra.yaml
Labels: none

Cleanup
  enos/enos.vars.hcl
Labels: none

Cleanup
  enos/enos.vars.hcl
Labels: none

s
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
Labels: none

s
  internal/cmd/commands/connect/connect.go
Labels: core

chore(e2e): Add option for specifying windows format
  enos/scripts/test_e2e_env.sh
Labels: none

Adressing PR review comments
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

docs: Fixes broken links
  website/content/docs/deploy/terraform-patterns/terraform-groups-and-rbac.mdx
  website/content/docs/domain-model/groups.mdx
  website/content/docs/domain-model/index.mdx
  website/content/docs/domain-model/roles.mdx
  website/content/docs/domain-model/scopes.mdx
  website/content/docs/domain-model/sessions.mdx
  website/content/docs/domain-model/targets.mdx
  website/content/docs/domain-model/users.mdx
  website/content/docs/rbac/users/manage-users-groups.mdx
  website/redirects.js
Labels: website

proto: change username of UP cred to be sensitive (#5934)
  internal/gen/controller/servers/services/credential.pb.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/servers/services/v1/credential.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: core, core/gen, core/proto

Adding test support
  enos/modules/test_e2e_docker/test.sh
Labels: none

docs: Add links to other filter topics
  website/content/docs/filtering/index.mdx
Labels: website

docs: Update list intro
  website/content/docs/filtering/index.mdx
Labels: website

fix spacing
  enos/modules/test_e2e_docker/test.sh
Labels: none

Adding changelog
  CHANGELOG.md
Labels: none

docs
  website/content/docs/commands/connect/index.mdx
Labels: website

docs
  website/content/docs/commands/connect/index.mdx
Labels: website

adding cassandra page
  website/content/docs/commands/connect/casandra.mdx
Labels: website

nav
  website/data/docs-nav-data.json
Labels: website

fix listen port test, add DefaultClientPort test
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
Labels: none

Versbose commenting
  testing/internal/e2e/tests/base/target_tcp_connect_cassandra_test.go
Labels: none

cleanup naming of file
  website/content/docs/commands/connect/cassandra.mdx
Labels: website

docs: Adds link
  website/content/docs/workers/index.mdx
Labels: website

docs: Clarify that grants migration is automatic for HCP
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 676c28e4cd95433791082d888cfbde01053e86aa
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

updating helper func to return errors
  testing/internal/e2e/infra/docker.go
Labels: none

doc change
  website/content/docs/commands/connect/cassandra.mdx
Labels: website

Removed an incorrect comment and now passing the config by reference.
  testing/internal/e2e/infra/docker.go
Labels: none

s
  internal/cmd/commands/connect/connect.go
Labels: core

Comment cleanup
  testing/internal/e2e/infra/docker.go
Labels: none

docs: Include versions later than 0.19.3
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 8d7ec0c903c061995cea582c8e0756b6962d086b
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

backport of commit 8d7ec0c903c061995cea582c8e0756b6962d086b
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

docs: Fix word choice for standards
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

chore(e2e): Add option for specifying windows format (#5948)
  enos/scripts/test_e2e_env.sh
Labels: none

Init cassandra
  testing/internal/e2e/infra/docker.go
Labels: none

Initial Cassandra Command Support For cqlsh
  internal/cmd/commands/connect/cassandra.go
  internal/cmd/commands/connect/connect.go
Labels: core

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
