Repository hashicorp/boundary, changes with the labels that .github/labeler.yml gives for each.
All labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/auth, core/authtoken, core/cmd, core/daemon, core/db, core/gen, core/host, core/iam, core/kms, core/lib, core/oplog, core/perms, core/proto, core/proxy, core/server, core/session, core/sql, core/target, core/types, core/ui, website, docs/concepts, docs/getting-started, docs/installing, docs/configuration, docs/releases, docs/workflows, docs/roadmap

update tests to not check a table that will be dropped in the migration
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

update tests to not check a table that will be dropped in the migration (#5847)
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

chore(e2e): Added build tag for enabling pprof tracing (#5839)
  Makefile
  internal/cmd/base/pprof_off.go
  internal/cmd/base/pprof_on.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  testing/TRACING.md
Labels: core

'global' scope should have no parent scope
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

Use variable over hard-coded string
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

test(grants): GrantsForUsers tests for Group resource (#5443)
  internal/iam/options.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam

Create function to define valid set of scopes for each resource (#5558)
  internal/iam/account.go
  internal/iam/group.go
  internal/iam/resource.go
  internal/iam/role.go
  internal/iam/user.go
  internal/perms/acl.go
  internal/perms/grants.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
  internal/website/permstable/permstable.go
Labels: core, core/iam, core/perms, core/types

test(groups): add grants tests for groups API (#5403)
  internal/auth/db_test.go
  internal/auth/ldap/testing.go
  internal/auth/oidc/testing.go
  internal/auth/password/testing.go
  internal/auth/testing.go
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/authtokens/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/credentials/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/groups/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/testing.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/iam/testing.go
Labels: core, core/auth, core/daemon, core/iam

test: credentials store grants (#5592)
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
Labels: core, core/daemon

test(credentials): Add grants tests (#5608)
  internal/daemon/controller/handlers/credentials/grants_test.go
Labels: core, core/daemon

test: add grants tests for auth tokens resource (#5644)
  internal/daemon/controller/handlers/authtokens/grants_test.go
Labels: core, core/daemon

Add grants tests for accounts (#5566)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/perms/grants.go
Labels: core, core/daemon, core/perms

test: add grants tests for managed groups resource (#5642)
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/iam/testing.go
Labels: core, core/daemon, core/iam

feat: add grants tests for alias (#5550)
  internal/daemon/controller/handlers/aliases/grants_test.go
Labels: core, core/daemon

test(hostsets): add grants tests (#5591)
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/host/static/testing.go
Labels: core, core/daemon, core/host

Add grants tests for authmethods (#5569)
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

test: add grants tests for host_catalogs (#5573)
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

feat: add grants tests for billing resource (#5559)
  internal/daemon/controller/handlers/billing/grants_test.go
Labels: core, core/daemon

add authorized actions tests for resources with sub-resources (#5835)
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

refactor roles grants tests
  internal/daemon/controller/handlers/roles/grants_test.go
Labels: core, core/daemon

refactor credential libraries grants tests
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
Labels: core, core/daemon

refactor worker grants tests
  internal/daemon/controller/handlers/workers/grants_test.go
Labels: core, core/daemon

add pinned ID test
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

refactor users grants tests
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

refactor tcp targets grants tests
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

refactor scopes grants tests
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

fix authmethod test broken during the refactor
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

remove authtoken.TestRoleGrantsForToken
  internal/authtoken/testing.go
Labels: core

refactor hosts grants tests
  internal/daemon/controller/handlers/hosts/grants_test.go
Labels: core, core/daemon

refactor auth method grants tests
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

correct event name
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/daemon

bump ui commit to 2d34717
  internal/ui/VERSION
Labels: core, core/ui

backport of commit 363540e04f770320e768bbda440381636b02c026
  internal/ui/VERSION
Labels: core, core/ui

Fix global scope's parent scope id (#5844)
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core, core/iam, core/sql

backport of commit bffca0eff49473a40401bc73a4249de0375ada57
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/commands/scopes/create.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

backport of commit bffca0eff49473a40401bc73a4249de0375ada57
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/commands/scopes/create.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

docs: Document grant normalization
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/commands/scopes/create.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

bump ui commit to 2d34717 (#5849)
  internal/ui/VERSION
Labels: core, core/ui

fix make gen and lint
  internal/auth/ldap/testing.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core, core/auth, core/daemon

fix whitespace
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core, core/db

.github/labeler.yml:

api:
  - changed-files:
    - any-glob-to-any-file: "api/**/*"

api/authmethods:
  - changed-files:
    - any-glob-to-any-file: "api/authmethods/**/*"

api/authtokens:
  - changed-files:
    - any-glob-to-any-file: "api/authtokens/**/*"

api/groups:
  - changed-files:
    - any-glob-to-any-file: "api/groups/**/*"

api/hostcatalogs:
  - changed-files:
    - any-glob-to-any-file: "api/hostcatalogs/**/*"

api/hosts:
  - changed-files:
    - any-glob-to-any-file: "api/hosts/**/*"

api/hostsets:
  - changed-files:
    - any-glob-to-any-file: "api/hostsets/**/*"

api/roles:
  - changed-files:
    - any-glob-to-any-file: "api/roles/**/*"

api/scopes:
  - changed-files:
    - any-glob-to-any-file: "api/scopes/**/*"

api/sessions:
  - changed-files:
    - any-glob-to-any-file: "api/sessions/**/*"

api/targets:
  - changed-files:
    - any-glob-to-any-file: "api/targets/**/*"

api/users:
  - changed-files:
    - any-glob-to-any-file: "api/users/**/*"

core:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*"

core/auth:
  - changed-files:
    - any-glob-to-any-file: "internal/auth/**/*"

core/authtoken:
  - changed-files:
    - any-glob-to-any-file: "internal/authtoken/**/"

core/cmd:
  - changed-files:
    - any-glob-to-any-file: "internal/cmd/**/8"

core/daemon:
  - changed-files:
    - any-glob-to-any-file: "internal/daemon/**/*"

core/db:
  - changed-files:
    - any-glob-to-any-file: "internal/db/**/*"

core/gen:
  - changed-files:
    - any-glob-to-any-file: "internal/gen/**/*"

core/host:
  - changed-files:
    - any-glob-to-any-file: "internal/host/**/*"

core/iam:
  - changed-files:
    - any-glob-to-any-file: "internal/iam/**/*"

core/kms:
  - changed-files:
    - any-glob-to-any-file: "internal/kms/**/*"

core/lib:
  - changed-files:
    - any-glob-to-any-file: "internal/libs/**/*"

core/oplog:
  - changed-files:
    - any-glob-to-any-file: "internal/oplog/**/*"

core/perms:
  - changed-files:
    - any-glob-to-any-file: "internal/perms/**/*"

core/proto:
  - changed-files:
    - any-glob-to-any-file: "internal/proto/**/*"

core/proxy:
  - changed-files:
    - any-glob-to-any-file: "internal/proxy/**/*"

core/server:
  - changed-files:
    - any-glob-to-any-file: "internal/server/**/*"

core/session:
  - changed-files:
    - any-glob-to-any-file: "internal/session/**/*"

core/sql:
  - changed-files:
    - any-glob-to-any-file: "internal/**/*.sql"
  - changed-files:
    - any-glob-to-any-file: "internal/**/*query*.go"

core/target:
  - changed-files:
    - any-glob-to-any-file: "internal/target/**/*"

core/types:
  - changed-files:
    - any-glob-to-any-file: "internal/types/**/*"

core/ui:
  - changed-files:
    - any-glob-to-any-file: "internal/ui/**/*"

website:
  - changed-files:
    - any-glob-to-any-file: "website/**/*"

docs/concepts:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/concepts/**/*"

docs/getting-started:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/getting-started/**/*"

docs/installing:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/installing/**/*"

docs/configuration:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/configuration/**/*"

docs/releases:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/releases/**/*"

docs/workflows:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/common-workflows/**/*"

docs/roadmap:
  - changed-files:
    - any-glob-to-any-file: "website/content/docs/roadmap/**/*"
