Repository hashicorp/boundary, pull requests merged in 2020-10, with the labels that each got.

#674 Remove 'TODO' in code example
  website/content/docs/getting-started/installing/production.mdx
Labels: docs/getting-started, website

#679 docs: fixed small error
  website/README.md
Labels: website

#680 docs: Correct module imports in go sdk examples
  website/content/docs/api-clients/go-sdk.mdx
Labels: website

#682 Update website dependencies
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website

#687 internal/servers/controller: fix dropped test error
  internal/servers/controller/handler_test.go
Labels: core, core/servers

#678 docs: Fix a typo & broken link
  website/content/docs/getting-started/index.mdx
Labels: docs/getting-started, website

#694 Fix typo in docs
  website/content/docs/installing/high-availability.mdx
Labels: docs/installing, website

#700 [Website] Bump HSM version to include waypoint
  website/package-lock.json
  website/package.json
Labels: website

#706 Set vercel config
  website/vercel.json
Labels: website

#698 docs: add details on not saving token to system key manager
  website/content/docs/getting-started/run-and-login.mdx
Labels: docs/getting-started, website

#708 Fix link to 'Edit this Page' for Docs
  website/components/temporary_docs-page/index.jsx
Labels: website

#689 Fix hyphenation of resource subcommand output
  CHANGELOG.md
  internal/cmd/common/help.go
Labels: bug, cli, core

#712 Fix typo in target documentation
  website/content/docs/common-workflows/manage-targets.mdx
Labels: docs/workflows, website

#717 docs: fix ExecStart command in systemd docs
  website/content/docs/installing/systemd.mdx
Labels: docs/installing, website

#715 website: turn off vercel PR comments
  website/vercel.json
Labels: website

#713 docs: how to install without generated resources
  website/content/docs/installing/no-gen-resources.mdx
  website/data/docs-navigation.js
Labels: docs/installing, website

#723 handle v1 as a prefix/suffix, not just a cut set to be trimmed
  api/client.go
Labels: api

#728 Fix typo in production.mdx
  website/content/docs/getting-started/installing/production.mdx
Labels: docs/getting-started, website

#733 internal/servers/controller/handlers/accounts: fix dropped test errors
  internal/servers/controller/handlers/accounts/account_service_test.go
Labels: core, core/servers

#734 Fix typo in data-encryption.mdx
  website/content/docs/concepts/security/data-encryption.mdx
Labels: docs/concepts, website

#736 Fix database init when locale isn't english
  CHANGELOG.md
  internal/cmd/commands/database/init.go
  internal/db/error.go
  internal/db/error_test.go
Labels: core, core/db

#732 feat: override PG host Docker-advertised address when set
  CHANGELOG.md
  internal/docker/supported.go
Labels: core

#731 Add `pass` cred storage support
  CHANGELOG.md
  api/output_string.go
  go.mod
  go.sum
  internal/cmd/base/base.go
  internal/cmd/commands/authenticate/password.go
  internal/cmd/commands/config/token.go
  website/content/docs/api-clients/cli.mdx
Labels: api, core, website

#740 Add printable checks to request path and name/desc
  internal/servers/controller/handler.go
  internal/servers/controller/handler_test.go
  internal/servers/controller/handlers/verifiers.go
  internal/servers/controller/handlers/verifiers_test.go
Labels: core, core/servers

#737 Allow authorize-session to be invoked with target name
  CHANGELOG.md
  api/targets/custom.go
  api/targets/option.gen.go
  internal/api/genapi/input.go
  internal/auth/auth.go
  internal/cmd/base/base.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/targets/target.go
  internal/cmd/common/flags.go
  internal/db/testing.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/target_service.pb.go
  internal/proto/local/controller/api/services/v1/target_service.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/repository_test.go
Labels: api, api/targets, core, core/auth, core/db, core/gen, core/proto, core/servers, core/target

#741 Update UI and Changelog
  CHANGELOG.md
  internal/ui/VERSION
Labels: core, core/ui

#744 docs: add KMS section to controller configuration overview
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration, website

#742 docs: Update host set videos in "Manage Targets" to reflect v0.1.1 UI
  website/content/docs/common-workflows/manage-targets.mdx
Labels: docs/workflows, website

#746 docs: update HA architecture diagram
  website/public/img/production.png
Labels: website

#747 Update systemd.mdx
  website/content/docs/installing/systemd.mdx
Labels: docs/installing, website

#749 docs: specify address for worker listener configuration
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration, website

#752 Fix IPv4-only check when no port is specified
  CHANGELOG.md
  internal/cmd/base/listener.go
Labels: core

#761 Add ability to set public cluster address
  CHANGELOG.md
  internal/cmd/base/listener.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/servers/controller/controller.go
  internal/servers/controller/listeners.go
  internal/servers/controller/testing.go
  internal/servers/controller/tickers.go
  internal/servers/worker/testing.go
  internal/tests/cluster/ipv6_listener_test.go
  internal/tests/cluster/unix_listener_test.go
  website/content/docs/configuration/controller.mdx
Labels: core, core/servers, docs/configuration, website
