Repository hashicorp/boundary, pull requests merged in 2020-11, with the labels that each got.

#763 internal/servers/controller/handlers/groups: fix dropped test error
  internal/servers/controller/handlers/groups/group_service_test.go
Labels: core, core/servers

#769 docs: update installation steps with templated account.id grant string
  website/content/docs/installing/no-gen-resources.mdx
Labels: docs/installing, website

#770 docs: typo on encryption page
  website/content/docs/concepts/security/data-encryption.mdx
Labels: docs/concepts, website

#760 New domain errors based on the ICU-019 RFC
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/error.go
  internal/errors/error_test.go
  internal/errors/info.go
  internal/errors/is.go
  internal/errors/is_test.go
  internal/errors/kind.go
  internal/errors/kind_test.go
  internal/errors/match.go
  internal/errors/match_test.go
  internal/errors/option.go
  internal/errors/option_test.go
  internal/errors/sentinels.go
Labels: core

#775 [Website] Bump HSM version
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#779 Backport of [Website] Bump HSM version into stable-website
  website/package-lock.json
  website/package.json
Labels: website

#778 Ui next release update
  CHANGELOG.md
  internal/ui/VERSION
Labels: core, core/ui

#768 Use ProductDownloader component, remove duplicate code
  website/components/downloader/cards/index.jsx
  website/components/downloader/cards/style.module.css
  website/components/downloader/dropdown/index.jsx
  website/components/downloader/dropdown/style.module.css
  website/components/downloader/logos/fastly.svg
  website/components/downloader/release-information/index.jsx
  website/components/downloader/release-information/style.module.css
  website/components/downloader/utils/downloader.js
  website/package-lock.json
  website/package.json
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/pages/style.css
Labels: website, website/cherrypick

#782 fix docs for adding roles and principals
  website/content/docs/installing/no-gen-resources.mdx
Labels: docs/installing, website

#783 ui: bump UI release commit for 0.1.2
  internal/ui/VERSION
Labels: core, core/ui

#780 Backport of Use ProductDownloader component, remove duplicate code into stable-website
  website/components/downloader/cards/index.jsx
  website/components/downloader/cards/style.module.css
  website/components/downloader/dropdown/index.jsx
  website/components/downloader/dropdown/style.module.css
  website/components/downloader/logos/fastly.svg
  website/components/downloader/release-information/index.jsx
  website/components/downloader/release-information/style.module.css
  website/components/downloader/utils/downloader.js
  website/package-lock.json
  website/package.json
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/pages/style.css
Labels: website

#772 Update deps
  go.mod
  go.sum
  internal/gen/controller/api/services/account_service_grpc.pb.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/gen/controller/api/services/authtokens_service_grpc.pb.go
  internal/gen/controller/api/services/group_service_grpc.pb.go
  internal/gen/controller/api/services/host_catalog_service_grpc.pb.go
  internal/gen/controller/api/services/host_service_grpc.pb.go
  internal/gen/controller/api/services/host_set_service_grpc.pb.go
  internal/gen/controller/api/services/role_service_grpc.pb.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/gen/controller/api/services/session_service_grpc.pb.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/gen/controller/api/services/user_service_grpc.pb.go
  internal/gen/controller/servers/services/server_coordination_service_grpc.pb.go
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/workers/worker_service.go
Labels: core, core/gen, core/servers

#787 Fix authz flag
  CHANGELOG.md
  internal/cmd/commands/connect/connect.go
Labels: core

#777 feat: make auth token staleness and duration configurable
  internal/authtoken/options.go
  internal/authtoken/options_test.go
  internal/authtoken/repository.go
  internal/authtoken/repository_test.go
  internal/cmd/config/config.go
  internal/servers/controller/controller.go
  website/content/docs/configuration/controller.mdx
Labels: core, core/servers, docs/configuration, website

#789 Update doc clickthrough videos for ui v0.1.2 changes
  website/content/docs/common-workflows/manage-roles.mdx
  website/content/docs/common-workflows/manage-scopes.mdx
Labels: docs/workflows, website

#790 Refactor domain error to use errorId
  internal/errors/error.go
  internal/errors/error_test.go
  internal/errors/is_test.go
  internal/errors/match.go
  internal/errors/match_test.go
  internal/errors/option.go
  internal/errors/option_test.go
  internal/errors/sentinels.go
Labels: core

#792 Update ui build to use 'admin' folder instead of 'core'
  .circleci/config.yml
  .circleci/config/@build-release.yml
  README.md
  internal/ui/VERSION
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
  scripts/uigen.sh
  website/content/docs/developing/ui.mdx
Labels: core, core/ui, website

#797 Revert errorid
  Makefile
  internal/errors/error.go
  internal/errors/error_test.go
  internal/errors/is_test.go
  internal/errors/match.go
  internal/errors/match_test.go
  internal/errors/option.go
  internal/errors/option_test.go
  internal/errors/sentinels.go
  scripts/errorid.go
Labels: core

#798 docs: fix misleading statement about what scope a role can be created
  website/content/docs/concepts/domain-model/roles.mdx
Labels: docs/concepts, website

#799 fix: do not print info in output that could be JSON or YAML format
  CHANGELOG.md
  internal/cmd/base/base.go
Labels: core
