Repository hashicorp/boundary, pull requests merged in 2020-12, with the labels that each got.

#806 Allow dash in account name
  CHANGELOG.md
  internal/auth/password/repository_account.go
  internal/auth/password/repository_account_test.go
Labels: core, core/auth

#808 Generate postgres.gen.go using schema version directory structure
  internal/cmd/commands/database/init.go
  internal/db/db_test.go
  internal/db/migrations/genmigrations/generate.go
  internal/db/migrations/postgres.gen.go
  internal/db/migrations/postgres/0/01_domain_types.down.sql
  internal/db/migrations/postgres/0/01_domain_types.up.sql
  internal/db/migrations/postgres/0/02_oplog.down.sql
  internal/db/migrations/postgres/0/02_oplog.up.sql
  internal/db/migrations/postgres/0/03_db.down.sql
  internal/db/migrations/postgres/0/03_db.up.sql
  internal/db/migrations/postgres/0/06_iam.down.sql
  internal/db/migrations/postgres/0/06_iam.up.sql
  internal/db/migrations/postgres/0/07_auth.down.sql
  internal/db/migrations/postgres/0/07_auth.up.sql
  internal/db/migrations/postgres/0/08_servers.down.sql
  internal/db/migrations/postgres/0/08_servers.up.sql
  internal/db/migrations/postgres/0/11_auth_token.down.sql
  internal/db/migrations/postgres/0/11_auth_token.up.sql
  internal/db/migrations/postgres/0/12_auth_password.down.sql
  internal/db/migrations/postgres/0/12_auth_password.up.sql
  internal/db/migrations/postgres/0/13_auth_password_argon.down.sql
  internal/db/migrations/postgres/0/13_auth_password_argon.up.sql
  internal/db/migrations/postgres/0/14_auth_password_views.down.sql
  internal/db/migrations/postgres/0/14_auth_password_views.up.sql
  internal/db/migrations/postgres/0/20_host.down.sql
  internal/db/migrations/postgres/0/20_host.up.sql
  internal/db/migrations/postgres/0/22_static_host.down.sql
  internal/db/migrations/postgres/0/22_static_host.up.sql
  internal/db/migrations/postgres/0/30_keys.down.sql
  internal/db/migrations/postgres/0/30_keys.up.sql
  internal/db/migrations/postgres/0/31_keys.down.sql
  internal/db/migrations/postgres/0/31_keys.up.sql
  internal/db/migrations/postgres/0/40_targets.down.sql
  internal/db/migrations/postgres/0/40_targets.up.sql
  internal/db/migrations/postgres/0/41_targets.down.sql
  internal/db/migrations/postgres/0/41_targets.up.sql
  internal/db/migrations/postgres/0/50_session.down.sql
  internal/db/migrations/postgres/0/50_session.up.sql
  internal/db/migrations/postgres/0/51_connection.down.sql
  internal/db/migrations/postgres/0/51_connection.up.sql
  internal/db/migrations/postgres/0/60_wh_domain_types.down.sql
  internal/db/migrations/postgres/0/60_wh_domain_types.up.sql
  internal/db/migrations/postgres/0/62_wh_datetime.down.sql
  internal/db/migrations/postgres/0/62_wh_datetime.up.sql
  internal/db/migrations/postgres/0/65_wh_session_dimensions.down.sql
  internal/db/migrations/postgres/0/65_wh_session_dimensions.up.sql
  internal/db/migrations/postgres/0/66_wh_session_dimensions.down.sql
  internal/db/migrations/postgres/0/66_wh_session_dimensions.up.sql
  internal/db/migrations/postgres/0/68_wh_session_facts.down.sql
  internal/db/migrations/postgres/0/68_wh_session_facts.up.sql
  internal/db/migrations/postgres/0/69_wh_session_facts.down.sql
  internal/db/migrations/postgres/0/69_wh_session_facts.up.sql
  internal/oplog/testing.go
Labels: core, core/db, core/oplog

#809 Create internal capability for json errors for connect
  internal/cmd/commands/connect/connect.go
Labels: core

#810 Remove usage of manual.GenerateAndRegisterManualResolver
  internal/servers/worker/controller_connection.go
  internal/servers/worker/worker.go
Labels: core, core/servers

#784 Change Format of API Error
  api/accounts/account.gen.go
  api/apierror.go
  api/authmethods/authmethods.gen.go
  api/authtokens/authtokens.gen.go
  api/error.gen.go
  api/error_details.gen.go
  api/groups/group.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hosts/host.gen.go
  api/hostsets/host_set.gen.go
  api/response.go
  api/roles/role.gen.go
  api/scopes/scope.gen.go
  api/sessions/cancel.go
  api/sessions/session.gen.go
  api/targets/target.gen.go
  api/users/user.gen.go
  api/wrapped_error.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/cmd/base/format.go
  internal/cmd/commands/accounts/account.go
  internal/cmd/commands/authmethods/authmethod.go
  internal/cmd/commands/authtokens/authtokens.go
  internal/cmd/commands/groups/group.go
  internal/cmd/commands/hostcatalogs/hostcatalog.go
  internal/cmd/commands/hosts/host.go
  internal/cmd/commands/hostsets/hostset.go
  internal/cmd/commands/roles/role.go
  internal/cmd/commands/scopes/scope.go
  internal/cmd/commands/targets/target.go
  internal/cmd/commands/users/user.go
  internal/gen/controller/api/error.pb.go
  internal/proto/local/controller/api/v1/error.proto
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/errors_test.go
  internal/tests/api/accounts/account_test.go
  internal/tests/api/authmethods/authenticate_test.go
  internal/tests/api/authtokens/authtoken_test.go
  internal/tests/api/groups/group_test.go
  internal/tests/api/hostcatalogs/host_catalog_test.go
  internal/tests/api/hosts/host_test.go
  internal/tests/api/hostsets/host_set_test.go
  internal/tests/api/roles/role_test.go
  internal/tests/api/scopes/scope_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/api/users/user_test.go
Labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/gen, core/proto, core/servers

#786 Refactor host_repo -> domain errors
  internal/db/id.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/error.go
  internal/errors/error_test.go
  internal/errors/info.go
  internal/errors/is.go
  internal/errors/is_test.go
  internal/errors/match_test.go
  internal/errors/option.go
  internal/errors/option_test.go
  internal/errors/sentinels.go
  internal/host/static/errors.go
  internal/host/static/host.go
  internal/host/static/host_catalog.go
  internal/host/static/host_set.go
  internal/host/static/host_set_member.go
  internal/host/static/public_ids.go
  internal/host/static/repository.go
  internal/host/static/repository_host.go
  internal/host/static/repository_host_catalog.go
  internal/host/static/repository_host_catalog_test.go
  internal/host/static/repository_host_set.go
  internal/host/static/repository_host_set_member.go
  internal/host/static/repository_host_set_member_test.go
  internal/host/static/repository_host_set_test.go
  internal/host/static/repository_host_test.go
  internal/host/static/repository_test.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/errors_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
Labels: core, core/db, core/host, core/servers

#811 Pass endpoint to the client
  CHANGELOG.md
  api/targets/session_authorization.gen.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/http.go
  internal/cmd/commands/targets/funcs.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/servers/controller/handlers/targets/target_service.go
Labels: api, api/targets, core, core/gen, core/proto, core/servers

#814 Switch connection limit for default target to -1
  CHANGELOG.md
  internal/cmd/commands/database/init.go
  internal/cmd/commands/dev/dev.go
Labels: core

#796 docs: add workflow for transparent usage of Boundary by SSH client
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
  website/data/docs-navigation.js
Labels: docs/workflows, website

#816 Add `kube` connect subcommand
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/kube.go
  website/content/docs/getting-started/connect-to-target.mdx
Labels: core, docs/getting-started, website

#818 Bump deps
  go.mod
  go.sum
  internal/auth/password/store/argon2.pb.go
  internal/auth/password/store/password.pb.go
  internal/auth/store/account.pb.go
  internal/auth/store/auth_method.pb.go
  internal/authtoken/store/authtoken.pb.go
  internal/db/db_test/db_test.pb.go
  internal/db/timestamp/timestamp.pb.go
  internal/gen/controller/api/error.pb.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/gen/controller/api/resources/authtokens/authtoken.pb.go
  internal/gen/controller/api/resources/groups/group.pb.go
  internal/gen/controller/api/resources/hostcatalogs/host_catalog.pb.go
  internal/gen/controller/api/resources/hosts/host.pb.go
  internal/gen/controller/api/resources/hostsets/host_set.pb.go
  internal/gen/controller/api/resources/roles/role.pb.go
  internal/gen/controller/api/resources/scopes/scope.pb.go
  internal/gen/controller/api/resources/sessions/session.pb.go
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/api/resources/users/user.pb.go
  internal/gen/controller/api/services/account_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/authtokens_service.pb.go
  internal/gen/controller/api/services/group_service.pb.go
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/gen/controller/api/services/host_service.pb.go
  internal/gen/controller/api/services/host_set_service.pb.go
  internal/gen/controller/api/services/role_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/session_service.pb.go
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/user_service.pb.go
  internal/gen/controller/protooptions/options.pb.go
  internal/gen/controller/protooptions/testing.pb.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/gen/controller/tokens/tokens.pb.go
  internal/host/static/store/static.pb.go
  internal/host/store/host.pb.go
  internal/iam/store/group.pb.go
  internal/iam/store/group_member.pb.go
  internal/iam/store/principal_role.pb.go
  internal/iam/store/role.pb.go
  internal/iam/store/role_grant.pb.go
  internal/iam/store/scope.pb.go
  internal/iam/store/user.pb.go
  internal/kms/store/database_key.pb.go
  internal/kms/store/oplog_key.pb.go
  internal/kms/store/root_key.pb.go
  internal/kms/store/session_key.pb.go
  internal/kms/store/token_key.pb.go
  internal/oplog/any_operation.pb.go
  internal/oplog/oplog_test/oplog_test.pb.go
  internal/oplog/store/oplog.pb.go
  internal/proxy/proxy.pb.go
  internal/servers/servers.pb.go
  internal/target/store/target.pb.go
Labels: core, core/auth, core/db, core/gen, core/host, core/iam, core/kms, core/oplog, core/proxy, core/servers, core/target

#801 Update DocsPage Component
  .circleci/config.yml
  .circleci/config/jobs/algolia-index.yml
  .circleci/config/workflows/default.yml
  website/.env
  website/.env.production
  website/babel.config.js
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/index.jsx
  website/components/homepage-hero/HomepageHero.module.css
  website/components/openapi-page/index.jsx
  website/components/openapi-page/openapi-page.module.css
  website/components/openapi-page/style.module.css
  website/components/section-break-cta/section-break-cta.module.css
  website/components/temporary_docs-page/components.js
  website/components/temporary_docs-page/index.jsx
  website/components/temporary_docs-page/server.js
  website/content/partials/example.mdx
  website/jsconfig.json
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/api-docs/[[...page]].jsx
  website/pages/community/style.css
  website/pages/docs/[[...page]].jsx
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/pages/security/styles.module.css
  website/pages/style.css
  website/public/fonts/dejavu/mono.woff
  website/public/fonts/dejavu/mono.woff2
  website/public/fonts/gilmer/bold.woff
  website/public/fonts/gilmer/bold.woff2
  website/public/fonts/gilmer/light.woff
  website/public/fonts/gilmer/light.woff2
  website/public/fonts/gilmer/medium.woff
  website/public/fonts/gilmer/medium.woff2
  website/public/fonts/gilmer/regular.woff
  website/public/fonts/gilmer/regular.woff2
  website/public/fonts/klavika/medium.woff
  website/public/fonts/klavika/medium.woff2
  website/public/fonts/metro-sans/bold.woff
  website/public/fonts/metro-sans/bold.woff2
  website/public/fonts/metro-sans/book.woff
  website/public/fonts/metro-sans/book.woff2
  website/public/fonts/metro-sans/regular.woff
  website/public/fonts/metro-sans/regular.woff2
  website/public/fonts/metro-sans/semi-bold.woff
  website/public/fonts/metro-sans/semi-bold.woff2
  website/scripts/index_search_content.js
Labels: website

#831 Attempt canceling sessions by the client
  CHANGELOG.md
  internal/cmd/commands/connect/connect.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/proto/local/worker/proxy/v1/proxy.proto
  internal/proxy/proxy.pb.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/worker/handler.go
  internal/servers/worker/session.go
  internal/servers/worker/tcp_proxy.go
Labels: core, core/gen, core/proto, core/proxy, core/servers

#833 Update run-and-login.mdx
  website/content/docs/getting-started/run-and-login.mdx
Labels: docs/getting-started, website

#834 Move listener address in worker config example
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration, website

#838 Add logic to error on certain invalid listener configs
  CHANGELOG.md
  internal/cmd/commands/server/server.go
Labels: core

#839 Fix IDs being lowercased in role grants
  CHANGELOG.md
  internal/perms/grants.go
  internal/servers/controller/handlers/roles/role_service_test.go
Labels: core, core/perms, core/servers

#841 ICU-739/iam domain error refactor
  CHANGELOG.md
  internal/db/common/update.go
  internal/db/read_writer.go
  internal/host/static/public_ids.go
  internal/host/static/repository_host.go
  internal/host/static/repository_host_catalog.go
  internal/host/static/repository_host_set.go
  internal/host/static/repository_host_set_member.go
  internal/iam/account.go
  internal/iam/group.go
  internal/iam/group_member.go
  internal/iam/group_member_test.go
  internal/iam/group_test.go
  internal/iam/ids.go
  internal/iam/ids_test.go
  internal/iam/principal_role.go
  internal/iam/principal_role_test.go
  internal/iam/repository.go
  internal/iam/repository_group.go
  internal/iam/repository_group_test.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/repository_scope_test.go
  internal/iam/repository_test.go
  internal/iam/repository_user.go
  internal/iam/repository_user_test.go
  internal/iam/resource.go
  internal/iam/resource_test.go
  internal/iam/role.go
  internal/iam/role_grant.go
  internal/iam/role_grant_test.go
  internal/iam/role_test.go
  internal/iam/scope.go
  internal/iam/scope_test.go
  internal/iam/user.go
  internal/iam/user_test.go
Labels: core, core/db, core/host, core/iam
