Repository hashicorp/boundary, pull requests merged in 2021-03, with the labels that each got.

#967 Add -filter to CLI listing and website docs
  CHANGELOG.md
  api/output_string.go
  internal/cmd/base/base.go
  internal/cmd/commands/accountscmd/accounts.gen.go
  internal/cmd/commands/accountscmd/password_accounts.gen.go
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/groupscmd/groups.gen.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostscmd/hosts.gen.go
  internal/cmd/commands/hostscmd/static_hosts.gen.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/rolescmd/roles.gen.go
  internal/cmd/commands/scopescmd/scopes.gen.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/sessionscmd/sessions.gen.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/commands/userscmd/users.gen.go
  internal/cmd/common/flags.go
  internal/cmd/gencli/templates.go
  website/content/docs/concepts/filtering/resource-listing.mdx
  website/data/docs-navigation.js
Labels: api, core, docs/concepts, website

#963 Ongoing OIDC work: repo method for updating an auth method
  go.mod
  go.sum
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/testing.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core, core/auth

#970 Fix WithKeyId option
  internal/kms/kms.go
  internal/kms/kms_ext_test.go
  internal/kms/kms_test.go
  internal/kms/repository_root_key.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session.go
Labels: core, core/kms, core/servers, core/session

#975 Update getting started to clarify CLI usage
  website/content/docs/getting-started/connect-to-target.mdx
Labels: docs/getting-started, website

#976 Update CLI error codes to be consistent with `connect`
  CHANGELOG.md
  internal/cmd/base/base.go
  internal/cmd/base/format.go
  internal/cmd/commands/accountscmd/accounts.gen.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/accountscmd/password_accounts.gen.go
  internal/cmd/commands/accountscmd/password_funcs.go
  internal/cmd/commands/authenticate/password.go
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_funcs.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/config/autocomplete.go
  internal/cmd/commands/config/encryptdecrypt.go
  internal/cmd/commands/config/token.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/database/funcs.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/groupscmd/funcs.go
  internal/cmd/commands/groupscmd/groups.gen.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostscmd/hosts.gen.go
  internal/cmd/commands/hostscmd/static_funcs.go
  internal/cmd/commands/hostscmd/static_hosts.gen.go
  internal/cmd/commands/hostsetscmd/funcs.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/cmd/commands/rolescmd/roles.gen.go
  internal/cmd/commands/scopescmd/funcs.go
  internal/cmd/commands/scopescmd/scopes.gen.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/sessionscmd/sessions.gen.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_funcs.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/commands/userscmd/funcs.go
  internal/cmd/commands/userscmd/users.gen.go
  internal/cmd/commands/version/version.go
  internal/cmd/gencli/templates.go
  internal/tests/cli/boundary/groups.bats
  internal/tests/cli/boundary/host_catalogs.bats
  internal/tests/cli/boundary/hosts.bats
  internal/tests/cli/boundary/roles.bats
  internal/tests/cli/boundary/user.bats
Labels: core

#978 Fix WithKeyId after recent PR
  internal/session/repository.go
  internal/session/repository_session.go
  internal/tests/cli/boundary/user.bats
Labels: core, core/session

#968 Remove sentinel errors
  internal/auth/password/argon2.go
  internal/auth/password/argon2_test.go
  internal/auth/password/errors.go
  internal/auth/password/private_ids.go
  internal/auth/password/public_ids.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_account_test.go
  internal/auth/password/repository_authmethod.go
  internal/auth/password/repository_authmethod_test.go
  internal/auth/password/repository_configuration.go
  internal/auth/password/repository_password.go
  internal/authtoken/repository.go
  internal/errors/error.go
  internal/errors/error_test.go
  internal/errors/is_test.go
  internal/errors/match_test.go
  internal/errors/option_test.go
  internal/errors/sentinels.go
  internal/host/static/repository_host_catalog_test.go
  internal/host/static/repository_host_set_test.go
  internal/host/static/repository_host_test.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/errors_test.go
  internal/session/error.go
  internal/session/repository_session.go
Labels: core, core/auth, core/host, core/servers, core/session

#972 Ongoing OIDC work: repo methods for transitioning operational states
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_operational_state.go
  internal/auth/oidc/repository_auth_method_operational_state_test.go
Labels: core, core/auth

#977 OIDC API for Create, Get, Delete, and List
  internal/auth/oidc/certificate_utils.go
  internal/auth/oidc/provider_test.go
  internal/auth/oidc/signing_alg.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/subtype.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/accounts/v1/account.proto
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/common/common.go
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/verifiers.go
  internal/servers/controller/handlers/verifiers_test.go
Labels: core, core/auth, core/gen, core/proto, core/servers

#993 Update desktop guide to beta release
  website/content/docs/api-clients/desktop.mdx
Labels: website

#974 Ongoing OIDC work: the things required to kick off an OIDC authentication flow
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/request/request.pb.go
  internal/auth/oidc/request/validate.go
  internal/auth/oidc/service.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/service_test.go
  internal/auth/oidc/service_token_request.go
  internal/authtoken/authtoken.go
  internal/authtoken/authtoken_test.go
  internal/authtoken/repository.go
  internal/authtoken/repository_test.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/errors/kind.go
  internal/kms/kms.go
  internal/proto/local/controller/storage/auth/oidc/request/v1/request.proto
Labels: core, core/auth, core/kms, core/proto

#997 fix order of parameters... refactor sort of makes this defect hard to detect
  internal/cmd/commands/dev/dev.go
Labels: core

#998 Create a handlers.Id type for first ValidId parameter.
  internal/cmd/commands/dev/dev.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/verifiers.go
  internal/servers/controller/handlers/verifiers_test.go
Labels: core, core/auth, core/db, core/gen, core/kms, core/proto, core/servers, core/session

#984 Add ability to generate pseudo-random IDs
  internal/db/id.go
  internal/db/id_test.go
  internal/db/option.go
Labels: core, core/db

#996 Fix creation of initial Scope roles
  CHANGELOG.md
  internal/cmd/base/initial_resources.go
Labels: core

#991 Small docs update
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration, website

#1006 Ongoing OIDC: full qualify callback paths
  internal/auth/oidc/provider.go
  internal/auth/oidc/provider_test.go
  internal/auth/oidc/service.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/service_token_request.go
Labels: core, core/auth

#1008 Skip hidden directories when generating version numbers
  internal/db/schema/migrations/generate/generate.go
Labels: core, core/db

#1011 docs: clarify CORS configuration options
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/listener/tcp.mdx
Labels: docs/configuration, website

#1019 New error codes.
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/errors_test.go
Labels: core, core/servers

#1017 Bump proto/grpc deps
  go.mod
  go.sum
  internal/auth/password/store/argon2.pb.go
  internal/auth/password/store/password.pb.go
  internal/auth/store/account.pb.go
  internal/auth/store/auth_method.pb.go
  internal/authtoken/store/authtoken.pb.go
  internal/db/db_test/db_test.pb.go
  internal/db/timestamp/timestamp.pb.go
  internal/gen/controller/api/error.pb.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/gen/controller/api/resources/authtokens/authtoken.pb.go
  internal/gen/controller/api/resources/groups/group.pb.go
  internal/gen/controller/api/resources/hostcatalogs/host_catalog.pb.go
  internal/gen/controller/api/resources/hosts/host.pb.go
  internal/gen/controller/api/resources/hostsets/host_set.pb.go
  internal/gen/controller/api/resources/roles/role.pb.go
  internal/gen/controller/api/resources/scopes/scope.pb.go
  internal/gen/controller/api/resources/sessions/session.pb.go
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/api/resources/users/user.pb.go
  internal/gen/controller/api/services/account_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/authtokens_service.pb.go
  internal/gen/controller/api/services/group_service.pb.go
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/gen/controller/api/services/host_service.pb.go
  internal/gen/controller/api/services/host_set_service.pb.go
  internal/gen/controller/api/services/role_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/session_service.pb.go
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/user_service.pb.go
  internal/gen/controller/protooptions/options.pb.go
  internal/gen/controller/protooptions/testing.pb.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/gen/controller/tokens/tokens.pb.go
  internal/host/static/store/static.pb.go
  internal/host/store/host.pb.go
  internal/iam/store/group.pb.go
  internal/iam/store/group_member.pb.go
  internal/iam/store/principal_role.pb.go
  internal/iam/store/role.pb.go
  internal/iam/store/role_grant.pb.go
  internal/iam/store/scope.pb.go
  internal/iam/store/user.pb.go
  internal/kms/store/database_key.pb.go
  internal/kms/store/oidc_key.pb.go
  internal/kms/store/oplog_key.pb.go
  internal/kms/store/root_key.pb.go
  internal/kms/store/session_key.pb.go
  internal/kms/store/token_key.pb.go
  internal/oplog/any_operation.pb.go
  internal/oplog/oplog_test/oplog_test.pb.go
  internal/oplog/store/oplog.pb.go
  internal/proxy/proxy.pb.go
  internal/servers/servers.pb.go
  internal/target/store/target.pb.go
Labels: core, core/auth, core/db, core/gen, core/host, core/iam, core/kms, core/oplog, core/proxy, core/servers, core/target

#1000 OIDC Update & Change State API methods
  go.sum
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/repository_auth_method_test.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/password/repository_authmethod.go
  internal/auth/password/store/password.pb.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/proto/local/controller/storage/auth/password/store/v1/password.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/types/action/action.go
  internal/types/action/action_test.go
Labels: core, core/auth, core/gen, core/proto, core/servers, core/types

#1026 docs: Clarify note on VAULT_TOKEN env variable
  website/content/docs/configuration/kms/transit.mdx
Labels: docs/configuration, website

#1016 Honor child scope list permissions when recursing
  CHANGELOG.md
  internal/auth/auth.go
  internal/iam/options.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/servers/controller/common/scopeids/scope_ids.go
  internal/servers/controller/common/scopeids/scope_ids_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
Labels: core, core/auth, core/iam, core/perms, core/servers

#1023 api_url_prefix and override_oidc_discovery_url_config fields added
  internal/auth/oidc/repository_auth_method_operational_state.go
  internal/auth/oidc/repository_auth_method_operational_state_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
Labels: core, core/auth, core/gen, core/proto, core/servers

#1025 Revamp Authenticate fields
  CHANGELOG.md
  api/authmethods/authenticate.go
  internal/cmd/commands/authenticate/password.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/multi_test.go
  internal/servers/controller/testing.go
  internal/tests/api/authmethods/authenticate_test.go
  internal/tests/api/authtokens/authtoken_test.go
  website/content/docs/concepts/security/permissions.mdx
Labels: api, api/authmethods, core, core/gen, core/proto, core/servers, docs/concepts, website

#1012 website: add should-build script
  website/package-lock.json
  website/package.json
  website/scripts/should-build.sh
Labels: website, website/cherrypick

#1028 Backport of website: add should-build script into stable-website
  website/package-lock.json
  website/package.json
  website/scripts/should-build.sh
Labels: website

#1018 Ongoing OIDC: implement the token request capability in the repo.
  internal/auth/oidc/service.go
  internal/auth/oidc/service_token_request.go
  internal/auth/oidc/service_token_request_test.go
  internal/auth/oidc/testing.go
  internal/authtoken/repository.go
  internal/authtoken/repository_test.go
  internal/authtoken/testing.go
Labels: core, core/auth

#1029 Fix test scope errors
  internal/auth/auth.go
  internal/auth/testing.go
  internal/iam/repository_scope.go
  internal/servers/controller/common/scopeids/scope_ids.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authtokens/authtoken_service_test.go
  internal/servers/controller/handlers/groups/group_service_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/hosts/host_service_test.go
  internal/servers/controller/handlers/roles/role_service_test.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/servers/controller/handlers/users/user_service_test.go
Labels: core, core/auth, core/iam, core/servers

#1005 Add database schema for vault integration
  internal/db/schema/migrations/postgres/2/01_credential.down.sql
  internal/db/schema/migrations/postgres/2/01_credential.up.sql
  internal/db/schema/migrations/postgres/2/02_vault_credential.down.sql
  internal/db/schema/migrations/postgres/2/02_vault_credential.up.sql
  internal/db/schema/migrations/postgres/2/03_target.down.sql
  internal/db/schema/migrations/postgres/2/03_target.up.sql
  internal/db/schema/migrations/postgres/2/04_session.down.sql
  internal/db/schema/migrations/postgres/2/04_session.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db

#1033 If the database is already initialized, use 0 as the return value
  CHANGELOG.md
  internal/cmd/commands/database/funcs.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/database/init.go
Labels: core

#1031 Add a callback mechanism
  internal/servers/controller/handler.go
  internal/servers/controller/handler_test.go
Labels: core, core/servers

#1032 Add protobufs for credential and vault packages
  Makefile
  internal/credential/store/credential.pb.go
  internal/credential/vault/store/vault.pb.go
  internal/proto/local/controller/storage/credential/store/v1/credential.proto
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

#1034 Add job tables
  internal/db/schema/migrations/postgres/1/02_domains.up.sql
  internal/db/schema/migrations/postgres/2/01_job.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db

#1024 Add go SDK for OIDC auth method CRUD
  api/authmethods/changestate.go
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/api/genapi/input.go
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/tests/api/authmethods/authmethod_test.go
Labels: api, api/authmethods, core, core/db, core/gen, core/proto

#1027 Add Read,Update,Delete,List repo functions.
  internal/auth/oidc/account.go
  internal/auth/oidc/account_test.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_test.go
  internal/auth/oidc/testing.go
Labels: core, core/auth

#1036 Louis job proto
  Makefile
  internal/job/store/job.pb.go
  internal/proto/local/controller/storage/job/store/v1/job.proto
Labels: core, core/proto

#1035 Ongoing OIDC: a ticker for closing expired pending tokens
  internal/authtoken/repository.go
  internal/authtoken/repository_test.go
  internal/servers/controller/controller.go
  internal/servers/controller/tickers.go
Labels: core, core/servers

#1037 OIDC accounts RUDL API actions
  api/authmethods/changestate.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/password/store/password.pb.go
  internal/auth/subtype.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/proto/local/controller/api/resources/accounts/v1/account.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/proto/local/controller/storage/auth/password/store/v1/password.proto
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/accounts/validate_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
Labels: api, api/authmethods, core, core/auth, core/gen, core/proto, core/servers

#1041 Ongoing OIDC: ensure auth method names are unique across all subtypes
  internal/auth/db_test.go
  internal/auth/password/authmethod.go
  internal/auth/password/repository_authmethod.go
  internal/auth/password/repository_authmethod_test.go
  internal/db/schema/migrations/postgres/2/90_auth.up.sql
  internal/db/schema/migrations/postgres/2/90_auth_test.go
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/auth, core/db

#1048 400 if account already assocaited
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/iam/repository_user.go
  internal/iam/repository_user_test.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/errors_test.go
Labels: core, core/iam, core/servers

#1046 Updates to OIDC CRUD, mostly on the CLI, some naming, etc.
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/store/oidc.pb.go
  internal/cmd/commands/accountscmd/accounts.gen.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/accountscmd/password_accounts.gen.go
  internal/cmd/commands/accountscmd/password_funcs.go
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/oidc_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_funcs.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/groupscmd/funcs.go
  internal/cmd/commands/groupscmd/groups.gen.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostscmd/hosts.gen.go
  internal/cmd/commands/hostscmd/static_funcs.go
  internal/cmd/commands/hostscmd/static_hosts.gen.go
  internal/cmd/commands/hostsetscmd/funcs.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/cmd/commands/rolescmd/roles.gen.go
  internal/cmd/commands/scopescmd/funcs.go
  internal/cmd/commands/scopescmd/scopes.gen.go
  internal/cmd/commands/sessionscmd/sessions.gen.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_funcs.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/commands/userscmd/funcs.go
  internal/cmd/commands/userscmd/users.gen.go
  internal/cmd/gencli/templates.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/tests/api/authmethods/authmethod_test.go
Labels: api, api/authmethods, core, core/auth, core/gen, core/proto, core/servers

#1047 Vault integration: database fixes
  internal/db/schema/migrations/postgres/2/01_credential.up.sql
  internal/db/schema/migrations/postgres/2/02_vault_credential.down.sql
  internal/db/schema/migrations/postgres/2/02_vault_credential.up.sql
  internal/db/schema/migrations/postgres/2/03_target.up.sql
  internal/db/schema/migrations/postgres/2/04_session.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db

#1053 Separate out password/oidc code into separate files, and update some validation slightly
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/password.go
Labels: core, core/servers

#1054 Update fields in Authenticate
  CHANGELOG.md
  api/authmethods/authenticate.go
  api/authmethods/authenticate_test.go
  internal/cmd/commands/authenticate/password.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/servers/controller/handler_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/option_test.go
  internal/servers/controller/handlers/options.go
  internal/servers/controller/handlers/outgoing_interceptor.go
  internal/servers/controller/handlers/outgoing_interceptor_test.go
  internal/servers/controller/handlers/subtypes.go
  internal/servers/controller/multi_test.go
  internal/servers/controller/testing.go
  internal/tests/api/authmethods/authenticate_test.go
  internal/tests/api/authtokens/authtoken_test.go
Labels: api, api/authmethods, core, core/gen, core/proto, core/servers
