Repository hashicorp/boundary, pull requests merged in 2021-09, with the labels that each got.

#1491 refactor(worker): refactors the proxy handler to use endpoint scheme
  internal/cmd/commands/connect/connect.go
  internal/servers/worker/handler.go
  internal/servers/worker/proxy/tcp/tcp.go
Labels: core, core/servers

#1496 bug(targets): fixes bug that caused a panic in authorize-session
  CHANGELOG.md
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
Labels: core, core/servers

#1474 Properly accept grant format type=<type>;output_fields=<of>
  CHANGELOG.md
  internal/perms/grants.go
  internal/perms/output_fields_test.go
Labels: core, core/perms

#1478 Fix recursive listing when the ingress scope lacks permissions
  CHANGELOG.md
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/testing.go
  internal/tests/cluster/recursive_anon_listing_test.go
Labels: core, core/servers

#1500 fix(connect): Remove erroneous event error message
  internal/servers/worker/handler.go
Labels: core, core/servers

#1503 chore: bump UI version and add UI changelog
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#1501 test(scheduler) Remove un-needed test causing intermittent failures
  internal/scheduler/additional_verification_test.go
Labels: core

#1508 chore: bump ui
  internal/ui/VERSION
Labels: core/ui, core

#1499 chore(website): add `next-remote-watch` - this enables auto-reloading on specified file changes
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#1506 Move protobufs to sdk/pbs/plugin
  internal/proto/local/plugin/v1/host_plugin_service.proto
  sdk/pbs/plugin/host_plugin_service.pb.go
  sdk/pbs/plugin/host_plugin_service_grpc.pb.go
Labels: core, core/proto

#1507 Migrate sdk/recovery to api/ and sdk/wrapper to internal
  api/client.go
  api/go.mod
  api/go.sum
  api/recovery/recovery.go
  api/recovery/recovery_test.go
  internal/cmd/base/base.go
  internal/cmd/base/wrapper/wrapper.go
  internal/cmd/commands/config/encryptdecrypt.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/server/server.go
  internal/servers/controller/auth/auth.go
  internal/servers/repository_test.go
  sdk/go.mod
  sdk/go.sum
  website/content/docs/api-clients/go-sdk.mdx
Labels: website, api, core, core/servers

#1511 Move wrapper package back to SDK
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  internal/cmd/base/base.go
  internal/cmd/commands/config/encryptdecrypt.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/server/server.go
  sdk/go.mod
  sdk/go.sum
  sdk/wrapper/wrapper.go
  website/content/docs/api-clients/go-sdk.mdx
Labels: website, api, core

#1512 Add secrets to host catalogs API struct
  api/hostcatalogs/host_catalog.gen.go
  api/hostcatalogs/option.gen.go
  internal/api/genapi/input.go
  internal/gen/controller.swagger.json
  internal/proto/local/controller/api/resources/hostcatalogs/v1/host_catalog.proto
  internal/proto/local/plugin/v1/host_plugin_service.proto
  sdk/pbs/controller/api/resources/hostcatalogs/host_catalog.pb.go
  sdk/pbs/plugin/host_plugin_service.pb.go
Labels: api, core/gen, core, core/proto, api/hostcatalogs

#1475 feat(host): Add host plugin related schemas and tests
  Makefile
  internal/db/schema/migrations/postgres/16/01_plugin.up.sql
  internal/db/schema/migrations/postgres/16/02_hostplugin.up.sql
  internal/db/schema/migrations/postgres/16/03_host.up.sql
  internal/db/schema/migrations/postgres/16/04_plugin_host.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/host/plugin/host_catalog.go
  internal/host/plugin/host_catalog_secret.go
  internal/host/plugin/host_catalog_secret_test.go
  internal/host/plugin/host_catalog_test.go
  internal/host/plugin/host_set.go
  internal/host/plugin/host_set_test.go
  internal/host/plugin/ids.go
  internal/host/plugin/immutable_fields_test.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/query.go
  internal/host/plugin/store/host.pb.go
  internal/host/plugin/testing.go
  internal/host/plugin/testing_test.go
  internal/plugin/doc.go
  internal/plugin/host/doc.go
  internal/plugin/host/ids.go
  internal/plugin/host/immutable_fields_test.go
  internal/plugin/host/options.go
  internal/plugin/host/options_test.go
  internal/plugin/host/plugin.go
  internal/plugin/host/plugin_test.go
  internal/plugin/host/store/plugin.pb.go
  internal/plugin/host/testing.go
  internal/plugin/host/testing_test.go
  internal/plugin/immutable_fields_test.go
  internal/plugin/store/plugin.pb.go
  internal/plugin/testing.go
  internal/plugin/testing_test.go
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/proto/local/controller/storage/plugin/host/store/v1/plugin.proto
  internal/proto/local/controller/storage/plugin/store/v1/plugin.proto
  internal/scheduler/job/additional_verification_test.go
Labels: core/db, core, core/proto, core/host, core/sql

#1514 chore: bump UI version for release
  internal/ui/VERSION
Labels: core/ui, core

#1516 Create a repository to create, lookup, and list host plugins.
  internal/db/schema/postgres_migration.gen.go
  internal/plugin/host/plugin.go
  internal/plugin/host/plugin_test.go
  internal/plugin/host/repository.go
  internal/plugin/host/repository_plugin.go
  internal/plugin/host/repository_plugin_test.go
  internal/plugin/host/repository_test.go
  internal/proto/local/controller/storage/plugin/store/v1/plugin.proto
  sdk/pbs/plugin/host_plugin_service.pb.go
Labels: core/db, core, core/proto

#1517 Bump doc website download versions to latest
  website/data/version.js
  website/package-lock.json
Labels: website

#1497 Add Plugin Host Set Repo Create, List, Read Operations
  internal/auth/subtype.go
  internal/host/plugin/host_catalog.go
  internal/host/plugin/host_catalog_test.go
  internal/host/plugin/host_set.go
  internal/host/plugin/host_set_test.go
  internal/host/plugin/ids.go
  internal/host/plugin/repository.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/repository_test.go
  internal/host/plugin/testing.go
  internal/host/plugin/testing_test.go
  internal/host/subtype.go
Labels: core/auth, core, core/host

#1515 Add create, list, lookup functions for plugin based host catalogs
  internal/host/plugin/host_catalog.go
  internal/host/plugin/host_catalog_secret.go
  internal/host/plugin/host_catalog_secret_test.go
  internal/host/plugin/host_catalog_test.go
  internal/host/plugin/host_set_test.go
  internal/host/plugin/ids.go
  internal/host/plugin/immutable_fields_test.go
  internal/host/plugin/options.go
  internal/host/plugin/repository.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/testing.go
  internal/host/plugin/testing_test.go
Labels: core, core/host

#1482 Speed up test execution
  .circleci/config.yml
  .circleci/config/jobs/build.yml
  .circleci/config/jobs/test-sql.yml
  CONTRIBUTING.md
  Makefile
  internal/cmd/base/dev.go
  internal/cmd/base/internal/docker/docker.go
  internal/cmd/base/internal/docker/option.go
  internal/cmd/base/internal/docker/supported.go
  internal/cmd/base/option.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/server/server_test.go
  internal/db/db.go
  internal/db/db_test.go
  internal/db/schema/manager_test.go
  internal/db/schema/migrations/postgres/11/01_server_type_enum_test.go
  internal/db/schema/migrations/postgres/12/01_timestamp_sub_funcs_test.go
  internal/db/schema/migrations/postgres/14/warehouse_user_dim_test.go
  internal/db/schema/migrations/postgres/2/07_iam_test.go
  internal/db/schema/migrations/postgres/2/10_auth_test.go
  internal/db/schema/migrations/postgres/8/08_connection_test.go
  internal/db/schema/postgres/postgres_test.go
  internal/db/schema/schema_test.go
  internal/db/testing.go
  internal/oplog/testing.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/servers/controller/testing.go
  testing/dbtest/docker/Dockerfile.11-alpine
  testing/dbtest/docker/Dockerfile.12-alpine
  testing/dbtest/docker/Dockerfile.13-alpine
  testing/dbtest/docker/Dockerfile.alpine
  testing/dbtest/docker/Makefile
  testing/dbtest/docker/init-db.sh
  testing/dbtest/docker/postgresql.conf
  testing/dbtest/docs.go
  testing/dbtest/option.go
  testing/dbtest/template.go
  testing/dbtest/template_test.go
Labels: core/db, core/oplog, core, core/servers

#1524 Fix unknown permission issue with credential-store
  CHANGELOG.md
  internal/perms/acl.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
  internal/types/resource/resource.go
Labels: core, core/servers, core/perms, core/types

#1518 Create Plugin Host Set Handler for Create, List, Get
  internal/servers/controller/common/common.go
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
Labels: core, core/servers

#1522 Let plugin based sets be added to targets
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
Labels: core, core/servers

#1527 Fix sessions authorized actions output
  CHANGELOG.md
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
  internal/servers/controller/handlers/sessions/session_service.go
Labels: core, core/servers

#1526 Add endpoint preferencer
  go.mod
  go.sum
  internal/libs/endpoint/doc.go
  internal/libs/endpoint/matcher.go
  internal/libs/endpoint/matcher_test.go
  internal/libs/endpoint/option.go
  internal/libs/endpoint/options_test.go
  internal/libs/endpoint/preferencer.go
  internal/libs/endpoint/preferencer_test.go
Labels: core, core/lib

#1513 fix (controller): Set controller CancelCtx
  internal/servers/controller/listeners.go
Labels: core, core/servers

#1521 Add plugin capabilities in the catalog handler.
  internal/servers/controller/common/common.go
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
Labels: core, core/servers

#1525 feat(credential): Add specific credential types
  internal/credential/credential.go
  internal/credential/redact.go
  internal/credential/redact_test.go
Labels: core

#1523 Adding release notes for 0.6 and 0.5
  website/content/docs/releases/release-notes/v0_5_0.mdx
  website/content/docs/releases/release-notes/v0_6_0.mdx
  website/data/docs-nav-data.json
Labels: website, docs/releases, website/cherrypick

#1530 Add authorized collection actions output for credential stores
  CHANGELOG.md
  internal/servers/controller/auth/authorized_actions.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/types/resource/resource.go
Labels: core, core/servers, core/types

#1505 wh: Add wh_credential_dimension and bridge tables
  internal/db/schema/migrations/postgres/16/01_wh_credential_dimension.up.sql
  internal/db/schema/migrations/postgres/16/02_wh_credential_dimension.up.sql
  internal/db/schema/migrations/postgres/16/03_wh_credential_dimension.up.sql
  internal/db/schema/migrations/postgres/16/04_wh_credential_dimension.up.sql
  internal/db/schema/migrations/postgres/16/05_wh_credential_dimension.up.sql
  internal/db/schema/migrations/postgres/16/warehouse_credential_dim_test.go
  internal/db/schema/postgres_migration.gen.go
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/credential_dimension/dimension.sql
  internal/db/sqltest/tests/wh/credential_dimension/session_multiple_sessions.sql
  internal/db/sqltest/tests/wh/credential_dimension/session_update.sql
  internal/db/sqltest/tests/wh/credential_dimension/three_credentials_one_change.sql
  internal/db/sqltest/tests/wh/credential_dimension_views/source.sql
  internal/db/sqltest/tests/wh/credential_dimension_views/target.sql
  internal/db/sqltest/tests/wh/session_credential_dynamic/insert.sql
  internal/db/sqltest/tests/wh/session_credential_dynamic/insert_multiple.sql
  internal/session/query.go
  internal/session/repository_session.go
Labels: core/db, core/session, core, core/sql

#1531 feat(worker): add egress credentials option to proxy
  internal/servers/worker/common/common.go
  internal/servers/worker/proxy/options.go
  internal/servers/worker/proxy/options_test.go
  internal/servers/worker/proxy/tcp/tcp.go
Labels: core, core/servers

#1536 refact(worker): update worker porxy handler signature to return an error
  internal/servers/worker/handler.go
  internal/servers/worker/proxy/proxy.go
  internal/servers/worker/proxy/proxy_test.go
  internal/servers/worker/proxy/tcp/tcp.go
  internal/servers/worker/proxy/tcp/tcp_test.go
Labels: core, core/servers

#1534 chore(authenticate): remove deprecated authenticate:login and credentials field
  CHANGELOG.md
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/gen/testing/event/event_grpc.pb.go
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/proto/local/testing/event/v1/event.proto
  internal/servers/controller/handler_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/authmethods/password_test.go
  internal/servers/controller/handlers/outgoing_interceptor.go
  internal/tests/api/authmethods/authenticate_test.go
Labels: core/gen, core, core/proto, core/servers

#1547 fix (credential/vault): Correct typo in error msg
  internal/credential/vault/vault.go
  internal/credential/vault/vault_test.go
Labels: core

#1529 Add preferred endpoints logic to API/handler/DB and some CLI bits
  api/hostsets/host_set.gen.go
  api/hostsets/option.gen.go
  globals/fields.go
  internal/cmd/commands.go
  internal/cmd/commands/hostsetscmd/funcs.go
  internal/cmd/commands/hostsetscmd/plugin_funcs.go
  internal/cmd/commands/hostsetscmd/plugin_hostsets.gen.go
  internal/cmd/gencli/input.go
  internal/db/schema/migrations/postgres/17/05_preferred_endpoints.up.sql
  internal/db/schema/migrations/postgres/17/preferred_endpoints_test.go
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller.swagger.json
  internal/host/options.go
  internal/host/options_test.go
  internal/host/plugin/host_catalog_secret.go
  internal/host/plugin/host_catalog_secret_test.go
  internal/host/plugin/host_catalog_test.go
  internal/host/plugin/host_set.go
  internal/host/plugin/host_set_test.go
  internal/host/plugin/immutable_fields_test.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/repository.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/repository_test.go
  internal/host/plugin/store/host.pb.go
  internal/host/plugin/testing.go
  internal/host/plugin/testing_test.go
  internal/host/preferred_endpoint.go
  internal/host/preferred_endpoint_test.go
  internal/host/store/host.pb.go
  internal/libs/endpoint/preferencer.go
  internal/proto/local/controller/api/resources/hostsets/v1/host_set.proto
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/proto/local/controller/storage/host/store/v1/host.proto
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  sdk/pbs/controller/api/resources/hostsets/host_set.pb.go
Labels: api, core/db, core/gen, api/hostsets, core, core/proto, core/servers, core/host, core/lib, core/sql

#1550 tests(scheduler): fix unit test deadlock
  internal/scheduler/additional_verification_test.go
Labels: core

#1549 fix (service): corrects permission bug in hostset service
  CHANGELOG.md
  internal/servers/controller/handlers/host_sets/host_set_service.go
Labels: core, core/servers

#1557 Update host plugin RPC to return sets from ListHosts
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/proto/local/plugin/v1/host_plugin_service.proto
  sdk/pbs/plugin/host_plugin_service.pb.go
Labels: core, core/proto, core/host

#1555 Add basic loopback test plugin
  internal/host/plugin/loopback.go
  internal/host/plugin/loopback_test.go
  internal/host/plugin/testing.go
Labels: core, core/host

#1560 feat(cmd): Include version metadata in output
  internal/cmd/commands/version/version.go
Labels: core

#1556 Docs: redirect Desktop install links to Learn
  website/content/docs/getting-started/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: docs/getting-started, website, website/cherrypick

#1563 Remove Prefix Id and Plugin Name fields
  api/hostcatalogs/host_catalog.gen.go
  api/hosts/host.gen.go
  api/hostsets/host_set.gen.go
  api/plugins/plugin_info.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/db/schema/migrations/postgres/17/02_hostplugin.up.sql
  internal/db/schema/migrations/postgres/17/05_preferred_endpoints.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/gen/controller/api/services/host_catalog_service.pb.gw.go
  internal/host/plugin/host_catalog_secret_test.go
  internal/host/plugin/host_catalog_test.go
  internal/host/plugin/host_set_test.go
  internal/host/plugin/ids.go
  internal/host/plugin/immutable_fields_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/testing.go
  internal/host/plugin/testing_test.go
  internal/host/preferred_endpoint_test.go
  internal/perms/output_fields.go
  internal/perms/output_fields_test.go
  internal/plugin/host/ids.go
  internal/plugin/host/immutable_fields_test.go
  internal/plugin/host/plugin.go
  internal/plugin/host/plugin_test.go
  internal/plugin/host/repository_plugin.go
  internal/plugin/host/repository_plugin_test.go
  internal/plugin/host/store/plugin.pb.go
  internal/plugin/host/testing.go
  internal/plugin/host/testing_test.go
  internal/proto/local/controller/api/resources/hostcatalogs/v1/host_catalog.proto
  internal/proto/local/controller/api/resources/hosts/v1/host.proto
  internal/proto/local/controller/api/resources/hostsets/v1/host_set.proto
  internal/proto/local/controller/api/resources/plugins/v1/plugin.proto
  internal/proto/local/controller/api/services/v1/host_catalog_service.proto
  internal/proto/local/controller/storage/plugin/host/store/v1/plugin.proto
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/options.go
  internal/servers/controller/handlers/targets/target_service_test.go
  sdk/pbs/controller/api/resources/hostcatalogs/host_catalog.pb.go
  sdk/pbs/controller/api/resources/hosts/host.pb.go
  sdk/pbs/controller/api/resources/hostsets/host_set.pb.go
  sdk/pbs/controller/api/resources/plugins/plugin.pb.go
Labels: api, core/db, core/gen, api/hostsets, core, core/proto, core/servers, core/perms, core/host, api/hostcatalogs, api/hosts, core/sql

#1559 Add authorize session for plugin based host sets.
  internal/db/schema/migrations/postgres/17/04_plugin_host.up.sql
  internal/db/schema/migrations/postgres/17/06_wh_session_dimensions.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/host/endpoint.go
  internal/host/host.go
  internal/host/plugin/host.go
  internal/host/plugin/host_test.go
  internal/host/plugin/ids.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/store/host.pb.go
  internal/host/static/repository_host_set.go
  internal/host/subtype.go
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
Labels: core/db, core, core/proto, core/servers, core/host, core/sql

#1562 Add attribute flag building and parsing
  api/hostsets/option.gen.go
  internal/cmd/base/base.go
  internal/cmd/base/flags.go
  internal/cmd/commands.go
  internal/cmd/commands/hostcatalogscmd/plugin_funcs.go
  internal/cmd/commands/hostcatalogscmd/plugin_hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_funcs.go
  internal/cmd/common/flags.go
  internal/cmd/common/flags_test.go
  internal/cmd/gencli/input.go
  internal/cmd/gencli/templates.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/proto/local/controller/api/resources/hostsets/v1/host_set.proto
  internal/servers/controller/handlers/targets/target_service_test.go
  sdk/pbs/controller/api/resources/hostsets/host_set.pb.go
Labels: api, api/hostsets, core, core/proto, core/servers, core/host

#1565 chore: bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#1566 Update alert banner for HashiConf Global 2021
  website/data/alert-banner.js
Labels: website, website/cherrypick

#1567 Add more host-catalog and host-set CLI support
  api/hostcatalogs/option.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/cmd/base/base.go
  internal/cmd/base/dev.go
  internal/cmd/base/format.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/option.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/hostcatalogscmd/funcs.go
  internal/cmd/commands/hostcatalogscmd/plugin_hostcatalogs.gen.go
  internal/cmd/commands/hostsetscmd/funcs.go
  internal/cmd/commands/hostsetscmd/plugin_hostsets.gen.go
  internal/cmd/common/flags.go
  internal/cmd/common/flags_test.go
  internal/cmd/gencli/input.go
  internal/cmd/gencli/templates.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/host/plugin/host_catalog.go
  internal/host/plugin/repository.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/plugin/host/options.go
  internal/plugin/host/options_test.go
  internal/plugin/host/plugin.go
  internal/plugin/host/plugin_test.go
  internal/plugin/host/repository.go
  internal/plugin/host/repository_plugin.go
  internal/proto/local/controller/api/resources/hostcatalogs/v1/host_catalog.proto
  internal/proto/local/controller/api/services/v1/host_catalog_service.proto
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  sdk/pbs/controller/api/resources/hostcatalogs/host_catalog.pb.go
Labels: api, core/gen, core, core/proto, core/servers, core/host, api/hostcatalogs

#1568 Add host IDs to plugin host sets read response
  internal/host/options.go
  internal/host/plugin/loopback.go
  internal/host/plugin/loopback_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
Labels: core, core/servers, core/host

#1570 Register Azure and AWS at controller start up
  go.mod
  go.sum
  internal/cmd/base/dev.go
  internal/cmd/base/initial_resources.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/testing.go
Labels: core, core/servers, core/host

#1569 Events: Add outbound detail protobufs, request status code, and update event encrypt filter.
  Makefile
  go.mod
  go.sum
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service_taggable.go
  internal/gen/controller/api/services/auth_method_service_taggable_test.go
  internal/observability/event/context_test.go
  internal/observability/event/event_audit.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/api/resources/scopes/v1/scope.proto
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/servers/common/handler.go
  internal/servers/common/handler_test.go
  internal/servers/controller/handlers/outgoing_interceptor.go
  sdk/go.mod
  sdk/go.sum
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
  sdk/pbs/controller/api/resources/authmethods/auth_method_taggable.go
  sdk/pbs/controller/api/resources/authmethods/auth_method_taggable_test.go
  sdk/pbs/controller/api/resources/scopes/scope.pb.go
  sdk/pbs/controller/api/resources/scopes/scope_taggable.go
  sdk/pbs/controller/api/resources/scopes/scope_taggable_test.go
  sdk/wrapper/testing.go
Labels: core/gen, core, core/proto, core/servers

#1558 [Assembly] homepage refresh
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/branded-cta/index.jsx
  website/components/homepage-hero/HomepageHero.module.css
  website/components/how-boundary-works/index.jsx
  website/components/how-boundary-works/style.module.css
  website/components/how-it-works/feature/feature.module.css
  website/components/how-it-works/feature/index.jsx
  website/components/how-it-works/feature/logo-list/index.jsx
  website/components/how-it-works/how-boundary-works-diagram/how-boundary-works-diagram.module.css
  website/components/how-it-works/how-boundary-works-diagram/index.jsx
  website/components/how-it-works/how-it-works.module.css
  website/components/how-it-works/index.jsx
  website/components/why-boundary/index.jsx
  website/components/why-boundary/style.module.css
  website/pages/_document.js
  website/pages/home/img/how-boundary-works.svg
  website/pages/home/img/icons/activity.svg
  website/pages/home/img/icons/code-white.svg
  website/pages/home/img/icons/config-as-code.svg
  website/pages/home/img/icons/identity-based-access.svg
  website/pages/home/img/icons/layers-white.svg
  website/pages/home/img/icons/layers.svg
  website/pages/home/img/icons/lock.svg
  website/pages/home/img/icons/managing-dynamic-environments.svg
  website/pages/home/img/icons/platform-agnosticity.svg
  website/pages/home/img/icons/refresh-white.svg
  website/pages/home/img/icons/session-management.svg
  website/pages/home/img/icons/session-visibility.svg
  website/pages/home/img/icons/star.svg
  website/pages/home/img/icons/terminal.svg
  website/pages/home/img/icons/user.svg
  website/pages/home/img/logos/custom.svg
  website/pages/home/img/logos/github-black.svg
  website/pages/home/img/logos/mongo-db.svg
  website/pages/home/img/logos/my-sql-color.svg
  website/pages/home/img/logos/postgresql.png
  website/pages/home/img/logos/ssh.svg
  website/pages/home/img/logos/unknown.svg
  website/pages/home/img/red-usecase-accessprivileges.png
  website/pages/home/img/red-usecase-compliancewithoutoverhead.png
  website/pages/home/img/red-usecase-integratedsystem.png
  website/pages/home/img/red-usecase-sessionvisibility.png
  website/pages/home/index.jsx
  website/pages/home/style.css
  website/public/img/cta-bg.svg
  website/public/img/hero-pattern.svg
Labels: website, website/cherrypick
