Repository hashicorp/boundary, pull requests merged in 2021-06, with the labels that each got.

#1254 Managed Groups OIDC Repo
  internal/auth/additional_verification_test.go
  internal/auth/oidc/ids.go
  internal/auth/oidc/managed_group.go
  internal/auth/oidc/managed_group_test.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_managed_group.go
  internal/auth/oidc/repository_managed_group_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/auth/subtype.go
  internal/cmd/base/dev.go
  internal/cmd/base/option.go
  internal/cmd/commands/server/server_test.go
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/testing.go
  internal/tests/cluster/unix_listener_test.go
Labels: core, core/auth, core/proto, core/servers

#1259 Add membership setting function
  internal/auth/oidc/managed_group.go
  internal/auth/oidc/managed_group_member_account.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/query.go
  internal/auth/oidc/repository_managed_group_members.go
  internal/auth/oidc/repository_managed_group_members_test.go
  internal/auth/oidc/repository_managed_group_test.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/store/oidc.pb.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
Labels: core, core/auth, core/proto, core/sql

#1255 Vault integration: assign credentials
  internal/credential/credential.go
  internal/credential/vault/credential.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/testing_external_test.go
  internal/credential/vault/testing_test.go
  internal/db/schema/migrations/postgres/10/02_credential.down.sql
  internal/db/schema/migrations/postgres/10/02_credential.up.sql
  internal/db/schema/migrations/postgres/10/04_target.down.sql
  internal/db/schema/migrations/postgres/10/04_target.up.sql
  internal/db/schema/migrations/postgres/10/05_session.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/session/dynamic_credential.go
  internal/session/dynamic_credential_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session.go
  internal/session/session_test.go
  internal/session/testing.go
  internal/target/credential_library.go
  internal/target/credential_library_test.go
Labels: core, core/db, core/servers, core/session, core/sql, core/target

#1263 use a slice for claim maps so the order is deterministic
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
Labels: core, core/auth, core/servers

#1260 Fix typo in docs/installing/no-gen-resources
  website/content/docs/installing/no-gen-resources.mdx
Labels: docs/installing, website

#1266 Fix field error message field name for idp_ca_certs
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
Labels: core, core/servers

#1251 Parse client credentials into pem blocks in store handler
  internal/credential/vault/client_certificate.go
  internal/credential/vault/client_certificate_test.go
  internal/credential/vault/repository_credential_store.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/servers/controller/handlers/credentialstores/vault.go
  internal/servers/controller/handlers/credentialstores/vault_test.go
Labels: core, core/servers

#1262 Managed Groups service
  api/accounts/account.gen.go
  globals/fields.go
  internal/auth/oidc/store/oidc.pb.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/gen/controller/api/resources/managedgroups/managed_group.pb.go
  internal/gen/controller/api/services/managed_group_service.pb.go
  internal/gen/controller/api/services/managed_group_service.pb.gw.go
  internal/gen/controller/api/services/managed_group_service_grpc.pb.go
  internal/proto/local/controller/api/resources/accounts/v1/account.proto
  internal/proto/local/controller/api/resources/managedgroups/v1/managed_group.proto
  internal/proto/local/controller/api/services/v1/managed_group_service.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/accounts/validate_test.go
  internal/servers/controller/handlers/managed_groups/managed_group_service.go
  internal/servers/controller/handlers/managed_groups/managed_group_service_test.go
  internal/servers/controller/handlers/managed_groups/validate_test.go
  internal/servers/controller/handlers/option_test.go
  internal/servers/controller/handlers/options.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
  internal/website/permstable/permstable.go
  website/content/docs/concepts/security/permissions.mdx
Labels: api, core, core/auth, core/gen, core/proto, core/servers, core/types, docs/concepts, website

#1267 protobuf: remove unused imports
  internal/auth/oidc/request/request.pb.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/store/account.pb.go
  internal/auth/store/auth_method.pb.go
  internal/gen/controller/api/resources/authtokens/authtoken.pb.go
  internal/gen/controller/api/resources/hostsets/host_set.pb.go
  internal/gen/controller/api/resources/sessions/session.pb.go
  internal/gen/controller/api/services/account_service.pb.go
  internal/gen/controller/api/services/group_service.pb.go
  internal/gen/controller/api/services/role_service.pb.go
  internal/gen/controller/api/services/session_service.pb.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/host/store/host.pb.go
  internal/iam/store/group.pb.go
  internal/iam/store/group_member.pb.go
  internal/iam/store/principal_role.pb.go
  internal/iam/store/role.pb.go
  internal/iam/store/role_grant.pb.go
  internal/kms/store/database_key.pb.go
  internal/kms/store/oidc_key.pb.go
  internal/kms/store/oplog_key.pb.go
  internal/kms/store/root_key.pb.go
  internal/kms/store/session_key.pb.go
  internal/kms/store/token_key.pb.go
  internal/proto/local/controller/api/resources/authtokens/v1/authtoken.proto
  internal/proto/local/controller/api/resources/hostsets/v1/host_set.proto
  internal/proto/local/controller/api/resources/sessions/v1/session.proto
  internal/proto/local/controller/api/services/v1/account_service.proto
  internal/proto/local/controller/api/services/v1/group_service.proto
  internal/proto/local/controller/api/services/v1/role_service.proto
  internal/proto/local/controller/api/services/v1/session_service.proto
  internal/proto/local/controller/servers/services/v1/server_coordination_service.proto
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/proto/local/controller/storage/auth/oidc/request/v1/request.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/proto/local/controller/storage/auth/store/v1/account.proto
  internal/proto/local/controller/storage/auth/store/v1/auth_method.proto
  internal/proto/local/controller/storage/host/store/v1/host.proto
  internal/proto/local/controller/storage/iam/store/v1/group.proto
  internal/proto/local/controller/storage/iam/store/v1/group_member.proto
  internal/proto/local/controller/storage/iam/store/v1/principal_role.proto
  internal/proto/local/controller/storage/iam/store/v1/role.proto
  internal/proto/local/controller/storage/iam/store/v1/role_grant.proto
  internal/proto/local/controller/storage/job/store/v1/job.proto
  internal/proto/local/controller/storage/kms/store/v1/database_key.proto
  internal/proto/local/controller/storage/kms/store/v1/oidc_key.proto
  internal/proto/local/controller/storage/kms/store/v1/oplog_key.proto
  internal/proto/local/controller/storage/kms/store/v1/root_key.proto
  internal/proto/local/controller/storage/kms/store/v1/session_key.proto
  internal/proto/local/controller/storage/kms/store/v1/token_key.proto
  internal/scheduler/job/store/job.pb.go
Labels: core, core/auth, core/gen, core/host, core/iam, core/kms, core/proto

#1272 Vault integration: Refactor: rename database views and associated structs
  internal/credential/vault/repository_credential_store.go
  internal/db/schema/migrations/postgres/10/03_vault_credential.down.sql
  internal/db/schema/migrations/postgres/10/03_vault_credential.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db, core/sql

#1274 Add status field to Vault credentials and create private view
  internal/credential/vault/credential.go
  internal/credential/vault/credential_test.go
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/vault_token.go
  internal/credential/vault/vault_token_test.go
  internal/db/schema/migrations/postgres/10/03_vault_credential.down.sql
  internal/db/schema/migrations/postgres/10/03_vault_credential.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/db, core/proto, core/sql

#1271 Add predictable account IDs in dev mode
  internal/auth/oidc/repository_account.go
  internal/auth/password/repository_account.go
  internal/cmd/base/dev.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/servers/controller/testing.go
Labels: core, core/auth, core/servers

#1270 Add managed group support to role principals
  globals/doc.go
  globals/fields.go
  globals/globals.go
  internal/auth/oidc/ids.go
  internal/auth/oidc/managed_group_test.go
  internal/auth/oidc/repository_managed_group_members_test.go
  internal/auth/oidc/repository_managed_group_test.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/testing.go
  internal/auth/subtype.go
  internal/db/schema/migrations/postgres/0/06_iam.up.sql
  internal/db/schema/migrations/postgres/9/04_oidc_managed_group_principal_role.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/iam/ids_test.go
  internal/iam/principal_role.go
  internal/iam/principal_role_ext_test.go
  internal/iam/principal_role_test.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_ext_test.go
  internal/iam/repository_principal_role_test.go
  internal/iam/store/principal_role.pb.go
  internal/iam/testing.go
  internal/intglobals/prefixes.go
  internal/proto/local/controller/storage/iam/store/v1/principal_role.proto
  internal/servers/controller/handlers/managed_groups/managed_group_service.go
  internal/servers/controller/handlers/managed_groups/managed_group_service_test.go
  internal/servers/controller/handlers/managed_groups/validate_test.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/roles/role_service_test.go
Labels: core, core/auth, core/db, core/iam, core/proto, core/servers, core/sql

#1273 Adding SAD target operations for credential libraries to the SDK.
  api/targets/target.gen.go
  internal/api/genapi/input.go
  internal/tests/api/targets/target_test.go
  internal/types/action/action.go
Labels: api, api/targets, core, core/types

#1279 Add revokeToken, lookupLease and renewLease methods to boundary vault client
  api/targets/target.gen.go
  internal/api/genapi/input.go
  internal/tests/api/targets/target_test.go
  internal/types/action/action.go
Labels: core

#1256 rotate algolia api key
  website/.env
Labels: website/cherrypick

#1282 stop panicing because the issuer port is invalid.
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: core, core/servers

#1277 add support for writing events via the context
  internal/observability/events/context.go
  internal/observability/events/context_test.go
  internal/observability/events/event_audit.go
  internal/observability/events/event_audit_test.go
  internal/observability/events/event_error.go
  internal/observability/events/event_error_test.go
  internal/observability/events/event_observation.go
  internal/observability/events/event_observation_test.go
  internal/observability/events/eventer.go
  internal/observability/events/eventer_test.go
Labels: core

#1276 add support for Eventer along with all of its dependencies
  internal/observability/events/context.go
  internal/observability/events/context_test.go
  internal/observability/events/event_audit.go
  internal/observability/events/event_audit_test.go
  internal/observability/events/event_delivery_guarantee.go
  internal/observability/events/event_delivery_guarantee_test.go
  internal/observability/events/event_error.go
  internal/observability/events/event_error_test.go
  internal/observability/events/event_observation.go
  internal/observability/events/event_observation_test.go
  internal/observability/events/event_type.go
  internal/observability/events/eventer.go
  internal/observability/events/eventer_config.go
  internal/observability/events/eventer_config_test.go
  internal/observability/events/eventer_retry.go
  internal/observability/events/eventer_retry_test.go
  internal/observability/events/eventer_test.go
  internal/observability/events/options.go
  internal/observability/events/sink_config.go
  internal/observability/events/sink_config_test.go
  internal/observability/events/sink_format.go
  internal/observability/events/sink_type.go
  internal/observability/events/testing.go
Labels: core

#1275 base types for events package
  go.mod
  go.sum
  internal/observability/events/context.go
  internal/observability/events/context_test.go
  internal/observability/events/event.go
  internal/observability/events/event_audit.go
  internal/observability/events/event_audit_test.go
  internal/observability/events/event_delivery_guarantee.go
  internal/observability/events/event_delivery_guarantee_test.go
  internal/observability/events/event_error.go
  internal/observability/events/event_error_test.go
  internal/observability/events/event_observation.go
  internal/observability/events/event_observation_test.go
  internal/observability/events/event_type.go
  internal/observability/events/eventer.go
  internal/observability/events/eventer_config.go
  internal/observability/events/eventer_config_test.go
  internal/observability/events/eventer_retry.go
  internal/observability/events/eventer_retry_test.go
  internal/observability/events/eventer_test.go
  internal/observability/events/id.go
  internal/observability/events/id_test.go
  internal/observability/events/options.go
  internal/observability/events/options_test.go
  internal/observability/events/sink_config.go
  internal/observability/events/sink_config_test.go
  internal/observability/events/sink_format.go
  internal/observability/events/sink_type.go
  internal/observability/events/testing.go
Labels: core

#1281 Fix comment in template for CLI
  internal/cmd/commands/accountscmd/accounts.gen.go
  internal/cmd/commands/accountscmd/oidc_accounts.gen.go
  internal/cmd/commands/accountscmd/password_accounts.gen.go
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/oidc_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/groupscmd/groups.gen.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostscmd/hosts.gen.go
  internal/cmd/commands/hostscmd/static_hosts.gen.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/rolescmd/roles.gen.go
  internal/cmd/commands/scopescmd/scopes.gen.go
  internal/cmd/commands/sessionscmd/sessions.gen.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/commands/userscmd/users.gen.go
  internal/cmd/gencli/templates.go
Labels: core

#1284 align directory name with pkg name
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/event.go
  internal/observability/event/event_audit.go
  internal/observability/event/event_audit_test.go
  internal/observability/event/event_delivery_guarantee.go
  internal/observability/event/event_delivery_guarantee_test.go
  internal/observability/event/event_error.go
  internal/observability/event/event_error_test.go
  internal/observability/event/event_observation.go
  internal/observability/event/event_observation_test.go
  internal/observability/event/event_type.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_config.go
  internal/observability/event/eventer_config_test.go
  internal/observability/event/eventer_retry.go
  internal/observability/event/eventer_retry_test.go
  internal/observability/event/eventer_test.go
  internal/observability/event/id.go
  internal/observability/event/id_test.go
  internal/observability/event/options.go
  internal/observability/event/options_test.go
  internal/observability/event/sink_config.go
  internal/observability/event/sink_config_test.go
  internal/observability/event/sink_format.go
  internal/observability/event/sink_type.go
  internal/observability/event/testing.go
Labels: core

#1287 Add test for GrantsForUser
  internal/auth/auth.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/perms/grants.go
Labels: core, core/auth, core/iam, core/perms

#1285 Vault integration: revoke lease
  internal/credential/vault/docker.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_capabilities.go
  internal/credential/vault/vault_capabilities_test.go
  internal/credential/vault/vault_test.go
  internal/errors/code.go
  internal/errors/info.go
  internal/errors/kind.go
  internal/errors/kind_test.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/tests/api/credentiallibraries/credentiallibrary_test.go
  internal/tests/api/credentialstores/credentialstore_test.go
  internal/tests/api/targets/target_test.go
Labels: core, core/servers

#1293 Vault integration: add revoke method to vault repository
  internal/credential/credential.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_external_test.go
Labels: core, core/sql

#1289 Update GrantsForUser to handle managed groups
  internal/auth/oidc/testing.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
Labels: core, core/auth, core/iam

#1264 chore: updates alert-banner — hashiconf
  website/data/alert-banner.js
Labels: website, website/cherrypick

#1290 Update password generated account IDs
  CHANGELOG.md
  internal/auth/password/public_ids.go
  internal/auth/password/public_ids_test.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_account_test.go
  internal/auth/subtype.go
  internal/auth/subtype_test.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/accountscmd/password_funcs.go
  internal/cmd/commands/dev/dev.go
  internal/intglobals/prefixes.go
  internal/perms/acl_test.go
  internal/perms/grants_test.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/accounts/validate_test.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/testing.go
  internal/tests/api/accounts/account_test.go
  website/content/docs/common-workflows/manage-users-groups.mdx
Labels: core, core/auth, core/perms, core/servers, docs/workflows, website

#1280 chore: bump UI version to include OIDC CRUD
  internal/ui/VERSION
Labels: core, core/ui

#1292 Update desktop guide for Windows
  website/content/docs/api-clients/desktop.mdx
  website/public/img/desktop/macos/boundary-desktop-active.png
  website/public/img/desktop/macos/boundary-desktop-connect.png
  website/public/img/desktop/macos/boundary-desktop-drag-to-install.png
  website/public/img/desktop/macos/boundary-desktop-landing.png
  website/public/img/desktop/macos/boundary-desktop-login.png
  website/public/img/desktop/macos/boundary-desktop-open.png
  website/public/img/desktop/macos/boundary-desktop-origin.png
  website/public/img/desktop/macos/boundary-desktop-pending.png
  website/public/img/desktop/macos/boundary-desktop-terminated.png
  website/public/img/desktop/windows/boundary-desktop-active.png
  website/public/img/desktop/windows/boundary-desktop-connect.png
  website/public/img/desktop/windows/boundary-desktop-landing.png
  website/public/img/desktop/windows/boundary-desktop-login.png
  website/public/img/desktop/windows/boundary-desktop-open.png
  website/public/img/desktop/windows/boundary-desktop-origin.png
  website/public/img/desktop/windows/boundary-desktop-pending.png
  website/public/img/desktop/windows/boundary-desktop-terminated.png
Labels: website

#1295 Bump website @apidevtools/json-schema-ref-parser dependency version
  website/package-lock.json
  website/package.json
Labels: website

#1297 Add resource/filtering docs for OIDC managed groups
  website/content/docs/concepts/domain-model/accounts.mdx
  website/content/docs/concepts/domain-model/auth-methods.mdx
  website/content/docs/concepts/domain-model/index.mdx
  website/content/docs/concepts/domain-model/managed-groups.mdx
  website/content/docs/concepts/domain-model/roles.mdx
  website/content/docs/concepts/filtering/oidc-managed-groups.mdx
  website/data/docs-nav-data.json
Labels: docs/concepts, website

#1299 website: update alert banner
  website/data/alert-banner.js
Labels: website, website/cherrypick

#1302 Support multiple Desktop OS
  website/components/merch-desktop-client/img/apple-logo.svg
  website/components/merch-desktop-client/img/darwin.svg
  website/components/merch-desktop-client/img/freebsd.svg
  website/components/merch-desktop-client/img/linux.svg
  website/components/merch-desktop-client/img/openbsd.svg
  website/components/merch-desktop-client/img/solaris.svg
  website/components/merch-desktop-client/img/windows.svg
  website/components/merch-desktop-client/index.jsx
  website/components/merch-desktop-client/merch-desktop-client.module.css
Labels: website, website/cherrypick

#1312 Refactor: move migrations from 10 to 12
  internal/db/schema/migrations/postgres/12/01_sentinels.down.sql
  internal/db/schema/migrations/postgres/12/01_sentinels.up.sql
  internal/db/schema/migrations/postgres/12/02_credential.down.sql
  internal/db/schema/migrations/postgres/12/02_credential.up.sql
  internal/db/schema/migrations/postgres/12/03_vault_credential.down.sql
  internal/db/schema/migrations/postgres/12/03_vault_credential.up.sql
  internal/db/schema/migrations/postgres/12/04_target.down.sql
  internal/db/schema/migrations/postgres/12/04_target.up.sql
  internal/db/schema/migrations/postgres/12/05_session.down.sql
  internal/db/schema/migrations/postgres/12/05_session.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db, core/sql

#1300 Allow updating Client Cert w/o the private key
  internal/credential/vault/credential_store.go
  internal/credential/vault/fields.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/testing.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/target/repository_credential_library_test.go
  internal/target/repository_tcp_target_test.go
Labels: core, core/servers, core/target

#1296 Bump @types/node to latest release of v15
  website/content/docs/concepts/security/permissions.mdx
  website/content/docs/getting-started/connect-to-target.mdx
  website/package-lock.json
  website/package.json
Labels: docs/concepts, docs/getting-started, website

#1311 Scheduler updates
  internal/db/timestamp/timestamp.go
  internal/scheduler/additional_verification_test.go
  internal/scheduler/job.go
  internal/scheduler/job/additional_verification_test.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository_job.go
  internal/scheduler/job/repository_job_test.go
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/job/testing_test.go
  internal/scheduler/options.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/testing.go
  internal/servers/controller/controller.go
Labels: core, core/db, core/servers, core/sql

#1318 account_claim_maps are ordered for tests
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
Labels: core, core/servers

#1322 Update website pointer to desktop client to version 1.1.0
  website/data/version.js
Labels: website, website/cherrypick

#1306 Create Cred Library CLI
  api/credentiallibraries/option.gen.go
  api/credentiallibraries/vault_credential_library_attributes.gen.go
  go.mod
  go.sum
  internal/cmd/base/base.go
  internal/cmd/commands.go
  internal/cmd/commands/credentiallibrariescmd/credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/funcs.go
  internal/cmd/commands/credentiallibrariescmd/vault_credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault_funcs.go
  internal/cmd/commands/credentialstorescmd/vault_funcs.go
  internal/cmd/common/flags.go
  internal/cmd/gencli/input.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/gen/controller/api/resources/credentiallibraries/credential_library.pb.go
  internal/proto/local/controller/api/resources/credentiallibraries/v1/credential_library.proto
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/tests/api/credentiallibraries/credentiallibrary_test.go
  internal/tests/api/targets/target_test.go
Labels: api, core, core/gen, core/proto, core/servers

#1313 Migrate ParseAddress to shared-secure-libs
  internal/cmd/base/servers.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
Labels: core

#1310 Scheduler run jobs failure
  CHANGELOG.md
  internal/db/schema/migrations/postgres/10/01_job_migrations.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/scheduler/scheduler.go
Labels: core, core/db, core/sql

#1315 Add gostringer to client_secret
  internal/auth/oidc/client_secret.go
  internal/auth/oidc/client_secret_test.go
Labels: core, core/auth

#1328 Vault integration: soft delete stores
  internal/credential/vault/credential_store.go
  internal/credential/vault/private_store.go
  internal/credential/vault/private_store_test.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/credential/vault/vault_token.go
  internal/db/schema/migrations/postgres/12/02_credential.up.sql
  internal/db/schema/migrations/postgres/12/03_vault_credential.down.sql
  internal/db/schema/migrations/postgres/12/03_vault_credential.up.sql
  internal/db/schema/migrations/postgres/12/05_session.down.sql
  internal/db/schema/migrations/postgres/12/05_session.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
Labels: core, core/db, core/proto, core/servers, core/sql

#1323 fixed roles and accounts link references
  website/content/docs/concepts/domain-model/managed-groups.mdx
Labels: docs/concepts, website

#1332 Add ability to set the token period in the vault test harness
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
Labels: core

#1331 Vault job credential and credential store cleanup
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/query.go
  internal/credential/vault/store/vault.pb.go
  internal/db/domains_test.go
  internal/db/read_writer.go
  internal/db/schema/migrations/postgres/12/03_vault_credential.down.sql
  internal/db/schema/migrations/postgres/12/03_vault_credential.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
  internal/scheduler/scheduler_test.go
Labels: core, core/db, core/proto, core/sql

#1333 Allow where without args in searchWhere
  internal/db/read_writer.go
  internal/db/read_writer_test.go
Labels: core, core/db

#1326 Add Credentials to Sessions and Return them in AuthorizedSession calls
  api/targets/credential_library.gen.go
  api/targets/session_authorization.gen.go
  api/targets/session_credential.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/parse.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/credentialstores/credential_store.pb.go
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/proto/local/controller/api/resources/credentialstores/v1/credential_store.proto
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/target/credential_library.go
Labels: api, api/targets, core, core/gen, core/proto, core/servers, core/target

#1337 Vault integration: move migrations in preparation for release
  internal/db/schema/migrations/postgres/10/02_sentinels.up.sql
  internal/db/schema/migrations/postgres/10/03_credential.up.sql
  internal/db/schema/migrations/postgres/10/04_vault_credential.up.sql
  internal/db/schema/migrations/postgres/10/05_target.up.sql
  internal/db/schema/migrations/postgres/10/06_session.up.sql
  internal/db/schema/migrations/postgres/12/01_sentinels.down.sql
  internal/db/schema/migrations/postgres/12/02_credential.down.sql
  internal/db/schema/migrations/postgres/12/03_vault_credential.down.sql
  internal/db/schema/migrations/postgres/12/04_target.down.sql
  internal/db/schema/migrations/postgres/12/05_session.down.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db, core/sql

#1330 internal/servers/worker: Controller failure connection cleanup
  .circleci/config.yml
  go.mod
  go.sum
  internal/servers/controller/testing.go
  internal/servers/worker/handler.go
  internal/servers/worker/session.go
  internal/servers/worker/status.go
  internal/servers/worker/worker.go
  internal/tests/cluster/session_cleanup_test.go
Labels: core, core/servers

#1339 Change error packages for events
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/errors.go
  internal/observability/event/event_audit.go
  internal/observability/event/event_audit_test.go
  internal/observability/event/event_delivery_guarantee.go
  internal/observability/event/event_delivery_guarantee_test.go
  internal/observability/event/event_error.go
  internal/observability/event/event_error_test.go
  internal/observability/event/event_observation.go
  internal/observability/event/event_observation_test.go
  internal/observability/event/event_type.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_config.go
  internal/observability/event/eventer_config_test.go
  internal/observability/event/eventer_retry.go
  internal/observability/event/eventer_retry_test.go
  internal/observability/event/eventer_test.go
  internal/observability/event/id.go
  internal/observability/event/sink_config.go
  internal/observability/event/sink_config_test.go
  internal/observability/event/sink_format.go
  internal/observability/event/sink_type.go
Labels: core

#1335 website: upgrade code-block
  website/package-lock.json
  website/package.json
  website/pages/style.css
Labels: website, website/cherrypick

#1338 ASD cmds for Target and returning credentials to AuthSession request
  api/targets/session_credential.gen.go
  internal/cmd/commands.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/gencli/input.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
Labels: api, api/targets, core, core/gen, core/proto, core/servers

#1344 Update unique error
  internal/credential/vault/repository_credential_store.go
Labels: core

#1346 Remove importing internal/db into obs/event
  internal/observability/event/id.go
Labels: core

#1345 website: bump use-cases to latest
  website/package-lock.json
  website/package.json
Labels: website

#1348 Get failing test passing
  internal/servers/controller/handlers/targets/target_service_test.go
Labels: core, core/servers

#1343 Update target credential library service, API, SDK, CLI
  api/groups/group.gen.go
  api/hostsets/host_set.gen.go
  api/roles/role.gen.go
  api/targets/credential_library.gen.go
  api/targets/option.gen.go
  api/targets/session_credential.gen.go
  api/targets/target.gen.go
  api/users/user.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/cmd/base/format.go
  internal/cmd/base/option.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/funcs.go
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/tcp_funcs.go
  internal/credential/vault/setup_manual_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/api/services/target_service.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/proto/local/controller/api/services/v1/target_service.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/tests/api/targets/target_test.go
Labels: api, api/groups, api/hostsets, api/roles, api/targets, api/users, core, core/gen, core/proto, core/servers

#1356 Add documentation for credentials to website
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/domain-model/credentials.mdx
  website/content/docs/concepts/domain-model/index.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
  website/content/docs/concepts/domain-model/sessions.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/data/docs-nav-data.json
  website/public/data/vault/boundary-controller-policy.hcl
Labels: docs/concepts, website

#1353 Add sentinel and sanitize package
  internal/credential/vault/credential.go
  internal/credential/vault/credential_test.go
  internal/db/domains_test.go
  internal/db/sanitize/doc.go
  internal/db/sanitize/sanitize.go
  internal/db/sanitize/sanitize_test.go
  internal/db/schema/migrations/postgres/10/07_sentinels.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/db/sentinel/doc.go
  internal/db/sentinel/sentinel.go
  internal/db/sentinel/sentinel_test.go
Labels: core, core/db, core/sql

#1359 internal/credential/vault: fix dropped error
  internal/credential/vault/testing.go
Labels: core

#1352 website: upgrade react-head
  website/components/openapi-page/index.jsx
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/_document.js
  website/pages/downloads/index.jsx
Labels: website, website/cherrypick

#1361 chore: bump UI version
  internal/ui/VERSION
Labels: core, core/ui

#1357 [Merge to main] internal/servers/worker: Controller failure connection cleanup (#1330)
  CHANGELOG.md
  go.mod
  go.sum
  internal/servers/controller/testing.go
  internal/servers/worker/handler.go
  internal/servers/worker/session.go
  internal/servers/worker/session_test.go
  internal/servers/worker/status.go
  internal/servers/worker/worker.go
  internal/tests/cluster/session_cleanup_test.go
Labels: core, core/servers

#1363 Allow set-credential-library when a single library id is provided.
  internal/cmd/commands/targetscmd/funcs.go
Labels: core

#1364 Rework single-value set-credentials-library logic
  internal/cmd/commands/targetscmd/funcs.go
Labels: core

#1365 Bump admin ui version to latest
  internal/ui/VERSION
Labels: core, core/ui

#1368 Use database time for liveness calculation
  internal/servers/repository.go
Labels: core, core/servers

#1360 Add WriteSysEvent to the events package.
  internal/observability/event/common_keys_values.go
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/event_sys.go
  internal/observability/event/event_type.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_config.go
  internal/observability/event/eventer_test.go
  internal/observability/event/options.go
  internal/observability/event/testing.go
Labels: core

#1369 worker: ensure connections are closed in local state on controller fail
  internal/servers/worker/session.go
  internal/servers/worker/session_test.go
  internal/servers/worker/status.go
  internal/servers/worker/testing.go
  internal/servers/worker/testing_test.go
  internal/session/connection_state.go
  internal/tests/cluster/session_cleanup_test.go
Labels: core, core/servers, core/session

#1371 internal/servers/worker: actually return when aborting closeConnections
  internal/servers/worker/session.go
  internal/servers/worker/session_test.go
Labels: core, core/servers

#1372 Update format of secret to return both raw and decoded when possible
  api/targets/session_credential.gen.go
  api/targets/session_secret.gen.go
  internal/api/genapi/input.go
  internal/cmd/base/format.go
  internal/cmd/base/option.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/funcs.go
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/servers/worker/testing_test.go
Labels: api, api/targets, core, core/gen, core/proto, core/servers

#1370 Adding release notes for 0.3 and 0.4
  website/content/docs/releases/release-notes/v0_1_0.mdx
  website/content/docs/releases/release-notes/v0_2_0.mdx
  website/content/docs/releases/release-notes/v0_3_0.mdx
  website/content/docs/releases/release-notes/v0_4_0.mdx
  website/data/docs-nav-data.json
Labels: docs/releases, website, website/cherrypick
