Repository hashicorp/boundary, pull requests merged in 2021-12, with the labels that each got.

#1751 fix(sql): Remove warning from create_time trigger
  internal/db/schema/migrations/oss/postgres/0/01_domain_types.up.sql
  internal/db/schema/migrations/oss/postgres/21/01_default_time.up.sql
Labels: core/db, core, core/sql

#1714 api: Returns connections as part of sessions
  globals/fields.go
  internal/gen/controller.swagger.json
  internal/proto/local/controller/api/resources/sessions/v1/session.proto
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  sdk/pbs/controller/api/resources/sessions/session.pb.go
Labels: core/gen, core, core/proto, core/servers

#1753 ci: Run sdk and api tests in ci
  .circleci/config.yml
  .circleci/config/commands/install-go.yml
  .circleci/config/jobs/build.yml
  .circleci/config/jobs/test-api.yml
  .circleci/config/jobs/test-sdk.yml
  .circleci/config/workflows/ci.yml
  CONTRIBUTING.md
  Makefile
  api/Makefile
  sdk/Makefile
Labels: api

#1628 website: bump deps to fix print styles
  website/package-lock.json
  website/package.json
  website/pages/print.css
Labels: website, website/cherrypick

#1763 api(session): Add connection to api input
  api/sessions/connection.gen.go
  api/sessions/session.gen.go
  internal/api/genapi/input.go
Labels: api, api/sessions, core

#1767 Remove public_id and session id from Connection api
  api/sessions/connection.gen.go
  internal/gen/controller.swagger.json
  internal/proto/local/controller/api/resources/sessions/v1/session.proto
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  sdk/pbs/controller/api/resources/sessions/session.pb.go
Labels: api, core/gen, api/sessions, core, core/proto, core/servers

#1676 internal/host/plugin: remove custom queries for secrets
  internal/host/plugin/host_catalog_secret.go
  internal/host/plugin/host_catalog_secret_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#1762 website: Upgrade <HashiStackMenu /> to latest
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#1758 feat(config): Add env and file support to Worker Tags
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/configuration/worker.mdx
Labels: website, docs/concepts, docs/configuration, core

#1766 feat(config): Add env and file support to Controller description
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration, core

#1772 feat(config): Add env and file support to Plugins execution dir
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/configuration/plugins.mdx
Labels: website, docs/configuration, core

#1716 feat: updated backport assistant
  .github/workflows/backport.yml
Labels: backport/website

#1760 Add support for credential mapper overrides to the domain for update and lookup
  internal/credential/vault/fields.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/db/schema/migrations/oss/postgres/10/04_vault_credential.up.sql
  internal/db/schema/migrations/oss/postgres/22/05_vault_private_library.up.sql
Labels: core/db, core, core/sql

#1757 feat(credentials): add support for vault KV-v2
  internal/credential/vault/internal/userpassword/doc.go
  internal/credential/vault/internal/userpassword/userpassword.go
  internal/credential/vault/internal/userpassword/userpassword_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
Labels: core

#1765 feat(config): Add env and file support to Worker Controllers
  CHANGELOG.md
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/configuration/worker.mdx
Labels: website, docs/configuration, core

#1778 update alert banner content
  website/data/alert-banner.js
Labels: website/cherrypick, backport/website

#1776 feat(config): Add env and file support for database max connections
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration, core

#1777 Add support for update/lookup to credential library API/SDK/CLI
  internal/cmd/commands/credentiallibrariescmd/vault_funcs.go
  internal/credential/vault/fields.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/setup_manual_test.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
Labels: core, core/servers

#1749 feature (workers): Add the user's client IP to a session's connection information
  internal/db/schema/migrations/oss/postgres/21/02_session.up.sql
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/session_cleanup_job_test.go
  internal/servers/worker/handler.go
  internal/servers/worker/listeners.go
  internal/servers/worker/proxy/proxy.go
  internal/servers/worker/proxy/tcp/tcp.go
  internal/servers/worker/proxy/tcp/tcp_test.go
  internal/session/connection.go
  internal/session/connection_closed_with_test.go
  internal/session/connection_state_test.go
  internal/session/connection_test.go
  internal/session/immutable_fields_test.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session_connect_with.go
  internal/session/session_connect_with_test.go
  internal/session/testing.go
  internal/session/testing_test.go
Labels: core/db, core/gen, core/session, core, core/proto, core/servers, core/sql

#1678 feature: Add client ip to inbound request information
  CHANGELOG.md
  go.mod
  go.sum
  internal/db/schema/migrations/oss/postgres/21/02_session.up.sql
  internal/gen/controller/auth/auth.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/observability/event/event.go
  internal/proto/local/controller/auth/v1/auth.proto
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/servers/common/client_ip.go
  internal/servers/common/client_ip_test.go
  internal/servers/common/handler.go
  internal/servers/common/handler_test.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/interceptor.go
  internal/servers/controller/listeners.go
  internal/servers/controller/session_cleanup_job_test.go
  internal/servers/worker/handler.go
  internal/servers/worker/listeners.go
  internal/servers/worker/proxy/proxy.go
  internal/servers/worker/proxy/tcp/tcp.go
  internal/servers/worker/proxy/tcp/tcp_test.go
  internal/session/connection.go
  internal/session/connection_closed_with_test.go
  internal/session/connection_state_test.go
  internal/session/connection_test.go
  internal/session/immutable_fields_test.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session_connect_with.go
  internal/session/session_connect_with_test.go
  internal/session/testing.go
  internal/session/testing_test.go
Labels: core/db, core/gen, core/session, core, core/proto, core/servers, core/sql

#1781 feat(cli): Display credential type in library list
  internal/cmd/commands/credentiallibrariescmd/funcs.go
Labels: core

#1783 feat(config): Env/file support for Worker description
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/configuration/worker.mdx
Labels: website, docs/configuration, core

#1632 feat(website): versioned-docs
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/docs/[[...page]].jsx
Labels: website

#1782 Add tests for credential mapper overrides in the domain delete and list methods
  internal/credential/vault/repository_credential_library_test.go
Labels: core

#1794 bug(target): Add *-host-sources actions to target service
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/servers

#1795 Bump UI version
  internal/ui/VERSION
Labels: core/ui, core

#1798 bug(credential): Fix panic in credential Issue
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core

#1799 website: Disable alert banner
  website/data/alert-banner.js
Labels: website, backport/website

#1802 feat(server): Add grpc_middleware recovery interceptor
  internal/servers/controller/gateway.go
  internal/servers/controller/interceptor.go
Labels: core, core/servers

#1796 Credential Types and Mapping Overrides
  api/credentiallibraries/credential_library.gen.go
  api/credentiallibraries/option.gen.go
  globals/fields.go
  internal/cmd/commands/credentiallibrariescmd/funcs.go
  internal/cmd/commands/credentiallibrariescmd/vault_funcs.go
  internal/credential/credential.go
  internal/credential/store/credential.pb.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/fields.go
  internal/credential/vault/internal/userpassword/doc.go
  internal/credential/vault/internal/userpassword/userpassword.go
  internal/credential/vault/internal/userpassword/userpassword_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/setup_manual_test.go
  internal/credential/vault/store/vault.pb.go
  internal/db/schema/migrations/oss/postgres/10/04_vault_credential.up.sql
  internal/db/schema/migrations/oss/postgres/22/01_sentinel.up.sql
  internal/db/schema/migrations/oss/postgres/22/02_credential_type.up.sql
  internal/db/schema/migrations/oss/postgres/22/03_vault_library_map.up.sql
  internal/db/schema/migrations/oss/postgres/22/04_vault_library_map_user_password.up.sql
  internal/db/schema/migrations/oss/postgres/22/05_vault_private_library.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_user_password_mapping_override.sql
  internal/db/sqltest/tests/sentinel/is_sentinel.sql
  internal/db/sqltest/tests/sentinel/to_sentinel.sql
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/gen/controller.swagger.json
  internal/proto/local/controller/api/resources/credentiallibraries/v1/credential_library.proto
  internal/proto/local/controller/storage/credential/store/v1/credential.proto
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  sdk/pbs/controller/api/resources/credentiallibraries/credential_library.pb.go
Labels: api, core/db, core/gen, core, core/proto, core/servers, core/sql

#1804 Egress credentials
  internal/db/schema/migrations/oss/postgres/23/01_session_credential.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/session/session_credential_canceling.sql
  internal/db/sqltest/tests/session/session_credential_terminated.sql
  internal/gen/controller/servers/services/credential.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/proto/local/controller/servers/services/v1/credential.proto
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/handlers/workers/worker_service_test.go
  internal/servers/worker/handler.go
  internal/servers/worker/proxy/options.go
  internal/servers/worker/proxy/options_test.go
  internal/session/credential.go
  internal/session/dynamic_credential.go
  internal/session/repository_credential.go
  internal/session/repository_credential_test.go
  internal/session/repository_session_test.go
Labels: core/db, core/gen, core/session, core, core/proto, core/servers, core/sql

#1805 fix(cli): Remove duplication of target host sources
  internal/cmd/commands/targetscmd/funcs.go
Labels: core

#1788 fix: redirect website `/home` to `/`
  website/redirects.js
Labels: website, backport/website

#1807 website: Upgrade deps
  website/package-lock.json
  website/package.json
Labels: website
