Repository hashicorp/boundary, pull requests merged in 2021-08, with the labels that each got.

#1433 Remove unneeded hclog dependencies as we move forward with events
  internal/auth/additional_verification_test.go
  internal/cmd/base/dev.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/listener.go
  internal/cmd/base/profiling_off.go
  internal/cmd/base/profiling_on.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/kms/kms.go
  internal/kms/options.go
  internal/libs/alpnmux/mux.go
  internal/libs/alpnmux/mux_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/testing.go
  internal/servers/controller/auth/auth.go
  internal/servers/controller/auth/auth_test.go
  internal/servers/controller/auth/testing.go
  internal/servers/controller/common/scopeids/scope_ids_test.go
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handler_noui.go
  internal/servers/controller/handler_ui.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/authtokens/authtoken_service_test.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/errors_test.go
  internal/servers/controller/handlers/option_test.go
  internal/servers/controller/handlers/options.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/listeners.go
  internal/servers/controller/session_cleanup_job.go
  internal/servers/controller/session_cleanup_job_test.go
  internal/servers/worker/worker.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/helper/testing_helper.go
Labels: core, core/auth, core/kms, core/lib, core/servers

#1434 Event log adpaters
  CHANGELOG.md
  internal/cmd/base/dev.go
  internal/cmd/base/dev_test.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_test.go
  internal/servers/worker/listeners.go
Labels: core, core/servers

#1405 web: migrate to web platform- packages
  website/.eslintrc.js
  website/.stylelintrc.js
  website/components/subnav/index.jsx
  website/next-env.d.ts
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/_error.jsx
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/prettier.config.js
Labels: website, website/cherrypick

#1432 server: Add back controller shutdown on worker startup failure
  CHANGELOG.md
  internal/cmd/commands/server/server.go
Labels: core

#1437 Fix syntax error in profiling_on.go
  internal/cmd/base/profiling_on.go
Labels: core

#1441 Add primary auth method ID to default output fields, fix display bug
  globals/fields.go
  internal/cmd/commands/scopescmd/funcs.go
  internal/perms/output_fields.go
  internal/perms/output_fields_test.go
  internal/servers/controller/handlers/scopes/scope_service.go
Labels: core, core/perms, core/servers

#1440 support new event formats of: hclog-text and hclog-json
  CHANGELOG.md
  go.mod
  internal/cmd/commands/dev/dev.go
  internal/observability/event/cloudevents_formatter_node.go
  internal/observability/event/cloudevents_formatter_node_test.go
  internal/observability/event/context_test.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_test.go
  internal/observability/event/hclog_formatter_node.go
  internal/observability/event/hclog_formatter_node_test.go
  internal/observability/event/options.go
  internal/observability/event/sink_format.go
  internal/observability/event/testing.go
Labels: core

#1442 Update createClientConn Op
  internal/servers/worker/controller_connection.go
Labels: core, core/servers

#1446 parse the duration string specified in an event file config into a time.Duration
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/observability/event/sink_config.go
Labels: core

#1447 use parseutil.ParseDurationSecond(...) which allows a value without a suffix to be treated as seconds instead of nanoseconds
  internal/cmd/config/config.go
Labels: core

#1448 Events: ongoing clean up of eventing
  internal/db/read_writer.go
  internal/errors/error.go
  internal/scheduler/job/repository_job.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/tickers.go
  internal/servers/worker/handler.go
  internal/servers/worker/session.go
  internal/servers/worker/status.go
  internal/servers/worker/tcp_proxy.go
Labels: core/db, core, core/servers

#1435 website: upgrade consent-manager
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#1449 Sink documentation
  website/content/docs/concepts/filtering/events.mdx
  website/content/docs/configuration/events/common.mdx
  website/content/docs/configuration/events/file.mdx
  website/content/docs/configuration/events/overview.mdx
  website/content/docs/configuration/events/stderr.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

#1450 docs: Update desktop client download version
  website/data/version.js
Labels: website

#1439 Update next steps in connect to target documentation
  website/content/docs/getting-started/connect-to-target.mdx
Labels: docs/getting-started, website

#1456 prevent panic when hclog_formatter_node is operating on a struct
  CHANGELOG.md
  internal/observability/event/hclog_formatter_node.go
Labels: core

#1453 Update go-bexpr to allow colons in paths; add a test
  CHANGELOG.md
  go.mod
  go.sum
  internal/auth/oidc/service_callback_test.go
Labels: core/auth, core

#1455 feat(wh): Add oidc related columns to wh_user_dimension
  internal/db/schema/migrations/postgres/14/01_wh_user_dimension_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/upsert_user/upsert.sql
  internal/db/sqltest/tests/wh/user_dimension/oidc_auth_new_session.sql
  internal/db/sqltest/tests/wh/user_dimension/password_auth_description_change.sql
  internal/db/sqltest/tests/wh/user_dimension/password_auth_new_session.sql
  internal/db/sqltest/tests/wh/user_dimension_views/source.sql
  internal/db/sqltest/tests/wh/user_dimension_views/target.sql
Labels: core/db, core, core/sql

#1463 fix: Stop trying to re-write the resp header on event flush errors
  internal/servers/common/handler.go
Labels: core, core/servers

#1458 refactor(worker): Move tcp_proxy into its own package
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/gen/controller/servers/services/testing.go
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/worker/common/common.go
  internal/servers/worker/common/doc.go
  internal/servers/worker/config.go
  internal/servers/worker/controller_connection.go
  internal/servers/worker/handler.go
  internal/servers/worker/listeners.go
  internal/servers/worker/package_registration.go
  internal/servers/worker/proxy/doc.go
  internal/servers/worker/proxy/options.go
  internal/servers/worker/proxy/proxy.go
  internal/servers/worker/proxy/proxy_test.go
  internal/servers/worker/proxy/tcp/tcp.go
  internal/servers/worker/proxy/tcp/tcp_test.go
  internal/servers/worker/proxy/testing.go
  internal/servers/worker/proxy/testing_test.go
  internal/servers/worker/session.go
  internal/servers/worker/session/session.go
  internal/servers/worker/session/session_test.go
  internal/servers/worker/status.go
  internal/servers/worker/status_test.go
  internal/servers/worker/tcp_proxy.go
  internal/servers/worker/testing.go
  internal/servers/worker/testing_test.go
  internal/servers/worker/worker.go
Labels: core/gen, core, core/proto, core/servers

#1468 Add support for additional awskms parameters
  go.mod
  go.sum
  sdk/go.mod
  sdk/go.sum
  website/content/docs/configuration/kms/awskms.mdx
Labels: website, docs/configuration

#1471 Fix db migration that adds support for OIDC in the data warehouse
  internal/db/schema/migrations/postgres/14/01_wh_user_dimension_oidc.up.sql
  internal/db/schema/migrations/postgres/14/warehouse_user_dim_test.go
  internal/db/schema/postgres_migration.gen.go
Labels: core/db, core, core/sql

#1418 Upgrade global styles
  website/components/footer/index.jsx
  website/components/footer/style.css
  website/components/merch-desktop-client/merch-desktop-client.module.css
  website/components/openapi-page/index.jsx
  website/content/security.mdx
  website/package-lock.json
  website/package.json
  website/pages/404.jsx
  website/pages/_app.js
  website/pages/community/index.jsx
  website/pages/community/style.css
  website/pages/community/style.module.css
  website/pages/print.css
  website/pages/security/index.jsx
  website/pages/security/styles.module.css
  website/pages/style.css
Labels: website, website/cherrypick

#1452 website: update alert banner
  website/data/alert-banner.js
Labels: website, website/cherrypick

#1443 Make schema changes for eventing
  internal/db/schema/migrations/postgres/14/01_event.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core/db, core, core/sql

#1490 Events: add redact/encrypt node for audit events to Eventer
  Makefile
  go.mod
  go.sum
  internal/cmd/base/option_test.go
  internal/cmd/base/server_test.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/gen/testing/event/event.pb.go
  internal/gen/testing/event/event.pb.gw.go
  internal/gen/testing/event/event_grpc.pb.go
  internal/gen/testing/event/taggable.go
  internal/gen/testing/event/testing.swagger.json
  internal/observability/event/audit_config.go
  internal/observability/event/audit_config_test.go
  internal/observability/event/context_test.go
  internal/observability/event/data_classification.go
  internal/observability/event/data_classification_test.go
  internal/observability/event/event.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_config.go
  internal/observability/event/eventer_config_test.go
  internal/observability/event/eventer_test.go
  internal/observability/event/filter_operation.go
  internal/observability/event/filter_operation_test.go
  internal/observability/event/options.go
  internal/observability/event/options_test.go
  internal/observability/event/sink_config.go
  internal/observability/event/sink_config_test.go
  internal/observability/event/testing.go
  internal/proto/local/testing/event/v1/event.proto
Labels: core/gen, core, core/proto

#1476 Adjust syntax in example
  website/content/docs/configuration/events/stderr.mdx
Labels: website, docs/configuration

#1473 sdk: add host plugin protobufs and interface
  internal/proto/local/plugin/host_plugin_service.proto
  plugin/proto/host_plugin_service.pb.go
  plugin/proto/host_plugin_service_grpc.pb.go
Labels: core, core/proto
