Repository hashicorp/boundary, pull requests merged in 2021-05, with the labels that each got.

#1188 OIDC: make callback URL paths deterministic.
  internal/auth/oidc/provider.go
  internal/auth/oidc/provider_test.go
  internal/auth/oidc/service.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/service_test.go
  internal/auth/oidc/service_token_request.go
  internal/auth/oidc/testing.go
  internal/cmd/commands/dev/dev.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: core, core/auth, core/servers

#1179 Initial Output Fields Work
  globals/fields.go
  globals/globals.go
  internal/auth/additional_verification_test.go
  internal/auth/auth.go
  internal/auth/authorized_actions.go
  internal/auth/option.go
  internal/auth/options_test.go
  internal/auth/password/testing.go
  internal/auth/testing.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/authmethodscmd/funcs.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/perms/output_fields.go
  internal/perms/output_fields_test.go
  internal/requests/requests.go
  internal/requests/requests_test.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/option_test.go
  internal/servers/controller/handlers/options.go
  internal/servers/controller/handlers/scopes/scope_service.go
Labels: core, core/auth, core/perms, core/servers

#1184 Error on `boundary database migrate` if the db hasn't been initialized
  CHANGELOG.md
  internal/cmd/commands/database/funcs.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
Labels: core

#1004 [Assembly]: Branding Refresh
  package-lock.json
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/homepage-hero/HomepageHero.module.css
  website/components/homepage-hero/index.jsx
  website/components/how-it-works/feature/logo-list/logo-list.module.css
  website/components/how-it-works/how-boundary-works-diagram/how-boundary-works-diagram.module.css
  website/components/how-it-works/how-boundary-works-diagram/index.jsx
  website/components/how-it-works/how-it-works.module.css
  website/components/openapi-page/index.jsx
  website/components/openapi-page/partials/operation-object/operation-object.module.css
  website/components/openapi-page/partials/property-object/property-object.module.css
  website/components/openapi-page/style.module.css
  website/jsconfig.json
  website/next-env.d.ts
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/community/index.jsx
  website/pages/community/style.css
  website/pages/downloads/img/boundary-logo.svg
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/pages/home/img/features/config-as-code.svg
  website/pages/home/img/features/identity-based-access.svg
  website/pages/home/img/features/managing-dynamic-environments.svg
  website/pages/home/img/features/platform-agnosticity.svg
  website/pages/home/img/features/session-management.svg
  website/pages/home/img/features/session-visibility.svg
  website/pages/home/img/logos/aws-gray.svg
  website/pages/home/img/logos/azure-gray.svg
  website/pages/home/img/logos/consul-gray.svg
  website/pages/home/img/logos/gcp-gray.svg
  website/pages/home/img/logos/github-gray.svg
  website/pages/home/img/logos/kubernetes-gray.svg
  website/pages/home/img/logos/more-gray.svg
  website/pages/home/img/logos/okta-gray.svg
  website/pages/home/img/logos/ping-gray.svg
  website/pages/home/img/logos/terraform-gray.svg
  website/pages/home/style.css
  website/pages/style.css
  website/public/_favicon.ico
  website/public/favicon.ico
  website/public/img/icon-right-arrow.svg
  website/tsconfig.json
Labels: website, website/cherrypick

#1183 Replace token_sha256 with token_hmac
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/credential/vault/vault_lease.go
  internal/credential/vault/vault_lease_test.go
  internal/credential/vault/vault_token.go
  internal/credential/vault/vault_token_test.go
  internal/db/schema/migrations/postgres/10/02_vault_credential.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/db, core/proto

#1112 Add -container-image flag
  internal/cmd/base/option.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server_test.go
  internal/db/schema/manager_test.go
  internal/docker/docker.go
  internal/docker/option.go
  internal/docker/supported.go
  internal/oplog/testing.go
  internal/servers/controller/testing.go
Labels: core, core/db, core/oplog, core/servers

#1190 Vault integration: Run tests in parallel
  internal/credential/vault/client_certificate_test.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/credential_store_test.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_test.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault_lease_test.go
  internal/credential/vault/vault_test.go
  internal/credential/vault/vault_token_test.go
Labels: core

#1015 PR #1001: Postgres Connection Pooling Control
  internal/cmd/base/servers.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  website/content/docs/configuration/controller.mdx
Labels: core, docs/configuration, website

#1186 OIDC: add support for account claim maps
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/account_claim_map.go
  internal/auth/oidc/account_claim_map_test.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/db/schema/migrations/postgres/6/01_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: api, api/authmethods, core, core/auth, core/db, core/gen, core/proto, core/servers, core/sql

#1194 Apply output fields changes across all handlers
  globals/fields.go
  internal/cmd/base/format.go
  internal/cmd/commands/accountscmd/accounts.gen.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/accountscmd/oidc_accounts.gen.go
  internal/cmd/commands/accountscmd/password_accounts.gen.go
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/funcs.go
  internal/cmd/commands/authmethodscmd/oidc_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/authtokenscmd/funcs.go
  internal/cmd/commands/groupscmd/funcs.go
  internal/cmd/commands/groupscmd/groups.gen.go
  internal/cmd/commands/hostcatalogscmd/funcs.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostscmd/funcs.go
  internal/cmd/commands/hostscmd/hosts.gen.go
  internal/cmd/commands/hostscmd/static_hosts.gen.go
  internal/cmd/commands/hostsetscmd/funcs.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/cmd/commands/rolescmd/roles.gen.go
  internal/cmd/commands/scopescmd/funcs.go
  internal/cmd/commands/scopescmd/scopes.gen.go
  internal/cmd/commands/sessionscmd/funcs.go
  internal/cmd/commands/sessionscmd/sessions.gen.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/commands/userscmd/funcs.go
  internal/cmd/commands/userscmd/users.gen.go
  internal/cmd/gencli/templates.go
  internal/requests/options.go
  internal/requests/requests.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/groups/group_service_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/roles/role_service_test.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/users/user_service_test.go
Labels: core, core/servers

#1181 Add ability for the controller/worker name to be read from env/file
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/worker.mdx
Labels: core, docs/configuration, website

#1185 Incorrect Grants when setting anonymous read permissions
  website/content/docs/installing/no-gen-resources.mdx
Labels: docs/installing, website

#1195 Fix a broken auth token test and support conditional tests for "versioned" releases.
  internal/tests/cli/README.md
  internal/tests/cli/boundary/_auth_tokens.bash
  internal/tests/cli/boundary/_version.bash
  internal/tests/cli/boundary/version.bats
Labels: core

#1182 Drop job code, add job plugin
  internal/db/schema/migrations/postgres/10/10_job.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/db/testing.go
  internal/proto/local/controller/storage/job/store/v1/job.proto
  internal/scheduler/additional_verification_test.go
  internal/scheduler/job.go
  internal/scheduler/job/additional_verification_test.go
  internal/scheduler/job/doc.go
  internal/scheduler/job/ids.go
  internal/scheduler/job/ids_test.go
  internal/scheduler/job/immutable_fields_test.go
  internal/scheduler/job/job.go
  internal/scheduler/job/job_test.go
  internal/scheduler/job/options.go
  internal/scheduler/job/options_test.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository_job.go
  internal/scheduler/job/repository_job_test.go
  internal/scheduler/job/repository_run.go
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/job/repository_test.go
  internal/scheduler/job/run_test.go
  internal/scheduler/job/store/job.pb.go
  internal/scheduler/job/testing.go
  internal/scheduler/job/testing_test.go
  internal/scheduler/options.go
  internal/scheduler/options_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/testing.go
  internal/servers/controller/controller.go
Labels: core, core/db, core/proto, core/servers, core/sql

#1198 Add docs for output fields
  CHANGELOG.md
  website/content/docs/concepts/security/permissions.mdx
Labels: docs/concepts, website

#1204 Fix `boundary database init` respecting format flag
  CHANGELOG.md
  internal/cmd/commands/database/init.go
Labels: core

#1201 website: support hidden pages in nav-data
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/components/_temp-enable-hidden-pages/index.js
  website/data/docs-nav-data-hidden.json
  website/data/docs-nav-data.json
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/docs/[[...page]].jsx
Labels: website, website/cherrypick

#1207 website: cherry-pick #1004 and #1201
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  package-lock.json
  website/components/_temp-enable-hidden-pages/index.js
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/homepage-hero/HomepageHero.module.css
  website/components/homepage-hero/index.jsx
  website/components/how-it-works/feature/logo-list/logo-list.module.css
  website/components/how-it-works/how-boundary-works-diagram/how-boundary-works-diagram.module.css
  website/components/how-it-works/how-boundary-works-diagram/index.jsx
  website/components/how-it-works/how-it-works.module.css
  website/components/openapi-page/index.jsx
  website/components/openapi-page/partials/operation-object/operation-object.module.css
  website/components/openapi-page/partials/property-object/property-object.module.css
  website/components/openapi-page/style.module.css
  website/data/docs-nav-data-hidden.json
  website/data/docs-nav-data.json
  website/jsconfig.json
  website/next-env.d.ts
  website/next.config.js
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/community/index.jsx
  website/pages/community/style.css
  website/pages/docs/[[...page]].jsx
  website/pages/downloads/img/boundary-logo.svg
  website/pages/downloads/index.jsx
  website/pages/downloads/style.module.css
  website/pages/home/img/features/config-as-code.svg
  website/pages/home/img/features/identity-based-access.svg
  website/pages/home/img/features/managing-dynamic-environments.svg
  website/pages/home/img/features/platform-agnosticity.svg
  website/pages/home/img/features/session-management.svg
  website/pages/home/img/features/session-visibility.svg
  website/pages/home/img/logos/aws-gray.svg
  website/pages/home/img/logos/azure-gray.svg
  website/pages/home/img/logos/consul-gray.svg
  website/pages/home/img/logos/gcp-gray.svg
  website/pages/home/img/logos/github-gray.svg
  website/pages/home/img/logos/kubernetes-gray.svg
  website/pages/home/img/logos/more-gray.svg
  website/pages/home/img/logos/okta-gray.svg
  website/pages/home/img/logos/ping-gray.svg
  website/pages/home/img/logos/terraform-gray.svg
  website/pages/home/style.css
  website/pages/style.css
  website/public/_favicon.ico
  website/public/favicon.ico
  website/public/img/icon-right-arrow.svg
  website/tsconfig.json
Labels: website

#1197 Louis job scheduler
  Makefile
  internal/db/schema/migrations/postgres/1/02_domains.up.sql
  internal/db/schema/migrations/postgres/7/01_functions.up.sql
  internal/db/schema/migrations/postgres/7/02_plugin.up.sql
  internal/db/schema/migrations/postgres/7/03_job.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/db/testing.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/proto/local/controller/storage/job/store/v1/job.proto
  internal/scheduler/additional_verification_test.go
  internal/scheduler/doc.go
  internal/scheduler/job.go
  internal/scheduler/job/additional_verification_test.go
  internal/scheduler/job/doc.go
  internal/scheduler/job/immutable_fields_test.go
  internal/scheduler/job/job.go
  internal/scheduler/job/job_test.go
  internal/scheduler/job/options.go
  internal/scheduler/job/options_test.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository.go
  internal/scheduler/job/repository_job.go
  internal/scheduler/job/repository_job_test.go
  internal/scheduler/job/repository_run.go
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/job/repository_test.go
  internal/scheduler/job/run.go
  internal/scheduler/job/run_test.go
  internal/scheduler/job/status.go
  internal/scheduler/job/store/job.pb.go
  internal/scheduler/job/testing.go
  internal/scheduler/job/testing_test.go
  internal/scheduler/options.go
  internal/scheduler/options_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/testing.go
  internal/servers/controller/controller.go
Labels: core, core/db, core/proto, core/servers, core/sql

#1205 Vault integration: add dynamic credential type to sessions
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/db/schema/migrations/postgres/10/04_session.down.sql
  internal/db/schema/migrations/postgres/10/04_session.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/session/dynamic_credential.go
  internal/session/dynamic_credential_test.go
  internal/target/repository.go
  internal/target/testing.go
  internal/target/testing_test.go
Labels: core, core/db, core/session, core/sql, core/target

#1211 patch: clean up css override marked as debt
  website/components/homepage-hero/HomepageHero.module.css
  website/package-lock.json
  website/package.json
  website/pages/home/index.jsx
  website/public/img/icon-right-arrow.svg
Labels: website, website/cherrypick

#1213 Remove text in oidc command on json format
  internal/cmd/commands/authenticate/oidc.go
Labels: core

#1212 Fix cmd help for groups: rename user to member
  internal/cmd/commands/groupscmd/funcs.go
Labels: core

#1214 Migrate the server upsert query to use database time
  internal/servers/query.go
  internal/servers/repository.go
Labels: core, core/servers, core/sql

#1210 Credential Library SAD repo functions
  internal/cmd/base/initial_resources.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/session/testing.go
  internal/target/immutable_fields_test.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/query.go
  internal/target/repository.go
  internal/target/repository_credential_library.go
  internal/target/repository_credential_library_test.go
  internal/target/repository_host_set.go
  internal/target/repository_host_set_test.go
  internal/target/repository_tcp_target.go
  internal/target/repository_tcp_target_test.go
  internal/target/repository_test.go
  internal/target/testing.go
Labels: core, core/servers, core/session, core/sql, core/target

#1218 Define base types for the credential package
  internal/credential/credential.go
Labels: core

#1215 Add Credential Store CRUDL API and handlers
  internal/credential/store/credential.pb.go
  internal/credential/subtype.go
  internal/credential/vault/credential_store.go
  internal/credential/vault/credential_store_test.go
  internal/credential/vault/repository.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/credentialstores/credential_store.pb.go
  internal/gen/controller/api/services/credential_store_service.pb.go
  internal/gen/controller/api/services/credential_store_service.pb.gw.go
  internal/gen/controller/api/services/credential_store_service_grpc.pb.go
  internal/proto/local/controller/api/resources/credentialstores/v1/credential_store.proto
  internal/proto/local/controller/api/services/v1/credential_store_service.proto
  internal/proto/local/controller/storage/credential/store/v1/credential.proto
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
  internal/servers/controller/common/common.go
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handler_test.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/mask_manager.go
  internal/servers/controller/handlers/mask_manager_test.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
Labels: core, core/gen, core/proto, core/servers, core/types

#1220 Add cleanup of dead connections no longer reported by a worker
  CHANGELOG.md
  internal/cmd/commands/dev/dev.go
  internal/db/read_writer_test.go
  internal/db/schema/migrations/postgres/0/50_session.up.sql
  internal/db/schema/migrations/postgres/0/51_connection.up.sql
  internal/db/schema/migrations/postgres/8/01_connection.up.sql
  internal/db/schema/migrations/postgres/8/08_connection_test.go
  internal/db/schema/postgres_migration.gen.go
  internal/db/timestamp/scanners.go
  internal/db/timestamp/scanners_test.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/worker/session.go
  internal/session/connection.go
  internal/session/options.go
  internal/session/options_test.go
  internal/session/query.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session_test.go
  internal/session/testing.go
Labels: core, core/db, core/gen, core/proto, core/servers, core/session, core/sql

#1224 Refactor connection listing for tests
  internal/session/repository.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
Labels: core, core/session

#1223 Add missing API-level state checks during session cancel
  CHANGELOG.md
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/sessions/session_service_test.go
Labels: core, core/servers

#1227 Fix spelling of SubType
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/auth/subtype.go
  internal/auth/subtype_test.go
  internal/cmd/common/help.go
  internal/cmd/gencli/input.go
  internal/cmd/gencli/templates.go
  internal/host/subtype.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/target/repository.go
  internal/target/subtype.go
  internal/target/target.go
Labels: core, core/auth, core/host, core/servers, core/target

#1232 Add HashiConf alert banner data
  website/data/alert-banner.js
Labels: website, website/cherrypick

#1229 Bump UI version and add changelog entry
  CHANGELOG.md
  internal/ui/VERSION
Labels: core, core/ui

#1233 Revert "Bump UI version and add changelog entry"
  CHANGELOG.md
  internal/ui/VERSION
Labels: core, core/ui

#1237 Upgrade build node version & packagespec
  .circleci/config.yml
  .circleci/config/@build-release.yml
  internal/ui/VERSION
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
Labels: core, core/ui

#1225 Create Target API for SAD operations on credential libraries.
  api/targets/credential_library.gen.go
  api/targets/target.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/db/schema/migrations/postgres/10/03_target.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/proto/local/controller/api/services/v1/target_service.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/target/credential_library.go
  internal/target/repository.go
  internal/target/repository_credential_library.go
  internal/target/repository_credential_library_test.go
  internal/target/repository_host_set.go
  internal/target/repository_tcp_target.go
  internal/types/action/action.go
Labels: api, api/targets, core, core/db, core/gen, core/proto, core/servers, core/sql, core/target, core/types

#1221 Add CRUDL operations for vault credential libraries
  globals/fields.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/credentiallibraries/credential_library.pb.go
  internal/gen/controller/api/services/credential_library_service.pb.go
  internal/gen/controller/api/services/credential_library_service.pb.gw.go
  internal/gen/controller/api/services/credential_library_service_grpc.pb.go
  internal/gen/controller/api/services/credential_store_service.pb.go
  internal/gen/controller/api/services/credential_store_service_grpc.pb.go
  internal/proto/local/controller/api/resources/credentiallibraries/v1/credential_library.proto
  internal/proto/local/controller/api/services/v1/credential_library_service.proto
  internal/proto/local/controller/api/services/v1/credential_store_service.proto
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
Labels: core, core/gen, core/proto, core/servers

#1226 Include the Token HMAC in the Update or List responses
  internal/credential/vault/repository_credential_store.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
Labels: core, core/servers

#1239 Vault integration: issue credentials
  internal/credential/credential.go
  internal/credential/subtype.go
  internal/credential/subtype_test.go
  internal/credential/vault/credential.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/credential_test.go
  internal/credential/vault/docker.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/public_ids.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_lease.go
  internal/credential/vault/vault_test.go
  internal/db/db.go
  internal/db/db_test.go
  internal/db/domains_test.go
  internal/db/schema/migrations/postgres/10/01_sentinels.down.sql
  internal/db/schema/migrations/postgres/10/01_sentinels.up.sql
  internal/db/schema/migrations/postgres/10/02_credential.down.sql
  internal/db/schema/migrations/postgres/10/02_credential.up.sql
  internal/db/schema/migrations/postgres/10/03_vault_credential.down.sql
  internal/db/schema/migrations/postgres/10/03_vault_credential.up.sql
  internal/db/schema/migrations/postgres/10/04_target.down.sql
  internal/db/schema/migrations/postgres/10/04_target.up.sql
  internal/db/schema/migrations/postgres/10/05_session.down.sql
  internal/db/schema/migrations/postgres/10/05_session.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/db/timestamp/timestamp.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/servers/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/session/dynamic_credential_test.go
Labels: core, core/db, core/proto, core/servers, core/session, core/sql

#1245 Fix down migrations
  internal/db/schema/migrations/postgres/10/04_target.down.sql
Labels: core, core/db, core/sql

#1246 Sentinel values only have to be greater than 0
  internal/db/schema/migrations/postgres/10/01_sentinels.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db, core/sql

#1247 internal/cmd/config: allow explicit origin list w/implicit CORS toggle
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
Labels: core

#1243 Already-canceled sessions return 200
  CHANGELOG.md
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/sessions/session_service_test.go
Labels: core, core/servers

#1249 Update CORS to have an allowed_origin of `*` by default
  CHANGELOG.md
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
Labels: core

#1250 Create go SDK resources/methods for credential store and library
  api/credentiallibraries/credential_library.gen.go
  api/credentiallibraries/option.gen.go
  api/credentiallibraries/vault_credential_library_attributes.gen.go
  api/credentialstores/credential_store.gen.go
  api/credentialstores/option.gen.go
  api/credentialstores/vault_credential_store_attributes.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/credential/vault/repository_credential_store.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/servers/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/tests/api/credentiallibraries/credentiallibrary_test.go
  internal/tests/api/credentialstores/credentialstore_test.go
Labels: api, core, core/servers

#1253 Add initial SQL for managed groups
  internal/cmd/base/dev.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/db/schema/migrations/postgres/9/01_managed_groups.up.sql
  internal/db/schema/migrations/postgres/9/02_oidc_managed_group.up.sql
  internal/db/schema/migrations/postgres/9/03_oidc_managed_group_member.up.sql
  internal/db/schema/migrations/postgres/9/managed_group_test.go
  internal/db/schema/postgres_migration.gen.go
  internal/servers/controller/handler_test.go
  internal/servers/controller/testing.go
  testing/controller/controller.go
Labels: core, core/db, core/servers, core/sql
