Repository hashicorp/boundary, pull requests merged in 2021-10, with the labels that each got.

#1572 website: fix wording
  website/pages/home/index.jsx
Labels: website, website/cherrypick

#1575 Fix broken `/downloads` link url
  website/pages/home/index.jsx
Labels: website, website/cherrypick

#1580 Swap host plugin server interface for client
  internal/cmd/base/initial_resources.go
  internal/cmd/base/option.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/host/plugin/client.go
  internal/host/plugin/immutable_fields_test.go
  internal/host/plugin/repository.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/repository_test.go
  internal/host/plugin/testing.go
  internal/host/plugin/testing_test.go
  internal/host/preferred_endpoint_test.go
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/servers/controller/testing.go
Labels: core, core/servers, core/host

#1583 Update preferred endpoint preference order
  internal/libs/endpoint/preferencer.go
  internal/libs/endpoint/preferencer_test.go
Labels: core, core/lib

#1590 fixed hcl config examples for sink
  website/content/docs/configuration/events/file.mdx
  website/content/docs/configuration/events/overview.mdx
Labels: website, docs/configuration, hacktoberfest-accepted
