Repository hashicorp/boundary, pull requests merged in 2021-07, with the labels that each got.

#1373 Bump desktop client version
  website/data/version.js
Labels: website

#1382 Clarify default Postgres behavior
  website/content/docs/configuration/controller.mdx
Labels: docs/configuration, website

#1307 Bump types/react dependency version
  website/package-lock.json
  website/package.json
Labels: website

#1355 integrate events into the servers
  globals/boundary_developer_env.go
  internal/cmd/base/event_flags.go
  internal/cmd/base/event_flags_test.go
  internal/cmd/base/option.go
  internal/cmd/base/option_test.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/server/server_test.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/event_audit.go
  internal/observability/event/event_audit_test.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_config.go
  internal/observability/event/eventer_config_test.go
  internal/observability/event/eventer_retry_test.go
  internal/observability/event/eventer_test.go
  internal/observability/event/options.go
  internal/observability/event/options_test.go
  internal/observability/event/serialized_writer.go
  internal/observability/event/serialized_writer_test.go
  internal/observability/event/sink_config.go
  internal/observability/event/sink_format.go
  internal/observability/event/sink_type.go
  internal/observability/event/testing.go
  internal/servers/common/handler.go
  internal/servers/common/handler_test.go
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/testing.go
  internal/servers/worker/worker.go
Labels: core, core/servers

#1385 Document dependency on pgcrypto
  website/content/docs/installing/postgres.mdx
Labels: docs/installing, website

#1387 Update docs for minimum value of max_open_connections
  website/content/docs/configuration/controller.mdx
Labels: docs/configuration, website

#1386 internal/db: add enumeration constraints for the server table
  internal/db/schema/migrations/postgres/11/01_server_type_enum.up.sql
  internal/db/schema/migrations/postgres/11/01_server_type_enum_test.go
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db, core/sql

#1392 [Website] Bump hashi-stack-menu
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#1389 Remove errant tls_disable
  website/content/docs/configuration/controller.mdx
Labels: docs/configuration, website

#1340 internal/servers/controller: Worker failure connection cleanup
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/db/schema/migrations/postgres/12/01_timestamp_sub_funcs.up.sql
  internal/db/schema/migrations/postgres/12/01_timestamp_sub_funcs_test.go
  internal/db/schema/postgres_migration.gen.go
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/session_cleanup_job.go
  internal/servers/controller/session_cleanup_job_test.go
  internal/servers/controller/testing.go
  internal/servers/options.go
  internal/servers/repository.go
  internal/servers/repository_test.go
  internal/servers/worker/status.go
  internal/servers/worker/status_test.go
  internal/servers/worker/testing.go
  internal/servers/worker/worker.go
  internal/session/query.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/tests/cluster/session_cleanup_test.go
Labels: core, core/db, core/servers, core/session, core/sql

#1401 Remove Telemetry from config tests
  internal/cmd/base/servers.go
  internal/cmd/config/config_test.go
Labels: core

#1396 Ensure job progress is always reported
  internal/scheduler/additional_verification_test.go
  internal/scheduler/job/additional_verification_test.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository_run.go
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/scheduler.go
Labels: core, core/sql

#1402 internal/servers/worker: fix TestWorkerWaitForNextSuccessfulStatusUpdate
  internal/servers/worker/status_test.go
Labels: core, core/servers

#1410 Simplify SQL query for CloseConnectionsForDeadWorkers
  internal/session/query.go
Labels: core, core/session, core/sql

#1411 update eventlogger dep which should eliminate a possible panic with the gated.Broker is nil
  go.mod
  go.sum
  internal/observability/event/event_observation.go
  internal/observability/event/event_observation_test.go
  internal/observability/event/eventer.go
  internal/servers/common/handler_test.go
Labels: core, core/servers

#1399 test(db): Thin line for new sql testing suite
  .circleci/config.yml
  .circleci/config/jobs/test-sql.yml
  .circleci/config/workflows/default.yml
  Makefile
  internal/db/sqltest/Makefile
  internal/db/sqltest/README.md
  internal/db/sqltest/initdb.d/00_schema.sh
  internal/db/sqltest/initdb.d/01_wtt_load.sql
  internal/db/sqltest/initdb.d/02_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/setup/wtt_load.sql
  internal/db/sqltest/tests/wh_user_dimension.sql
Labels: core, core/db, core/sql

#1400 Apply extra review feedback from #1340
  internal/db/read_writer.go
  internal/servers/controller/testing.go
  internal/servers/worker/status.go
  internal/session/query.go
  internal/session/repository_connection.go
  internal/tests/cluster/session_cleanup_test.go
Labels: core, core/db, core/servers, core/session, core/sql

#1390 Events: add node for formatting/filtering cloudevents
  internal/cmd/base/event_flags.go
  internal/cmd/base/event_flags_test.go
  internal/cmd/base/option.go
  internal/cmd/base/option_test.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/server/server_test.go
  internal/cmd/config/config.go
  internal/filter/filter.go
  internal/filter/filter_test.go
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/event.go
  internal/observability/event/event_audit.go
  internal/observability/event/event_error.go
  internal/observability/event/event_observation.go
  internal/observability/event/event_observation_test.go
  internal/observability/event/event_sys.go
  internal/observability/event/event_sys_test.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_retry_test.go
  internal/observability/event/eventer_test.go
  internal/observability/event/id.go
  internal/observability/event/id_test.go
  internal/observability/event/node.go
  internal/observability/event/node_test.go
  internal/observability/event/options.go
  internal/observability/event/options_test.go
  internal/observability/event/sink_config.go
  internal/observability/event/sink_format.go
  internal/observability/event/testing.go
  internal/servers/common/handler.go
  internal/servers/common/handler_test.go
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/filtering.go
  internal/servers/controller/handlers/filtering_test.go
  internal/servers/controller/testing.go
  internal/servers/worker/testing.go
  internal/servers/worker/worker.go
Labels: core, core/servers

#1415 Move base interfaces of the domain into a new boundary package
  internal/boundary/boundary.go
  internal/credential/credential.go
Labels: core

#1419 Add token/userinfo claims to account read output
  CHANGELOG.md
  api/accounts/oidc_account_attributes.gen.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/store/oidc.pb.go
  internal/cmd/base/format.go
  internal/db/schema/migrations/postgres/13/01_oidc_add_claims.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/gen/controller/api/services/managed_group_service.pb.go
  internal/proto/local/controller/api/resources/accounts/v1/account.proto
  internal/proto/local/controller/api/services/v1/managed_group_service.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/accounts/account_service.go
  internal/session/repository_connection.go
Labels: api, core, core/auth, core/db, core/gen, core/proto, core/servers, core/session, core/sql

#1413 Migrate credential-library nomenclature around targets to credential-source
  CHANGELOG.md
  api/targets/credential_source.gen.go
  api/targets/option.gen.go
  api/targets/session_credential.gen.go
  api/targets/target.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/gencli/input.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/observability/event/context_test.go
  internal/observability/event/node_test.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/proto/local/controller/api/services/v1/target_service.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/session/repository_session_test.go
  internal/target/credential_library.go
  internal/target/credential_source.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/repository_credential_source.go
  internal/target/repository_credential_source_test.go
  internal/target/repository_host_set.go
  internal/target/repository_tcp_target.go
  internal/target/repository_tcp_target_test.go
  internal/target/testing.go
  internal/target/testing_test.go
  internal/types/action/action.go
Labels: api, api/targets, core, core/gen, core/proto, core/servers, core/session, core/target, core/types

#1414 feat(wh): Add oidc related columns to wh_user_dimension
  internal/db/schema/migrations/postgres/13/00_wh_user_dimension_oidc.up.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/upsert_user/upsert.sql
  internal/db/sqltest/tests/wh/user_dimension/oidc_auth_new_session.sql
  internal/db/sqltest/tests/wh/user_dimension/password_auth_description_change.sql
  internal/db/sqltest/tests/wh/user_dimension/password_auth_new_session.sql
  internal/db/sqltest/tests/wh/user_dimension_views/source.sql
  internal/db/sqltest/tests/wh/user_dimension_views/target.sql
Labels: core, core/db, core/sql

#1412 Update homepage desktop client CTA language
  website/pages/home/index.jsx
Labels: website, website/cherrypick

#1421 fixed typo: specifc -> specific, varibles -> variables, idomatic -> idiomatic.
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/index.mdx
Labels: docs/configuration, docs/workflows, website

#1409 Events: convert from hclog to events
  internal/cmd/base/dev.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/credential/vault/jobs.go
  internal/db/db.go
  internal/libs/alpnmux/mux.go
  internal/libs/alpnmux/mux_test.go
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/context_unexported_test.go
  internal/observability/event/event_error.go
  internal/observability/event/event_error_test.go
  internal/observability/event/event_observation_test.go
  internal/observability/event/event_sys.go
  internal/observability/event/id.go
  internal/observability/event/options.go
  internal/observability/event/options_test.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/scheduler/additional_verification_test.go
  internal/scheduler/scheduler.go
  internal/servers/common/handler.go
  internal/servers/common/handler_test.go
  internal/servers/controller/auth/auth.go
  internal/servers/controller/auth/auth_test.go
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handler_noui.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/intercepting_listener.go
  internal/servers/controller/session_cleanup_job.go
  internal/servers/controller/testing.go
  internal/servers/controller/tickers.go
  internal/servers/worker/controller_connection.go
  internal/servers/worker/handler.go
  internal/servers/worker/session.go
  internal/servers/worker/status.go
  internal/servers/worker/status_test.go
  internal/servers/worker/tcp_proxy.go
  internal/servers/worker/testing.go
  internal/servers/worker/worker.go
  internal/tests/cluster/session_cleanup_test.go
  internal/types/resource/resource.go
Labels: core, core/db, core/lib, core/perms, core/servers, core/types

#1423 prevent panics when waitgroup == nil
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: core

#1376 Fixed typo on website (equivalient -> equivalent)
  website/content/docs/common-workflows/manage-targets.mdx
Labels: docs/workflows, website

#1354 Close connections on worker on shutdown, add force shutdown
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/server/server_test.go
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
  internal/servers/worker/worker.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/helper/testing_helper.go
Labels: core, core/servers

#1422 Fix race with base context cancel and final run update in scheduler
  internal/scheduler/additional_verification_test.go
  internal/scheduler/scheduler.go
Labels: core

#1429 Bump admin UI version to enable credential brokering feature
  internal/ui/VERSION
Labels: core, core/ui

#1425 docs: add credential doc redirects and fix session redirect
  website/redirects.js
Labels: website

#1424 Migrate target host sets -> host sources
  CHANGELOG.md
  api/targets/host_source.gen.go
  api/targets/target.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/cmd/base/initial_resources.go
  internal/cmd/commands.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/gencli/input.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/setup_manual_test.go
  internal/credential/vault/testing_external_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/proto/local/controller/api/services/v1/target_service.proto
  internal/servers/controller/handlers/sessions/session_service_test.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/session/testing.go
  internal/target/host_set.go
  internal/target/host_source.go
  internal/target/immutable_fields_test.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/repository_credential_source.go
  internal/target/repository_host_source.go
  internal/target/repository_host_source_test.go
  internal/target/repository_tcp_target.go
  internal/target/repository_tcp_target_test.go
  internal/target/testing.go
  internal/target/testing_test.go
  internal/types/action/action.go
Labels: api, api/targets, core, core/gen, core/proto, core/servers, core/session, core/target, core/types
