Repository hashicorp/boundary, pull requests merged in 2021-11, with the labels that each got.

#1647 Add plugin set sync and orphaned host cleanup jobs
  go.mod
  go.sum
  internal/db/schema/migrations/oss/postgres/19/05_plugin_host.up.sql
  internal/db/schema/migrations/oss/postgres/19/06_preferred_endpoints.up.sql
  internal/host/plugin/host.go
  internal/host/plugin/host_address_test.go
  internal/host/plugin/host_set.go
  internal/host/plugin/host_set_member_test.go
  internal/host/plugin/host_test.go
  internal/host/plugin/immutable_fields_test.go
  internal/host/plugin/job_orphaned_host_cleanup.go
  internal/host/plugin/job_orphaned_host_cleanup_test.go
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/plugin/jobs.go
  internal/host/plugin/query.go
  internal/host/plugin/repository.go
  internal/host/plugin/repository_host.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/repository_host_test.go
  internal/host/plugin/repository_test.go
  internal/host/plugin/store/host.pb.go
  internal/host/plugin/testing.go
  internal/host/plugin/testing_test.go
  internal/host/preferred_endpoint_test.go
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/targets/target_service_test.go
Labels: core/db, core, core/proto, core/servers, core/host, core/sql

#1653 test(targets): Change test to not depend on response order
  internal/servers/controller/handlers/targets/target_service_test.go
Labels: core, core/servers

#1655 Read and List Plugin based Hosts
  api/hosts/host.gen.go
  globals/fields.go
  internal/cmd/config/config.go
  internal/gen/controller.swagger.json
  internal/host/plugin/host_set_member_test.go
  internal/host/plugin/ids.go
  internal/host/plugin/repository_host.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_test.go
  internal/proto/local/controller/api/resources/hosts/v1/host.proto
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
  internal/servers/controller/testing.go
  internal/tests/api/hostcatalogs/host_catalog_test.go
  internal/tests/api/hosts/host_test.go
  internal/tests/api/hostsets/host_set_test.go
  sdk/pbs/controller/api/resources/hosts/host.pb.go
Labels: api, core/gen, core, core/proto, core/servers, core/host, api/hosts

#1652 Make test container names configurable
  CONTRIBUTING.md
  internal/db/sqltest/Makefile
  testing/dbtest/docker/Makefile
Labels: core/db, core

#1656 Warehouse contains "Unsupported" host_address for plugin based hosts
  internal/db/schema/migrations/oss/postgres/19/03_hostplugin.up.sql
  internal/db/schema/migrations/oss/postgres/19/07_wh_session_dimensions.up.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/host_dimension_views/source.sql
Labels: core/db, core, core/sql

#1659 Update available actions for host resources
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/hostscmd/funcs.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
Labels: core, core/servers

#1658 feature (db): Add support for multi-column PKs
  internal/db/common/update.go
  internal/db/common/update_test.go
  internal/db/db_test/db.go
  internal/db/db_test/db_test.pb.go
  internal/db/read_writer.go
  internal/db/read_writer_test.go
  internal/db/schema/migrations/oss/postgres/19/01_db.up.sql
  internal/proto/local/controller/storage/db/db_test/v1/db_test.proto
  internal/session/immutable_fields_test.go
Labels: core/db, core/session, core, core/proto, core/sql

#1660 Pass namespace to the Vault client
  CHANGELOG.md
  internal/credential/vault/vault.go
Labels: core

#1661 populate correct field for host catalog secret
  internal/host/plugin/host_catalog.go
Labels: core, core/host

#1663 chore: react-subnav
  website/package-lock.json
  website/package.json
Labels: website

#1650 refactor: Move functions from kms pkg to new libs/crypto pkg
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/service.go
  internal/credential/vault/client_certificate.go
  internal/credential/vault/vault_token.go
  internal/kms/kms.go
  internal/kms/kms_test.go
  internal/libs/crypto/derived_reader.go
  internal/libs/crypto/derived_reader_test.go
  internal/libs/crypto/error.go
  internal/libs/crypto/hmac_sha256.go
  internal/libs/crypto/hmac_sha256_test.go
  internal/libs/crypto/options.go
  internal/libs/crypto/options_test.go
  internal/libs/crypto/testing.go
  internal/session/util.go
  internal/session/util_test.go
Labels: core/auth, core/session, core, core/kms, core/lib

#1651 feature (kms/audit): Add base audit key type
  Makefile
  internal/cmd/base/initial_resources.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/common/flags.go
  internal/db/db.go
  internal/db/schema/migrations/oss/postgres/19/01_kms_audit.up.sql
  internal/db/schema/migrations/oss/postgres_14_01_test.go
  internal/db/schema/migrations/oss/postgres_16_05_test.go
  internal/db/schema/migrations/oss/postgres_2_07_test.go
  internal/iam/repository_scope.go
  internal/iam/scope.go
  internal/kms/audit_key.go
  internal/kms/audit_key_test.go
  internal/kms/audit_key_version.go
  internal/kms/audit_key_version_test.go
  internal/kms/const.go
  internal/kms/ids.go
  internal/kms/ids_test.go
  internal/kms/immutable_fields_test.go
  internal/kms/kms.go
  internal/kms/repository.go
  internal/kms/repository_audit_key.go
  internal/kms/repository_audit_key_test.go
  internal/kms/repository_audit_key_version.go
  internal/kms/repository_audit_key_version_test.go
  internal/kms/repository_test.go
  internal/kms/store/audit_key.pb.go
  internal/kms/testing.go
  internal/perms/grants.go
  internal/proto/local/controller/storage/kms/store/v1/audit_key.proto
  internal/servers/controller/auth/auth.go
  internal/servers/controller/handlers/scopes/scope_service.go
Labels: core/iam, core/db, core, core/proto, core/servers, core/perms, core/kms, core/sql

#1654 Mask manager can now include mask paths w/ a specified prefix which would be filtered otherwise
  internal/servers/controller/handlers/mask_manager.go
  internal/servers/controller/handlers/mask_manager_test.go
Labels: core, core/servers

#1667 fix (migrations): Adjust migration numbers to remove dups
  internal/db/schema/migrations/oss/postgres/19/02_kms_audit.up.sql
Labels: core/db, core, core/sql

#1664 fix ineffectual assignment to err in DeleteCatalog
  internal/host/plugin/repository_host_catalog.go
Labels: core, core/host

#1669 fix (db): Clean up tests a bit
  internal/db/schema/internal/postgres/lock_test.go
  internal/db/schema/internal/postgres/testing_test.go
Labels: core/db, core

#1634 internal/host/plugin: Add UpdateCatalog
  internal/host/plugin/host_catalog_secret.go
  internal/host/plugin/host_catalog_secret_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
Labels: core, core/host

#1670 fix(schema): Prevent duplicate versions per edition
  internal/db/schema/internal/edition/edition.go
  internal/db/schema/internal/edition/edition_test.go
  internal/db/schema/internal/edition/testdata/invalid/duplicate-versions/0/01_initial.up.sql
  internal/db/schema/internal/edition/testdata/invalid/duplicate-versions/0/01_initial_also.up.sql
Labels: core/db, core, core/sql

#1672 internal/host/plugin: add update catalog test for empty/same description
  internal/host/plugin/repository_host_catalog_test.go
Labels: core, core/host

#1493 updating db init without generated resources example
  website/content/docs/installing/no-gen-resources.mdx
Labels: website, docs/installing

#1666 feature: Add signing (hmac-sha256) of audit entries
  go.mod
  go.sum
  internal/cmd/base/option.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/libs/crypto/error.go
  internal/observability/event/cloudevents_formatter_node.go
  internal/observability/event/cloudevents_formatter_node_test.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_test.go
  internal/observability/event/hclog_formatter_node.go
  internal/observability/event/hclog_formatter_node_test.go
  internal/observability/event/signer.go
  internal/servers/controller/controller.go
  sdk/go.mod
  sdk/go.sum
Labels: core, core/servers, core/lib

#1677 fix (events): Only "sign" audit events
  go.mod
  go.sum
  internal/observability/event/cloudevents_formatter_node.go
  internal/observability/event/cloudevents_formatter_node_test.go
  sdk/go.mod
  sdk/go.sum
Labels: core

#1682 Add redirect to managed groups domain model documentation
  website/redirects.js
Labels: website

#1681 feature (workers): Add audit events for worker requests
  Makefile
  internal/gen/controller/servers/services/session_service.pb.go
  internal/observability/event/cloudevents_formatter_node.go
  internal/observability/event/cloudevents_formatter_node_test.go
  internal/observability/event/hclog_formatter_node.go
  internal/observability/event/hclog_formatter_node_test.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/servers/controller/interceptor.go
  internal/servers/controller/interceptor_test.go
  internal/servers/controller/listeners.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core/gen, core, core/proto, core/servers

#1675 refactor (db): Remove the internal/db test tables from the migrations
  internal/db/read_writer_ext_test.go
  internal/db/read_writer_test.go
  internal/db/schema/migrations/oss/postgres/19/03_db.up.sql
  internal/db/testing.go
  internal/db/testing_test.go
  internal/oplog/testing_test.go
Labels: core/db, core/oplog, core, core/sql

#1673 Add update catalog support for plugin based catalogs in handler and go sdk
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/libs/patchstruct/patchstruct.go
  internal/libs/patchstruct/patchstruct_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/tests/api/hostcatalogs/host_catalog_test.go
  internal/tests/api/hosts/host_test.go
Labels: core, core/servers, core/host, core/lib

#1683 Call OnCreate or OnUpdate on the plugin after db constraints are checked
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#1686 internal/host/plugin: add UpdateSet
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#1680 Add sync interval to host sets
  api/hostsets/host_set.gen.go
  api/hostsets/option.gen.go
  globals/fields.go
  internal/cmd/commands/hostsetscmd/funcs.go
  internal/cmd/commands/hostsetscmd/plugin_funcs.go
  internal/db/read_writer.go
  internal/db/schema/migrations/oss/postgres/20/05_plugin_host.up.sql
  internal/db/schema/migrations/oss/postgres/20/06_preferred_endpoints.up.sql
  internal/gen/controller.swagger.json
  internal/host/plugin/host_set.go
  internal/host/plugin/host_set_test.go
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/query.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/store/host.pb.go
  internal/host/static/store/static.pb.go
  internal/libs/patchstruct/patchstruct_test.go
  internal/proto/local/controller/api/resources/hostsets/v1/host_set.proto
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/proto/local/controller/storage/host/static/store/v1/static.proto
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  sdk/pbs/controller/api/resources/hostsets/host_set.pb.go
Labels: api, core/db, core/gen, api/hostsets, core, core/proto, core/servers, core/host, core/lib, core/sql

#1688 Reference PreferredEndpoints by top level struct name
  internal/db/schema/migrations/oss/postgres/20/05_plugin_host.up.sql
  internal/db/schema/migrations/oss/postgres/20/06_plugin_host_views.up.sql
  internal/db/schema/migrations/oss/postgres/20/06_preferred_endpoints.up.sql
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/preferred_endpoint.go
  internal/host/preferred_endpoint_test.go
Labels: core/db, core, core/host, core/sql

#1687 docs (internal/db): Add docs Update/Delete operations using WithWhere
  internal/db/read_writer.go
  internal/db/read_writer_test.go
Labels: core/db, core

#1684 Add update set handler and sdk functionality
  internal/gen/controller.swagger.json
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/store/host.pb.go
  internal/host/static/store/static.pb.go
  internal/proto/local/controller/api/resources/hostsets/v1/host_set.proto
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/proto/local/controller/storage/host/static/store/v1/static.proto
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/tests/api/hostsets/host_set_test.go
  sdk/pbs/controller/api/resources/hostsets/host_set.pb.go
Labels: core/gen, core, core/proto, core/servers, core/host

#1695 feature (authmethod): Add managed grps perms to auth collection actions
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
Labels: core, core/servers

#1696 doc: [ssh] Use `%n` for ProxyCommand
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
Labels: website, docs/workflows

#1692 Fix bug for adding preferred endpoint when non existed prior.
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#1691 Fix secrets clearing bug in update. Changes to update count behavior for catalogs
  internal/host/plugin/loopback.go
  internal/host/plugin/loopback_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/tests/api/hostcatalogs/host_catalog_test.go
Labels: core, core/servers, core/host

#1698 Update sync interval seconds field.
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/tests/api/hostsets/host_set_test.go
Labels: core, core/servers, core/host

#1699 feature (db): Add WithOnConflict support to CreateItems(...)
  internal/db/read_writer.go
  internal/db/read_writer_ext_test.go
Labels: core/db, core

#1700 OnConflict constraints for adding host ip and dns names in upsertHosts
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/job_set_sync_test.go
Labels: core, core/host

#1701 Add DNS Names and IP Addresses to the CLI output.
  internal/cmd/commands/hostscmd/funcs.go
Labels: core

#1705 Add external ID to host output
  api/hosts/host.gen.go
  globals/fields.go
  internal/cmd/commands/hostscmd/funcs.go
  internal/gen/controller.swagger.json
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/plugin/loopback.go
  internal/proto/local/controller/api/resources/hosts/v1/host.proto
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
  internal/servers/controller/handlers/option_test.go
  internal/servers/controller/handlers/options.go
  sdk/pbs/controller/api/resources/hosts/host.pb.go
Labels: api, core/gen, core, core/proto, core/servers, core/host, api/hosts

#1706 Add more opts when using Create + WithOnConflict
  internal/db/option_test.go
  internal/db/read_writer.go
  internal/db/read_writer_ext_test.go
  internal/db/read_writer_test.go
Labels: core/db, core

#1707 Increment version of host during updates
  internal/db/schema/migrations/oss/postgres/20/06_plugin_host_views.up.sql
  internal/db/schema/migrations/oss/postgres/20/08_plugin_host_views.up.sql
  internal/host/plugin/host.go
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/plugin/repository_host_test.go
  internal/host/plugin/repository_host_util.go
  internal/host/plugin/store/host.pb.go
  internal/host/plugin/testing.go
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
Labels: core/db, core, core/proto, core/servers, core/host, core/sql

#1690 repo: Return connection informat in Session response object
  internal/db/schema/migrations/oss/postgres/20/01_session_list_view.up.sql
  internal/session/query.go
  internal/session/repository.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session.go
Labels: core/db, core/session, core, core/sql

#1709 rename migration from 01-09 after bad merge
  internal/db/schema/migrations/oss/postgres/20/09_session_list_view.up.sql
Labels: core/db, core, core/sql

#1711 fix (kms): Add kms.ReconcileKeys(...) to fix missing audit DEK scenario
  internal/kms/kms.go
  internal/kms/kms_ext_test.go
  internal/kms/repository.go
  internal/servers/controller/controller.go
  internal/servers/controller/controller_test.go
  internal/servers/controller/testing.go
Labels: core, core/servers, core/kms

#1717 update ui version
  internal/ui/VERSION
Labels: core/ui, core

#1712 Add secrets_hmac to host catalog output
  api/hostcatalogs/host_catalog.gen.go
  globals/fields.go
  internal/cmd/commands/hostcatalogscmd/funcs.go
  internal/db/read_writer.go
  internal/db/schema/migrations/oss/postgres/20/06_plugin_host_views.up.sql
  internal/db/schema/migrations/oss/postgres/20/08_plugin_host_views.up.sql
  internal/db/schema/migrations/oss/postgres/20/10_plugin_host_secrets_hmac.up.sql
  internal/gen/controller.swagger.json
  internal/host/plugin/host_catalog.go
  internal/host/plugin/host_catalog_test.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/store/host.pb.go
  internal/libs/crypto/hmac_sha256.go
  internal/libs/crypto/hmac_sha256_test.go
  internal/libs/crypto/options.go
  internal/libs/crypto/options_test.go
  internal/proto/local/controller/api/resources/hostcatalogs/v1/host_catalog.proto
  internal/proto/local/controller/storage/host/plugin/store/v1/host.proto
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  sdk/pbs/controller/api/resources/hostcatalogs/host_catalog.pb.go
Labels: api, core/db, core/gen, core, core/proto, core/servers, core/host, api/hostcatalogs, core/lib, core/sql

#1718 Use the correct collection actions response when updating host catalogs.
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
Labels: core, core/servers

#1719 fix (auth/oidc): Revert to working version of oidc acct upsert
  internal/auth/oidc/repository_auth_method.go
Labels: core/auth, core

#1720 Fix nil pointer error when listing by non existing host catalog.
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
Labels: core, core/servers

#1723 Fix CI error for TestUpdate_Plugin
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
Labels: core, core/servers

#1703 feat(sqltest): Make container port configurable
  internal/db/sqltest/Makefile
  internal/db/sqltest/README.md
Labels: core/db, core

#1725 Add plugin info on the CLI when reading a host.
  internal/cmd/commands/hostscmd/funcs.go
Labels: core

#1722 Update data-encryption documentation to clarify what is encrypted
  website/content/docs/concepts/security/data-encryption.mdx
Labels: website, docs/concepts

#1726 Set sync job still syncs when plugin reports no hosts in sets
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/plugin/repository_host_test.go
Labels: core, core/host

#1715 Add plugin details to host catalog, host set, and host domain model pages
  website/content/docs/concepts/domain-model/host-catalogs.mdx
  website/content/docs/concepts/domain-model/host-sets.mdx
  website/content/docs/concepts/domain-model/hosts.mdx
  website/content/docs/concepts/domain-model/sessions.mdx
Labels: website, docs/concepts

#1704 feat(credential): Use credential type when issuing credentials
  internal/credential/credential.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/db/schema/migrations/oss/postgres/19/05_vault_private_library.up.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_user_password_mapping_override.sql
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
Labels: core/db, core, core/sql

#1727 Add plugins configuration section to docs
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/plugins.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

#1728 Handle same-named options across subtypes
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
Labels: core

#1729 Add missing read only check on secrets hmac field in handler
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
Labels: core, core/servers

#1732 Don't always assume plugins should be activated
  internal/cmd/base/base.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/servers/controller/controller.go
  internal/servers/controller/testing.go
Labels: core, core/servers

#1733 Fix Windows
  internal/db/schema/migrations/base.go
Labels: core/db, core

#1734 Fix tests using multiple controllers
  internal/cmd/base/base.go
  internal/cmd/base/dev.go
  internal/cmd/commands/dev/dev.go
  internal/servers/controller/controller.go
  internal/servers/controller/testing.go
Labels: core, core/servers

#1737 Bump desktop client version on Boundary website
  website/data/version.js
Labels: website

#1735 internal/host/plugin: Fix TestUpdateSet
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#1739 Adding release notes for 0.7
  website/content/docs/releases/release-notes/v0_7_0.mdx
  website/data/docs-nav-data.json
Labels: website, docs/releases, website/cherrypick

#1741 refact(servers): Cleanup redundant if else
  internal/servers/controller/session_cleanup_job.go
Labels: core, core/servers

#1743 Fix setting plugin host catalog attributes to nil
  internal/host/plugin/repository_host_catalog.go
  internal/libs/patchstruct/patchstruct.go
  internal/libs/patchstruct/patchstruct_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
Labels: core, core/servers, core/host, core/lib

#1746 Fix setting nil attributes on host sets
  internal/host/plugin/repository_host_set.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  testing/controller/controller.go
Labels: core, core/servers, core/host

#1731 feature(config): Add go-sockaddr templating support to Controller and Worker Addresses
  CHANGELOG.md
  go.mod
  go.sum
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/worker.mdx
Labels: website, docs/configuration, core

#1736 internal/host/plugin: ensure UpdateCatalog triggers updates for sets
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
Labels: core, core/host

#1738 refactor (db): Remove unused gorm formatter
  internal/db/db.go
Labels: core/db, core
