Repository hashicorp/boundary, pull requests merged in 2021-04, with the labels that each got.

#1056 Ongoing OIDC: add IsPrimaryAuthMethod bool to AuthMethods returned from repos
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/password/authmethod.go
  internal/auth/password/options.go
  internal/auth/password/options_test.go
  internal/auth/password/repository_authmethod.go
  internal/auth/password/repository_authmethod_test.go
  internal/auth/password/store/password.pb.go
  internal/db/schema/migrations/postgres/2/100_pass.up.sql
  internal/db/schema/migrations/postgres/2/84_oidc.up.sql
  internal/db/schema/migrations/postgres/2/95_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/proto/local/controller/storage/auth/password/store/v1/password.proto
Labels: core, core/auth, core/db, core/proto

#1057 Add OIDC Start handler function
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/servers/controller/common/common.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/authmethods/password_test.go
Labels: core, core/auth, core/servers

#1060 Vault integration: add CredentialStore resources
  internal/credential/vault/client_certificate.go
  internal/credential/vault/client_certificate_test.go
  internal/credential/vault/credential_store.go
  internal/credential/vault/credential_store_test.go
  internal/credential/vault/doc.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/public_ids.go
  internal/credential/vault/query.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault_token.go
  internal/credential/vault/vault_token_test.go
  internal/db/schema/migrations/postgres/2/02_vault_credential.up.sql
  internal/db/schema/migrations/postgres/2/05_functions.down.sql
  internal/db/schema/migrations/postgres/2/05_functions.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/db, core/proto

#1045 OIDC Account Creation and Account go SDK
  api/accounts/oidc_account_attributes.gen.go
  api/accounts/option.gen.go
  internal/api/genapi/input.go
  internal/auth/oidc/account.go
  internal/auth/oidc/account_test.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/ids.go
  internal/auth/oidc/ids_test.go
  internal/auth/oidc/immutable_fields_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_test.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/service_token_request_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/db/schema/migrations/postgres/2/84_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/proto/local/controller/api/resources/accounts/v1/account.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/accounts/validate_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/tests/api/accounts/account_test.go
  website/content/docs/concepts/security/permissions.mdx
Labels: api, core, core/auth, core/db, core/gen, core/proto, core/servers, docs/concepts, website

#1059 refactor to use WithOrderByVersion(...)
  internal/db/read_writer.go
  internal/kms/kms.go
  internal/kms/option_test.go
  internal/kms/options.go
  internal/kms/repository.go
Labels: core, core/db, core/kms

#1058 refactor to use WithOrderByCreateTime(...)
  internal/session/options.go
  internal/session/options_test.go
  internal/session/repository.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
Labels: core, core/session

#1063 Remove calls to 't.Helper()' from test methods (not helpers)
  internal/auth/password/testing_test.go
  internal/host/static/testing_test.go
  internal/iam/testing_test.go
  internal/kms/testing_test.go
  internal/session/testing_test.go
  internal/target/testing_test.go
Labels: core, core/auth, core/host, core/iam, core/kms, core/session, core/target

#1044 Use pointers for any Uber atomic values
  internal/cmd/commands/connect/connect.go
  internal/servers/controller/controller.go
  internal/servers/worker/worker.go
Labels: core, core/servers

#1066 fix scopes double import
  internal/servers/controller/handlers/scopes/scope_service.go
Labels: core, core/servers

#1065 Vault integration: add CredentialLibrary resources
  internal/credential/vault/client_certificate_test.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/query.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault_lease.go
  internal/credential/vault/vault_lease_test.go
  internal/credential/vault/vault_token.go
  internal/credential/vault/vault_token_test.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/proto

#1064 CallbackUrl value object changed to ApiUrl field, Remove ID suffix to storage fields
  api/accounts/option.gen.go
  internal/auth/oidc/account.go
  internal/auth/oidc/account_test.go
  internal/auth/oidc/aud_claim_test.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/callback_url.go
  internal/auth/oidc/callback_url_test.go
  internal/auth/oidc/certificate_test.go
  internal/auth/oidc/immutable_fields_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/provider.go
  internal/auth/oidc/provider_test.go
  internal/auth/oidc/query.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_delete_test.go
  internal/auth/oidc/repository_auth_method_operational_state_test.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/service_test.go
  internal/auth/oidc/service_token_request_test.go
  internal/auth/oidc/signing_alg_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/db/schema/migrations/postgres/2/84_oidc.up.sql
  internal/db/schema/migrations/postgres/2/86_iam.up.sql
  internal/db/schema/migrations/postgres/2/90_auth_test.go
  internal/db/schema/migrations/postgres/2/95_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/iam/repository_scope_primary_auth_method_id_test.go
  internal/proto/local/controller/api/resources/accounts/v1/account.proto
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/accounts/validate_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/tests/api/accounts/account_test.go
  internal/tests/api/authmethods/authmethod_test.go
Labels: api, core, core/auth, core/db, core/gen, core/iam, core/proto, core/servers

#1069 Add OIDC Auth Method and Account CLI commands
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/store/oidc.pb.go
  internal/cmd/base/format.go
  internal/cmd/commands.go
  internal/cmd/commands/accountscmd/oidc_accounts.gen.go
  internal/cmd/commands/accountscmd/oidc_funcs.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/cmd/gencli/input.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/subtypes.go
  internal/tests/api/authmethods/authmethod_test.go
Labels: api, api/authmethods, core, core/auth, core/gen, core/proto, core/servers

#1071 Ongoing OIDC: authenticate token request handler
  internal/auth/oidc/service_token_request_test.go
  internal/auth/oidc/testing.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/servers/controller/common/common.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: core, core/auth, core/gen, core/proto, core/servers

#1076 Add is_primary field to auth methods
  api/authmethods/authmethods.gen.go
  internal/auth/subtype.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/authmethods/password_test.go
Labels: api, api/authmethods, core, core/auth, core/gen, core/proto, core/servers

#1074 Updates the StackMenu to the latest
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#1075 Check option is not nil before applying it
  api/accounts/option.gen.go
  api/authmethods/option.gen.go
  api/authtokens/option.gen.go
  api/groups/option.gen.go
  api/hostcatalogs/option.gen.go
  api/hosts/option.gen.go
  api/hostsets/option.gen.go
  api/roles/option.gen.go
  api/scopes/option.gen.go
  api/sessions/option.gen.go
  api/targets/option.gen.go
  api/users/option.gen.go
  internal/api/genapi/templates.go
Labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core

#1043 Style: Update brand colors
  website/components/branded-cta/branded-cta.module.css
  website/components/branded-cta/img/bg-pattern.svg
  website/components/homepage-hero/HomepageHero.module.css
  website/components/how-it-works/how-boundary-works-diagram/how-boundary-works-diagram.module.css
  website/components/how-it-works/how-boundary-works-diagram/index.jsx
  website/components/openapi-page/index.jsx
  website/package-lock.json
  website/package.json
  website/pages/_app.js
  website/pages/downloads/img/boundary-logo.svg
  website/pages/downloads/index.jsx
  website/pages/home/img/features/config-as-code.svg
  website/pages/home/img/features/identity-based-access.svg
  website/pages/home/img/features/managing-dynamic-environments.svg
  website/pages/home/img/features/platform-agnosticity.svg
  website/pages/home/img/features/session-management.svg
  website/pages/home/img/features/session-visibility.svg
  website/pages/home/img/logos/aws.svg
  website/pages/home/img/logos/azure.svg
  website/pages/home/img/logos/consul.svg
  website/pages/home/img/logos/gcp.svg
  website/pages/home/img/logos/github.svg
  website/pages/home/img/logos/kubernetes.svg
  website/pages/home/img/logos/more.svg
  website/pages/home/img/logos/okta.svg
  website/pages/home/img/logos/ping.svg
  website/pages/home/img/logos/terraform.svg
  website/pages/style.css
Labels: website

#1080 Errors: add Code and Kind for external system errors
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/errors/kind.go
  internal/errors/kind_test.go
Labels: core

#1082 provide consistent return across passwd and oidc token responses
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/password.go
Labels: core, core/servers

#1078 Add change-state command to oidc auth methods
  internal/cmd/commands.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: api, api/authmethods, api/scopes, core, core/auth, core/db, core/gen, core/iam, core/kms, core/oplog, core/proto, core/servers, core/session, core/types

#1073 Fix spelling errors found in the documentation
  website/content/docs/api-clients/api.mdx
  website/content/docs/api-clients/cli.mdx
  website/content/docs/common-workflows/manage-users-groups.mdx
  website/content/docs/concepts/security/connections-tls.mdx
  website/content/docs/getting-started/connect-to-target.mdx
  website/content/docs/getting-started/installing/production.mdx
  website/content/docs/getting-started/run-and-login.mdx
  website/content/docs/installing/high-availability.mdx
  website/content/docs/installing/no-gen-resources.mdx
  website/content/docs/installing/systemd.mdx
Labels: docs/concepts, docs/getting-started, docs/installing, docs/workflows, website

#1077 fix errors to conform with user facing error stds.
  internal/servers/controller/handlers/authmethods/oidc.go
Labels: core, core/servers

#1087 Don't send value objects for AM CLI when flag isn't set
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
Labels: core

#1085 Add API/CLI support for fetching token results
  internal/auth/oidc/service_token_request.go
  internal/auth/oidc/service_token_request_test.go
  internal/cmd/base/base.go
  internal/cmd/commands/authenticate/funcs.go
  internal/cmd/commands/authenticate/oidc.go
  internal/cmd/commands/authenticate/password.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/outgoing_interceptor.go
Labels: core, core/auth, core/servers

#1062 OIDC dev auth method + callback handler
  api/authmethods/oidc_auth_method_authenticate_start_response.gen.go
  go.sum
  internal/api/genapi/input.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/service_token_request.go
  internal/auth/oidc/service_token_request_test.go
  internal/cmd/base/base.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/servers.go
  internal/cmd/commands.go
  internal/cmd/commands/authenticate/funcs.go
  internal/cmd/commands/authenticate/oidc.go
  internal/cmd/commands/authenticate/password.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/dev/dev.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/outgoing_interceptor.go
  internal/servers/controller/multi_test.go
  internal/servers/controller/testing.go
  internal/tests/api/authmethods/authenticate_test.go
  internal/tests/api/authtokens/authtoken_test.go
  internal/ui/VERSION
  internal/website/permstable/permstable.go
  scripts/uigen.sh
  website/content/docs/concepts/security/permissions.mdx
Labels: api, api/authmethods, core, core/auth, core/gen, core/proto, core/servers, core/ui, docs/concepts, website

#1088 Add Dry Run Update OIDC Auth Method in API and CLI
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  website/content/docs/concepts/security/permissions.mdx
Labels: api, api/authmethods, core, core/auth, core/gen, core/proto, core/servers, docs/concepts, website

#1070 Refactor internal/servers/controller/handlers errors
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/mask_manager.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
Labels: core, core/servers

#1092 Revert "Refactor internal/servers/controller/handlers errors"
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/mask_manager.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
Labels: core, core/servers

#1094 send MaxAge when set for auth method
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
Labels: core, core/auth

#1095 Fix panic in non-generated API calls when printing as JSON
  CHANGELOG.md
  api/accounts/changepassword.go
  api/accounts/setpassword.go
  api/authmethods/authenticate.go
  api/authmethods/changestate.go
  api/targets/custom.go
  internal/cmd/base/format.go
  internal/cmd/commands/targetscmd/funcs.go
Labels: api, api/authmethods, api/targets, core

#1096 chore: bump UI commitish to latest
  internal/ui/VERSION
Labels: core, core/ui

#1091 Vault integration: test helpers and token renewal
  go.mod
  go.sum
  internal/credential/vault/vault.go
  internal/credential/vault/vault_test.go
  internal/credential/vault/vault_testing.go
  internal/credential/vault/vault_testing_test.go
Labels: core

#1040 Job Repo
  internal/db/schema/migrations/postgres/3/01_job.up.sql
  internal/db/schema/migrations/postgres/3/05_functions.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/db/testing.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/job/additional_verification_test.go
  internal/job/doc.go
  internal/job/ids.go
  internal/job/ids_test.go
  internal/job/immutable_fields_test.go
  internal/job/job.go
  internal/job/job_test.go
  internal/job/options.go
  internal/job/options_test.go
  internal/job/query.go
  internal/job/repository.go
  internal/job/repository_job.go
  internal/job/repository_job_test.go
  internal/job/repository_run.go
  internal/job/repository_run_test.go
  internal/job/repository_test.go
  internal/job/run.go
  internal/job/run_test.go
  internal/job/status.go
  internal/job/store/job.pb.go
  internal/job/testing.go
  internal/job/testing_test.go
  internal/proto/local/controller/storage/job/store/v1/job.proto
Labels: core, core/db, core/proto

#1097 properly handle ClientSecret updates
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
Labels: core, core/auth

#1100 Pass disable_discovered_config_validation in the API change-state call
  api/authmethods/changestate.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/authmethodscmd/funcs.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/local/controller/api/services/v1/auth_method_service.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/tests/api/authmethods/authmethod_test.go
Labels: api, api/authmethods, core, core/gen, core/proto, core/servers

#1103 Use 202 for token polling endpoint instead of 204
  internal/cmd/commands/authenticate/oidc.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/outgoing_interceptor.go
  website/content/docs/concepts/security/permissions.mdx
Labels: core, core/gen, core/proto, core/servers, docs/concepts, website

#1104 ensure that inbound auth method id matches request wrapper auth metho…
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/service_token_request.go
  internal/auth/oidc/service_token_request_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: core, core/auth, core/servers

#1105 Make oidc auth callback redirect on most errors
  api/authmethods/oidc_auth_method_authenticate_start_response.gen.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/service.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/testing.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  website/content/docs/concepts/security/permissions.mdx
Labels: api, api/authmethods, core, core/auth, core/proto, core/servers, docs/concepts, website

#1107 Auth Method Listing matches other resources, remove repeated "Version…
  internal/cmd/commands/authmethodscmd/funcs.go
Labels: core

#1106 Fix curl string building
  api/output_string.go
  website/content/docs/concepts/filtering/resource-listing.mdx
Labels: api, docs/concepts, website

#1109 regen proto
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
Labels: core, core/gen

#1111 Update misleading Authenticated bool with new name and explanation.
  internal/auth/auth.go
  internal/perms/acl.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
Labels: core, core/auth, core/perms, core/servers

#1108 Add more OIDC error output.
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/option_test.go
  internal/servers/controller/handlers/options.go
  internal/servers/controller/handlers/subtypes.go
Labels: core, core/servers

#1110 Filter inactive and private oidc auth methods from unauthenticated list requests
  internal/auth/auth.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/option.go
  internal/auth/options_test.go
  internal/cmd/base/initial_resources.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: core, core/auth, core/servers

#1113 update fmt formatting.
  website/content/docs/concepts/security/permissions.mdx
Labels: docs/concepts, website

#1115 add "Is Primary" to auth method CLI output
  internal/cmd/commands/authmethodscmd/funcs.go
Labels: core

#1114 Renumber migrations in the '2/' directory to start at 01
  internal/db/schema/migrations/postgres/2/01_log.up.sql
  internal/db/schema/migrations/postgres/2/03_oidc_enm.up.sql
  internal/db/schema/migrations/postgres/2/04_oidc.up.sql
  internal/db/schema/migrations/postgres/2/05_authtoken.up.sql
  internal/db/schema/migrations/postgres/2/06_iam.up.sql
  internal/db/schema/migrations/postgres/2/07_iam.up.sql
  internal/db/schema/migrations/postgres/2/07_iam_test.go
  internal/db/schema/migrations/postgres/2/10_auth.up.sql
  internal/db/schema/migrations/postgres/2/10_auth_test.go
  internal/db/schema/migrations/postgres/2/15_oidc.up.sql
  internal/db/schema/migrations/postgres/2/20_pass.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db

#1117 Allow oidc accounts to be add|set|removed to users.
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/users/user_service_test.go
Labels: core, core/servers

#1116 better api error codes from OIDC auth method update/change-state operations
  internal/servers/controller/handlers/authmethods/authmethod_service.go
Labels: core, core/servers

#1123 website: add support for tip.boundaryproject.io
  website/next.config.js
Labels: website, website/cherrypick

#1124 Backport of website: add support for tip.boundaryproject.io into stable-website
  website/next.config.js
Labels: website

#1121 By default, add Boundary Desktop's origin to allowed CORS origins
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Labels: core, docs/configuration, website

#1122 Restrict auth method listing for u_anon
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/option_test.go
  internal/servers/controller/handlers/options.go
Labels: core, core/servers

#1119 website: homepage updates
  website/components/how-it-works/feature/logo-list/logo-list.module.css
  website/pages/home/img/logos/aws-color.svg
  website/pages/home/img/logos/aws-gray.svg
  website/pages/home/img/logos/azure-color.svg
  website/pages/home/img/logos/azure-gray.svg
  website/pages/home/img/logos/consul-color.svg
  website/pages/home/img/logos/consul-gray.svg
  website/pages/home/img/logos/gcp-color.svg
  website/pages/home/img/logos/gcp-gray.svg
  website/pages/home/img/logos/github-gray.svg
  website/pages/home/img/logos/kubernetes-color.svg
  website/pages/home/img/logos/kubernetes-gray.svg
  website/pages/home/img/logos/more-gray.svg
  website/pages/home/img/logos/okta-color.svg
  website/pages/home/img/logos/okta-gray.svg
  website/pages/home/img/logos/ping-color.svg
  website/pages/home/img/logos/ping-gray.svg
  website/pages/home/img/logos/terraform-color.svg
  website/pages/home/img/logos/terraform-gray.svg
  website/pages/home/index.jsx
Labels: website, website/cherrypick

#1125 ui: Bump ui version to latest
  internal/ui/VERSION
Labels: core, core/ui

#1127 Update returned information in list responses for anon user
  CHANGELOG.md
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
Labels: core, core/servers

#1132 website: move tip config obj to proper place
  website/next.config.js
Labels: website, website/cherrypick

#1133 Backport of website: move tip config obj to proper place into stable-website
  website/next.config.js
Labels: website

#1118 Vault integration: add repository create credential store method
  internal/credential/vault/client_certificate.go
  internal/credential/vault/client_certificate_test.go
  internal/credential/vault/credential_store.go
  internal/credential/vault/credential_store_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/repository.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_test.go
  internal/credential/vault/vault_token.go
  internal/db/schema/migrations/postgres/5/02_vault_credential.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/db, core/proto

#1128 docs: desktop: Remove beta notification in getting started guide
  website/content/docs/api-clients/desktop.mdx
  website/content/docs/api-clients/index.mdx
Labels: website

#1134 Fix bug causing CORS to accept all origins by default
  CHANGELOG.md
  internal/servers/controller/cors_test.go
  internal/servers/controller/handler.go
Labels: core, core/servers

#1099 Refactor internal/servers/controller/handlers errors v2
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/mask_manager.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/users/user_service.go
Labels: core, core/servers

#1143 Add tests for common.BuildUpdatePaths
  internal/db/common/update_test.go
Labels: core, core/db

#1147 bump protoc to v3.15.8
  internal/auth/oidc/request/request.pb.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/password/store/argon2.pb.go
  internal/auth/password/store/password.pb.go
  internal/auth/store/account.pb.go
  internal/auth/store/auth_method.pb.go
  internal/authtoken/store/authtoken.pb.go
  internal/db/db_test/db_test.pb.go
  internal/db/timestamp/timestamp.pb.go
  internal/gen/controller/api/error.pb.go
  internal/gen/controller/api/resources/accounts/account.pb.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/gen/controller/api/resources/authtokens/authtoken.pb.go
  internal/gen/controller/api/resources/groups/group.pb.go
  internal/gen/controller/api/resources/hostcatalogs/host_catalog.pb.go
  internal/gen/controller/api/resources/hosts/host.pb.go
  internal/gen/controller/api/resources/hostsets/host_set.pb.go
  internal/gen/controller/api/resources/roles/role.pb.go
  internal/gen/controller/api/resources/scopes/scope.pb.go
  internal/gen/controller/api/resources/sessions/session.pb.go
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/api/resources/users/user.pb.go
  internal/gen/controller/api/services/account_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/authtokens_service.pb.go
  internal/gen/controller/api/services/group_service.pb.go
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/gen/controller/api/services/host_service.pb.go
  internal/gen/controller/api/services/host_set_service.pb.go
  internal/gen/controller/api/services/role_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/session_service.pb.go
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/user_service.pb.go
  internal/gen/controller/protooptions/options.pb.go
  internal/gen/controller/protooptions/testing.pb.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/gen/controller/tokens/tokens.pb.go
  internal/host/static/store/static.pb.go
  internal/host/store/host.pb.go
  internal/iam/store/group.pb.go
  internal/iam/store/group_member.pb.go
  internal/iam/store/principal_role.pb.go
  internal/iam/store/role.pb.go
  internal/iam/store/role_grant.pb.go
  internal/iam/store/scope.pb.go
  internal/iam/store/user.pb.go
  internal/kms/store/database_key.pb.go
  internal/kms/store/oidc_key.pb.go
  internal/kms/store/oplog_key.pb.go
  internal/kms/store/root_key.pb.go
  internal/kms/store/session_key.pb.go
  internal/kms/store/token_key.pb.go
  internal/oplog/any_operation.pb.go
  internal/oplog/oplog_test/oplog_test.pb.go
  internal/oplog/store/oplog.pb.go
  internal/proxy/proxy.pb.go
  internal/servers/servers.pb.go
  internal/target/store/target.pb.go
Labels: core, core/auth, core/db, core/gen, core/host, core/iam, core/kms, core/oplog, core/proxy, core/servers, core/target

#1140 website: add desktop download callout
  website/components/homepage-hero/HomepageHero.module.css
  website/components/merch-desktop-client/img/apple-logo.svg
  website/components/merch-desktop-client/index.jsx
  website/components/merch-desktop-client/merch-desktop-client.module.css
  website/data/version.js
  website/pages/downloads/index.jsx
  website/pages/home/index.jsx
  website/public/img/icon-right-arrow.svg
Labels: website, website/cherrypick

#1148 schema changes.
  internal/db/schema/migrations/postgres/3/01_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db

#1151 Use Go 1.16 native embedding and remove go-bindata
  .circleci/config.yml
  .circleci/config/@build-release.yml
  .gitignore
  Makefile
  ci/goinstall.sh
  depowners.md
  go.mod
  go.sum
  internal/servers/controller/handler_ui.go
  internal/ui/assets.go
  packages-oss.lock/layers/layers.mk
  packages-oss.lock/pkgs.yml
  packages-oss.yml
  scripts/uigen.sh
  tools/tools.go
Labels: core, core/servers, core/ui

#1145 Ongoing OIDC: return the primary account info along with the user.
  CHANGELOG.md
  api/users/user.gen.go
  go.mod
  go.sum
  internal/auth/password/argon2_test.go
  internal/auth/password/repository_account_test.go
  internal/auth/password/testing.go
  internal/auth/password/testing_test.go
  internal/authtoken/authtoken_test.go
  internal/authtoken/repository_test.go
  internal/authtoken/testing.go
  internal/cmd/commands/userscmd/funcs.go
  internal/db/schema/migrations/postgres/3/01_auth.up.sql
  internal/db/schema/migrations/postgres/3/02_iam.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/users/user.pb.go
  internal/iam/query.go
  internal/iam/repository_user.go
  internal/iam/repository_user_iam_pkg_test.go
  internal/iam/repository_user_test.go
  internal/iam/resource_test.go
  internal/iam/store/user.pb.go
  internal/iam/testing.go
  internal/iam/user.go
  internal/iam/user_test.go
  internal/proto/local/controller/api/resources/users/v1/user.proto
  internal/proto/local/controller/storage/iam/store/v1/user.proto
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/users/user_service_test.go
  internal/session/testing.go
  internal/tests/api/users/user_test.go
Labels: api, api/users, core, core/auth, core/db, core/gen, core/iam, core/proto, core/servers, core/session

#1154 fix primary account data returned for users when a passwd auth method is the primary auth method
  internal/db/schema/migrations/postgres/4/01_iam.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/iam/repository_user_test.go
Labels: core, core/db, core/iam

#1102 Add Job Scheduler
  Makefile
  internal/proto/local/controller/storage/job/store/v1/job.proto
  internal/scheduler/additional_verification_test.go
  internal/scheduler/doc.go
  internal/scheduler/job.go
  internal/scheduler/job/additional_verification_test.go
  internal/scheduler/job/doc.go
  internal/scheduler/job/ids.go
  internal/scheduler/job/ids_test.go
  internal/scheduler/job/immutable_fields_test.go
  internal/scheduler/job/job.go
  internal/scheduler/job/job_test.go
  internal/scheduler/job/options.go
  internal/scheduler/job/options_test.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository.go
  internal/scheduler/job/repository_job.go
  internal/scheduler/job/repository_job_test.go
  internal/scheduler/job/repository_run.go
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/job/repository_test.go
  internal/scheduler/job/run.go
  internal/scheduler/job/run_test.go
  internal/scheduler/job/status.go
  internal/scheduler/job/store/job.pb.go
  internal/scheduler/job/testing.go
  internal/scheduler/job/testing_test.go
  internal/scheduler/options.go
  internal/scheduler/options_test.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
  internal/scheduler/testing.go
  internal/servers/controller/controller.go
Labels: core, core/proto, core/servers

#1159 Website/Docs learn common workflows links
  website/data/docs-nav-data.json
  website/pages/home/index.jsx
Labels: website, website/cherrypick

#1152 Vault integration: add remaining repo CRUDL operations for credential store
  internal/credential/store/credential.pb.go
  internal/credential/vault/client_certificate.go
  internal/credential/vault/client_certificate_test.go
  internal/credential/vault/credential_store.go
  internal/credential/vault/credential_store_test.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_lease_test.go
  internal/credential/vault/vault_test.go
  internal/credential/vault/vault_testing.go
  internal/credential/vault/vault_testing_test.go
  internal/credential/vault/vault_token.go
  internal/credential/vault/vault_token_test.go
  internal/db/schema/migrations/postgres/5/02_vault_credential.down.sql
  internal/db/schema/migrations/postgres/5/02_vault_credential.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/db, core/proto

#1138 Add "no-op" action and use it as default for scope permissions
  CHANGELOG.md
  internal/cmd/base/initial_resources.go
  internal/iam/repository_scope.go
  internal/servers/controller/common/scopeids/scope_ids_test.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service_test.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/groups/group_service_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/roles/role_service_test.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/servers/controller/handlers/sessions/session_service_test.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/servers/controller/handlers/users/user_service.go
  internal/servers/controller/handlers/users/user_service_test.go
  internal/types/action/action.go
  internal/types/action/action_test.go
  website/content/docs/common-workflows/manage-roles.mdx
  website/content/docs/concepts/security/permissions.mdx
Labels: core, core/iam, core/servers, core/types, docs/concepts, docs/workflows, website

#1157 website: resolve unlinked content, add check
  .github/workflows/check-unlinked-content.js
  .github/workflows/check-unlinked-content.yml
  website/components/_temp-enable-hidden-pages/index.js
  website/data/docs-nav-data-hidden.json
  website/pages/docs/[[...page]].jsx
Labels: website, website/cherrypick

#1162 Add read:self and delete:self to auth tokens and add logout command
  CHANGELOG.md
  internal/cmd/base/base.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/keyring.go
  internal/cmd/commands.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/authtokenscmd/funcs.go
  internal/cmd/commands/config/token.go
  internal/cmd/commands/logout/logout.go
  internal/cmd/gencli/input.go
  internal/iam/repository_scope.go
  internal/perms/grants.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service_test.go
  internal/servers/controller/handlers/sessions/session_service.go
  internal/tests/cli/boundary/_auth_tokens.bash
  internal/tests/cli/boundary/auth_token.bats
  internal/tests/cli/boundary/roles.bats
  internal/types/action/action.go
  internal/types/action/action_test.go
Labels: core, core/iam, core/perms, core/servers, core/types

#1139 website: minor edits to "Installing" pages and "Go SDK" page
  website/content/docs/api-clients/go-sdk.mdx
  website/content/docs/installing/high-availability.mdx
  website/content/docs/installing/no-gen-resources.mdx
  website/content/docs/installing/postgres.mdx
  website/content/docs/installing/systemd.mdx
Labels: docs/installing, website

#1156 website: update readme
  website/README.md
Labels: website

#1164 Vault integration: add repository create credential library method
  internal/credential/vault/credential_library.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/store/vault.pb.go
  internal/db/schema/migrations/postgres/5/02_vault_credential.down.sql
  internal/db/schema/migrations/postgres/5/02_vault_credential.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/proto/local/controller/storage/credential/vault/store/v1/vault.proto
Labels: core, core/db, core/proto

#1155 Update delete action behavior and JSON format output
  CHANGELOG.md
  api/accounts/account.gen.go
  api/authmethods/authmethods.gen.go
  api/authtokens/authtokens.gen.go
  api/groups/group.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hosts/host.gen.go
  api/hostsets/host_set.gen.go
  api/response.go
  api/roles/role.gen.go
  api/scopes/scope.gen.go
  api/sessions/session.gen.go
  api/targets/target.gen.go
  api/users/user.gen.go
  internal/api/genapi/templates.go
  internal/cmd/base/format.go
  internal/cmd/commands/accountscmd/accounts.gen.go
  internal/cmd/commands/accountscmd/oidc_accounts.gen.go
  internal/cmd/commands/accountscmd/password_accounts.gen.go
  internal/cmd/commands/authenticate/funcs.go
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/oidc_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/groupscmd/groups.gen.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostscmd/hosts.gen.go
  internal/cmd/commands/hostscmd/static_hosts.gen.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/rolescmd/roles.gen.go
  internal/cmd/commands/scopescmd/scopes.gen.go
  internal/cmd/commands/sessionscmd/sessions.gen.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/commands/userscmd/users.gen.go
  internal/cmd/gencli/templates.go
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/account_service_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authtokens/authtoken_service.go
  internal/servers/controller/handlers/authtokens/authtoken_service_test.go
  internal/servers/controller/handlers/groups/group_service.go
  internal/servers/controller/handlers/groups/group_service_test.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service.go
  internal/servers/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/servers/controller/handlers/host_sets/host_set_service.go
  internal/servers/controller/handlers/host_sets/host_set_service_test.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/roles/role_service_test.go
  internal/servers/controller/handlers/scopes/scope_service.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  website/content/docs/api-clients/api.mdx
Labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core, core/servers, website

#1171 Ongoing OIDC: adds Claims Scopes API, SDK and CLI support
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/claims_scope.go
  internal/auth/oidc/claims_scope_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: api, api/authmethods, core, core/auth, core/gen, core/proto, core/servers

#1168 Ongoing OIDC: incorporate ClaimsScopes into the oidc repository
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/account_test.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/claims_scope.go
  internal/auth/oidc/claims_scope_test.go
  internal/auth/oidc/immutable_fields_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_operational_state.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/service_test.go
  internal/auth/oidc/service_token_request_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/db/schema/migrations/postgres/5/01_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: api, api/authmethods, core, core/auth, core/db, core/gen, core/proto, core/servers

#1175 Ongoing OIDC: support to request additional OIDC scopes from the IdP
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/account_test.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/claims_scope.go
  internal/auth/oidc/claims_scope_test.go
  internal/auth/oidc/immutable_fields_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_operational_state.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/service_test.go
  internal/auth/oidc/service_token_request_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/db/schema/migrations/postgres/5/01_oidc.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller/api/resources/authmethods/auth_method.pb.go
  internal/proto/local/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/local/controller/storage/auth/oidc/store/v1/oidc.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
Labels: api, api/authmethods, core, core/auth, core/db, core/gen, core/proto, core/servers

#1173 Vault integration: add repository RUDL methods for credential library
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
Labels: core

#1174 OIDC Callback Error Redirect
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/errors.go
  internal/servers/controller/handlers/marshler.go
Labels: core, core/servers
