Repository hashicorp/boundary, pull requests merged in 2021-01, with the labels that each got.

#845 Remove erronious IsGlobalUnicast check.
  CHANGELOG.md
  internal/cmd/commands/server/server.go
Labels: core

#849 Correct assert.Equal actual/expected
  internal/db/read_writer_test.go
  internal/db/timestamp/scanners_test.go
  internal/kms/repository_test.go
  internal/oplog/oplog_test.go
  internal/oplog/queue_test.go
  internal/oplog/ticketer_gorm_test.go
  internal/oplog/type_catalog_test.go
  internal/oplog/writer_test.go
  internal/session/repository_test.go
  internal/target/repository_test.go
Labels: core, core/db, core/kms, core/oplog, core/session, core/target

#850 [Docs] Common workflow update
  website/data/docs-navigation.js
Labels: website

#851 ICU-934/Verify controller config block
  CHANGELOG.md
  internal/cmd/commands/database/init.go
Labels: core

#855 Fix worker example config
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration, website, website/cherrypick

#857 Backport of Fix worker example config into stable-website
  website/content/docs/configuration/worker.mdx
Labels: docs/configuration, website

#858 Skip curl output when using automatic versioning and reading
  CHANGELOG.md
  Makefile
  api/accounts/account.gen.go
  api/accounts/option.gen.go
  api/authmethods/authmethods.gen.go
  api/authmethods/option.gen.go
  api/authtokens/authtokens.gen.go
  api/authtokens/option.gen.go
  api/client.go
  api/groups/group.gen.go
  api/groups/option.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hostcatalogs/option.gen.go
  api/hosts/host.gen.go
  api/hosts/option.gen.go
  api/hostsets/host_set.gen.go
  api/hostsets/option.gen.go
  api/options.go
  api/roles/option.gen.go
  api/roles/role.gen.go
  api/scopes/option.gen.go
  api/scopes/scope.gen.go
  api/sessions/option.gen.go
  api/sessions/session.gen.go
  api/targets/option.gen.go
  api/targets/target.gen.go
  api/users/option.gen.go
  api/users/user.gen.go
  internal/api/genapi/templates.go
Labels: api, api/authmethods, api/authtokens, api/groups, api/hostcatalogs, api/hosts, api/hostsets, api/roles, api/scopes, api/sessions, api/targets, api/users, core

#860 Groundwork for returning authorized actions
  api/targets/target.gen.go
  internal/auth/additional_verification_test.go
  internal/auth/auth.go
  internal/auth/option.go
  internal/auth/options_test.go
  internal/cmd/commands/targets/funcs.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/target_service_test.go
  internal/types/action/action.go
  internal/types/action/action_test.go
Labels: api, api/targets, core, core/auth, core/gen, core/proto, core/servers, core/types

#854 ICU-747,ICU-748/refactor internal/oplog and internal/perms to use domain errors
  CHANGELOG.md
  internal/db/read_writer.go
  internal/db/read_writer_test.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/errors/kind.go
  internal/oplog/oplog.go
  internal/oplog/oplog_test.go
  internal/oplog/queue.go
  internal/oplog/queue_test.go
  internal/oplog/ticketer.go
  internal/oplog/ticketer_gorm_test.go
  internal/oplog/type_catalog.go
  internal/oplog/type_catalog_test.go
  internal/oplog/writer.go
  internal/oplog/writer_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
Labels: core, core/db, core/oplog, core/perms

#863 Website StackMenu updates for 1/14
  website/package-lock.json
  website/package.json
Labels: website, website/cherrypick

#864 Backport of Website StackMenu updates for 1/14 into stable-website
  website/package-lock.json
  website/package.json
Labels: website

#871 Document Postgres permission requirements
  website/content/docs/installing/postgres.mdx
Labels: docs/installing, website

#873 Switch to execabs for os/exec in connect cmd
  CHANGELOG.md
  go.mod
  go.sum
  internal/cmd/commands/connect/connect.go
Labels: core

#875 Fix lockup when initalizing database
  internal/cmd/commands/database/init.go
Labels: core

#862 Add worker tagging
  CHANGELOG.md
  Makefile
  api/targets/option.gen.go
  api/targets/target.gen.go
  go.mod
  go.sum
  internal/api/genapi/Makefile
  internal/cmd/commands/server/server.go
  internal/cmd/commands/targets/funcs.go
  internal/cmd/commands/targets/tcp.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/db/domains_test.go
  internal/db/read_writer.go
  internal/db/schema/migrations/generate/Makefile
  internal/db/schema/migrations/postgres/0/41_targets.up.sql
  internal/db/schema/migrations/postgres/0/50_session.up.sql
  internal/db/schema/migrations/postgres/dev/01_server_tags_migrations.down.sql
  internal/db/schema/migrations/postgres/dev/01_server_tags_migrations.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/resources/targets/target.pb.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/proto/local/controller/servers/services/v1/server_coordination_service.proto
  internal/proto/local/controller/servers/services/v1/session_service.proto
  internal/proto/local/controller/servers/v1/servers.proto
  internal/proto/local/controller/storage/target/store/v1/target.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/testing.go
  internal/servers/options.go
  internal/servers/options_test.go
  internal/servers/query.go
  internal/servers/repository.go
  internal/servers/repository_test.go
  internal/servers/servers.pb.go
  internal/servers/worker/session.go
  internal/servers/worker/status.go
  internal/servers/worker/worker.go
  internal/session/session.go
  internal/session/testing.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository_tcp_target.go
  internal/target/store/target.pb.go
  internal/target/target.go
  internal/target/tcp_target.go
  internal/tests/cluster/multi_controller_worker_test.go
  internal/tests/cluster/util.go
  internal/tests/cluster/worker_tagging_test.go
  sdk/strutil/strutil.go
  sdk/strutil/strutil_test.go
Labels: api, api/targets, core, core/db, core/gen, core/proto, core/servers, core/session, core/target

#859 Adding roadmap and release notes updates
  website/content/docs/releases/release-notes/index.mdx
  website/content/docs/roadmap.mdx
Labels: docs/releases, website, website/cherrypick

#879 Add scope repo function to recursively list
  internal/iam/repository_scope.go
  internal/iam/repository_scope_test.go
Labels: core, core/iam

#865 ICU-744/Refactor internal/target to new domain errors
  internal/target/ids.go
  internal/target/repository.go
  internal/target/repository_tcp_target.go
  internal/target/repository_tcp_target_test.go
  internal/target/repository_test.go
  internal/target/target.go
  internal/target/target_host_set.go
  internal/target/tcp_target.go
  internal/target/tcp_target_test.go
Labels: core, core/target

#882 Add read/list/cancel:self actions and support for ACL subactions.
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants_test.go
  internal/types/action/action.go
  internal/types/action/action_test.go
  internal/website/permstable/permstable.go
  website/content/docs/concepts/security/permissions.mdx
Labels: core, core/perms, core/types, docs/concepts, website

#881 Add recursive listing to roles
  api/roles/option.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/auth/additional_verification_test.go
  internal/auth/auth.go
  internal/cmd/base/base.go
  internal/cmd/commands/roles/role.go
  internal/cmd/common/flags.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/role_service.pb.go
  internal/iam/repository_role.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/repository_scope_test.go
  internal/proto/local/controller/api/services/v1/role_service.proto
  internal/servers/controller/handlers/roles/role_service.go
  internal/servers/controller/handlers/roles/role_service_test.go
  internal/servers/controller/handlers/scopes/scope_service_test.go
Labels: api, api/roles, core, core/auth, core/gen, core/iam, core/proto, core/servers

#872 Adding Migrate Command
  CHANGELOG.md
  internal/cmd/base/servers.go
  internal/cmd/commands.go
  internal/cmd/commands/database/funcs.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/db/schema/manager.go
  internal/db/schema/manager_test.go
  internal/db/schema/migrations/generate/generate.go
  internal/db/schema/postgres/postgres.go
  internal/db/schema/postgres/postgres_test.go
  internal/db/schema/postgres/testing.go
  internal/db/schema/postgres_migration.gen.go
  internal/db/schema/schema.go
  internal/db/schema/schema_test.go
  internal/db/schema/state.go
  internal/db/schema/statement.go
  internal/db/schema/statement_test.go
  internal/db/testing.go
  internal/oplog/README.md
  internal/servers/controller/testing.go
Labels: core, core/db, core/oplog, core/servers

#884 add a new oidc key+ key version for encrypting oidc state payloads returned in auth URLs.
  Makefile
  internal/db/schema/migrations/postgres/dev/82_kms.down.sql
  internal/db/schema/migrations/postgres/dev/82_kms.up.sql
  internal/db/schema/postgres_migration.gen.go
  internal/kms/const.go
  internal/kms/ids.go
  internal/kms/ids_test.go
  internal/kms/immutable_fields_test.go
  internal/kms/oidc_key.go
  internal/kms/oidc_key_test.go
  internal/kms/oidc_key_version.go
  internal/kms/oidc_key_version_test.go
  internal/kms/repository.go
  internal/kms/repository_oidc_key.go
  internal/kms/repository_oidc_key_test.go
  internal/kms/repository_oidc_key_version.go
  internal/kms/repository_oidc_key_version_test.go
  internal/kms/repository_test.go
  internal/kms/store/oidc_key.pb.go
  internal/kms/testing.go
  internal/proto/local/controller/storage/kms/store/v1/oidc_key.proto
Labels: core, core/db, core/kms, core/proto

#874 oidc schema changes.
  internal/db/domains_test.go
  internal/db/schema/migrations/postgres/dev/80_domains.down.sql
  internal/db/schema/migrations/postgres/dev/80_domains.up.sql
  internal/db/schema/migrations/postgres/dev/82_kms.up.sql
  internal/db/schema/migrations/postgres/dev/83_oidc_enm.down.sql
  internal/db/schema/migrations/postgres/dev/83_oidc_enm.up.sql
  internal/db/schema/migrations/postgres/dev/84_oidc.down.sql
  internal/db/schema/migrations/postgres/dev/84_oidc.up.sql
  internal/db/schema/migrations/postgres/dev/85_authtoken.down.sql
  internal/db/schema/migrations/postgres/dev/85_authtoken.up.sql
  internal/db/schema/migrations/postgres/dev/86_iam.down.sql
  internal/db/schema/migrations/postgres/dev/86_iam.up.sql
  internal/db/schema/postgres_migration.gen.go
Labels: core, core/db

#887 Wrap postgres up migrations into a single transaction
  internal/db/schema/manager.go
  internal/db/schema/manager_test.go
  internal/db/schema/migrations/generate/generate.go
  internal/db/schema/migrations/postgres/0/41_targets.up.sql
  internal/db/schema/postgres/postgres.go
  internal/db/schema/postgres/postgres_test.go
  internal/db/schema/postgres/testing.go
  internal/db/schema/postgres_migration.gen.go
  internal/db/schema/schema_test.go
Labels: core, core/db

#889 Support upgrading from old migration table name
  internal/cmd/commands/database/funcs.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/server/server.go
  internal/db/schema/manager.go
  internal/db/schema/manager_test.go
  internal/db/schema/postgres/postgres.go
  internal/db/schema/postgres/postgres_test.go
  internal/db/schema/postgres/testing.go
Labels: core, core/db

#892 Removing dev migration feature and checks
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/db/schema/manager_test.go
  internal/db/schema/migrations/generate/generate.go
  internal/db/schema/postgres_migration.gen.go
  internal/db/schema/state.go
  internal/db/schema/state_test.go
Labels: core, core/db

#891 Fix examples in website
  website/content/docs/installing/no-gen-resources.mdx
Labels: docs/installing, website

#893 test: add tests for authorized-actions listing on resources
  internal/tests/cli/boundary/_authorized_actions.bash
  internal/tests/cli/boundary/_groups.bash
  internal/tests/cli/boundary/_host_catalogs.bash
  internal/tests/cli/boundary/_host_sets.bash
  internal/tests/cli/boundary/_hosts.bash
  internal/tests/cli/boundary/_roles.bash
  internal/tests/cli/boundary/_scopes.bash
  internal/tests/cli/boundary/_targets.bash
  internal/tests/cli/boundary/_users.bash
  internal/tests/cli/boundary/groups.bats
  internal/tests/cli/boundary/host_catalogs.bats
  internal/tests/cli/boundary/host_sets.bats
  internal/tests/cli/boundary/hosts.bats
  internal/tests/cli/boundary/roles.bats
  internal/tests/cli/boundary/scopes.bats
  internal/tests/cli/boundary/target.bats
  internal/tests/cli/boundary/user.bats
Labels: core

#895 chore: bump ui commitish to latest from boundary-ui/main
  internal/ui/VERSION
Labels: core, core/ui
