Repository hashicorp/boundary, pull requests merged in 2022-07, with the labels that each got.

#2241 Add worker resource to perms table
  internal/website/permstable/permstable.go
  website/content/docs/concepts/security/permissions/resource-table.mdx
Labels: website, docs/concepts, core

#2242 Bump UI version
  internal/ui/VERSION
Labels: core/ui, core

#2176 feat(config): Add database config options for idle connection management
  internal/cmd/base/servers.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/db/db.go
  internal/db/db_test.go
  internal/db/option.go
  internal/db/option_test.go
  internal/db/schema/migrations/oss/postgres_26_01_test.go
  internal/db/schema/migrations/oss/postgres_30_01_test.go
  internal/db/schema/migrations/oss/postgres_32_01_test.go
  internal/db/testing.go
  website/content/docs/configuration/controller.mdx
Labels: website, core/db, docs/configuration, core

#2236 feat(worker): add/set/delete repo worker tags
  internal/proto/controller/storage/servers/store/v1/worker.proto
  internal/server/repository_worker.go
  internal/server/store/worker.pb.go
  internal/server/worker_tags_test.go
Labels: core, core/proto, core/server

#2234 feat: set default connection limit to -1 instead of 1
  CHANGELOG.md
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/0/41_targets.up.sql
  internal/db/schema/migrations/oss/postgres/37/01_set_unlimited_connections_limit.up.sql
  internal/db/sqltest/tests/wh/credential_dimension_views/source.sql
  internal/db/sqltest/tests/wh/host_dimension_views/source.sql
  internal/session/repository_session_test.go
  internal/session/service_authorize_connection_test.go
  internal/session/service_close_connections_test.go
  internal/target/options.go
  internal/target/tcp/target_test.go
  website/content/docs/concepts/domain-model/targets.mdx
Labels: website, docs/concepts, core/db, core/session, core, core/target, core/sql, core/daemon

#2244 Add managed worker address fetching
  internal/daemon/worker/status.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/server_coordination_service_grpc.pb.go
  internal/proto/controller/servers/services/v1/server_coordination_service.proto
Labels: core/gen, core, core/proto, core/daemon

#2245 Update against new nodee conn type
  go.mod
  go.sum
  internal/daemon/controller/intercepting_listener.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

#2246 Add client next protos to KMS connection info
  go.mod
  go.sum
  internal/daemon/controller/intercepting_listener.go
  internal/daemon/controller/worker_tls_config.go
Labels: core, core/daemon

#2252 Add WithType to worker listing
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/worker/status.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/server_coordination_service_grpc.pb.go
  internal/proto/controller/servers/services/v1/server_coordination_service.proto
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
  internal/server/worker.go
Labels: core/gen, core, core/proto, core/daemon, core/server

#2216 Have fallback eventing use json format
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_gate_test.go
  internal/observability/event/eventer_retry_test.go
  internal/observability/event/eventer_test.go
  internal/observability/event/testing.go
Labels: core

#2249 Boundary documentation: content cleanup in prep for devdot migration
  website/content/docs/api-clients/cli.mdx
  website/content/docs/api-clients/go-sdk.mdx
  website/content/docs/concepts/domain-model/groups.mdx
  website/content/docs/concepts/domain-model/managed-groups.mdx
  website/content/docs/concepts/domain-model/roles.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
  website/content/docs/concepts/domain-model/sessions.mdx
  website/content/docs/concepts/filtering/events.mdx
  website/content/docs/concepts/filtering/oidc-managed-groups.mdx
  website/content/docs/concepts/filtering/resource-listing.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/concepts/security/connections-tls.mdx
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/transit.mdx
  website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/worker/kms-worker.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/content/docs/getting-started/connect-to-target.mdx
  website/content/docs/getting-started/deploy-and-login.mdx
  website/content/docs/getting-started/index.mdx
  website/content/docs/oss/index.mdx
  website/content/docs/oss/operations/metrics.mdx
  website/content/docs/what-is-boundary.mdx
Labels: docs/getting-started, website, docs/concepts, docs/configuration, backport/website

#2248 feat(workers): implement worker service add/set/remove api tags
  api/workers/worker.gen.go
  globals/fields.go
  internal/api/genapi/parse.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/worker_service.pb.go
  internal/gen/controller/api/services/worker_service.pb.gw.go
  internal/gen/controller/api/services/worker_service_grpc.pb.go
  internal/proto/controller/api/resources/workers/v1/worker.proto
  internal/proto/controller/api/services/v1/worker_service.proto
  internal/server/repository_worker.go
  internal/server/worker.go
  internal/types/action/action.go
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: api, core/gen, core, core/proto, core/types, core/daemon, core/server

#2256 Migrate plugin host/set/catalog prefixes to typed
  CHANGELOG.md
  internal/credential/static/options.go
  internal/credential/static/public_ids.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/testing.go
  internal/credential/static/usernamepassword_credential_test.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/host/plugin/ids.go
  internal/tests/api/credentials/credentials_test.go
Labels: core, core/host, core/daemon

#2263 Add ssh_private_key support for Vault libraries and to targets
  internal/credential/credential.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/internal/sshprivatekey/doc.go
  internal/credential/vault/internal/sshprivatekey/sshprivatekey.go
  internal/credential/vault/internal/sshprivatekey/sshprivatekey_test.go
  internal/credential/vault/internal/usernamepassword/usernamepassword.go
  internal/credential/vault/internal/usernamepassword/usernamepassword_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/store/vault.pb.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/36/02_vault_private_library.up.sql
  internal/db/schema/migrations/oss/postgres/39/02_vault_ssh_private_key_override.up.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_ssh_private_key_mapping_override.sql
  internal/gen/controller/servers/services/credential.pb.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/servers/services/v1/credential.proto
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core/db, core/gen, core, core/proto, core/sql, core/daemon

#2265 Add ssh private key to CLI
  api/credentials/option.gen.go
  api/credentials/ssh_private_key_attributes.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/credentialscmd/funcs.go
  internal/cmd/commands/credentialscmd/ssh-private-key_credentials.gen.go
  internal/cmd/commands/credentialscmd/ssh-private-key_funcs.go
  internal/cmd/commands/credentialscmd/username-password_credentials.gen.go
  internal/cmd/commands/credentialscmd/username-password_funcs.go
  internal/cmd/gencli/input.go
  internal/cmd/gencli/templates.go
  internal/credential/static/ssh_private_key_credential.go
  internal/daemon/controller/handlers/credentials/credential_service.go
Labels: api, core, core/daemon

#2260 feat(credentials): Refactor credential purposes
  CHANGELOG.md
  api/targets/option.gen.go
  api/targets/target.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/credential/credential.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/setup_manual_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/db/schema/migrations/oss/postgres/10/03_credential.up.sql
  internal/db/schema/migrations/oss/postgres/40/01_credential.up.sql
  internal/db/schema/migrations/oss/postgres/40/02_wh_credential.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/credential_dimension/dimension.sql
  internal/db/sqltest/tests/wh/credential_dimension/session_multiple_sessions.sql
  internal/db/sqltest/tests/wh/credential_dimension/session_update.sql
  internal/db/sqltest/tests/wh/credential_dimension/three_credentials_one_change.sql
  internal/db/sqltest/tests/wh/credential_dimension_views/source.sql
  internal/db/sqltest/tests/wh/credential_dimension_views/target.sql
  internal/db/sqltest/tests/wh/session_credential_dynamic/insert.sql
  internal/db/sqltest/tests/wh/session_credential_dynamic/insert_multiple.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/target_service.pb.go
  internal/host/static/repository_host_set_member.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/target_service.proto
  internal/session/repository_session_test.go
  internal/target/credential_library_test.go
  internal/target/credential_source.go
  internal/target/credential_test.go
  internal/target/options_test.go
  internal/target/repository_credential_source.go
  internal/target/repository_credential_source_test.go
  internal/target/tcp/register.go
  internal/target/tcp/repository_credential_source_test.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/target/testing.go
  internal/tests/api/targets/classification_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/cli/boundary/_target_credential_sources.bash
  internal/tests/cli/boundary/target_credential_sources.bats
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, core/db, core/gen, core/session, core, core/proto, core/host, core/target, api/targets, core/sql, core/daemon

#2098 Update overview.mdx
  website/content/docs/configuration/events/overview.mdx
Labels: website, docs/configuration

#2099 Update common.mdx
  website/content/docs/configuration/events/common.mdx
Labels: website, docs/configuration

#2267 feat(cli): Support using brokered private key in ssh subcommand
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/credentials.go
  internal/cmd/commands/connect/credentials_test.go
  internal/cmd/commands/connect/funcs.go
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/connect/ssh.go
Labels: core

#2272 chore: create redirect credential docs
  website/redirects.js
Labels: website

#2274 bug(cli): Correctly generate private key file
  internal/cmd/commands/connect/ssh.go
Labels: core

#2275 feature (server): add new error codes for downstream workers DAG
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/server/options.go
  internal/server/options_test.go
Labels: core, core/server

#2278 feature (server): add additional option for downstream workers DAG
  internal/server/options.go
  internal/server/options_test.go
Labels: core, core/server

#2280 Update against new version of nodeenrollment split listener
  go.mod
  go.sum
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

#2288 Add some safety checks in server command
  internal/cmd/commands/server/server.go
Labels: core

#2286 fix(cli) check error value from command func
  internal/cmd/commands/accountscmd/accounts.gen.go
  internal/cmd/commands/accountscmd/oidc_accounts.gen.go
  internal/cmd/commands/accountscmd/password_accounts.gen.go
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/oidc_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/credentiallibrariescmd/credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault_credentiallibraries.gen.go
  internal/cmd/commands/credentialscmd/credentials.gen.go
  internal/cmd/commands/credentialscmd/ssh-private-key_credentials.gen.go
  internal/cmd/commands/credentialscmd/username-password_credentials.gen.go
  internal/cmd/commands/credentialstorescmd/credentialstores.gen.go
  internal/cmd/commands/credentialstorescmd/static_credentialstores.gen.go
  internal/cmd/commands/credentialstorescmd/vault_credentialstores.gen.go
  internal/cmd/commands/groupscmd/groups.gen.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/plugin_hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostscmd/hosts.gen.go
  internal/cmd/commands/hostscmd/static_hosts.gen.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/plugin_hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/managedgroupscmd/managedgroups.gen.go
  internal/cmd/commands/managedgroupscmd/oidc_managedgroups.gen.go
  internal/cmd/commands/rolescmd/roles.gen.go
  internal/cmd/commands/scopescmd/scopes.gen.go
  internal/cmd/commands/sessionscmd/funcs.go
  internal/cmd/commands/sessionscmd/sessions.gen.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/ssh_targets.gen.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/commands/userscmd/users.gen.go
  internal/cmd/commands/workerscmd/worker-led_workers.gen.go
  internal/cmd/commands/workerscmd/workers.gen.go
  internal/cmd/gencli/templates.go
Labels: core

#2277 feat(vault): Add unimplemented worker filter support
  api/credentialstores/option.gen.go
  api/credentialstores/vault_credential_store_attributes.gen.go
  internal/cmd/commands/credentialstorescmd/funcs.go
  internal/cmd/commands/credentialstorescmd/vault_funcs.go
  internal/credential/vault/credential_store.go
  internal/credential/vault/fields.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/private_credential.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_store.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/store/vault.pb.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/db/schema/migrations/oss/postgres/10/04_vault_credential.up.sql
  internal/db/schema/migrations/oss/postgres/39/02_vault_ssh_private_key_override.up.sql
  internal/db/schema/migrations/oss/postgres/41/01_worker_filter_vault_cred_store.up.sql
  internal/proto/controller/api/resources/credentialstores/v1/credential_store.proto
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
  sdk/pbs/controller/api/resources/credentialstores/credential_store.pb.go
Labels: api, core/db, core, core/proto, core/sql, core/daemon

#2287 docs(credentials): Update website domain docs
  website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/domain-model/credentials.mdx
Labels: website, docs/concepts

#2264 Boundary documentation: modified Boundary's overview page
  website/content/docs/concepts/index.mdx
  website/content/docs/use-cases.mdx
  website/content/docs/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/package-lock.json
  website/public/img/boundary-core-workflow.png
Labels: website, docs/concepts, backport/website

#2289 When allowed_origins is "*" use that in response
  internal/daemon/controller/cors_test.go
  internal/daemon/controller/handler.go
Labels: core, core/daemon

#2291 bug(vault): Fix token len check
  internal/credential/vault/vault.go
  internal/credential/vault/vault_test.go
Labels: core

#2259 Boundary documentation: updated domain model page
  website/content/docs/concepts/domain-model/index.mdx
  website/public/img/component-relationship.png
Labels: website, docs/concepts, backport/website

#2293 fix(cli) check error value in executeExtraActionsImpl funcs
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/groupscmd/funcs.go
  internal/cmd/commands/hostsetscmd/funcs.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/cmd/commands/userscmd/funcs.go
Labels: core

#2295 boundary documentation: updated image for domain model page
  website/public/img/component-relationship.png
Labels: website, backport/website

#2297 fix(creds) fix unit test for ssh private key creds
  internal/credential/static/repository_credential_test.go
Labels: core

#2301 fix(test) uncomment ro tests for cred update
  internal/daemon/controller/handlers/credentials/credential_service_test.go
Labels: core, core/daemon

#2282 [QTI-220] Add infrastructure integration testing
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .gitignore
  enos/Makefile
  enos/README.md
  enos/enos-variables.hcl
  enos/enos.hcl
  enos/enos.vars.hcl
  enos/modules/az_finder/main.tf
  enos/modules/bats_deps/main.tf
  enos/modules/binary_finder/main.tf
  enos/modules/build_crt/main.tf
  enos/modules/build_local/main.tf
  enos/modules/build_local/templates/build.sh
  enos/modules/random_stringifier/main.tf
  enos/modules/target/main.tf
  enos/modules/test_cli_ui/tests.tf
  enos/modules/test_smoke/README.md
  enos/modules/test_smoke/main.tf
  enos/templates/connect-target.sh
  enos/templates/get-token.sh
  internal/tests/cli/boundary/_helpers.bash
  internal/tests/cli/boundary/groups.bats
  internal/tests/cli/boundary/roles.bats
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

#2299 Add methods to get attributes more easily in Go API
  api/accounts/oidc_account_attributes.gen.go
  api/accounts/password_account_attributes.gen.go
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/password_auth_method_attributes.gen.go
  api/credentiallibraries/vault_credential_library_attributes.gen.go
  api/credentials/ssh_private_key_attributes.gen.go
  api/credentials/username_password_attributes.gen.go
  api/credentialstores/vault_credential_store_attributes.gen.go
  api/hosts/static_host_attributes.gen.go
  api/managedgroups/oidc_managed_group_attributes.gen.go
  api/targets/ssh_target_attributes.gen.go
  api/targets/tcp_target_attributes.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
Labels: api, core, api/targets, api/authmethods, api/hosts

#2304 Update Go version info on building page
  website/content/docs/oss/developing/building.mdx
Labels: website

#2305 Fix some missing net.JoinHostPort calls
  api/client.go
  internal/daemon/worker/testing.go
Labels: api, core, core/daemon

#2303 Remove `-token` flag
  internal/cmd/base/base.go
Labels: core

#2309 Merging ENT updates back into OSS
  .github/workflows/build.yml
  internal/ui/VERSION
  version/version_base.go
Labels: core/ui, core

#2307 chore: bump UI version to latest
  internal/ui/VERSION
Labels: core/ui, core

#2310 chore: bump ui version
  internal/ui/VERSION
Labels: core/ui, core
