Repository hashicorp/boundary, pull requests merged in 2022-11, with the labels that each got.

#2584 fix(test): Retry websocket connection due to flaky failure
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/tests/helper/testing_helper.go
Labels: core

#2596 fix host sets command sample command
  internal/cmd/commands/hostsetscmd/plugin_funcs.go
Labels: core

#2583 Store cert private key, encrypt tofu token
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/db/schema/migrations/oss/postgres/44/04_sessions.up.sql
  internal/db/schema/migrations/oss/postgres/56/06_add_session_private_key_column.up.sql
  internal/db/schema/migrations/oss/postgres_40_01_test.go
  internal/db/schema/migrations/oss/postgres_56_02_test.go
  internal/db/testing.go
  internal/session/options.go
  internal/session/options_test.go
  internal/session/query.go
  internal/session/repository.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/repository_test.go
  internal/session/rewrapping.go
  internal/session/rewrapping_test.go
  internal/session/session.go
  internal/session/session_test.go
  internal/session/testing.go
  internal/session/testing_test.go
Labels: core/db, core/session, core, core/sql, core/daemon

#2601 Silence events from DB errors
  internal/db/read_writer.go
Labels: core/db, core

#2578 Split grace period into multiple config values
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_load_test.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/rpc_registration.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/common/common.go
  internal/daemon/worker/session/manager.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/status.go
  internal/daemon/worker/status_test.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
  internal/server/repository.go
  internal/session/job_session_cleanup.go
  internal/session/job_session_cleanup_test.go
  internal/session/jobs.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/cluster/worker_bytesupdown_test.go
  internal/tests/cluster/worker_proxy_test.go
  internal/tests/helper/testing_helper.go
Labels: core/session, core, hacktoberfest-accepted, core/daemon, core/server

#2602 Silence events from DB errors (#2601)
  internal/db/read_writer.go
Labels: core/db, core

#2605 Bump the UI commit
  internal/ui/VERSION
Labels: core/ui, core

#2603 Split grace period into multiple config values (#2578)
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_load_test.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/rpc_registration.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/common/common.go
  internal/daemon/worker/session/manager.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/status.go
  internal/daemon/worker/status_test.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
  internal/server/repository.go
  internal/session/job_session_cleanup.go
  internal/session/job_session_cleanup_test.go
  internal/session/jobs.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/cluster/worker_bytesupdown_test.go
  internal/tests/cluster/worker_proxy_test.go
  internal/tests/helper/testing_helper.go
Labels: core/session, core, core/daemon, core/server

#2610 Fix pull-down placement
  website/content/docs/concepts/filtering/events.mdx
  website/content/docs/concepts/filtering/oidc-managed-groups.mdx
  website/content/docs/concepts/filtering/resource-listing.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
Labels: website, docs/concepts, backport/website

#2608 feat(cli): Implement address flag for boundary targets create <target_type>
  api/targets/option.gen.go
  api/targets/target.gen.go
  internal/adding-a-new-field-readme.md
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/ssh_funcs.go
  internal/cmd/commands/targetscmd/tcp_funcs.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/custom_options/v1/options.proto
  internal/tests/api/targets/target_test.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
  sdk/pbs/controller/protooptions/options.pb.go
Labels: api, core/gen, core, core/proto, api/targets

#2616 refactor(db): apply consistent naming conventions
  internal/db/assert/asserts_test.go
  internal/db/schema/internal/postgres/migration_log_test.go
  internal/db/schema/internal/postgres/query.go
  internal/db/schema/migrations/base/postgres/02_log_migration.up.sql
  internal/db/schema/migrations/oss/postgres/0/01_domain_types.up.sql
  internal/db/schema/migrations/oss/postgres/0/60_wh_domain_types.up.sql
  internal/db/schema/migrations/oss/postgres/1/02_domains.up.sql
  internal/db/schema/migrations/oss/postgres/10/02_sentinels.up.sql
  internal/db/schema/migrations/oss/postgres/10/07_sentinels.up.sql
  internal/db/schema/migrations/oss/postgres/12/01_timestamp_sub_funcs.up.sql
  internal/db/schema/migrations/oss/postgres/2/04_oidc.up.sql
  internal/db/schema/migrations/oss/postgres/2/10_auth.up.sql
  internal/db/schema/migrations/oss/postgres/2/15_oidc.up.sql
  internal/db/schema/migrations/oss/postgres/2/20_pass.up.sql
  internal/db/schema/migrations/oss/postgres/20/01_domain_types.up.sql
  internal/db/schema/migrations/oss/postgres/20/06_plugin_host_views.up.sql
  internal/db/schema/migrations/oss/postgres/24/01_session_valid_state.up.sql
  internal/db/schema/migrations/oss/postgres/30/01_kms_domain_types.up.sql
  internal/db/schema/migrations/oss/postgres/34/03_worker_authentication.up.sql
  internal/db/schema/migrations/oss/postgres/35/01_job_migrations.up.sql
  internal/db/schema/migrations/oss/postgres/40/01_credential.up.sql
  internal/db/schema/migrations/oss/postgres/41/01_worker_filter_vault_cred_store.up.sql
  internal/db/schema/migrations/oss/postgres/42/01_ssh_private_key_passphrase.up.sql
  internal/db/schema/migrations/oss/postgres/44/01_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/5/01_oidc.up.sql
  internal/db/schema/migrations/oss/postgres/56/01_auth.up.sql
  internal/db/schema/migrations/oss/postgres/57/01_fix_comments.up.sql
  internal/db/schema/migrations/oss/postgres/6/01_oidc.up.sql
  internal/db/schema/migrations/oss/postgres/7/01_functions.up.sql
  internal/db/schema/migrations/oss/postgres/7/02_plugin.up.sql
  internal/db/schema/migrations/oss/postgres/7/03_job.up.sql
Labels: core/db, core, core/sql

#2609 Update Boundary network requirements
  website/content/docs/getting-started/installing/production.mdx
Labels: docs/getting-started, website, backport/website

#2615 Unset session key ID when deleting the scope, ignore decryption when session has no project or user
  internal/db/schema/migrations/oss/postgres/44/04_sessions.up.sql
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/session/options.go
  internal/session/repository.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/repository_test.go
  internal/session/rewrapping.go
  internal/session/rewrapping_test.go
Labels: core/db, core/session, core, core/sql

#2622 bump up ui commit
  internal/ui/VERSION
Labels: core/ui, core

#2623 Dataplane routing
  go.mod
  go.sum
  internal/daemon/common/const.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/listeners.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#2624 dataplane management
  internal/daemon/worker/addressreceiver.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/status.go
Labels: core, core/daemon

#2625 Dataplane connections
  go.mod
  go.sum
  internal/daemon/common/const.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/listeners.go
  internal/daemon/worker/addressreceiver.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#2629 fix(worker): Verify contents of loaded session
  CHANGELOG.md
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
Labels: core, core/daemon

#2632 bump up ui commit
  internal/ui/VERSION
Labels: core/ui, core

#2630 fix(session): Always invoke all parts of session cancel trigger
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
Labels: core/db, core, core/sql

#2631 Forward port some release fixes
  CHANGELOG.md
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
  internal/db/schema/migrations/oss/postgres/58/02_add_data_key_foreign_key_references.up.sql
Labels: core/db, core, core/sql, core/daemon

#2620 refactor(db): formatting consistency for 'create function' statements
  internal/db/schema/internal/postgres/migration_log_test.go
  internal/db/schema/internal/postgres/query.go
  internal/db/schema/migrations/base/postgres/02_log_migration.up.sql
  internal/db/schema/migrations/oss/postgres/43/01_session_credentials.up.sql
  internal/db/sqltest/initdb.d/02_wtt_load.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/oplog/oplog_test/db.go
Labels: core/db, core/oplog, core, core/sql

#2600 Add KMS rotation/destruction feature to the changelog and docs
  CHANGELOG.md
  website/content/docs/concepts/security/data-encryption.mdx
Labels: website, docs/concepts

#2642 bump up ui commit
  internal/ui/VERSION
Labels: core/ui, core

#2639 Create new "previous-root" key purpose for root key migrations
  CHANGELOG.md
  globals/kms.go
  go.mod
  go.sum
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/server/listener_reload_test.go
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/ocikms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/concepts, docs/configuration, core

#2626 [SPE-6] Boundary vs. other software
  website/content/docs/overview/use-cases.mdx
  website/content/docs/overview/vs/bastion-hosts.mdx
  website/content/docs/overview/vs/other-software.mdx
  website/content/docs/overview/vs/pam.mdx
  website/content/docs/overview/vs/sdp.mdx
  website/content/docs/overview/vs/secrets-management.mdx
  website/content/docs/overview/vs/vpn.mdx
  website/content/docs/overview/vs/zero-trust.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, backport/website, backport/0.11.x

#2648 Create new "previous-root" key purpose for root key migrations (#2639)
  CHANGELOG.md
  globals/kms.go
  go.mod
  go.sum
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/server/listener_reload_test.go
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/ocikms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/concepts, docs/configuration, core

#2647 [SPE-6] Boundary vs. other software (#2626)
  website/Makefile
  website/content/docs/overview/use-cases.mdx
  website/content/docs/overview/vs/bastion-hosts.mdx
  website/content/docs/overview/vs/other-software.mdx
  website/content/docs/overview/vs/pam.mdx
  website/content/docs/overview/vs/sdp.mdx
  website/content/docs/overview/vs/secrets-management.mdx
  website/content/docs/overview/vs/vpn.mdx
  website/content/docs/overview/vs/zero-trust.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/redirects.js
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website

#2646 [SPE-6] Boundary vs. other software (#2626)
  website/Makefile
  website/content/docs/overview/use-cases.mdx
  website/content/docs/overview/vs/bastion-hosts.mdx
  website/content/docs/overview/vs/other-software.mdx
  website/content/docs/overview/vs/pam.mdx
  website/content/docs/overview/vs/sdp.mdx
  website/content/docs/overview/vs/secrets-management.mdx
  website/content/docs/overview/vs/vpn.mdx
  website/content/docs/overview/vs/zero-trust.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/redirects.js
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website

#2593 feat(metric): adds active connections gauge metric for controller and worker clusters
  internal/cmd/base/internal/metric/build_info.go
  internal/daemon/controller/internal/metric/api.go
  internal/daemon/controller/internal/metric/cluster.go
  internal/daemon/controller/listeners.go
  internal/daemon/internal/metric/instrument_handlers_test.go
  internal/daemon/metric/initialize_metrics.go
  internal/daemon/metric/initialize_metrics_test.go
  internal/daemon/metric/instrument_handlers.go
  internal/daemon/metric/instrument_handlers_test.go
  internal/daemon/metric/testing.go
  internal/daemon/worker/internal/metric/cluster_client.go
  internal/daemon/worker/internal/metric/cluster_client_test.go
  internal/daemon/worker/internal/metric/cluster_server.go
  internal/daemon/worker/internal/metric/proxy_http.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#2656 feat(metric): adds accepted/closed connections counters for controller and worker cluster connections
  internal/daemon/controller/internal/metric/cluster.go
  internal/daemon/controller/listeners.go
  internal/daemon/metric/initialize_metrics.go
  internal/daemon/metric/instrument_handlers.go
  internal/daemon/metric/instrument_handlers_test.go
  internal/daemon/worker/internal/metric/cluster_server.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

#2635 Document vault credential library templating
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts, backport/0.11.x

#2660 Revert " feat(metric): adds accepted/closed connections counters for …
  internal/daemon/controller/internal/metric/cluster.go
  internal/daemon/controller/listeners.go
  internal/daemon/metric/initialize_metrics.go
  internal/daemon/metric/instrument_handlers.go
  internal/daemon/metric/instrument_handlers_test.go
  internal/daemon/worker/internal/metric/cluster_server.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

#2654 feat(targets): Addition of egress and ingress worker filters
  api/targets/option.gen.go
  api/targets/target.gen.go
  globals/fields.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/ssh_funcs.go
  internal/cmd/commands/targetscmd/tcp_funcs.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/target_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/1/01_server_tags_migrations.up.sql
  internal/db/schema/migrations/oss/postgres/44/03_targets.up.sql
  internal/db/schema/migrations/oss/postgres/58/06_add_session_private_key_column.up.sql
  internal/db/schema/migrations/oss/postgres/59/01_target_ingress_egress_worker_filters.up.sql
  internal/db/schema/migrations/oss/postgres_59_01_test.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/storage/target/store/v1/target.proto
  internal/proto/controller/storage/target/targettest/store/v1/target.proto
  internal/proto/controller/storage/target/tcp/store/v1/target.proto
  internal/session/session.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/store/target.pb.go
  internal/target/target.go
  internal/target/targettest/store/target.pb.go
  internal/target/targettest/target.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/target/tcp/store/target.pb.go
  internal/target/tcp/target.go
  internal/tests/api/targets/classification_test.go
  internal/tests/cluster/worker_tagging_test.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, core/db, core/gen, core/session, core, core/proto, core/target, api/targets, core/sql, core/daemon
