Repository hashicorp/boundary, pull requests merged in 2022-10, with the labels that each got.

#2507 fix minor typos
  website/content/docs/what-is-boundary.mdx
Labels: website

#2516 chore: Add white space
  internal/daemon/controller/kms_conn_router.go
Labels: core, core/daemon

#2509 feat(worker): Report bytes up/down on Worker <-> Client connection closure
  internal/daemon/worker/countingconn.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/session/manager.go
  internal/daemon/worker/session/manager_test.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/session/session_test.go
  internal/daemon/worker/status.go
Labels: core, core/daemon

#2536 refactor(metric): move common metrics functions out of 'internal' directory
  internal/cmd/base/internal/metric/build_info.go
  internal/daemon/controller/internal/metric/api.go
  internal/daemon/controller/internal/metric/cluster.go
  internal/daemon/metric/initialize_metrics.go
  internal/daemon/metric/initialize_metrics_test.go
  internal/daemon/metric/instrument_handlers.go
  internal/daemon/metric/instrument_handlers_test.go
  internal/daemon/metric/testing.go
  internal/daemon/worker/internal/metric/cluster_client.go
  internal/daemon/worker/internal/metric/cluster_client_test.go
  internal/daemon/worker/internal/metric/cluster_server.go
  internal/daemon/worker/internal/metric/proxy_http.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#2537 fix(bats): Fix flakiness in sessions.bats tests
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/_sessions.bash
  internal/tests/cli/boundary/sessions.bats
Labels: core

#2539 Add scopeId to RewrapFn
  internal/kms/rewrapping.go
Labels: core, core/kms

#2544 Fix two items:
  CHANGELOG.md
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/worker/status.go
Labels: core, core/daemon

#2547 chore: Update Digital Team Files + clear redirects
  website/Makefile
  website/redirects.js
  website/scripts/should-build.sh
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: website

#2542 Update Root Cert Proto Definition
  internal/proto/controller/storage/servers/store/v1/root_certificate.proto
  internal/server/store/root_certificate.pb.go
  internal/server/workerauth_store_test.go
Labels: core, core/proto, core/server

#2532 Rewrap Functions for Encrypted Tables
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/rewrapping.go
  internal/auth/oidc/rewrapping_test.go
  internal/auth/password/rewrapping.go
  internal/auth/password/rewrapping_test.go
  internal/authtoken/rewrapping.go
  internal/authtoken/rewrapping_test.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/credential/vault/rewrapping.go
  internal/credential/vault/rewrapping_test.go
  internal/db/schema/migrations/oss/postgres/0/11_auth_token.up.sql
  internal/db/schema/migrations/oss/postgres/10/04_vault_credential.up.sql
  internal/db/schema/migrations/oss/postgres/23/01_session_credential.up.sql
  internal/db/schema/migrations/oss/postgres/34/03_worker_authentication.up.sql
  internal/db/schema/migrations/oss/postgres/43/01_session_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/56/01_worker_auth_create_time.up.sql
  internal/db/schema/migrations/oss/postgres/56/05_mutable_ciphertext_columns.up.sql
  internal/host/plugin/rewrapping.go
  internal/host/plugin/rewrapping_test.go
  internal/server/query.go
  internal/server/rewrapping.go
  internal/server/rewrapping_test.go
  internal/session/credential.go
  internal/session/query.go
  internal/session/rewrapping.go
  internal/session/rewrapping_test.go
Labels: core/db, core/auth, core/session, core, core/host, core/sql, core/server

#2549 test(e2e): Fix flaky test in `credential_stores.bats`
  internal/tests/cli/boundary/credential_stores.bats
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/boundary/host.go
  testing/internal/e2e/boundary/scope.go
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/helpers.go
  testing/internal/e2e/host/static/connect_authz_token_test.go
  testing/internal/e2e/host/static/connect_ssh_test.go
  testing/internal/e2e/host/static/session_cancel_test.go
  testing/internal/e2e/host/static/static_credential_store_test.go
Labels: core

#2555 Rewrapping Registered Tables Test
  internal/credential/static/query.go
  internal/credential/static/rewrapping.go
  internal/credential/static/rewrapping_test.go
  internal/daemon/controller/rewrapping_test.go
  internal/db/schema/migrations/oss/postgres/48/01_worker_auth_activation_token.up.sql
  internal/db/schema/migrations/oss/postgres/56/05_mutable_ciphertext_columns.up.sql
  internal/kms/kms.go
  internal/server/query.go
  internal/server/rewrapping.go
  internal/server/rewrapping_test.go
  internal/server/worker_auth_server_led_activation_token_test.go
Labels: core/db, core, core/kms, core/sql, core/daemon, core/server

#2558 Remove unrelated error from error message
  internal/daemon/cluster/handlers/worker_service.go
Labels: core, core/daemon

#2560 Remove duplicate sentence
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

#2565 Add some common account bits and some getOpts -> GetOpts changes
  internal/auth/oidc/account.go
  internal/auth/password/account.go
  internal/auth/password/authmethod.go
  internal/auth/password/options.go
  internal/auth/password/options_test.go
  internal/auth/password/repository.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_account_test.go
  internal/auth/password/repository_authmethod.go
  internal/auth/subtype.go
  internal/authtoken/options.go
  internal/authtoken/options_test.go
  internal/authtoken/testing.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/handlers/targets/registry.go
  internal/iam/resource.go
Labels: core/iam, core/auth, core, core/daemon

#2566 Add some common account bits and some getOpts -> GetOpts changes (#2565)
  internal/auth/oidc/account.go
  internal/auth/password/account.go
  internal/auth/password/authmethod.go
  internal/auth/password/options.go
  internal/auth/password/options_test.go
  internal/auth/password/repository.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_account_test.go
  internal/auth/password/repository_authmethod.go
  internal/auth/subtype.go
  internal/authtoken/options.go
  internal/authtoken/options_test.go
  internal/authtoken/testing.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/handlers/targets/registry.go
  internal/iam/resource.go
Labels: core/iam, core/auth, core, hacktoberfest-accepted, core/daemon

#2567 docs(db): fix comments on database functions
  internal/db/schema/migrations/oss/postgres/12/01_timestamp_sub_funcs.up.sql
  internal/db/schema/migrations/oss/postgres/57/01_fix_comments.up.sql
  internal/db/schema/migrations/oss/postgres/7/01_functions.up.sql
Labels: core/db, core, core/sql

#2568 docs(db): fix comments on oidc database tables
  internal/db/schema/migrations/oss/postgres/2/04_oidc.up.sql
  internal/db/schema/migrations/oss/postgres/57/01_fix_comments.up.sql
Labels: core/db, core, core/sql

#2570 docs(db): fix comments on kms database tables
  internal/db/schema/migrations/oss/postgres/30/04_kms_keys.up.sql
  internal/db/schema/migrations/oss/postgres/57/01_fix_comments.up.sql
Labels: core/db, core, core/sql

#2571 docs(db): fix comments on database domain types
  internal/db/schema/migrations/oss/postgres/0/01_domain_types.up.sql
  internal/db/schema/migrations/oss/postgres/57/01_fix_comments.up.sql
Labels: core/db, core, core/sql

#2503 Recording and Persisting Session Connection's Bytes Up and Down
  api/sessions/connection.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands/sessionscmd/funcs.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/worker/countingconn.go
  internal/daemon/worker/countingconn_test.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/proxy.go
  internal/daemon/worker/proxy/proxy_test.go
  internal/daemon/worker/proxy/tcp/tcp.go
  internal/daemon/worker/proxy/tcp/tcp_test.go
  internal/daemon/worker/session/manager.go
  internal/daemon/worker/session/manager_test.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/session/session_test.go
  internal/daemon/worker/status.go
  internal/gen/controller.swagger.json
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/controller/api/resources/sessions/v1/session.proto
  internal/proto/controller/servers/services/v1/server_coordination_service.proto
  internal/proto/controller/servers/services/v1/session_service.proto
  internal/session/connection.go
  internal/session/connection_closed_with.go
  internal/session/connection_closed_with_test.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/service_worker_status_report.go
  internal/session/service_worker_status_report_test.go
  internal/tests/cluster/worker_bytesupdown_test.go
  sdk/pbs/controller/api/resources/sessions/session.pb.go
Labels: api, core/gen, api/sessions, core/session, core, core/proto, core/daemon

#2498 Add ability to list key version destruction jobs, recurring jobs and destroying key versions
  Makefile
  api/scopes/custom.go
  api/scopes/key_version_destruction_job.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/scopescmd/destroy_key_version.go
  internal/cmd/commands/scopescmd/list_key_version_destruction_jobs.go
  internal/cmd/commands/scopescmd/rotate_keys.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/db/schema/migrations/oss/postgres/56/03_create_kms_key_destructions.up.sql
  internal/db/sqltest/tests/kms/kms_data_key_destruction_job.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.gw.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/kms/data_key_version_destruction_job.go
  internal/kms/data_key_version_destruction_job_progress.go
  internal/kms/data_key_version_destruction_job_run.go
  internal/kms/data_key_version_destruction_job_run_allowed_table_name.go
  internal/kms/job/data_key_version_destruction_monitor_job.go
  internal/kms/job/job.go
  internal/kms/job/table_rewrapping_job.go
  internal/kms/kms.go
  internal/kms/kms_test.go
  internal/kms/query.go
  internal/kms/store/data_key_version_destruction_job.pb.go
  internal/kms/store/data_key_version_destruction_job_progress.pb.go
  internal/kms/store/data_key_version_destruction_job_run.pb.go
  internal/kms/store/data_key_version_destruction_job_run_allowed_table_name.pb.go
  internal/proto/controller/api/resources/scopes/v1/scope.proto
  internal/proto/controller/api/services/v1/scope_service.proto
  internal/proto/controller/storage/kms/store/v1/data_key_version_destruction_job.proto
  internal/proto/controller/storage/kms/store/v1/data_key_version_destruction_job_progress.proto
  internal/proto/controller/storage/kms/store/v1/data_key_version_destruction_job_run.proto
  internal/proto/controller/storage/kms/store/v1/data_key_version_destruction_job_run_allowed_table_name.proto
  internal/tests/api/scopes/scope_test.go
  internal/tests/cli/boundary/_scopes.bash
  internal/tests/cli/boundary/scopes.bats
  internal/types/action/action.go
  sdk/pbs/controller/api/resources/scopes/scope.pb.go
  testing/internal/e2e/host/static/scope_test.go
Labels: api, core/db, core/gen, api/scopes, core, core/proto, core/types, core/kms, core/sql, core/daemon

#2569 Add initial templating support to Vault credential libraries
  CHANGELOG.md
  internal/cmd/base/initial_resources.go
  internal/credential/credential.go
  internal/credential/options.go
  internal/credential/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/repository_credentials.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/gateway.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/interceptor.go
  internal/daemon/controller/interceptor_test.go
  internal/daemon/controller/listeners.go
  internal/iam/repository_scope.go
  internal/perms/grants.go
  internal/util/pointer.go
  internal/util/template/doc.go
  internal/util/template/funcs.go
  internal/util/template/generate.go
  internal/util/template/generate_test.go
  internal/util/template/types.go
  website/content/docs/concepts/security/permissions/permission-grant-formats.mdx
  website/content/docs/oss/installing/no-gen-resources.mdx
Labels: website, core/iam, docs/concepts, core, core/perms, hacktoberfest-accepted, core/daemon

#2575 Add initial templating support to Vault credential libraries (#2569)
  CHANGELOG.md
  internal/cmd/base/initial_resources.go
  internal/credential/credential.go
  internal/credential/options.go
  internal/credential/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/repository_credentials.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/gateway.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/interceptor.go
  internal/daemon/controller/interceptor_test.go
  internal/daemon/controller/listeners.go
  internal/iam/repository_scope.go
  internal/perms/grants.go
  internal/util/pointer.go
  internal/util/template/doc.go
  internal/util/template/funcs.go
  internal/util/template/generate.go
  internal/util/template/generate_test.go
  internal/util/template/types.go
  website/content/docs/concepts/security/permissions/permission-grant-formats.mdx
  website/content/docs/oss/installing/no-gen-resources.mdx
Labels: website, core/iam, docs/concepts, core, core/perms, core/daemon

#2563 docs: Remove redundant word
  website/content/docs/what-is-boundary.mdx
Labels: website, backport/website

#2576 enable recovery user to list targets and sessions
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/testing.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/iam/repository_scope.go
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core/iam, core, core/perms, hacktoberfest-accepted, core/daemon

#2574 Docs deploy and login updates
  website/content/docs/getting-started/connect-to-target.mdx
  website/content/docs/getting-started/deploy-and-login.mdx
Labels: docs/getting-started, website, backport/website

#2580 move user variables into globals
  globals/globals.go
  internal/auth/additional_verification_test.go
  internal/auth/oidc/service_callback_test.go
  internal/cmd/base/initial_resources.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/auth_test.go
  internal/daemon/controller/auth/testing.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/authtokens/authtoken_service_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/groups/group_service_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service_test.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service_test.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service_test.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/db/domains_test.go
  internal/iam/repository_group_test.go
  internal/iam/repository_principal_role_test.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_scope.go
  internal/iam/user_test.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/output_fields.go
  internal/perms/output_fields_test.go
  internal/tests/api/authtokens/authtoken_test.go
Labels: core/iam, core/db, core/auth, core, core/perms, hacktoberfest-accepted, core/daemon
