Repository hashicorp/boundary, pull requests merged in 2022-01, with the labels that each got.

#1815 feat(target): Decode based on credential type
  api/targets/credential_source.gen.go
  api/targets/session_credential.gen.go
  internal/cmd/commands/connect/funcs.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/gen/controller.swagger.json
  internal/proto/local/controller/api/resources/targets/v1/target.proto
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/tcp/target_service_test.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, core/gen, core, core/proto, core/servers, api/targets

#1793 bug(session): Allow only valid state transitions
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/24/01_session_valid_state.up.sql
  internal/db/schema/migrations/oss/postgres_24_01_test.go
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/02_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/session/invalid_state_transition.sql
  internal/db/sqltest/tests/session/valid_state_transition_canceling.sql
  internal/db/sqltest/tests/session/valid_state_transition_pending_active.sql
  internal/db/sqltest/tests/session/valid_state_transition_pending_canceling.sql
  internal/db/sqltest/tests/session/valid_state_transition_terminated.sql
  internal/db/sqltest/tests/wh/session/update_state.sql
  internal/session/immutable_fields_test.go
  internal/session/state_test.go
  internal/session/testing_test.go
Labels: core/db, core/session, core, core/sql

#1820 Replace XC_OSARCH with GOOS and GOARCH
  Makefile
  website/content/docs/developing/building.mdx
Labels: website

#1803 Add target resource listing to default roles
  CHANGELOG.md
  internal/iam/repository_scope.go
  internal/iam/testing.go
  internal/tests/api/targets/target_test.go
Labels: core/iam, core

#1819 feat(scheduler): Add support for run now option
  internal/credential/vault/repository_credential_store.go
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_set.go
  internal/scheduler/additional_verification_test.go
  internal/scheduler/options.go
  internal/scheduler/options_test.go
  internal/scheduler/scheduler.go
  internal/servers/controller/controller.go
  internal/tests/api/hosts/host_test.go
  internal/tests/api/hostsets/host_set_test.go
Labels: core, core/servers, core/host

#1822 bug(session): Fix CreateSession foundStates logical ordering
  internal/session/repository_session.go
Labels: core/session, core

#1824 bug(connect): Fix Session has expired messaging
  internal/cmd/commands/connect/connect.go
Labels: core

#1797 Add network address dimension, group, and group membership tables
  internal/db/schema/migrations/oss/postgres/15/02_wh_rename_host_dimension_org.up.sql
  internal/db/schema/migrations/oss/postgres/24/01_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/24/02_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/24/03_wh_network_address_dimensions.up.sql
  internal/db/sqltest/README.md
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/host_dimension/session_multiple_sessions.sql
  internal/db/sqltest/tests/wh/host_dimension/session_update.sql
  internal/db/sqltest/tests/wh/host_dimension_views/source.sql
  internal/db/sqltest/tests/wh/host_dimension_views/target.sql
  internal/db/sqltest/tests/wh/network_address_dimension/helper_functions.sql
  internal/db/sqltest/tests/wh/network_address_dimension/upsert_network_address_group_key.sql
Labels: core/db, core, core/sql

#1832 website: Add Demandbase tag to consent manager
  website/lib/consent-manager-services/index.ts
  website/pages/_app.js
Labels: website, backport/website

#1835 Update authenticate command/subcommands help text
  CHANGELOG.md
  internal/cmd/commands/authenticate/authenticate.go
  internal/cmd/commands/authenticate/oidc.go
  internal/cmd/commands/authenticate/password.go
Labels: core
