Repository hashicorp/boundary, pull requests merged in 2022-02, with the labels that each got.

#1828 feat(host): Add host set information to static host
  internal/db/schema/migrations/oss/postgres/25/01_static_host_view.up.sql
  internal/host/host.go
  internal/host/plugin/host.go
  internal/host/static/host.go
  internal/host/static/repository_host.go
  internal/host/static/repository_host_test.go
  internal/servers/controller/handlers/hosts/host_service.go
  internal/servers/controller/handlers/hosts/host_service_test.go
  internal/tests/api/hostsets/host_set_test.go
Labels: core/db, core, core/servers, core/host, core/sql

#1829 website: display warning in IE 11
  website/pages/_document.js
  website/public/ie-custom-properties.js
  website/public/ie-warning.js
Labels: website, backport/website

#1841 bug(host): Fix sync job failure blocking other set syncs
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/query.go
  internal/host/plugin/repository_host_util.go
  internal/host/plugin/repository_host_util_test.go
Labels: core, core/host, core/sql

#1827 Migrate host address from the host dimension table to host address dimension table
  internal/db/schema/migrations/oss/postgres/15/02_wh_rename_host_dimension_org.up.sql
  internal/db/schema/migrations/oss/postgres/20/07_wh_session_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/25/01_static_host_view.up.sql
  internal/db/schema/migrations/oss/postgres/25/02_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/26/01_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/26/02_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/26/03_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres_26_01_test.go
  internal/db/sqltest/tests/wh/host_dimension_views/source.sql
  internal/db/sqltest/tests/wh/host_dimension_views/target.sql
  internal/db/sqltest/tests/wh/network_address_dimension/helper_functions.sql
Labels: core/db, core, core/sql

#1849 bug(plugin): Fix incorrect use of WithIpAddrs in Repository.Endpoints
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#1853 fix(controller/targets): authorize-session should allow h_ ids
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/servers

#1854 Add recent fixes to changelog
  CHANGELOG.md
  internal/servers/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/servers

#1852 feat(scheduler): Update job description on conflict
  internal/scheduler/job/additional_verification_test.go
  internal/scheduler/job/doc.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository_job.go
  internal/scheduler/job/repository_job_test.go
  internal/scheduler/job/testing.go
  internal/scheduler/scheduler.go
Labels: core, core/sql

#1846 Include addresses from the static host table in whx_network_address_dimension_source
  internal/db/schema/migrations/oss/postgres/26/02_wh_network_address_dimensions.up.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/host_dimension/session_multiple_sessions.sql
  internal/db/sqltest/tests/wh/host_dimension/session_update.sql
  internal/db/sqltest/tests/wh/network_address_dimension/helper_functions.sql
  internal/db/sqltest/tests/wh/network_address_dimension/upsert_network_address_group_key.sql
Labels: core/db, core, core/sql

#1855 Add DW network address dimension tables
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/15/02_wh_rename_host_dimension_org.up.sql
  internal/db/schema/migrations/oss/postgres/20/07_wh_session_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/26/01_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/26/02_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/26/03_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres_26_01_test.go
  internal/db/sqltest/README.md
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/wh/host_dimension/session_multiple_sessions.sql
  internal/db/sqltest/tests/wh/host_dimension/session_update.sql
  internal/db/sqltest/tests/wh/host_dimension_views/source.sql
  internal/db/sqltest/tests/wh/host_dimension_views/target.sql
  internal/db/sqltest/tests/wh/network_address_dimension/helper_functions.sql
  internal/db/sqltest/tests/wh/network_address_dimension/upsert_network_address_group_key.sql
Labels: core/db, core, core/sql

#1860 fix(warehouse): Handle duplicate addresses when migrating into wh_network_address_dimension
  internal/db/schema/migrations/oss/postgres/26/01_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres_26_01_test.go
Labels: core/db, core, core/sql

#1861 add doc link for dynamic host catalog hosts setup
  website/redirects.js
Labels: website

#1866 Update changelog with latest changes in the UI
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#1865 fix(hostsets/plugin): Don't blindly delete preferred endpoints on host sets
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#1868 Bump ui version
  internal/ui/VERSION
Labels: core/ui, core

#1871 Do not merge - Adding promotion and post-publish events.
  .release/ci.hcl
Labels: backport/0.7.x, backport/0.6.x, backport/0.5.x

#1858 fix(connect): do not panic on multiple `--` args
  internal/cmd/commands/connect/connect.go
Labels: core
