Repository hashicorp/boundary, pull requests merged in 2022-08, with the labels that each got.

#2314 bug(server): Start ops listener even if controller is nil
  internal/cmd/commands/server/server.go
Labels: core

#2317 Reorganize logic to allow a poison pill
  go.mod
  go.sum
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/controller_test.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/listeners_test.go
  internal/daemon/controller/rpc_registration.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/rpc_registration.go
  internal/daemon/worker/status.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#2320 test(tcp): only host sets from the same project can be added to a target
  internal/target/tcp/repository_host_source_test.go
Labels: core, core/target

#2321 Clean up some dev config kms code
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/worker/auth_rotation_test.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/testing_test.go
Labels: core, core/daemon

#2325 Add parsepath logic to password in various places
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/accountscmd/password_funcs.go
  internal/cmd/commands/authenticate/password.go
Labels: core

#2323 Only consume ssh brokered credentials if the target is tcp
  internal/cmd/commands/connect/ssh.go
Labels: core

#2327 Change behavior of `-token` and `-password` to support env/file only
  CHANGELOG.md
  go.mod
  go.sum
  internal/cmd/base/base.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/accountscmd/password_funcs.go
  internal/cmd/commands/authenticate/password.go
  internal/cmd/commands/credentialscmd/ssh-private-key_funcs.go
  internal/cmd/commands/credentialscmd/username-password_funcs.go
Labels: core

#2329 Update wording and fix a missing prompt
  internal/cmd/base/base.go
  internal/cmd/commands/accountscmd/funcs.go
  internal/cmd/commands/accountscmd/password_funcs.go
  internal/cmd/commands/authenticate/password.go
Labels: core

#2333 bug(cmd): Ensure RunShutdownFuncs is called when an early error occurs
  CHANGELOG.md
  internal/cmd/commands/database/init.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
Labels: core

#2334 Ensure initial upstreams is empty before hcpb worker listing
  internal/daemon/worker/status.go
Labels: core, core/daemon

#2339 db: Add credential_sha256 to session_credentials
  internal/credential/static/repository_credential_test.go
  internal/credential/static/testing.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/db/schema/migrations/oss/postgres/23/01_session_credential.up.sql
  internal/db/schema/migrations/oss/postgres/43/01_session_credentials.up.sql
Labels: core/db, core, core/sql, core/daemon

#2335 feat(perms): Derive permissions list from user grants
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core, core/perms

#2336 feat(auth): Get all authorised scope info for a given list request
  internal/daemon/controller/auth/auth.go
Labels: core, core/daemon

#2330 Update website with new password rules taken into account
  website/content/docs/api-clients/cli.mdx
  website/content/docs/common-workflows/manage-users-groups.mdx
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/getting-started/deploy-and-login.mdx
  website/content/docs/oss/installing/no-gen-resources.mdx
  website/content/docs/oss/installing/run-and-login.mdx
Labels: docs/getting-started, website, docs/workflows

#2344 Fix various website issues
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/configuration/events/index.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/worker/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

#2346 Update configutil/pluginutil deps
  go.mod
  go.sum
  internal/daemon/controller/controller_test.go
  plugins/host/mains/aws/go.mod
  plugins/host/mains/aws/go.sum
  plugins/host/mains/azure/go.mod
  plugins/host/mains/azure/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: core, core/daemon

#2298 chore: update go-dbw dependencies
  go.mod
  go.sum
  internal/auth/oidc/service_callback_test.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/db/read_writer_test.go
  internal/db/testing.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_test.go
  internal/oplog/testing.go
Labels: core/iam, core/db, core/oplog, core/auth, core, core/daemon

#2350 chore: bump ui commitish to latest
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#2351 bug(db): Fix credential purpose migration
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/40/01_credential.up.sql
  internal/db/schema/migrations/oss/postgres_40_01_test.go
  internal/session/testing.go
Labels: core/db, core/session, core, core/sql

#2353 Fix error validation code in attr parsing
  CHANGELOG.md
  internal/cmd/base/flags.go
  internal/cmd/common/flags_test.go
Labels: core

#2356 chore: Bump UI commitsh and update changelog
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#2359 feature (downstreams): Add hooks for optional downstream workers/router
  internal/daemon/controller/controller.go
  internal/daemon/controller/listeners.go
  internal/daemon/worker/addressreceiver.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/info.go
  internal/util/is_nil.go
  internal/util/is_nil_test.go
Labels: core, core/daemon

#2352 0.10 release notes
  website/content/docs/release-notes/v0_10_0.mdx
  website/data/docs-nav-data.json
Labels: website

#2376 Add mechanism for plugin to normalize attributes
  internal/host/plugin/client.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/testing.go
  internal/proto/plugin/v1/host_plugin_service.proto
  sdk/pbs/plugin/host_plugin_service.pb.go
  sdk/pbs/plugin/host_plugin_service_grpc.pb.go
Labels: core, core/proto, core/host

#2377 feat(workers): Return Release Version on worker list and read
  api/workers/worker.gen.go
  globals/fields.go
  internal/cmd/commands/workerscmd/funcs.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/daemon/worker/status.go
  internal/db/schema/migrations/oss/postgres/34/04_views.up.sql
  internal/db/schema/migrations/oss/postgres/99/01_server_worker_release_version.up.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/servers/servers.pb.go
  internal/proto/controller/api/resources/workers/v1/worker.proto
  internal/proto/controller/servers/v1/servers.proto
  internal/proto/controller/storage/servers/store/v1/worker.proto
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
  internal/server/store/worker.pb.go
  internal/server/testing.go
  internal/server/worker.go
  internal/server/worker_test.go
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: api, core/db, core/gen, core, core/proto, core/sql, core/daemon, core/server

#2363 Ensure that "null" can only be specified in "set-" commands
  internal/cmd/base/flags.go
  internal/cmd/common/flags_test.go
Labels: core

#2369 Update request data in session manager
  CHANGELOG.md
  internal/daemon/worker/session/manager.go
  internal/daemon/worker/session/manager_test.go
  internal/daemon/worker/session/session.go
  internal/tests/cluster/worker_proxy_test.go
Labels: core, core/daemon

#2385 fix: move 'drop target_all_subtypes' after whx views
  internal/db/schema/migrations/oss/postgres/44/03_targets.up.sql
Labels: core/db, core, core/sql

#2386 refactor: eliminate gorm references in favor of go-dbw
  go.mod
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_managed_group.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_authmethod.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_store.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_store.go
  internal/db/common/update.go
  internal/db/common/update_test.go
  internal/host/static/repository_host.go
  internal/host/static/repository_host_set.go
  internal/iam/repository_group.go
  internal/iam/repository_role.go
  internal/iam/repository_scope.go
  internal/iam/repository_user.go
  internal/oplog/queue.go
  internal/server/repository_worker.go
  internal/target/repository.go
Labels: core/iam, core/db, core/oplog, core/auth, core, core/host, core/target, core/server

#2388 bug(workers): Create worker-led panics on invalid token
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/cmd/commands/workerscmd/worker-led_funcs.go
Labels: core

#2389 Fix incorrect use of loop variable in parallel tests
  internal/daemon/controller/handlers/managed_groups/validate_test.go
Labels: core, core/daemon

#2390 Fix validation function panic
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/managed_groups/validate_test.go
Labels: core, core/daemon

#2391 Panic with error rather than function
  internal/db/schema/edition.go
Labels: core/db, core

#2396 refactor(vault): add context and remove deprecated errors
  internal/credential/vault/credential_store.go
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/private_credential.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_store.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_test.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/credentialstores/vault.go
  internal/daemon/controller/handlers/credentialstores/vault_test.go
Labels: core, core/daemon

#2397 docs(workers): add documentation for pki worker cred encryption
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, docs/configuration

#2266 feat(cli): add/set/remove worker tags
  api/workers/worker.gen.go
  internal/api/genapi/input.go
  internal/cmd/base/base.go
  internal/cmd/base/flags.go
  internal/cmd/base/flags_test.go
  internal/cmd/commands.go
  internal/cmd/commands/workerscmd/funcs.go
  internal/cmd/commands/workerscmd/workers.gen.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/gencli/input.go
  internal/tests/api/workers/worker_test.go
Labels: api, core

#2395 Add Rotate Keys CLI Command
  api/scopes/custom.go
  internal/cmd/base/base.go
  internal/cmd/commands.go
  internal/cmd/commands/scopescmd/rotate_keys.go
  internal/tests/cli/boundary/_scopes.bash
  internal/tests/cli/boundary/scopes.bats
Labels: api, api/scopes, core

#2361 Fix error about unimplemented HcpbWorkers call
  internal/daemon/cluster/handlers/multihop_service.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/health/health.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/worker/worker_proxy_service.go
Labels: core, core/daemon

#2408 Add Missing DEK Foreign Keys
  internal/auth/password/argon2_test.go
  internal/authtoken/authtoken_test.go
  internal/db/schema/migrations/oss/postgres/48/01_add_data_key_foreign_key_references.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/session/repository_session_test.go
  internal/session/session.go
Labels: core/db, core/auth, core/session, core, core/sql

#2410 fix(db): update host_plugin_set to set project_id value
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/46/02_hosts.up.sql
Labels: core/db, core, core/sql

#2415 Vault proxy supporting code
  internal/credential/vault/credential_store.go
  internal/credential/vault/private_credential.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_test.go
  internal/daemon/controller/controller.go
  internal/server/repository_workerauth.go
Labels: core, core/daemon, core/server
