Repository hashicorp/boundary, pull requests merged in 2022-05, with the labels that each got.

#2046 fix(session): Update session state transition trigger
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/0/50_session.up.sql
  internal/db/schema/migrations/oss/postgres/28/02_prior_session_trigger.up.sql
  internal/db/schema/migrations/oss/postgres_28_02_test.go
  internal/session/repository_session_test.go
Labels: core/db, core/session, core, core/sql

#2050 Bump UI version in preparation for 0.8.0 release
  internal/ui/VERSION
Labels: core/ui, core

#2053 Bump version and update changelog for 0.8.0 release
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#2024 0.8 Docs Changes
  website/content/docs/configuration/events/common.mdx
  website/content/docs/configuration/events/overview.mdx
  website/content/docs/operations/health.mdx
  website/content/docs/operations/index.mdx
  website/content/docs/operations/metrics.mdx
  website/content/docs/release-notes/index.mdx
  website/content/docs/release-notes/v0_1_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_3_0.mdx
  website/content/docs/release-notes/v0_4_0.mdx
  website/content/docs/release-notes/v0_5_0.mdx
  website/content/docs/release-notes/v0_6_0.mdx
  website/content/docs/release-notes/v0_7_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/releases/index.mdx
  website/content/docs/releases/release-notes/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration, docs/releases

#2054 Add config key to the promote-staging event
  .release/ci.hcl
Labels: backport/0.7.x

#2071 Remove column cascade
  internal/db/schema/migrations/oss/postgres/99/01_worker_controller_tables.up.sql
Labels: core/db, core, core/sql

#2073 Leave cluster listener up when bad data is sent
  CHANGELOG.md
  internal/daemon/controller/intercepting_listener.go
Labels: core

#2068 feat(workers): Add storage path parameter to worker config
  internal/cmd/config/config.go
  internal/daemon/worker/worker.go
Labels: core/db, core/gen, core/session, core, core/proto, core/servers, core/sql

#2065 bug(session): null fkey trigger also checks for session terminated state
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/0/50_session.up.sql
  internal/db/schema/migrations/oss/postgres/29/01_cancel_session_null_fkey.up.sql
  internal/db/schema/migrations/oss/postgres_29_01_test.go
  internal/db/sqltest/tests/session/delete_session_target.sql
  internal/session/repository_session_test.go
Labels: core/db, core/session, core, core/sql

#2075 Fix typo in connection documentation
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/sessions/v1/session.proto
  internal/session/connection.go
  sdk/pbs/controller/api/resources/sessions/session.pb.go
Labels: core/gen, core/session, core, core/proto

#2074 Update UI artifacts consumption
  .github/workflows/build.yml
  Makefile
  internal/ui/VERSION
Labels: core/ui, core

#2080 Update UI version to consume the new renamed UI artifacts
  internal/ui/VERSION
Labels: core/ui, core

#2067 feat(pki): Add PKI schemas and protos
  Makefile
  internal/db/schema/migrations/oss/postgres/99/03_worker_authentication.up.sql
  internal/proto/controller/storage/servers/store/v1/root_certificate.proto
  internal/proto/controller/storage/servers/store/v1/worker_auth.proto
  internal/servers/options.go
  internal/servers/options_test.go
  internal/servers/root_certificate.go
  internal/servers/state.go
  internal/servers/store/root_certificate.pb.go
  internal/servers/store/worker_auth.pb.go
  internal/servers/testing.go
  internal/servers/worker_auth.go
  internal/servers/workerauth_store_test.go
Labels: core/db, core, core/proto, core/servers, core/sql

#2094 Respect max open connection limits in migrate and init
  internal/cmd/commands/database/funcs.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
Labels: core

#2107 Fix build error
  internal/cmd/commands/database/funcs_test.go
Labels: core

#2109 feature(workers): add repository DeleteWorker
  internal/servers/repository_worker.go
  internal/servers/repository_worker_test.go
  internal/servers/worker.go
Labels: core, core/servers

#2102 refact(api): move worker handlers
  internal/daemon/cluster/handlers/multihop_service.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/listeners.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/worker_proxy_service.go
Labels: core
