Repository hashicorp/boundary, pull requests merged in 2022-06, with the labels that each got.

#2089 Update controller address handling
  internal/daemon/worker/status.go
  internal/daemon/worker/worker_proxy_service.go
Labels: core

#2120 Update to new nodee lib bits
  go.mod
  go.sum
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/cluster/handlers/multihop_service.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/intercepting_listener.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/listeners_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/worker.go
Labels: core

#2093 feat(workerAuth): Implement nodeenrollment lib workerauth storage
  internal/db/schema/migrations/oss/postgres/99/03_worker_authentication.up.sql
  internal/proto/controller/storage/servers/store/v1/worker_auth.proto
  internal/servers/query.go
  internal/servers/repository_workerauth.go
  internal/servers/repository_workerauth_test.go
  internal/servers/store/worker_auth.pb.go
  internal/servers/testing.go
  internal/servers/worker.go
  internal/servers/worker_auth.go
  internal/servers/workerauth_store_test.go
Labels: core/db, core, core/proto, core/servers, core/sql

#2127 fix (servers): return unhandled err from storeRootCertificates(...)
  internal/servers/repository_workerauth.go
  internal/servers/workerauth_store_test.go
Labels: core, core/servers

#2126 feature (errors): add support fmt specifier with operands to WithMsg(…)
  internal/errors/error.go
  internal/errors/option.go
  internal/errors/option_test.go
Labels: core

#2129 chore (servers): update nodeenrollment dep
  internal/servers/repository_workerauth_test.go
Labels: core, core/servers

#2125 refactor (servers/workerauth): add StoreNodeInformationTx(...)
  internal/servers/repository_workerauth.go
  internal/servers/repository_workerauth_test.go
Labels: core, core/servers

#2131 feature (worker): add WithFetchNodeCredentialsRequest to CreateWorker
  internal/errors/error.go
  internal/errors/option.go
  internal/errors/option_test.go
  internal/servers/options.go
  internal/servers/repository_worker.go
Labels: core, core/servers

#2132 Migrate storage to database repo
  api/util.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/listeners_test.go
  internal/daemon/worker/worker.go
  internal/servers/repository_worker.go
  internal/servers/repository_workerauth.go
  internal/servers/repository_workerauth_test.go
  internal/servers/worker.go
Labels: api, core, core/servers

#2101 refact(servers) Update api for new worker and controller server tables
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/status.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_proxy_service.go
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/proto/controller/servers/services/v1/server_coordination_service.proto
  internal/proto/controller/servers/v1/servers.proto
  internal/servers/options.go
  internal/servers/options_test.go
  internal/servers/repository_worker.go
  internal/servers/servers.pb.go
  internal/tests/helper/testing_helper.go
Labels: core/gen, core, core/proto, core/servers

#2076 feat(worker): implements WorkerStorage wrapper for worker credential encryption
  globals/kms.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/dev/flags_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/testing_test.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
  internal/kms/const.go
  internal/kms/external_wrappers_test.go
  internal/kms/kms.go
  internal/kms/kms_test.go
  internal/kms/options.go
Labels: core, core/kms

#2135 Updates from review of 2076
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/worker/worker.go
Labels: core

#2134 tests (servers): additional CreateWorker(...) unit tests
  internal/servers/repository_worker.go
  internal/servers/repository_worker_test.go
Labels: core, core/servers

#2138 Add worker creation ACLs
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/types/action/action.go
  internal/types/action/action_test.go
  internal/types/resource/resource.go
Labels: core, core/perms, core/types

#2139 Use persistent storage for worker auth credentials
  go.mod
  go.sum
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
  internal/servers/repository_worker_test.go
Labels: core, core/servers

#2140 Remove nonce encryption for workerAuth
  internal/servers/repository_workerauth.go
Labels: core, core/servers

#2130 feature(WorkerAuth): Create RotateRoots domain and job
  internal/daemon/controller/controller.go
  internal/servers/job/jobs.go
  internal/servers/job/rotate_roots_job.go
  internal/servers/job/rotate_roots_job_test.go
  internal/servers/service_rotate_roots.go
  internal/servers/service_rotate_roots_test.go
Labels: core, core/servers

#2141 Remove 'ephemeral' from KMS auth method bits
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/dev/flags_test.go
Labels: core

#2143 feature (worker): add CreateWorker(...) service (aka API)
  globals/fields.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/worker_service.pb.go
  internal/gen/controller/api/services/worker_service.pb.gw.go
  internal/gen/controller/api/services/worker_service_grpc.pb.go
  internal/perms/acl_test.go
  internal/proto/controller/api/resources/workers/v1/worker.proto
  internal/proto/controller/api/services/v1/worker_service.proto
  internal/types/action/action.go
  internal/types/action/action_test.go
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: core/gen, core, core/proto, core/perms, core/types

#2137 feature (events): add TestWithoutEventing(t)
  internal/daemon/controller/testing.go
  internal/daemon/controller/testing_test.go
  internal/observability/event/eventer.go
  internal/observability/event/options.go
  internal/observability/event/testing.go
  internal/observability/event/testing_test.go
Labels: core

#2142 Add node rotation
  go.mod
  go.sum
  internal/cmd/commands/dev/dev.go
  internal/daemon/cluster/handlers/multihop_service.go
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/auth_rotation_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
  internal/servers/repository_workerauth.go
  internal/servers/repository_workerauth_test.go
Labels: core, core/servers

#2147 Remove temporary node authorization functions
  internal/cmd/commands/dev/dev.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
Labels: core

#2153 feature (worker): Add audit data classification to CreateWorker(...) api
  Makefile
  internal/gen/controller/api/services/worker_service.pb.go
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: core/gen, core

#2097 Server refuses to start if max_open_connections is below 5
  internal/db/db.go
  internal/db/db_test.go
Labels: core/db, core

#2157 feature (worker): add worker events around authentication
  go.mod
  go.sum
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/status.go
Labels: core

#2156 Restrict anonymous user capabilities
  CHANGELOG.md
  internal/daemon/controller/auth/auth.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/option.go
  internal/perms/option_test.go
  internal/perms/output_fields_test.go
  internal/types/action/action.go
  internal/types/resource/resource.go
  website/content/docs/concepts/security/permissions/assignable-permissions.mdx
Labels: website, docs/concepts, core, core/perms, core/types

#2158 Bump Go version to v1.18.3
  .github/workflows/build.yml
  ci/goinstall.sh
  internal/db/db.go
  internal/db/db_test.go
Labels: core/db, core

#2159 Add workers SDK API bits
  api/workers/option.gen.go
  api/workers/worker.gen.go
  api/workers/worker_config.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/parse.go
  internal/api/genapi/templates.go
  internal/proto/controller/api/resources/workers/v1/worker.proto
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: api, core, core/proto

#2161 Adjust parameter naming
  api/workers/worker.gen.go
  api/workers/worker_provided_configuration.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/daemon/controller/intercepting_listener.go
  internal/daemon/worker/listeners.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/workers/v1/worker.proto
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: api, core/gen, core, core/proto

#2146 feature(worker): add workerKeyId to status
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/auth_rotation_test.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
  internal/db/schema/migrations/oss/postgres/99/02_worker_controller_tables.up.sql
  internal/db/schema/migrations/oss/postgres/99/04_views.up.sql
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/controller/servers/services/v1/session_service.proto
  internal/proto/controller/servers/v1/servers.proto
  internal/proto/controller/storage/servers/store/v1/worker.proto
  internal/servers/public_ids.go
  internal/servers/repository_worker.go
  internal/servers/repository_worker_test.go
  internal/servers/servers.pb.go
  internal/servers/store/worker.pb.go
  internal/servers/testing.go
  internal/servers/worker.go
  internal/servers/worker_test.go
Labels: core/db, core/gen, core, core/proto, core/servers, core/sql

#2163 feat(worker): Map cluster ID in config to upstream address
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/status.go
Labels: core

#2162 Clarify audit logging file sink doc
  website/content/docs/configuration/events/file.mdx
  website/content/docs/configuration/events/overview.mdx
Labels: website, docs/configuration

#2167 fix(target): Correctly return egress credentials assocaited with target
  internal/cmd/commands/targetscmd/funcs.go
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core

#2172 Fix missing guardrail for worker kms auth population
  internal/cmd/commands/server/server.go
Labels: core

#2173 feat(scheduler): Support unlimited job runs
  internal/daemon/controller/controller.go
  internal/scheduler/job/options.go
  internal/scheduler/job/options_test.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository_run.go
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/options.go
  internal/scheduler/scheduler.go
  internal/scheduler/scheduler_test.go
Labels: core, core/sql

#2168 fix context for worker upstreams
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/status.go
Labels: core

#2154 change(cred-libs): Update user_password to username_password
  CHANGELOG.md
  internal/credential/credential.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/22/02_credential_type.up.sql
  internal/db/schema/migrations/oss/postgres/32/01_credential_type.up.sql
  internal/db/schema/migrations/oss/postgres_32_01_test.go
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_user_password_mapping_override.sql
Labels: core/db, core, core/sql

#2171 Have hclog payloads use `json` tags
  CHANGELOG.md
  internal/observability/event/cloudevents_formatter_node.go
  internal/observability/event/cloudevents_formatter_node_test.go
  internal/observability/event/context_test.go
  internal/observability/event/hclog_formatter_node.go
  internal/observability/event/hclog_formatter_node_test.go
  internal/servers/repository_workerauth.go
  internal/servers/repository_workerauth_test.go
  internal/servers/worker.go
  website/content/docs/concepts/filtering/events.mdx
Labels: website, docs/concepts, core, core/servers

#2169 chore: create redirects for onboarding links
  website/redirects.js
Labels: website

#2181 feature (byow): classify status msg data
  Makefile
  internal/gen/controller/servers/services/server_coordination_service.pb.go
  internal/proto/controller/servers/services/v1/server_coordination_service.proto
  internal/proto/controller/servers/v1/servers.proto
  internal/servers/servers.pb.go
Labels: core/gen, core, core/proto, core/servers

#2182 Send more info on KMS connect
  internal/cmd/base/listener.go
  internal/daemon/controller/intercepting_listener.go
  internal/daemon/worker/controller_connection.go
Labels: core

#2188 Update protos, generated code, and service handlers
  api/workers/option.gen.go
  api/workers/worker.gen.go
  api/workers/worker_provided_configuration.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/api/genapi/parse.go
  internal/cmd/commands/workerscmd/funcs.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/workers/v1/worker.proto
  internal/proto/controller/storage/servers/store/v1/worker.proto
  internal/servers/store/worker.pb.go
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: api, core/gen, core, core/proto, core/servers

#2186 bug(workersAPI): do not allow nonprintable or uppercase name or desc
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/db/schema/migrations/oss/postgres/99/02_worker_controller_tables.up.sql
Labels: core/db, core, core/sql

#2192 cli(workers): Add extra help func
  internal/cmd/commands.go
  internal/cmd/commands/workerscmd/funcs.go
  internal/cmd/commands/workerscmd/workers.gen.go
  internal/cmd/common/help.go
  internal/cmd/gencli/input.go
Labels: core

#1533 chore(targets): remove deprecated fields on target api/cli/sdk and service
  CHANGELOG.md
  api/targets/credential_library.gen.go
  api/targets/option.gen.go
  api/targets/session_credential.gen.go
  api/targets/target.gen.go
  globals/fields.go
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/gencli/input.go
  internal/credential/vault/setup_manual_test.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/target_service.proto
  internal/tests/api/targets/classification_test.go
  internal/types/action/action.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, core/gen, core, core/proto, api/targets, core/types

#2191 feat(cli): Support credential brokering with sshpass
  CHANGELOG.md
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/credentials.go
  internal/cmd/commands/connect/credentials_test.go
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/connect/ssh.go
Labels: core

#2195 Start updates on worker service test
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
Labels: core

#2194 fix (byow): minor updates to UpsertWorkerStatus(...) on conflict
  internal/servers/repository_worker.go
Labels: core, core/servers

#2197 Add description updating via worker status
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/worker/status.go
  internal/proto/controller/servers/v1/servers.proto
  internal/servers/repository_worker.go
  internal/servers/repository_worker_test.go
  internal/servers/servers.pb.go
Labels: core, core/proto, core/servers

#2183 Propagate plugin execution dir to CreatePlugin
  CHANGELOG.md
  internal/cmd/base/servers.go
  internal/daemon/controller/controller_test.go
  sdk/plugins/host/load.go
  sdk/wrapper/wrapper.go
Labels: core

#2200 Don't display active connection count if it's not authorized
  globals/fields.go
  internal/cmd/commands/workerscmd/funcs.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/proto/controller/api/resources/workers/v1/worker.proto
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: core, core/proto

#2202 fix(target): fix type check
  internal/daemon/controller/handlers/targets/credentials.go
Labels: core

#2203 bump ui version for 0.9.0 release
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#2204 Fix eventing and worker name setup
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
Labels: core

#2206 Allow a worker to use KMS auth but accept PKI for proxy
  go.mod
  go.sum
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
Labels: core

#2210 docs(credentials): Add static and username-password to domain model
  website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/domain-model/credentials.mdx
Labels: website, docs/concepts

#2209 bug(workers): KMS workers cannot be updated
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/servers/repository_worker.go
  internal/servers/repository_worker_test.go
  internal/servers/testing.go
Labels: core, core/servers

#2213 bump ui commit hash for 0.9.0
  internal/ui/VERSION
Labels: core/ui, core

#2212 Split proto breaking change detection config
  Makefile
  internal/proto/buf.breaking.json.yaml
  internal/proto/buf.breaking.wire.yaml
  internal/proto/buf.yaml
Labels: core, core/proto

#2214 Fix harmless but nasty-looking error
  internal/daemon/controller/controller.go
Labels: core

#2215 Add events on session activation and connection authz/close
  internal/daemon/worker/handler.go
  internal/daemon/worker/session/session.go
  internal/daemon/worker/status.go
Labels: core

#2217 bump up ui version which includes static cred updates
  internal/ui/VERSION
Labels: core/ui, core

#2219 fix (API): check attributes missing appropriately.
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/validate_test.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/password.go
  internal/daemon/controller/handlers/authmethods/password_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
Labels: core

#2220 update ui version to latest commit on main
  internal/ui/VERSION
Labels: core/ui, core

#2227 Add some OSS/HCP Boundary distinctions in docs
  website/content/docs/configuration/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

#2226 bug(scheduler): Fix controller id length check
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/34/02_worker_controller_tables.up.sql
  internal/db/schema/migrations/oss/postgres/35/01_job_migrations.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/controller/controller_id.sql
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/job/testing.go
  internal/server/repository_controller_test.go
Labels: core/db, core, core/sql, core/server

#2229 Add an extra cleanup task for sessions stuck in canceling state
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/35/02_cleanup.up.sql
Labels: core/db, core, core/sql

#2230 updates learn links
  website/content/docs/concepts/service-discovery.mdx
  website/content/docs/getting-started/index.mdx
  website/data/docs-nav-data.json
Labels: docs/getting-started, docs/workflows, backport/website
