Repository hashicorp/boundary, pull requests merged in 2022-03, with the labels that each got.

#1876 chore: updates to azure and AWS doc links
  website/redirects.js
Labels: website

#1883 docs(targets): remove default port option
  website/content/docs/concepts/domain-model/targets.mdx
Labels: website, docs/concepts, event/boundary-docs-day

#1879 refact(session connections): Create session connection repository
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/db/schema/migrations/oss/postgres_24_01_test.go
  internal/servers/controller/common/common.go
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/targets/tcp/target_service_test.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/handlers/workers/worker_service_test.go
  internal/servers/controller/listeners.go
  internal/servers/controller/session_cleanup_job.go
  internal/servers/controller/session_cleanup_job_test.go
  internal/servers/controller/testing.go
  internal/session/query.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/service_authorize_connection.go
  internal/session/service_authorize_connection_test.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/helper/testing_helper.go
Labels: core/db, core/session, core, core/servers, core/sql

#1884 updated CLI connection options, including addr
  website/content/docs/api-clients/cli.mdx
Labels: website, website/cherrypick

#1885 Update roadmap.mdx
  website/content/docs/roadmap.mdx
Labels: website, backport/website, event/boundary-docs-day

#1889 fix(genapi): Sort slice in removeDups template function
  internal/api/genapi/templates.go
Labels: core

#1893 docs(permissions): break permissions into sections
  internal/website/permstable/permstable.go
  website/content/docs/concepts/security/permissions/assignable-permissions.mdx
  website/content/docs/concepts/security/permissions/index.mdx
  website/content/docs/concepts/security/permissions/permission-grant-formats.mdx
  website/content/docs/concepts/security/permissions/resource-table.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, core, event/boundary-docs-day

#1896 docs(connections): Update domain model for session connections
  website/content/docs/concepts/domain-model/session-connections.mdx
  website/content/docs/concepts/domain-model/sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts

#1898 feat(worker): Only close network connections on grace period expiration
  internal/servers/worker/status.go
Labels: core, core/servers

#1897 refactor(connections): Move connectConnection to the Connection repo
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/session_cleanup_job_test.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
Labels: core/session, core, core/servers

#1887 Docs: Update connect-to-target page with target-name example
  website/content/docs/getting-started/connect-to-target.mdx
Labels: docs/getting-started, website, backport/website, event/boundary-docs-day

#1895 refactor(session connections): Refactor connection closure
  internal/db/schema/migrations/oss/postgres/0/51_connection.up.sql
  internal/db/schema/migrations/oss/postgres/0/69_wh_session_facts.up.sql
  internal/db/schema/migrations/oss/postgres/16/05_wh_credential_dimension.up.sql
  internal/db/schema/migrations/oss/postgres/27/01_disable_terminate_session.up.sql
  internal/db/schema/migrations/oss/postgres/27/02_wh_session_facts.up.sql
  internal/servers/controller/handlers/workers/worker_service.go
  internal/session/query.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/service_close_connections.go
  internal/session/service_close_connections_test.go
Labels: core/db, core/session, core, core/servers, core/sql

#1914 fix(scheduler): Update job run query to not error on running conflict
  CHANGELOG.md
  internal/scheduler/job/immutable_fields_test.go
  internal/scheduler/job/query.go
  internal/scheduler/job/repository_run_test.go
  internal/scheduler/job/testing.go
  internal/servers/controller/controller.go
Labels: core, core/servers, core/sql

#1919 chore: Merge session connection deadlock branch to main
  CHANGELOG.md
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/db/schema/migrations/oss/postgres/0/51_connection.up.sql
  internal/db/schema/migrations/oss/postgres/0/69_wh_session_facts.up.sql
  internal/db/schema/migrations/oss/postgres/16/05_wh_credential_dimension.up.sql
  internal/db/schema/migrations/oss/postgres/27/01_disable_terminate_session.up.sql
  internal/db/schema/migrations/oss/postgres/27/02_wh_session_facts.up.sql
  internal/db/schema/migrations/oss/postgres_24_01_test.go
  internal/servers/controller/common/common.go
  internal/servers/controller/controller.go
  internal/servers/controller/handlers/targets/tcp/target_service_test.go
  internal/servers/controller/handlers/workers/worker_service.go
  internal/servers/controller/handlers/workers/worker_service_status_test.go
  internal/servers/controller/handlers/workers/worker_service_test.go
  internal/servers/controller/listeners.go
  internal/servers/controller/multi_test.go
  internal/servers/controller/session_cleanup_job.go
  internal/servers/controller/session_cleanup_job_test.go
  internal/servers/controller/testing.go
  internal/servers/worker/status.go
  internal/session/options.go
  internal/session/query.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/service_authorize_connection.go
  internal/session/service_authorize_connection_test.go
  internal/session/service_close_connections.go
  internal/session/service_close_connections_test.go
  internal/session/service_worker_status_report.go
  internal/session/service_worker_status_report_test.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/helper/testing_helper.go
  website/content/docs/concepts/domain-model/session-connections.mdx
  website/content/docs/concepts/domain-model/sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, core/db, core/session, core, core/servers, core/sql

#1920 Update references to "make dev"
  README.md
  internal/adding-a-new-field-readme.md
  website/content/docs/developing/building.mdx
Labels: website, core

#1915 Add hclog adapter and gating to eventer
  internal/cmd/base/option.go
  internal/cmd/base/option_test.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_gate_test.go
  internal/observability/event/eventer_test.go
  internal/observability/event/hclog_event_adapter.go
  internal/observability/event/hclog_event_adapter_test.go
  internal/observability/event/options.go
  internal/observability/event/options_test.go
  internal/observability/event/sink_config.go
  internal/observability/event/sink_type.go
  internal/servers/controller/controller.go
Labels: core, core/servers

#1929 bug(worker): create error and handle session cancel with no tofu token
  CHANGELOG.md
  internal/servers/worker/handler.go
Labels: core, core/servers

#1930 Bump desktop client version for website docs
  website/data/version.js
Labels: website

#1928 internal/session: fix dropped test errors
  internal/session/repository_connection_test.go
  internal/session/service_authorize_connection_test.go
Labels: core/session, core

#1924 Update keyring deps to remove deprecation warnings
  go.mod
  go.sum
  internal/cmd/base/keyring.go
Labels: core

#1939 [RelAPI Onboarding] Add release API metadata file
  .release/release-metadata.hcl
Labels: backport/0.7.x

#1931 feat(proto): create custom option for attribute subtype
  internal/api/genapi/parse.go
  internal/proto/local/controller/custom_options/v1/options.proto
  sdk/pbs/controller/protooptions/options.pb.go
Labels: core, core/proto

#1908 refactor(controller): Decouple listeners/servers shutdown from Worker
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/servers/controller/controller.go
  internal/servers/controller/listeners.go
  internal/servers/controller/listeners_test.go
  internal/servers/controller/testing.go
  internal/tests/cluster/ipv6_listener_test.go
  internal/tests/cluster/multi_controller_worker_test.go
  internal/tests/cluster/unix_listener_test.go
Labels: core, core/servers

#1882 feat(controller): Add health endpoint
  CHANGELOG.md
  internal/cmd/base/listener.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  internal/gen/controller/ops/services/health_service.pb.go
  internal/gen/controller/ops/services/health_service.pb.gw.go
  internal/gen/controller/ops/services/health_service_grpc.pb.go
  internal/proto/local/controller/ops/resources/health/v1/health.proto
  internal/proto/local/controller/ops/services/v1/health_service.proto
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/handlers/health/health.go
  internal/servers/controller/handlers/health/health_test.go
  internal/servers/controller/testing.go
  internal/servers/worker/listeners.go
  sdk/pbs/controller/ops/resources/health/health.pb.go
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/listener/index.mdx
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
Labels: website, core/gen, docs/configuration, core, core/proto, core/servers

#1954 Upgrade grpc-gateway version to v2.10.0
  go.mod
  go.sum
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/account_service.pb.gw.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/gen/controller/api/services/authtokens_service.pb.gw.go
  internal/gen/controller/api/services/credential_library_service.pb.gw.go
  internal/gen/controller/api/services/credential_store_service.pb.gw.go
  internal/gen/controller/api/services/group_service.pb.gw.go
  internal/gen/controller/api/services/host_catalog_service.pb.gw.go
  internal/gen/controller/api/services/host_service.pb.gw.go
  internal/gen/controller/api/services/host_set_service.pb.gw.go
  internal/gen/controller/api/services/managed_group_service.pb.gw.go
  internal/gen/controller/api/services/role_service.pb.gw.go
  internal/gen/controller/api/services/scope_service.pb.gw.go
  internal/gen/controller/api/services/session_service.pb.gw.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/user_service.pb.gw.go
  internal/gen/testing/event/event.pb.gw.go
  internal/gen/testing/event/testing.swagger.json
Labels: core/gen, core

#1888 docs: Add full example for using recovery KMS workflow
  website/content/docs/api-clients/go-sdk.mdx
Labels: website, backport/website, event/boundary-docs-day

#1878 website: clarification on default TCP ports
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/installing/high-availability.mdx
Labels: website, docs/installing, docs/configuration, backport/website

#1910 refactor(worker): Startup, shutdown and cluster tests changes
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/servers/worker/controller_connection.go
  internal/servers/worker/listeners.go
  internal/servers/worker/listeners_test.go
  internal/servers/worker/testing.go
  internal/servers/worker/worker.go
  internal/servers/worker/worker_test.go
  internal/tests/cluster/ipv6_listener_test.go
  internal/tests/cluster/multi_controller_worker_test.go
  internal/tests/cluster/unix_listener_test.go
  internal/tests/cluster/worker_replay_test.go
Labels: core, core/servers

#1917 Defines the controller api metrics and registers them at controller startup
  globals/fields.go
  go.mod
  go.sum
  internal/cmd/base/servers.go
  internal/cmd/commands/server/server_test.go
  internal/cmd/ops/server.go
  internal/gen/testing/protooptions/service.pb.go
  internal/gen/testing/protooptions/service.pb.gw.go
  internal/gen/testing/protooptions/service_grpc.pb.go
  internal/proto/local/testing/options/v1/service.proto
  internal/servers/controller/controller.go
  internal/servers/controller/handler.go
  internal/servers/controller/internal/metric/api.go
  internal/servers/controller/internal/metric/api_test.go
  internal/servers/controller/testing.go
  internal/servers/controller/testing_test.go
Labels: core/gen, core, core/proto, core/servers

#1886 Docs: Adding service discovery concept page
  website/content/docs/concepts/service-discovery.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, backport/website
