Repository hashicorp/boundary, pull requests merged in 2022-09, with the labels that each got.

#2383 chore: Add redirect docs for worker
  website/redirects.js
Labels: website

#2411 Fork pgtap-docker to support arm64
  internal/db/sqltest/Makefile
  testing/dbtest/pgtap-docker/Dockerfile
  testing/dbtest/pgtap-docker/LICENSE
  testing/dbtest/pgtap-docker/Makefile
  testing/dbtest/pgtap-docker/README.md
  testing/dbtest/pgtap-docker/test.sh
Labels: core/db, core

#2417 feat(worker): Support reloading of initial upstreams on SIGHUP
  internal/cmd/commands/server/server.go
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#2413 Add controller-led worker auth flow
  CHANGELOG.md
  api/workers/worker.gen.go
  globals/fields.go
  go.mod
  go.sum
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
  internal/cmd/commands.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/dev/flags_test.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/workerscmd/controller-led_funcs.go
  internal/cmd/commands/workerscmd/controller-led_workers.gen.go
  internal/cmd/commands/workerscmd/funcs.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/gencli/input.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/handlers/targets/target_service_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/worker.go
  internal/db/schema/migrations/oss/postgres/48/01_worker_auth_activation_token.up.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/worker_service.pb.go
  internal/gen/controller/api/services/worker_service.pb.gw.go
  internal/gen/controller/api/services/worker_service_grpc.pb.go
  internal/perms/acl_test.go
  internal/proto/controller/api/resources/workers/v1/worker.proto
  internal/proto/controller/api/services/v1/worker_service.proto
  internal/proto/controller/storage/servers/store/v1/worker_auth.proto
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository.go
  internal/server/repository_controller.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
  internal/server/repository_workerauth.go
  internal/server/repository_workerauth_test.go
  internal/server/store/gorm.go
  internal/server/store/worker_auth.pb.go
  internal/server/testing.go
  internal/server/testing_test.go
  internal/server/worker.go
  internal/server/worker_auth.go
  internal/server/worker_auth_server_led_activation_token.go
  internal/server/worker_auth_server_led_activation_token_test.go
  internal/types/action/action.go
  internal/types/action/action_test.go
  internal/website/permstable/permstable.go
  sdk/pbs/controller/api/resources/workers/worker.pb.go
  website/content/docs/concepts/security/permissions/resource-table.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, api, docs/concepts, core/db, core/gen, docs/configuration, core, core/proto, core/perms, core/types, core/sql, core/daemon, core/server

#2399 bug(vault): Correctly handle credential stores with expired tokens
  CHANGELOG.md
  api/credentialstores/vault_credential_store_attributes.gen.go
  internal/cmd/commands/credentialstorescmd/funcs.go
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/private_store.go
  internal/credential/vault/private_store_test.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/44/01_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/49/01_vault_credentials.up.sql
  internal/db/sqltest/initdb.d/01_colors_persona.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_issue_credentials.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_ssh_private_key_mapping_override.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_library_username_password_mapping_override.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_store_client.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_store_list_lookup.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_token_renewal_revocation.sql
  internal/proto/controller/api/resources/credentialstores/v1/credential_store.proto
  internal/tests/api/credentialstores/credentialstore_test.go
  sdk/pbs/controller/api/resources/credentialstores/credential_store.pb.go
Labels: api, core/db, core, core/proto, core/sql, core/daemon

#2424 Update googleapis/grpc-gateway dependency
  internal/proto/buf.lock
Labels: core, core/proto

#2342 Boundary Resource listing Performance
  internal/cmd/base/initial_resources.go
  internal/credential/vault/repository_credentials_test.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/common/scopeids/scope_ids_test.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handlers/sessions/session_list_benchmarks_test.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/50/01_session_list_index.up.sql
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/server/repository_worker_test.go
  internal/session/job_delete_terminated_sessions_test.go
  internal/session/job_session_cleanup_test.go
  internal/session/jobs.go
  internal/session/options.go
  internal/session/query.go
  internal/session/repository.go
  internal/session/repository_connection_test.go
  internal/session/repository_credential_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/repository_test.go
  internal/session/service_authorize_connection_test.go
  internal/session/service_close_connections_test.go
  internal/session/service_list_for_authz_check.go
  internal/session/service_worker_status_report_test.go
  internal/session/testing.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/repository_credential_source_test.go
  internal/target/repository_test.go
  internal/target/tcp/immutable_fields_test.go
  internal/target/tcp/repository_credential_source_test.go
  internal/target/tcp/repository_host_source_test.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/target/tcp/repository_test.go
  internal/target/tcp/testing_test.go
  testing/dbtest/session_list_benchmarks_dump_generation_test.go
Labels: core/db, core/session, core, core/perms, core/target, core/sql, core/daemon, core/server

#2428 Add ability to skip shared lock acquisition
  internal/cmd/base/listener.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
Labels: core

#2432 Minor documentation fixes for controller-led
  internal/cmd/commands/workerscmd/controller-led_funcs.go
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, docs/configuration, core

#2433 sql: change type of key_id columns to kms_private_id
  internal/db/schema/migrations/oss/postgres/51/01_add_data_key_foreign_key_references.up.sql
Labels: core/db, core, core/sql

#2438 fix(worker): Improper reload when running as controller and worker
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/testing.go
Labels: core, core/daemon

#2422 Reload database on SIGHUP
  internal/cmd/base/dev.go
  internal/cmd/base/servers.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/server.go
  internal/daemon/controller/testing.go
  internal/db/changesafe_reader_writer.go
  internal/db/db.go
  internal/db/db_test.go
  internal/db/read_writer.go
  internal/db/read_writer_oplog.go
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
  internal/db/testing.go
  internal/kms/kms.go
  internal/kms/kms_ext_test.go
  internal/kms/kms_test.go
Labels: core/db, core, core/kms, core/daemon

#2427 feat(workers): worker operational state
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
  internal/db/schema/migrations/oss/postgres/52/01_worker_operational_state.up.sql
  internal/db/schema/migrations/oss/postgres_52_01_test.go
  internal/gen/controller/servers/servers.pb.go
  internal/proto/controller/servers/v1/servers.proto
  internal/proto/controller/storage/servers/store/v1/worker.proto
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
  internal/server/store/worker.pb.go
  internal/server/worker.go
  internal/server/worker_test.go
Labels: core/db, core/gen, core, core/proto, core/sql, core/daemon, core/server

#2443 feat(scheduler): set intervals from config
  internal/cmd/commands/dev/dev.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/testing.go
  internal/scheduler/scheduler_test.go
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration, core, core/daemon

#2444 fix: return an error for vault tokens that will expire before the scheduler can run
  internal/credential/vault/jobs_test.go
  internal/credential/vault/repository_credential_store.go
  internal/scheduler/scheduler.go
Labels: core

#2445 chore(targets): Improve help and errors around ssh targets
  internal/cmd/commands/targetscmd/ssh_funcs.go
  internal/daemon/worker/handler.go
Labels: core, core/daemon

#2448 fix(perms): Properly resolve "only self" for permissions
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core, core/perms

#2449 [docs] Address reported bugs
  website/content/docs/concepts/filtering/events.mdx
  website/content/docs/configuration/events/common.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#2450 Add session endpoint test for #2448
  CHANGELOG.md
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
Labels: core, core/daemon

#2446 fix: show user warning log when token period is less than jobRunInterval
  internal/credential/vault/repository_credentials.go
Labels: core

#2451 cli(ssh): Do not print private key if consumed
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/connect/ssh.go
Labels: core

#2447 chore: add worker tags redirect
  website/redirects.js
Labels: website

#2393 Remove deprecated methods/fields on targets
  CHANGELOG.md
  api/targets/host_set.gen.go
  api/targets/target.gen.go
  enos/modules/test_smoke/main.tf
  internal/api/genapi/input.go
  internal/cmd/commands.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/gencli/input.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/53/01_roles.up.sql
  internal/db/schema/migrations/oss/postgres_53_01_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/target_service.proto
  internal/tests/api/targets/classification_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/cli/boundary/_targets.bash
  internal/tests/cli/boundary/credentials.bats
  internal/tests/cli/boundary/target.bats
  internal/types/action/action.go
  internal/website/permstable/permstable.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
  website/content/docs/concepts/filtering/resource-listing.mdx
  website/content/docs/concepts/security/permissions/resource-table.mdx
Labels: website, api, docs/concepts, core/db, core/gen, core, core/proto, api/targets, core/types, core/sql, core/daemon

#2426 website: content updates for developer
  website/Makefile
  website/content/docs/getting-started/deploy-and-login.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: docs/getting-started, website, backport/website

#2457 Backport (#2426) into `stable-website`
  website/Makefile
  website/content/docs/getting-started/deploy-and-login.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/what-is-boundary.mdx
  website/data/docs-nav-data.json
  website/scripts/website-build.sh
  website/scripts/website-start.sh
Labels: docs/getting-started, website

#2404 docs(vault): add Vault worker filter documentation
  website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
Labels: website, docs/concepts

#2459 scheduler: log details when starting scheduler
  internal/scheduler/scheduler.go
Labels: core

#2453 address op state review feedback
  internal/daemon/controller/handlers/targets/target_service.go
  internal/db/schema/migrations/oss/postgres/51/01_server_worker_release_version.up.sql
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
Labels: core/db, core, core/sql, core/daemon, core/server

#2461 fix(Makefile): mount `/../internal/gen`
  website/Makefile
Labels: website

#2460 doc: Add link to generated API docs on API page
  website/content/docs/api-clients/api.mdx
Labels: website

#2463 Manual cherry-pick: PR 2449 and PR 2460
  website/content/docs/api-clients/api.mdx
  website/content/docs/concepts/filtering/events.mdx
  website/content/docs/configuration/events/common.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/concepts, docs/configuration

#2462 chore(cli): Run bats tests against boundary dev in CI
  .github/workflows/build.yml
  Makefile
  internal/tests/cli/Makefile
  internal/tests/cli/README.md
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/test.sh
Labels: core

#2423 feat: static json credentials
  api/credentials/json_attributes.gen.go
  api/credentials/option.gen.go
  internal/api/genapi/input.go
  internal/cmd/base/base.go
  internal/cmd/commands.go
  internal/cmd/commands/connect/credentials_test.go
  internal/cmd/commands/credentialscmd/funcs.go
  internal/cmd/commands/credentialscmd/json_credentials.gen.go
  internal/cmd/commands/credentialscmd/json_credentials_funcs.go
  internal/cmd/commands/hostcatalogscmd/plugin_hostcatalogs.gen.go
  internal/cmd/commands/hostsetscmd/plugin_hostsets.gen.go
  internal/cmd/common/flags.go
  internal/cmd/gencli/input.go
  internal/cmd/gencli/templates.go
  internal/credential/credential.go
  internal/credential/public_ids.go
  internal/credential/redact.go
  internal/credential/redact_test.go
  internal/credential/static/fields.go
  internal/credential/static/json_credential.go
  internal/credential/static/json_credential_test.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/store/static.pb.go
  internal/credential/static/testing.go
  internal/credential/static/testing_test.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/db/schema/migrations/oss/postgres/54/01_static_json_creds.up.sql
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/target/target_static_credential.sql
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  internal/proto/controller/storage/credential/static/store/v1/static.proto
  internal/tests/api/credentials/credentials_test.go
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/credentials.bats
  internal/tests/cli/boundary/target_credential_sources.bats
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: api, core/db, core, core/proto, core/sql, core/daemon

#2466 website: update host catalog redirects & add new host set redirects
  website/redirects.js
Labels: website

#2465 fix(org): Address bug that prevented deleting an org
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/54/02_session_defer.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/initdb.d/04_foodtruck_persona.sql
  internal/db/sqltest/tests/org/org-delete.sql
  internal/db/sqltest/tests/wh/session/update_state.sql
Labels: core/db, core, core/sql

#2455 Worker graceful shutdown
  internal/cmd/base/base.go
  internal/cmd/base/dev.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/servers.go
  internal/cmd/commands.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/server/server_test.go
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/worker.go
  internal/tests/helper/testing_helper.go
Labels: core, core/daemon

#2468 Fix enos bats test errors
  enos/modules/test_cli_ui/tests.tf
  internal/tests/cli/boundary/_helpers.bash
  internal/tests/cli/boundary/groups.bats
  internal/tests/cli/boundary/roles.bats
  internal/tests/cli/boundary/sessions.bats
  internal/tests/cli/boundary/target.bats
Labels: core

#2476 add aws region website redirect
  website/redirects.js
Labels: website

#2480 Bump UI commitish
  internal/ui/VERSION
Labels: core/ui, core

#2481 log(vault): Log formatted duration instead of nanoseconds
  internal/credential/vault/repository_credentials.go
Labels: core

#2479 Add schema for new kms destruction jobs
  internal/db/schema/migrations/oss/postgres/55/03_create_kms_key_destructions.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/initdb.d/03_widgets_persona.sql
  internal/db/sqltest/tests/kms/kms_data_key_destruction_job.sql
Labels: core/db, core, core/sql

#2484 update worker auth rotate
  internal/daemon/worker/auth_rotation.go
Labels: core, core/daemon

#2487 Bump UI commitish
  internal/ui/VERSION
Labels: core/ui, core

#2489 Bump UI commitish
  internal/ui/VERSION
Labels: core/ui, core

#2490 feat(ssh): Use HostId as HostKeyAlias for connect ssh helper
  enos/templates/connect-target.sh
  internal/cmd/commands/connect/ssh.go
  internal/daemon/worker/session/session.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/controller/servers/services/v1/session_service.proto
Labels: core/gen, core, core/proto, core/daemon

#2491 Adapt to new nodeenrollment X25519KeyProducer interface
  go.mod
  go.sum
  internal/daemon/worker/auth_rotation.go
Labels: core, core/daemon

#2494 Fix incorrect flag name
  internal/cmd/commands/credentialstorescmd/vault_funcs.go
Labels: core

#2492 fix(genapi): uint64 fields failing to be unmarshalled
  api/sessions/connection.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
Labels: api, api/sessions, core

#2495 use prior and current worker auth keys
  go.mod
  go.sum
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/auth_rotation_test.go
  internal/db/schema/migrations/oss/postgres/34/03_worker_authentication.up.sql
  internal/db/schema/migrations/oss/postgres/55/01_worker_auth_create_time.up.sql
  internal/proto/controller/storage/servers/store/v1/worker_auth.proto
  internal/server/repository_workerauth.go
  internal/server/repository_workerauth_test.go
  internal/server/store/worker_auth.pb.go
  internal/server/worker_auth.go
  internal/server/workerauth_store_test.go
Labels: core/db, core, core/proto, core/sql, core/daemon, core/server

#2497 cli(ssh): Use type instead of SubtypeFromId
  internal/cmd/commands/connect/ssh.go
Labels: core

#2499 Bump UI version
  internal/ui/VERSION
Labels: core/ui, core

#2478 Add key version rewrapping function registry
  go.mod
  go.sum
  internal/kms/rewrapping.go
Labels: core, core/kms

#2500 Support reading multiple configuration files
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_load_test.go
  internal/cmd/config/testdata/TestLoad/MultiFile/00-controller.hcl
  internal/cmd/config/testdata/TestLoad/MultiFile/01-worker.hcl
  internal/cmd/config/testdata/TestLoad/MultiFile/02-kms.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/00-controller.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/01-controller-duplicated.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/01-worker.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/02-kms.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/00-controller.json
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/01-worker.json
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/02-kms.json
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/03-listener.json
  internal/cmd/config/testdata/TestLoad/MultiFileMix/00-controller.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileMix/02-worker.json
  internal/cmd/config/testdata/TestLoad/MultiFileMix/03-kms.hcl
  internal/cmd/config/testdata/TestLoad/SingleFile/config.hcl
  internal/cmd/config/testdata/TestLoad/SingleFileJSON/config.json
  testing/controller/controller.go
Labels: core

#2504 Cherry pick: feat(config): Support multiple files
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_load_test.go
  internal/cmd/config/testdata/TestLoad/MultiFile/00-controller.hcl
  internal/cmd/config/testdata/TestLoad/MultiFile/01-worker.hcl
  internal/cmd/config/testdata/TestLoad/MultiFile/02-kms.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/00-controller.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/01-controller-duplicated.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/01-worker.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileDuplicateStanza/02-kms.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/00-controller.json
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/01-worker.json
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/02-kms.json
  internal/cmd/config/testdata/TestLoad/MultiFileJSON/03-listener.json
  internal/cmd/config/testdata/TestLoad/MultiFileMix/00-controller.hcl
  internal/cmd/config/testdata/TestLoad/MultiFileMix/02-worker.json
  internal/cmd/config/testdata/TestLoad/MultiFileMix/03-kms.hcl
  internal/cmd/config/testdata/TestLoad/SingleFile/config.hcl
  internal/cmd/config/testdata/TestLoad/SingleFileJSON/config.json
  testing/controller/controller.go
Labels: core
