Repository hashicorp/boundary, pull requests merged in 2022-12, with the labels that each got.

#2672 add worker version to network graph
  internal/daemon/controller/controller.go
  internal/daemon/worker/worker.go
  internal/server/options.go
  internal/server/options_test.go
  internal/server/root_info.go
Labels: core, core/daemon, core/server

#2671 chore: Update Digital Team Files
  website/Makefile
Labels: website

#2668 feat(metric): adds accepted/closed connections counters to worker and controller servers
  CHANGELOG.md
  internal/daemon/controller/internal/metric/cluster.go
  internal/daemon/controller/listeners.go
  internal/daemon/metric/initialize_metrics.go
  internal/daemon/metric/instrument_handlers.go
  internal/daemon/metric/instrument_handlers_test.go
  internal/daemon/worker/internal/metric/cluster_client.go
  internal/daemon/worker/internal/metric/cluster_server.go
  internal/daemon/worker/internal/metric/proxy_http.go
  internal/daemon/worker/listeners.go
Labels: core, core/daemon

#2675 fix(cmd): boundary connect SSH depending on a host id for ssh aliasing
  internal/cmd/commands/connect/ssh.go
Labels: core

#2690 docs: update GCP KMS docs with environment variable usage
  website/content/docs/configuration/kms/gcpckms.mdx
Labels: website, docs/configuration, backport/website

#2679 Update Vault credential library templating section
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts, backport/website

#2688 fix(db): Reorder migrations
  internal/db/schema/migrations/oss/postgres/0/01_domain_types.up.sql
  internal/db/schema/migrations/oss/postgres/0/11_auth_token.up.sql
  internal/db/schema/migrations/oss/postgres/10/04_vault_credential.up.sql
  internal/db/schema/migrations/oss/postgres/12/01_timestamp_sub_funcs.up.sql
  internal/db/schema/migrations/oss/postgres/2/04_oidc.up.sql
  internal/db/schema/migrations/oss/postgres/23/01_session_credential.up.sql
  internal/db/schema/migrations/oss/postgres/30/04_kms_keys.up.sql
  internal/db/schema/migrations/oss/postgres/34/03_worker_authentication.up.sql
  internal/db/schema/migrations/oss/postgres/43/01_session_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/44/01_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/44/02_hosts.up.sql
  internal/db/schema/migrations/oss/postgres/44/04_sessions.up.sql
  internal/db/schema/migrations/oss/postgres/48/01_worker_auth_activation_token.up.sql
  internal/db/schema/migrations/oss/postgres/49/01_vault_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/55/01_worker_auth_create_time.up.sql
  internal/db/schema/migrations/oss/postgres/56/01_oplog_key_id_scope_id_truncation.up.sql
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/db/schema/migrations/oss/postgres/56/03_create_kms_key_destructions.up.sql
  internal/db/schema/migrations/oss/postgres/56/04_mutable_root_key_version.up.sql
  internal/db/schema/migrations/oss/postgres/56/05_mutable_ciphertext_columns.up.sql
  internal/db/schema/migrations/oss/postgres/56/06_add_session_private_key_column.up.sql
  internal/db/schema/migrations/oss/postgres/57/01_auth.up.sql
  internal/db/schema/migrations/oss/postgres/58/01_fix_comments.up.sql
  internal/db/schema/migrations/oss/postgres/59/01_target_ingress_egress_worker_filters.up.sql
  internal/db/schema/migrations/oss/postgres/6/01_oidc.up.sql
  internal/db/schema/migrations/oss/postgres/7/01_functions.up.sql
  internal/db/schema/migrations/oss/postgres_56_01_test.go
  internal/db/schema/migrations/oss/postgres_57_01_test.go
  internal/db/schema/migrations/oss/postgres_58_01_test.go
Labels: core/db, core, core/sql

#2662 Onboard boundary to use new version/VERSION file and reproducible actions-go-build
  .github/workflows/build.yml
  .release/ci.hcl
  scripts/build.sh
  version/VERSION
  version/version_base.go
Labels: backport/0.11.x

#2700 fix(docs): Use "root" to reference the root key
  website/content/docs/concepts/security/data-encryption.mdx
Labels: website, docs/concepts

#2695 refactor(metric): adds exclude and include maps to metric init function
  internal/daemon/metric/initialize_metrics.go
  internal/daemon/metric/initialize_metrics_test.go
  internal/daemon/worker/internal/metric/cluster_client.go
Labels: core, core/daemon

#2706 docs: Fix KMS rotation docs on stable website
  CHANGELOG.md
  website/content/docs/concepts/security/data-encryption.mdx
Labels: website, docs/concepts

#2421 Add Staticcheck to Build Pipeline
  .github/workflows/linting.yml
  .golangci.yml
  Makefile
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_store.go
  internal/db/read_writer.go
  internal/iam/principal_role.go
  internal/observability/event/event_observation.go
  internal/session/job_session_cleanup_test.go
  internal/session/repository_session_test.go
  scripts/install-golangci-lint.sh
Labels: core/iam, core/db, core/session, core

#2708 docs(target): Introduce direct address targets and explain tradeoffs
  website/content/docs/api-clients/cli.mdx
  website/content/docs/concepts/domain-model/index.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/oss/installing/connect-to-dev-target.mdx
  website/content/docs/oss/installing/dev-mode.mdx
Labels: website, docs/concepts

#2712 Move dialingListener setAddresses
  internal/daemon/worker/status.go
Labels: core, core/daemon

#2713 revert 2712
  internal/daemon/worker/status.go
Labels: core, core/daemon

#2707 docs: Delete roadmap topic
  website/content/docs/roadmap.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, backport/website

#2720 Merge duplicated attr/secret/kv flag handling into one function
  internal/cmd/commands/credentialscmd/json_credentials.gen.go
  internal/cmd/commands/hostcatalogscmd/plugin_hostcatalogs.gen.go
  internal/cmd/commands/hostsetscmd/plugin_hostsets.gen.go
  internal/cmd/common/flags.go
  internal/cmd/common/flags_test.go
  internal/cmd/gencli/templates.go
Labels: core

#2718 feature (auth/ldap): add repo and reading an auth method
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/options.go
  internal/auth/ldap/options_test.go
  internal/auth/ldap/repository.go
  internal/auth/ldap/repository_auth_method_read.go
  internal/auth/ldap/repository_auth_method_read_test.go
  internal/auth/ldap/repository_test.go
  internal/auth/ldap/rewrapping_test.go
  internal/auth/ldap/store/ldap.pb.go
  internal/auth/ldap/testing.go
  internal/auth/ldap/testing_test.go
  internal/db/schema/migrations/oss/postgres/60/01_ldap.up.sql
  internal/proto/controller/storage/auth/ldap/store/v1/ldap.proto
Labels: core/db, core/auth, core, core/proto, core/sql

#2723 fix(kms/test): Fix flake in Test_RotateKeys
  internal/kms/kms_test.go
Labels: core, core/kms

#2683 feat: update target domain to support direct address association
  internal/proto/controller/storage/target/store/v1/target.proto
  internal/target/address.go
  internal/target/address_test.go
  internal/target/options.go
  internal/target/repository.go
  internal/target/repository_address.go
  internal/target/repository_credential_source.go
  internal/target/repository_host_source.go
  internal/target/store/target.pb.go
  internal/target/target.go
  internal/target/targettest/target.go
  internal/target/tcp/exports_test.go
  internal/target/tcp/repository_host_source_test.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/target/tcp/target.go
  internal/target/tcp/target_test.go
  internal/target/tcp/testing.go
  internal/target/testing.go
Labels: core, core/proto, core/target

#2684 feat: update session domain to support using address directly associated to a target
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session.go
  internal/session/session_host_set_host.go
  internal/session/session_target_address.go
  internal/session/session_test.go
  internal/session/testing.go
Labels: core/session, core

#2685 feat: update session & target handlers to support direct address association
  internal/daemon/controller/handlers/sessions/session_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/targets/tcp/tcp.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/session/repository_session.go
  internal/tests/api/targets/target_test.go
  internal/tests/cli/boundary/_targets.bash
  internal/tests/cli/boundary/target.bats
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core/gen, core/session, core, core/proto, core/daemon

#2722 docs: Add HCP link to navigation
  website/data/docs-nav-data.json
Labels: website, backport/website

#2728 fix (db): Improve error handling for commit errors.
  internal/db/read_writer.go
  internal/db/read_writer_test.go
Labels: core/db, core

#2724 feature (auth/ldap): add Repository.CreateAuthMethod(...) and Repository.DeleteAuthMethod(...)
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/repository.go
  internal/auth/ldap/repository_auth_method_create.go
  internal/auth/ldap/repository_auth_method_create_test.go
  internal/auth/ldap/repository_auth_method_delete.go
  internal/auth/ldap/repository_auth_method_delete_test.go
  internal/auth/ldap/repository_auth_method_read.go
  internal/auth/ldap/testing.go
  internal/auth/ldap/testing_test.go
  internal/auth/ldap/url.go
  internal/auth/ldap/url_test.go
  internal/db/schema/migrations/oss/postgres/60/01_ldap.up.sql
Labels: core/db, core/auth, core, core/sql

#2737 Do not emit error on auth not found
  internal/server/repository_workerauth.go
Labels: core, core/server

#2738 feat(cmd): Create target using address on boundary dev / database init
  internal/cmd/base/dev.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/servers.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/server_test.go
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/daemon/controller/testing.go
Labels: core, core/daemon

#2733 Expose State() *structpb.Struct interface through the metric connecti… …on trackers
  internal/daemon/metric/instrument_handlers.go
Labels: core, core/daemon
