Repository hashicorp/boundary, pull requests merged in 2022-04, with the labels that each got.

#1965 Remove ALPN Muxer
  internal/cmd/base/listener.go
  internal/cmd/base/servers.go
  internal/cmd/ops/server.go
  internal/cmd/ops/server_test.go
  internal/libs/alpnmux/mux.go
  internal/libs/alpnmux/mux_test.go
  internal/libs/alpnmux/testing.go
  internal/servers/controller/listeners.go
  internal/servers/controller/listeners_test.go
  internal/servers/controller/testing.go
  internal/servers/worker/listeners.go
  internal/servers/worker/listeners_test.go
  internal/servers/worker/testing.go
Labels: core, core/servers, core/lib

#1964 Add collector updating interceptor to the controller cluster grpc server
  internal/servers/controller/internal/metric/cluster.go
  internal/servers/controller/internal/metric/cluster_test.go
  internal/servers/controller/listeners.go
Labels: core, core/servers

#1961 Initialize and provide handler for proxy worker http metrics
  internal/servers/controller/internal/metric/api.go
  internal/servers/worker/handler.go
  internal/servers/worker/internal/metric/proxy_http.go
  internal/servers/worker/testing.go
  internal/servers/worker/worker.go
Labels: core, core/servers

#1966 Put session ID in ALPN
  globals/globals.go
  go.mod
  go.sum
  internal/cmd/commands/connect/connect.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/servers/worker/handler.go
  internal/servers/worker/worker.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/session.go
  internal/session/session_test.go
  internal/session/testing.go
Labels: core/session, core, core/servers

#1968 Update naming for initializing collectors and tweak some comments.
  internal/servers/worker/handler.go
  internal/servers/worker/internal/metric/proxy_http.go
  internal/servers/worker/worker.go
Labels: core, core/servers

#1971 chore: remove unneeded ref to gorm.DB
  internal/oplog/writer_test.go
Labels: core/oplog, core

#1974 fix(accounts): correct use of unkeyed literals
  internal/servers/controller/handlers/accounts/account_service.go
  internal/servers/controller/handlers/accounts/validate_test.go
Labels: core, core/servers

#1959 Pull up Server to top level of Init command
  internal/cmd/commands.go
  internal/cmd/commands/config/encryptdecrypt.go
  internal/cmd/commands/database/funcs_test.go
  internal/cmd/commands/database/init.go
  internal/cmd/commands/database/migrate.go
Labels: core

#1978 fix(test): Remove uses of t.FailNow in goroutines
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/cmd/ops/server_test.go
  internal/servers/controller/handler_test.go
  internal/servers/controller/testing.go
  internal/servers/worker/proxy/tcp/tcp_test.go
  internal/servers/worker/proxy/testing_test.go
Labels: core, core/servers

#1982 fix(controller): Clone messages before auditing
  internal/servers/controller/interceptor.go
Labels: core, core/servers

#1972 feat(authmethods): add well typed attribute options
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service_taggable.go
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_service_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/authmethods/password_test.go
  internal/tests/api/authmethods/authenticate_test.go
  internal/tests/api/authmethods/authmethod_test.go
  internal/tests/api/authmethods/classification_test.go
  internal/tests/api/authmethods/service_classification_test.go
  internal/types/subtypes/interceptor.go
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
  sdk/pbs/controller/api/resources/authmethods/auth_method_taggable.go
  sdk/pbs/controller/api/resources/authmethods/auth_method_taggable_test.go
Labels: core/gen, core, core/proto, core/servers, core/types

#1979 feat(db): Suppress not found events during db lookups
  internal/db/read_writer.go
  internal/db/read_writer_test.go
  internal/errors/option.go
Labels: core/db, core

#1976 fix (kms): properly reconcile DEKs for existing scopes
  CHANGELOG.md
  internal/kms/const.go
  internal/kms/kms.go
  internal/kms/kms_ext_test.go
  internal/kms/options.go
  internal/servers/controller/controller.go
  internal/servers/controller/controller_test.go
Labels: core, core/servers, core/kms

#1990 feat(authmethods): Type Authenticate request and response attributes
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/resources/authtokens/v1/authtoken.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/authmethod_test.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/oidc_test.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/authmethods/password_test.go
  internal/servers/controller/handlers/outgoing_response_filter_test.go
  internal/tests/api/authmethods/authenticate_test.go
  internal/tests/api/authmethods/authmethod_test.go
  internal/tests/api/authmethods/service_classification_test.go
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
  sdk/pbs/controller/api/resources/authtokens/authtoken.pb.go
Labels: core/gen, core, core/proto, core/servers, core/types

#1994 Cancel test on fatal errors
  internal/servers/controller/testing.go
Labels: core, core/servers

#1984 feat(metrics): add build info metric on server start
  internal/cmd/base/internal/metric/build_info.go
  internal/cmd/base/option.go
  internal/cmd/base/option_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands.go
Labels: core

#2000 Update the cluster server metrics to use the gRPC status.Handler.
  internal/servers/controller/internal/metric/cluster.go
  internal/servers/controller/internal/metric/cluster_test.go
  internal/servers/controller/listeners.go
Labels: core, core/servers

#1985 doc(classification): Add initial rubric
  internal/adding-a-new-field-readme.md
  internal/classification-rubric.md
Labels: core

#1996 Add classification to all authtoken fields
  Makefile
  internal/gen/controller/api/services/authtokens_service.pb.go
  internal/proto/controller/api/resources/authtokens/v1/authtoken.proto
  internal/proto/controller/api/resources/scopes/v1/scope.proto
  internal/proto/controller/api/services/v1/authtokens_service.proto
  internal/tests/api/authtokens/classification_test.go
  sdk/pbs/controller/api/resources/authtokens/authtoken.pb.go
  sdk/pbs/controller/api/resources/scopes/scope.pb.go
Labels: core/gen, core, core/proto

#1998 feat(worker): Instrumentation for Controller Cluster Communication
  internal/servers/controller/internal/metric/cluster.go
  internal/servers/worker/controller_connection.go
  internal/servers/worker/internal/metric/cluster_client.go
  internal/servers/worker/internal/metric/cluster_client_test.go
  internal/servers/worker/worker.go
Labels: core, core/servers

#2009 chore: Add redirect for targets worker filtering
  website/redirects.js
Labels: website

#1987 feat(groups): Classify resources for audit events
  Makefile
  internal/gen/controller/api/services/group_service.pb.go
  internal/proto/controller/api/resources/groups/v1/group.proto
  internal/proto/controller/api/services/v1/group_service.proto
  internal/tests/api/groups/classification_test.go
  sdk/pbs/controller/api/resources/groups/group.pb.go
Labels: core/gen, core, core/proto

#2018 chore: update auditResponseInterceptor const op
  internal/servers/controller/interceptor.go
Labels: core, core/servers

#1970 feat(controller): Reorder interceptor stack
  internal/servers/controller/gateway.go
  internal/tests/api/accounts/account_test.go
Labels: core, core/servers

#2016 feat(event): Remove BOUNDARY_DEVELOPER_ENABLE_EVENTS env var
  globals/boundary_developer_env.go
  internal/observability/event/context.go
  internal/observability/event/context_test.go
  internal/observability/event/eventer_gate_test.go
  internal/observability/event/testing.go
  internal/scheduler/additional_verification_test.go
  internal/servers/common/handler_test.go
  internal/servers/controller/auth/auth_test.go
  internal/servers/worker/status_test.go
  internal/tests/api/authmethods/authenticate_test.go
  internal/tests/api/authmethods/authmethod_test.go
Labels: core, core/servers

#2019 refactor (tests): GetEventDetails(...) will stop returning nil
  internal/tests/api/testing.go
Labels: core

#2014 Do not register the build_info collectors multiple times.
  internal/cmd/base/servers.go
  internal/cmd/commands.go
Labels: core

#2017 Switch request.WithContext to request.Clone
  api/client.go
  internal/servers/common/handler.go
  internal/servers/controller/handler.go
Labels: api, core, core/servers

#2020 Register the build info metrics using prometheus.DefaultRegistry in an init function
  internal/cmd/base/option.go
  internal/cmd/base/option_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands.go
Labels: core

#2008 Use custom X.509 verification logic for proxy connections
  internal/cmd/commands/connect/client_tls_config.go
  internal/cmd/commands/connect/connect.go
  internal/servers/worker/listeners.go
  internal/servers/worker/worker.go
  internal/tests/cluster/x509_verification_test.go
  internal/tests/helper/testing_helper.go
Labels: core, core/servers

#2010 refact(authmethods): Add top level token type to Authenticate
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service_taggable.go
  internal/gen/controller/api/services/auth_method_service_taggable_test.go
  internal/gen/testing/event/event.pb.go
  internal/gen/testing/event/testing.swagger.json
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/proto/testing/event/v1/event.proto
  internal/servers/controller/handler_test.go
  internal/servers/controller/handlers/authmethods/authmethod_service.go
  internal/servers/controller/handlers/authmethods/oidc.go
  internal/servers/controller/handlers/authmethods/password.go
  internal/servers/controller/handlers/authmethods/password_test.go
  internal/servers/controller/handlers/outgoing_response_filter.go
  internal/servers/controller/handlers/outgoing_response_filter_test.go
Labels: core/gen, core, core/proto, core/servers

#2021 fix(config): Prevent panic when setting audit config filter orverrides
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/observability/event/audit_config.go
Labels: core

#1995 Add classification to all authmethod fields
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/tests/api/authmethods/authmethod_test.go
  internal/tests/api/authmethods/classification_test.go
  internal/tests/api/authmethods/service_classification_test.go
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: core/gen, core, core/proto

#2028 chore: upgrade gofumpt to v0.3.1
  go.mod
  go.sum
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/testing.go
  internal/credential/vault/jobs_test.go
  internal/db/clause.go
  internal/host/plugin/job_set_sync.go
  internal/servers/controller/auth/auth.go
  internal/servers/controller/auth/authorized_actions.go
  internal/servers/controller/common/scopeids/scope_ids.go
  internal/servers/controller/interceptor.go
  internal/session/service_authorize_connection.go
  internal/session/service_close_connections.go
Labels: core/db, core/auth, core/session, core, core/servers, core/host

#2029 Bump version for 0.8.0 release
  internal/ui/VERSION
Labels: core/ui, core

#2032 fix(event): Remove wrapper validation
  internal/cmd/base/servers.go
  internal/observability/event/audit_config.go
  internal/observability/event/audit_config_test.go
  internal/observability/event/eventer_test.go
Labels: core

#2034 Make the metrics regexp less strict when matching against the {*id} vars for the "path" label.
  internal/servers/controller/internal/metric/api.go
  internal/servers/controller/internal/metric/api_test.go
Labels: core, core/servers

#2045 Update targets to new listing method
  internal/auth/oidc/repository_auth_method_operational_state_test.go
  internal/servers/controller/common/scopeids/scope_ids.go
  internal/servers/controller/handlers/targets/target_service.go
  internal/session/repository_session.go
  internal/target/options.go
  internal/target/query.go
  internal/target/repository.go
  internal/target/target.go
Labels: core/auth, core/session, core, core/servers, core/target, core/sql

#2048 fix(session): Include where clause with order and limit
  internal/db/schema/migrations/oss/postgres/28/01_session_create_time_idx.up.sql
  internal/session/query.go
  internal/session/repository_session.go
Labels: core/db, core/session, core, core/sql
