Repository hashicorp/boundary, pull requests merged in 2023-11, with the labels that each got.

#3970 Update api deps
  api/go.mod
  api/go.sum
Labels: api

#3971 Update main module deps
  Makefile
  go.mod
  go.sum
  internal/gen/controller/api/services/account_service_grpc.pb.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/gen/controller/api/services/authtokens_service_grpc.pb.go
  internal/gen/controller/api/services/credential_library_service_grpc.pb.go
  internal/gen/controller/api/services/credential_service_grpc.pb.go
  internal/gen/controller/api/services/credential_store_service_grpc.pb.go
  internal/gen/controller/api/services/group_service_grpc.pb.go
  internal/gen/controller/api/services/host_catalog_service_grpc.pb.go
  internal/gen/controller/api/services/host_service_grpc.pb.go
  internal/gen/controller/api/services/host_set_service_grpc.pb.go
  internal/gen/controller/api/services/managed_group_service_grpc.pb.go
  internal/gen/controller/api/services/role_service_grpc.pb.go
  internal/gen/controller/api/services/scope_service_grpc.pb.go
  internal/gen/controller/api/services/session_recording_service_grpc.pb.go
  internal/gen/controller/api/services/session_service_grpc.pb.go
  internal/gen/controller/api/services/storage_bucket_service_grpc.pb.go
  internal/gen/controller/api/services/target_service_grpc.pb.go
  internal/gen/controller/api/services/user_service_grpc.pb.go
  internal/gen/controller/api/services/worker_service_grpc.pb.go
  internal/gen/controller/servers/services/server_coordination_service_grpc.pb.go
  internal/gen/controller/servers/services/session_service_grpc.pb.go
  internal/gen/controller/servers/services/upstream_message_service_grpc.pb.go
  internal/gen/ops/services/health_service_grpc.pb.go
  internal/gen/testing/attribute/attribute_grpc.pb.go
  internal/gen/testing/event/event_grpc.pb.go
  internal/gen/testing/interceptor/greeter_grpc.pb.go
  internal/gen/testing/protooptions/service_grpc.pb.go
  sdk/pbs/plugin/host_plugin_service_grpc.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core/gen, core

#3637 [HCP Boundary] add support for remote-dev
  internal/cmd/commands/server/server.go
Labels: core

#3734 Update README.md
  README.md
Labels: backport/website

#3811 chore: remove refs to deprecated io/ioutil
  internal/api/genapi/templates.go
  internal/cmd/gencli/templates.go
  internal/tests/api/testing.go
  internal/website/permstable/permstable.go
Labels: core

#3577 Update linux package license to BUSL-1.1
  .github/workflows/build.yml
Labels: pr/no-milestone

#3975 Add node update due to EOL node version
  website/package-lock.json
  website/package.json
Labels: website

#3944 Update changelog
  CHANGELOG.md
Labels: pr/no-milestone

#3973 fix(vault): Set the Vault TLS client options if specified
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/credential/vault/testing_test.go
  internal/credential/vault/vault.go
Labels: core

#3993 docs: Add feature matrix
  website/content/docs/overview/what-is-boundary.mdx
Labels: website, backport/website

#3981 docs: Add enterprise badge
  website/content/docs/commands/session-recordings/download.mdx
  website/content/docs/commands/session-recordings/index.mdx
  website/content/docs/commands/session-recordings/list.mdx
  website/content/docs/commands/session-recordings/read.mdx
  website/content/docs/commands/storage-buckets/create.mdx
  website/content/docs/commands/storage-buckets/delete.mdx
  website/content/docs/commands/storage-buckets/index.mdx
  website/content/docs/commands/storage-buckets/list.mdx
  website/content/docs/commands/storage-buckets/read.mdx
  website/content/docs/commands/storage-buckets/update.mdx
  website/content/docs/concepts/auditing.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/session-recordings.mdx
  website/content/docs/concepts/domain-model/storage-buckets.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/worker/index.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
  website/content/docs/operations/session-recordings/validate-data-store.mdx
  website/content/docs/operations/session-recordings/validate-session-recordings.mdx
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration, backport/website

#3999 docs: Update feature matrix
  website/content/docs/overview/what-is-boundary.mdx
Labels: website, backport/website

#4005 chore(e2e): Continue if log renaming fails
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3908 Update websocket library
  go.mod
  go.sum
  internal/cmd/commands/connect/connect.go
  internal/daemon/worker/handler.go
  internal/tests/helper/testing_helper.go
  internal/wspb/wspb.go
Labels: core, core/daemon

#4004 Minor test fixes
  internal/daemon/worker/auth_rotation_test.go
  internal/tests/api/credentials/credentials_test.go
Labels: core, core/daemon

#4013 chore(e2e): Fix trigger to get debug logs
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#4002 fix(plugin): remove unit test race condition
  internal/plugin/loopback/testing_grpc_stream_test.go
Labels: core

#4018 refact (kms): convert to the new stdlib slices pkg
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/kms/kms.go
Labels: core, core/kms, core/daemon

#4017 Dheath-pick-ent-label-0.14.x
  website/content/docs/commands/session-recordings/download.mdx
  website/content/docs/commands/session-recordings/index.mdx
  website/content/docs/commands/session-recordings/list.mdx
  website/content/docs/commands/session-recordings/read.mdx
  website/content/docs/commands/storage-buckets/create.mdx
  website/content/docs/commands/storage-buckets/delete.mdx
  website/content/docs/commands/storage-buckets/index.mdx
  website/content/docs/commands/storage-buckets/list.mdx
  website/content/docs/commands/storage-buckets/read.mdx
  website/content/docs/commands/storage-buckets/update.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/session-recordings.mdx
  website/content/docs/concepts/domain-model/storage-buckets.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/worker/index.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
  website/content/docs/operations/session-recordings/validate-data-store.mdx
  website/content/docs/operations/session-recordings/validate-session-recordings.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#4020 [docs] Cherry pick #3981 to website (#4003) (#4017)
  website/content/docs/commands/session-recordings/download.mdx
  website/content/docs/commands/session-recordings/index.mdx
  website/content/docs/commands/session-recordings/list.mdx
  website/content/docs/commands/session-recordings/read.mdx
  website/content/docs/commands/storage-buckets/create.mdx
  website/content/docs/commands/storage-buckets/delete.mdx
  website/content/docs/commands/storage-buckets/index.mdx
  website/content/docs/commands/storage-buckets/list.mdx
  website/content/docs/commands/storage-buckets/read.mdx
  website/content/docs/commands/storage-buckets/update.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/session-recordings.mdx
  website/content/docs/concepts/domain-model/storage-buckets.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/worker/index.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
  website/content/docs/operations/session-recordings/validate-data-store.mdx
  website/content/docs/operations/session-recordings/validate-session-recordings.mdx
Labels: website, docs/concepts, docs/configuration

#4016 test(e2e): Run additional commands over localhost and validate exit codes
  testing/internal/e2e/tests/base/target_tcp_connect_localhost_test.go
Labels: pr/no-milestone

#4022 Fix three minor issues:
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/credentialscmd/ssh-private-key_funcs.go
Labels: core

#4025 Use sdk wspb library and remove internal
  api/go.mod
  api/go.sum
  go.mod
  internal/cmd/commands/connect/connect.go
  internal/daemon/worker/handler.go
  internal/tests/helper/testing_helper.go
  internal/wspb/wspb.go
Labels: api, core, core/daemon

#4024 docs: Fix broken subheading links
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#4021 RELPLAT-962 Update LICENSE
  LICENSE
Labels: pr/no-milestone

#4033 test(bats): Use correct attribute for the `vault-ssh-certificate critical-options` test
  internal/tests/cli/boundary/credential_libraries.bats
Labels: core, pr/no-milestone

#4035 docs: Fix broken link
  website/content/docs/concepts/host-discovery/index.mdx
  website/content/docs/operations/session-recordings/validate-session-recordings.mdx
Labels: website, docs/concepts, backport/website

#4040 test(e2e): Add test that connects to target using go ssh library
  testing/internal/e2e/tests/base/target_tcp_connect_go_ssh_test.go
Labels: pr/no-milestone

#4032 feat(oidc-prompt): schema changes for `auth_oidc_prompt`
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/options.go
  internal/auth/oidc/prompt.go
  internal/auth/oidc/store/oidc.pb.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/db/schema/migrations/oss/postgres/79/01_auth_oidc_prompt.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/auth/oidc/prompt.sql
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/storage/auth/oidc/store/v1/oidc.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: api, core/db, core/auth, core, core/proto, api/authmethods, core/sql, core/daemon

#4045 test(e2e): Use docker mirror when pulling image
  testing/internal/e2e/infra/docker.go
Labels: pr/no-milestone

#4043 Observation(event): adding op instead of type details paylaod
  internal/event/event_observation.go
  internal/event/event_observation_test.go
Labels: core

#4044 feat(oidc-prompt): repository changes for OIDC Prompt
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_delete_test.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/testing.go
Labels: core/auth, core

#4047 Observation(event): adding op instead of type details payload (#4043)
  internal/event/event_observation.go
  internal/event/event_observation_test.go
Labels: core

#3992 Add generic read/update/delete commands
  CHANGELOG.md
  cmd/boundary/main.go
  globals/prefixes.go
  globals/prefixes_test.go
  globals/subtypes.go
  internal/auth/ldap/ids.go
  internal/auth/oidc/ids.go
  internal/auth/password/public_ids.go
  internal/cmd/base/base.go
  internal/cmd/base/option.go
  internal/cmd/commands.go
  internal/cmd/commands/authenticate/authenticate.go
  internal/cmd/commands/config/config.go
  internal/cmd/commands/genericcmd/generic.go
  internal/cmd/common/flags.go
  internal/cmd/main.go
  internal/cmd/main_test.go
  internal/credential/public_ids.go
  internal/credential/static/public_ids.go
  internal/credential/static/repository_credential.go
  internal/credential/vault/public_ids.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/registry.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/host/plugin/ids.go
  internal/host/static/public_ids.go
  internal/perms/acl.go
  internal/perms/grants.go
  internal/storage/plugin/ids.go
  internal/target/options.go
  internal/target/options_test.go
  internal/target/registry.go
  internal/target/repository_credential_source.go
  internal/target/target.go
  internal/target/targettest/target.go
  internal/target/tcp/target.go
  internal/types/subtypes/attribute_transform.go
  internal/types/subtypes/attributes.go
  internal/types/subtypes/attributes_test.go
  internal/types/subtypes/interceptor.go
  internal/types/subtypes/interceptor_test.go
  internal/types/subtypes/registry.go
  internal/types/subtypes/registry_global.go
  internal/types/subtypes/registry_test.go
Labels: core/auth, core, core/perms, core/host, core/target, core/types, core/daemon

#4048 feat(oidc-prompt): OIDC Prompt API & CLI
  internal/auth/oidc/immutable_fields_test.go
  internal/auth/oidc/prompt.go
  internal/auth/oidc/prompt_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
Labels: core/auth, core, core/daemon

#4053 feat(oidc): OIDC Prompt
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/immutable_fields_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/prompt.go
  internal/auth/oidc/prompt_test.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_delete_test.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/db/schema/migrations/oss/postgres/79/01_auth_oidc_prompt.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/auth/oidc/prompt.sql
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/storage/auth/oidc/store/v1/oidc.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: api, core/db, core/auth, core, core/proto, api/authmethods, core/sql, core/daemon

#4054 feat(oidc): OIDC Prompt
  api/authmethods/oidc_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/immutable_fields_test.go
  internal/auth/oidc/options.go
  internal/auth/oidc/prompt.go
  internal/auth/oidc/prompt_test.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method_create_test.go
  internal/auth/oidc/repository_auth_method_delete_test.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/auth/oidc/repository_auth_method_update_test.go
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/auth/oidc/store/oidc.pb.go
  internal/auth/oidc/testing.go
  internal/cmd/commands/authmethodscmd/oidc_funcs.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/db/schema/migrations/oss/postgres/79/01_auth_oidc_prompt.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/auth/oidc/prompt.sql
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/storage/auth/oidc/store/v1/oidc.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: api, core/db, core/auth, core, core/proto, api/authmethods, core/sql, core/daemon

#4058 fix (plugins/gcpkms): update dep to fix issue with using gcp kms
  go.mod
  go.sum
  internal/kms/external_wrappers_test.go
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
Labels: core, core/kms

#4059 fix (plugins/gcpkms): update dep to fix issue with using gcp kms (#4058)
  go.mod
  go.sum
  internal/kms/external_wrappers_test.go
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
Labels: core, core/kms

#4060 subtypes,handlers: add runtime trace regions
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/outgoing_response_filter_test.go
  internal/daemon/controller/handlers/subtypes.go
  internal/daemon/controller/handlers/subtypes_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/types/subtypes/attribute_transform.go
  internal/types/subtypes/attribute_transform_test.go
  internal/types/subtypes/interceptor.go
  internal/types/subtypes/interceptor_test.go
  internal/types/subtypes/transformations.go
  testing/TRACING.md
Labels: core, core/types, core/daemon

#4062 Update LICENSE
  LICENSE
Labels: pr/no-milestone

#4009 internal/genapi: correct list response body and map
  api/accounts/account.gen.go
  api/authmethods/authmethods.gen.go
  api/authtokens/authtokens.gen.go
  api/credentiallibraries/credential_library.gen.go
  api/credentials/credential.gen.go
  api/credentialstores/credential_store.gen.go
  api/groups/group.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hosts/host.gen.go
  api/hostsets/host_set.gen.go
  api/managedgroups/managedgroups.gen.go
  api/roles/role.gen.go
  api/scopes/scope.gen.go
  api/sessionrecordings/session_recording.gen.go
  api/sessions/session.gen.go
  api/storagebuckets/storage_bucket.gen.go
  api/targets/session_secret.gen.go
  api/targets/target.gen.go
  api/users/user.gen.go
  api/workers/worker.gen.go
  internal/api/genapi/templates.go
  internal/listtoken/list_token.go
  internal/listtoken/list_token_test.go
Labels: api, api/users, api/hostsets, api/sessions, api/scopes, core, api/roles, api/authtokens, api/targets, api/authmethods, api/groups, api/hostcatalogs, api/hosts

#3972 tests (ldap managed groups): extend tests to include ldap grps for GrantsForUser(...)
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
Labels: core/iam, core/auth, core, core/sql, core/daemon

#4069 test(e2e): Update migration test with additional resources
  testing/internal/e2e/boundary/account.go
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/boundary/group.go
  testing/internal/e2e/boundary/host.go
  testing/internal/e2e/boundary/role.go
  testing/internal/e2e/boundary/scope.go
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/boundary/user.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone

#4074 Some pagination tweaks
  internal/daemon/controller/handlers/list_token.go
  internal/daemon/controller/handlers/list_token_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/target/service_list_ext_test.go
Labels: core, core/target, core/daemon

#4065 feat(controller): Reload api rate limits on SIGHUP
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
  internal/cmd/commands/server/server.go
  internal/daemon/controller/config.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/ratelimit/config.go
  internal/ratelimit/handler.go
  internal/ratelimit/handler_test.go
Labels: core, core/daemon
