Repository hashicorp/boundary, pull requests merged in 2023-09, with the labels that each got.

#3654 docs: Edit `accounts` options
  website/content/docs/api-clients/commands/accounts/change-password.mdx
  website/content/docs/api-clients/commands/accounts/create.mdx
  website/content/docs/api-clients/commands/accounts/delete.mdx
  website/content/docs/api-clients/commands/accounts/index.mdx
  website/content/docs/api-clients/commands/accounts/list.mdx
  website/content/docs/api-clients/commands/accounts/read.mdx
  website/content/docs/api-clients/commands/accounts/set-password.mdx
  website/content/docs/api-clients/commands/accounts/update.mdx
  website/content/docs/api-clients/commands/dev.mdx
  website/content/docs/api-clients/commands/index.mdx
  website/content/docs/api-clients/commands/logout.mdx
  website/content/docs/api-clients/commands/server.mdx
Labels: website

#3650 feat: Worker Connectivity Health Check
  internal/cmd/ops/server_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/controller_connection_test.go
  internal/daemon/worker/health.go
  internal/daemon/worker/health_test.go
  internal/daemon/worker/worker.go
  internal/gen/worker/health/health_service.pb.go
  internal/proto/worker/health/v1/health_service.proto
Labels: core/gen, core, core/proto, core/daemon

#3656 docs: Edit `auth-methods` options
  website/content/docs/api-clients/commands/auth-methods/change-state.mdx
  website/content/docs/api-clients/commands/auth-methods/create.mdx
  website/content/docs/api-clients/commands/auth-methods/delete.mdx
  website/content/docs/api-clients/commands/auth-methods/index.mdx
  website/content/docs/api-clients/commands/auth-methods/list.mdx
  website/content/docs/api-clients/commands/auth-methods/read.mdx
  website/content/docs/api-clients/commands/auth-methods/update.mdx
Labels: website

#3667 docs: Edit `auth-tokens` & `authenticate` options
  website/content/docs/api-clients/commands/auth-tokens/delete.mdx
  website/content/docs/api-clients/commands/auth-tokens/index.mdx
  website/content/docs/api-clients/commands/auth-tokens/list.mdx
  website/content/docs/api-clients/commands/auth-tokens/read.mdx
  website/content/docs/api-clients/commands/authenticate/index.mdx
  website/content/docs/api-clients/commands/authenticate/ldap.mdx
  website/content/docs/api-clients/commands/authenticate/oidc.mdx
  website/content/docs/api-clients/commands/authenticate/password.mdx
Labels: website

#3668 docs: Edit `config` options
  website/content/docs/api-clients/commands/config/autocomplete.mdx
  website/content/docs/api-clients/commands/config/decrypt.mdx
  website/content/docs/api-clients/commands/config/encrypt.mdx
  website/content/docs/api-clients/commands/config/get-token.mdx
  website/content/docs/api-clients/commands/config/index.mdx
Labels: website

#3672 docs: Edit `connect` options
  website/content/docs/api-clients/commands/connect/http.mdx
  website/content/docs/api-clients/commands/connect/index.mdx
  website/content/docs/api-clients/commands/connect/kube.mdx
  website/content/docs/api-clients/commands/connect/postgres.mdx
  website/content/docs/api-clients/commands/connect/rdp.mdx
  website/content/docs/api-clients/commands/connect/ssh.mdx
  website/content/partials/cmd-connect-command-options.mdx
  website/content/partials/cmd-connect-env-vars.mdx
  website/content/partials/cmd-option-note.mdx
Labels: website

#3670 feat (auth/ldap): add Repo support for max page size and deref aliases
  api/authmethods/ldap_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  go.mod
  go.sum
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/deref_aliases.go
  internal/auth/ldap/deref_aliases_test.go
  internal/auth/ldap/options.go
  internal/auth/ldap/options_test.go
  internal/auth/ldap/repository_auth_method_create.go
  internal/auth/ldap/repository_auth_method_create_test.go
  internal/auth/ldap/repository_auth_method_read.go
  internal/auth/ldap/repository_auth_method_read_test.go
  internal/auth/ldap/repository_auth_method_update.go
  internal/auth/ldap/repository_auth_method_update_test.go
  internal/auth/ldap/repository_authenticate.go
  internal/auth/ldap/store/ldap.pb.go
  internal/auth/ldap/testing.go
  internal/db/schema/migrations/oss/postgres/65/01_ldap.up.sql
  internal/db/schema/migrations/oss/postgres/76/01_ldap.up.sql
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/storage/auth/ldap/store/v1/ldap.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: api, core/db, core/auth, core, core/proto, api/authmethods, core/sql

#3612 Mention that SIGHUP affects the database URL
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

#3660 internal/perms: Fix grant parser bugs
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/perms/testdata/fuzz/FuzzParse/3187a710d9bc1612
  internal/perms/testdata/fuzz/FuzzParse/4572b81e0281070d
  internal/perms/testdata/fuzz/FuzzParse/536fbfc4db40b83d
  internal/perms/testdata/fuzz/FuzzParse/5d676d09fce49675
  internal/perms/testdata/fuzz/FuzzParse/6bfe75c429073a6a
  internal/perms/testdata/fuzz/FuzzParse/9b33c3b84320755d
  internal/perms/testdata/fuzz/FuzzParse/c9a7351b4994e353
Labels: core, core/perms

#3634 Telemetry: Fix observation tags
  internal/gen/controller/api/services/account_service.pb.go
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/group_service.pb.go
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/gen/controller/api/services/role_service.pb.go
  internal/gen/controller/api/services/scope_service.pb.go
  internal/gen/controller/api/services/user_service.pb.go
  internal/gen/controller/api/services/worker_service.pb.go
  internal/proto/controller/api/resources/accounts/v1/account.proto
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/resources/groups/v1/group.proto
  internal/proto/controller/api/resources/hostcatalogs/v1/host_catalog.proto
  internal/proto/controller/api/services/v1/account_service.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/proto/controller/api/services/v1/group_service.proto
  internal/proto/controller/api/services/v1/host_catalog_service.proto
  internal/proto/controller/api/services/v1/role_service.proto
  internal/proto/controller/api/services/v1/scope_service.proto
  internal/proto/controller/api/services/v1/user_service.proto
  internal/proto/controller/api/services/v1/worker_service.proto
  sdk/pbs/controller/api/resources/accounts/account.pb.go
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
  sdk/pbs/controller/api/resources/groups/group.pb.go
  sdk/pbs/controller/api/resources/hostcatalogs/host_catalog.pb.go
Labels: core/gen, core, core/proto

#3679 feat: add API support for additional LDAP auth method fields.
  CHANGELOG.md
  api/authmethods/ldap_auth_method_attributes.gen.go
  api/authmethods/option.gen.go
  go.mod
  go.sum
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/deref_aliases.go
  internal/auth/ldap/deref_aliases_test.go
  internal/auth/ldap/options.go
  internal/auth/ldap/options_test.go
  internal/auth/ldap/repository_auth_method_create.go
  internal/auth/ldap/repository_auth_method_create_test.go
  internal/auth/ldap/repository_auth_method_read.go
  internal/auth/ldap/repository_auth_method_read_test.go
  internal/auth/ldap/repository_auth_method_update.go
  internal/auth/ldap/repository_auth_method_update_test.go
  internal/auth/ldap/repository_authenticate.go
  internal/auth/ldap/store/ldap.pb.go
  internal/auth/ldap/testing.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/ldap.go
  internal/db/schema/migrations/oss/postgres/65/01_ldap.up.sql
  internal/db/schema/migrations/oss/postgres/76/01_ldap.up.sql
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/storage/auth/ldap/store/v1/ldap.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: api, core/db, core/auth, core, core/proto, api/authmethods, core/sql, core/daemon

#3678 docs: Edit multiple groups options
  website/content/docs/api-clients/commands/groups/add-members.mdx
  website/content/docs/api-clients/commands/groups/create.mdx
  website/content/docs/api-clients/commands/groups/delete.mdx
  website/content/docs/api-clients/commands/groups/index.mdx
  website/content/docs/api-clients/commands/groups/list.mdx
  website/content/docs/api-clients/commands/groups/read.mdx
  website/content/docs/api-clients/commands/groups/remove-members.mdx
  website/content/docs/api-clients/commands/groups/set-members.mdx
  website/content/docs/api-clients/commands/groups/update.mdx
  website/content/docs/api-clients/commands/managed-groups/create.mdx
  website/content/docs/api-clients/commands/managed-groups/delete.mdx
  website/content/docs/api-clients/commands/managed-groups/index.mdx
  website/content/docs/api-clients/commands/managed-groups/list.mdx
  website/content/docs/api-clients/commands/managed-groups/read.mdx
  website/content/docs/api-clients/commands/managed-groups/update.mdx
  website/content/docs/api-clients/commands/storage-buckets/list.mdx
Labels: website

#3676 docs: Edit `database` options
  website/content/docs/api-clients/commands/database/index.mdx
  website/content/docs/api-clients/commands/database/init.mdx
  website/content/docs/api-clients/commands/database/migrate.mdx
Labels: website

#3665 fix (kms): move oplog DEK into its own internal kms
  go.mod
  go.sum
  internal/auth/ldap/repository_authenticate.go
  internal/auth/oidc/rewrapping_test.go
  internal/auth/password/rewrapping_test.go
  internal/authtoken/rewrapping_test.go
  internal/credential/static/rewrapping_test.go
  internal/credential/vault/rewrapping_test.go
  internal/db/read_writer_ext_test.go
  internal/db/read_writer_test.go
  internal/db/schema/migrations/oss/postgres/56/01_oplog_key_id_scope_id_truncation.up.sql
  internal/db/schema/migrations/oss/postgres/77/01_kms_oplog.up.sql
  internal/db/schema/migrations/oss/postgres/77/02_kms_oplog_version.up.sql
  internal/db/schema/migrations/oss/postgres/77/03_kms_oplog.up.sql
  internal/db/schema/migrations/oss/postgres/77/04_kms_oplog.up.sql
  internal/db/schema/migrations/oss/postgres_40_01_test.go
  internal/db/schema/migrations/oss/postgres_53_01_test.go
  internal/db/schema/migrations/oss/postgres_56_01_test.go
  internal/db/schema/migrations/oss/postgres_57_01_test.go
  internal/db/schema/migrations/oss/postgres_77_03_test.go
  internal/db/testing.go
  internal/db/testing_test.go
  internal/host/plugin/rewrapping_test.go
  internal/kms/kms.go
  internal/kms/kms_test.go
  internal/kms/testing.go
  internal/oplog/testing.go
  internal/server/repository_worker_test.go
  internal/server/rewrapping_test.go
  internal/session/rewrapping_test.go
  internal/storage/plugin/rewrapping_test.go
Labels: core/db, core/oplog, core/auth, core/session, core, core/host, core/kms, core/sql, core/server

#3683 docs: Edit multiple hosts options
  website/content/docs/api-clients/commands/host-catalogs/create.mdx
  website/content/docs/api-clients/commands/host-catalogs/delete.mdx
  website/content/docs/api-clients/commands/host-catalogs/index.mdx
  website/content/docs/api-clients/commands/host-catalogs/list.mdx
  website/content/docs/api-clients/commands/host-catalogs/read.mdx
  website/content/docs/api-clients/commands/host-catalogs/update.mdx
  website/content/docs/api-clients/commands/host-sets/add-hosts.mdx
  website/content/docs/api-clients/commands/host-sets/create.mdx
  website/content/docs/api-clients/commands/host-sets/delete.mdx
  website/content/docs/api-clients/commands/host-sets/index.mdx
  website/content/docs/api-clients/commands/host-sets/list.mdx
  website/content/docs/api-clients/commands/host-sets/read.mdx
  website/content/docs/api-clients/commands/host-sets/remove-hosts.mdx
  website/content/docs/api-clients/commands/host-sets/set-hosts.mdx
  website/content/docs/api-clients/commands/host-sets/update.mdx
  website/content/docs/api-clients/commands/hosts/create.mdx
  website/content/docs/api-clients/commands/hosts/delete.mdx
  website/content/docs/api-clients/commands/hosts/index.mdx
  website/content/docs/api-clients/commands/hosts/list.mdx
  website/content/docs/api-clients/commands/hosts/read.mdx
  website/content/docs/api-clients/commands/hosts/update.mdx
Labels: website

#3675 docs: Edit multiple credentials options
  website/content/docs/api-clients/commands/accounts/update.mdx
  website/content/docs/api-clients/commands/auth-methods/create.mdx
  website/content/docs/api-clients/commands/credential-libraries/create.mdx
  website/content/docs/api-clients/commands/credential-libraries/delete.mdx
  website/content/docs/api-clients/commands/credential-libraries/index.mdx
  website/content/docs/api-clients/commands/credential-libraries/list.mdx
  website/content/docs/api-clients/commands/credential-libraries/read.mdx
  website/content/docs/api-clients/commands/credential-libraries/update.mdx
  website/content/docs/api-clients/commands/credential-stores/create.mdx
  website/content/docs/api-clients/commands/credential-stores/delete.mdx
  website/content/docs/api-clients/commands/credential-stores/index.mdx
  website/content/docs/api-clients/commands/credential-stores/list.mdx
  website/content/docs/api-clients/commands/credential-stores/read.mdx
  website/content/docs/api-clients/commands/credential-stores/update.mdx
  website/content/docs/api-clients/commands/credentials/create.mdx
  website/content/docs/api-clients/commands/credentials/delete.mdx
  website/content/docs/api-clients/commands/credentials/index.mdx
  website/content/docs/api-clients/commands/credentials/list.mdx
  website/content/docs/api-clients/commands/credentials/read.mdx
  website/content/docs/api-clients/commands/credentials/update.mdx
Labels: website

#3686 docs: Edit `roles` and `scopes` options
  website/content/docs/api-clients/commands/roles/add-grants.mdx
  website/content/docs/api-clients/commands/roles/add-principals.mdx
  website/content/docs/api-clients/commands/roles/create.mdx
  website/content/docs/api-clients/commands/roles/delete.mdx
  website/content/docs/api-clients/commands/roles/index.mdx
  website/content/docs/api-clients/commands/roles/list.mdx
  website/content/docs/api-clients/commands/roles/read.mdx
  website/content/docs/api-clients/commands/roles/remove-grants.mdx
  website/content/docs/api-clients/commands/roles/remove-principals.mdx
  website/content/docs/api-clients/commands/roles/set-grants.mdx
  website/content/docs/api-clients/commands/roles/set-principals.mdx
  website/content/docs/api-clients/commands/roles/update.mdx
  website/content/docs/api-clients/commands/scopes/create.mdx
  website/content/docs/api-clients/commands/scopes/delete.mdx
  website/content/docs/api-clients/commands/scopes/destroy-key-version.mdx
  website/content/docs/api-clients/commands/scopes/index.mdx
  website/content/docs/api-clients/commands/scopes/list-key-version-destruction-jobs.mdx
  website/content/docs/api-clients/commands/scopes/list-keys.mdx
  website/content/docs/api-clients/commands/scopes/list.mdx
  website/content/docs/api-clients/commands/scopes/read.mdx
  website/content/docs/api-clients/commands/scopes/rotate-keys.mdx
  website/content/docs/api-clients/commands/scopes/update.mdx
Labels: website

#3688 ui: bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#3687 all: avoid mutating global state in parallel tests
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/daemon/controller/handlers/targets/target_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/targets/testing.go
  internal/tests/api/credentials/credentials_test.go
  internal/tests/cluster/multi_controller_worker_test.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/cluster/worker_bytesupdown_test.go
  internal/tests/cluster/worker_proxy_test.go
  internal/tests/cluster/x509_verification_test.go
Labels: core, core/daemon

#3689 fix: Flaky upstream connection test
  internal/cmd/ops/server_test.go
Labels: core

#3685 feat (auth/ldap): add support for new fields to CLI
  internal/cmd/commands/authmethodscmd/ldap_funcs.go
Labels: core

#3696 docs: Edit remaining CLI commands
  website/content/docs/api-clients/commands/session-recordings/download.mdx
  website/content/docs/api-clients/commands/session-recordings/index.mdx
  website/content/docs/api-clients/commands/session-recordings/list.mdx
  website/content/docs/api-clients/commands/session-recordings/read.mdx
  website/content/docs/api-clients/commands/sessions/cancel.mdx
  website/content/docs/api-clients/commands/sessions/index.mdx
  website/content/docs/api-clients/commands/sessions/list.mdx
  website/content/docs/api-clients/commands/sessions/read.mdx
  website/content/docs/api-clients/commands/storage-buckets/create.mdx
  website/content/docs/api-clients/commands/storage-buckets/delete.mdx
  website/content/docs/api-clients/commands/storage-buckets/index.mdx
  website/content/docs/api-clients/commands/storage-buckets/list.mdx
  website/content/docs/api-clients/commands/storage-buckets/read.mdx
  website/content/docs/api-clients/commands/storage-buckets/update.mdx
  website/content/docs/api-clients/commands/targets/add-credential-sources.mdx
  website/content/docs/api-clients/commands/targets/add-host-sources.mdx
  website/content/docs/api-clients/commands/targets/authorize-session.mdx
  website/content/docs/api-clients/commands/targets/create.mdx
  website/content/docs/api-clients/commands/targets/delete.mdx
  website/content/docs/api-clients/commands/targets/index.mdx
  website/content/docs/api-clients/commands/targets/list.mdx
  website/content/docs/api-clients/commands/targets/read.mdx
  website/content/docs/api-clients/commands/targets/remove-credential-sources.mdx
  website/content/docs/api-clients/commands/targets/remove-host-sources.mdx
  website/content/docs/api-clients/commands/targets/set-credential-sources.mdx
  website/content/docs/api-clients/commands/targets/set-host-sources.mdx
  website/content/docs/api-clients/commands/targets/update.mdx
  website/content/docs/api-clients/commands/users/add-accounts.mdx
  website/content/docs/api-clients/commands/users/create.mdx
  website/content/docs/api-clients/commands/users/delete.mdx
  website/content/docs/api-clients/commands/users/index.mdx
  website/content/docs/api-clients/commands/users/list.mdx
  website/content/docs/api-clients/commands/users/read.mdx
  website/content/docs/api-clients/commands/users/remove-accounts.mdx
  website/content/docs/api-clients/commands/users/set-accounts.mdx
  website/content/docs/api-clients/commands/users/update.mdx
  website/content/docs/api-clients/commands/workers/add-worker-tags.mdx
  website/content/docs/api-clients/commands/workers/certificate-authority.mdx
  website/content/docs/api-clients/commands/workers/create.mdx
  website/content/docs/api-clients/commands/workers/delete.mdx
  website/content/docs/api-clients/commands/workers/index.mdx
  website/content/docs/api-clients/commands/workers/list.mdx
  website/content/docs/api-clients/commands/workers/read.mdx
  website/content/docs/api-clients/commands/workers/remove-worker-tags.mdx
  website/content/docs/api-clients/commands/workers/set-worker-tags.mdx
  website/content/docs/api-clients/commands/workers/update.mdx
Labels: website

#3690 test(e2e): Add a test for a single-hop worker
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/modules/docker_boundary/boundary-config-bsr.hcl
  enos/modules/docker_boundary/boundary-config.hcl
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  enos/modules/docker_worker/worker-config.hcl
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
  enos/modules/test_e2e_ui/main.tf
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/aws/env_test.go
  testing/internal/e2e/tests/aws/worker_test.go
  testing/internal/e2e/tests/base_with_worker/env_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_worker/testdata/boundary-controller-policy.hcl
Labels: pr/no-milestone

#3700 docs (auth/ldap): add new fields maximum_page_size, dereference_aliases
  website/content/docs/concepts/domain-model/auth-methods.mdx
Labels: website, docs/concepts

#3707 chore: update go-eventlogger
  go.mod
  go.sum
  internal/daemon/common/handler_test.go
  internal/event/eventer.go
  internal/event/testing.go
Labels: core, core/daemon

#3698 pagination: list deleted Ids before items
  internal/authtoken/repository.go
  internal/authtoken/repository_test.go
  internal/pagination/pagination.go
  internal/pagination/pagination_test.go
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/target/repository.go
  internal/target/tcp/repository_test.go
Labels: core/session, core, core/target

#3715 test(e2e): Add missing proxy listener to config file
  enos/modules/docker_boundary/boundary-config-bsr.hcl
Labels: pr/no-milestone

#3697 Go SDK auto pagination tweaks
  api/accounts/account.gen.go
  api/accounts/option.gen.go
  api/authmethods/authmethods.gen.go
  api/authmethods/option.gen.go
  api/authtokens/authtokens.gen.go
  api/authtokens/option.gen.go
  api/credentiallibraries/credential_library.gen.go
  api/credentiallibraries/option.gen.go
  api/credentials/credential.gen.go
  api/credentials/option.gen.go
  api/credentialstores/credential_store.gen.go
  api/credentialstores/option.gen.go
  api/go.mod
  api/go.sum
  api/groups/group.gen.go
  api/groups/option.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hostcatalogs/option.gen.go
  api/hosts/host.gen.go
  api/hosts/option.gen.go
  api/hostsets/host_set.gen.go
  api/hostsets/option.gen.go
  api/managedgroups/managedgroups.gen.go
  api/managedgroups/option.gen.go
  api/roles/option.gen.go
  api/roles/role.gen.go
  api/scopes/option.gen.go
  api/scopes/scope.gen.go
  api/sessionrecordings/option.gen.go
  api/sessionrecordings/session_recording.gen.go
  api/sessions/option.gen.go
  api/sessions/session.gen.go
  api/storagebuckets/option.gen.go
  api/storagebuckets/storage_bucket.gen.go
  api/targets/option.gen.go
  api/targets/target.gen.go
  api/users/option.gen.go
  api/users/user.gen.go
  api/workers/option.gen.go
  api/workers/worker.gen.go
  internal/api/genapi/templates.go
Labels: api, api/users, api/hostsets, api/sessions, api/scopes, core, api/roles, api/authtokens, api/targets, api/authmethods, api/groups, api/hostcatalogs, api/hosts

#3708 test(e2e): Add worker health check when setting up infra
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-bsr-downstream.hcl
  enos/modules/docker_worker/worker-config-bsr.hcl
  enos/modules/docker_worker/worker-config-downstream.hcl
  enos/modules/docker_worker/worker-config.hcl
Labels: pr/no-milestone

#3714 feat(event): add register pipeline
  internal/event/eventer.go
  internal/event/eventer_test.go
Labels: core

#3717 accounts list pagination
  internal/auth/ldap/account.go
  internal/auth/ldap/options.go
  internal/auth/ldap/options_test.go
  internal/auth/ldap/query.go
  internal/auth/ldap/repository_account.go
  internal/auth/ldap/repository_account_test.go
  internal/auth/oidc/account.go
  internal/auth/oidc/options.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/query.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/password/account.go
  internal/auth/password/options.go
  internal/auth/password/options_test.go
  internal/auth/password/query.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_account_test.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/account_service.pb.go
  internal/gen/controller/api/services/list.pb.go
  internal/proto/controller/api/services/v1/account_service.proto
  internal/proto/controller/api/services/v1/list.proto
Labels: core/gen, core/auth, core, core/proto, core/sql, core/daemon

#3719 feat(event): new storage event type
  internal/event/event_type.go
  internal/event/event_type_test.go
Labels: core

#3727 Cherry pick #3513 to `stable-website`
  website/content/docs/concepts/domain-model/targets.mdx
Labels: website, docs/concepts

#3724 test(e2e): Refactor vault setup method
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_connect_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
  testing/internal/e2e/tests/database/migration_test.go
  testing/internal/e2e/vault/vault.go
Labels: pr/no-milestone

#3718 pagination: use size of items when possible
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authtokens/authtoken_service_test.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
  internal/pagination/pagination.go
  internal/pagination/pagination_test.go
Labels: core, core/daemon

#3720 pagination: assert we have enough after filtering
  internal/pagination/pagination.go
  internal/pagination/pagination_test.go
Labels: core

#3731 docs: Update How does Boundary work? video
  website/content/docs/overview/what-is-boundary.mdx
Labels: website, backport/website

#3729 feat(events): add deregister pipeline
  internal/daemon/common/handler_test.go
  internal/event/eventer.go
  internal/event/testing.go
Labels: core, core/daemon

#3722 Telemetry: Adding telemetry flag and and telemetry sink event type
  internal/cmd/base/event_flags.go
  internal/cmd/base/event_flags_test.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/dev/flags_test.go
  internal/observability/event/event_type.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_config.go
  internal/observability/event/eventer_config_test.go
  internal/observability/event/sink_config.go
  internal/observability/event/sink_config_test.go
Labels: core

#3738 test: Add option for logging in test controller
  testing/controller/controller.go
Labels: pr/no-milestone

#3743 fix (events): convert multierror to stdlib error
  go.mod
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/repository_auth_method_update.go
  internal/bsr/internal/checksum/checksum.go
  internal/bsr/internal/checksum/checksum_test.go
  internal/bsr/internal/sign/sign.go
  internal/bsr/internal/sign/sign_test.go
  internal/cmd/base/base.go
  internal/cmd/base/dev.go
  internal/cmd/base/format.go
  internal/cmd/base/keyring.go
  internal/cmd/base/servers.go
  internal/cmd/commands/server/server.go
  internal/cmd/ops/server.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/listeners.go
  internal/daemon/worker/listeners.go
  internal/db/read_writer.go
  internal/db/schema/internal/postgres/postgres.go
  internal/errors/match_test.go
  internal/event/cloudevents_formatter_node_test.go
  internal/event/context.go
  internal/event/event_error.go
  internal/event/event_error_test.go
  internal/event/eventer.go
  internal/event/eventer_retry.go
  internal/event/eventer_retry_test.go
  internal/session/service_worker_status_report.go
Labels: core/db, core/auth, core/session, core, core/daemon

#3741 all: fix pagination where clause
  internal/auth/ldap/repository_account.go
  internal/auth/oidc/repository_account.go
  internal/auth/password/repository_account.go
  internal/authtoken/repository.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_ssh_certificate_credential_library.go
  internal/session/repository_session.go
  internal/target/repository.go
Labels: core/auth, core/session, core, core/target

#3739 Update Vault Credential Library Docs with additional options
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

#3751 Dheath-cherry-pick-cred-lib-13
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

#3746 credential: fix lint errors
  internal/credential/credential.go
  internal/credential/redact_test.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/testing.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
Labels: core, core/daemon

#3716 event(observation): Add request / response observation and add telemetry filter
  internal/observability/event/event_observation.go
  internal/observability/event/event_observation_test.go
  internal/observability/event/eventer.go
  internal/observability/event/options.go
  internal/observability/event/options_test.go
  internal/observability/event/telemetry_filter.go
  internal/observability/event/telemetry_filter_test.go
  internal/observability/event/testing.go
Labels: core

#3740 all: refactor credential library listing
  internal/credential/query.go
  internal/credential/repository_credentiallibrary.go
  internal/credential/repository_credentiallibrary_test.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/sql, core/daemon

#3742 Paginate credential stores
  internal/credential/query.go
  internal/credential/repository_credentialstore.go
  internal/credential/repository_credentialstore_test.go
  internal/credential/static/options.go
  internal/credential/static/options_test.go
  internal/credential/static/repository.go
  internal/credential/static/repository_credential_store.go
  internal/credential/static/repository_credential_store_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/repository.go
  internal/credential/vault/repository_credential_store.go
  internal/credential/vault/repository_credential_store_test.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/credential_store_service.pb.go
  internal/gen/controller/api/services/list.pb.go
  internal/proto/controller/api/services/v1/credential_store_service.proto
  internal/proto/controller/api/services/v1/list.proto
  internal/tests/api/credentialstores/credentialstore_test.go
Labels: core/gen, core, core/proto, core/sql, core/daemon

#3736 feat(event): remove node on pipeline failure
  internal/daemon/common/handler_test.go
  internal/event/eventer.go
  internal/event/testing.go
Labels: core, core/daemon

#3755 internal/credential: fix some copy pasta errors
  internal/credential/repository_credential.go
  internal/credential/repository_credentialstore.go
Labels: core

#3745 chore(enos): Move `terraform-enos-aws-infra` to `boundary`
  enos/ci/service-user-iam/main.tf
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui.hcl
  enos/modules/aws_vpc/main.tf
  enos/modules/worker/main.tf
  enos/modules/worker/variables.tf
Labels: pr/no-milestone

#3758 Fix flaky TestServer_ReloadInitialUpstreams
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/testing.go
Labels: core, core/daemon

#3752 docs: Update `events` stanza for telemetry
  website/content/docs/configuration/events/common.mdx
  website/content/docs/configuration/events/index.mdx
Labels: website, docs/configuration

#3728 remove deprecated option application-credential-source
  CHANGELOG.md
  api/targets/option.gen.go
  api/targets/target.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/target_service.pb.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/target_service.proto
  internal/tests/api/targets/target_test.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, core/gen, core, core/proto, api/targets, core/daemon

#3653 Finish Uploading BSR During Forced Worker Shutdown
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#3766 Ignore non-public tagged struct fields from telemetry
  internal/event/telemetry_filter.go
  internal/event/telemetry_filter_test.go
Labels: core

#3770 feat (db): add Writer.IsTx(...)
  internal/db/read_writer.go
  internal/db/read_writer_ext_test.go
Labels: core/db, core

#3774 Bump UI Commit
  internal/ui/VERSION
Labels: core/ui, core

#3776 test: Update tests to account for deprecated features in 0.14.0
  CHANGELOG.md
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/tests/api/credentiallibraries/credentiallibrary_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/cli/boundary/credential_libraries.bats
  testing/internal/e2e/boundary/boundary.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
  testing/internal/e2e/tests/database/migration_test.go
  version/VERSION
  version/feature_manager.go
  version/version_base.go
Labels: core, core/daemon

#3778 Bump UI Commit
  internal/ui/VERSION
Labels: core/ui, core

#3781 chore(enos): Provide boundary edition when building UI
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-docker-base-with-postgres.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-ui.hcl
  enos/modules/build_boundary_docker_crt/main.tf
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_crt/main.tf
Labels: pr/no-milestone

#3783 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#3784 Bump UI commitsh and update changelog
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core
