Repository hashicorp/boundary, pull requests merged in 2023-02, with the labels that each got.

#2875 chore: bump ui commit for host set link fixes
  internal/ui/VERSION
Labels: core/ui, core, backport/0.12.x

#2877 Backport of chore: bump ui commit for host set link fixes into release/0.12.x
  internal/ui/VERSION
Labels: core/ui, core

#2866 Add job run cleaner
  internal/daemon/controller/controller.go
  internal/db/schema/migrations/oss/postgres/62/01_job_run_index.up.sql
  internal/scheduler/cleaner/cleaner.go
  internal/scheduler/cleaner/cleaner_job.go
  internal/scheduler/cleaner/cleaner_test.go
Labels: core/db, core, core/sql, core/daemon, backport/0.12.x

#2880 Support HCPBInt in hcpb_cluster_id field
  internal/cmd/commands/server/server.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/status.go
Labels: core, core/daemon, backport/0.12.x

#2873 fix(vault): Only persist revokable credentials
  internal/credential/vault/private_library.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
Labels: core

#2883 chore: bump ui commit to include vault ssh cert feature
  internal/ui/VERSION
Labels: core/ui, core, backport/0.12.x

#2884 Gate jobs to run only on OSS repo, adjust TIME_LIMIT for boundary
  .github/workflows/test-ci-cleanup-oss.yml
Labels: pr/no-milestone

#2889 website(README): add content-check command
  website/README.md
  website/package-lock.json
  website/package.json
Labels: website, pr/no-milestone

#2862 fix(target): Incorrectly allowing whitespace on Target's address field.
  internal/daemon/controller/handlers/targets/target_service.go
  internal/target/address.go
  internal/target/repository.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/tests/api/targets/target_test.go
Labels: core, core/target, core/daemon, backport/0.12.x

#2892 fix (handlers/authmethods): fix ldap authorized actions
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/ldap.go
Labels: core, core/daemon

#2890 feature (cli/ldap/authenticate): use primary auth method if none is provided
  api/authmethods/option.gen.go
  internal/auth/ldap/store/ldap.pb.go
  internal/cmd/commands/authenticate/authenticate.go
  internal/cmd/commands/authenticate/ldap.go
  internal/cmd/commands/authmethodscmd/ldap_funcs.go
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/storage/auth/ldap/store/v1/ldap.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: api, core/auth, core, core/proto, api/authmethods

#2899 Filter managed workers from egress workers
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/common/const.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/target_service_test.go
Labels: core, core/daemon, backport/0.12.x

#2887 fix(cli): Status code on api error
  CHANGELOG.md
  internal/cmd/base/format.go
  internal/tests/cli/boundary/_accounts.bash
  internal/tests/cli/boundary/_credential_libraries.bash
  internal/tests/cli/boundary/_credential_stores.bash
  internal/tests/cli/boundary/_credentials.bash
  internal/tests/cli/boundary/_groups.bash
  internal/tests/cli/boundary/_helpers.bash
  internal/tests/cli/boundary/_host_catalogs.bash
  internal/tests/cli/boundary/_hosts.bash
  internal/tests/cli/boundary/_roles.bash
  internal/tests/cli/boundary/_scopes.bash
  internal/tests/cli/boundary/_targets.bash
  internal/tests/cli/boundary/_users.bash
  internal/tests/cli/boundary/_workers.bash
  internal/tests/cli/boundary/credential_libraries.bats
  version/feature_manager.go
Labels: core

#2901 fix(credentiallibraries): Correctly populate attrs for vault-generic
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/tests/cli/boundary/credential_libraries.bats
Labels: core, core/daemon

#2897 chore: Add changelog entry for job_run fix
  CHANGELOG.md
Labels: backport/0.12.x

#2904 chore: bump ui commit for 0.12.x release
  internal/ui/VERSION
Labels: core/ui, core, backport/0.12.x

#2871 docs: Update credentials docs for 0.12.0
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/credentials.mdx
Labels: website, docs/concepts, backport/0.12.x

#2913 chore: bump ui commit
  internal/ui/VERSION
Labels: core/ui, core, backport/0.12.x

#2910 fix(credentiallibraries): Fallback logic to support 0.11.x cli
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  version/feature_manager.go
Labels: core, core/daemon

#2903 fix(handlers): return error when updating json cred w/ empty obj
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/mask_manager.go
Labels: core, core/daemon, backport/0.12.x

#2915 docs: Add JSON credentials blob example
  website/content/docs/concepts/domain-model/credentials.mdx
Labels: website, docs/concepts, backport/0.12.x

#2906 docs: remove multihop from 0.12 branch
  website/content/docs/concepts/domain-model/credentials.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/public/img/multi-hop-workers.png
Labels: website, docs/concepts, docs/configuration

#2908 docs: Remove SSH creds from 0.12 branch
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/credentials.mdx
Labels: website, docs/concepts

#2865 Update documentation with new authenticate usage on the CLI
  website/content/docs/api-clients/cli.mdx
  website/content/docs/common-workflows/manage-users-groups.mdx
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/getting-started/deploy-and-login.mdx
  website/content/docs/oss/installing/no-gen-resources.mdx
  website/content/docs/oss/installing/run-and-login.mdx
Labels: docs/getting-started, website, docs/workflows, backport/0.12.x

#2918 fix(cli): update plural resource mentions in generated help texts
  internal/cmd/commands/credentiallibrariescmd/credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault-generic_credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault-ssh-certificate_credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault_credentiallibraries.gen.go
  internal/cmd/common/help.go
  internal/cmd/gencli/templates.go
Labels: core, backport/0.12.x

#2920 fix(handler): return targetId as hostId for cli edge case support
  internal/daemon/controller/handlers/targets/target_service.go
  version/feature_manager.go
Labels: core, core/daemon, backport/0.12.x

#2909 test(e2e): Update migration test to use vault docker container
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/boundary/authenticate.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/database/migration_test.go
  testing/internal/e2e/tests/static/session_cancel_group_test.go
  testing/internal/e2e/tests/static/session_cancel_user_test.go
Labels: pr/no-milestone

#2922 test: use `t.TempDir` to create temporary test directory
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/cmd/commands/server/listener_reload_test.go
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
  internal/daemon/worker/worker_test.go
Labels: core, core/daemon, pr/no-milestone

#2929 chore(enos): Remove bats test from running in enos
  .github/workflows/enos-run.yml
  enos/enos-modules.hcl
  enos/enos-scenario-integration.hcl
  enos/modules/bats_deps/main.tf
  enos/modules/test_cli_ui/tests.tf
Labels: pr/no-milestone

#2926 docs: Create 0.12.0 release notes
  website/content/docs/release-notes/v0_12_0.mdx
  website/data/docs-nav-data.json
Labels: website, backport/0.12.x

#2934 adds cve link
  website/content/docs/release-notes/v0_12_0.mdx
Labels: website, backport/website, backport/0.12.x

#2933 test(e2e): Add test for `boundary version`
  testing/internal/e2e/tests/static/version_test.go
Labels: pr/no-milestone

#2938 chore: update sdk/api deps
  go.mod
Labels: backport/0.12.x

#2944 [QT-400] Fix doormat hc-service-uri for ci bootstrap ci doormat role
  enos/ci/service-user-iam/github-actions-doormat.tf
  enos/ci/service-user-iam/outputs.tf
Labels: pr/no-milestone

#2921 add changelog update for vendor label for linux packaging
  CHANGELOG.md
Labels: backport/0.12.x

#2879 chore: Update deprecated set-output command
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/jira.yml
  .github/workflows/linting.yml
Labels: pr/no-milestone

#2898 Upgrade Go version to 1.20
  .go-version
  Makefile
  internal/cmd/base/server_test.go
  internal/cmd/config/config_test.go
Labels: core

#2945 add security-scan workflow
  .github/workflows/security-scan.yml
  scan.hcl
Labels: pr/no-milestone

#2948 test(e2e/migration): Add additional resources to database before migrating
  testing/internal/e2e/boundary/account.go
  testing/internal/e2e/boundary/group.go
  testing/internal/e2e/tests/database/migration_test.go
  testing/internal/e2e/tests/static/session_cancel_group_test.go
  testing/internal/e2e/tests/static/session_cancel_user_test.go
  testing/internal/e2e/tests/static/session_end_delete_host_set_test.go
  testing/internal/e2e/tests/static/session_end_delete_host_test.go
  testing/internal/e2e/tests/static/session_end_delete_target_test.go
  testing/internal/e2e/tests/static/session_end_delete_user_test.go
Labels: pr/no-milestone

#2956 fix: Support streaming HTTP responses
  go.mod
  go.sum
  internal/daemon/controller/gateway.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/marshaler.go
Labels: core, core/daemon

#2953 Revert "docs: Remove SSH creds from 0.12 branch"
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/credentials.mdx
Labels: website, docs/concepts, backport/website

#2952 Revert "docs: remove multihop from 0.12 branch"
  website/content/docs/concepts/domain-model/credentials.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/public/img/multi-hop-workers.png
Labels: website, docs/concepts, docs/configuration, backport/website

#2855 docs: Update Getting Started guide, direct address
  website/content/docs/getting-started/connect-to-target.mdx
  website/content/docs/getting-started/deploy-and-login.mdx
  website/public/img/setup-wizard-address-target.png
  website/public/img/setup-wizard-target.png
Labels: docs/getting-started, website, backport/website, backport/0.12.x

#2955 docs: Update 0.12.0 release notes with HCP links
  website/content/docs/release-notes/v0_12_0.mdx
Labels: website, backport/website, backport/0.12.x

#2967 docs: Cherry pick #2855 to release/0.12.x branch
  website/content/docs/getting-started/connect-to-target.mdx
  website/content/docs/getting-started/deploy-and-login.mdx
  website/public/img/setup-wizard-address-target.png
  website/public/img/setup-wizard-target.png
Labels: docs/getting-started, website

#2972 update dependencies
  go.mod
  go.sum
Labels: dependencies, backport/0.12.x

#2975 docs: Update main branch with 0.12.0 revisions
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, docs/concepts, docs/configuration

#2978 fix(targets): Use correct field name in deprecation warning
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon, backport/0.12.x

#2977 ci(sqltest): Add github action workflow for sql tests
  .github/workflows/test-sql.yml
  internal/db/sqltest/Makefile
Labels: core/db, core, pr/no-milestone

#2980 ci: Run make-gen-detla in github action
  .github/workflows/make-gen-delta.yml
Labels: pr/no-milestone

#2981 ci: Use variable for runner
  .github/workflows/backport.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/enos-ci-bootstrap-oss.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/jira.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/milestone-checker.yml
  .github/workflows/test-ci-cleanup-oss.yml
Labels: pr/no-milestone

#2727 [QT-444] Use repo isolated AWS account for enos CI tests
  .github/workflows/enos-run.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  enos/README.md
  enos/ci/service-user-iam/main.tf
  enos/modules/iam_setup/main.tf
Labels: pr/no-milestone

#2982 fix(targets): Readd WorkerFilterDeprecationMessage
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

#2983 fix(targets): Readd WorkerFilterDeprecationMessage (#2982)
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

#2984 fix(targets): Use correct error string in enterprise
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon, backport/0.12.x

#2987 Get accountid from configure-aws-credentials action for OSS
  .github/workflows/test-ci-cleanup-oss.yml
Labels: pr/no-milestone

#2960 feat(db): Introduce migrations for ssh targets
  internal/db/schema/migrations/oss/postgres/64/01_ssh_targets.up.sql
  internal/db/schema/migrations/oss/postgres/64/02_hcp_billing_hourly.up.sql
  internal/db/schema/migrations/oss/postgres/64/03_hcp_billing_monthly.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/hcp/billing/hourly_sessions_all.sql
  internal/db/sqltest/tests/hcp/billing/hourly_sessions_last_3_hours.sql
  internal/db/sqltest/tests/hcp/billing/hourly_sessions_last_7_days.sql
  internal/db/sqltest/tests/hcp/billing/indexes.sql
  internal/db/sqltest/tests/hcp/billing/monthly_sessions_all.sql
  internal/db/sqltest/tests/target/target_ssh.sql
  internal/db/sqltest/tests/wh/credential_dimension/ssh_target.sql
  internal/db/sqltest/tests/wh/host_dimension/targets.sql
  internal/target/repository.go
  internal/target/target.go
Labels: core/db, core, core/target, core/sql

#2989 fix(cli): Fallback parsing of un-typed credentials
  CHANGELOG.md
  internal/cmd/commands/connect/credentials.go
  internal/cmd/commands/connect/credentials_test.go
  internal/cmd/commands/connect/funcs.go
Labels: core

#2991 feat(db): Introduce migrations for ssh targets
  internal/db/schema/migrations/oss/postgres/64/01_ssh_targets.up.sql
  internal/db/schema/migrations/oss/postgres/64/02_hcp_billing_hourly.up.sql
  internal/db/schema/migrations/oss/postgres/64/03_hcp_billing_monthly.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/hcp/billing/hourly_sessions_all.sql
  internal/db/sqltest/tests/hcp/billing/hourly_sessions_last_3_hours.sql
  internal/db/sqltest/tests/hcp/billing/hourly_sessions_last_7_days.sql
  internal/db/sqltest/tests/hcp/billing/indexes.sql
  internal/db/sqltest/tests/hcp/billing/monthly_sessions_all.sql
  internal/db/sqltest/tests/target/target_ssh.sql
  internal/db/sqltest/tests/wh/credential_dimension/ssh_target.sql
  internal/db/sqltest/tests/wh/host_dimension/targets.sql
  internal/target/repository.go
  internal/target/target.go
Labels: core/db, core, core/target, core/sql

#2993 chore(enos): Update test suite slack bot with different messages
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#2995 Update service-discovery.mdx
  website/content/docs/concepts/service-discovery.mdx
Labels: website, docs/concepts, backport/website

#3000 chore(enos): Always destroy enos infrastructure
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3001 chore(enos): Modify destroy condition
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#2992 refact(e2e): Set up variables to prepare for docker implementation
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-static-with-vault.hcl
  enos/enos-scenario-e2e-static.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/aws/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
  testing/internal/e2e/tests/static/env_test.go
  testing/internal/e2e/tests/static_with_vault/connect_authz_token_test.go
  testing/internal/e2e/tests/static_with_vault/connect_ssh_test.go
  testing/internal/e2e/tests/static_with_vault/connect_test.go
  testing/internal/e2e/tests/static_with_vault/credential_store_test.go
  testing/internal/e2e/tests/static_with_vault/env_test.go
  testing/internal/e2e/vault/env.go
  testing/internal/e2e/vault/vault.go
Labels: pr/no-milestone

#2997 ci: Run go tests in github action
  .github/scripts/set-test-package-matrix.sh
  .github/workflows/test.yml
  Makefile
  scripts/build.sh
Labels: pr/no-milestone

#3014 chore(ci): Add downstream merge trigger to github action
  .github/workflows/trigger-merge-to-downstream.yml
  scripts/trigger-merge-to-downstream-gha
Labels: pr/no-milestone

#3032 ci: Fix permissions in labeler workflow
  .github/workflows/labeler.yml
Labels: pr/no-milestone

#3021 chore(enos): Fix `iam_setup` when running locally
  enos/modules/iam_setup/main.tf
Labels: pr/no-milestone

#3031 chore(enos): Define explicit dependencies between steps
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-static-with-vault.hcl
  enos/enos-scenario-e2e-static.hcl
Labels: pr/no-milestone

#3035 chore(enos): Default to use OSS edition
  enos/modules/build_local/main.tf
Labels: pr/no-milestone
