Repository hashicorp/boundary, pull requests merged in 2023-07, with the labels that each got.

#3383 docs: Update HCP only references
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
Labels: website, docs/concepts, backport/website

#3346 Update census to run less frequently
  internal/census/census_job.go
  internal/db/schema/migrations/oss/postgres/73/01_census_logging.up.sql
  internal/db/sqltest/tests/census/last_logged.sql
Labels: core/db, core, core/sql

#3381 Update create-storage-bucket.mdx PKI worker to session recording config
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration, backport/website

#3382 Update enable-session-recording.mdx to link bsr controler config to bsr kms key doc
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
Labels: website, docs/configuration, backport/website

#3389 bug(workerAuth): allow duplicate workerAuth inserts if records match
  CHANGELOG.md
  internal/server/repository_workerauth.go
  internal/server/repository_workerauth_test.go
  internal/server/worker_auth.go
Labels: core, core/server

#3387 test(e2e): Add test to connect to target via its name and scope
  testing/internal/e2e/boundary/scope.go
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/base/target_tcp_connect_test.go
Labels: pr/no-milestone

#3401 docs: Fix a capitalization error in the TOC
  website/data/docs-nav-data.json
Labels: website, backport/website

#3406 Fix issue where snapshot conflicts weren't being handled
  internal/db/schema/migrations/oss/postgres/74/01_hcp_update_sessions_function.up.sql
  internal/db/sqltest/tests/hcp/billing/update_sessions_pending_daily_snapshot.sql
Labels: core/db, core, core/sql

#3410 chore(server): Update worker auth repository to handle dupe nodes
  go.mod
  go.sum
  internal/server/repository_workerauth.go
  internal/server/repository_workerauth_test.go
Labels: core, core/server, backport/0.13.x

#3412 docs: Update enable session recording on a target
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
Labels: website, docs/configuration, backport/website

#3416 docs: install boundary amazon linux instruction
  website/content/docs/install-boundary/install.mdx
Labels: website, backport/website

#3413 Update index.mdx
  website/content/docs/api-clients/commands/index.mdx
Labels: website

#3426 chore: Ignore website directory for build and test workflows
  .github/workflows/build.yml
  .github/workflows/linting.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
Labels: event/boundary-docs-day, pr/no-milestone

#3408 feat: Decode Summary File
  internal/bsr/bsr.go
  internal/bsr/bsr_open_test.go
  internal/bsr/container.go
  internal/bsr/container_test.go
  internal/bsr/errors.go
  internal/bsr/ssh/types.go
  internal/bsr/summary.go
  internal/bsr/summary_test.go
  internal/bsr/types.go
Labels: core

#3414 docs: Session Recording Requirements for Workers
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration

#3418 chore: prefer gosec for semgrep rule and turn on codeql
  .github/workflows/security-scan.yml
  scan.hcl
Labels: pr/no-milestone

#3435 fix paths-ignore on security-scan workflow
  .github/workflows/security-scan.yml
Labels: pr/no-milestone

#3439 chore: update nodeenrollemnt version
  go.mod
  go.sum
Labels: backport/0.13.x

#3438 chore: Add missing for summary interfaces
  internal/bsr/types.go
Labels: core

#3437 docs: add code blocks to LDAP auth method docs
  website/content/docs/concepts/domain-model/auth-methods.mdx
Labels: website, docs/concepts, backport/website, event/boundary-docs-day

#3421 docs: update view session recordings in ui steps
  website/content/docs/operations/manage-recorded-sessions.mdx
Labels: website, backport/website, event/boundary-docs-day

#3431 docs/cli-commands-Update postgres.mdx
  website/content/docs/api-clients/commands/connect/postgres.mdx
Labels: website

#3451 chore: Add missing ** in paths-ignore
  .github/workflows/build.yml
Labels: event/boundary-docs-day, pr/no-milestone

#3447 chore: Change summary errors field type
  internal/bsr/types.go
Labels: core

#3440 docs: BSR KMS Configuration Requirements
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration, backport/website

#3455 Draft connection option documentation for kube, http, and rdp
  website/content/docs/api-clients/commands/connect/http.mdx
  website/content/docs/api-clients/commands/connect/kube.mdx
  website/content/docs/api-clients/commands/connect/rdp.mdx
Labels: website, event/boundary-docs-day

#3456 chore: update cap dependency
  go.mod
  go.sum
Labels: backport/0.13.x

#3459 feat: Add custom summary error type
  internal/bsr/types.go
  internal/bsr/types_test.go
Labels: core

#3462 test(e2e): Use vault-generic credential library type
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_connect_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
Labels: pr/no-milestone

#3467 chore: Update changelog after 0.13.1 release
  CHANGELOG.md
Labels: backport/0.13.x

#3463 test(e2e): Build UI when running docker scenarios locally
  enos/modules/build_boundary_docker_local/build.sh
  testing/internal/e2e/boundary/session.go
Labels: pr/no-milestone

#3475 test(e2e): Update grants to use new ids field
  testing/internal/e2e/tests/base/session_cancel_group_test.go
  testing/internal/e2e/tests/base/session_cancel_user_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_set_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_test.go
  testing/internal/e2e/tests/base/session_end_delete_project_test.go
  testing/internal/e2e/tests/base/session_end_delete_target_test.go
  testing/internal/e2e/tests/base/session_end_delete_user_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone

#3448 Update iam.mdx
  website/content/docs/concepts/iam.mdx
Labels: website, docs/concepts, backport/website, event/boundary-docs-day

#3353 refactor: make secrets optional for storage bucket
  internal/db/schema/migrations/oss/postgres/75/01_storage_bucket.up.sql
  internal/plugin/loopback/storage.go
  internal/plugin/loopback/storage_test.go
  internal/proto/controller/storage/storage/plugin/store/v1/storage.proto
  internal/storage/plugin/store/storage.pb.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
Labels: core/db, core, core/proto, core/sql

#3481 feat: Perform asciicast conversion sanity checks
  internal/bsr/convert/convert.go
  internal/bsr/convert/convert_test.go
Labels: core

#3482 test(e2e): Add "update host set filter" check
  testing/internal/e2e/boundary/host.go
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
Labels: pr/no-milestone

#3424 Connect option docs
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/hcp/get-started/connect-to-target.mdx
Labels: docs/getting-started, website, backport/website

#3490 docs (domain/OIDC): add domain docs for OIDC auth method attributes
  website/content/docs/concepts/domain-model/auth-methods.mdx
Labels: website, docs/concepts, backport/website

#3496 fix(bsr): check nanosecond range during decoding
  internal/bsr/errors.go
  internal/bsr/timestamp.go
  internal/bsr/timestamp_test.go
Labels: core, backport/0.13.x

#3485 docs: Clarify storage bucket terminology
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration, backport/website

#3483 docs: Reorg session recording operations
  website/content/docs/operations/manage-recorded-sessions.mdx
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
  website/content/docs/operations/session-recordings/validate-data-store.mdx
  website/content/docs/operations/session-recordings/validate-session-recordings.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, backport/website

#3476 refactor(bsr): optimize ChunkEncoder.Encode()
  internal/bsr/encode.go
  internal/bsr/encode_bench_test.go
Labels: core

#3407 Update configure-controllers.mdx
  website/content/docs/install-boundary/configure-controllers.mdx
Labels: website, backport/website

#3487 Worker concepts doc
  website/content/docs/concepts/workers.mdx
  website/data/docs-nav-data.json
  website/public/img/access-model.png
  website/public/img/concepts-multihop.png
  website/public/img/worker-tags.png
Labels: website, docs/concepts, backport/website, event/boundary-docs-day

#3508 Backport of Worker concepts doc into stable-website
  website/content/docs/concepts/workers.mdx
  website/data/docs-nav-data.json
  website/public/img/access-model.png
  website/public/img/concepts-multihop.png
  website/public/img/worker-tags.png
Labels: website, docs/concepts

#3498 fix(bsr): allow reading twice from the same file
  internal/bsr/internal/fstest/fs.go
  internal/bsr/internal/fstest/fs_test.go
Labels: core

#3511 fix (ldap): support only updating the bind-dn and/or bind-password
  CHANGELOG.md
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/options.go
  internal/auth/ldap/options_test.go
  internal/auth/ldap/repository_auth_method_update.go
  internal/auth/ldap/repository_auth_method_update_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/ldap.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
Labels: core/auth, core, core/daemon

#3514 docs: Add note regarding HCP workers
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration, backport/website

#3504 feat(bsr): support container validation
  internal/bsr/container.go
  internal/bsr/container_test.go
Labels: core

#3517 server: allow release version to be set in test
  internal/server/testing.go
Labels: core, core/server

#3520 Add 'auth-methods' command doc
  website/content/docs/api-clients/commands/auth-methods/change-state.mdx
  website/content/docs/api-clients/commands/auth-methods/create.mdx
  website/content/docs/api-clients/commands/auth-methods/delete.mdx
  website/content/docs/api-clients/commands/auth-methods/index.mdx
  website/content/docs/api-clients/commands/auth-methods/list.mdx
  website/content/docs/api-clients/commands/auth-methods/read.mdx
  website/content/docs/api-clients/commands/auth-methods/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3522 server: allow release version to be set in test
  internal/server/testing.go
Labels: core, core/server

#3519 fix: Close opened BSR files
  internal/bsr/bsr.go
  internal/bsr/bsr_open_test.go
  internal/bsr/container.go
  internal/bsr/convert/convert.go
  internal/bsr/internal/fstest/fs.go
  internal/bsr/internal/fstest/options.go
Labels: core

#3524 Add the docs for 'logout', 'server', and 'dev' commands
  website/content/docs/api-clients/commands/dev.mdx
  website/content/docs/api-clients/commands/logout.mdx
  website/content/docs/api-clients/commands/server.mdx
  website/data/docs-nav-data.json
Labels: website
