Repository hashicorp/boundary, pull requests merged in 2023-10, with the labels that each got.

#3787 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#3790 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#3792 chore(e2e): Get logs from postgres container to debug deadlock errors
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3797 chore(e2e): Set terraform version to 1.5 until issue is addressed
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3803 Fix intermittent startup issues on slow systems
  CHANGELOG.md
  internal/daemon/worker/controller_connection.go
Labels: core, core/daemon, backport/0.14.x

#3804 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core, backport/0.14.x

#3796 chore(e2e): Get logs to debug aws dependencies error
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3773 chore(enos): Move `terraform-enos-aws-boundary` to `boundary`
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui.hcl
  enos/modules/aws_az_finder/main.tf
  enos/modules/aws_boundary/alb.tf
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/iam.tf
  enos/modules/aws_boundary/infra.tf
  enos/modules/aws_boundary/main.tf
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/security-groups.tf
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_bucket/locals.tf
  enos/modules/aws_bucket/main.tf
  enos/modules/aws_bucket/outputs.tf
  enos/modules/aws_bucket/variables.tf
  enos/modules/aws_iam_setup/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/outputs.tf
  enos/modules/aws_worker/templates/worker.hcl
  enos/modules/aws_worker/templates/worker_bsr.hcl
  enos/modules/aws_worker/variables.tf
Labels: pr/no-milestone

#3815 Revert "chore(e2e): Set terraform version to 1.5"
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3812 test(e2e): Add test with scp operations
  enos/modules/aws_target/main.tf
  testing/internal/e2e/tests/base/target_tcp_connect_scp_test.go
Labels: pr/no-milestone

#3818 Dheath hashiconf assembly
  website/content/docs/commands/connect/ssh.mdx
  website/content/docs/concepts/domain-model/accounts.mdx
  website/content/docs/concepts/domain-model/auth-methods.mdx
  website/content/docs/concepts/domain-model/managed-groups.mdx
  website/content/docs/concepts/domain-model/storage-buckets.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/operations/health.mdx
  website/content/docs/release-notes/v0_14_0.mdx
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
  website/content/partials/release-notes/intro.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration, backport/0.14.x

#3759 docs: Update worker auth storage path
  website/content/docs/configuration/worker/pki-worker.mdx
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, docs/configuration, backport/website

#3749 docs: Clarify SSH options and session recording
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
Labels: website, backport/website

#3836 refact (kms): convert to the new stdlib slices pkg
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/kms/kms.go
Labels: core, core/kms, core/daemon

#3817 prototype: refactor targets into domain layer
  internal/auth/ldap/account.go
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/managed_group.go
  internal/auth/oidc/account.go
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/managed_group.go
  internal/auth/password/account.go
  internal/auth/password/authmethod.go
  internal/boundary/boundary.go
  internal/credential/static/credential_store.go
  internal/credential/static/json_credential.go
  internal/credential/static/ssh_private_key_credential.go
  internal/credential/static/usernamepassword_credential.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/credential_store.go
  internal/credential/vault/private_library.go
  internal/credential/vault/ssh_certificate_credential_library.go
  internal/daemon/controller/handlers/refresh_token.go
  internal/daemon/controller/handlers/refresh_token_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/db/read_writer.go
  internal/db/read_writer_test.go
  internal/gen/controller/api/services/list.pb.go
  internal/host/plugin/host.go
  internal/host/plugin/host_catalog.go
  internal/host/plugin/host_set.go
  internal/host/plugin/immutable_fields_test.go
  internal/host/static/host.go
  internal/host/static/host_catalog.go
  internal/host/static/host_set.go
  internal/pagination/pagination.go
  internal/pagination/pagination_test.go
  internal/proto/controller/api/services/v1/list.proto
  internal/refreshtoken/refresh_token.go
  internal/refreshtoken/refresh_token_test.go
  internal/target/list_response.go
  internal/target/repository.go
  internal/target/repository_test.go
  internal/target/service_list.go
  internal/target/service_list_refresh.go
  internal/target/target.go
  internal/target/targettest/target.go
  internal/target/tcp/repository_test.go
  internal/target/tcp/service_test.go
  internal/target/tcp/target.go
Labels: core/db, core/gen, core/auth, core, core/proto, core/host, core/target, core/daemon

#3843 internal/target: move service list test
  internal/target/service_list_test.go
Labels: core, core/target

#3846 test(e2e): Add test for creating an auth method
  testing/internal/e2e/tests/base/auth_method_password_test.go
Labels: pr/no-milestone

#3853 test(bats): Fix grant due to deprecation
  internal/tests/cli/boundary/roles.bats
Labels: core, pr/no-milestone

#3848 Target listing review comments
  internal/refreshtoken/refresh_token.go
  internal/refreshtoken/refresh_token_test.go
  internal/target/address_ext_test.go
  internal/target/credential_ext_test.go
  internal/target/credential_library_ext_test.go
  internal/target/exports_test.go
  internal/target/repository.go
  internal/target/repository_ext_test.go
  internal/target/repository_test.go
  internal/target/service_list.go
  internal/target/service_list_ext_test.go
  internal/target/service_list_refresh.go
  internal/target/target_ext_test.go
  internal/target/targettest/target.go
  internal/target/tcp/repository_test.go
Labels: core, core/target

#3863 docs: Cherry pick 0.14.0 docs changes to 0.14.1 branch
  website/content/docs/commands/connect/ssh.mdx
  website/content/docs/concepts/domain-model/accounts.mdx
  website/content/docs/concepts/domain-model/auth-methods.mdx
  website/content/docs/concepts/domain-model/managed-groups.mdx
  website/content/docs/concepts/domain-model/storage-buckets.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/content/docs/install-boundary/configure-workers.mdx
  website/content/docs/operations/health.mdx
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
  website/content/docs/release-notes/v0_14_0.mdx
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
  website/content/partials/release-notes/intro.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

#3864 Migrate some credential bits around
  api/authmethods/authenticate.go
  api/consts/consts.go
  globals/credentials.go
  globals/prefixes.go
  internal/cmd/commands/connect/credentials.go
  internal/cmd/commands/connect/credentials_test.go
  internal/credential/credential.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/credential_library_test.go
  internal/credential/vault/mapping_overriders.go
  internal/credential/vault/mapping_overriders_test.go
  internal/credential/vault/options.go
  internal/credential/vault/options_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/public_ids.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/repository_ssh_certificate_credential_library.go
  internal/credential/vault/repository_ssh_certificate_credential_library_test.go
  internal/credential/vault/ssh_certificate_credential_library.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/credentials.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: api, core, api/authmethods, core/daemon

#3859 test(e2e): Add check for vault worker filters
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
Labels: pr/no-milestone

#3844 New generic pagination
  internal/daemon/controller/handlers/targets/target_service.go
  internal/pagination/doc.go
  internal/pagination/example_test.go
  internal/pagination/pagination2.go
  internal/pagination/pagination2_test.go
  internal/target/service_list.go
  internal/target/service_list_ext_test.go
  internal/target/service_list_refresh.go
Labels: core, core/target, core/daemon

#3874 test(e2e): Change postgres deadlock timeout to default
  enos/modules/docker_postgres/postgresql.conf
Labels: pr/no-milestone

#3865 Add some useful dev flags
  .gitignore
  go.mod
  go.sum
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/controller/controller.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/proxydialer.go
  internal/daemon/worker/worker.go
  internal/host/plugin/job_set_sync.go
Labels: core, core/host, core/daemon

#3879 Add some target fields and move some things around
  .copywrite.hcl
  Makefile
  api/go.mod
  api/go.sum
  api/proxy/credentials.go
  api/proxy/credentials_test.go
  api/targets/custom.go
  api/targets/session_authorization.gen.go
  api/targets/session_authorization_data.gen.go
  go.mod
  internal/api/genapi/input.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/credentials.go
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/connect/ssh.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/handler.go
  internal/daemon/worker/workerdisconnect_test.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/worker/proxy/v1/.copywrite.hcl
  internal/proto/worker/proxy/v1/proxy.proto
  internal/tests/api/credentials/credentials_test.go
  internal/tests/helper/testing_helper.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
  sdk/pbs/proxy/proxy.pb.go
Labels: api, core/gen, core, core/proto, api/targets, core/daemon

#3868 fix (oplog keys): fix issue with migration of oplog keys to new tables
  internal/db/schema/migrations/oss/postgres/77/03_kms_oplog.up.sql
Labels: core/db, core, core/sql, backport/0.13.x

#3884 fix: monitorUpstreamConnectionState CPU consumption
  CHANGELOG.md
  internal/daemon/worker/controller_connection.go
Labels: core, core/daemon, backport/0.14.x

#3904 chore: Update changelog for bug fix
  CHANGELOG.md
Labels: backport/0.14.x

#3791 Expose Valid Principals for Vault SSH Signed Certs
  api/credentiallibraries/option.gen.go
  api/credentiallibraries/vault_ssh_certificate_credential_library_attributes.gen.go
  api/sessionrecordings/vault_ssh_certificate_credential_library_attributes.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault-ssh-certificate_funcs.go
  internal/credential/vault/fields.go
  internal/credential/vault/options.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_ssh_certificate_credential_library.go
  internal/credential/vault/ssh_certificate_credential_library.go
  internal/credential/vault/store/vault.pb.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/db/schema/migrations/oss/postgres/78/01_ssh_signed_certs_additional_valid_principals.up.sql
  internal/proto/controller/api/resources/credentiallibraries/v1/credential_library.proto
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
  internal/tests/cli/boundary/credential_libraries.bats
  sdk/pbs/controller/api/resources/credentiallibraries/credential_library.pb.go
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, api, docs/concepts, core/db, core, core/proto, core/sql, core/daemon, backport/0.14.x

#3910 test(e2e): Wait until target ec2 instance is ready to be used
  enos/modules/aws_target/main.tf
Labels: pr/no-milestone, backport/0.14.x

#3912 Define app token schema
  internal/apptoken/app_token.go
  internal/apptoken/repository.go
  internal/apptoken/repository_create.go
  internal/apptoken/repository_delete.go
  internal/apptoken/repository_list.go
  internal/apptoken/repository_read.go
  internal/db/schema/migrations/oss/postgres/1001/01_app_tokens.up.sql
  internal/db/sqltest/tests/auth/app_token/app_token.sql
Labels: core/db, core, core/sql

#3885 List pagination schema changes
  internal/db/schema/migrations/oss/postgres/78/01_deleted_tables_and_triggers.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/purge/deleted_table_tests.sql
  internal/db/sqltest/tests/purge/trigger_insert_on_delete.sql
Labels: core/db, core, core/sql

#3887 Add Now method to DB handle
  internal/db/read_writer.go
  internal/db/read_writer_test.go
Labels: core/db, core

#3913 feat (apptoken): added proto storage for apptoken
  Makefile
  internal/apptoken/store/apptoken.pb.go
  internal/proto/controller/storage/apptoken/store/v1/apptoken.proto
Labels: core, core/proto

#3931 security-scan: temporarily pin semgrep to 1.45.0
  .github/workflows/security-scan.yml
Labels: github_actions

#3929 fix (auth/ldap): fix encoding of mTLS client key
  internal/auth/ldap/repository_authenticate.go
  internal/auth/ldap/repository_authenticate_test.go
Labels: core/auth, core

#3934 chore: add changelog for ldap fix PR #3929
  CHANGELOG.md
Labels: backport/0.13.x, backport/0.14.x

#3932 Backport of Expose Valid Principals for Vault SSH Signed Certs into release/0.14.x
  api/credentiallibraries/option.gen.go
  api/credentiallibraries/vault_ssh_certificate_credential_library_attributes.gen.go
  api/sessionrecordings/vault_ssh_certificate_credential_library_attributes.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault-ssh-certificate_funcs.go
  internal/credential/vault/fields.go
  internal/credential/vault/options.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_ssh_certificate_credential_library.go
  internal/credential/vault/ssh_certificate_credential_library.go
  internal/credential/vault/store/vault.pb.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/db/schema/migrations/oss/postgres/78/01_ssh_signed_certs_additional_valid_principals.up.sql
  internal/proto/controller/api/resources/credentiallibraries/v1/credential_library.proto
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
  internal/tests/cli/boundary/credential_libraries.bats
  sdk/pbs/controller/api/resources/credentiallibraries/credential_library.pb.go
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, api, docs/concepts, core/db, docs/configuration, core, core/proto, core/sql, core/daemon

#3894 internal/host: fix inconsistent receiver
  internal/host/plugin/immutable_fields_test.go
Labels: core, core/host

#3886 sqltest: fix typo
  internal/db/sqltest/tests/history/history_table_tests.sql
Labels: core/db, core, core/sql

#3933 Cameronperera/app token grant type
  internal/apptoken/app_token_grant.go
  internal/apptoken/app_token_grant_test.go
Labels: core

#3930 feat (app token): Add AppTokenUsage type
  internal/apptoken/app_token_usage.go
  internal/apptoken/app_token_usage_test.go
Labels: core

#3914 docs: Document additional valid principals
  website/content/docs/commands/credential-libraries/create.mdx
  website/content/docs/commands/credential-libraries/update.mdx
Labels: website

#3882 test(e2e): Add test for controller-led worker registration
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/modules/docker_boundary/get_auth_token.sh
  enos/modules/docker_boundary/get_worker_token.sh
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_boundary/script_runner.sh
  enos/modules/docker_worker/main.tf
  enos/modules/docker_worker/worker-config-controller-led.hcl
Labels: pr/no-milestone

#3945 Telemetry(observations): add oidc and ldap observation events
  internal/auth/ldap/service_authenticate.go
  internal/auth/ldap/service_authenticate_test.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
Labels: core/auth, core, core/daemon

#3950 Telemetry(observations): add oidc and ldap observation events (#3945)
  internal/auth/ldap/service_authenticate.go
  internal/auth/ldap/service_authenticate_test.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
Labels: core/auth, core, core/daemon

#3899 internal/credential: simplify TestObject test helper
  internal/credential/static/json_credential_test.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/repository_credentials_test.go
  internal/credential/static/rewrapping_test.go
  internal/credential/static/testing.go
  internal/credential/static/testing_test.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
Labels: core, core/daemon

#3958 feat (authmethod/password): add additional telmemetry for passwd acct authen
  internal/daemon/controller/handlers/authmethods/password.go
  internal/daemon/controller/handlers/authmethods/password_test.go
Labels: core, core/daemon

#3954 turn on osv scanning
  scan.hcl
Labels: pr/no-milestone

#3951 Fix dev key generation
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
Labels: core

#3960 telemetry(observations): fix the details flag check
  internal/auth/ldap/service_authenticate_test.go
  internal/auth/oidc/service_callback_test.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
  internal/daemon/controller/handlers/authmethods/password_test.go
  internal/event/context.go
  internal/event/context_test.go
Labels: core/auth, core, core/daemon

#3964 telemetry(observations): fix the details flag check (#3960)
  internal/auth/ldap/service_authenticate_test.go
  internal/auth/oidc/service_callback_test.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
  internal/daemon/controller/handlers/authmethods/password_test.go
  internal/event/context.go
  internal/event/context_test.go
Labels: core/auth, core, core/daemon

#3957 tests: Set a default job run interval based on the test deadline
  internal/daemon/controller/testing.go
Labels: core, core/daemon

#3966 test(e2e): Add support for `-additional-valid-principals` test
  enos/modules/test_e2e_docker/test.sh
  enos/modules/test_e2e_docker/test_runner.sh
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
Labels: pr/no-milestone
