Repository hashicorp/boundary, pull requests merged in 2023-06, with the labels that each got.

#3242 fix: update go-dbw dep and refactor conversion of pgx errors
  go.mod
  go.sum
  internal/db/schema/internal/postgres/postgres.go
  internal/errors/error.go
  internal/errors/error_test.go
  internal/errors/is.go
  internal/errors/is_test.go
Labels: core/db, core

#3258 chore: updgrade pgx direct deps to v5
  go.mod
  internal/cmd/base/internal/docker/supported.go
  internal/credential/vault/supported.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/db/common/db.go
  internal/db/db.go
  testing/dbtest/template.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: core/db, core, core/daemon

#3257 Upgrade grpc-gateway dependency
  Makefile
  go.mod
  go.sum
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/account_service.pb.gw.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/gen/controller/api/services/authtokens_service.pb.gw.go
  internal/gen/controller/api/services/credential_library_service.pb.gw.go
  internal/gen/controller/api/services/credential_service.pb.gw.go
  internal/gen/controller/api/services/credential_store_service.pb.gw.go
  internal/gen/controller/api/services/group_service.pb.gw.go
  internal/gen/controller/api/services/host_catalog_service.pb.gw.go
  internal/gen/controller/api/services/host_service.pb.gw.go
  internal/gen/controller/api/services/host_set_service.pb.gw.go
  internal/gen/controller/api/services/managed_group_service.pb.gw.go
  internal/gen/controller/api/services/role_service.pb.gw.go
  internal/gen/controller/api/services/scope_service.pb.gw.go
  internal/gen/controller/api/services/session_recording_service.pb.gw.go
  internal/gen/controller/api/services/session_service.pb.gw.go
  internal/gen/controller/api/services/storage_bucket_service.pb.gw.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/user_service.pb.gw.go
  internal/gen/controller/api/services/worker_service.pb.gw.go
  internal/gen/ops/services/health_service.pb.gw.go
  internal/gen/testing/attribute/attribute.pb.gw.go
  internal/gen/testing/event/event.pb.gw.go
  internal/gen/testing/protooptions/service.pb.gw.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  scripts/remove-gotags-comments/main.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core/gen, core, core/proto

#3259 chore: bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#3261 chore: bump ui commit
  internal/ui/VERSION
Labels: core/ui, core

#3253 update perms table for session recordings and storage buckets
  internal/website/permstable/permstable.go
  website/content/docs/concepts/security/permissions/resource-table.mdx
Labels: website, docs/concepts, core

#3262 feat(plugins): Refactor host plugins to boundary plugins
  .gitignore
  internal/cmd/commands/database/migrate.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/controller_test.go
  internal/daemon/worker/worker.go
  plugins/boundary/assets.go
  plugins/boundary/assets/README.md
  plugins/boundary/const.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/aws/main.go
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/azure/main.go
  plugins/host/const.go
  scripts/plugins.sh
Labels: core, core/daemon

#3265 Update dev worker auth flag names
  internal/cmd/commands/dev/dev.go
Labels: core

#3271 Chore UI bump
  internal/ui/VERSION
Labels: core/ui, core

#3273 test(db): Conditionally skip monthly billing view tests
  internal/db/sqltest/tests/hcp/billing/monthly_sessions_all.sql
Labels: core/db, core, core/sql

#3275 feat(db): Add table for census upload job status
  internal/db/schema/migrations/oss/postgres/72/01_census.up.sql
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/census/last_uploaded.sql
Labels: core/db, core, core/sql

#3276 fix: allow responses larger than the default 4194304 recv msg size
  internal/daemon/controller/gateway.go
  internal/daemon/controller/gateway_test.go
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

#3278 fix (listing): return all resources from listing requests
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
Labels: core, core/daemon

#3279 all: propagate more history metadata
  api/sessionrecordings/host.gen.go
  api/sessionrecordings/ssh_target_attributes.gen.go
  internal/bsr/meta_session.go
  internal/db/schema/migrations/oss/postgres/71/12_session_recording_views.up.sql
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core/db, core/gen, core, core/proto, core/sql

#3283 fix(db): Add index to session connection table
  internal/db/schema/migrations/oss/postgres/72/02_session_connection_index.up.sql
Labels: core/db, core, core/sql

#3287 feat(bsr/convert): Remove asciicast minimum window size
  internal/bsr/convert/convert.go
  internal/bsr/convert/internal/asciicast/asciicast.go
  internal/bsr/convert/internal/asciicast/asciicast_test.go
  internal/bsr/convert/options.go
  internal/bsr/convert/options_test.go
  internal/bsr/convert/ssh.go
  internal/bsr/convert/ssh_test.go
Labels: core

#3288 fix(session): List performance with large number of session connections
  internal/db/schema/migrations/oss/postgres/60/02_sessions.up.sql
  internal/db/schema/migrations/oss/postgres/64/04_session_list.up.sql
Labels: core/db, core, core/sql

#3280 fix(session): List performance with large number of session connections
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/60/02_sessions.up.sql
  internal/db/schema/migrations/oss/postgres/64/04_session_list.up.sql
  internal/db/schema/migrations/oss/postgres/69/02_session_worker_protocol.up.sql
  internal/db/schema/migrations/oss/postgres/72/03_session_list_perf_fix.up.sql
Labels: core/db, core, core/sql

#3263 Support multiple IDs in grants
  api/roles/grant_json.gen.go
  globals/fields.go
  globals/prefixes.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/cmd/config/config.go
  internal/cmd/config/options.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/gen/controller.swagger.json
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_scope.go
  internal/iam/role_grant.go
  internal/iam/role_grant_test.go
  internal/iam/testing.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/perms/output_fields_test.go
  internal/proto/controller/api/resources/roles/v1/role.proto
  sdk/pbs/controller/api/resources/roles/role.pb.go
  version/feature_manager.go
Labels: core/iam, api, core/gen, core, core/proto, api/roles, core/perms, core/daemon

#3292 Worker docs cleanup for 0.13
  website/content/docs/configuration/worker/index.mdx
  website/content/docs/configuration/worker/kms-worker.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

#3296 chore: bump ui commit
  internal/ui/VERSION
Labels: core/ui, core

#3298 api: remove connection ID
  api/sessionrecordings/connection_recording.gen.go
  internal/cmd/commands/sessionrecordingscmd/funcs.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: api, core/gen, core, core/proto

#3295 Disallow updates on all types of KMS workers
  internal/daemon/common/worker_list.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/handlers/workers/worker_service_test.go
Labels: core, core/daemon

#3300 api: add classification to session recordings
  Makefile
  internal/gen/controller/api/services/session_recording_service.pb.go
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: core/gen, core

#3302 Modify some tests to expose error cases that weren't being exposed
  internal/daemon/worker/testing.go
  internal/daemon/worker/testing_test.go
  internal/tests/cluster/switch_kms_method_test.go
Labels: core, core/daemon

#3303 rename optout to lurEnabled for clarity
  internal/census/census.go
  internal/census/census_job.go
Labels: core

#3304 ui changes
  internal/ui/VERSION
Labels: core/ui, core

#3305 test(bsr/fstest): Add new FS for testing out of space errors
  internal/bsr/internal/fstest/fs_test.go
  internal/bsr/internal/fstest/space.go
Labels: core

#3306 website: add separate note about worker tags
  website/content/docs/concepts/filtering/worker-tags.mdx
Labels: website, docs/concepts

#3270 Restructuring and addition to permissions docs
  website/content/docs/concepts/security/permissions/advanced.mdx
  website/content/docs/concepts/security/permissions/grants.mdx
  website/content/docs/concepts/security/permissions/index.mdx
  website/content/docs/concepts/security/permissions/permission-grant-formats.mdx
  website/content/docs/concepts/security/permissions/resource-table.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts

#3201 IAM New Docs
  website/content/docs/concepts/iam.mdx
  website/data/docs-nav-data.json
  website/public/img/iam-example-structure.png
Labels: website, docs/concepts

#3313 Hashidays Docs
  website/content/docs/concepts/auditing.mdx
  website/content/docs/concepts/domain-model/accounts.mdx
  website/content/docs/concepts/domain-model/auth-methods.mdx
  website/content/docs/concepts/domain-model/index.mdx
  website/content/docs/concepts/domain-model/managed-groups.mdx
  website/content/docs/concepts/domain-model/session-recordings.mdx
  website/content/docs/concepts/domain-model/storage-buckets.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/iam.mdx
  website/content/docs/concepts/security/permissions/assignable-permissions.mdx
  website/content/docs/concepts/security/permissions/grants.mdx
  website/content/docs/concepts/security/permissions/index.mdx
  website/content/docs/concepts/security/permissions/permission-grant-formats.mdx
  website/content/docs/concepts/security/permissions/resource-table.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/worker/index.mdx
  website/content/docs/enterprise/automated-license-reporting.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/enterprise/licensing.mdx
  website/content/docs/enterprise/supported-versions.mdx
  website/content/docs/getting-started/index.mdx
  website/content/docs/install-boundary/configure-controllers.mdx
  website/content/docs/install-boundary/configure-workers.mdx
  website/content/docs/install-boundary/fault-tolerance.mdx
  website/content/docs/install-boundary/index.mdx
  website/content/docs/install-boundary/install.mdx
  website/content/docs/install-boundary/postgres.mdx
  website/content/docs/install-boundary/recommended-architecture.mdx
  website/content/docs/install-boundary/reference-architectures.mdx
  website/content/docs/install-boundary/system-requirements.mdx
  website/content/docs/operations/manage-recorded-sessions.mdx
  website/content/docs/overview/use-cases.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/content/docs/release-notes/v0_12_0.mdx
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
  website/data/docs-nav-data.json
  website/public/img/boundary-network.png
  website/public/img/enable-session-recording.png
  website/public/img/inject-creds.png
  website/public/img/single-region.png
  website/public/img/worker-deployment.png
  website/redirects.js
Labels: docs/getting-started, website, docs/concepts, docs/configuration

#3314 docs: Fix display issue with code blocks
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/release-notes/v0_13_0.mdx
Labels: website, docs/configuration, backport/website

#3321 chore: Add check for `go mod tidy`
  .github/workflows/make-gen-delta.yml
Labels: pr/no-milestone

#3320 docs: Update storage bucket worker requirement
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, docs/configuration, backport/website

#3327 Update system-requirements.mdx
  website/content/docs/install-boundary/system-requirements.mdx
Labels: website, backport/website

#3324 test(e2e): Set worker config to a variable
  enos/enos-scenario-e2e-aws.hcl
  enos/modules/worker/main.tf
  enos/modules/worker/variables.tf
Labels: pr/no-milestone

#3330 docs: Add bsr key to requirements
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#3334 test(e2e): Rename test packages
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-base-with-vault.hcl
  enos/enos-scenario-e2e-base.hcl
  enos/enos-scenario-e2e-docker.hcl
  testing/internal/e2e/README.md
  testing/internal/e2e/tests/base/auth_token_delete_test.go
  testing/internal/e2e/tests/base/authenticate_primary_test.go
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
  testing/internal/e2e/tests/base/connect_authz_token_test.go
  testing/internal/e2e/tests/base/connect_localhost_test.go
  testing/internal/e2e/tests/base/connect_ssh_test.go
  testing/internal/e2e/tests/base/connect_test.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/env_test.go
  testing/internal/e2e/tests/base/key_destruction_test.go
  testing/internal/e2e/tests/base/session_cancel_admin_test.go
  testing/internal/e2e/tests/base/session_cancel_group_test.go
  testing/internal/e2e/tests/base/session_cancel_user_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_set_test.go
  testing/internal/e2e/tests/base/session_end_delete_host_test.go
  testing/internal/e2e/tests/base/session_end_delete_project_test.go
  testing/internal/e2e/tests/base/session_end_delete_target_test.go
  testing/internal/e2e/tests/base/session_end_delete_user_test.go
  testing/internal/e2e/tests/base/target_address_test.go
  testing/internal/e2e/tests/base/testdata/credential.json
  testing/internal/e2e/tests/base/version_test.go
  testing/internal/e2e/tests/base_with_vault/connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/connect_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/env_test.go
  testing/internal/e2e/tests/base_with_vault/testdata/boundary-controller-policy.hcl
Labels: pr/no-milestone

#3333 docs: Fix display issue with bullets and code
  website/content/docs/concepts/iam.mdx
  website/content/docs/install-boundary/configure-controllers.mdx
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, docs/concepts, backport/website

#3337 chore: Ignore tags in workflow
  .github/workflows/build.yml
Labels: pr/no-milestone

#3338 fix: add plugin normalization for onCreate methods
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
Labels: core, core/host

#3344 fix (boundary dev): make the LDAP auth method active-public
  CHANGELOG.md
  internal/cmd/base/dev.go
  internal/tests/cli/boundary/_auth.bash
  internal/tests/cli/boundary/_helpers.bash
  internal/tests/cli/boundary/authenticate.bats
Labels: core

#3343 docs: update NormalizeSetData comments
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/plugin/repository_host_set_test.go
  internal/proto/plugin/v1/host_plugin_service.proto
  sdk/pbs/plugin/host_plugin_service_grpc.pb.go
Labels: core, core/proto, core/host

#3341 api: remove create from auth-tokens help
  api/authtokens/authtokens.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/authtokenscmd/authtokens.go
  internal/cmd/gencli/input.go
Labels: api, core, api/authtokens

#3348 fix: update recursive auth-method listing test
  internal/tests/cluster/recursive_anon_listing_test.go
Labels: core

#3345 chore: Update some e2e test scenarios to use docker-based infra
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/modules/docker_boundary/init.sh
  enos/modules/docker_boundary/main.tf
Labels: pr/no-milestone

#3339 test(e2e): Update env variables and target creation
  enos/enos-modules.hcl
  enos/enos-variables.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/aws/env_test.go
  testing/internal/e2e/tests/aws/worker_test.go
  testing/internal/e2e/tests/base/session_end_delete_project_test.go
  testing/internal/e2e/tests/base/target_address_test.go
Labels: pr/no-milestone

#3351 cmd: fix session recording download flag help
  internal/cmd/commands/sessionrecordingscmd/download.go
Labels: core

#3355 chore(e2e): Change port used by vault docker container
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/modules/docker_vault/main.tf
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_ui/main.tf
Labels: pr/no-milestone

#3357 chore: Update actionlint to a trusted version
  .github/workflows/actionlint.yml
Labels: pr/no-milestone

#3360 refact(e2e): Rename some test files and methods
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/target_tcp_address_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_authz_token_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_localhost_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_test.go
  testing/internal/e2e/tests/base_with_vault/connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/connect_test.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone

#3361 fix(ldap managed grp): allow ldap managed grps to be added as principals
  CHANGELOG.md
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/iam/repository_principal_role.go
Labels: core/iam, core, core/daemon

#3364 docs: remove recovery crash scenario from 0.13.0 release notes
  website/content/docs/release-notes/v0_13_0.mdx
Labels: website, backport/website

#3363 fix: allow ldap managed grps to be set and removed as principals…
  CHANGELOG.md
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
Labels: core, core/daemon

#3362 test(e2e): Update test names
  testing/internal/e2e/tests/base/target_tcp_connect_authz_token_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_connect_test.go
Labels: pr/no-milestone

#3367 docs: Add default client port to domain model
  website/content/docs/concepts/domain-model/targets.mdx
Labels: website, docs/concepts, backport/website

#3370 chore: fix op for end chunk
  internal/bsr/chunk_end.go
Labels: core

#3371 chore: fix mlock typo in docs
  website/content/docs/install-boundary/configure-controllers.mdx
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, backport/website
