Repository hashicorp/boundary, pull requests merged in 2023-12, with the labels that each got.

#4066 feat(ratelimit): Expose metrics on quota usage
  internal/daemon/controller/controller.go
  internal/ratelimit/limiter.go
  internal/ratelimit/metrics.go
Labels: core, core/daemon

#4081 docs: Fix broken link for HCP deployment
  website/content/docs/install-boundary/index.mdx
Labels: website

#4084 docs: Backport fix for broken link
  website/content/docs/install-boundary/index.mdx
Labels: website

#4085 docs: Backport fix for broken link to release branch
  website/content/docs/install-boundary/index.mdx
Labels: website

#4068 docs: Add OIDC prompt attribute
  website/content/docs/commands/accounts/update.mdx
  website/content/docs/commands/auth-methods/create.mdx
  website/content/docs/commands/auth-methods/update.mdx
  website/content/docs/concepts/domain-model/auth-methods.mdx
Labels: website, docs/concepts

#4087 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#4091 internal/target: correct comment
  internal/target/service_list_ext_test.go
Labels: core, core/target

#4093 feat(api): Use Retry-After header when retrying a request
  api/client.go
Labels: api

#4101 Revert "chore(deps): bump actions/setup-python from 4.7.1 to 4.8.0 (#…
  .github/workflows/security-scan.yml
Labels: pr/no-milestone

#4075 Add credential pagination
  internal/credential/options.go
  internal/credential/options_test.go
  internal/credential/service_list_credentials.go
  internal/credential/service_list_credentials_ext_test.go
  internal/credential/service_list_credentials_page.go
  internal/credential/service_list_credentials_refresh.go
  internal/credential/service_list_credentials_refresh_page.go
  internal/credential/static/json_credential.go
  internal/credential/static/query.go
  internal/credential/static/repository_credential.go
  internal/credential/static/repository_credential_test.go
  internal/credential/static/ssh_private_key_credential.go
  internal/credential/static/usernamepassword_credential.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/46/01_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/80/03_credential_static_base_table_updates.up.sql
  internal/db/sqltest/tests/pagination/credential.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/credential_service.pb.go
  internal/proto/controller/api/services/v1/credential_service.proto
Labels: core/db, core/gen, core, core/proto, core/sql, core/daemon

#4106 internal/credential: fix comment
  internal/credential/service_list_credentials_ext_test.go
Labels: core

#4112 internal/credential/static: simplify list parsing
  internal/credential/static/credential.go
  internal/credential/static/repository_credential.go
Labels: core

#4090 Credential libraries pagination
  internal/credential/service_list_libraries.go
  internal/credential/service_list_libraries_ext_test.go
  internal/credential/service_list_libraries_page.go
  internal/credential/service_list_libraries_refresh.go
  internal/credential/service_list_libraries_refresh_page.go
  internal/credential/vault/credential_library.go
  internal/credential/vault/query.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_library_test.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_ssh_certificate_credential_library.go
  internal/credential/vault/repository_ssh_certificate_credential_library_test.go
  internal/credential/vault/ssh_certificate_credential_library.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/46/01_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/80/04_credential_library_base_table_updates.up.sql
  internal/db/sqltest/tests/pagination/credential_library.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/credential_library_service.pb.go
  internal/proto/controller/api/services/v1/credential_library_service.proto
Labels: core/db, core/gen, core, core/proto, core/sql, core/daemon

#4088 docs: Update session recording reqs for HCP
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration

#4127 docs: Backport #4088 to release 0.14.x
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration

#4123 chore: Bump to Go version 1.21.5
  .go-version
  api/go.mod
  sdk/go.mod
Labels: api

#4113 Auth token pagination
  internal/authtoken/authtoken.go
  internal/authtoken/options.go
  internal/authtoken/query.go
  internal/authtoken/repository.go
  internal/authtoken/repository_test.go
  internal/authtoken/service_list.go
  internal/authtoken/service_list_ext_test.go
  internal/authtoken/service_list_page.go
  internal/authtoken/service_list_refresh.go
  internal/authtoken/service_list_refresh_page.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service_test.go
  internal/db/schema/migrations/oss/postgres/79/04_auth_token_base_table_updates.up.sql
  internal/db/sqltest/tests/pagination/auth_token.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/authtokens_service.pb.go
  internal/proto/controller/api/services/v1/authtokens_service.proto
Labels: core/db, core/gen, core, core/proto, core/sql, core/daemon

#4070 test (apptoken): create NewAppToken fixture
  internal/apptoken/repository_test.go
  internal/apptoken/testing.go
  internal/apptoken/testing_test.go
Labels: core

#4130 feat(oidc-prompts): Add Validation for Prompts
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
Labels: core/auth, core, core/daemon

#4129 feat(ratelimit): Increase default values
  internal/cmd/commands/server/controller_ratelimit_reload_test.go
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/defaults.json
  internal/daemon/controller/testdata/Test_rateLimiterConfig_writeSysEvent/max_size.json
  internal/ratelimit/config.go
Labels: core, core/daemon

#4132 feat(oidc-prompts): Add Validation for Prompts (#4130)
  internal/auth/oidc/service_start_auth.go
  internal/auth/oidc/service_start_auth_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
Labels: core/auth, core, core/daemon

#4118 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#4111 docs: Document API rate limiting
  website/content/docs/api-clients/api.mdx
  website/content/docs/api-clients/go-sdk.mdx
  website/content/docs/configuration/controller.mdx
  website/content/docs/operations/metrics.mdx
Labels: website, docs/configuration

#4139 docs: Backport API rate limiting update to release branch
  website/content/docs/api-clients/api.mdx
  website/content/docs/api-clients/go-sdk.mdx
  website/content/docs/configuration/controller.mdx
  website/content/docs/operations/metrics.mdx
Labels: website, docs/configuration

#4135 test(e2e): Add rate limit test
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  testing/internal/e2e/boundary/boundary.go
  testing/internal/e2e/boundary/http.go
  testing/internal/e2e/helpers.go
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
Labels: pr/no-milestone

#4142 internal/db: move pagination migrations to same folder
  internal/db/schema/migrations/oss/postgres/80/05_session_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/06_auth_token_base_table_updates.up.sql
Labels: core/db, core, core/sql

#4144 update ui commit to include bug fix
  internal/ui/VERSION
Labels: core/ui, core

#4145 test(e2e): Modify rate limit test due to timing issues
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
Labels: pr/no-milestone

#4146 docs: Update release notes for 0.14.x
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4147 docs: Backport 0.14.0 release notes to release branch
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4049 docs: Clarify projects' purpose
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

#4148 docs: Backport projects update to release branch
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

#4143 test(e2e): Add rate limit test (#4135)
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  testing/internal/e2e/boundary/boundary.go
  testing/internal/e2e/boundary/http.go
  testing/internal/e2e/helpers.go
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
Labels: pr/no-milestone

#4034 docs: Add connection workflow docs
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/concepts/connection-workflows/connect-helpers.mdx
  website/content/docs/concepts/connection-workflows/exec-flag.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
  website/content/docs/concepts/connection-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/hcp/get-started/connect-to-target.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: docs/getting-started, website, docs/concepts, docs/workflows

#4154 docs: Backport connection workflow docs to website
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/concepts/connection-workflows/connect-helpers.mdx
  website/content/docs/concepts/connection-workflows/exec-flag.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
  website/content/docs/concepts/connection-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/hcp/get-started/connect-to-target.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: docs/getting-started, website, docs/concepts, docs/workflows

#4152 chore(e2e): Avoid error in action if no log files are found
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#4155 docs: Backport connection workflow docs to release 0.14.x
  website/content/docs/common-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/concepts/connection-workflows/connect-helpers.mdx
  website/content/docs/concepts/connection-workflows/exec-flag.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
  website/content/docs/concepts/connection-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/concepts/workers.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/hcp/get-started/connect-to-target.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: docs/getting-started, website, docs/concepts, docs/workflows

#4156 all: fix test failures after rebase
  internal/clientcache/internal/cache/repository_targets_test.go
  internal/daemon/controller/handlers/authtokens/authtoken_service_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon

#4153 test(e2e): Add worker ip to aws tests
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/tests/aws/env_test.go
Labels: pr/no-milestone

#4164 test(e2e): Minor syntax fix
  testing/internal/e2e/tests/base_plus/ldap_test.go
Labels: pr/no-milestone

#3872 Implement pagination for hosts
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/db/schema/migrations/oss/postgres/80/09_host_table_updates.up.sql
  internal/db/sqltest/tests/pagination/host.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/host_service.pb.go
  internal/host/plugin/host.go
  internal/host/plugin/host_set_member_test.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/query.go
  internal/host/plugin/repository_host.go
  internal/host/plugin/repository_host_test.go
  internal/host/plugin/service_list_hosts.go
  internal/host/plugin/service_list_hosts_ext_test.go
  internal/host/plugin/service_list_hosts_page.go
  internal/host/plugin/service_list_hosts_refresh.go
  internal/host/plugin/service_list_hosts_refresh_page.go
  internal/host/static/host.go
  internal/host/static/options.go
  internal/host/static/options_test.go
  internal/host/static/query.go
  internal/host/static/repository_host.go
  internal/host/static/repository_host_test.go
  internal/host/static/service_list_hosts.go
  internal/host/static/service_list_hosts_ext_test.go
  internal/host/static/service_list_hosts_page.go
  internal/host/static/service_list_hosts_refresh.go
  internal/host/static/service_list_hosts_refresh_page.go
  internal/proto/controller/api/services/v1/host_service.proto
Labels: core/db, core/gen, core, core/proto, core/host, core/sql, core/daemon

#4167 internal/listtoken: remove validation depending on application time
  internal/daemon/controller/handlers/list_token_test.go
  internal/listtoken/list_token.go
  internal/listtoken/list_token_test.go
  internal/pagination/example_test.go
  internal/pagination/pagination_test.go
  internal/pagination/plugin/pagination_plugin_test.go
  internal/pagination/plugin/pagination_plugins_test.go
Labels: core, core/daemon

#4162 Various minor fixes
  internal/authtoken/repository.go
  internal/authtoken/service_list_ext_test.go
  internal/authtoken/service_list_page.go
  internal/authtoken/service_list_refresh.go
  internal/authtoken/service_list_refresh_page.go
  internal/credential/repository_store.go
  internal/credential/service_list_credentials.go
  internal/credential/service_list_credentials_ext_test.go
  internal/credential/service_list_credentials_page.go
  internal/credential/service_list_credentials_refresh.go
  internal/credential/service_list_credentials_refresh_page.go
  internal/credential/service_list_libraries.go
  internal/credential/service_list_libraries_ext_test.go
  internal/credential/service_list_libraries_page.go
  internal/credential/service_list_libraries_refresh.go
  internal/credential/service_list_libraries_refresh_page.go
  internal/credential/service_list_stores.go
  internal/credential/service_list_stores_ext_test.go
  internal/credential/service_list_stores_page.go
  internal/credential/service_list_stores_refresh.go
  internal/credential/service_list_stores_refresh_page.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/iam/service_list.go
  internal/iam/service_list_ext_test.go
  internal/iam/service_list_page.go
  internal/iam/service_list_refresh.go
  internal/iam/service_list_refresh_page.go
  internal/pagination/plugin/pagination_plugins.go
  internal/session/service_list_ext_test.go
  internal/session/service_list_page.go
  internal/session/service_list_refresh.go
  internal/session/service_list_refresh_page.go
  internal/target/service_list_ext_test.go
  internal/target/service_list_page.go
  internal/target/service_list_refresh.go
  internal/target/service_list_refresh_page.go
Labels: core/iam, core/session, core, core/target, core/daemon

#3979 Storage bucket pagination (community)
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/storage_buckets/storage_bucket_service.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/storage_bucket_service.pb.go
  internal/plugin/loopback/loopback.go
  internal/proto/controller/api/services/v1/storage_bucket_service.proto
  internal/storage/options_test.go
  internal/storage/plugin/options.go
  internal/storage/plugin/options_test.go
  internal/storage/plugin/storage_bucket.go
Labels: core/gen, core, core/proto, core/daemon

#3980 Session recording pagination (community)
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/session_recordings/session_recording_service.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/session_recording_service.pb.go
  internal/proto/controller/api/services/v1/session_recording_service.proto
  internal/session/testing.go
Labels: core/gen, core/session, core, core/proto, core/daemon

#3942 Implement host set pagination
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service_test.go
  internal/db/schema/migrations/oss/postgres/80/10_host_set_table_updates.up.sql
  internal/db/sqltest/tests/pagination/host_set.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/host_set_service.pb.go
  internal/host/plugin/host_set.go
  internal/host/plugin/query.go
  internal/host/plugin/repository_host_set.go
  internal/host/plugin/repository_host_set_test.go
  internal/host/plugin/service_list_host_sets.go
  internal/host/plugin/service_list_host_sets_ext_test.go
  internal/host/plugin/service_list_host_sets_page.go
  internal/host/plugin/service_list_host_sets_refresh.go
  internal/host/plugin/service_list_host_sets_refresh_page.go
  internal/host/static/host_set.go
  internal/host/static/query.go
  internal/host/static/repository_host_set.go
  internal/host/static/repository_host_set_test.go
  internal/host/static/service_list_host_sets.go
  internal/host/static/service_list_host_sets_ext_test.go
  internal/host/static/service_list_host_sets_page.go
  internal/host/static/service_list_host_sets_refresh.go
  internal/host/static/service_list_host_sets_refresh_page.go
  internal/proto/controller/api/services/v1/host_set_service.proto
Labels: core/db, core/gen, core, core/proto, core/host, core/sql, core/daemon

#4183 test(e2e): Decrease rate limit in boundary config to resolve failures
  enos/modules/docker_boundary/boundary-config-rate-limit.hcl
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
Labels: pr/no-milestone

#4187 Order public_id descending
  internal/authtoken/query.go
  internal/credential/query.go
  internal/credential/static/query.go
  internal/credential/vault/query.go
  internal/db/schema/migrations/oss/postgres/80/02_target_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/03_credential_static_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/04_credential_library_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/05_session_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/06_auth_token_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/07_credential_store_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/08_iam_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/09_host_table_updates.up.sql
  internal/host/plugin/query.go
  internal/host/static/query.go
  internal/iam/repository_role.go
  internal/session/query.go
  internal/target/query.go
Labels: core/iam, core/db, core/session, core, core/host, core/target, core/sql

#4188 Sort host sets descending
  internal/db/schema/migrations/oss/postgres/80/10_host_set_table_updates.up.sql
  internal/host/plugin/query.go
  internal/host/plugin/repository_host_set.go
  internal/host/static/repository_host_set.go
Labels: core/db, core, core/host, core/sql

#4190 test(e2e): Add test for paginating host sets
  testing/internal/e2e/boundary/host.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
Labels: pr/no-milestone

#4193 fix(db): Fix auth method migrations
  internal/db/schema/migrations/oss/postgres/80/10_auth_method_base_table_updates.up.sql
Labels: core/db, core, core/sql

#4165 Auth Method list pagination
  internal/auth/additional_verification_test.go
  internal/auth/auth_method.go
  internal/auth/db_test.go
  internal/auth/ldap/register.go
  internal/auth/oidc/register.go
  internal/auth/options.go
  internal/auth/options_test.go
  internal/auth/password/auth_method.go
  internal/auth/password/auth_method_test.go
  internal/auth/password/register.go
  internal/auth/query.go
  internal/auth/registry.go
  internal/auth/repository_auth_method.go
  internal/auth/repository_auth_method_test.go
  internal/auth/service_list_auth_methods.go
  internal/auth/service_list_auth_methods_ext_test.go
  internal/auth/service_list_auth_methods_page.go
  internal/auth/service_list_auth_methods_refresh.go
  internal/auth/service_list_auth_methods_refresh_page.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/authmethods/password_test.go
  internal/db/schema/migrations/oss/postgres/2/10_auth.up.sql
  internal/db/schema/migrations/oss/postgres/80/10_auth_method_base_table_updates.up.sql
  internal/db/sqltest/tests/pagination/auth_method.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/controller/api/services/v1/auth_method_service.proto
  internal/tests/api/authmethods/authmethod_test.go
Labels: core/db, core/gen, core/auth, core, core/proto, core/sql, core/daemon

#4195 test(e2e): Add test to paginate users
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: pr/no-milestone

#4199 internal/db: renumber auth methods migration
  internal/db/schema/migrations/oss/postgres/80/11_auth_method_base_table_updates.up.sql
Labels: core/db, core, core/sql

#4197 internal/db: ensure new columns are not null
  internal/db/schema/migrations/oss/postgres/80/02_target_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/03_credential_static_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/04_credential_library_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/80/07_credential_store_base_table_updates.up.sql
Labels: core/db, core, core/sql

#4169 Implement host catalog pagination
  internal/daemon/controller/common/common.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/db/schema/migrations/oss/postgres/44/02_hosts.up.sql
  internal/db/schema/migrations/oss/postgres/80/12_host_catalog_base_table_updates.up.sql
  internal/db/sqltest/tests/pagination/host_catalog.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/host/catalog.go
  internal/host/options.go
  internal/host/options_test.go
  internal/host/plugin/register.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_catalog_test.go
  internal/host/query.go
  internal/host/registry.go
  internal/host/repository_catalog.go
  internal/host/repository_catalog_test.go
  internal/host/service_list_catalogs.go
  internal/host/service_list_catalogs_ext_test.go
  internal/host/service_list_catalogs_page.go
  internal/host/service_list_catalogs_refresh.go
  internal/host/service_list_catalogs_refresh_page.go
  internal/host/static/register.go
  internal/host/static/repository_host_catalog.go
  internal/host/static/repository_host_catalog_test.go
  internal/proto/controller/api/services/v1/host_catalog_service.proto
Labels: core/db, core/gen, core, core/proto, core/host, core/sql, core/daemon

#4166 test(e2e): Add docker-based infra scenario for Admin UI tests
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/modules/docker_worker/main.tf
  enos/modules/test_e2e_ui/main.tf
  enos/scripts/test_e2e_env.sh
Labels: pr/no-milestone

#4196 test(e2e): Add test for search
  internal/clientcache/testing.go
  testing/internal/e2e/tests/base/search_test.go
Labels: core, pr/no-milestone

#4200 internal/db: db migrations for session recordings
  internal/db/schema/migrations/oss/postgres/80/12_recording_session_updates.up.sql
  internal/db/sqltest/tests/pagination/session_recording.sql
Labels: core/db, core, core/sql

#4198 internal/authtoken: join to auth_account to filter
  internal/authtoken/query.go
  internal/authtoken/repository.go
Labels: core, core/sql
