Repository hashicorp/boundary, pull requests merged in 2023-04, with the labels that each got.

#3142 feature (is_nil): support checking func for nil
  internal/util/is_nil.go
  internal/util/is_nil_test.go
Labels: core

#3137 [QT-516] Add a step to the enos run workflow to automatically upload application logs when a scenario fails
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3140 docs: Update website to include SIGHUP, SIGTERM, and SIGINT behaviour
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

#3144 test(migration): Use docker mirror
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/infra/env.go
Labels: pr/no-milestone

#3151 (chore): Upgrade go version
  .go-version
  CHANGELOG.md
  version/version_base.go
Labels: backport/0.12.x

#3153 internal/tests/cluster: switch flaky test to polling
  internal/tests/cluster/switch_kms_method_test.go
Labels: core

#3149 test(e2e): Verify different credentials are brokered to target
  testing/internal/e2e/tests/static/credential_store_test.go
  testing/internal/e2e/tests/static/testdata/credential.json
Labels: pr/no-milestone

#3139 chore: Fix issues detected by GitHub Actions linter
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/milestone-checker.yml
  .github/workflows/test-ci-cleanup-oss.yml
Labels: pr/no-milestone

#3155 chore: Add write permission to milestone checker
  .github/workflows/milestone-checker.yml
Labels: pr/no-milestone

#3148 [QT-405] Create solo worker module
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-static-with-vault.hcl
  enos/enos-scenario-e2e-static.hcl
  enos/enos-scenario-e2e-ui.hcl
  enos/modules/map2list/main.tf
  enos/modules/target/main.tf
  enos/modules/worker/main.tf
  enos/modules/worker/outputs.tf
  enos/modules/worker/templates/worker.hcl
  enos/modules/worker/variables.tf
Labels: pr/no-milestone

#3163 refactor (events): QOL fix: turn off events for tests.
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/config/options.go
  internal/daemon/controller/cors_test.go
  internal/daemon/controller/testing.go
  internal/daemon/controller/testing_test.go
  internal/daemon/worker/testing.go
  internal/observability/event/context.go
  internal/observability/event/eventer.go
  internal/observability/event/eventer_config.go
  internal/observability/event/eventer_test.go
  internal/observability/event/options.go
  internal/observability/event/testing.go
  internal/test/test.go
  internal/test/test_test.go
Labels: core, core/daemon

#3160 test(e2e): add test to verify user is logged out on its auth-token deletion
  testing/internal/e2e/boundary/authenticate.go
  testing/internal/e2e/boundary/authtoken.go
  testing/internal/e2e/tests/static/auth_token_delete_test.go
Labels: pr/no-milestone

#3109 fix(handler): return human readable error for json cred w/ empty object
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
Labels: core, core/daemon

#3167 test(e2e): Improve reliability of enos docker scenario
  enos/enos-scenario-e2e-docker.hcl
  enos/enos-variables.hcl
  enos/modules/docker_boundary/init.sh
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
Labels: pr/no-milestone

#3147 docs: Credential management documentation
  website/content/docs/concepts/credential-management.mdx
  website/data/docs-nav-data.json
  website/public/img/credential-brokering.png
  website/public/img/credential-injection.png
Labels: website, docs/concepts

#3172 docs: Back port #3147 to stable website
  website/content/docs/concepts/credential-management.mdx
  website/data/docs-nav-data.json
  website/public/img/credential-brokering.png
  website/public/img/credential-injection.png
Labels: website, docs/concepts

#2767 Add default client port to targets and use in connect command
  CHANGELOG.md
  api/targets/option.gen.go
  api/targets/ssh_target_attributes.gen.go
  api/targets/tcp_target_attributes.gen.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/targetscmd/funcs.go
  internal/cmd/commands/targetscmd/ssh_funcs.go
  internal/cmd/commands/targetscmd/tcp_funcs.go
  internal/daemon/controller/handlers/subtypes_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/targets/tcp/tcp.go
  internal/db/schema/migrations/oss/postgres/68/01_target_default_client_port.up.sql
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/storage/target/store/v1/target.proto
  internal/proto/controller/storage/target/targettest/store/v1/target.proto
  internal/proto/controller/storage/target/tcp/store/v1/target.proto
  internal/target/options.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/store/target.pb.go
  internal/target/target.go
  internal/target/targettest/store/target.pb.go
  internal/target/targettest/target.go
  internal/target/tcp/register.go
  internal/target/tcp/store/target.pb.go
  internal/target/tcp/target.go
  internal/tests/api/targets/classification_test.go
  internal/tests/api/targets/target_test.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/static/connect_test.go
Labels: api, core/db, core, core/proto, core/target, api/targets, core/sql, core/daemon

#3175 Enhance tcp client port vet logic
  internal/daemon/controller/handlers/targets/tcp/tcp.go
Labels: core, core/daemon

#3178 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#3177 test(e2e): Add test that uses new worker resource
  enos/enos-scenario-e2e-aws.hcl
  enos/modules/target/main.tf
  enos/modules/test_e2e/main.tf
  enos/modules/worker/main.tf
  testing/internal/e2e/tests/aws/env_test.go
  testing/internal/e2e/tests/aws/worker_test.go
Labels: pr/no-milestone

#3180 test(e2e): Clean up user if test fails
  testing/internal/e2e/tests/static/session_end_delete_user_test.go
Labels: pr/no-milestone

#3184 chore: Rename workflow file
  .github/workflows/build.yml
  .github/workflows/test-cli-ui_oss.yml
Labels: pr/no-milestone

#3183 Fix ListPermissions when separate id/type grants are used
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
Labels: core, core/perms

#3188 fix(perms): Tests use action.List in resource action set
  internal/perms/acl_test.go
Labels: core, core/perms

#3190 test(e2e): Fix assertion statement in worker test
  testing/internal/e2e/tests/aws/worker_test.go
Labels: pr/no-milestone

#3189 chore(e2e): Update test attributes for new builds
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-static-with-vault.hcl
  enos/enos-scenario-e2e-static.hcl
  enos/enos-scenario-e2e-ui.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/build_local/main.tf
  enos/modules/build_local/templates/build.sh
  enos/modules/read_license/main.tf
  enos/modules/worker/main.tf
Labels: pr/no-milestone
