Repository hashicorp/boundary, pull requests merged in 2023-05, with the labels that each got.

#3193 feat (boundary/dev): add connection info for dev ldap server when running via `boundary dev`
  go.mod
  go.sum
  internal/cmd/base/dev.go
Labels: core

#3196 Exit before filtering if no workers are listed
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

#3194 chore (boundary/dev): remove typo
  internal/cmd/base/dev.go
Labels: core

#2973 style(db): rename constraint names to follow sql style guide
  internal/db/schema/migrations/oss/postgres/33/01_static_credential.up.sql
  internal/db/schema/migrations/oss/postgres/39/01_static_ssh_private_key_creds.up.sql
  internal/db/schema/migrations/oss/postgres/67/01_rename_constraints.up.sql
  internal/iam/group_test.go
  internal/iam/role_test.go
  internal/iam/user_test.go
  sql-style-guide.md
Labels: core/iam, core/db, core, core/sql

#3197 fix(sql): move added file to correct folder
  internal/db/schema/migrations/oss/postgres/33/01_static_credential.up.sql
  internal/db/schema/migrations/oss/postgres/39/01_static_ssh_private_key_creds.up.sql
  internal/db/schema/migrations/oss/postgres/44/02_hosts.up.sql
  internal/db/schema/migrations/oss/postgres/69/01_rename_constraints.up.sql
Labels: core/db, core, core/sql

#3185 Update resource-table.mdx
  internal/website/permstable/permstable.go
  website/content/docs/concepts/security/permissions/resource-table.mdx
Labels: website, docs/concepts, core

#3198 chore: user account ldap support
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/users/user_service_test.go
Labels: core, core/daemon

#3202 docs: Explain -format json behaviour on boundary authenticate cmd
  website/content/docs/api-clients/cli.mdx
  website/content/docs/getting-started/deploy-and-login.mdx
  website/content/docs/oss/installing/run-and-login.mdx
Labels: docs/getting-started, website

#3203 chore(e2e): Update CI user for testing
  enos/ci/service-user-iam/github-actions-doormat.tf
  enos/ci/service-user-iam/main.tf
  enos/ci/service-user-iam/outputs.tf
  enos/enos-scenario-e2e-static-with-vault.hcl
Labels: pr/no-milestone

#3205 test(e2e): Modify port to avoid conflicts
  testing/internal/e2e/infra/docker.go
Labels: pr/no-milestone

#3208 fix(e2e): Fix path to echo in connect_test & update scenarios for local builds
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-static-with-vault.hcl
  enos/enos-scenario-e2e-static.hcl
  enos/enos-scenario-e2e-ui.hcl
  testing/internal/e2e/tests/static/connect_test.go
Labels: pr/no-milestone

#3210 Only create WithAutomaticVersioning if versioning is used
  CHANGELOG.md
  api/authtokens/option.gen.go
  internal/api/genapi/input.go
  internal/api/genapi/templates.go
Labels: api, core, api/authtokens

#3207 Remove quotations when not needed
  internal/cmd/commands/connect/connect.go
Labels: core

#3212 Update references to deprecated controllers field
  website/content/docs/configuration/controller.mdx
  website/content/docs/getting-started/installing/production.mdx
Labels: docs/getting-started, website, docs/configuration

#3213 feat(e2e): Add configurable timeout for go test execution within scenarios
  enos/enos-modules.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/test_e2e/main.tf
Labels: pr/no-milestone

#3225 Add s3 bucket module for Enos scenarios
  enos/ci/service-user-iam/main.tf
  enos/modules/bucket/locals.tf
  enos/modules/bucket/main.tf
  enos/modules/bucket/outputs.tf
  enos/modules/bucket/variables.tf
  enos/modules/iam_setup/main.tf
Labels: pr/no-milestone

#3218 fix(cli): correctly print secrets in authorize-session for current vault credential source subtypes
  internal/cmd/commands/targetscmd/funcs.go
Labels: core

#3231 Update nodeenrollment to fix TLS issue; add debug
  go.mod
  go.sum
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/testing_test.go
  internal/server/job/options_test.go
  internal/server/service_rotate_roots.go
Labels: core, core/daemon, core/server

#3236 Fix display of next rotation time
  internal/daemon/worker/auth_rotation.go
Labels: core, core/daemon

#3237 Simplify worker auth rotation timing logic
  internal/daemon/controller/controller.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/auth_rotation_test.go
Labels: core, core/daemon

#3238 doc: Add missing copyright headers
  internal/server/job/options.go
  internal/server/job/options_test.go
Labels: core, core/server, pr/no-milestone

#3241 Fix test timing
  internal/daemon/worker/testing.go
Labels: core, core/daemon

#3217 Add daily sessions pending view and accompanying snapshot table
  internal/db/schema/migrations/oss/postgres/70/01_hcp_billing_daily.up.sql
  internal/db/sqltest/tests/hcp/billing/daily_sessions_all.sql
  internal/db/sqltest/tests/hcp/billing/daily_sessions_yesterday.sql
  internal/db/sqltest/tests/hcp/billing/sessions_pending_daily_snapshot.sql
Labels: core/db, core, core/sql

#3244 Fix worker auth rotation test
  internal/cmd/base/servers.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/auth_rotation_test.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#3243 Fix worker auth rotation test
  go.mod
  go.sum
  internal/cmd/config/options.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/auth_rotation_test.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#3235 fix(handlers/scopes): Whitespace on Name and Description fields
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
Labels: core, core/daemon

#3230 docs: Restructure table of contents
  website/content/docs/developing/building.mdx
  website/content/docs/developing/index.mdx
  website/content/docs/developing/ui.mdx
  website/content/docs/getting-started/dev-mode/connect-to-dev-target.mdx
  website/content/docs/getting-started/dev-mode/dev-mode.mdx
  website/content/docs/getting-started/dev-mode/run-and-login.mdx
  website/content/docs/getting-started/installing/index.mdx
  website/content/docs/getting-started/installing/production.mdx
  website/content/docs/hcp/get-started/connect-to-target.mdx
  website/content/docs/hcp/get-started/deploy-and-login.mdx
  website/content/docs/hcp/index.mdx
  website/content/docs/install-boundary/high-availability.mdx
  website/content/docs/install-boundary/index.mdx
  website/content/docs/install-boundary/no-gen-resources.mdx
  website/content/docs/install-boundary/postgres.mdx
  website/content/docs/install-boundary/reference-architectures.mdx
  website/content/docs/install-boundary/systemd.mdx
  website/content/docs/operations/health.mdx
  website/content/docs/operations/index.mdx
  website/content/docs/operations/metrics.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: docs/getting-started, website

#3245 Remove cleanup calls for test controller/worker
  internal/cmd/ops/server_test.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/worker/auth_rotation_test.go
  internal/daemon/worker/testing_test.go
  internal/daemon/worker/worker_test.go
  internal/daemon/worker/workerdisconnect_test.go
  internal/tests/api/authmethods/authmethod_test.go
  internal/tests/api/credentials/credentials_test.go
  internal/tests/api/scopes/scope_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/cluster/worker_bytesupdown_test.go
  internal/tests/cluster/x509_verification_test.go
Labels: core, core/daemon

#3247 feat (authenticate/oidc): support outputting auth url
  internal/cmd/commands/authenticate/oidc.go
Labels: core

#3249 Allow slashes in authorize-session when using target name
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/target_service.pb.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/proto/controller/api/services/v1/target_service.proto
  internal/tests/api/targets/target_test.go
  internal/tests/cluster/session_cleanup_test.go
Labels: core/gen, core, core/proto

#3250 Update changelog
  CHANGELOG.md
  internal/gen/controller/api/services/target_service_grpc.pb.go
Labels: core/gen, core

#3248 feat: license util config
  internal/census/census.go
  internal/census/census_job.go
  internal/cmd/config/config.go
  internal/cmd/config/config_load_test.go
  internal/cmd/config/testdata/TestLoad/SingleFile/config.hcl
  internal/daemon/controller/controller.go
Labels: core, core/daemon

#3252 fix(targets): Support authorize session request with target name
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon
