Repository hashicorp/boundary, pull requests merged in 2023-01, with the labels that each got.

#2746 docs: Fix typo in Use Cases topic
  website/content/docs/overview/use-cases.mdx
Labels: website, backport/website

#2750 Bump UI version
  internal/ui/VERSION
Labels: core/ui, core

#2751 Fix no path error message
  internal/errors/info.go
Labels: core

#2734 AuthorizeConnection with filters
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/common/worker_list.go
  internal/daemon/controller/common/common.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/target_service_test.go
  internal/daemon/controller/rpc_registration.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/controller/servers/services/v1/session_service.proto
  internal/session/query.go
  internal/session/repository_session.go
  version/version.go
Labels: core/gen, core/session, core, core/proto, core/sql, core/daemon

#2721 Add the ability for CLI map values to contain keys only, which map to JSON nulls
  internal/cmd/base/flags.go
  internal/cmd/commands/credentiallibrariescmd/vault_funcs.go
  internal/cmd/common/flags.go
  internal/cmd/common/flags_test.go
Labels: core

#2755 Fix failing attribute flag test
  internal/cmd/common/flags_test.go
Labels: core

#2757 In absence of ingress filter, use directly connected worker
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/target_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/targets/testing.go
  internal/tests/api/credentials/credentials_test.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/cluster/worker_bytesupdown_test.go
  internal/tests/cluster/worker_proxy_test.go
  internal/tests/cluster/x509_verification_test.go
Labels: core, core/daemon

#2759 Fix string regression in attribute parsing
  internal/cmd/base/flags.go
  internal/cmd/common/flags.go
  internal/cmd/common/flags_test.go
Labels: core

#2762 Add options for directly connected worker
  internal/server/options.go
  internal/server/options_test.go
Labels: core, core/server

#2534 Add grant parsing fuzz test
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/option_test.go
  internal/daemon/controller/handlers/options.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/perms/output_fields.go
  internal/perms/output_fields_test.go
  internal/perms/testdata/fuzz/FuzzParse/1686a11fab3efeb7d05bf50eb5c61865801c150feb07639363c7123ce92d5d83
  internal/perms/testdata/fuzz/FuzzParse/3c6b045265fd967a6add10031a98efb46f623f95a9b8d3038982bd4cd36298b1
  internal/requests/requests.go
Labels: core, core/perms, core/daemon

#2756 Create issuingCredentialLibrary Interface
  internal/credential/vault/credential.go
  internal/credential/vault/credential_test.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/repository_credentials.go
  internal/credential/vault/repository_credentials_test.go
  internal/credential/vault/testing.go
Labels: core

#2736 SSH Proxy support
  internal/daemon/worker/handler.go
  internal/daemon/worker/proxy/options.go
  internal/daemon/worker/proxy/options_test.go
  internal/daemon/worker/proxy/proxy.go
  internal/daemon/worker/proxy/proxy_test.go
  internal/daemon/worker/proxy/proxydialer.go
  internal/daemon/worker/proxy/proxydialer_test.go
  internal/daemon/worker/proxy/tcp/tcp.go
  internal/daemon/worker/proxy/tcp/tcp_test.go
Labels: core, core/daemon

#2766 Schema changes for vault ssh cert credential library
  internal/db/schema/migrations/oss/postgres/60/01_credential_vault_ssh_cert_library.up.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_ssh_cert_library.sql
Labels: core/db, core, core/sql

#2769 fix(db): target address relabel migration id
  internal/db/schema/migrations/oss/postgres/16/04_wh_credential_dimension.up.sql
  internal/db/schema/migrations/oss/postgres/26/03_wh_network_address_dimensions.up.sql
  internal/db/schema/migrations/oss/postgres/44/03_targets.up.sql
  internal/db/schema/migrations/oss/postgres/44/04_sessions.up.sql
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/db/schema/migrations/oss/postgres/59/01_target_ingress_egress_worker_filters.up.sql
  internal/db/schema/migrations/oss/postgres/60/01_targets.up.sql
  internal/db/schema/migrations/oss/postgres/60/02_sessions.up.sql
  internal/db/schema/migrations/oss/postgres/60/03_wh_sessions.up.sql
Labels: core/db, core, core/sql

#2771 Update documentation to add ingress and egress filters
  website/content/docs/concepts/domain-model/credentials.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
Labels: website, docs/concepts

#2773 Warn if controller and worker name are the same
  internal/cmd/commands/server/server.go
Labels: core

#2765 feat(vault): domain methods for ssh certificate credential library
  internal/credential/credential.go
  internal/credential/vault/fields.go
  internal/credential/vault/options.go
  internal/credential/vault/public_ids.go
  internal/credential/vault/repository_ssh_certificate_credential_library.go
  internal/credential/vault/repository_ssh_certificate_credential_library_test.go
  internal/credential/vault/ssh_certificate_credential_library.go
  internal/credential/vault/store/vault.pb.go
  internal/credential/vault/testing.go
  internal/db/schema/migrations/oss/postgres/60/01_credential_vault_ssh_cert_library.up.sql
  internal/db/sqltest/tests/credential/vault/credential_vault_ssh_cert_library.sql
  internal/proto/controller/storage/credential/vault/store/v1/vault.proto
Labels: core/db, core, core/proto, core/sql

#2776 Update dial function doc to include options
  internal/daemon/worker/proxy/proxydialer.go
Labels: core, core/daemon

#2775 Add default port and address to target doc
  website/content/docs/concepts/domain-model/targets.mdx
Labels: website, docs/concepts

#2781 Fix status NPE if worker has been sitting waiting for registration
  internal/daemon/worker/status.go
Labels: core, core/daemon

#2778 [docs] Fixing link syntax
  website/content/docs/overview/what-is-boundary.mdx
Labels: website

#2785 [docs] Removing empty link
  website/content/docs/getting-started/installing/production.mdx
Labels: docs/getting-started, website

#2772 Multihop workers doc
  website/content/docs/configuration/worker/pki-worker.mdx
  website/public/img/multi-hop-workers.png
Labels: website, docs/configuration

#2787 fix(wh): Associate session fact with credential dimensions
  CHANGELOG.md
  internal/db/schema/migrations/oss/postgres/16/03_wh_credential_dimension.up.sql
  internal/db/schema/migrations/oss/postgres/61/01_fix_wh_upsert_credential_group.up.sql
  internal/db/sqltest/tests/wh/credential_dimension/three_credentials_one_change.sql
Labels: core/db, core, core/sql

#2786 Unset worker auth when Boundary dev uses a kms worker
  internal/cmd/commands/dev/dev.go
Labels: core

#2791 [docs] Adjusting more links for rewrite project
  website/content/docs/concepts/domain-model/sessions.mdx
  website/content/docs/overview/vs/sdp.mdx
  website/content/docs/troubleshoot/faq.mdx
Labels: website, docs/concepts

#2798 bump ui commit to latest on main
  internal/ui/VERSION
Labels: core/ui, core

#2793 fix (controller): prevent panic when controller stops when there's no listener
  internal/daemon/controller/listeners.go
Labels: core, core/daemon

#2799 fix(target): Error when deleting an address that's already been deleted
  internal/target/repository.go
  internal/tests/api/targets/target_test.go
Labels: core, core/target

#2806 docs: Update multi-hop docs
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, docs/concepts, docs/configuration

#2829 docs: Remove links from release note headings - 0.11
  website/content/docs/release-notes/v0_10_0.mdx
  website/content/docs/release-notes/v0_11_0.mdx
  website/content/docs/release-notes/v0_1_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_3_0.mdx
  website/content/docs/release-notes/v0_4_0.mdx
  website/content/docs/release-notes/v0_5_0.mdx
  website/content/docs/release-notes/v0_6_0.mdx
  website/content/docs/release-notes/v0_7_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/release-notes/v0_9_0.mdx
Labels: website, backport/website

#2795 bug(sessions): Fix authorizeSession race conditions in handleProxy
  CHANGELOG.md
  internal/daemon/worker/session/session.go
  internal/session/repository_session.go
Labels: core/session, core, core/daemon

#2841 bump ui commit
  internal/ui/VERSION
Labels: core/ui, core

#2838 docs: Backport release note updates - 0.11.x
  website/content/docs/release-notes/v0_10_0.mdx
  website/content/docs/release-notes/v0_1_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_3_0.mdx
  website/content/docs/release-notes/v0_4_0.mdx
  website/content/docs/release-notes/v0_5_0.mdx
  website/content/docs/release-notes/v0_6_0.mdx
  website/content/docs/release-notes/v0_7_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/release-notes/v0_9_0.mdx
Labels: website

#2839 docs: Backport release note updates - stable
  website/content/docs/release-notes/v0_10_0.mdx
  website/content/docs/release-notes/v0_11_0.mdx
  website/content/docs/release-notes/v0_1_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_3_0.mdx
  website/content/docs/release-notes/v0_4_0.mdx
  website/content/docs/release-notes/v0_5_0.mdx
  website/content/docs/release-notes/v0_6_0.mdx
  website/content/docs/release-notes/v0_7_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/release-notes/v0_9_0.mdx
Labels: website

#2837 docs: Add frontmatter to ref architecture topic
  website/content/docs/oss/installing/reference-architectures.mdx
Labels: website, backport/website

#2815 docs: Remove links from headings -v0.10
  website/content/docs/release-notes/v0_10_0.mdx
  website/content/docs/release-notes/v0_1_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_3_0.mdx
  website/content/docs/release-notes/v0_4_0.mdx
  website/content/docs/release-notes/v0_5_0.mdx
  website/content/docs/release-notes/v0_6_0.mdx
  website/content/docs/release-notes/v0_7_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/release-notes/v0_9_0.mdx
Labels: website

#2818 docs: Remove links from headings -v0.8
  website/content/docs/release-notes/v0_1_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_3_0.mdx
  website/content/docs/release-notes/v0_4_0.mdx
  website/content/docs/release-notes/v0_5_0.mdx
  website/content/docs/release-notes/v0_6_0.mdx
  website/content/docs/release-notes/v0_7_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
Labels: website

#2819 docs: Remove links from headings -v0.7
  website/content/docs/releases/release-notes/v0_1_0.mdx
  website/content/docs/releases/release-notes/v0_2_0.mdx
  website/content/docs/releases/release-notes/v0_3_0.mdx
  website/content/docs/releases/release-notes/v0_4_0.mdx
  website/content/docs/releases/release-notes/v0_5_0.mdx
  website/content/docs/releases/release-notes/v0_6_0.mdx
Labels: website

#2824 docs: Remove links from headings -v0.6
  website/content/docs/releases/release-notes/v0_1_0.mdx
  website/content/docs/releases/release-notes/v0_2_0.mdx
  website/content/docs/releases/release-notes/v0_3_0.mdx
  website/content/docs/releases/release-notes/v0_4_0.mdx
  website/content/docs/releases/release-notes/v0_5_0.mdx
  website/content/docs/releases/release-notes/v0_6_0.mdx
Labels: website, docs/releases

#2825 docs: Remove links from headings -v0.5
  website/content/docs/releases/release-notes/v0_1_0.mdx
  website/content/docs/releases/release-notes/v0_2_0.mdx
  website/content/docs/releases/release-notes/v0_3_0.mdx
  website/content/docs/releases/release-notes/v0_4_0.mdx
Labels: website, docs/releases

#2844 chore(enos): Remove unused skip_failing_bats_tests variable
  .github/workflows/enos-run.yml
  enos/enos-scenario-integration.hcl
  enos/enos-variables.hcl
  enos/modules/test_cli_ui/tests.tf
Labels: pr/no-milestone

#2845 refact(vault): move conflicting migration file from 60 to 62
  internal/db/schema/migrations/oss/postgres/62/01_credential_vault_ssh_cert_library.up.sql
Labels: core/db, core, core/sql

#2846 Fix target port handling
  CHANGELOG.md
  globals/errors.go
  globals/fields.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/worker/controller_connection.go
Labels: core, core/daemon

#2796 Support Issuing SSH Cert Credentials
  go.mod
  go.sum
  internal/credential/credential.go
  internal/credential/vault/options.go
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
  internal/credential/vault/supported.go
  internal/credential/vault/testing.go
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/db/schema/migrations/oss/postgres/62/02_add_ssh_cert_to_vault_cred_library_view.up.sql
  internal/session/repository_connection.go
Labels: core/db, core/session, core, core/sql

#2854 chore: bump ui commit for multi-hop work
  internal/ui/VERSION
Labels: core/ui, core

#2852 feature (account/handers): ldap account and managed group CRUDL APIs
  internal/auth/ldap/ids.go
  internal/auth/ldap/repository_managed_group_members.go
  internal/auth/ldap/repository_managed_group_members_test.go
  internal/auth/ldap/store/ldap.pb.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/accounts/validate_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service_test.go
  internal/daemon/controller/handlers/managed_groups/validate_test.go
  internal/proto/controller/storage/auth/ldap/store/v1/ldap.proto
  internal/tests/api/accounts/account_test.go
Labels: core/auth, core, core/proto, core/daemon

#2859 Target worker filters migration fix
  internal/db/schema/migrations/oss/postgres/59/01_target_ingress_egress_worker_filters.up.sql
Labels: core/db, core, core/sql

#2848 test(e2e): Add test for updated `boundary authenticate` command
  go.mod
  testing/internal/e2e/boundary/account.go
  testing/internal/e2e/boundary/authenticate.go
  testing/internal/e2e/boundary/boundary.go
  testing/internal/e2e/boundary/env.go
  testing/internal/e2e/helpers.go
  testing/internal/e2e/tests/static/authenticate_primary_test.go
Labels: backport/0.12.x

#2861 feat(target): Allow vault ssh cert library as credential source
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

#2869 bug(workers): Check initial upstreams for an HCBP environment
  internal/daemon/worker/status.go
Labels: core, core/daemon, backport/0.12.x

#2814 Add automated cleanup for CI resources
  .github/workflows/test-ci-cleanup-oss.yml
  .gitignore
  enos/ci/aws-nuke.yml
  enos/ci/service-user-iam/github-actions-doormat.tf
  enos/ci/service-user-iam/main.tf
Labels: pr/no-milestone

#2863 chore(enos): Upload e2e test output
  .github/workflows/enos-run.yml
  enos/modules/test_e2e/main.tf
Labels: backport/0.12.x

#2870 chore: update UI commit to include onboarding updates
  internal/ui/VERSION
Labels: core/ui, core, backport/0.12.x
