Repository hashicorp/boundary, pull requests merged in 2023-08, with the labels that each got.

#3528 chore: BSR container close check
  internal/bsr/bsr.go
Labels: core

#3525 telemetry: accounts proto
  internal/gen/controller/api/services/account_service.pb.go
  internal/proto/controller/api/resources/accounts/v1/account.proto
  internal/proto/controller/api/services/v1/account_service.proto
  scripts/remove-gotags-comments/main.go
  sdk/pbs/controller/api/resources/accounts/account.pb.go
Labels: core/gen, core, core/proto

#3529 internal/daemon/controller/handlers/sessions: fix dropped error
  internal/daemon/controller/handlers/sessions/session_service.go
Labels: core, core/daemon

#3531 chore: Cherrypick commits to rel 0.13.x
  internal/bsr/bsr.go
  internal/bsr/bsr_open_test.go
  internal/bsr/container.go
  internal/bsr/convert/convert.go
Labels: core

#3500 fix(bsr): limit chunk length
  internal/bsr/chunk.go
  internal/bsr/decode.go
  internal/bsr/decode_test.go
Labels: core

#3532 test(e2e): Add infra for ssh certificate injection test
  enos/enos-modules.hcl
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/00-trust-user-ca
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
  testing/internal/e2e/tests/base_with_vault/env_test.go
Labels: pr/no-milestone

#3534 Telemetry: groups proto
  internal/gen/controller/api/services/group_service.pb.go
  internal/proto/controller/api/resources/groups/v1/group.proto
  internal/proto/controller/api/services/v1/group_service.proto
  sdk/pbs/controller/api/resources/groups/group.pb.go
Labels: core/gen, core, core/proto

#3538 Telemetry: host_catalog proto
  internal/gen/controller/api/services/host_catalog_service.pb.go
  internal/proto/controller/api/resources/hostcatalogs/v1/host_catalog.proto
  internal/proto/controller/api/services/v1/host_catalog_service.proto
  sdk/pbs/controller/api/resources/hostcatalogs/host_catalog.pb.go
Labels: core/gen, core, core/proto

#3507 feat: Validate BSR files
  internal/bsr/bsr.go
  internal/bsr/bsr_validate_test.go
Labels: core

#3533 Telemetry: auth_methods proto
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: core/gen, core, core/proto

#3536 chore: Modify go test retry settings
  .github/workflows/test.yml
Labels: pr/no-milestone

#3548 docs: Update session recording configuration
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
Labels: website, docs/configuration, backport/website

#3551 test(e2e): Mitigate aws dependencies error
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3555 test(e2e): Add pieces necessary for enterprise migration test
  enos/enos-scenario-e2e-database.hcl
  enos/modules/test_e2e/main.tf
  testing/internal/e2e/infra/env.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone

#3565 fix(session recording): correctly return and join errors
  internal/bsr/types.go
  internal/bsr/types_test.go
Labels: core

#3544 internal: add new pagination package
  internal/gen/controller/api/services/list.pb.go
  internal/pagination/pagination.go
  internal/pagination/pagination_test.go
  internal/proto/controller/api/services/v1/list.proto
Labels: core/gen, core, core/proto

#3562 Telemetry: scope.proto
  internal/gen/controller/api/services/scope_service.pb.go
  internal/proto/controller/api/resources/scopes/v1/scope.proto
  internal/proto/controller/api/services/v1/scope_service.proto
  sdk/pbs/controller/api/resources/scopes/scope.pb.go
Labels: core/gen, core, core/proto

#3546 Telemetry: worker.proto
  internal/gen/controller/api/services/worker_service.pb.go
  internal/proto/controller/api/resources/workers/v1/worker.proto
  internal/proto/controller/api/services/v1/worker_service.proto
  sdk/pbs/controller/api/resources/workers/worker.pb.go
Labels: core/gen, core, core/proto

#3547 Telemetry: user.proto
  internal/gen/controller/api/services/user_service.pb.go
  internal/proto/controller/api/resources/users/v1/user.proto
  internal/proto/controller/api/services/v1/user_service.proto
  sdk/pbs/controller/api/resources/users/user.pb.go
Labels: core/gen, core, core/proto

#3575 Add auth-tokens and authenticate command docs
  website/content/docs/api-clients/commands/accounts/change-password.mdx
  website/content/docs/api-clients/commands/accounts/create.mdx
  website/content/docs/api-clients/commands/accounts/delete.mdx
  website/content/docs/api-clients/commands/accounts/list.mdx
  website/content/docs/api-clients/commands/accounts/read.mdx
  website/content/docs/api-clients/commands/accounts/set-password.mdx
  website/content/docs/api-clients/commands/accounts/update.mdx
  website/content/docs/api-clients/commands/auth-methods/change-state.mdx
  website/content/docs/api-clients/commands/auth-methods/create.mdx
  website/content/docs/api-clients/commands/auth-methods/delete.mdx
  website/content/docs/api-clients/commands/auth-methods/list.mdx
  website/content/docs/api-clients/commands/auth-methods/read.mdx
  website/content/docs/api-clients/commands/auth-methods/update.mdx
  website/content/docs/api-clients/commands/auth-tokens/delete.mdx
  website/content/docs/api-clients/commands/auth-tokens/index.mdx
  website/content/docs/api-clients/commands/auth-tokens/list.mdx
  website/content/docs/api-clients/commands/auth-tokens/read.mdx
  website/content/docs/api-clients/commands/authenticate/index.mdx
  website/content/docs/api-clients/commands/authenticate/ldap.mdx
  website/content/docs/api-clients/commands/authenticate/oidc.mdx
  website/content/docs/api-clients/commands/authenticate/password.mdx
  website/content/docs/api-clients/commands/connect/http.mdx
  website/content/docs/api-clients/commands/connect/kube.mdx
  website/content/docs/api-clients/commands/connect/postgres.mdx
  website/content/docs/api-clients/commands/connect/rdp.mdx
  website/content/docs/api-clients/commands/logout.mdx
  website/content/partials/cmd-option-note.mdx
  website/data/docs-nav-data.json
Labels: website

#3576 Add config command docs
  website/content/docs/api-clients/commands/config/autocomplete.mdx
  website/content/docs/api-clients/commands/config/decrypt.mdx
  website/content/docs/api-clients/commands/config/encrypt.mdx
  website/content/docs/api-clients/commands/config/get-token.mdx
  website/content/docs/api-clients/commands/config/index.mdx
  website/data/docs-nav-data.json
Labels: website

#3568 feat: add job to purge pagination deletion tables
  internal/db/schema/migrations/oss/postgres/76/01_deleted_tables_and_triggers.up.sql
  internal/db/sqltest/tests/history/history_table_tests.sql
  internal/db/sqltest/tests/purge/deleted_table_tests.sql
  internal/db/sqltest/tests/purge/trigger_insert_on_delete.sql
  internal/pagination/purge/purge.go
  internal/pagination/purge/purge_job.go
  internal/pagination/purge/purge_test.go
Labels: core/db, core, core/sql

#3578 test(e2e): Refactor migration test docker repo definition
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone

#3571 Telemetry: role.proto
  internal/gen/controller/api/services/role_service.pb.go
  internal/proto/controller/api/resources/roles/v1/role.proto
  internal/proto/controller/api/services/v1/role_service.proto
  sdk/pbs/controller/api/resources/roles/role.pb.go
Labels: core/gen, core, core/proto

#3572 Telemetry: managed_group.proto
  internal/gen/controller/api/services/managed_group_service.pb.go
  internal/proto/controller/api/resources/managedgroups/v1/managed_group.proto
  internal/proto/controller/api/services/v1/managed_group_service.proto
  sdk/pbs/controller/api/resources/managedgroups/managed_group.pb.go
Labels: core/gen, core, core/proto

#3583 test(e2e): Add license env to migration test
  testing/internal/e2e/infra/docker.go
Labels: pr/no-milestone

#3584 test(e2e): Build docker image based on host architecture
  enos/modules/build_boundary_docker_local/build.sh
Labels: pr/no-milestone

#3543 Telemetry: session proto
  internal/gen/controller/api/services/session_service.pb.go
  internal/proto/controller/api/resources/sessions/v1/session.proto
  internal/proto/controller/api/services/v1/session_service.proto
  sdk/pbs/controller/api/resources/sessions/session.pb.go
Labels: core/gen, core, core/proto

#3573 Upgrade to Go 1.21
  .go-version
  api/client.go
  internal/observability/event/eventer_test.go
Labels: api, core

#3523 updates to the ssh helper command docs
  website/content/docs/api-clients/commands/connect/ssh.mdx
Labels: website

#3585 adds tabs for Enterprise vs Community
  website/content/docs/install-boundary/install.mdx
Labels: website

#3580 docs: Update listener ports in worker config
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, backport/website

#3558 Telemetry: target.proto
  internal/gen/controller/api/services/target_service.pb.go
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/target_service.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core/gen, core, core/proto

#3588 docs: Update oss references
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/enterprise/index.mdx
  website/content/docs/getting-started/dev-mode/dev-mode.mdx
  website/content/docs/getting-started/index.mdx
  website/content/docs/hcp/get-started/deploy-and-login.mdx
  website/content/docs/install-boundary/index.mdx
  website/content/docs/oss/index.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/troubleshoot/faq.mdx
  website/data/docs-nav-data.json
Labels: docs/getting-started, website, docs/concepts, backport/website

#3595 docs: Update automated license reporting topic
  website/content/docs/enterprise/automated-license-reporting.mdx
Labels: website, backport/website

#3596 Backport of docs: Update automated license reporting topic into stable-website
  website/content/docs/enterprise/automated-license-reporting.mdx
Labels: website

#3602 chore(connect): improve messaging if tofu token already used
  internal/cmd/commands/connect/connect.go
Labels: core

#3604 docs: Add recording storage path to worker config
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration, backport/website

#3599 docs: Add `users` commands
  website/content/docs/api-clients/commands/users/add-accounts.mdx
  website/content/docs/api-clients/commands/users/create.mdx
  website/content/docs/api-clients/commands/users/delete.mdx
  website/content/docs/api-clients/commands/users/index.mdx
  website/content/docs/api-clients/commands/users/list.mdx
  website/content/docs/api-clients/commands/users/read.mdx
  website/content/docs/api-clients/commands/users/remove-accounts.mdx
  website/content/docs/api-clients/commands/users/set-accounts.mdx
  website/content/docs/api-clients/commands/users/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3610 Add 'credential-libraries' command docs
  website/content/docs/api-clients/commands/accounts/update.mdx
  website/content/docs/api-clients/commands/credential-libraries/create.mdx
  website/content/docs/api-clients/commands/credential-libraries/delete.mdx
  website/content/docs/api-clients/commands/credential-libraries/index.mdx
  website/content/docs/api-clients/commands/credential-libraries/list.mdx
  website/content/docs/api-clients/commands/credential-libraries/read.mdx
  website/content/docs/api-clients/commands/credential-libraries/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3611 Add 'credential-stores' command docs
  website/content/docs/api-clients/commands/credential-libraries/update.mdx
  website/content/docs/api-clients/commands/credential-stores/create.mdx
  website/content/docs/api-clients/commands/credential-stores/delete.mdx
  website/content/docs/api-clients/commands/credential-stores/index.mdx
  website/content/docs/api-clients/commands/credential-stores/list.mdx
  website/content/docs/api-clients/commands/credential-stores/read.mdx
  website/content/docs/api-clients/commands/credential-stores/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3615 docs: Add `storage-bucket` commands - update
  website/content/docs/api-clients/commands/storage-buckets/create.mdx
  website/content/docs/api-clients/commands/storage-buckets/delete.mdx
  website/content/docs/api-clients/commands/storage-buckets/index.mdx
  website/content/docs/api-clients/commands/storage-buckets/list.mdx
  website/content/docs/api-clients/commands/storage-buckets/read.mdx
  website/content/docs/api-clients/commands/storage-buckets/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3600 config: add max page size
  internal/cmd/config/config.go
  internal/cmd/config/config_load_test.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration, core, core/daemon

#3616 docs: Add `sessions` commands
  website/content/docs/api-clients/commands/sessions/cancel.mdx
  website/content/docs/api-clients/commands/sessions/index.mdx
  website/content/docs/api-clients/commands/sessions/list.mdx
  website/content/docs/api-clients/commands/sessions/read.mdx
  website/data/docs-nav-data.json
Labels: website

#3617 docs: Add `session-recordings` commands
  website/content/docs/api-clients/commands/session-recordings/download.mdx
  website/content/docs/api-clients/commands/session-recordings/index.mdx
  website/content/docs/api-clients/commands/session-recordings/list.mdx
  website/content/docs/api-clients/commands/session-recordings/read.mdx
  website/data/docs-nav-data.json
Labels: website

#3619 Add 'credentials' command docs
  website/content/docs/api-clients/commands/credential-stores/create.mdx
  website/content/docs/api-clients/commands/credentials/create.mdx
  website/content/docs/api-clients/commands/credentials/delete.mdx
  website/content/docs/api-clients/commands/credentials/index.mdx
  website/content/docs/api-clients/commands/credentials/list.mdx
  website/content/docs/api-clients/commands/credentials/read.mdx
  website/content/docs/api-clients/commands/credentials/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3620 docs: Add `scopes` commands
  website/content/docs/api-clients/commands/scopes/create.mdx
  website/content/docs/api-clients/commands/scopes/delete.mdx
  website/content/docs/api-clients/commands/scopes/destroy-key-version.mdx
  website/content/docs/api-clients/commands/scopes/index.mdx
  website/content/docs/api-clients/commands/scopes/list-key-version-destruction-jobs.mdx
  website/content/docs/api-clients/commands/scopes/list-keys.mdx
  website/content/docs/api-clients/commands/scopes/list.mdx
  website/content/docs/api-clients/commands/scopes/read.mdx
  website/content/docs/api-clients/commands/scopes/rotate-keys.mdx
  website/content/docs/api-clients/commands/scopes/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3614 docs: Update worker config with tabs
  website/content/docs/install-boundary/configure-controllers.mdx
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, backport/website

#3622 Add telemetry observation tags to plugin.proto
  internal/proto/controller/api/resources/plugins/v1/plugin.proto
  sdk/pbs/controller/api/resources/plugins/plugin.pb.go
Labels: core, core/proto

#3621 docs: Add `roles` commands
  website/content/docs/api-clients/commands/roles/add-grants.mdx
  website/content/docs/api-clients/commands/roles/add-principals.mdx
  website/content/docs/api-clients/commands/roles/create.mdx
  website/content/docs/api-clients/commands/roles/delete.mdx
  website/content/docs/api-clients/commands/roles/index.mdx
  website/content/docs/api-clients/commands/roles/list.mdx
  website/content/docs/api-clients/commands/roles/read.mdx
  website/content/docs/api-clients/commands/roles/remove-grants.mdx
  website/content/docs/api-clients/commands/roles/remove-principals.mdx
  website/content/docs/api-clients/commands/roles/set-grants.mdx
  website/content/docs/api-clients/commands/roles/set-principals.mdx
  website/content/docs/api-clients/commands/roles/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3628 Add 'database' command docs
  website/content/docs/api-clients/commands/auth-methods/change-state.mdx
  website/content/docs/api-clients/commands/auth-methods/create.mdx
  website/content/docs/api-clients/commands/auth-methods/list.mdx
  website/content/docs/api-clients/commands/auth-methods/update.mdx
  website/content/docs/api-clients/commands/auth-tokens/list.mdx
  website/content/docs/api-clients/commands/config/decrypt.mdx
  website/content/docs/api-clients/commands/config/encrypt.mdx
  website/content/docs/api-clients/commands/config/get-token.mdx
  website/content/docs/api-clients/commands/connect/http.mdx
  website/content/docs/api-clients/commands/credential-libraries/create.mdx
  website/content/docs/api-clients/commands/credential-libraries/update.mdx
  website/content/docs/api-clients/commands/credential-stores/create.mdx
  website/content/docs/api-clients/commands/credential-stores/list.mdx
  website/content/docs/api-clients/commands/credential-stores/update.mdx
  website/content/docs/api-clients/commands/database/index.mdx
  website/content/docs/api-clients/commands/database/init.mdx
  website/content/docs/api-clients/commands/database/migrate.mdx
  website/content/docs/api-clients/commands/dev.mdx
  website/content/docs/api-clients/commands/index.mdx
  website/data/docs-nav-data.json
Labels: website

#3626 docs: Add `managed-groups` commands
  website/content/docs/api-clients/commands/managed-groups/create.mdx
  website/content/docs/api-clients/commands/managed-groups/delete.mdx
  website/content/docs/api-clients/commands/managed-groups/index.mdx
  website/content/docs/api-clients/commands/managed-groups/list.mdx
  website/content/docs/api-clients/commands/managed-groups/read.mdx
  website/content/docs/api-clients/commands/managed-groups/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3629 docs: Add `hosts` commands
  website/content/docs/api-clients/commands/hosts/create.mdx
  website/content/docs/api-clients/commands/hosts/delete.mdx
  website/content/docs/api-clients/commands/hosts/index.mdx
  website/content/docs/api-clients/commands/hosts/list.mdx
  website/content/docs/api-clients/commands/hosts/read.mdx
  website/content/docs/api-clients/commands/hosts/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3630 docs: Add `host-sets` commands
  website/content/docs/api-clients/commands/host-sets/add-hosts.mdx
  website/content/docs/api-clients/commands/host-sets/create.mdx
  website/content/docs/api-clients/commands/host-sets/delete.mdx
  website/content/docs/api-clients/commands/host-sets/index.mdx
  website/content/docs/api-clients/commands/host-sets/list.mdx
  website/content/docs/api-clients/commands/host-sets/read.mdx
  website/content/docs/api-clients/commands/host-sets/remove-hosts.mdx
  website/content/docs/api-clients/commands/host-sets/set-hosts.mdx
  website/content/docs/api-clients/commands/host-sets/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3632 docs: Add `host-catalogs` commands
  website/content/docs/api-clients/commands/host-catalogs/create.mdx
  website/content/docs/api-clients/commands/host-catalogs/delete.mdx
  website/content/docs/api-clients/commands/host-catalogs/index.mdx
  website/content/docs/api-clients/commands/host-catalogs/list.mdx
  website/content/docs/api-clients/commands/host-catalogs/read.mdx
  website/content/docs/api-clients/commands/host-catalogs/update.mdx
  website/content/docs/api-clients/commands/host-sets/read.mdx
  website/data/docs-nav-data.json
Labels: website

#3636 Add 'boundary groups' command docs
  website/content/docs/api-clients/commands/accounts/read.mdx
  website/content/docs/api-clients/commands/groups/add-members.mdx
  website/content/docs/api-clients/commands/groups/create.mdx
  website/content/docs/api-clients/commands/groups/delete.mdx
  website/content/docs/api-clients/commands/groups/index.mdx
  website/content/docs/api-clients/commands/groups/list.mdx
  website/content/docs/api-clients/commands/groups/read.mdx
  website/content/docs/api-clients/commands/groups/remove-members.mdx
  website/content/docs/api-clients/commands/groups/set-members.mdx
  website/content/docs/api-clients/commands/groups/update.mdx
  website/data/docs-nav-data.json
Labels: website

#3638 tests (grants): add basic fuzz test for grants.Parse
  .github/workflows/fuzz.yml
  internal/perms/grants_test.go
Labels: core, core/perms

#3639 handlers/targets/tcp: run tests in parallel
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon

#3644 Fix address not returning on 10001+ list value
  CHANGELOG.md
  internal/target/repository.go
  internal/target/tcp/repository_test.go
Labels: core, core/target, backport/0.13.x

#3530 Update multi-hop system-requirements.mdx
  website/content/docs/install-boundary/system-requirements.mdx
Labels: website, backport/website

#3645 genapi: add pagination support
  CHANGELOG.md
  api/accounts/account.gen.go
  api/accounts/option.gen.go
  api/authmethods/authmethods.gen.go
  api/authmethods/option.gen.go
  api/authtokens/authtokens.gen.go
  api/authtokens/option.gen.go
  api/credentiallibraries/credential_library.gen.go
  api/credentiallibraries/option.gen.go
  api/credentials/credential.gen.go
  api/credentials/option.gen.go
  api/credentialstores/credential_store.gen.go
  api/credentialstores/option.gen.go
  api/groups/group.gen.go
  api/groups/option.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hostcatalogs/option.gen.go
  api/hosts/host.gen.go
  api/hosts/option.gen.go
  api/hostsets/host_set.gen.go
  api/hostsets/option.gen.go
  api/managedgroups/managedgroups.gen.go
  api/managedgroups/option.gen.go
  api/roles/option.gen.go
  api/roles/role.gen.go
  api/scopes/option.gen.go
  api/scopes/scope.gen.go
  api/sessionrecordings/option.gen.go
  api/sessionrecordings/session_recording.gen.go
  api/sessions/option.gen.go
  api/sessions/session.gen.go
  api/storagebuckets/option.gen.go
  api/storagebuckets/storage_bucket.gen.go
  api/targets/option.gen.go
  api/targets/target.gen.go
  api/users/option.gen.go
  api/users/user.gen.go
  api/workers/option.gen.go
  api/workers/worker.gen.go
  internal/api/genapi/templates.go
Labels: api, api/users, api/hostsets, api/sessions, api/scopes, core, api/roles, api/authtokens, api/targets, api/authmethods, api/groups, api/hostcatalogs, api/hosts

#3652 docs: Edit CLI drafts
  website/content/docs/api-clients/commands/dev.mdx
  website/content/docs/api-clients/commands/index.mdx
  website/content/docs/api-clients/commands/logout.mdx
  website/content/docs/api-clients/commands/server.mdx
Labels: website
