Repository hashicorp/boundary, pull requests merged in 2023-03, with the labels that each got.

#3042 Fix sql tests failing on the first of the month
  internal/db/sqltest/tests/hcp/billing/monthly_sessions_all.sql
Labels: core/db, core, core/sql

#3045 Fix hcp billing test
  internal/db/sqltest/tests/hcp/billing/monthly_sessions_all.sql
Labels: core/db, core, core/sql

#3037 chore(enos): Add debug variable
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-static-with-vault.hcl
  enos/enos-scenario-e2e-static.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/test_e2e/main.tf
  enos/scripts/test_e2e_env.sh
  testing/internal/e2e/README.md
Labels: pr/no-milestone

#3051 chore(enos): Use node16 version of action
  .github/workflows/enos-run.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
Labels: pr/no-milestone

#3052 Update changelog and UI commitish
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#3053 Update changelog and UI commitish (#3052)
  CHANGELOG.md
  internal/ui/VERSION
Labels: core/ui, core

#2924 ci(schema-diff): Add script to generate diff of database schema
  .github/scripts/schema-diff-hide-gh-comments.sh
  .github/workflows/schema-diff.yml
  .gitignore
  scripts/schema-diff.sh
Labels: pr/no-milestone

#3054 update the deps
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  internal/observability/event/hclog_event_adapter.go
  plugins/host/mains/aws/go.mod
  plugins/host/mains/aws/go.sum
  plugins/host/mains/azure/go.mod
  plugins/host/mains/azure/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api, core

#3061 Port over changes
  Makefile
  internal/cmd/base/listener.go
  internal/cmd/base/server_test.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/version/version.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/cluster/connstate.go
  internal/daemon/cluster/connstate_test.go
  internal/daemon/cluster/tracking_listener.go
  internal/daemon/common/eventing_listener.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/testing.go
  internal/daemon/controller/worker_tls_config.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/listeners.go
  scripts/build.sh
  version/feature_manager.go
  version/version.go
  version/version_base.go
Labels: core, core/daemon

#3062 Port over changes (#3061)
  Makefile
  internal/cmd/base/listener.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/commands/version/version.go
  internal/cmd/config/config.go
  internal/daemon/cluster/connstate.go
  internal/daemon/cluster/connstate_test.go
  internal/daemon/cluster/tracking_listener.go
  internal/daemon/common/eventing_listener.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/testing.go
  internal/daemon/controller/worker_tls_config.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/listeners.go
  scripts/build.sh
  version/feature_manager.go
  version/version.go
  version/version_base.go
Labels: core, core/daemon

#3059 Add extra IAM permissions for demo user creation during e2e tests
  enos/ci/service-user-iam/main.tf
Labels: pr/no-milestone

#3064 Use tofu token from controller
  CHANGELOG.md
  internal/daemon/worker/session/session.go
Labels: core, core/daemon, backport/0.12.x

#3071 doc: Add boundary logo back to README
  README.md
Labels: pr/no-milestone

#3072 chore: Add "fail-on-cache-miss" setting to more jobs
  .github/workflows/test.yml
Labels: pr/no-milestone

#3075 Add top level resource prefix function in globals
  globals/prefixes.go
  globals/prefixes_test.go
  internal/types/resource/resource.go
Labels: core, core/types

#3087 chore(enos): Pin Terraform to 1.3.9 to mitigate bug
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3086 chore(enos): Use docker mirror
  testing/internal/e2e/infra/docker.go
Labels: pr/no-milestone

#3090 Update nodeenrollment to 0.1.19
  go.mod
  go.sum
  internal/daemon/cluster/connstate.go
  internal/daemon/cluster/connstate_test.go
  internal/daemon/metric/instrument_handlers.go
Labels: core, core/daemon

#3081 Improve grant validation
  globals/prefixes.go
  globals/prefixes_test.go
  internal/auth/additional_verification_test.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/iam/role_grant_test.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/perms/output_fields_test.go
  internal/types/resource/resource.go
  internal/types/resource/resource_test.go
Labels: core/iam, core/auth, core, core/perms, core/types, core/daemon

#3094 Revert "chore(enos): Pin terraform to 1.3.9 to mitigate bug (#3087)"
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#3093 docs: Update FAQs with IAM role answer
  website/content/docs/troubleshoot/faq.mdx
Labels: website, backport/website

#3104 chore: Remove extraneous fail-on-cache-miss attribute
  .github/workflows/test.yml
Labels: pr/no-milestone

#3100 chore(enos): Use docker image generated from code
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  Makefile
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_crt/main.tf
  enos/modules/build_boundary_docker_local/build.sh
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_postgres/main.tf
Labels: pr/no-milestone

#3112 docs: Add links to new tutorials - stable
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, docs/concepts, docs/configuration

#3113 docs: Add links to new tutorials - release 0.12
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
Labels: website, docs/concepts, docs/configuration

#3110 Add downstream worker auth KMS
  globals/kms.go
  internal/cmd/base/servers.go
  internal/cmd/config/config.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/testing.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/testing_test.go
  internal/daemon/worker/workerdisconnect_test.go
  sdk/wrapper/wrapper.go
Labels: core, core/daemon

#3107 Bats Tests: Target Host Sources
  internal/tests/cli/boundary/_target_host_sources.bash
  internal/tests/cli/boundary/_targets.bash
  internal/tests/cli/boundary/target.bats
  internal/tests/cli/boundary/target_host_sources.bats
Labels: core

#3119 Replace broken link
  website/content/docs/troubleshoot/faq.mdx
Labels: website, backport/website

#3044 ci: Add actionlint workflow
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/jira.yml
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui.yml
  .github/workflows/test.yml
Labels: pr/no-milestone

#3138 chore: update dependency
  website/package-lock.json
  website/package.json
Labels: website, pr/no-milestone

#3120 feat(ui): serve controller metadata from ui handler
  internal/daemon/controller/handler_ui.go
  internal/daemon/controller/handler_ui_test.go
Labels: core, core/daemon
