Repository hashicorp/boundary, pull requests merged in 2024-07, with the labels that each got.

#4918 chore(e2e): Define docker attributes to prevent forced replacement on second launch
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_ldap/main.tf
  enos/modules/docker_minio/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
Labels: pr/no-milestone

#4903 chore(e2e): Clean up comments in enos.vars
  .gitignore
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
Labels: pr/no-milestone

#4913 test(e2e): Add resource IPs to output
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_target/main.tf
Labels: pr/no-milestone

#4924 chore(e2e): Add audit logs to aws boundary instances
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/scripts/create-audit-log-dir.sh
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/templates/worker_bsr.hcl
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/scripts/create-audit-log-dir.sh
  enos/modules/aws_worker/templates/worker.hcl
  enos/modules/aws_worker/templates/worker_bsr.hcl
Labels: pr/no-milestone

#4926 chore: Fail workflow if request does not succeed
  scripts/trigger-merge-to-downstream-gha
Labels: pr/no-milestone

#4927 chore(plugins): Update Boundary AWS Plugin to v0.3.1
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
Labels: backport/0.16.x

#4930 chore: Update `go-retryablehttp` to 0.7.7
  go.mod
  go.sum
Labels: pr/no-milestone, backport/0.16.x

#4936 chore: bump ui commit to cc0edf3
  internal/ui/VERSION
Labels: core/ui, core

#4937 Update attributes description for AuthenticateRequest to match proto
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/proto/controller/api/services/v1/auth_method_service.proto
Labels: core/gen, core, core/proto, pr/no-milestone

#4942 update ui commit to 96b6486
  internal/ui/VERSION
Labels: core/ui, core

#4938 docs: Explain auth token TTL's impact on OIDC
  website/content/docs/concepts/domain-model/auth-methods.mdx
  website/content/docs/concepts/iam.mdx
  website/content/docs/configuration/controller.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#4946 chore: bump ui commit to 03376f0
  internal/ui/VERSION
Labels: core/ui, core

#4947 fix: pass along storage bucket credential id for sb update job
  internal/db/schema/migrations/oss/postgres/88/03_update_storage_bucket_credentials.up.sql
  internal/server/worker_storage_bucket.go
Labels: core/db, core, core/sql, core/server

#4950 chore: bump ui commit to 10c128e
  internal/ui/VERSION
Labels: core/ui, core

#4953 Update Mistake in set-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
Labels: website, backport/website

#4939 test(e2e): Add support for an hcp worker
  enos/enos-variables.hcl
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/outputs.tf
  enos/modules/aws_boundary/security-groups.tf
  enos/modules/aws_boundary/templates/worker_hcp_bsr.hcl
  enos/modules/aws_boundary/variables.tf
  enos/modules/aws_iam_setup/main.tf
Labels: pr/no-milestone

#4949 docs: remote storage state
  website/content/docs/configuration/session-recording/configure-worker-storage.mdx
Labels: website, docs/configuration

#4957 chore: bump ui commit to 25a99a4
  internal/ui/VERSION
Labels: core/ui, core

#4617 refact(session connection): remove session connection state table
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/db/schema/migrations/oss/postgres/0/50_session.up.sql
  internal/db/schema/migrations/oss/postgres/0/51_connection.up.sql
  internal/db/schema/migrations/oss/postgres/15/01_wh_rename_key_columns.up.sql
  internal/db/schema/migrations/oss/postgres/27/01_disable_terminate_session.up.sql
  internal/db/schema/migrations/oss/postgres/27/02_wh_session_facts.up.sql
  internal/db/schema/migrations/oss/postgres/89/01_remove_session_connection_state.up.sql
  internal/db/sqltest/tests/session/session_connection_state_transition.sql
  internal/db/sqltest/tests/wh/session_connection/update.sql
  internal/server/repository_worker_test.go
  internal/session/connection.go
  internal/session/connection_state.go
  internal/session/connection_state_test.go
  internal/session/immutable_fields_test.go
  internal/session/job_session_cleanup_test.go
  internal/session/query.go
  internal/session/repository_connection.go
  internal/session/repository_connection_test.go
  internal/session/repository_session_test.go
  internal/session/service_authorize_connection.go
  internal/session/service_authorize_connection_test.go
  internal/session/service_close_connections_test.go
  internal/session/service_worker_status_report_test.go
  internal/session/testing.go
  internal/session/testing_test.go
  internal/tests/helper/testing_helper.go
Labels: core/db, core/session, core, core/sql, core/daemon, core/server

#4958 docs: Update roles in permissions concept
  website/content/docs/concepts/security/permissions/index.mdx
Labels: website, docs/concepts

#4969 chore: update ui commit to 219eba6
  internal/ui/VERSION
Labels: core/ui, core

#4979 test(asciicast): Update expected value due to encoding change
  internal/bsr/convert/internal/asciicast/asciicast_test.go
Labels: core, pr/no-milestone

#4952 Worker tags tabbed workflows
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/public/img/ui/worker-tags-api_dark.png
  website/public/img/ui/worker-tags-api_light.png
  website/public/img/ui/worker-tags-config_dark.png
  website/public/img/ui/worker-tags-config_light.png
Labels: website, docs/concepts

#4983 chore: update grpc to 1.61.1
  go.mod
  go.sum
Labels: core/iam, core/db, core/oplog, core/gen, core/auth, core, core/host, core/target, core/kms, core/server

#4982 feat(loopback): support dynamic credentials
  internal/plugin/loopback/const.go
  internal/plugin/loopback/storage.go
  internal/plugin/loopback/storage_test.go
Labels: core

#4980 Rab manage roles refactor
  website/content/docs/common-workflows/manage-roles.mdx
  website/content/docs/configuration/identity-access-management/assignable-permissions.mdx
  website/content/docs/configuration/identity-access-management/index.mdx
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
  website/data/docs-nav-data.json
  website/public/img/ui/add-role-grant_dark.png
  website/public/img/ui/add-role-grant_light.png
  website/public/img/ui/add-role-principal_dark.png
  website/public/img/ui/add-role-principal_light.png
  website/public/img/ui/add-role-scopes_dark.png
  website/public/img/ui/add-role-scopes_light.png
  website/public/img/ui/new-role_dark.png
  website/public/img/ui/new-role_light.png
Labels: website, docs/configuration, docs/workflows

#4954 docs: Add S3 compliant storage
  website/content/docs/configuration/session-recording/configure-worker-storage.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-s3-compliant.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-s3.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration

#4976 docs: Add Desktop fix to known issues 0.15.x and 0.16.x
  website/content/docs/release-notes/v0_15_0.mdx
  website/content/docs/release-notes/v0_16_0.mdx
Labels: website

#4962 docs: Move permissions to config for usage docs
  internal/website/permstable/permstable.go
  website/content/docs/common-workflows/manage-roles.mdx
  website/content/docs/concepts/security/permissions/assignable-permissions.mdx
  website/content/docs/concepts/security/permissions/permission-grant-formats.mdx
  website/content/docs/configuration/identity-access-management/assignable-permissions.mdx
  website/content/docs/configuration/identity-access-management/index.mdx
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
  website/content/docs/configuration/identity-access-management/resource-table.mdx
  website/data/docs-nav-data.json
  website/public/img/ui/add-role-grant_dark.png
  website/public/img/ui/add-role-grant_light.png
  website/public/img/ui/add-role-principal_dark.png
  website/public/img/ui/add-role-principal_light.png
  website/public/img/ui/add-role-scopes_dark.png
  website/public/img/ui/add-role-scopes_light.png
  website/public/img/ui/new-role_dark.png
  website/public/img/ui/new-role_light.png
  website/redirects.js
Labels: website, docs/concepts, docs/configuration, core, docs/workflows

#4978 docs: Release notes 07-31
  website/content/docs/commands/sessions/list.mdx
  website/content/docs/release-notes/v0_16_0.mdx
  website/content/docs/release-notes/v0_17_0.mdx
  website/data/docs-nav-data.json
Labels: website

#4985 docs: Update link in 0.17.0 release notes
  website/content/docs/release-notes/v0_17_0.mdx
  website/redirects.js
Labels: website, backport/website
