Repository hashicorp/boundary, pull requests merged in 2024-09, with the labels that each got.

#5068 Backport of SEC-090: Automated trusted workflow pinning (2024-09-01) into release/0.17.x
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/security-scan.yml
Labels: pr/no-milestone

#5067 Backport of SEC-090: Automated trusted workflow pinning (2024-09-01) into release/0.16.x
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/security-scan.yml
Labels: pr/no-milestone

#5071 Allow reloading some server timings
  internal/cmd/commands/server/server.go
  internal/daemon/controller/controller.go
  internal/daemon/worker/worker.go
  internal/session/job_session_cleanup.go
  internal/session/jobs.go
Labels: core/session, core, core/daemon, backport/0.17.x

#5062 IPv6 SQL Tests
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/history/static_host_ipv6.sql
  internal/db/sqltest/tests/host/static_host_ipv6.sql
  internal/db/sqltest/tests/server/ipv6.sql
  internal/db/sqltest/tests/session/session_connection_ipv6.sql
  internal/db/sqltest/tests/wh/session_connection/ipv6.sql
Labels: core/db, core, core/sql

#5072 docs: Update session recording docs with asciicast info
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
Labels: website, backport/website

#5076 test(target): validate ipv6 address for tcp targets
  internal/target/tcp/repository_tcp_target_test.go
Labels: core, core/target

#5052 test(host): validate ipv6 address for hosts
  internal/host/plugin/job_set_sync_test.go
  internal/host/plugin/repository_host_test.go
  internal/host/plugin/testing.go
  internal/host/static/repository_host_test.go
Labels: core, core/host

#5081 test (cache/search): fix NewTestServer(...) storage
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/daemon/testing.go
Labels: core

#5033 doc(e2e): Update enos readme
  enos/README.md
Labels: pr/no-milestone

#5085 Some test fixes
  internal/gen/controller.swagger.json
  internal/host/plugin/repository_host_test.go
  internal/session/job_session_cleanup_test.go
Labels: core/gen, core/session, core, core/host

#5084 Some test fixes
  Makefile
  internal/host/plugin/repository_host_test.go
  internal/session/job_session_cleanup_test.go
  internal/tests/cluster/x509_verification_test.go
Labels: core/session, core, core/host

#5089 PSA-1311 - update scan workflow conditions
  .github/workflows/security-scan.yml
Labels: backport/0.17.x

#5087 fix (cache): support for DB debug logging
  go.mod
  go.sum
  internal/clientcache/internal/daemon/server.go
  internal/clientcache/internal/daemon/server_test.go
  internal/clientcache/internal/db/db.go
Labels: core

#5086 chore: Bump to Go version 1.23.1
  .go-version
  api/go.mod
  go.mod
  sdk/go.mod
Labels: api

#5080 docs: Add link to Postgres HA
  website/content/docs/install-boundary/architecture/high-availability.mdx
  website/content/docs/install-boundary/architecture/system-requirements.mdx
Labels: website, backport/website

#5094 update changelog to docoument gRPC update
  CHANGELOG.md
Labels: backport/0.17.x

#5082 docs: Clarify credential workflow for SSH target types
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-brokering.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
  website/content/docs/configuration/credential-management/index.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#5098 Backport of docs: Clarify credential workflow for SSH target types into stable-website
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-brokering.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
  website/content/docs/configuration/credential-management/index.mdx
Labels: website, docs/concepts, docs/configuration

#5099 Backport of docs: Clarify credential workflow for SSH target types into release/0.17.x
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-brokering.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
  website/content/docs/configuration/credential-management/index.mdx
Labels: website, docs/concepts, docs/configuration

#5097 (cmd): unhide client agent commands
  internal/cmd/commands/clientagentcmd/addtoken.go
  internal/cmd/commands/clientagentcmd/status.go
  internal/cmd/commands/clientagentcmd/wrapper_register.go
  internal/cmd/main.go
Labels: core

#5083 internal/daemon/controller+worker: propagate downstream timeout
  internal/daemon/controller/controller.go
  internal/daemon/worker/status_test.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
Labels: core, core/daemon, backport/0.17.x

#5079 test(server): validate ipv6 address for upsert worker status
  internal/server/repository_worker_test.go
Labels: core, core/server

#5107 Client cache API paging
  api/accounts/account.gen.go
  api/accounts/option.gen.go
  api/aliases/alias.gen.go
  api/aliases/option.gen.go
  api/authmethods/authmethods.gen.go
  api/authmethods/option.gen.go
  api/authtokens/authtokens.gen.go
  api/authtokens/option.gen.go
  api/billing/option.gen.go
  api/credentiallibraries/credential_library.gen.go
  api/credentiallibraries/option.gen.go
  api/credentials/credential.gen.go
  api/credentials/option.gen.go
  api/credentialstores/credential_store.gen.go
  api/credentialstores/option.gen.go
  api/groups/group.gen.go
  api/groups/option.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hostcatalogs/option.gen.go
  api/hosts/host.gen.go
  api/hosts/option.gen.go
  api/hostsets/host_set.gen.go
  api/hostsets/option.gen.go
  api/managedgroups/managedgroups.gen.go
  api/managedgroups/option.gen.go
  api/policies/option.gen.go
  api/policies/policy.gen.go
  api/roles/option.gen.go
  api/roles/role.gen.go
  api/scopes/option.gen.go
  api/scopes/scope.gen.go
  api/sessionrecordings/option.gen.go
  api/sessionrecordings/session_recording.gen.go
  api/sessions/option.gen.go
  api/sessions/session.gen.go
  api/storagebuckets/option.gen.go
  api/storagebuckets/storage_bucket.gen.go
  api/targets/option.gen.go
  api/targets/target.gen.go
  api/users/custom.go
  api/users/option.gen.go
  api/users/user.gen.go
  api/workers/option.gen.go
  api/workers/worker.gen.go
  internal/api/genapi/templates.go
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/refresh_test.go
  internal/clientcache/internal/cache/repository_implicit_scopes_test.go
  internal/clientcache/internal/cache/repository_resolvable_aliases.go
  internal/clientcache/internal/cache/repository_resolvable_aliases_test.go
  internal/clientcache/internal/cache/repository_sessions.go
  internal/clientcache/internal/cache/repository_sessions_test.go
  internal/clientcache/internal/cache/status_test.go
  internal/clientcache/internal/daemon/testing.go
Labels: api, api/users, api/hostsets, api/sessions, api/scopes, core, api/roles, api/authtokens, api/targets, api/authmethods, api/groups, api/hostcatalogs, api/hosts

#5108 Resolve Scope Name For Target Authorize Session
  internal/cmd/commands/targetscmd/funcs.go
Labels: core

#5104 Don't explode grants from the DB
  api/go.mod
  api/go.sum
  go.mod
  internal/alias/target/repository_alias_list_resolvable.go
  internal/alias/target/service_list_resolvable_ext_test.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/authorized_actions.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/iam/options.go
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
  internal/iam/role_grant.go
  internal/perms/acl.go
  internal/perms/acl_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/perms/output_fields_test.go
  internal/session/repository.go
  internal/session/repository_session_test.go
  internal/session/service_list_ext_test.go
  internal/target/options_test.go
  internal/target/repository.go
  internal/target/repository_ext_test.go
  internal/target/repository_test.go
  internal/target/service_list_ext_test.go
  internal/tests/api/users/user_test.go
Labels: core/iam, api, core/auth, core/session, core, core/perms, core/target, core/sql, core/daemon

#5114 Fix tests
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/daemon/options.go
  internal/clientcache/internal/daemon/options_test.go
  internal/clientcache/internal/daemon/server.go
Labels: core, backport/0.17.x

#5116 Fix panic in credential renewal job
  internal/credential/vault/jobs.go
Labels: core, backport/0.17.x

#5120 update bsr tests to use ::1
  internal/bsr/ssh/chunk_decode_test.go
Labels: core

#5121 fix(metrics): Fix matching logic for authorize session endpoint
  internal/daemon/controller/internal/metric/api.go
  internal/daemon/controller/internal/metric/api_test.go
Labels: core, core/daemon, backport/0.17.x

#5110 test: ensure ipv6 compatibility for cli and config
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/cmd/ops/server_test.go
Labels: core

#5124 fix(cmd): resolve make gen issue
  internal/cmd/base/servers.go
  internal/cmd/config/config.go
Labels: core

#5125 chore(config): remove deprecated controllers field
  .release/linux/package/etc/boundary.d/worker.hcl
  CHANGELOG.md
  enos/modules/aws_boundary/templates/worker.hcl
  enos/modules/aws_boundary/templates/worker_bsr.hcl
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_load_test.go
  internal/cmd/config/config_test.go
Labels: core

#5127 chore: Update use of deprecated `hub` command
  .github/workflows/jira.yml
Labels: pr/no-milestone

#5131 chore: update changelog for 0.17.2
  CHANGELOG.md
Labels: backport/0.17.x

#5136 Some clarity updates to comments in ACL code
  internal/perms/acl.go
Labels: core, core/perms

#5134 refact(session): Replace state start_time/end_time with time range
  internal/db/schema/migrations/oss/postgres/0/50_session.up.sql
  internal/db/schema/migrations/oss/postgres/15/01_wh_rename_key_columns.up.sql
  internal/db/schema/migrations/oss/postgres/28/02_prior_session_trigger.up.sql
  internal/db/schema/migrations/oss/postgres/72/03_session_list_perf_fix.up.sql
  internal/db/schema/migrations/oss/postgres/84/02_wh_upsert_user_refact.up.sql
  internal/db/schema/migrations/oss/postgres/91/06_session_state_tstzrange.up.sql
  internal/session/immutable_fields_test.go
  internal/session/query.go
  internal/session/repository.go
  internal/session/repository_session.go
  internal/session/session.go
  internal/session/state.go
  internal/session/state_test.go
  internal/session/testing.go
Labels: core/db, core/session, core, core/sql

#5109 Worker Connection Failure Add Controller Target
  internal/daemon/worker/status.go
Labels: core, core/daemon

#5139 fix(event): Prevent eventer data races by removing shallow object copy
  internal/event/eventer.go
Labels: core
