Repository hashicorp/boundary, pull requests merged in 2024-06, with the labels that each got.

#4860 test(db): Fix skip command
  internal/db/sqltest/tests/hcp/billing/monthly_active_users_all_timezone.sql
Labels: core/db, core, core/sql, pr/no-milestone, backport/0.16.x

#4862 Backport of SEC-090: Automated trusted workflow pinning (2024-06-03) into release/0.16.x
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: pr/no-milestone

#4863 docs: Clarify credentials and SSH targets
  website/content/docs/concepts/domain-model/targets.mdx
Labels: website, docs/concepts, backport/website

#4866 docs: Revise requirements for SSH targets
  website/content/docs/concepts/domain-model/targets.mdx
Labels: website, docs/concepts, backport/website

#4871 update script to not print null values
  enos/scripts/test_e2e_env.sh
Labels: pr/no-milestone

#4867 test(e2e): Add check for ldap account attribute mapping
  enos/modules/docker_ldap/entries/user.ldif
  testing/internal/e2e/tests/base_plus/ldap_test.go
Labels: pr/no-milestone

#4874 docs: multi-hop error message linked to duplicate controller names
  website/content/docs/troubleshoot/common-errors.mdx
Labels: website, backport/website

#4823 changes sync_interval_seconds default to 600
  website/content/docs/concepts/domain-model/host-sets.mdx
Labels: website, docs/concepts, backport/website

#4877 Use appropriate gRPC error codes for OIDC
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
Labels: core, core/daemon

#4870 workerauth: satisfy NodeIdLoader interface
  go.mod
  go.sum
  internal/db/sqltest/Makefile
  internal/db/sqltest/tests/server/server_worker_local_storage_state.sql
  internal/db/sqltest/tests/server/server_worker_worker_auth.sql
  internal/server/query.go
  internal/server/repository_workerauth.go
  internal/server/repository_workerauth_test.go
Labels: core/db, core, core/sql, core/server, backport/0.16.x

#2599 Allow descriptions to contain newlines and other whitespace
  CHANGELOG.md
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/verifiers.go
  internal/daemon/controller/handlers/verifiers_test.go
Labels: core, core/daemon

#4821 Rab update filtering managed groups
  website/content/docs/concepts/domain-model/managed-groups.mdx
  website/content/docs/concepts/filtering/managed-groups.mdx
  website/content/docs/concepts/filtering/oidc-managed-groups.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts, backport/website

#4878 test(e2e): Add support for dynamic credentials
  enos/enos-scenario-e2e-aws.hcl
  enos/modules/aws_bucket/main.tf
  enos/modules/aws_bucket/outputs.tf
  enos/modules/aws_bucket/variables.tf
  enos/modules/aws_worker/iam.tf
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/outputs.tf
  enos/modules/aws_worker/variables.tf
  enos/modules/test_e2e/main.tf
Labels: pr/no-milestone, backport/0.16.x

#4872 chore(e2e): Use public version of enos
  .github/workflows/enos-run.yml
  enos/README.md
  enos/enos-modules.hcl
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-variables.hcl
  enos/enos.hcl
  enos/enos.vars.hcl
  enos/modules/aws_boundary/main.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/iam.tf
  enos/modules/aws_vault/infra.tf
  enos/modules/aws_vault/locals.tf
  enos/modules/aws_vault/main.tf
  enos/modules/aws_vault/outputs.tf
  enos/modules/aws_vault/scripts/create_audit_log_dir.sh
  enos/modules/aws_vault/scripts/enable_audit_logging.sh
  enos/modules/aws_vault/security-groups.tf
  enos/modules/aws_vault/templates/install-dependencies.sh
  enos/modules/aws_vault/templates/vault-write-license.sh
  enos/modules/aws_vault/variables.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_worker/main.tf
  enos/modules/binary_finder/main.tf
  enos/modules/build_boundary_docker_crt/main.tf
  enos/modules/build_boundary_docker_local/main.tf
  enos/modules/build_local/main.tf
  enos/modules/docker_boundary/main.tf
  enos/modules/docker_boundary_cmd/main.tf
  enos/modules/docker_check_health/main.tf
  enos/modules/docker_ldap/main.tf
  enos/modules/docker_minio/main.tf
  enos/modules/docker_openssh_server/main.tf
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/docker_postgres/main.tf
  enos/modules/docker_vault/main.tf
  enos/modules/docker_worker/main.tf
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_ui/main.tf
Labels: pr/no-milestone

#4894 worker auth: use new previous pkix field
  go.mod
  go.sum
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/auth_rotation_test.go
  internal/server/repository_workerauth.go
  internal/server/repository_workerauth_test.go
Labels: core, core/daemon, core/server, backport/0.16.x

#4895 Add test ability to reinitialize worker auth roots on startup
  internal/cmd/commands/server/server.go
  internal/daemon/controller/config.go
  internal/daemon/controller/controller.go
Labels: core, core/daemon

#4886 api: remove deprecated grant_scope_id field
  CHANGELOG.md
  api/roles/option.gen.go
  api/roles/role.gen.go
  globals/fields.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/gen/controller.swagger.json
  internal/iam/options.go
  internal/iam/options_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_test.go
  internal/iam/testing.go
  internal/proto/controller/api/resources/roles/v1/role.proto
  internal/tests/api/roles/classification_test.go
  internal/tests/cli/boundary/_roles.bash
  internal/tests/cli/boundary/roles.bats
  sdk/pbs/controller/api/resources/roles/role.pb.go
  website/content/docs/commands/roles/create.mdx
  website/content/docs/commands/roles/update.mdx
  website/content/docs/install-boundary/initialize.mdx
Labels: website, core/iam, api, core/gen, core, core/proto, api/roles, core/daemon

#4898 docs: Release notes for 0.16.2
  website/content/docs/release-notes/v0_16_0.mdx
Labels: website, backport/website

#4897 chore: Update UI version
  internal/ui/VERSION
Labels: core/ui, core, pr/no-milestone

#4901 chore(e2e): Add boundary to path
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_boundary/scripts/set-up-login-shell-profile.sh
  enos/modules/aws_worker/main.tf
  enos/modules/aws_worker/scripts/set-up-login-shell-profile.sh
Labels: pr/no-milestone

#4893 Add grant scope IDs to role list
  CHANGELOG.md
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/role.go
  internal/iam/service_list_ext_test.go
  internal/iam/testing.go
Labels: website, core/iam, api, core/gen, core, core/proto, api/roles, core/daemon

#4567 Update style on core workflow image and light/dark theme
  website/content/docs/concepts/workers.mdx
  website/content/docs/install-boundary/architecture/high-availability.mdx
  website/content/docs/oss/index.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/public/img/access-model.png
  website/public/img/boundary-core-workflow.png
  website/public/img/boundary-core-workflow_dark.png
  website/public/img/boundary-core-workflow_light.png
  website/public/img/how-boundary-works.png
  website/public/img/how-boundary-works_dark.png
  website/public/img/how-boundary-works_light.png
  website/public/img/production.png
Labels: website, docs/concepts, backport/website, event/boundary-docs-day

#4908 docs: Backport #4567 to stable website
  website/content/docs/concepts/workers.mdx
  website/content/docs/install-boundary/architecture/high-availability.mdx
  website/content/docs/oss/index.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/public/img/access-model.png
  website/public/img/boundary-core-workflow.png
  website/public/img/boundary-core-workflow_dark.png
  website/public/img/boundary-core-workflow_light.png
  website/public/img/how-boundary-works.png
  website/public/img/how-boundary-works_dark.png
  website/public/img/how-boundary-works_light.png
  website/public/img/production.png
Labels: website, docs/concepts, docs/configuration

#4909 docs: Backport #4567 to release 0.16.x
  website/content/docs/concepts/workers.mdx
  website/content/docs/install-boundary/architecture/high-availability.mdx
  website/content/docs/oss/index.mdx
  website/content/docs/overview/what-is-boundary.mdx
  website/public/img/access-model.png
  website/public/img/boundary-core-workflow.png
  website/public/img/boundary-core-workflow_dark.png
  website/public/img/boundary-core-workflow_light.png
  website/public/img/how-boundary-works.png
  website/public/img/how-boundary-works_dark.png
  website/public/img/how-boundary-works_light.png
  website/public/img/production.png
Labels: website, docs/concepts

#4905 update tls docs to include controller led
  website/content/docs/concepts/security/connections-tls.mdx
Labels: website, docs/concepts, backport/website

#4556 Added sample Terraform code for session recording configuration
  website/content/docs/configuration/session-recording/configure-storage-policy.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/session-recording/update-storage-policy.mdx
Labels: website, docs/configuration, backport/website, event/boundary-docs-day

#4916 docs: Backport #4556 to stable-website
  website/content/docs/configuration/session-recording/configure-storage-policy.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/session-recording/update-storage-policy.mdx
Labels: website, docs/configuration

#4917 docs: Backport #4556 to release 0.16.x
  website/content/docs/configuration/session-recording/configure-storage-policy.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/session-recording/update-storage-policy.mdx
Labels: website, docs/configuration

#4915 docs: Document billing command
  website/content/docs/commands/billing/index.mdx
  website/content/docs/commands/billing/monthly-active-users.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website
