Repository hashicorp/boundary, pull requests merged in 2024-03, with the labels that each got.

#4453 test(e2e): Use vault server instead of vault dev
  enos/modules/docker_vault/config/config.json
  enos/modules/docker_vault/main.tf
Labels: pr/no-milestone, backport/0.15.x

#4478 test(e2e): Provide public ca key to UI tests
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/modules/docker_openssh_server_ca_key/main.tf
  enos/modules/test_e2e_ui/main.tf
Labels: pr/no-milestone, backport/0.15.x

#4476 chore: Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core, pr/no-milestone

#4484 chore(cmd): fix initial alias doc
  internal/cmd/base/initial_resources.go
Labels: core

#4489 chore(e2e): Bump e2e test timeout
  enos/modules/test_e2e_docker/main.tf
Labels: pr/no-milestone, backport/0.15.x

#4487 docs(worker): add information about worker status and health
  website/content/docs/concepts/workers.mdx
Labels: website, docs/concepts

#4493 docs: Backprt worker doc update - stable
  website/content/docs/concepts/workers.mdx
Labels: website, docs/concepts

#4494 docs: Backport worker doc update - 0.15.x
  website/content/docs/concepts/workers.mdx
Labels: website, docs/concepts

#4488 Add some more fixes caught by race detector
  internal/auth/ldap/service_list_accounts_ext_test.go
  internal/auth/oidc/service_list_accounts_ext_test.go
  internal/auth/password/service_list_accounts_ext_test.go
  internal/auth/service_list_auth_methods_ext_test.go
  internal/authtoken/service_list_ext_test.go
  internal/bsr/bsr_open_test.go
  internal/bsr/bsr_validate_test.go
  internal/bsr/internal/fstest/fs.go
  internal/cmd/commands/server/controller_db_swap_test.go
  internal/credential/service_list_credentials_ext_test.go
  internal/credential/service_list_libraries_ext_test.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
  internal/host/plugin/service_list_host_sets_ext_test.go
  internal/host/plugin/service_list_hosts_ext_test.go
  internal/host/service_list_catalogs_ext_test.go
  internal/host/static/service_list_host_sets_ext_test.go
  internal/host/static/service_list_hosts_ext_test.go
  internal/iam/service_list_ext_test.go
  internal/plugin/loopback/testing_grpc_stream.go
  internal/plugin/loopback/testing_grpc_stream_test.go
  internal/session/service_list_ext_test.go
  internal/target/service_list_ext_test.go
Labels: core/iam, core/auth, core/session, core, core/host, core/target, core/daemon

#4495 docs: update session recording link
  website/content/docs/concepts/auditing.mdx
Labels: website, docs/concepts

#4497 docs: Backport #4495 - website
  website/content/docs/concepts/auditing.mdx
Labels: website, docs/concepts

#4499 docs: Backport #4495 - release 0.15.x
  website/content/docs/concepts/auditing.mdx
Labels: website, docs/concepts

#4506 docs: Backport #4505 to website
  website/content/docs/release-notes/v0_14_0.mdx
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4507 docs: Backport #4505 to release 0.15.x
  website/content/docs/release-notes/v0_14_0.mdx
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4450 doc: Add details on "river" formatting to SQL style guide
  sql-style-guide.md
Labels: pr/no-milestone

#3449 docs: Vault integrations
  package-lock.json
  website/content/docs/integrations/index.mdx
  website/content/docs/integrations/vault/index.mdx
  website/data/docs-nav-data.json
  website/public/img/brokered-creds-ui.png
Labels: website, event/boundary-docs-day

#4510 vault integrations docs
  website/content/docs/integrations/index.mdx
  website/content/docs/integrations/vault/index.mdx
  website/data/docs-nav-data.json
  website/public/img/brokered-creds-ui.png
Labels: website

#4513 docs: Backport Vault integration doc - website
  website/content/docs/integrations/index.mdx
  website/content/docs/integrations/vault/index.mdx
  website/data/docs-nav-data.json
  website/public/img/brokered-creds-ui.png
Labels: website

#4514 docs: Backport Vault integration doc - 0.15.x
  website/content/docs/integrations/index.mdx
  website/content/docs/integrations/vault/index.mdx
  website/data/docs-nav-data.json
  website/public/img/brokered-creds-ui.png
Labels: website

#4528 Comment out parallel statements causing test failures
  internal/cmd/commands/server/listener_reload_test.go
  internal/credential/vault/jobs_test.go
Labels: core

#4535 Fix issue with workers connecting in high latency conditions
  internal/daemon/worker/controller_connection.go
Labels: core, core/daemon

#4377 Cameronperera/app token delete
  internal/apptoken/repository_delete.go
  internal/apptoken/repository_delete_test.go
Labels: core

#4541 Backport of Add templating coalesce function into release/0.15.x
  CHANGELOG.md
  internal/credential/vault/private_library_test.go
  internal/util/template/funcs.go
  internal/util/template/generate.go
  internal/util/template/generate_test.go
  internal/util/template/types.go
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts, core

#4545 chore: Add edu team as codeowners for website
  CODEOWNERS
Labels: event/boundary-docs-day, pr/no-milestone

#4546 docs(bsr): explain BSR files in detail
  website/content/docs/concepts/auditing.mdx
  website/content/docs/operations/session-recordings/validate-session-recordings.mdx
Labels: website, docs/concepts, backport/website, event/boundary-docs-day, backport/0.15.x

#4543 docs: Update release notes
  website/content/docs/release-notes/v0_14_0.mdx
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website, backport/website, backport/0.15.x

#4553 docs(bsr): bsr storage requirement guidelines
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration, backport/website, event/boundary-docs-day, backport/0.15.x

#4569 refact(e2e): Consolidate tests
  testing/internal/e2e/tests/aws/worker_test.go
  testing/internal/e2e/tests/base/auth_token_delete_test.go
  testing/internal/e2e/tests/base/authenticate_primary_test.go
  testing/internal/e2e/tests/base/credential_store_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_remote_command_test.go
  testing/internal/e2e/tests/base/target_tcp_connect_ssh_test.go
  testing/internal/e2e/tests/base_plus/key_destruction_test.go
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
  testing/internal/e2e/tests/base_plus/target_tcp_connect_postgres_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_connect_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone, backport/0.15.x
