Repository hashicorp/boundary, pull requests merged in 2024-04, with the labels that each got.

#4583 chore: Update docker dep
  go.mod
  go.sum
Labels: pr/no-milestone, backport/0.15.x

#4588 test(e2e): Remove leftover debug line
  enos/modules/docker_minio/init.sh
Labels: pr/no-milestone

#4593 feat(session): Include session recording id in auth-session resp
  api/targets/session_authorization.gen.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/targets/v1/target.proto
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, core/gen, core, core/proto, api/targets, core/daemon

#4586 fix(session): return from workerStatusReport on first error
  internal/session/service_worker_status_report.go
Labels: core/session, core

#4557 doc: Refactor "install boundary" section
  website/content/docs/install-boundary/architecture/fault-tolerance.mdx
  website/content/docs/install-boundary/architecture/high-availability.mdx
  website/content/docs/install-boundary/architecture/recommended-architecture.mdx
  website/content/docs/install-boundary/architecture/system-requirements.mdx
  website/content/docs/install-boundary/configure-controllers.mdx
  website/content/docs/install-boundary/initialize.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, backport/website, event/boundary-docs-day, pr/no-milestone

#4597 Backport of doc: Refactor "install boundary" section into release/0.15.x
  website/content/docs/install-boundary/architecture/fault-tolerance.mdx
  website/content/docs/install-boundary/architecture/high-availability.mdx
  website/content/docs/install-boundary/architecture/recommended-architecture.mdx
  website/content/docs/install-boundary/architecture/system-requirements.mdx
  website/content/docs/install-boundary/configure-controllers.mdx
  website/content/docs/install-boundary/initialize.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website

#4587 test(credential): Potential fix for race condition
  internal/alias/target/service_list_ext_test.go
  internal/auth/oidc/service_list_accounts_ext_test.go
  internal/auth/oidc/service_list_managed_groups_ext_test.go
  internal/credential/service_list_stores_ext_test.go
  internal/host/plugin/service_list_host_sets_ext_test.go
  internal/host/plugin/service_list_hosts_ext_test.go
  internal/host/static/service_list_host_sets_ext_test.go
  internal/iam/service_list_ext_test.go
Labels: core/iam, core/auth, core, core/host, pr/no-milestone, backport/0.15.x

#4598 Backport of test(credential): Potential fix for race condition into release/0.15.x
  internal/auth/oidc/service_list_accounts_ext_test.go
  internal/auth/oidc/service_list_managed_groups_ext_test.go
  internal/credential/service_list_stores_ext_test.go
  internal/host/plugin/service_list_host_sets_ext_test.go
  internal/host/plugin/service_list_hosts_ext_test.go
  internal/host/static/service_list_host_sets_ext_test.go
  internal/iam/service_list_ext_test.go
Labels: core/iam, core/auth, core, core/host

#4595 chore: Address CVE-2023-45288
  .go-version
  go.mod
  go.sum
Labels: backport/0.15.x

#4551 Updated Vault integration section with Client Count
  website/content/docs/integrations/vault/index.mdx
Labels: website, backport/website, event/boundary-docs-day

#4605 chore: Set to go version 1.21.9
  .go-version
  go.mod
Labels: pr/no-milestone

#4606 chore: Bump go version to 1.21.9
  .go-version
  go.mod
  go.sum
Labels: pr/no-milestone

#4608 chore: Update deps
  go.mod
  go.sum
Labels: pr/no-milestone

#4554 docs(bsr): explain bsr data chunks
  website/content/docs/concepts/auditing.mdx
Labels: website, docs/concepts, backport/website, event/boundary-docs-day

#4611 chore: Update deps
  go.mod
  go.sum
Labels: pr/no-milestone

#4614 chore: Update deps
  go.mod
  go.sum
Labels: pr/no-milestone

#4483 docs: Update license reporting
  website/content/docs/enterprise/automated-license-reporting.mdx
Labels: website, backport/website

#4616 proto/api: improve auth method service API docs
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/auth_method_service.pb.go
  internal/gen/controller/api/services/auth_method_service_grpc.pb.go
  internal/proto/controller/api/resources/authmethods/v1/auth_method.proto
  internal/proto/controller/api/services/v1/auth_method_service.proto
  sdk/pbs/controller/api/resources/authmethods/auth_method.pb.go
Labels: core/gen, core, core/proto

#4618 docs: Update release notes for April 9 release
  website/content/docs/release-notes/v0_14_0.mdx
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website, backport/website

#4561 Daverandolph boundary doc days
  website/content/docs/install-boundary/terraform-patterns/index.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-credentials-and-credential-stores.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-groups-and-rbac.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-hosts-and-host-management.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-scopes.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-session-recording.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-targets.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-users-and-auth-methods.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website, event/boundary-docs-day

#4628 docs: Backport #4561 to stable-website
  website/content/docs/install-boundary/terraform-patterns/index.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-credentials-and-credential-stores.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-groups-and-rbac.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-hosts-and-host-management.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-scopes.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-session-recording.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-targets.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-users-and-auth-methods.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration, core

#4629 docs: Backport #4561 to release 0.15.x
  website/content/docs/install-boundary/terraform-patterns/index.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-credentials-and-credential-stores.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-groups-and-rbac.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-hosts-and-host-management.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-scopes.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-session-recording.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-targets.mdx
  website/content/docs/install-boundary/terraform-patterns/terraform-users-and-auth-methods.mdx
  website/data/docs-nav-data.json
Labels: website, docs/installing

#4610 feat: Add support for correlationId
  globals/globals.go
  internal/credential/vault/jobs.go
  internal/credential/vault/jobs_test.go
  internal/credential/vault/private_credential.go
  internal/credential/vault/vault.go
  internal/credential/vault/vault_test.go
  internal/daemon/controller/gateway.go
  internal/daemon/controller/gateway_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/interceptor.go
  internal/daemon/controller/interceptor_test.go
  internal/db/schema/migrations/oss/postgres/56/02_add_data_key_foreign_key_references.up.sql
  internal/db/schema/migrations/oss/postgres/59/01_target_ingress_egress_worker_filters.up.sql
  internal/db/schema/migrations/oss/postgres/87/01_session.up.sql
  internal/errors/code.go
  internal/errors/code_test.go
  internal/errors/error.go
  internal/errors/info.go
  internal/event/context.go
  internal/event/context_test.go
  internal/event/event_audit.go
  internal/event/event_audit_test.go
  internal/event/options.go
  internal/event/options_test.go
  internal/session/repository_session_test.go
  internal/session/repository_test.go
  internal/session/service_list_ext_test.go
  internal/session/session.go
  internal/session/session_test.go
  internal/session/testing.go
Labels: core/db, core/session, core, core/sql, core/daemon

#4589 made worker filter examples more promenent with different example types
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/public/img/session-rec-worker-filter-dark.png
  website/public/img/session-rec-worker-filter-light.png
  website/public/img/target-worker-filter-dark.png
  website/public/img/target-worker-filter-light.png
  website/public/img/vault-worker-filter-dark.png
  website/public/img/vault-worker-filter-light.png
Labels: website, docs/concepts, backport/website, event/boundary-docs-day

#4579 Cred store docs days
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-brokering.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
  website/content/docs/configuration/credential-management/index.mdx
  website/content/docs/configuration/credential-management/static-cred-boundary.mdx
  website/content/docs/configuration/credential-management/static-cred-vault.mdx
  website/content/docs/integrations/vault/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration, backport/website, event/boundary-docs-day

#4635 docs: Backport #4579 to stable website
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-brokering.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
  website/content/docs/configuration/credential-management/index.mdx
  website/content/docs/configuration/credential-management/static-cred-boundary.mdx
  website/content/docs/configuration/credential-management/static-cred-vault.mdx
  website/content/docs/integrations/vault/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

#4636 docs: Backport #4579 to release 0.15.x
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-brokering.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
  website/content/docs/configuration/credential-management/index.mdx
  website/content/docs/configuration/credential-management/static-cred-boundary.mdx
  website/content/docs/configuration/credential-management/static-cred-vault.mdx
  website/content/docs/integrations/vault/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

#4621 Boundary Plugin MinIO
  internal/cmd/base/base.go
  internal/cmd/base/minio.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/controller/controller.go
  internal/daemon/worker/worker.go
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/boundary/mains/minio/main.go
  plugins/boundary/mains/minio/serve.go
  plugins/boundary/mains/minio/serve_netbsd.go
Labels: core, core/daemon

#4638 docs: Update KMS `purpose` field for BSR
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/ocikms.mdx
  website/content/docs/configuration/kms/transit.mdx
Labels: website, docs/configuration, backport/website

#4642 chore: bump ui commit to 80b633a
  internal/ui/VERSION
Labels: core/ui, core

#4647 chore: bump ui commit to 98c16ad
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4646 test(e2e): Set a minio alias in the container
  enos/modules/docker_minio/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: pr/no-milestone, backport/0.16.x

#4650 Bump UI version to include MinIO support
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4652 Update worker-tags.mdx to remove Enterprise tag on Vault worker filter
  website/content/docs/concepts/filtering/worker-tags.mdx
Labels: website, docs/concepts, backport/website

#4645 bug: fix data race in hclogger
  internal/event/hclog_formatter_node.go
Labels: core

#4658 chore: bump ui commit to f9cd1c3
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4664 Bump UI version
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4668 test(worker): Address flake in TestMonitorUpstreamConnectionState
  internal/daemon/worker/controller_connection_test.go
Labels: core, core/daemon, pr/no-milestone, backport/0.16.x

#4670 test(e2e): Address flake in rate limit test
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
Labels: pr/no-milestone, backport/0.16.x

#4686 chore: Update docker dependency
  go.mod
  go.sum
Labels: backport/0.16.x

#4603 make newSendCtx also handle context.DeadlineExceeded
  internal/event/context.go
  internal/event/context_unexported_test.go
Labels: core, backport/0.16.x

#4592 fix(session): Use active transaction
  internal/session/repository_connection.go
  internal/session/repository_session.go
Labels: core/session, core, backport/0.16.x

#4695 fixes broken tutorial link
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: docs/concepts, backport/website

#4694 Fix CLI typo in recommended-architecture.mdx
  website/content/docs/install-boundary/architecture/recommended-architecture.mdx
Labels: website, backport/website

#4701 test(e2e): Update postgres version
  enos/modules/aws_boundary/variables.tf
Labels: pr/no-milestone, backport/0.16.x

#4707 chore: bump ui commit to a6bdc4f
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4713 chore: bump ui commit to 5ae490c
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4715 Update create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration, backport/website

#4718 test(e2e): Add module for iam user with credential rotation support
  enos/modules/aws_iam_setup/main.tf
Labels: pr/no-milestone, backport/0.16.x

#4724 chore: bump ui commit to dccf06c
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4731 bug(scopes): scopes list returns 500 without perms
  internal/daemon/controller/handlers/scopes/scope_service.go
Labels: core, core/daemon, backport/0.16.x

#4734 chore: bump ui commit
  internal/ui/VERSION
Labels: backport/0.16.x

#4733 test(e2e): Close http requests in rate limit test
  testing/internal/e2e/tests/base_plus/rate_limit_test.go
Labels: pr/no-milestone, backport/0.16.x

#4740 chore: bump ui commit
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4742 chore: update depedency
  go.mod
  go.sum
Labels: backport/0.16.x

#4745 chore: bump ui commit to dd92321
  internal/ui/VERSION
Labels: core/ui, core, backport/0.16.x

#4712 docs: update CHANGELOG with UI entries
  CHANGELOG.md
Labels: backport/0.16.x

#4723 chore: update change log
  CHANGELOG.md
Labels: backport/0.16.x

#4637 docs: Revise HTTP header documentation
  website/content/docs/api-clients/api/index.mdx
  website/content/docs/api-clients/api/rate-limiting.mdx
Labels: website, backport/0.16.x

#4738 docs: Release notes
  website/content/docs/release-notes/v0_16_0.mdx
  website/data/docs-nav-data.json
Labels: website, backport/0.16.x

#4708 Docs 0.16.0 assembly minio
  website/content/docs/configuration/session-recording/configure-storage-policy.mdx
  website/content/docs/configuration/session-recording/configure-worker-storage.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-minio.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-s3.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration, backport/0.16.x

#4751 docs: Aliases overview, domain model, CLI docs (#4705)
  website/content/docs/commands/aliases/create.mdx
  website/content/docs/commands/aliases/delete.mdx
  website/content/docs/commands/aliases/index.mdx
  website/content/docs/commands/aliases/list.mdx
  website/content/docs/commands/aliases/read.mdx
  website/content/docs/commands/aliases/update.mdx
  website/content/docs/commands/index.mdx
  website/content/docs/commands/targets/create.mdx
  website/content/docs/concepts/aliases.mdx
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, backport/0.16.x
