Repository hashicorp/boundary, pull requests merged in 2024-08, with the labels that each got.

#4990 Backport of SEC-090: Automated trusted workflow pinning (2024-08-01) into release/0.16.x
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: pr/no-milestone

#4993 fix(db): remove old rewrapping-job table
  internal/db/schema/migrations/oss/postgres/90/01_drop_kms_rewrapping_table.up.sql
Labels: core/db, core, core/sql, backport/0.17.x

#4996 internal/server: only use non-nil tags
  internal/server/options.go
  internal/server/options_test.go
Labels: core, core/server

#4998 docs: Fix broken anchor link in Credential management
  website/content/docs/concepts/credential-management.mdx
Labels: website, docs/concepts, backport/website

#5006 fix(daemon): Return 404 if alias interceptor ResolveRequestIds fails
  internal/daemon/controller/interceptor.go
  internal/daemon/controller/interceptor_test.go
  internal/tests/api/targets/target_test.go
Labels: core, core/daemon, backport/0.16.x, backport/0.17.x

#5011 Regenerate protos for 0.17.x
  internal/gen/controller.swagger.json
Labels: core/gen, core

#5012 internal/gen: regenerate protos for 0.16.3
  internal/gen/controller.swagger.json
Labels: core/gen, core

#5013 Fix Minio Plugin Upload Large Session Recordings
  CHANGELOG.md
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
Labels: backport/0.16.x, backport/0.17.x

#5007 implement configurable getDownstreamWorker timeout
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/controller.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#5026 all: upgrade Go to 1.23.0
  .github/workflows/enos-run.yml
  .github/workflows/test-race.yml
  .github/workflows/test.yml
  .go-version
  api/go.mod
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
Labels: api

#5031 fix: constant-time comparison of grpc-gateway tickets
  internal/daemon/controller/interceptor.go
Labels: core, core/daemon

#5032 Update changelog for `0.16.3` & `0.17.1`
  CHANGELOG.md
Labels: pr/no-milestone

#5030 docs: Update release notes
  website/content/docs/operations/health.mdx
  website/content/docs/release-notes/v0_16_0.mdx
  website/content/docs/release-notes/v0_17_0.mdx
Labels: website, backport/website

#5035 ci: refuse to backport if migrations changed
  .github/workflows/backport.yml
Labels: core/db, core, core/sql

#5046 feat: Validate LDAP URL port number
  internal/daemon/controller/handlers/authmethods/ldap.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
Labels: core, core/daemon

#5041 internal/daemon: simplify time update tests
  internal/daemon/controller/testing.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#5050 feat: Disable path length fallback
  internal/daemon/controller/gateway.go
  internal/daemon/controller/gateway_test.go
Labels: core, core/daemon

#5049 Restrict cache results to 250 entries by default
  internal/clientcache/cmd/search/search.go
  internal/clientcache/internal/cache/consts.go
  internal/clientcache/internal/cache/options.go
  internal/clientcache/internal/cache/options_test.go
  internal/clientcache/internal/cache/refresh_test.go
  internal/clientcache/internal/cache/repository_resolvable_aliases.go
  internal/clientcache/internal/cache/repository_resolvable_aliases_test.go
  internal/clientcache/internal/cache/repository_sessions.go
  internal/clientcache/internal/cache/repository_sessions_test.go
  internal/clientcache/internal/cache/repository_targets.go
  internal/clientcache/internal/cache/repository_targets_test.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/daemon/404_handler.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

#5051 feat (clientcache): use a persistent cache
  go.mod
  internal/clientcache/cmd/cache/start.go
  internal/clientcache/internal/daemon/options.go
  internal/clientcache/internal/daemon/options_test.go
  internal/clientcache/internal/daemon/server.go
  internal/clientcache/internal/daemon/server_test.go
  internal/clientcache/internal/db/db.go
  internal/clientcache/internal/db/db_test.go
  internal/clientcache/internal/db/options.go
  internal/clientcache/internal/db/options_test.go
  internal/clientcache/internal/db/schema.sql
  internal/clientcache/internal/db/schema_reset.sql
Labels: core, core/sql

#5053 Add `implicit-scopes` resource type to cache
  internal/clientcache/cmd/search/search.go
  internal/clientcache/internal/cache/repository_implicit_scopes.go
  internal/clientcache/internal/cache/repository_implicit_scopes_test.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/daemon/search_handler.go
Labels: core

#5056 api: remove items deleted during refresh pagination
  api/accounts/account.gen.go
  api/aliases/alias.gen.go
  api/authmethods/authmethods.gen.go
  api/authtokens/authtokens.gen.go
  api/credentiallibraries/credential_library.gen.go
  api/credentials/credential.gen.go
  api/credentialstores/credential_store.gen.go
  api/groups/group.gen.go
  api/hostcatalogs/host_catalog.gen.go
  api/hosts/host.gen.go
  api/hostsets/host_set.gen.go
  api/managedgroups/managedgroups.gen.go
  api/policies/policy.gen.go
  api/roles/role.gen.go
  api/scopes/scope.gen.go
  api/sessionrecordings/session_recording.gen.go
  api/sessions/session.gen.go
  api/storagebuckets/storage_bucket.gen.go
  api/targets/target.gen.go
  api/users/custom.go
  api/users/user.gen.go
  api/workers/worker.gen.go
  internal/api/genapi/templates.go
Labels: api, api/users, api/hostsets, api/sessions, api/scopes, core, api/roles, api/authtokens, api/targets, api/authmethods, api/groups, api/hostcatalogs, api/hosts

#5044 feat: Add support for capturing URL actions in request info
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
  internal/daemon/controller/auth/testing.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/ldap.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/password.go
  internal/daemon/controller/handlers/authmethods/password_test.go
  internal/gen/controller/auth/auth.pb.go
  internal/proto/controller/auth/v1/auth.proto
Labels: core/gen, core, core/proto, core/daemon

#5048 Return HTTP 400 status for inactive OIDC auth methods
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
Labels: core, core/daemon, backport/0.17.x

#5059 Backport of https://github.com/hashicorp/boundary/pull/5027 onto release/0.17.x
  api/client.go
  api/client_test.go
  internal/cmd/base/base.go
  internal/cmd/base/flags.go
  internal/cmd/base/flags_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/authmethodscmd/ldap_funcs.go
  internal/cmd/commands/clientagentcmd/addtoken.go
  internal/cmd/commands/clientagentcmd/clientagentcmd.go
  internal/cmd/commands/clientagentcmd/pause.go
  internal/cmd/commands/clientagentcmd/resume.go
  internal/cmd/commands/clientagentcmd/sessions.go
  internal/cmd/commands/clientagentcmd/status.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/common/flags.go
  internal/daemon/worker/handler.go
Labels: api, core, core/daemon

#5060 Backport of https://github.com/hashicorp/boundary/pull/5027 onto release/0.16.x
  api/client.go
  api/client_test.go
  internal/cmd/base/base.go
  internal/cmd/base/flags.go
  internal/cmd/base/flags_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/authmethodscmd/ldap_funcs.go
  internal/cmd/commands/clientagentcmd/addtoken.go
  internal/cmd/commands/clientagentcmd/clientagentcmd.go
  internal/cmd/commands/clientagentcmd/pause.go
  internal/cmd/commands/clientagentcmd/resume.go
  internal/cmd/commands/clientagentcmd/sessions.go
  internal/cmd/commands/clientagentcmd/status.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/common/flags.go
  internal/daemon/worker/handler.go
Labels: api, core, core/daemon
