Repository hashicorp/boundary, pull requests merged in 2024-10, with the labels that each got.

#5140 perf(session): Avoid select when canceling session
  internal/db/schema/migrations/oss/postgres/29/01_cancel_session_null_fkey.up.sql
  internal/db/schema/migrations/oss/postgres/91/07_cancel_session_trigger.up.sql
  internal/db/sqltest/tests/session/cancel_session.sql
Labels: core/db, core, core/sql

#5138 fix(session): Fix query for orphaned connections
  internal/session/query.go
  internal/session/repository_connection.go
Labels: core/session, core, core/sql, backport/0.17.x

#5147 bump ui commit to d3c789c66c
  internal/ui/VERSION
Labels: core/ui, core

#5146 db: Re-order migrations for next release
  internal/db/schema/migrations/oss/postgres/0/50_session.up.sql
  internal/db/schema/migrations/oss/postgres/15/01_wh_rename_key_columns.up.sql
  internal/db/schema/migrations/oss/postgres/28/02_prior_session_trigger.up.sql
  internal/db/schema/migrations/oss/postgres/29/01_cancel_session_null_fkey.up.sql
  internal/db/schema/migrations/oss/postgres/72/03_session_list_perf_fix.up.sql
  internal/db/schema/migrations/oss/postgres/84/02_wh_upsert_user_refact.up.sql
  internal/db/schema/migrations/oss/postgres/92/02_session_state_tstzrange.up.sql
  internal/db/schema/migrations/oss/postgres/92/03_cancel_session_trigger.up.sql
Labels: core/db, core, core/sql

#5150 bump ui commit to 64e568bd
  internal/ui/VERSION
Labels: core/ui, core

#5149 test(e2e): Add user name to AWS resources
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_target/main.tf
  enos/modules/aws_vault/vault-instances.tf
  enos/modules/aws_vpc/main.tf
Labels: pr/no-milestone

#5158 bump ui commit to 0d55812
  internal/ui/VERSION
Labels: core/ui, core

#5153 Update multi-hop.mdx
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
Labels: website, docs/concepts, backport/website

#5157 Rab create bucket add filters link
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
Labels: website, docs/configuration, backport/website

#5165 internal/clientcache/cmd/cache: restart cache on version mismatch
  internal/clientcache/cmd/cache/wrapper_register.go
Labels: core

#5010 Added new remove the requirement for inbound network rules section
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
Labels: website, docs/concepts, backport/website

#5170 bump ui commit to 857bf01
  internal/ui/VERSION
Labels: core/ui, core

#5172 bump ui commit to 0ff91f9
  internal/ui/VERSION
Labels: core/ui, core

#5175 Dheath 0.18.0 assembly
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/aliases.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/host-discovery/aws.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-minio.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-s3-compliant.mdx
  website/content/docs/enterprise/supported-versions.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/partials/alerts/beta.mdx
  website/content/partials/alerts/enterprise-only.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

#5176 docs: Update installer download link
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts, backport/website

#5179 chore: update version and add Next to changelog post-release
  CHANGELOG.md
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core/gen, core

#5174 chore(enos): Add ipv6 cleanup permission
  enos/ci/service-user-iam/main.tf
Labels: pr/no-milestone

#5180 Client agent docs updates
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts, backport/website

#5183 docs: Clarify need to reload or restart Client Agent on Mac
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website

#5173 feat (cache): impl. soft-delete of users in cache
  internal/clientcache/internal/cache/refresh_test.go
  internal/clientcache/internal/cache/repository_refresh_token_test.go
  internal/clientcache/internal/cache/repository_token.go
  internal/clientcache/internal/cache/repository_token_test.go
  internal/clientcache/internal/db/db.go
  internal/clientcache/internal/db/schema.sql
  internal/db/option.go
  internal/db/option_test.go
  internal/db/read_writer.go
Labels: core/db, core, core/sql

#5187 test(e2e): Add retry to search test
  testing/internal/e2e/tests/base/search_test.go
Labels: pr/no-milestone

#5188 docs: Manually backport 0.18.0 updates
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

#5191 chore(docs): clarify that storage policies must be attached
  website/content/docs/concepts/domain-model/storage-policy.mdx
Labels: website, docs/concepts, backport/website

#5194 chore(docs): clarify that storage policies must be attached in order to take effect (#5191)
  website/content/docs/concepts/domain-model/storage-policy.mdx
Labels: website, docs/concepts

#5189 feat(workers): add VerifyKnownWorkers repo function
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/controller/tickers.go
  internal/server/query.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
Labels: core, core/sql, core/daemon, core/server

#5196 feat(server): refactor LookupWorkerByName to be a test method
  internal/cmd/commands/server/worker_initial_upstreams_reload_test.go
  internal/cmd/commands/server/worker_tags_reload_test.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
  internal/server/testing.go
  internal/server/testing_test.go
Labels: core, core/daemon, core/server

#5213 Clarify client agent config reload docs
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website

#5217 Clarify client agent config reload docs (#5213)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

#5200 docs: Session recording updates (#5195)
  website/content/docs/configuration/session-recording/configure-worker-storage.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
Labels: website, docs/configuration

#5220 docs/client-agent: clarify use of override_upstream_dns_servers
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website
