Repository hashicorp/boundary, pull requests merged in 2024-01, with the labels that each got.

#4108 fix(db): make bucket_prefix column immutable for storage buckets
  internal/db/schema/migrations/oss/postgres/80/01_storage_bucket.up.sql
Labels: core/db, core, core/sql

#4116 [DO NOT MERGE UNTIL EOY] EOY license updates v.0.14.x
  .copywrite.hcl
  LICENSE
  internal/proto/controller/api/.copywrite.hcl
  internal/proto/controller/custom_options/.copywrite.hcl
  internal/proto/plugin/.copywrite.hcl
Labels: pr/no-milestone

#4201 Account list pagination
  internal/auth/ldap/account.go
  internal/auth/ldap/options.go
  internal/auth/ldap/options_test.go
  internal/auth/ldap/query.go
  internal/auth/ldap/repository_account.go
  internal/auth/ldap/repository_account_test.go
  internal/auth/ldap/service_list_accounts.go
  internal/auth/ldap/service_list_accounts_ext_test.go
  internal/auth/ldap/service_list_accounts_page.go
  internal/auth/ldap/service_list_accounts_refresh.go
  internal/auth/ldap/service_list_accounts_refresh_page.go
  internal/auth/oidc/account.go
  internal/auth/oidc/options.go
  internal/auth/oidc/query.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_account_test.go
  internal/auth/oidc/service_list_accounts.go
  internal/auth/oidc/service_list_accounts_ext_test.go
  internal/auth/oidc/service_list_accounts_page.go
  internal/auth/oidc/service_list_accounts_refresh.go
  internal/auth/oidc/service_list_accounts_refresh_page.go
  internal/auth/password/account.go
  internal/auth/password/options.go
  internal/auth/password/query.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_account_test.go
  internal/auth/password/service_list_accounts.go
  internal/auth/password/service_list_accounts_ext_test.go
  internal/auth/password/service_list_accounts_page.go
  internal/auth/password/service_list_accounts_refresh.go
  internal/auth/password/service_list_accounts_refresh_page.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/db/schema/migrations/oss/postgres/80/14_account_table_updates.up.sql
  internal/db/sqltest/tests/pagination/account.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/account_service.pb.go
  internal/proto/controller/api/services/v1/account_service.proto
  internal/tests/api/accounts/account_test.go
Labels: core/db, core/gen, core/auth, core, core/proto, core/sql, core/daemon

#4115 EOY license updates
  .copywrite.hcl
  LICENSE
  internal/proto/controller/api/.copywrite.hcl
  internal/proto/controller/custom_options/.copywrite.hcl
  internal/proto/plugin/.copywrite.hcl
  internal/proto/worker/proxy/v1/.copywrite.hcl
Labels: pr/no-milestone

#4207 Move and export ExpectWorkers
  internal/tests/cluster/ipv6_listener_test.go
  internal/tests/cluster/multi_controller_worker_test.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/cluster/unix_listener_test.go
  internal/tests/cluster/util.go
  internal/tests/cluster/worker_bytesupdown_test.go
  internal/tests/cluster/worker_proxy_test.go
  internal/tests/cluster/worker_tagging_test.go
  internal/tests/helper/testing_helper.go
Labels: core

#4208 Managed group list pagination
  internal/auth/ldap/managed_group.go
  internal/auth/ldap/query.go
  internal/auth/ldap/repository_managed_group.go
  internal/auth/ldap/repository_managed_group_members_test.go
  internal/auth/ldap/repository_managed_group_test.go
  internal/auth/ldap/service_list_managed_groups.go
  internal/auth/ldap/service_list_managed_groups_ext_test.go
  internal/auth/ldap/service_list_managed_groups_page.go
  internal/auth/ldap/service_list_managed_groups_refresh.go
  internal/auth/ldap/service_list_managed_groups_refresh_page.go
  internal/auth/oidc/managed_group.go
  internal/auth/oidc/options_test.go
  internal/auth/oidc/query.go
  internal/auth/oidc/repository_managed_group.go
  internal/auth/oidc/repository_managed_group_members_test.go
  internal/auth/oidc/repository_managed_group_test.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/service_callback_test.go
  internal/auth/oidc/service_list_managed_groups.go
  internal/auth/oidc/service_list_managed_groups_ext_test.go
  internal/auth/oidc/service_list_managed_groups_page.go
  internal/auth/oidc/service_list_managed_groups_refresh.go
  internal/auth/oidc/service_list_managed_groups_refresh_page.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service_test.go
  internal/db/schema/migrations/oss/postgres/80/15_managed_group_table_updates.up.sql
  internal/db/sqltest/tests/pagination/managed_group.sql
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/managed_group_service.pb.go
  internal/proto/controller/api/services/v1/managed_group_service.proto
Labels: core/db, core/gen, core/auth, core, core/proto, core/sql, core/daemon

#4192 docs: Update release notes with fixes
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4210 docs: Backport #4192 to stable website
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4211 docs: Backport #4192 to release 0.14.x
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4218 internal/db: renumber migrations
  internal/db/schema/migrations/oss/postgres/2/10_auth.up.sql
  internal/db/schema/migrations/oss/postgres/44/01_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/46/01_credentials.up.sql
  internal/db/schema/migrations/oss/postgres/81/01_deleted_tables_and_triggers.up.sql
  internal/db/schema/migrations/oss/postgres/81/02_target_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/03_credential_static_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/04_credential_library_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/05_session_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/06_auth_token_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/07_credential_store_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/08_iam_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/09_host_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/10_host_set_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/11_auth_method_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/12_host_catalog_base_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/13_recording_session_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/14_account_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/15_managed_group_table_updates.up.sql
  internal/db/schema/migrations/oss/postgres/81/16_storage_bucket_updates.up.sql
Labels: core/db, core, core/sql

#4219 Fix linter warnings
  go.mod
  internal/authtoken/authtoken.go
  internal/authtoken/gorm.go
  internal/clientcache/cmd/daemon/status.go
  internal/clientcache/cmd/daemon/stop_nonwindows.go
  internal/clientcache/cmd/daemon/stop_windows.go
  internal/clientcache/internal/client/client_test.go
  internal/clientcache/internal/daemon/server.go
  internal/credential/vault/repository_credential_library_test.go
  internal/host/static/host_set.go
  internal/host/static/immutable_fields_test.go
Labels: core, core/host

#4215 Add support for templating key_id
  CHANGELOG.md
  internal/credential/vault/private_library.go
  internal/credential/vault/private_library_test.go
Labels: core

#4222 website: correct grammar
  website/content/docs/configuration/controller.mdx
Labels: website, docs/configuration

#4159 feat(controller): Expose rate limiting headers via CORS
  internal/daemon/controller/cors_test.go
  internal/daemon/controller/handler.go
Labels: core, core/daemon

#4095 Change session list queries to avoid using the session_list view
  internal/db/schema/migrations/oss/postgres/28/01_session_create_time_idx.up.sql
  internal/db/schema/migrations/oss/postgres/50/01_session_list_index.up.sql
  internal/db/schema/migrations/oss/postgres/81/05_session_base_table_updates.up.sql
  internal/db/sqltest/tests/pagination/session.sql
  internal/session/query.go
  internal/session/repository_session.go
  internal/session/repository_test.go
Labels: core/db, core/session, core, core/sql

#3935 Remove the deprecated old KMS worker auth mechanism
  globals/globals.go
  go.mod
  internal/cmd/base/internal/docker/supported.go
  internal/cmd/config/config.go
  internal/credential/vault/supported.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/kms_conn_router.go
  internal/daemon/controller/listeners.go
  internal/daemon/controller/listeners_test.go
  internal/daemon/controller/worker_tls_config.go
  internal/daemon/worker/auth_rotation.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/listeners.go
  internal/daemon/worker/status.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/worker.go
  internal/tests/cluster/switch_kms_method_test.go
  internal/tests/cluster/worker_replay_test.go
Labels: core, core/daemon

#4231 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#4242 Remove some long-standing commented code
  internal/daemon/controller/handler.go
Labels: core, core/daemon

#4243 Fix Unix listener causing 500s on Mac
  internal/daemon/common/client_ip.go
Labels: core, core/daemon

#4238 feat (apptoken): add support for periodic expiration interval
  internal/apptoken/app_token.go
  internal/apptoken/app_token_periodic_expiration.go
  internal/apptoken/app_token_periodic_expiration_test.go
  internal/apptoken/options.go
  internal/apptoken/options_test.go
  internal/apptoken/repository.go
  internal/apptoken/repository_create.go
  internal/apptoken/repository_create_test.go
  internal/apptoken/store/apptoken.pb.go
  internal/apptoken/validation.go
  internal/db/schema/migrations/oss/postgres/1001/01_app_tokens.up.sql
  internal/db/sqltest/tests/auth/app_token/app_token.sql
  internal/proto/controller/storage/apptoken/store/v1/apptoken.proto
Labels: core/db, core, core/proto, core/sql

#4250 Swap id field in grants to ids since that's now standardized
  internal/auth/additional_verification_test.go
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/cmd/base/initial_resources.go
  internal/cmd/commands/rolescmd/funcs.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/auth_test.go
  internal/daemon/controller/common/scopeids/scope_ids_test.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authtokens/authtoken_service_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/groups/group_service_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service_test.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service_test.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service_test.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/role_grant_test.go
  internal/iam/testing_test.go
  internal/perms/acl_test.go
  internal/perms/output_fields_test.go
  internal/perms/testdata/fuzz/FuzzParse/6bfe75c429073a6a
  internal/perms/testdata/fuzz/FuzzParse/9b33c3b84320755d
  internal/tests/api/authtokens/authtoken_test.go
  internal/tests/api/roles/role_test.go
  internal/tests/api/targets/target_test.go
  internal/website/permstable/permstable.go
  website/content/docs/commands/roles/add-grants.mdx
  website/content/docs/commands/roles/remove-grants.mdx
  website/content/docs/commands/roles/set-grants.mdx
  website/content/docs/common-workflows/manage-roles.mdx
  website/content/docs/concepts/security/permissions/resource-table.mdx
  website/content/docs/install-boundary/no-gen-resources.mdx
Labels: website, core/iam, docs/concepts, core/auth, core, core/perms, docs/workflows, core/daemon

#4254 Disable postgres JIT for boudary dev
  internal/cmd/base/internal/docker/supported.go
  testing/dbtest/docker/Dockerfile.14-alpine
  testing/dbtest/docker/Dockerfile.15-alpine
  testing/dbtest/docker/Dockerfile.16-alpine
  testing/dbtest/docker/postgresql.conf
Labels: core

#4256 internal/db: use more efficient index for host listing
  internal/db/schema/migrations/oss/postgres/81/09_host_table_updates.up.sql
  internal/db/sqltest/tests/pagination/host.sql
Labels: core/db, core, core/sql

#4229 feat (apptokens): define/generate protos for service along with some required API definitions/docs
  Makefile
  api/apptokens/apptoken.gen.go
  api/apptokens/grant.gen.go
  api/apptokens/grant_json.gen.go
  internal/api/genapi/input.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/apptoken_service.pb.go
  internal/gen/controller/api/services/apptoken_service.pb.gw.go
  internal/gen/controller/api/services/apptoken_service_grpc.pb.go
  internal/proto/controller/api/resources/apptokens/v1/apptoken.proto
  internal/proto/controller/api/services/v1/apptoken_service.proto
  sdk/pbs/controller/api/resources/apptokens/apptoken.pb.go
Labels: api, core/gen, core, core/proto

#4259 Bump UI commit
  internal/ui/VERSION
Labels: core/ui, core

#4252 Use correct argument name in log line
  internal/session/repository_connection.go
  internal/session/service_worker_status_report.go
Labels: core/session, core

#4216 Migrate proxy logic to the API package
  api/go.mod
  api/go.sum
  api/proxy/option.go
  api/proxy/option_test.go
  api/proxy/proxy.go
  api/proxy/proxy_test.go
  api/proxy/testing.go
  api/proxy/tls.go
  api/proxy/websocket.go
  api/targets/session_authorization.gen.go
  go.mod
  go.sum
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/http.go
  internal/cmd/commands/connect/kube.go
  internal/cmd/commands/connect/postgres.go
  internal/cmd/commands/connect/ssh.go
  internal/cmd/commands/server/worker_shutdown_reload_test.go
  internal/gen/controller.swagger.json
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/tests/api/proxy/proxy_test.go
  internal/tests/cluster/session_cleanup_test.go
  internal/tests/cluster/worker_proxy_test.go
  internal/tests/cluster/x509_verification_test.go
  internal/tests/helper/option.go
  internal/tests/helper/testing_helper.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: api, core/gen, core, core/proto, api/targets

#4264 refact (authmethods): remove used list auth methods
  internal/auth/ldap/repository_auth_method_read.go
  internal/auth/ldap/repository_auth_method_read_test.go
  internal/auth/oidc/repository_auth_method_read.go
  internal/auth/oidc/repository_auth_method_read_test.go
  internal/auth/password/repository_authmethod.go
  internal/auth/password/repository_authmethod_test.go
Labels: core/auth, core

#4261 fix: properly handle rows.Err()
  internal/auth/db_test.go
  internal/auth/ldap/repository_account.go
  internal/auth/ldap/repository_managed_group.go
  internal/auth/oidc/repository_account.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_managed_group.go
  internal/auth/password/repository_account.go
  internal/auth/password/repository_configuration.go
  internal/auth/password/repository_password.go
  internal/auth/repository_auth_method.go
  internal/authtoken/repository.go
  internal/credential/repository_store.go
  internal/credential/static/repository_credential.go
  internal/credential/vault/jobs.go
  internal/credential/vault/private_library.go
  internal/credential/vault/repository_credential_library.go
  internal/credential/vault/repository_credential_store_test.go
  internal/credential/vault/repository_credentials_test.go
  internal/db/README.md
  internal/db/domains_test.go
  internal/db/read_writer.go
  internal/db/read_writer_test.go
  internal/db/schema/manager_example_test.go
  internal/db/schema/migrations/oss/postgres/8/08_connection_test.go
  internal/db/schema/migrations/oss/postgres_11_01_test.go
  internal/db/schema/migrations/oss/postgres_26_01_test.go
  internal/db/schema/migrations/oss/postgres_30_01_test.go
  internal/db/schema/migrations/oss/postgres_46_01_test.go
  internal/db/schema/migrations/oss/postgres_82_02_test.go
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/repository_host.go
  internal/host/plugin/repository_host_set.go
  internal/host/repository_catalog.go
  internal/host/static/repository_host.go
  internal/host/static/repository_host_set.go
  internal/host/static/repository_host_set_member.go
  internal/iam/repository_group.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_scope.go
  internal/iam/repository_user.go
  internal/kms/kms.go
  internal/oplog/testing.go
  internal/oplog/writer.go
  internal/pagination/purge/purge.go
  internal/pagination/purge/purge_test.go
  internal/plugin/repository_plugin_test.go
  internal/scheduler/job/additional_verification_test.go
  internal/scheduler/job/repository_job.go
  internal/scheduler/job/repository_run.go
  internal/scheduler/job/testing.go
  internal/server/repository_workerauth.go
  internal/session/job_session_cleanup.go
  internal/session/repository_connection.go
  internal/session/repository_session.go
  internal/session/repository_test.go
  internal/session/rewrapping_test.go
  internal/target/repository.go
  internal/target/repository_credential_source.go
Labels: core/iam, core/db, core/oplog, core/auth, core/session, core, core/host, core/target, core/kms, core/server

#4267 fix(db): Set max storage policy days
  internal/db/schema/migrations/oss/postgres/82/06_storage_policy_max_days.up.sql
  internal/db/sqltest/tests/policy/policy_storage_policy.sql
Labels: core/db, core, core/sql

#4270 Update Boundary to latest UI
  internal/ui/VERSION
Labels: core/ui, core

#4272 Address some extra review feedback on multi scope grants
  internal/iam/group.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_role.go
  internal/iam/role.go
  internal/iam/role_grant_scope.go
  internal/proto/controller/api/resources/roles/v1/role.proto
  sdk/pbs/controller/api/resources/roles/role.pb.go
Labels: core/iam, core, core/proto

#4182 simple quote not accepted
  website/content/docs/install-boundary/no-gen-resources.mdx
Labels: website

#4280 docs: Updating redirects for old pages
  website/redirects.js
Labels: website

#4287 chore(e2e): Fix iam user creation
  enos/modules/aws_iam_setup/main.tf
Labels: pr/no-milestone

#4278 internal/db/schema: update recording indexes
  internal/db/schema/migrations/oss/postgres/82/02_recording_session.up.sql
  internal/db/sqltest/tests/pagination/session_recording.sql
Labels: core/db, core, core/sql

#4279 fix(cli): StoragePolicyId indent on list scopes
  internal/cmd/commands/scopescmd/funcs.go
Labels: core

#4285 chore: Fix typos
  internal/cmd/commands/policiescmd/funcs.go
  internal/cmd/commands/policiescmd/storage_funcs.go
  internal/cmd/commands/sessionrecordingscmd/funcs.go
  internal/cmd/commands/sessionrecordingscmd/reapply_storage_policy.go
  internal/recording/time.go
Labels: core

#4274 test(grant): Use ID to validate version check
  internal/cmd/commands/rolescmd/funcs.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/tests/cluster/recursive_anon_listing_test.go
  version/feature_manager.go
  website/content/docs/common-workflows/manage-roles.mdx
  website/content/docs/concepts/iam.mdx
  website/content/docs/concepts/security/permissions/assignable-permissions.mdx
  website/content/docs/concepts/security/permissions/index.mdx
  website/content/docs/concepts/security/permissions/permission-grant-formats.mdx
  website/content/docs/install-boundary/no-gen-resources.mdx
Labels: website, docs/concepts, core, docs/workflows, core/daemon

#4290 Remove support for 'id' field in grants
  CHANGELOG.md
  internal/cmd/commands/rolescmd/funcs.go
  internal/daemon/controller/handlers/roles/role_service.go
  version/feature_manager.go
Labels: core, core/daemon

#4291 [website] Update node, npm and next versions in website directory
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website, pr/no-milestone

#4284 internal/authtoken: use view for listing
  internal/authtoken/query.go
  internal/authtoken/repository.go
Labels: core, core/sql

#4294 [website] Backport node/npm update to stable website
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website

#4295 [website] Backport node/npm update to release 0.13.x
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website

#4296 [website] Backport node/npm update to release 0.14.x
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website

#4266 feat (apptoken): add read repository method and refactor create
  internal/apptoken/options.go
  internal/apptoken/options_test.go
  internal/apptoken/query.go
  internal/apptoken/repository_create.go
  internal/apptoken/repository_create_test.go
  internal/apptoken/repository_read.go
  internal/apptoken/repository_read_internal_test.go
  internal/apptoken/repository_read_test.go
  internal/apptoken/store/apptoken.pb.go
  internal/apptoken/testing.go
  internal/apptoken/testing_test.go
  internal/db/schema/migrations/oss/postgres/1001/01_app_tokens.up.sql
  internal/proto/controller/storage/apptoken/store/v1/apptoken.proto
Labels: core/db, core, core/proto, core/sql

#4299 docs: Backport #4280 to stable web
  website/redirects.js
Labels: website

#4300 docs: Backport #4280 to release 0.14.x
  website/redirects.js
Labels: website

#4301 [website] Added permanent: true to redirects to fix build error
  website/redirects.js
Labels: website, pr/no-milestone

#4302 fix (auth): event verify error
  internal/daemon/controller/auth/auth.go
Labels: core, core/daemon

#4303 docs: Backport redirects fix to stable web
  website/redirects.js
Labels: website

#4304 docs: Backport redirects fix to release 0.14.x
  website/redirects.js
Labels: website

#4307 Update Boundary to latest UI
  internal/ui/VERSION
Labels: core/ui, core

#3432 docs: Update resource table format
  internal/website/permstable/permstable.go
  website/content/docs/concepts/security/permissions/resource-table.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, core, event/boundary-docs-day, pr/no-milestone

#4308 Add a bit more useful worker auth output
  internal/daemon/worker/auth_rotation.go
Labels: core, core/daemon

#4289 Add new GrantsForUser test
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core

#4310 [draft] website bug fix: PR for testing purposes
  .github/workflows/backport.yml
Labels: pr/no-milestone, backport/website-test

#4313 Update Boundary to latest UI
  internal/ui/VERSION
Labels: core/ui, core

#4306 test: Randomize docker network name
  internal/credential/vault/supported.go
Labels: core, pr/no-milestone

#4318 Update Boundary to latest UI
  internal/ui/VERSION
Labels: core/ui, core

#4319 Change error message and add beginnings of sql tests
  internal/db/schema/migrations/oss/postgres/83/01_iam_role_grant_scope.up.sql
  internal/db/sqltest/tests/iam/grant_scope_validation.sql
Labels: core/db, core, core/sql

#4322 Update Boundary to latest UI
  internal/ui/VERSION
Labels: core/ui, core

#4320 Finish sqltests for multi grant scopes
  internal/db/schema/migrations/oss/postgres/83/01_iam_role_grant_scope.up.sql
  internal/db/sqltest/tests/iam/grant_scope_validation.sql
Labels: core/db, core, core/sql

#4209 docs: Update API docs
  website/content/docs/api-clients/api/index.mdx
  website/content/docs/api-clients/api/pagination.mdx
  website/content/docs/api-clients/api/rate-limiting.mdx
  website/content/docs/commands/accounts/list.mdx
  website/content/docs/commands/auth-methods/list.mdx
  website/content/docs/commands/auth-tokens/list.mdx
  website/content/docs/commands/credential-libraries/list.mdx
  website/content/docs/commands/credential-stores/list.mdx
  website/content/docs/commands/credentials/list.mdx
  website/content/docs/commands/groups/list.mdx
  website/content/docs/commands/host-catalogs/list.mdx
  website/content/docs/commands/host-sets/list.mdx
  website/content/docs/commands/hosts/list.mdx
  website/content/docs/commands/managed-groups/list.mdx
  website/content/docs/commands/roles/list.mdx
  website/content/docs/commands/scopes/list.mdx
  website/content/docs/commands/session-recordings/list.mdx
  website/content/docs/commands/sessions/list.mdx
  website/content/docs/commands/storage-buckets/list.mdx
  website/content/docs/commands/targets/list.mdx
  website/content/docs/commands/users/list.mdx
  website/data/docs-nav-data.json
  website/public/img/api-pagination/pagination-workflow.png
Labels: website

#4244 docs: Add client cache documentation
  website/content/docs/api-clients/client-cache.mdx
  website/content/docs/commands/daemon/add-token.mdx
  website/content/docs/commands/daemon/index.mdx
  website/content/docs/commands/daemon/start.mdx
  website/content/docs/commands/daemon/status.mdx
  website/content/docs/commands/daemon/stop.mdx
  website/content/docs/commands/search/index.mdx
  website/data/docs-nav-data.json
Labels: website

#4246 chore: add storage policy documentation
  website/content/docs/commands/policies/create.mdx
  website/content/docs/commands/policies/delete.mdx
  website/content/docs/commands/policies/index.mdx
  website/content/docs/commands/policies/list.mdx
  website/content/docs/commands/policies/read.mdx
  website/content/docs/commands/policies/update.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
  website/content/docs/concepts/domain-model/session-recordings.mdx
  website/content/docs/concepts/domain-model/storage-policy.mdx
  website/content/docs/configuration/session-recording/configure-storage-policy.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/update-storage-policy.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration

#4292 docs: Update `id` field for grants
  website/content/docs/commands/roles/add-grants.mdx
  website/content/docs/commands/roles/remove-grants.mdx
  website/content/docs/commands/roles/set-grants.mdx
Labels: website

#4281 docs: Update release notes
  website/content/docs/release-notes/v0_15_0.mdx
  website/data/docs-nav-data.json
Labels: website

#4325 Merge PKI & KMS docs
  website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/worker/index.mdx
  website/content/docs/configuration/worker/kms-worker.mdx
  website/content/docs/configuration/worker/pki-worker.mdx
  website/content/docs/configuration/worker/worker-configuration.mdx
  website/content/docs/install-boundary/configure-workers.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, docs/concepts, docs/configuration

#4288 docs: Add generic commands to CLI docs
  website/content/docs/commands/delete.mdx
  website/content/docs/commands/read.mdx
  website/content/docs/commands/update.mdx
  website/data/docs-nav-data.json
Labels: website

#4329 docs: Fix release note links
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4317 docs: Add multiple grant scopes commands
  website/content/docs/commands/roles/add-grant-scopes.mdx
  website/content/docs/commands/roles/index.mdx
  website/content/docs/commands/roles/remove-grant-scopes.mdx
  website/content/docs/commands/roles/set-grant-scopes.mdx
  website/content/docs/concepts/iam.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts

#4334 Client-control-plane-support-policy.mdx
  website/content/docs/enterprise/supported-versions.mdx
Labels: website, backport/website

#4339 Update supported-versions.mdx
  website/content/docs/enterprise/supported-versions.mdx
Labels: website, backport/website
