Repository hashicorp/boundary, pull requests merged in 2024-02, with the labels that each got.

#4327 chore(e2e): Name output based on scenario
  .github/workflows/enos-run.yml
Labels: pr/no-milestone

#4338 [website] Added permanent: true to redirects to fix dev portal build error
  website/redirects.js
Labels: website, pr/no-milestone

#4336 repo(targets): Add aliases to targets
  internal/alias/target/alias_test.go
  internal/alias/target/repository_alias_test.go
  internal/target/repository.go
  internal/target/repository_alias.go
  internal/target/target.go
  internal/target/targettest/target.go
  internal/target/tcp/repository_alias_test.go
  internal/target/tcp/target.go
Labels: core, core/target

#4337 api(targets): add aliases to targets
  globals/fields.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon

#4350 chore: Fix breaking change in labeler when upgrading to v5
  .github/labeler.yml
Labels: pr/no-milestone

#4298 chore(e2e): Reduce number of instances created
  enos/enos-scenario-e2e-aws.hcl
Labels: pr/no-milestone

#4348 Fix example scope id for role grants
  internal/cmd/commands/rolescmd/funcs.go
  website/content/docs/commands/roles/add-grant-scopes.mdx
Labels: website, core

#4358 docs: Backport fix for redirects to 0.15.x branch
  website/redirects.js
Labels: website

#4359 docs: Backport scope ID fix to website
  internal/cmd/commands/rolescmd/funcs.go
  website/content/docs/commands/roles/add-grant-scopes.mdx
Labels: website, core

#4326 chore(e2e): Remove tparse
  .github/workflows/enos-run.yml
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: pr/no-milestone

#4360 docs: Backport scope ID fix to 0.15.x
  internal/cmd/commands/rolescmd/funcs.go
  website/content/docs/commands/roles/add-grant-scopes.mdx
Labels: website, core

#4362 Revert "chore(e2e): Remove tparse"
  .github/workflows/enos-run.yml
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
Labels: pr/no-milestone

#4361 docs: Backport support policy updates to 0.15.x
  website/content/docs/enterprise/supported-versions.mdx
Labels: website

#4354 test(e2e): Fix error in migration test
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone

#4365 Fix docs for event filters
  website/content/docs/concepts/filtering/events.mdx
  website/content/docs/configuration/events/common.mdx
Labels: website, docs/concepts, docs/configuration

#4369 commands: fix plurals
  internal/cmd/commands/authmethodscmd/authmethods.gen.go
  internal/cmd/commands/authmethodscmd/ldap_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/oidc_authmethods.gen.go
  internal/cmd/commands/authmethodscmd/password_authmethods.gen.go
  internal/cmd/commands/authtokenscmd/authtokens.gen.go
  internal/cmd/commands/credentiallibrariescmd/credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault-generic_credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault-ssh-certificate_credentiallibraries.gen.go
  internal/cmd/commands/credentiallibrariescmd/vault_credentiallibraries.gen.go
  internal/cmd/commands/credentialstorescmd/credentialstores.gen.go
  internal/cmd/commands/credentialstorescmd/static_credentialstores.gen.go
  internal/cmd/commands/credentialstorescmd/vault_credentialstores.gen.go
  internal/cmd/commands/hostcatalogscmd/hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/plugin_hostcatalogs.gen.go
  internal/cmd/commands/hostcatalogscmd/static_hostcatalogs.gen.go
  internal/cmd/commands/hostsetscmd/hostsets.gen.go
  internal/cmd/commands/hostsetscmd/plugin_hostsets.gen.go
  internal/cmd/commands/hostsetscmd/static_hostsets.gen.go
  internal/cmd/commands/managedgroupscmd/ldap_managedgroups.gen.go
  internal/cmd/commands/managedgroupscmd/managedgroups.gen.go
  internal/cmd/commands/managedgroupscmd/oidc_managedgroups.gen.go
  internal/cmd/commands/sessionrecordingscmd/sessionrecordings.gen.go
  internal/cmd/commands/storagebucketscmd/storagebuckets.gen.go
  internal/cmd/common/help.go
  internal/cmd/gencli/templates.go
Labels: core

#4368 docs: Add links for multi grant scopes
  website/content/docs/commands/roles/create.mdx
  website/content/docs/commands/roles/update.mdx
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4375 docs: Add links for multi grant scopes - website
  website/content/docs/commands/roles/create.mdx
  website/content/docs/commands/roles/update.mdx
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4376 docs: Add links for multi grant scopes - 0.15.x
  website/content/docs/commands/roles/create.mdx
  website/content/docs/commands/roles/update.mdx
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4381 test(e2e): Fix where max_page_size is defined
  enos/modules/aws_boundary/templates/controller.hcl
  enos/modules/aws_boundary/templates/controller_bsr.hcl
Labels: pr/no-milestone

#4383 fix(bsr): acquire mutex lock on all methods of Sha256SumWriter
  internal/bsr/internal/checksum/sha256sums.go
Labels: core

#4367 docs: Clarify need for permissions to search
  website/content/docs/api-clients/client-cache.mdx
  website/content/docs/commands/daemon/add-token.mdx
Labels: website

#4387 docs: Backport search permissions to web
  website/content/docs/api-clients/client-cache.mdx
  website/content/docs/commands/daemon/add-token.mdx
Labels: website

#4388 docs: Backport search permissions to 0.15.x
  website/content/docs/api-clients/client-cache.mdx
  website/content/docs/commands/daemon/add-token.mdx
Labels: website

#4385 feat(policies): Update SDK/API to support setting/clearing attributes
  api/policies/custom.go
  api/policies/option.gen.go
  api/policies/storage_policy_attributes.gen.go
  api/policies/storage_policy_delete_after.gen.go
  api/policies/storage_policy_retain_for.gen.go
  internal/api/genapi/input.go
  internal/cmd/commands/policiescmd/storage_funcs.go
  internal/proto/controller/api/resources/policies/v1/policy.proto
  sdk/pbs/controller/api/resources/policies/policy.pb.go
Labels: api, core, core/proto

#4378 test(e2e): Add test for authentication when no keyring is available
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/modules/docker_boundary/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
  go.mod
  testing/internal/e2e/tests/base_plus/authenticate_no_keyring_test.go
  testing/internal/e2e/tests/base_plus/env_test.go
Labels: pr/no-milestone

#4386 docs: Add HCSEC-2402-02 info to release notes
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4390 docs: Backport #4386 to website
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4391 docs: Backport #4386 to release 0.15.x
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/release-notes/v0_14_0.mdx
Labels: website

#4389 fix: Proxy closing listener with 0 connections left
  CHANGELOG.md
  api/proxy/proxy.go
  api/proxy/websocket.go
Labels: api, core

#4394 chore: update deps
  .go-version
  go.mod
  go.sum
  internal/auth/oidc/rewrapping_test.go
  internal/auth/password/rewrapping_test.go
  internal/authtoken/rewrapping_test.go
  internal/bsr/convert/internal/asciicast/asciicast_test.go
  internal/credential/static/rewrapping_test.go
  internal/credential/vault/rewrapping_test.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/account_service.pb.gw.go
  internal/gen/controller/api/services/auth_method_service.pb.gw.go
  internal/gen/controller/api/services/credential_library_service.pb.gw.go
  internal/gen/controller/api/services/credential_service.pb.gw.go
  internal/gen/controller/api/services/credential_store_service.pb.gw.go
  internal/gen/controller/api/services/group_service.pb.gw.go
  internal/gen/controller/api/services/host_catalog_service.pb.gw.go
  internal/gen/controller/api/services/host_service.pb.gw.go
  internal/gen/controller/api/services/host_set_service.pb.gw.go
  internal/gen/controller/api/services/managed_group_service.pb.gw.go
  internal/gen/controller/api/services/policy_service.pb.gw.go
  internal/gen/controller/api/services/role_service.pb.gw.go
  internal/gen/controller/api/services/scope_service.pb.gw.go
  internal/gen/controller/api/services/session_recording_service.pb.gw.go
  internal/gen/controller/api/services/session_service.pb.gw.go
  internal/gen/controller/api/services/storage_bucket_service.pb.gw.go
  internal/gen/controller/api/services/target_service.pb.gw.go
  internal/gen/controller/api/services/user_service.pb.gw.go
  internal/gen/controller/api/services/worker_service.pb.gw.go
  internal/gen/testing/attribute/attribute.pb.gw.go
  internal/gen/testing/event/event.pb.gw.go
  internal/gen/testing/event/testing.swagger.json
  internal/host/plugin/rewrapping_test.go
  internal/server/rewrapping_test.go
  internal/session/rewrapping_test.go
  internal/storage/plugin/rewrapping_test.go
Labels: core/gen, core/auth, core/session, core, core/host, core/daemon, core/server

#4356 cli(aliases): Support aliases for connect and targets in the CLI
  internal/cmd/base/base.go
  internal/cmd/base/base_test.go
  internal/cmd/commands/aliasescmd/target_funcs.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/targetscmd/ssh_targets.gen.go
  internal/cmd/commands/targetscmd/targets.gen.go
  internal/cmd/commands/targetscmd/tcp_targets.gen.go
  internal/cmd/gencli/input.go
  internal/cmd/gencli/templates.go
  internal/tests/cli/boundary/_aliases.bash
  internal/tests/cli/boundary/_connect.bash
  internal/tests/cli/boundary/_targets_alias.bash
  internal/tests/cli/boundary/alias.bats
  internal/tests/cli/boundary/target_aliases.bats
Labels: core

#4405 docs: Add max # of connections to known issues
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4406 docs: Add known issue to website
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4407 docs: Add known issue to release 0.15.x
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4409 docs: Update deprecated install command
  website/content/docs/install-boundary/install.mdx
Labels: website

#4393 fix(bsr): resolve race condition errors in signature file
  internal/bsr/internal/sign/sign.go
Labels: core

#4412 docs: Backport #4409 to website
  website/content/docs/install-boundary/install.mdx
Labels: website

#4413 docs: Backport #4409 to release 0.15.x
  website/content/docs/install-boundary/install.mdx
Labels: website

#4410 test(e2e): Add option to wait for multiple sessions
  testing/internal/e2e/boundary/session.go
Labels: pr/no-milestone, backport/0.15.x

#4408 Fix linter warnings number 2
  .golangci.yml
  internal/auth/ldap/service_authenticate_test.go
  internal/auth/oidc/service_callback.go
  internal/auth/oidc/testing.go
  internal/authtoken/repository.go
  internal/authtoken/repository_test.go
  internal/cmd/base/base.go
  internal/cmd/base/dev_test.go
  internal/cmd/base/logging.go
  internal/cmd/base/servers.go
  internal/cmd/commands/config/encryptdecrypt.go
  internal/cmd/commands/config/encryptdecrypt_test.go
  internal/cmd/ops/server_test.go
  internal/credential/static/repository_credential_test.go
  internal/credential/vault/vault.go
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/authmethods/ldap_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/host/host_dns_address.go
  internal/host/host_ip_address.go
  internal/host/preferred_endpoint.go
Labels: core/auth, core, core/host, core/daemon

#4373 handlers: always return pagination parameters in list
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service_test.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service_test.go
  internal/daemon/controller/handlers/credentials/credential_service_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/groups/group_service_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service_test.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service_test.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/scopes/scope_service_test.go
  internal/daemon/controller/handlers/sessions/session_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/users/user_service_test.go
Labels: core, core/daemon

#4423 test(e2e): Verify long scripts complete successfully on tcp targets
  testing/internal/e2e/tests/base/target_tcp_connect_exec_long_lasting_script_test.go
  testing/internal/e2e/tests/base/testdata/long_lasting_test_script.sh
Labels: pr/no-milestone

#4411 test(e2e): Add test to check target's `-session-max-seconds`
  testing/internal/e2e/boundary/target.go
  testing/internal/e2e/tests/base/target_tcp_connect_session_max_seconds_test.go
Labels: pr/no-milestone, backport/0.15.x

#4428 test(e2e): Add extra buffer in -session-max-seconds test
  testing/internal/e2e/tests/base/target_tcp_connect_session_max_seconds_test.go
Labels: backport/0.15.x

#4430 fix(bats): use different target name in alias tests
  internal/tests/cli/boundary/target_aliases.bats
Labels: core

#4421 Vet/race fixes
  .github/workflows/test-race.yml
  go.mod
  go.sum
  internal/auth/ldap/service_list_accounts_ext_test.go
  internal/auth/ldap/service_list_managed_groups_ext_test.go
  internal/auth/oidc/service_list_accounts_ext_test.go
  internal/auth/oidc/service_list_managed_groups_ext_test.go
  internal/auth/password/service_list_accounts_ext_test.go
  internal/authtoken/service_list_ext_test.go
  internal/bsr/testing.go
  internal/clientcache/internal/daemon/server.go
  internal/clientcache/internal/daemon/testing.go
  internal/clientcache/internal/daemon/ticker.go
  internal/cmd/base/logging.go
  internal/cmd/base/servers.go
  internal/credential/service_list_credentials_ext_test.go
  internal/credential/service_list_libraries_ext_test.go
  internal/credential/service_list_stores_ext_test.go
  internal/daemon/cluster/handlers/testing.go
  internal/daemon/cluster/handlers/upstream_message_service_controller.go
  internal/daemon/cluster/handlers/upstream_message_service_test.go
  internal/daemon/cluster/handlers/upstream_message_service_worker.go
  internal/daemon/worker/auth_rotation_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/controller_connection_test.go
  internal/daemon/worker/countingconn_test.go
  internal/daemon/worker/listeners_test.go
  internal/daemon/worker/proxy/proxy.go
  internal/daemon/worker/proxy/proxy_conn_tracker.go
  internal/daemon/worker/proxy/proxy_conn_tracker_test.go
  internal/daemon/worker/proxy/proxy_test.go
  internal/daemon/worker/rpc_registration.go
  internal/daemon/worker/session/manager.go
  internal/daemon/worker/session/manager_test.go
  internal/daemon/worker/status.go
  internal/daemon/worker/worker.go
  internal/daemon/worker/workerdisconnect_test.go
  internal/event/eventer.go
  internal/host/plugin/service_list_host_sets_ext_test.go
  internal/host/service_list_catalogs_ext_test.go
  internal/iam/service_list_ext_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
  internal/plugin/loopback/testing_grpc_stream_test.go
  internal/session/service_list_ext_test.go
  internal/target/service_list_ext_test.go
Labels: core/iam, core/auth, core/session, core, core/perms, core/host, core/target, core/daemon

#4440 fix(e2e): Add extra buffer in -session-max-seconds test again
  testing/internal/e2e/tests/base/target_tcp_connect_session_max_seconds_test.go
Labels: backport/0.15.x

#4396 Remove worker type from CLI output
  internal/cmd/commands/workerscmd/funcs.go
Labels: core, backport/0.15.x

#4435 fix(aliases): check target alias host id on create and update
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/aliases/alias_service_test.go
Labels: core, core/daemon

#4433 feat(dev): create initial alias targets for boundary dev
  internal/cmd/base/dev.go
  internal/cmd/base/initial_resources.go
  internal/cmd/base/servers.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/daemon/controller/testing.go
Labels: core, core/daemon

#4442 Update Boundary to latest UI
  internal/ui/VERSION
Labels: core/ui, core

#4437 refact(e2e): Create vault-generic credential library helper method
  testing/internal/e2e/boundary/credential.go
  testing/internal/e2e/tests/base_with_vault/credential_store_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_connect_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_authz_token_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_ssh_test.go
  testing/internal/e2e/tests/base_with_vault/target_tcp_vault_generic_connect_test.go
  testing/internal/e2e/tests/base_with_worker/target_tcp_worker_connect_ssh_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone, backport/0.15.x

#4449 doc(kms): Fix typo
  website/content/docs/configuration/kms/azurekeyvault.mdx
Labels: website, docs/configuration, pr/no-milestone

#4451 docs: Backport #4449 to stable website
  website/content/docs/configuration/kms/azurekeyvault.mdx
Labels: website, docs/configuration

#4452 docs: Backport #4449 to release 0.15.x
  website/content/docs/configuration/kms/azurekeyvault.mdx
Labels: website, docs/configuration

#4457 doc: Fix typo in api template
  api/accounts/option.gen.go
  api/authmethods/option.gen.go
  api/authtokens/option.gen.go
  api/credentiallibraries/option.gen.go
  api/credentials/option.gen.go
  api/credentialstores/option.gen.go
  api/groups/option.gen.go
  api/hostcatalogs/option.gen.go
  api/hosts/option.gen.go
  api/hostsets/option.gen.go
  api/managedgroups/option.gen.go
  api/policies/option.gen.go
  api/roles/option.gen.go
  api/scopes/option.gen.go
  api/sessionrecordings/option.gen.go
  api/sessions/option.gen.go
  api/storagebuckets/option.gen.go
  api/targets/option.gen.go
  api/users/option.gen.go
  api/workers/option.gen.go
  internal/api/genapi/templates.go
Labels: api, api/users, api/hostsets, api/sessions, api/scopes, core, api/roles, api/authtokens, api/targets, api/authmethods, api/groups, api/hostcatalogs, api/hosts

#4458 UI commit
  internal/ui/VERSION
Labels: core/ui, core

#4464 docs: Fix broken link in worker config topic
  website/content/docs/configuration/worker/worker-configuration.mdx
Labels: website, docs/configuration

#4466 docs: Backport #4464 to stable website
  website/content/docs/configuration/worker/worker-configuration.mdx
Labels: website, docs/configuration

#4467 docs: Backport #4464 to release 0.15.x
  website/content/docs/configuration/worker/worker-configuration.mdx
Labels: website, docs/configuration

#4460 docs: Update 0.15.x release notes
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4468 docs: Backport 0.15.1 release notes update to website
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website

#4469 docs: Backport 0.15.1 release notes update to 0.15.x
  website/content/docs/release-notes/v0_15_0.mdx
Labels: website
