Repository hashicorp/boundary, pull requests merged in 2024-05, with the labels that each got.

#4760 Release Notes: adds note about future auto-role creation deprecation
  website/content/docs/release-notes/v0_16_0.mdx
Labels: website, backport/website

#4691 test(e2e): Verify host id and invalid input for aliases
  testing/internal/e2e/tests/base/alias_test.go
Labels: pr/no-milestone, backport/0.16.x

#4763 test(bats): Update aliases bats tests
  internal/tests/cli/boundary/_aliases.bash
  internal/tests/cli/boundary/alias.bats
Labels: core

#4766 docs: Fix broken link in `Worker configuration` page
  website/content/docs/configuration/worker/worker-configuration.mdx
Labels: website, docs/configuration, backport/website, pr/no-milestone

#4772 Update configure-workers.mdx
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, backport/website

#4774 docs: Backport #4772 to release 0.16.x
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website

#4771 Add hidden ferry pause and resume commands
  internal/cmd/commands/ferry/pause.go
  internal/cmd/commands/ferry/resume.go
  internal/cmd/commands/ferry/status.go
  internal/cmd/ferry_cmd_darwin.go
  internal/cmd/ferry_cmd_windows.go
  internal/cmd/main.go
Labels: core

#4770 chore: removed commented out time.sleep calls
  internal/tests/cluster/x509_verification_test.go
  internal/tests/helper/testing_helper.go
Labels: core

#4777 docs: fix broken session recording link
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
Labels: website, docs/configuration, backport/website

#4780 chore: fix workers tag cmd help strings
  internal/cmd/commands/workerscmd/funcs.go
Labels: core

#4775 docs: Update session-recordings CLI doc
  website/content/docs/commands/session-recordings/delete.mdx
  website/content/docs/commands/session-recordings/index.mdx
  website/content/docs/commands/session-recordings/read.mdx
  website/content/docs/commands/session-recordings/reapply-storage-policy.mdx
  website/data/docs-nav-data.json
Labels: website, backport/website

#4785 docs: Add bsr purpose key examples
  website/content/docs/configuration/controller.mdx
  website/content/docs/install-boundary/configure-controllers.mdx
Labels: website, docs/configuration, backport/website

#4784 Implement help endpoint with Gemini and Noop backends
  go.mod
  go.sum
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/dev/flags_test.go
  internal/cmd/config/config.go
  internal/daemon/controller/controller.go
  internal/daemon/controller/handler.go
  internal/daemon/controller/handler_test.go
  internal/daemon/controller/handlers/help/help_service.go
  internal/db/schema/migrations/oss/postgres/88/01_add_doc_table.up.sql
  internal/help/gemini/gemini.go
  internal/help/help.go
  internal/help/search.go
  internal/ratelimit/handler.go
  website/content/embed.go
Labels: website, core/db, core, core/sql, core/daemon

#4791 Add GPT-4 support
  go.mod
  internal/cmd/commands/dev/dev.go
  internal/cmd/config/config.go
  internal/daemon/controller/controller.go
  internal/help/gemini/gemini.go
  internal/help/search.go
Labels: core, core/daemon

#4792 internal/daemon/controller: add ollama help model support
  internal/cmd/commands/dev/dev.go
  internal/cmd/config/config.go
  internal/daemon/controller/controller.go
Labels: core, core/daemon

#4793 CLI support for Help Docs LLM
  api/help/custom.go
  internal/cmd/commands.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/docscmd/docs.go
  internal/cmd/main.go
  internal/daemon/controller/controller.go
  internal/help/help.go
Labels: api, core/gen, core, core/proto, core/daemon, pr/no-milestone

#4800 internal/cmd/ferry: add sessions command
  internal/cmd/commands/ferry/ferry.go
  internal/cmd/commands/ferry/sessions.go
  internal/cmd/ferry_cmd_darwin.go
  internal/cmd/ferry_cmd_windows.go
Labels: core

#4803 fix(session): Move encryption/decryption out of database transactions
  internal/session/repository_session.go
  internal/session/repository_session_test.go
  internal/session/rewrapping.go
Labels: core/session, core, backport/0.16.x

#4806 chore(bats): Fix unzip error
  .github/workflows/test-cli-ui_oss.yml
Labels: pr/no-milestone, backport/0.16.x

#4805 fix(controller): Use max request duration cluster listener
  CHANGELOG.md
  internal/daemon/controller/interceptor.go
  internal/daemon/controller/listeners.go
Labels: core, core/daemon

#4787 chore: Update to use Node20 version of Actions
  .github/configs/milestone-check.json
  .github/workflows/actionlint.yml
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  .github/workflows/jira.yml
  .github/workflows/milestone-checker.yml
Labels: pr/no-milestone, backport/0.16.x

#4809 internal/cmd: rename ferry to client-agent
  internal/cmd/base/base.go
  internal/cmd/commands.go
  internal/cmd/commands/clientagentcmd/addtoken.go
  internal/cmd/commands/clientagentcmd/clientagentcmd.go
  internal/cmd/commands/clientagentcmd/pause.go
  internal/cmd/commands/clientagentcmd/resume.go
  internal/cmd/commands/clientagentcmd/sessions.go
  internal/cmd/commands/clientagentcmd/status.go
  internal/cmd/commands/clientagentcmd/wrapper_register.go
  internal/cmd/commands/ferry/ferry.go
  internal/cmd/ferry_cmd_darwin.go
  internal/cmd/ferry_cmd_windows.go
  internal/cmd/main.go
Labels: core, backport/0.16.x

#4808 Rename daemon CLI command to cache
  CHANGELOG.md
  internal/clientcache/cmd/cache/addtoken.go
  internal/clientcache/cmd/cache/cache.go
  internal/clientcache/cmd/cache/logfile_test.go
  internal/clientcache/cmd/cache/pidfile_nonwindows.go
  internal/clientcache/cmd/cache/pidfile_test.go
  internal/clientcache/cmd/cache/pidfile_windows.go
  internal/clientcache/cmd/cache/start.go
  internal/clientcache/cmd/cache/status.go
  internal/clientcache/cmd/cache/stop.go
  internal/clientcache/cmd/cache/stop_nonwindows.go
  internal/clientcache/cmd/cache/stop_windows.go
  internal/clientcache/cmd/cache/wrapper_register.go
  internal/clientcache/cmd/daemon/daemon.go
  internal/clientcache/cmd/search/search.go
  internal/clientcache/internal/cache/repository_refresh_token.go
  internal/clientcache/internal/cache/search.go
  internal/clientcache/internal/client/client.go
  internal/clientcache/internal/db/schema.sql
  internal/cmd/search_cmd_darwin.go
  internal/cmd/search_cmd_freebsd.go
  internal/cmd/search_cmd_linux.go
  internal/cmd/search_cmd_windows.go
  internal/cmd/wrapper/command_wrapper.go
  internal/cmd/wrapper/deprecation_wrapper.go
  website/content/docs/api-clients/client-cache.mdx
  website/content/docs/commands/cache/add-token.mdx
  website/content/docs/commands/cache/index.mdx
  website/content/docs/commands/cache/start.mdx
  website/content/docs/commands/cache/status.mdx
  website/content/docs/commands/cache/stop.mdx
  website/content/docs/commands/daemon/index.mdx
  website/content/docs/commands/daemon/stop.mdx
  website/data/docs-nav-data.json
Labels: website, core, core/sql

#4815 internal/cmd: rename ferry files to client_agent
  internal/cmd/client_agent_cmd_darwin.go
  internal/cmd/client_agent_cmd_windows.go
Labels: backport/0.16.x

#4816 clientagentcmd: use "localhost" to call client agent
  internal/cmd/commands/clientagentcmd/clientagentcmd.go
Labels: core, backport/0.16.x

#4817 chore(e2e): Remove call to tparse
  enos/modules/test_e2e/main.tf
Labels: pr/no-milestone, backport/0.16.x

#4825 Add observation tags for Session Recording Service
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/session_recording_service.pb.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/api/services/v1/session_recording_service.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: core/gen, core, core/proto

#4827 Backport of Telemetry: storage bucket proto into release/0.16.x
  internal/gen/controller/api/services/storage_bucket_service.pb.go
  internal/proto/controller/api/resources/storagebuckets/v1/storage_bucket.proto
  internal/proto/controller/api/resources/targets/v1/target.proto
  internal/proto/controller/api/services/v1/storage_bucket_service.proto
  sdk/pbs/controller/api/resources/storagebuckets/storage_bucket.pb.go
  sdk/pbs/controller/api/resources/targets/target.pb.go
Labels: core/gen, core, core/proto

#4828 [Manual] Backport of Add observation tags for Session Recording Service into release/0.16.x
  internal/gen/controller.swagger.json
  internal/gen/controller/api/services/session_recording_service.pb.go
  internal/proto/controller/api/resources/sessionrecordings/v1/session_recording.proto
  internal/proto/controller/api/services/v1/session_recording_service.proto
  sdk/pbs/controller/api/resources/session_recordings/session_recording.pb.go
Labels: core/gen, core, core/proto

#4814 chore(e2e): Use AWS region specified in variable
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-variables.hcl
  enos/enos.hcl
  testing/internal/e2e/boundary/host.go
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_empty_test.go
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
  testing/internal/e2e/tests/database/env_test.go
  testing/internal/e2e/tests/database/migration_test.go
Labels: pr/no-milestone, backport/0.16.x

#4831 chore(e2e): Add aws region to UI tests
  enos/enos-scenario-e2e-ui-aws.hcl
Labels: pr/no-milestone, backport/0.16.x

#4840 chore(e2e): Add minio variables to UI test module
  enos/modules/test_e2e_ui/main.tf
Labels: pr/no-milestone, backport/0.16.x

#4839 docs: Add new telemetry to changelog
  CHANGELOG.md
Labels: backport/0.16.x

#4845 chore: update change log
  CHANGELOG.md
Labels: backport/0.16.x

#4838 docs: Update release notes for 0.16.1
  website/content/docs/release-notes/v0_16_0.mdx
Labels: website, backport/website

#4855 test: Fix tests due to time
  internal/billing/repository_test.go
  internal/daemon/controller/handlers/billing/billing_service_test.go
  internal/db/sqltest/tests/hcp/billing/monthly_active_users_all_timezone.sql
Labels: core/db, core, core/sql, core/daemon, pr/no-milestone, backport/0.16.x
