Repository hashicorp/boundary, pull requests merged in 2024-12, with the labels that each got.

#5295 test(e2e): Update openssh module to account for image changes
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/00-trust-user-ca
  enos/modules/docker_openssh_server_ca_key/custom-cont-init.d/01-allow-tcp-forwarding
  enos/modules/docker_openssh_server_ca_key/main.tf
Labels: pr/no-milestone, backport/0.18.x

#5211 Refactor redundant append operations in test setup
  internal/iam/repository_principal_role_test.go
Labels: core/iam, core

#5285 docs: Update meta content - Release notes
  website/content/docs/release-notes/index.mdx
  website/content/docs/release-notes/v0_10_0.mdx
  website/content/docs/release-notes/v0_11_0.mdx
  website/content/docs/release-notes/v0_12_0.mdx
  website/content/docs/release-notes/v0_13_0.mdx
  website/content/docs/release-notes/v0_14_0.mdx
  website/content/docs/release-notes/v0_15_0.mdx
  website/content/docs/release-notes/v0_16_0.mdx
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_1_0.mdx
  website/content/docs/release-notes/v0_2_0.mdx
  website/content/docs/release-notes/v0_3_0.mdx
  website/content/docs/release-notes/v0_4_0.mdx
  website/content/docs/release-notes/v0_5_0.mdx
  website/content/docs/release-notes/v0_6_0.mdx
  website/content/docs/release-notes/v0_7_0.mdx
  website/content/docs/release-notes/v0_8_0.mdx
  website/content/docs/release-notes/v0_9_0.mdx
Labels: website, backport/website

#5224 docs: Update meta content - Concepts
  website/content/docs/concepts/aliases.mdx
  website/content/docs/concepts/auditing.mdx
  website/content/docs/concepts/connection-workflows/connect-helpers.mdx
  website/content/docs/concepts/connection-workflows/exec-flag.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
  website/content/docs/concepts/connection-workflows/workflow-ssh-proxycommand.mdx
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/concepts/domain-model/accounts.mdx
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/auth-methods.mdx
  website/content/docs/concepts/domain-model/credential-libraries.mdx
  website/content/docs/concepts/domain-model/credential-stores.mdx
  website/content/docs/concepts/domain-model/credentials.mdx
  website/content/docs/concepts/domain-model/groups.mdx
  website/content/docs/concepts/domain-model/host-catalogs.mdx
  website/content/docs/concepts/domain-model/host-sets.mdx
  website/content/docs/concepts/domain-model/hosts.mdx
  website/content/docs/concepts/domain-model/index.mdx
  website/content/docs/concepts/domain-model/managed-groups.mdx
  website/content/docs/concepts/domain-model/roles.mdx
  website/content/docs/concepts/domain-model/scopes.mdx
  website/content/docs/concepts/domain-model/session-connections.mdx
  website/content/docs/concepts/domain-model/session-recordings.mdx
  website/content/docs/concepts/domain-model/sessions.mdx
  website/content/docs/concepts/domain-model/storage-buckets.mdx
  website/content/docs/concepts/domain-model/storage-policy.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/concepts/domain-model/users.mdx
  website/content/docs/concepts/filtering/events.mdx
  website/content/docs/concepts/filtering/index.mdx
  website/content/docs/concepts/filtering/managed-groups.mdx
  website/content/docs/concepts/filtering/resource-listing.mdx
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/concepts/host-discovery/aws.mdx
  website/content/docs/concepts/host-discovery/azure.mdx
  website/content/docs/concepts/host-discovery/index.mdx
  website/content/docs/concepts/iam.mdx
  website/content/docs/concepts/index.mdx
  website/content/docs/concepts/security/connections-tls.mdx
  website/content/docs/concepts/security/data-encryption.mdx
  website/content/docs/concepts/security/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/concepts/workers.mdx
Labels: website, docs/concepts, backport/website

#5304 internal/event: avoid reusing canceled context
  internal/event/eventer.go
  internal/event/eventer_gate_test.go
Labels: core, backport/0.18.x

#5225 docs: Update meta content - Configuration
  website/content/docs/common-workflows/manage-roles.mdx
  website/content/docs/configuration/controller.mdx
  website/content/docs/configuration/credential-management/configure-credential-brokering.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
  website/content/docs/configuration/credential-management/index.mdx
  website/content/docs/configuration/credential-management/static-cred-boundary.mdx
  website/content/docs/configuration/credential-management/static-cred-vault.mdx
  website/content/docs/configuration/identity-access-management/assignable-permissions.mdx
  website/content/docs/configuration/identity-access-management/index.mdx
  website/content/docs/configuration/identity-access-management/permission-grant-formats.mdx
  website/content/docs/configuration/identity-access-management/resource-table.mdx
  website/content/docs/configuration/index.mdx
  website/content/docs/configuration/kms/aead.mdx
  website/content/docs/configuration/kms/alicloudkms.mdx
  website/content/docs/configuration/kms/awskms.mdx
  website/content/docs/configuration/kms/azurekeyvault.mdx
  website/content/docs/configuration/kms/gcpckms.mdx
  website/content/docs/configuration/kms/index.mdx
  website/content/docs/configuration/kms/ocikms.mdx
  website/content/docs/configuration/kms/transit.mdx
  website/content/docs/configuration/listener/index.mdx
  website/content/docs/configuration/listener/tcp.mdx
  website/content/docs/configuration/listener/unix.mdx
  website/content/docs/configuration/plugins.mdx
  website/content/docs/configuration/session-recording/configure-storage-policy.mdx
  website/content/docs/configuration/session-recording/configure-worker-storage.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/content/docs/configuration/session-recording/index.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-minio.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-s3-compliant.mdx
  website/content/docs/configuration/session-recording/storage-providers/configure-s3.mdx
  website/content/docs/configuration/session-recording/update-storage-policy.mdx
  website/content/docs/configuration/worker/index.mdx
  website/content/docs/configuration/worker/worker-configuration.mdx
Labels: website, docs/configuration, docs/workflows, backport/website

#5283 docs: Update meta content - Integrations and Develop Boundary
  website/content/docs/developing/building.mdx
  website/content/docs/developing/index.mdx
  website/content/docs/developing/ui.mdx
  website/content/docs/integrations/index.mdx
  website/content/docs/integrations/vault/index.mdx
Labels: website, backport/website

#5281 docs: Update meta content - API and clients
  website/content/docs/api-clients/api/index.mdx
  website/content/docs/api-clients/api/pagination.mdx
  website/content/docs/api-clients/api/rate-limiting.mdx
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/api-clients/client-cache.mdx
  website/content/docs/api-clients/desktop.mdx
  website/content/docs/api-clients/go-sdk.mdx
  website/content/docs/api-clients/index.mdx
Labels: website, backport/website

#5280 docs: Update meta content - Troubleshoot
  website/content/docs/troubleshoot/common-errors.mdx
  website/content/docs/troubleshoot/faq.mdx
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website, backport/website

#5247 docs: Update meta content - Operations
  website/content/docs/operations/health.mdx
  website/content/docs/operations/index.mdx
  website/content/docs/operations/metrics.mdx
  website/content/docs/operations/session-recordings/index.mdx
  website/content/docs/operations/session-recordings/manage-recorded-sessions.mdx
  website/content/docs/operations/session-recordings/validate-data-store.mdx
  website/content/docs/operations/session-recordings/validate-session-recordings.mdx
Labels: website, backport/website

#5303 chore: update go dependency
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api, backport/0.18.x

#5265 docs: clarify behavior of launchctl stop and unload for client agent
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website

#5298 chore(e2e): Add object expiration policy to s3 bucket
  enos/modules/aws_bucket/main.tf
Labels: pr/no-milestone

#5331 chore: update awskms dependency
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: docs/getting-started, website, api, docs/concepts, core/db, core/gen, docs/configuration, core/auth, core/session, core, core/proto, core/host, docs/workflows, core/kms, core/sql, core/daemon, core/server

#5286 Update multi-hop.mdx - Added HCP-managed worker multi-hop
  website/content/docs/concepts/connection-workflows/multi-hop.mdx
  website/public/img/ui/multi-hop-egress-filter_dark.png
  website/public/img/ui/multi-hop-egress-filter_light.png
Labels: website, docs/concepts, backport/website

#5334 chore: Clarify GrantHash behavior when there are no GrantTuples
  internal/daemon/controller/auth/auth_test.go
  internal/perms/grants.go
  internal/perms/grants_test.go
Labels: core, core/perms, core/daemon

#5344 chore(e2e): Update AWS service user with required permission
  enos/ci/service-user-iam/main.tf
Labels: pr/no-milestone

#5164 chore(docs): Remove community-only notation for KMS keys
  website/content/docs/concepts/security/data-encryption.mdx
Labels: website, docs/concepts, backport/website

#5366 all: update crypto dependency
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  internal/gen/controller.swagger.json
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api, core/gen, core

#5367 all: update crypto dependency
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  internal/gen/controller.swagger.json
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api, core/gen, core

#5346 docs: Update release notes
  website/content/docs/release-notes/v0_16_0.mdx
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
Labels: website, backport/website

#5370 internal/daemon/worker: speed up multi-worker tests
  internal/daemon/worker/testing.go
Labels: core, core/daemon

#5234 docs: Rename directory
  website/content/docs/community/index.mdx
  website/data/docs-nav-data.json
  website/redirects.js
Labels: website, backport/website

#5364 docs: Add docs for GCP DHC
  CHANGELOG.md
  website/content/docs/concepts/host-discovery/gcp.mdx
  website/content/docs/concepts/host-discovery/index.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts

#5386 Revert "internal/daemon: speed up multi-worker tests (#5370)"
  internal/daemon/worker/testing.go
Labels: core, core/daemon

#5384 test(e2e): Add test for vault oidc provider
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/modules/docker_vault/config/config.json
  enos/modules/docker_vault/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_ui/main.tf
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
Labels: pr/no-milestone

#5382 docs: Update 0.18.x release notes
  website/content/docs/release-notes/v0_18_0.mdx
Labels: website, backport/website

#5387 internal/daemon/worker: improve runtime and reduce noise
  internal/daemon/worker/auth_rotation_test.go
Labels: core, core/daemon

#5390 test(cluster): split tests between parallel and sequential packages
  internal/daemon/controller/testing.go
  internal/daemon/worker/testing.go
  internal/tests/cluster/parallel/anon_listing_test.go
  internal/tests/cluster/parallel/doc.go
  internal/tests/cluster/parallel/ipv6_listener_test.go
  internal/tests/cluster/parallel/multi_controller_worker_test.go
  internal/tests/cluster/parallel/package_registry_test.go
  internal/tests/cluster/parallel/recursive_anon_listing_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/tests/cluster/sequential/doc.go
  internal/tests/cluster/sequential/package_registry_test.go
  internal/tests/cluster/sequential/session_cleanup_test.go
  internal/tests/cluster/sequential/worker_bytesupdown_test.go
  internal/tests/cluster/sequential/worker_proxy_test.go
  internal/tests/cluster/sequential/worker_tagging_test.go
  internal/tests/cluster/sequential/x509_verification_test.go
  internal/tests/helper/testing_helper.go
Labels: core, core/daemon

#5360 cmd: propagate keyring reading errors
  internal/clientcache/cmd/cache/addtoken.go
  internal/clientcache/cmd/search/search_test.go
  internal/clientcache/internal/cache/refresh.go
  internal/clientcache/internal/cache/repository.go
  internal/clientcache/internal/cache/repository_test.go
  internal/clientcache/internal/cache/repository_token.go
  internal/clientcache/internal/cache/repository_token_test.go
  internal/clientcache/internal/daemon/server.go
  internal/clientcache/internal/daemon/token_handler_test.go
  internal/cmd/base/base.go
  internal/cmd/base/keyring.go
  internal/cmd/commands/config/token.go
Labels: core

#5393 test(cluster): check worker status multiple times
  internal/tests/cluster/sequential/session_cleanup_test.go
Labels: core

#5394 chore: Install tools if cache restore fails
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: pr/no-milestone

#5396 fix(target): Assign session connection limit to SessionAuthorization.ConnectionLimit
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
Labels: core, core/daemon

#5397 test(server): optimize multihop worker helper func
  internal/daemon/controller/rpc_registration_test.go
  internal/daemon/worker/rpc_registration_test.go
  internal/daemon/worker/testing.go
  internal/daemon/worker/testing_test.go
  internal/daemon/worker/workerdisconnect_test.go
Labels: core, core/daemon
