Repository hashicorp/boundary, pull requests merged in 2025-08, with the labels that each got.

#5981 test(grants): Use 'continue' when iterating over expected outputs
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
Labels: core, core/daemon

#5986 chore(e2e): Ensure domain controller reboots
  enos/modules/aws_rdp_domain_controller/main.tf
Labels: pr/no-milestone

#5988 chore(e2e): Enable audio services in windows instances
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: pr/no-milestone

#5991 chore(e2e): Added checks to userdata scripts to reduce setup flakiness
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: pr/no-milestone

#5994 chore(e2e): Add support for Windows Server 2016
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/enos-scenario-e2e-aws-rdp-target.hcl
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/outputs.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_rdp_member_server_with_worker/scripts/setup.ps1
  enos/modules/aws_vault/outputs.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: pr/no-milestone

#5997 chore(e2e): Added the option to make member server kerberos only
  enos/enos-scenario-e2e-aws-rdp-base.hcl
  enos/modules/aws_rdp_domain_controller/main.tf
  enos/modules/aws_rdp_domain_controller/variables.tf
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server/variables.tf
Labels: pr/no-milestone

#5983 feat: upgrade node version to v22
  .github/workflows/test-cli-ui_oss.yml
  website/.nvmrc
  website/package-lock.json
  website/package.json
Labels: website, pr/no-milestone
