Repository hashicorp/boundary, pull requests merged in 2025-01, with the labels that each got.

#5395 chore(e2e): Update vault addresses in AWS scenarios
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/modules/aws_vault/outputs.tf
Labels: pr/no-milestone

#5400 chore(e2e): Modify gcp label to meet format constraints
  enos/modules/gcp_target/main.tf
Labels: pr/no-milestone

#4992 Add artifacts manifest (automatically generated)
  .release/boundary-artifacts.hcl
Labels: pr/no-milestone, backport/0.16.x, backport/0.17.x, backport/0.18.x

#5402 internal/session: fix race condition in connection cleanup
  internal/session/job_session_cleanup.go
Labels: core/session, core

#5405 mod: update golang.org/x/net dependency
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

#5406 mod: update golang.org/x/net dependency (0.18.x)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

#5410 chore(e2e): Modify bucket object expiration policy to 7 days
  enos/modules/aws_bucket/main.tf
Labels: pr/no-milestone

#5401 internal/event: fix log processor race
  internal/event/cloudevents_formatter_node.go
  internal/event/cloudevents_formatter_node_test.go
Labels: core

#5407 Docs: fix missing worker registration CLI steps
  website/content/docs/install-boundary/configure-workers.mdx
Labels: website, docs/installing, backport/website

#5414 chore: Only use dependabot for internal action updates
  .github/dependabot.yml
Labels: pr/no-milestone

#5409 test(e2e): Extend vault oidc test to authenticate using the OIDC auth method
  testing/internal/e2e/boundary/env.go
  testing/internal/e2e/tests/base_plus/auth_method_ldap_test.go
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
Labels: pr/no-milestone

#5420 chore: add doc string to WorkerAddress
  internal/server/repository_worker.go
Labels: core, core/server

#5148 fix(db): Remove begin when assembling migrations
  internal/db/schema/internal/edition/edition.go
  internal/db/schema/internal/edition/edition_test.go
Labels: core/db, core

#5422 feat(cmd): Default to azure plugin when performing db migration
  internal/cmd/commands/database/migrate.go
Labels: core

#5424 test(e2e): Add increased retries in bytes up/down tests due to worker status report changes
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
Labels: pr/no-milestone

#5425 chore: Modify tparse check
  .github/workflows/test-race.yml
  .github/workflows/test.yml
Labels: pr/no-milestone

#5423 test(e2e): Add test for `connect http`
  enos/modules/docker_openssh_server/custom-cont-init.d/01-allow-tcp-forwarding
  enos/modules/docker_openssh_server/main.tf
  testing/internal/e2e/tests/base/target_tcp_connect_http_test.go
  testing/internal/e2e/tests/base_with_vault/auth_method_oidc_vault_test.go
Labels: pr/no-milestone

#5433 Update what-is-boundary.mdx
  website/content/docs/overview/what-is-boundary.mdx
Labels: website, backport/website

#5442 chore: Handle build-ui case when there's multiple artifacts
  scripts/build-ui.sh
Labels: pr/no-milestone

#5434 fix(alias): set parent scope id for alias resource
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/aliases/grants_test.go
Labels: core, core/daemon

#5435 fix(worker): set parent scope id for worker resource
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
Labels: core, core/daemon

#5436 fix(user): children scopes being filtered out by grants for user
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/users/user_service.go
Labels: core, core/daemon

#5439 fix(scope): set parent scope id for worker resource
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
Labels: core, core/daemon

#5447 fix(target): set parent scope id for target resource
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
Labels: core, core/daemon

#5449 bump-ui-commit-904864b14
  internal/ui/VERSION
Labels: core/ui, core

#5446 chore: Add permissions to CI user
  enos/ci/service-user-iam/main.tf
Labels: pr/no-milestone

#5450 test(e2e): Address flakiness in bytes up/down test
  testing/internal/e2e/tests/base/bytes_up_down_empty_test.go
  testing/internal/e2e/tests/base/bytes_up_down_test.go
Labels: pr/no-milestone

#5452 fix(roles): set parent scope id for roles resource
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/roles/role_service.go
Labels: core, core/daemon

#5453 test(managed-group): add grants test coverage
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
Labels: core, core/daemon

#5455 fix(host): set parent scope id for host resource
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
Labels: core, core/daemon

#5456 fix(host-set): set parent scope id for host-set resource
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
Labels: core, core/daemon

#5457 fix(host-catalog): set parent scope id for host-catalog resource
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
Labels: core, core/daemon

#5458 fix(credential-store): set parent scope id for credential-store resource
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
Labels: core, core/daemon

#5459 fix(credential): set parent scope id for credential resource
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/grants_test.go
Labels: core, core/daemon

#5431 fix(accounts): bug grants filter children accounts
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/grants_test.go
Labels: core/iam, core, core/daemon

#5445 refactor(server): refactor worker tags
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/server/repository_worker.go
  internal/server/repository_worker_test.go
  internal/server/worker.go
  internal/server/worker_tag.go
  internal/server/worker_tag_test.go
  internal/server/worker_tags_test.go
  internal/server/worker_test.go
Labels: core, core/daemon, core/server

#5451 fix(authtokens): set parent scope ID for auth token resource
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/authtokens/grants_test.go
Labels: core/iam, core, core/daemon

#5463 fix(credentiallibraries): set parent scope ID
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
Labels: core/iam, core, core/daemon

#5437 Restrict concurrent password hashes
  CHANGELOG.md
  go.mod
  go.sum
  internal/auth/password/argon2.go
  internal/auth/password/argon2_test.go
  internal/auth/password/permitpool.go
  internal/auth/password/permitpool_test.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/daemon/controller/controller.go
Labels: core/auth, core, core/daemon

#5471 bump ui commit 064375d45
  internal/ui/VERSION
Labels: core/ui, core

#5469 chore(hcp): Update use of license module
  enos/ci/hcp-resources/main.tf
Labels: pr/no-milestone

#5418 Bug: fix groups in children scopes being filtered out by grants
  CHANGELOG.md
  internal/authtoken/testing.go
  internal/daemon/controller/auth/testing.go
  internal/daemon/controller/common/scopeids/scope_ids.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/authtokens/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentials/grants_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/groups/grants_test.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/iam/testing.go
Labels: core/iam, core, core/daemon

#5472 internal/scheduler/job: fix test failure
  internal/scheduler/job/repository_job_test.go
Labels: core

#5454 docs: Adds conflicts with Huntress EDR
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website

#5475 bump ui commit fed32aa57
  internal/ui/VERSION
Labels: core/ui, core

#5481 fix(alias): remove unnecessary subquery from alias refresh
  internal/alias/target/repository_alias_list_resolvable.go
Labels: core, backport/0.17.x, backport/0.18.x

#5485 bump ui commit 639aa47e1
  internal/ui/VERSION
Labels: core/ui, core

#5484 fix(worker): add GCP plugin support on the worker
  internal/daemon/worker/worker.go
Labels: core, core/daemon

#5488 bump ui commit c72d4f35a
  internal/ui/VERSION
Labels: core/ui, core

#5490 bump ui commit ae1e6d2
  internal/ui/VERSION
Labels: core/ui, core, backport/0.19.x

#5492 bump ui commit ae1e6d2
  internal/ui/VERSION
Labels: core/ui, core

#5476 Remove web team from CODEOWNERS for content directories
  CODEOWNERS
Labels: pr/no-milestone

#5495 fix(scheduler): ignore 404 when updating job run
  internal/scheduler/job/repository_run.go
  internal/scheduler/scheduler.go
Labels: core, backport/0.19.x

#5480 docs: Update release notes
  website/content/docs/release-notes/v0_19_0.mdx
  website/data/docs-nav-data.json
Labels: website, backport/0.19.x

#5489 Docs: update worker filter UI
  website/content/docs/concepts/filtering/worker-tags.mdx
  website/content/docs/configuration/credential-management/static-cred-vault.mdx
  website/content/docs/configuration/session-recording/create-storage-bucket.mdx
  website/content/docs/configuration/session-recording/enable-session-recording.mdx
  website/public/img/enable-session-recording.png
  website/public/img/session-rec-worker-filter-dark.png
  website/public/img/session-rec-worker-filter-light.png
  website/public/img/target-worker-filter-dark.png
  website/public/img/target-worker-filter-light.png
  website/public/img/ui/enable-session-recording_dark.png
  website/public/img/ui/enable-session-recording_light.png
  website/public/img/ui/session-rec-worker-filter_dark.png
  website/public/img/ui/session-rec-worker-filter_light.png
  website/public/img/ui/target-ingress-worker-filter_dark.png
  website/public/img/ui/target-ingress-worker-filter_light.png
  website/public/img/ui/vault-worker-filter_dark.png
  website/public/img/ui/vault-worker-filter_light.png
  website/public/img/vault-worker-filter-dark.png
  website/public/img/vault-worker-filter-light.png
Labels: website, docs/concepts, docs/configuration, backport/0.19.x

#5430 docs: Update DHC workflows
  website/content/docs/concepts/host-discovery/aws.mdx
  website/content/docs/concepts/host-discovery/azure.mdx
  website/content/docs/concepts/host-discovery/gcp.mdx
  website/content/docs/concepts/host-discovery/index.mdx
Labels: website, docs/concepts, backport/0.19.x

#5479 Update index.mdx, added note about credentials command
  website/content/docs/commands/credentials/index.mdx
Labels: website, backport/website

#5499 chore(e2e): Add note for modifying `/etc/hosts`
  enos/README.md
Labels: pr/no-milestone
