Repository hashicorp/boundary, pull requests merged in 2025-05, with the labels that each got.

#5709 bump ui commit ca3972c
  internal/ui/VERSION
Labels: core/ui, core, backport/0.19.x

#5670 docs: Note that IPv4 and IPv6 are mandatory
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration, backport/website

#5673 ListResolvableAliasesPermissions Hotfix
  internal/alias/target/repository_alias_list_resolvable.go
  internal/alias/target/service_list_resolvable_ext_test.go
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: core, core/perms

#5714 Update mod files and oauth2 dep
  api/go.mod
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

#5674 docs: Update Client Agent errors and conflicting software
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website

#5717 docs: Update Client Agent errors and conflicting software (#5674)
  website/content/docs/api-clients/client-agent.mdx
Labels: website

#5720 Update Go (1.23.9) and dependencies
  .go-version
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

#5704 chore(e2e): Added support for boundary license to be an env for enos
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/enos.vars.hcl
  enos/modules/read_license/main.tf
Labels: pr/no-milestone

#5708 docs: Update release notes
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, backport/website

#5726 docs: Update 0.19.2 release notes in release branch (#5708)
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

#5732 docs: Fix incomplete sentence
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website, backport/website

#5729 Dkanney update changelog release/0.19.2
  CHANGELOG.md
  internal/gen/controller.swagger.json
Labels: core/gen, core

#5736 docs: Fix incomplete sentence (#5732)
  website/content/docs/troubleshoot/troubleshoot-recorded-sessions.mdx
Labels: website

#5612 feat: grantsForUser for Global Resources
  go.mod
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core/db, core/gen, core/auth, core, core/proto, core/perms, core/host, core/sql, core/daemon

#5599 Normalize fields across various Boundary components
  globals/errors.go
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/testing.go
  internal/cmd/base/dev.go
  internal/cmd/base/listener.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/dev/dev.go
  internal/cmd/commands/server/server.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/credential/vault/testing.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/controller_connection.go
  internal/daemon/worker/handler.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/static/repository_host_test.go
  internal/ratelimit/handler_test.go
  internal/session/session.go
  internal/session/session_connect_with_test.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/tests/api/targets/target_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/util/net.go
  internal/util/net_test.go
Labels: core/auth, core/session, core, core/host, core/target, core/daemon

#5701 Bosorawis domain iam implement role grant scopes all
  internal/iam/repository_role.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_test.go
  internal/iam/role.go
  internal/iam/role_grant_scope.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
Labels: core/iam, core/db, core, core/proto, core/sql

#5742 test(e2e): Skip pagination tests until large estimated count bug is addressed
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: pr/no-milestone

#5743 test(e2e): Better skip message
  testing/internal/e2e/tests/base/paginate_account_test.go
  testing/internal/e2e/tests/base/paginate_auth_token_test.go
  testing/internal/e2e/tests/base/paginate_credential_store_test.go
  testing/internal/e2e/tests/base/paginate_credential_test.go
  testing/internal/e2e/tests/base/paginate_group_test.go
  testing/internal/e2e/tests/base/paginate_host_catalog_test.go
  testing/internal/e2e/tests/base/paginate_host_set_test.go
  testing/internal/e2e/tests/base/paginate_host_test.go
  testing/internal/e2e/tests/base/paginate_managed_group_test.go
  testing/internal/e2e/tests/base/paginate_role_test.go
  testing/internal/e2e/tests/base/paginate_scope_test.go
  testing/internal/e2e/tests/base/paginate_session_test.go
  testing/internal/e2e/tests/base/paginate_target_test.go
  testing/internal/e2e/tests/base/paginate_user_test.go
Labels: pr/no-milestone

#5663 feat: grantsForUser for Org resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core/db, core, core/proto, core/sql

#5741 Update what-is-boundary.mdx
  website/content/docs/overview/what-is-boundary.mdx
Labels: website, backport/website

#5669 feat: grantsForUser for Project resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core, core/sql

#5748 Change reqScope parameter type from `Scope` to `string`
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core, core/sql

#5631 Test: GrantsForUser for Accounts for various user to role relationships
  internal/iam/repository_role_grant_ext_test.go
Labels: core/iam, core

#5751 Update transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
Labels: website, docs/configuration, backport/website

#5746 docs: Add HCPb grants issue and fix
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/configuration, backport/website

#5760 docs: Add HCPb grants issue and fix (#5746)
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/commands/database/init.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/configuration

#5757 Migrate GitHub Actions updates from TSCCR to Dependabot
  .github/dependabot.yml
Labels: dependapatch

#5755 test(e2e): Test for scopes permission defect
  testing/internal/e2e/tests/base/scope_permissions_test.go
Labels: pr/no-milestone

#5761 docs: Update TS documentation for GA
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/connection-workflows/index.mdx
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/content/docs/install-boundary/install-clients.mdx
  website/data/docs-nav-data.json
Labels: website, docs/concepts, docs/configuration, backport/website

#5799 Remove Duplicate Error Check
  internal/server/rewrapping.go
Labels: core, core/server

#5478 docs: Add interoperability matrix
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/configuration/target-aliases/transparent-sessions.mdx
  website/data/docs-nav-data.json
Labels: website, docs/configuration, backport/website

#5810 boundary/mini-docs day 2 - configuration/worker/index (#5730)
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

#5783 feat: grantsForUser for recursive Project resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core, core/sql

#5802 docs: Document known issue with transparent sessions
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts, backport/website

#5817 Backport of docs: Document known issue with transparent sessions into release/0.19.x
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts
