Repository hashicorp/boundary, pull requests merged in 2025-07, with the labels that each got.

#5894 UpdateControllerStatus:Update Hotfix
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/server

#5895 bump ui commit bd1b854
  internal/ui/VERSION
Labels: core/ui, core, backport/0.19.x

#5896 Backport of bump ui commit bd1b854 into release/0.19.x
  internal/ui/VERSION
Labels: core/ui, core

#5897 Backport of UpdateControllerStatus:Update Hotfix into release/0.19.x
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/server

#5899 fix(bug): authorized_collection_actions not returning from host-catalog
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
Labels: core, core/daemon

#5907 Backport of Allow rollbacks of migrations if hooks fail into release/0.19.x
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
  internal/db/schema/migrations/oss/postgres_97_01_test.go
Labels: core/db, core

#5891 feat: add MySQL command support PORT
  CHANGELOG.md
  enos/modules/test_e2e_docker/test.sh
  internal/cmd/commands.go
  internal/cmd/commands/connect/connect.go
  internal/cmd/commands/connect/mysql.go
  testing/internal/e2e/infra/docker.go
  testing/internal/e2e/tests/base/target_tcp_connect_mysql_test.go
  website/content/docs/commands/connect/index.mdx
  website/content/docs/commands/connect/mysql.mdx
  website/data/docs-nav-data.json
Labels: website, core

#5908 fix(bug): database migration does not rollback schema version on hook failure
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/internal/postgres/postgres_test.go
  internal/db/schema/manager.go
  internal/db/schema/manager_test.go
  internal/db/schema/testdata/hooks/updated/2/01_another_update.up.sql
Labels: core/db, core, core/sql, backport/0.19.x

#5914 Backport of fix(bug): runMigrations not using named returned properly into release/0.19.x
  internal/db/schema/internal/postgres/postgres.go
  internal/db/schema/manager.go
Labels: core/db, core

#5852 docs: Release notes for 0.19.3
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, backport/website

#5924 Backport of docs: Fix table row spacing into release/0.19.x
  website/content/docs/concepts/domain-model/scopes.mdx
Labels: website, docs/concepts

#5926 docs: Note that keyboard-interactive auth is not supported
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#5929 docs: Note that keyboard-interactive auth is not supported (#5926)
  website/content/docs/concepts/credential-management.mdx
  website/content/docs/configuration/credential-management/configure-credential-injection.mdx
Labels: website, docs/concepts, docs/configuration

#5935 chore(e2e): Fix availability zone check
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-aws-base.hcl
  enos/enos-scenario-e2e-aws.hcl
  enos/enos-scenario-e2e-database.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/modules/aws_az_finder/main.tf
Labels: pr/no-milestone

#5941 docs: add Alias, Storage Policy to domain model overview
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts, backport/website

#5946 docs: add Alias, Storage Policy to domain model overview (#5941)
  website/content/docs/concepts/domain-model/aliases.mdx
  website/content/docs/concepts/domain-model/index.mdx
Labels: website, docs/concepts

#5948 chore(e2e): Add option for specifying windows format
  enos/scripts/test_e2e_env.sh
Labels: pr/no-milestone

#5951 Cassandra Connect Warn Hotfix
  internal/cmd/commands/connect/cassandra.go
Labels: core

#5957 docs: Clarify that grants migration is automatic for HCP (#5949)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

#5958 docs: Clarify that grants migration is automatic for HCP (#5949)
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website

#5939 bug: fix multiple connections to same listen port hanging CLI
  internal/cmd/commands/connect/connect.go
  testing/internal/e2e/tests/base/target_tcp_connect_listen_port_test.go
Labels: core

#5960 Backport of Update credential-libraries.mdx into release/0.19.x
  website/content/docs/concepts/domain-model/credential-libraries.mdx
Labels: website, docs/concepts

#5936 docs: Client Agent 0.19.6 updates
  website/content/docs/concepts/transparent-sessions.mdx
  website/content/docs/configuration/target-aliases/interoperability-matrix.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts, docs/configuration, backport/website
