Repository hashicorp/boundary, pull requests merged in 2025-06, with the labels that each got.

#5733 feat: migration hook grants refactor
  internal/db/schema/migrations/oss/internal/hook96007/hook.go
  internal/db/schema/migrations/oss/internal/hook96007/query.go
  internal/db/schema/migrations/oss/oss.go
  internal/db/schema/migrations/oss/postgres/96/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/96/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/96/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/96/04_resource.up.sql
  internal/db/schema/migrations/oss/postgres/96/05_iam_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/06_iam_role_grant.up.sql
  internal/db/schema/migrations/oss/postgres/96/07_oplog_ticket.up.sql
  internal/db/schema/migrations/oss/postgres_96_07_test.go
Labels: core/iam, core/db, core, core/proto, core/perms, core/types, core/sql, core/daemon

#5807 feat: grantsForUser for Global/Org/Project resources
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core, core/sql

#5828 docs: Update transparent session known issue
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts, backport/website

#5830 Backport of docs: Update transparent session known issue into release/0.19.x
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts

#5834 docs: Add Client Agent commands to CLI docs (#5826)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

#5833 docs: Add Client Agent commands to CLI docs (#5826)
  website/content/docs/commands/client-agent/index.mdx
  website/content/docs/commands/client-agent/pause.mdx
  website/content/docs/commands/client-agent/resume.mdx
  website/content/docs/commands/client-agent/sessions.mdx
  website/content/docs/commands/client-agent/status.mdx
  website/data/docs-nav-data.json
Labels: website

#5835 add authorized actions tests for resources with sub-resources
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

#5750 feat: grants: add resource type parameters to GrantsForUser
  internal/auth/additional_verification_test.go
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/auth_test.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/auth/options_test.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/aliases/alias_service.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/authtokens/authtoken_service.go
  internal/daemon/controller/handlers/billing/billing_service.go
  internal/daemon/controller/handlers/credentiallibraries/credentiallibrary_service.go
  internal/daemon/controller/handlers/credentials/credential_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/groups/group_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/managed_groups/managed_group_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/sessions/session_service.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/daemon/controller/handlers/workers/worker_service.go
  internal/daemon/controller/interceptor_test.go
  internal/iam/options.go
  internal/iam/options_test.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core/auth, core, core/daemon

#5823 Support previous grants use-cases
  internal/auth/additional_verification_test.go
  internal/auth/ldap/managed_group_role_grants_test.go
  internal/auth/oidc/testing.go
  internal/daemon/controller/auth/auth.go
  internal/daemon/controller/auth/option.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/authmethods/authmethod_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/host_catalogs/host_catalog_service.go
  internal/daemon/controller/handlers/roles/role_service.go
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/scopes/scope_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_scope.go
  internal/iam/testing.go
  internal/tests/api/roles/role_test.go
  internal/types/scope/scope.go
  internal/types/scope/scope_test.go
Labels: core/iam, core/auth, core, core/types, core/sql, core/daemon

#5822 Refactor GrantsForUser subqueries to use aggregate functions
  internal/iam/query.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core, core/sql

#5825 Postgres 15 -> 16 Migration Update
  internal/db/schema/migrations/oss/postgres/85/02_alias_domain.up.sql
  internal/db/schema/migrations/oss/postgres/96/01_update_wt_alias_constraints.up.sql
Labels: core/db, core, core/sql

#5844 Fix global scope's parent scope id
  internal/iam/query.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core, core/sql

#5837 Clean up migrated tables
  internal/db/schema/migrations/oss/postgres/96/05_table_cleanup.up.sql
  internal/db/schema/migrations/oss/postgres_96_03_test.go
Labels: core/db, core, core/sql

#5836 Resolve GrantsForUser queries via resolveQuery()
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_ext_test.go
  internal/iam/repository_role_grant_test.go
Labels: core/iam, core/db, core, core/sql

#5845 add grants tests for scope resource
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core/iam, core/db, core/auth, core, core/proto, core/perms, core/host, core/types, core/sql, core/daemon

#5865 add grants tests for scope resource
  internal/daemon/controller/handlers/scopes/grants_test.go
Labels: core, core/daemon

#5869 test: add grants test for user resource and fix ACL bug
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/users/user_service.go
  internal/perms/acl.go
  internal/perms/acl_test.go
Labels: website, core/iam, core/auth, core/ui, core, core/perms, core/host, core/types, core/daemon

#5874 Remove redundant TestCatalog initialization logic
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core, core/daemon

#5877 bug: fix list target permissions resource ID overriding all resource grants
  internal/daemon/controller/handlers/sessions/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/session/repository.go
  internal/target/repository.go
Labels: core/session, core, core/target, core/daemon

#5879 test: add grants tests for user resource (extended)
  internal/daemon/controller/handlers/users/grants_test.go
Labels: core, core/daemon

#5884 Add grants tests for hosts resource
  internal/daemon/controller/handlers/hosts/grants_test.go
Labels: core, core/daemon

#5886 Closing file unconditionally
  internal/cmd/commands/connect/postgres.go
Labels: core
