Repository hashicorp/boundary, pull requests merged in 2025-02, with the labels that each got.

#5508 bump ui commit 835b302c1
  internal/ui/VERSION
Labels: core/ui, core, backport/0.19.x

#5510 fix(worker): set session.CloseCallTimeout to non-zero value
  internal/daemon/worker/worker.go
  internal/daemon/worker/worker_test.go
Labels: core, core/daemon, backport/0.19.x

#5512 bump ui commit to c9a74f2
  internal/ui/VERSION
Labels: core/ui, core, backport/0.19.x

#5515 docs: add note about MacOS 15.1, 15.2 incompatibility
  website/content/docs/api-clients/client-agent.mdx
  website/content/docs/concepts/transparent-sessions.mdx
Labels: website, docs/concepts, backport/website

#5514 Docs: add AWS DHC policy examples
  website/content/docs/commands/host-catalogs/create.mdx
  website/content/docs/concepts/host-discovery/aws.mdx
Labels: website, docs/concepts, backport/0.19.x

#5522 fix: resolve small issues in db transactions
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_managed_group_members.go
  internal/auth/repository_auth_method.go
  internal/credential/repository_store.go
  internal/host/options.go
  internal/host/options_test.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_set.go
  internal/host/repository_catalog.go
  internal/host/static/repository_host.go
  internal/iam/repository.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_storage_bucket_credential_state.go
Labels: core/iam, core/auth, core, core/host, core/server, backport/0.19.x

#5524 backport fixes for the database transactions issue
  internal/auth/ldap/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_managed_group_members.go
  internal/auth/repository_auth_method.go
  internal/credential/repository_store.go
  internal/credential/vault/jobs.go
  internal/credential/vault/vault_token.go
  internal/daemon/controller/handler.go
  internal/host/options.go
  internal/host/options_test.go
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_set.go
  internal/host/repository_catalog.go
  internal/host/static/repository_host.go
  internal/iam/repository.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_user.go
  internal/oplog/writer.go
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_storage_bucket_credential_state.go
Labels: core/iam, core/oplog, core/auth, core, core/host, core/daemon, core/server

#5526 backport database transaction fix
  internal/auth/ldap/repository_auth_method_create.go
  internal/auth/oidc/repository_auth_method.go
  internal/auth/oidc/repository_auth_method_create.go
  internal/auth/oidc/repository_managed_group_members.go
  internal/auth/repository_auth_method.go
  internal/credential/repository_store.go
  internal/credential/vault/jobs.go
  internal/credential/vault/vault_token.go
  internal/daemon/controller/handler.go
  internal/host/options.go
  internal/host/options_test.go
  internal/host/plugin/job_set_sync.go
  internal/host/plugin/options.go
  internal/host/plugin/options_test.go
  internal/host/plugin/repository_host_catalog.go
  internal/host/plugin/repository_host_set.go
  internal/host/repository_catalog.go
  internal/host/static/repository_host.go
  internal/iam/repository.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_user.go
  internal/oplog/writer.go
  internal/server/options.go
  internal/server/options_test.go
  internal/server/repository_worker.go
  internal/server/repository_worker_storage_bucket_credential_state.go
Labels: core/iam, core/oplog, core/auth, core, core/host, core/daemon, core/server

#5528 mod: update golang.org/x/net dependency (0.17.x)
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

#5530 docs: Update release date
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, backport/0.19.x

#5531 chore: update version to 0.17.4
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core/gen, core

#5529 docs: update changelog to include security dependency updates
  CHANGELOG.md
Labels: pr/no-milestone

#5533 docs: Update 0.17.x and 0.18.x release notes
  website/content/docs/release-notes/v0_17_0.mdx
  website/content/docs/release-notes/v0_18_0.mdx
Labels: website, backport/0.19.x

#5537 chore: add 0.17.4 changelog & version
  CHANGELOG.md
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core/gen, core, pr/no-milestone

#5538 chore: add 0.18.3 changelog & version
  CHANGELOG.md
  internal/gen/controller.swagger.json
  version/VERSION
Labels: core/gen, core, pr/no-milestone

#5536 chore: Update changelog dates
  CHANGELOG.md
Labels: pr/no-milestone

#5540 chore: update API version to 0.19.1 in controller.swagger.json
  internal/gen/controller.swagger.json
Labels: core/gen, core

#5539 chore: bump sdk & api deps
  go.mod
Labels: pr/no-milestone

#5542 chore: Update github actions to latest trusted (0.18.x)
  .github/workflows/actionlint.yml
  .github/workflows/backport.yml
  .github/workflows/build.yml
  .github/workflows/enos-fmt.yml
  .github/workflows/enos-run.yml
  .github/workflows/fuzz.yml
  .github/workflows/linting.yml
  .github/workflows/make-gen-delta.yml
  .github/workflows/schema-diff.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-ci-bootstrap-oss.yml
  .github/workflows/test-ci-cleanup-oss.yml
  .github/workflows/test-cli-ui_oss.yml
  .github/workflows/test-race.yml
  .github/workflows/test-sql.yml
  .github/workflows/test.yml
  .github/workflows/trigger-merge-to-downstream.yml
Labels: pr/no-milestone

#5543 docs/client-agent: add warning about MacOS 15
  website/content/docs/api-clients/client-agent.mdx
Labels: website

#5544 docs: Fixes examples for alias_refresh_interval & dns_request_timeout
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website

#5548 Backport: Fixes examples for alias_refresh_interval & dns_request_timeout…
  website/content/docs/api-clients/client-agent.mdx
Labels: website

#5547 Backport: fixes examples for alias_refresh_interval & dns_request_timeout
  website/content/docs/api-clients/client-agent.mdx
Labels: website

#5553 test(e2e): Differentiate between public and private vault addresses
  enos/enos-scenario-e2e-aws-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-aws.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/modules/aws_vault/outputs.tf
  enos/modules/docker_vault/main.tf
  enos/modules/test_e2e/main.tf
  enos/modules/test_e2e_docker/main.tf
  enos/modules/test_e2e_docker/test_runner.sh
  enos/modules/test_e2e_ui/main.tf
  testing/internal/e2e/tests/base_with_vault/env_test.go
  testing/internal/e2e/tests/base_with_worker/env_test.go
Labels: pr/no-milestone, backport/0.19.x

#5555 fixes incorrect AssumeRole policy
  website/content/docs/concepts/host-discovery/aws.mdx
Labels: website, docs/concepts, backport/website

#5549 Restore soft deleted users on authentication
  internal/clientcache/internal/cache/refresh.go
  internal/clientcache/internal/cache/repository_token.go
  testing/internal/e2e/tests/base/search_test.go
Labels: core

#5565 docs: Fix a typo in page title
  website/content/docs/concepts/domain-model/storage-policy.mdx
Labels: website, docs/concepts, backport/website
