Repository hashicorp/boundary, pull requests merged in 2025-04, with the labels that each got.

#5639 chore: remove dead target service code
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

#5640 chore: remove more dead code
  internal/auth/oidc/auth_method.go
  internal/auth/oidc/auth_method_test.go
  internal/auth/oidc/provider_test.go
  internal/clientcache/internal/cache/consts.go
  internal/clientcache/internal/cache/repository_token_test.go
  internal/cmd/commands/aliasescmd/funcs.go
  internal/cmd/commands/connect/connect.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/host_sets/host_set_service.go
  internal/oplog/testing.go
  internal/types/subtypes/attributes_test.go
Labels: core/oplog, core/auth, core, core/types, core/daemon

#5573 test: add grants tests for host_catalogs
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
Labels: core/iam, core/auth, core, core/perms, core/daemon

#5569 Add grants tests for authmethods
  internal/daemon/controller/handlers/authmethods/grants_test.go
Labels: core/iam, core/auth, core, core/daemon

#5591 test(hostsets): add grants tests
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/host/static/testing.go
Labels: core, core/host, core/daemon

#5626 Bosorawis domain iam role subtypes
  Makefile
  globals/globals.go
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/schema/migrations/oss/postgres/100/05_iam_grant.up.sql
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/store/role_global.pb.go
  internal/iam/store/role_org.pb.go
  internal/iam/store/role_project.pb.go
  internal/proto/controller/storage/iam/store/v1/role_global.proto
  internal/proto/controller/storage/iam/store/v1/role_org.proto
  internal/proto/controller/storage/iam/store/v1/role_project.proto
Labels: core/iam, core/db, core, core/proto, core/sql

#5592 test: credentials store grants
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
Labels: core/iam, core/auth, core, core/perms, core/types, core/daemon

#5648 Backport of chore(e2e): Address issue with deleting roles/policies into release/0.17.x
  enos/modules/aws_boundary/iam.tf
  enos/modules/aws_vault/iam.tf
  enos/modules/aws_worker/iam.tf
Labels: pr/no-milestone

#5637 docs: Update caveats about HCP and TTL
  website/content/docs/concepts/iam.mdx
  website/content/docs/configuration/controller.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#5654 chore: update changelog to include bug fix
  CHANGELOG.md
Labels: backport/0.17.x, backport/0.18.x, backport/0.19.x

#5660 update golang.org deps
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

#5645 Add parsing logic for User-Agent headers
  CHANGELOG.md
  internal/daemon/controller/gateway.go
  internal/daemon/controller/gateway_test.go
  internal/daemon/controller/interceptor.go
  internal/daemon/controller/interceptor_test.go
  internal/event/event.go
  internal/event/event_observation.go
  internal/event/event_observation_test.go
  internal/gen/controller/api/services/authtokens_service.pb.go
  internal/gen/controller/servers/services/session_service.pb.go
  internal/proto/controller/api/resources/authtokens/v1/authtoken.proto
  internal/proto/controller/api/services/v1/authtokens_service.proto
  internal/proto/controller/servers/services/v1/session_service.proto
  sdk/pbs/controller/api/resources/authtokens/authtoken.pb.go
Labels: core/gen, core, core/proto, core/daemon

#5662 bump ui commit to cef0424
  internal/ui/VERSION
Labels: core/ui, core

#5664 chore(e2e): Update to use Ubuntu 22
  enos/modules/aws_vpc/main.tf
  enos/modules/aws_vpc_ipv6/main.tf
Labels: pr/no-milestone, backport/0.17.x, backport/0.18.x, backport/0.19.x

#5666 Backport of chore(e2e): Update to use Ubuntu 22 into release/0.18.x
  enos/modules/aws_vpc/main.tf
Labels: pr/no-milestone

#5665 Backport of chore(e2e): Update to use Ubuntu 22 into release/0.17.x
  enos/modules/aws_vpc/main.tf
Labels: pr/no-milestone

#5638 bosorawis sql split global grants scope table
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
  internal/db/sqltest/tests/iam/iam_role_global.sql
  internal/db/sqltest/tests/iam/iam_role_org.sql
Labels: core/iam, core/db, core, core/perms, core/types, core/sql

#5675 test(e2e): Added credential store to host catalog test
  testing/internal/e2e/tests/aws/dynamichostcatalog_host_set_test.go
Labels: pr/no-milestone

#5644 test: add grants tests for auth tokens resource
  internal/daemon/controller/handlers/authtokens/grants_test.go
Labels: core, core/daemon

#5629 bosorawis domain iam implement getRoleScopeType
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_test.go
Labels: core/iam, core/db, core, core/proto, core/perms, core/types, core/sql

#5677 test(bats): Added bats tests for generic commands
  internal/tests/cli/boundary/_generics.bash
  internal/tests/cli/boundary/generic.bats
Labels: core, pr/no-milestone

#2561 Correct Static Creds indentation
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts, backport/website

#5684 Backport Correct Static Creds indentation (#2561) - stable-website
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

#5685 Backport Correct Static Creds indentation (#2561) - 0.19.0
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts

#5687 Update Go and dependencies (0.19.x)
  .go-version
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api

#5688 bump ui commit to 40ec449
  internal/ui/VERSION
Labels: core/ui, core, backport/0.19.x

#5668 Database Init Flags Refactor
  internal/cmd/commands/database/flags.go
  internal/cmd/commands/database/flags_test.go
  internal/cmd/commands/database/init.go
Labels: core

#5672 chore(e2e): Add encryption to target ec2 instance
  enos/modules/aws_target/main.tf
Labels: pr/no-milestone, backport/0.17.x, backport/0.18.x, backport/0.19.x

#5691 Backport of chore(e2e): Add encryption to target ec2 instance into release/0.18.x
  enos/modules/aws_target/main.tf
Labels: pr/no-milestone

#5686 docs: Clarify credential store behavior
  website/content/docs/concepts/domain-model/credential-stores.mdx
Labels: website, docs/concepts, backport/website

#5697 update CHANGELOG with ui entries
  CHANGELOG.md
Labels: backport/0.19.x

#5692 Backport of chore(e2e): Add encryption to target ec2 instance into release/0.19.x
  enos/modules/aws_target/main.tf
Labels: pr/no-milestone

#5700 Dkanney CVE suppression for 0.19.2
  .release/security-scan.hcl
Labels: backport/0.19.x

#5643 domain: iam: upgrade repository code to use new tables
  internal/db/schema/migrations/oss/postgres/100/07_oplog_ticket.up.sql
  internal/iam/immutable_fields_test.go
  internal/iam/query.go
  internal/iam/repository_grant_scope.go
  internal/iam/repository_principal_role.go
  internal/iam/repository_principal_role_test.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_test.go
  internal/iam/repository_role_test.go
  internal/iam/repository_scope.go
  internal/iam/role.go
  internal/iam/role_test.go
  internal/iam/testing.go
Labels: core/iam, core/db, core, core/proto, core/perms, core/types, core/sql

#5679 Domain: iam: Repository: update list-grant-scope and test setup to use new model
  Makefile
  internal/daemon/controller/handlers/roles/role_service_test.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/iam/query.go
  internal/iam/repository_role.go
  internal/iam/repository_role_grant.go
  internal/iam/repository_role_grant_scope.go
  internal/iam/repository_role_grant_scope_test.go
  internal/iam/repository_scope.go
  internal/iam/role_grant_scope.go
  internal/iam/role_grant_scope_test.go
  internal/iam/role_test.go
  internal/iam/store/role_global_individual_org_grant_scope.pb.go
  internal/iam/store/role_global_individual_project_grant_scope.pb.go
  internal/iam/store/role_org_individual_grant_scope.pb.go
  internal/iam/testing.go
  internal/proto/controller/storage/iam/store/v1/role_global_individual_org_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_global_individual_project_grant_scope.proto
  internal/proto/controller/storage/iam/store/v1/role_org_individual_grant_scope.proto
Labels: core/iam, core/db, core, core/proto, core/sql, core/daemon
