Repository hashicorp/boundary, pull requests merged in 2025-10, with the labels that each got.

#6096 Backport of chore(e2e): Update framework to remove boundary_docker_image_name into release/0.20.x
  .github/workflows/build.yml
  .github/workflows/enos-run.yml
  enos/enos-scenario-e2e-docker-base-plus.hcl
  enos/enos-scenario-e2e-docker-base-with-gcp.hcl
  enos/enos-scenario-e2e-docker-base-with-vault.hcl
  enos/enos-scenario-e2e-docker-base-with-worker.hcl
  enos/enos-scenario-e2e-docker-base.hcl
  enos/enos-scenario-e2e-docker-worker-registration-controller-led.hcl
  enos/enos-scenario-e2e-docker-worker-registration-worker-led.hcl
  enos/enos-scenario-e2e-ui-docker.hcl
  enos/enos-variables.hcl
  enos/modules/build_boundary_docker_crt/main.tf
Labels: pr/no-milestone

#6110 Password credential type proto def
  globals/prefixes.go
  internal/credential/public_ids.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/proto/controller/api/resources/credentials/v1/credential.proto
  sdk/pbs/controller/api/resources/credentials/credential.pb.go
Labels: core, core/proto, core/daemon

#6101 feat(db): Add new tables for password credential type
  internal/db/schema/migrations/oss/postgres/99/01_credential_static_password_credential.up.sql
Labels: website, core/db, core, core/sql

#6111 fixes broken link
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: docs/configuration, backport/website

#6113 Docs: fixes controller policy example
  website/content/docs/domain-model/credential-stores.mdx
Labels: website, docs/concepts, backport/website

#6122 Backport of fixes broken link into release/0.20.x
  website/content/docs/credentials/static-cred-boundary.mdx
Labels: website
