Repository hashicorp/boundary, pull requests merged in 2025-09, with the labels that each got.

#6011 Upgrade Go to 1.25
  .go-version
  .golangci.yml
  Makefile
  api/go.mod
  enos/modules/test_e2e_docker/test.sh
  go.mod
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/minio/go.mod
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/transit/go.mod
  sdk/go.mod
Labels: api

#6000 revert node version for GHA
  .github/workflows/test-cli-ui_oss.yml
Labels: pr/no-milestone

#6015 [DOCS] Troubleshooting redirects
  website/content/security.mdx
  website/redirects.js
Labels: website, backport/website

#6016 [DOCS] Small content change
  website/content/docs/index.mdx
Labels: website, backport/website

#6021 docs: Back port #6016 to stable-website
  website/content/docs/index.mdx
Labels: website

#6030 chore: update swagger
  internal/gen/controller.swagger.json
Labels: core/gen, core

#6032 chore(e2e): Add workflow dispatch option to aws-nuke job
  .github/workflows/test-ci-cleanup-oss.yml
Labels: pr/no-milestone

#6038 target(addr): add validation for ipv4, ipv6, and dns addr
  internal/target/address.go
  internal/target/address_ext_test.go
Labels: core, core/target

#5989 updating the doc with anyconnect vpn conflicting software
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website, backport/website

#6041 docs: Backport #5898 to `release/0.19.x`
  website/content/docs/client-agent/conflicting-software.mdx
Labels: website

#6045 docs: Back port #6044 to `stable-website`
  website/content/docs/monitor/index.mdx
Labels: website

#6053 Bump internal/ui/VERSION commit
  internal/ui/VERSION
Labels: core/ui, core

#6055 fix(target): Skip fetching proxy server cert
  internal/target/repository.go
  internal/target/repository_proxy_server_certificate_test.go
Labels: core, core/target

#6049 docs: Update Huntress interoperability
  website/content/docs/interoperability-matrix/index.mdx
Labels: website, backport/website

#6067 chore: revert backport action
  .github/workflows/backport.yml
Labels: backport/0.20.x

#6064 Bump internal/ui/VERSION commit
  internal/ui/VERSION
Labels: backport/0.20.x

#6062 chore(e2e): Ensure permissions on key file are correct for windows boxes
  enos/modules/aws_rdp_member_server/main.tf
  enos/modules/aws_rdp_member_server_with_worker/main.tf
  enos/modules/aws_windows_client/main.tf
Labels: pr/no-milestone

#6056 update the disable client agent command for macos
  website/content/docs/client-agent/manage.mdx
Labels: website, backport/website

#6076 Backport of update the disable client agent command for macos into release/0.20.x
  website/content/docs/client-agent/manage.mdx
Labels: website

#6081 fix(e2e): Use worker config from variable
  enos/modules/aws_rdp_member_server_with_worker/main.tf
Labels: pr/no-milestone

#6089 chore(e2e): Add rds:DescribeDBEngineVersions permission to service user
  enos/ci/service-user-iam/main.tf
Labels: pr/no-milestone

#6091 Backport of chore(e2e): Allow AWS to select default db version into release/0.20.x
  enos/modules/aws_boundary/rds.tf
  enos/modules/aws_boundary/variables.tf
Labels: pr/no-milestone
