Repository hashicorp/boundary, pull requests merged in 2025-03, with the labels that each got.

#5574 docs: Update release notes
  website/content/docs/concepts/host-discovery/azure.mdx
  website/content/docs/release-notes/v0_19_0.mdx
Labels: website, docs/concepts, backport/website

#5577 docs: Revise description of HCP Boundary
  website/content/docs/getting-started/index.mdx
Labels: docs/getting-started, website, backport/website

#5572 test(e2e): Address flake in search test
  testing/internal/e2e/tests/base/search_test.go
Labels: pr/no-milestone, backport/0.19.x

#5580 chore(e2e): Set up ec2 instance storage with encryption
  enos/modules/aws_boundary/boundary-instances.tf
  enos/modules/aws_worker/main.tf
Labels: pr/no-milestone, backport/0.17.x, backport/0.18.x, backport/0.19.x

#5594 fix(token): utilize a more accurate comparison method
  internal/authtoken/repository.go
Labels: core

#5596 fix(handlers): resolve nil reference pointer for authorize session
  internal/daemon/controller/handlers/targets/target_service.go
Labels: core, core/daemon

#5597 fix(db): return expected rows err for migration logs
  internal/db/schema/internal/postgres/postgres.go
Labels: core/db, core

#5590 Update Storage Bucket Plugin Service to Include NormalizeStorageBucketData
  internal/plugin/loopback/client.go
  internal/plugin/loopback/loopback.go
  internal/plugin/loopback/storage.go
  internal/proto/plugin/v1/storage_plugin_service.proto
  sdk/pbs/plugin/storage_plugin_service.pb.go
  sdk/pbs/plugin/storage_plugin_service_grpc.pb.go
Labels: core, core/proto

#5587 Normalize fields across various Boundary components
  go.mod
  go.sum
  internal/cmd/base/dev.go
  internal/cmd/base/listener.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/cmd/config/config.go
  internal/cmd/config/config_test.go
  internal/credential/vault/testing.go
  internal/daemon/controller/handlers/accounts/account_service.go
  internal/daemon/controller/handlers/accounts/account_service_test.go
  internal/daemon/controller/handlers/authmethods/oidc.go
  internal/daemon/controller/handlers/authmethods/oidc_test.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service.go
  internal/daemon/controller/handlers/credentialstores/credentialstore_service_test.go
  internal/daemon/controller/handlers/hosts/host_service.go
  internal/daemon/controller/handlers/hosts/host_service_test.go
  internal/host/plugin/job_set_sync_test.go
  internal/host/static/repository_host_test.go
  internal/tests/cluster/parallel/unix_listener_test.go
  internal/util/net.go
  internal/util/net_test.go
Labels: core, core/host, core/daemon

#5586 Normalize Addresses entered across workers, targets, sessions, and ldap
  internal/auth/ldap/auth_method.go
  internal/auth/ldap/auth_method_test.go
  internal/auth/ldap/testing.go
  internal/cmd/base/server_test.go
  internal/cmd/base/servers.go
  internal/daemon/controller/handlers/targets/target_service.go
  internal/daemon/controller/handlers/targets/tcp/target_service_test.go
  internal/daemon/worker/handler.go
  internal/target/tcp/repository_tcp_target_test.go
  internal/tests/api/targets/target_test.go
Labels: core/auth, core, core/target, core/daemon

#5595 Update golang.org deps and Go version
  .go-version
  Makefile
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  internal/auth/oidc/certificate.go
  internal/daemon/cluster/handlers/worker_service.go
  internal/daemon/controller/handlers/errors.go
  internal/db/schema/manager_example_test.go
  internal/plugin/loopback/storage.go
  plugins/boundary/mains/aws/go.mod
  plugins/boundary/mains/aws/go.sum
  plugins/boundary/mains/azure/go.mod
  plugins/boundary/mains/azure/go.sum
  plugins/boundary/mains/gcp/go.mod
  plugins/boundary/mains/gcp/go.sum
  plugins/boundary/mains/minio/go.mod
  plugins/boundary/mains/minio/go.sum
  plugins/kms/mains/alicloudkms/go.mod
  plugins/kms/mains/alicloudkms/go.sum
  plugins/kms/mains/awskms/go.mod
  plugins/kms/mains/awskms/go.sum
  plugins/kms/mains/azurekeyvault/go.mod
  plugins/kms/mains/azurekeyvault/go.sum
  plugins/kms/mains/gcpckms/go.mod
  plugins/kms/mains/gcpckms/go.sum
  plugins/kms/mains/ocikms/go.mod
  plugins/kms/mains/ocikms/go.sum
  plugins/kms/mains/transit/go.mod
  plugins/kms/mains/transit/go.sum
  sdk/go.mod
  sdk/go.sum
Labels: api, core/db, core/auth, core, core/daemon

#5602 Controller Liveliness Query Split
  internal/daemon/controller/tickers.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/daemon, core/server

#5609 Migrate Controller Repo Usage From Store To Server
  internal/daemon/cluster/handlers/worker_service_status_test.go
  internal/daemon/cluster/handlers/worker_service_test.go
  internal/daemon/controller/tickers.go
  internal/scheduler/job/testing.go
  internal/scheduler/testing.go
  internal/server/controller.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
  internal/session/service_statistics_test.go
  internal/session/service_worker_status_report_test.go
Labels: core/session, core, core/daemon, core/server

#5613 fix(daemon): set correct permissions on cache.db file
  internal/clientcache/internal/daemon/server.go
Labels: core

#5496 docs: add macOS Internet Sharing and Parallels Desktop conflicts for Boundary Client Agent
  website/content/docs/api-clients/client-agent.mdx
Labels: website, backport/website

#5287 Update index.mdx - public_addr note for HCP workers
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration, backport/website

#5603 Updates Loopback to Normalize endpoint_url
  go.mod
  go.sum
  internal/host/plugin/repository_host_catalog.go
  internal/plugin/loopback/storage.go
Labels: core/auth, core, core/host, core/target, core/daemon

#5616 Update index.mdx - public_addr note for HCP workers (#5287)
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

#5617 Update index.mdx - public_addr note for HCP workers (#5287)
  website/content/docs/configuration/worker/index.mdx
Labels: website, docs/configuration

#5619 Reverts Commit `6c0b3a8` Due to Breaking `boundary dev`
  internal/daemon/controller/tickers.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/daemon, core/server

#5622 chore: remove code for 0.12 backwards compatibility in protocol support
  internal/daemon/worker/handler.go
Labels: core, core/daemon

#5601 docs/update two pages
  website/content/docs/hcp/get-started/connect-to-target.mdx
  website/content/docs/install-boundary/configure-controllers.mdx
Labels: website, backport/website

#5623 Grants: SQL: add missing unique index
  internal/db/schema/migrations/oss/postgres/100/01_iam_role_global.up.sql
  internal/db/schema/migrations/oss/postgres/100/02_iam_role_org.up.sql
  internal/db/schema/migrations/oss/postgres/100/03_iam_role_project.up.sql
Labels: core/db, core, core/sql

#5628 ICU-16457 Split Liveness Query In Two
  internal/daemon/controller/tickers.go
  internal/server/query.go
  internal/server/repository_controller.go
  internal/server/repository_controller_test.go
Labels: core, core/sql, core/daemon, core/server

#5403 test(groups): add grants tests for groups API
  internal/auth/db_test.go
  internal/auth/ldap/testing.go
  internal/auth/oidc/testing.go
  internal/auth/password/testing.go
  internal/auth/testing.go
  internal/authtoken/testing.go
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/daemon/controller/handlers/aliases/grants_test.go
  internal/daemon/controller/handlers/authmethods/grants_test.go
  internal/daemon/controller/handlers/authtokens/grants_test.go
  internal/daemon/controller/handlers/credentiallibraries/grants_test.go
  internal/daemon/controller/handlers/credentials/grants_test.go
  internal/daemon/controller/handlers/credentialstores/grants_test.go
  internal/daemon/controller/handlers/groups/grants_test.go
  internal/daemon/controller/handlers/host_catalogs/grants_test.go
  internal/daemon/controller/handlers/host_sets/grants_test.go
  internal/daemon/controller/handlers/hosts/grants_test.go
  internal/daemon/controller/handlers/managed_groups/grants_test.go
  internal/daemon/controller/handlers/roles/grants_test.go
  internal/daemon/controller/handlers/scopes/grants_test.go
  internal/daemon/controller/handlers/targets/tcp/grants_test.go
  internal/daemon/controller/handlers/testing.go
  internal/daemon/controller/handlers/users/grants_test.go
  internal/daemon/controller/handlers/workers/grants_test.go
  internal/iam/testing.go
Labels: core/iam, core/auth, core, api/groups, core/daemon

#5559 feat: add grants tests for billing resource
  internal/daemon/controller/handlers/billing/grants_test.go
Labels: core, core/daemon

#5566 Add grants tests for accounts
  internal/daemon/controller/handlers/accounts/grants_test.go
  internal/perms/grants.go
Labels: core/iam, core/auth, core, core/perms, core/daemon

#5630 Run make gen delta
  internal/gen/controller.swagger.json
Labels: core/gen, core

#5105 docs: Clarify that max duration is required
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration, backport/website

#5634 docs: Clarify that max duration is required (#5105)
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

#5635 docs: Clarify that max duration is required (#5105)
  website/content/docs/commands/targets/create.mdx
  website/content/docs/commands/targets/update.mdx
  website/content/docs/concepts/domain-model/targets.mdx
  website/content/docs/configuration/target-aliases/create-target-alias.mdx
Labels: website, docs/concepts, docs/configuration

#5550 feat: add grants tests for alias
  internal/daemon/controller/handlers/aliases/grants_test.go
Labels: core, core/daemon
